<div class="container">
    <table class="table">
        <thead class="theader">
        <tr>
            <td class="titulos" scope="col" colspan="5">DSS01 Guías relacionadas</td>
        </tr>
    </thead>
    <thead class="theader">
    <tr>
        <td class="titulos" scope="col">Estándar Relacionado</td>
        <td class="titulos" scope="col">Referencia Detallada</td>
    </tr>
</thead>
<tr>
    <td>ITIL V3 2011</td>
    <ol>
        <li value="19">Gestión de Eventos</li>
        <li value="24">Gestión de Operaciones</li>
    </ol>
</tr>
</table>
</div>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">HOME</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso1tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/listraci01">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso1tabla2">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso1tabla3">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso1tabla4">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso1tabla5">6</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso1tabla6">7</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso1tabla7">8</a></li>
      <li class="page-item"><a class="page-link" href="/dsso2tabla1">DSS02</a></li>
      
    </ul>
  </nav><br>



