<div class="container">
    <table class="table">
        <thead class="theader">
        <tr>
            <td class="titulos" scope="col" colspan="5">DSS04 Prácticas, Entradas/Salidas y Actividades del Proceso (cont.)</td>
        </tr>
    </thead>
<tr>
    <td style="text-align:center" class="fondo2">Práctica de Gestión</td>
    <td  style="text-align:center" class="fondo2" colspan="2">Entradas</td>
    <td style="text-align:center" class="fondo2" colspan="3">Salidas</td>
</tr>
<th scope="row" rowspan="4">DSS04.06 Proporcionar formación en el plan de
    continuidad. 
    <p class="texto">Proporcionar a todas las partes implicadas, internas
        y externas, de sesiones formativas regulares que contemplen los
        procedimientos y sus roles y responsabilidades en caso de disrupción. 
    </p>
</th>
<tr>
    <td style="text-align: center;">De</td>
        <td style="text-align: center;">Descripción</td>
        <td style="text-align: center;">Descripción</td>
        <td style="text-align: center;">A</td>
</tr>
<tr>
    <td rowspan="2">RR.HH.</td>
    <td rowspan="2">Lista del personal que requiere información/td>
    <td>Requerimientos de formación</td>
    <td><a href="">APO07.03</a></td>
</tr>
<tr>
    <td>Resultados de la supervición de habilidades y competencias</td>
    <td><a href="">APO07.03</a></td>
</tr>
<tr>
    <td colspan="5" style="text-align:center" class="fondo">Actividades</td>
</tr>
<tr>
    <td colspan="5">1. Definir y mantener los planes y requerimientos de 
        formación para quienes realicen de manera continuada planificación 
        de la continuidad, análisis de impacto, evaluaciones de riesgos, 
        comunicación con los medios y respuesta a incidentes. 
        Asegurar que los planes de formación consideren la frecuencia 
        de formación y los mecanismos de entrega de la formación.</td>
</tr>
<tr>
    <td colspan="5">2. Desarrollar competencias basadas en formación 
        práctica que incluyan la participación en ejercicios y pruebas.</td>
</tr>
<tr>
    <td colspan="5">3. Supervisar habilidades y competencias basándose 
        en los resultados de los ejercicios y las pruebas.</td>
</tr>
</table>  
</div>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">HOME</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/listraci04">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla2">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla3">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla4">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla5">6</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla6">7</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla7">8</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla8">9</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla9">10</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla10">11</a></li>
      <li class="page-item"><a class="page-link" href="/dsso4tabla8">Next</a></li>
      
    </ul>
  </nav><br>