<div id="DSS0301" class="container">
    <table class="table">
        <thead class="theader">
        <tr>
            <td class="titulos" scope="col" colspan="5">DSS03 Prácticas, Entradas/Salidas y Actividades del Proceso</td>
        </tr>
    </thead>
    <thead style="text-align:center" class="fond2">
<tr>
    <td>Práctica de Gestión</td>
    <td colspan="2">Entradas</td>
    <td colspan="3">Salidas</td>
</tr>
</thead>
<tr>
    <th scope="row" rowspan="4">DSS03.02 Investigar y diagnosticar problemas.
        <p class="texto">investigar y diagnosticar problemas utilizando expertos
            en las materias relevantes para valorar y analizar las causas raíz.
        </p>
    </th>
</tr>
<tr>
    <td style="text-align: center;">De</td>
        <td style="text-align: center;">Descripción</td>
        <td style="text-align: center;">Descripción</td>
        <td style="text-align: center;">A</td>
</tr>
<tr>
    <td rowspan="2"><a href="apo12tabla5">APO12.06</a></td>
    <td rowspan="2">Causas raíz relacionadas con riesgos</td>
    <td>Causas raíz de los problemas</td>
    <td>Interno</td>
</tr>
<tr>
    <td>Informes de resolución de problemas</td>
    <td><a href="dsso2tabla8">DSS02.07</a></td>
</tr>
<tr>
    <td colspan="5" style="text-align:center" class="fondo">Actividades</td>
</tr>
<tr>
    <td colspan="5">1. Identificar problemas que pueden ser errores 
        conocidos comparando datos de incidentes con la base de datos 
        de errores conocidos y posibles (p.ej., los comunicados por los 
        proveedores externo) y clasificar problemas como errores conocidos.</td>
</tr>
<tr>
    <td colspan="5">2. Asociar los elementos de configuración afectados con 
        error conocido/establecido.</td>
</tr>
<tr>
    <td colspan="5">3. Producir informes para comunicar el progreso de la 
        resolución de problemas y para supervisar el impacto continuado 
        de los problemas no resueltos. Supervisar el estado del proceso de 
        gestión de problemas a través de su ciclo de vida, incluyendo 
        aportaciones de la gestión de cambios y de configuración.</td>
</tr>
</table>  
</div>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">HOME</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso3tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/listraci03">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso3tabla2">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso3tabla3">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso3tabla4">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso3tabla5">6</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso3tabla6">7</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso3tabla7">8</a></li>
      <li class="page-item"><a class="page-link" href="/dsso3tabla4">Next</a></li>
      
    </ul>
  </nav><br>

