<div class="table-responsive">
    <table *ngIf="apo09titulolistar.length > 0" >
        <thead   >
          <tr id="apo09">
            <th colspan="29" class="matriz">Matriz RACI APO09</th>
          </tr>
        </thead>
  
        <!-- -----------------------cabecera------------------------ -->
  
        <tbody >
         
          <tr *ngFor="let apo09titulovar of apo09titulolistar">
            <th ><p class="gob">Practicas de Gobierno</p></th>
            <td class="verticalText">{{ apo09titulovar.apo09titulo1}}</td>
            <td class="verticalText">{{ apo09titulovar.apo09titulo2}}</td>
            <td class="verticalText">{{ apo09titulovar.apo09titulo3}}</td>
            <td class="verticalText">{{ apo09titulovar.apo09titulo4}}</td>
            <td class="verticalText">{{ apo09titulovar.apo09titulo5}}</td>
            <td class="verticalText">{{ apo09titulovar.apo09titulo6}}</td>
            <td class="verticalText">{{ apo09titulovar.apo09titulo7}}</td>
            <td class="verticalText">{{ apo09titulovar.apo09titulo8}}</td>
            <td class="verticalText">{{ apo09titulovar.apo09titulo9}}</td>
            <td class="verticalText">{{ apo09titulovar.apo09titulo10}}</td>
            <td class="verticalText">{{ apo09titulovar.apo09titulo11}}</td>
            <td class="verticalText">{{ apo09titulovar.apo09titulo12}}</td>
            <td class="verticalText">{{ apo09titulovar.apo09titulo13}}</td>
            <td class="verticalText">{{ apo09titulovar.apo09titulo14}}</td>
            <td class="verticalText">{{ apo09titulovar.apo09titulo15}}</td>
            <td class="verticalText">{{ apo09titulovar.apo09titulo16}}</td>
            <td class="verticalText">{{ apo09titulovar.apo09titulo17}}</td>
            <td class="verticalText">{{ apo09titulovar.apo09titulo18}}</td>
            <td class="verticalText">{{ apo09titulovar.apo09titulo19}}</td>
            <td class="verticalText">{{ apo09titulovar.apo09titulo20}}</td>
            <td class="verticalText">{{ apo09titulovar.apo09titulo21}}</td>
            <td class="verticalText">{{ apo09titulovar.apo09titulo22}}</td>
            <td class="verticalText">{{ apo09titulovar.apo09titulo23}}</td>
            <td class="verticalText">{{ apo09titulovar.apo09titulo24}}</td>
            <td class="verticalText">{{ apo09titulovar.apo09titulo25}}</td>
            <td class="verticalText">{{ apo09titulovar.apo09titulo26}}</td>
          
            <td>
              <i [routerLink]="['/editar-apo09titulo', apo09titulovar._id]"  class="fa-solid fa-pen-to-square  ed"></i><br>
                <i (click)="eliminarApo09titulo(apo09titulovar._id)" class="fa-solid fa-trash  el"></i><br>
            </td>
          </tr>
        </tbody>
  
  
        <tbody>
          <tr *ngFor="let apo09casillasvar of apo09casillalistar">
           
          
            <td class="segundo">{{ apo09casillasvar.apo09casilla1}}</td>
              <td class="segundo">{{ apo09casillasvar.apo09casilla2}}</td>
              <td class="segundo">{{ apo09casillasvar.apo09casilla3}}</td>
              <td class="segundo">{{ apo09casillasvar.apo09casilla4}}</td>
              <td class="segundo">{{ apo09casillasvar.apo09casilla5}}</td>
              <td class="segundo">{{ apo09casillasvar.apo09casilla6}}</td>
              <td class="segundo">{{ apo09casillasvar.apo09casilla7}}</td>
              <td class="segundo">{{ apo09casillasvar.apo09casilla8}}</td>
              <td class="segundo">{{ apo09casillasvar.apo09casilla9}}</td>
              <td class="segundo">{{ apo09casillasvar.apo09casilla10}}</td>
              <td class="segundo">{{ apo09casillasvar.apo09casilla11}}</td>
              <td class="segundo">{{ apo09casillasvar.apo09casilla12}}</td>
              <td class="segundo">{{ apo09casillasvar.apo09casilla13}}</td>
              <td class="segundo">{{ apo09casillasvar.apo09casilla14}}</td>
              <td class="segundo">{{ apo09casillasvar.apo09casilla15}}</td>
              <td class="segundo">{{ apo09casillasvar.apo09casilla16}}</td>
              <td class="segundo">{{ apo09casillasvar.apo09casilla17}}</td>
              <td class="segundo">{{ apo09casillasvar.apo09casilla18}}</td>
              <td class="segundo">{{ apo09casillasvar.apo09casilla19}}</td>
              <td class="segundo">{{ apo09casillasvar.apo09casilla20}}</td>
              <td class="segundo">{{ apo09casillasvar.apo09casilla21}}</td>
              <td class="segundo">{{ apo09casillasvar.apo09casilla22}}</td>
              <td class="segundo">{{ apo09casillasvar.apo09casilla23}}</td>
              <td class="segundo">{{ apo09casillasvar.apo09casilla24}}</td>
              <td class="segundo">{{ apo09casillasvar.apo09casilla25}}</td>
              <td class="segundo">{{ apo09casillasvar.apo09casilla26}}</td>
              <td class="segundo">{{ apo09casillasvar.apo09casilla27}}</td>
              <td>
                <i [routerLink]="['/editar-apo09casilla',apo09casillasvar._id]"  class="fa-solid fa-pen-to-square  ed"></i><br>
                <i (click)="eliminarApo09casilla(apo09casillasvar._id)" class="fa-solid fa-trash  el"></i><br>
            </td>
          </tr>
        </tbody>
   
      </table>
      <h5 *ngIf="apo09casillalistar.length == 0" >No hay Matriz para mostrar</h5>
  </div>
  <br>
  <br>
  <div class="d-grid gap-2 col-3 mx-auto">
    <button routerLink="/crear-apo09titulo" class="btn btn-primary">Nueva cabecera</button>
    <button routerLink="/crear-apo09casilla"class="btn btn-primary" type="button">Nueva Raci</button>
    
  </div><br>
  
  <br>
  <br>
  <nav aria-label="Page navigation example " class="container" style="width: 89%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">APOO9</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo9tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/Apo09raci">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo9tabla2">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo9tabla3">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo9tabla4">5</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
      
    </ul>
  </nav>





