<div>
     <span class="d-grid gap-2 col-4  mx-auto ">{{title}}</span>
     <form class="container bg-light bc row row-cols-1 row-cols-lg-4 g-1 g-lg-2 " style="height: 10px;" style="width: 60%;" style="margin: 35px   190px;" [formGroup]="head4Form" (ngSubmit)="agregarHead4()">
         <div class="form-group">
             <input type="text" formControlName="la" class="form-control" placeholder="la">
             <div class="validacion"
                *ngIf="head4Form.get('la')?.hasError('required') && head4Form.get('la')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>  
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="lb" class="form-control" placeholder="lb">
             <div class="validacion"
                 *ngIf="head4Form.get('lb')?.hasError('required') && head4Form.get('lb')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>  
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="lc" class="form-control" placeholder="lc">
             <div class="validacion"
                 *ngIf="head4Form.get('lc')?.hasError('required') && head4Form.get('lc')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>  
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="ld" class="form-control" placeholder="ld">
             <div class="validacion"
                  *ngIf="head4Form.get('ld')?.hasError('required') && head4Form.get('ld')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="le" class="form-control" placeholder="le">
             <div class="validacion"
                  *ngIf="head4Form.get('le')?.hasError('required') && head4Form.get('le')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="lf" class="form-control" placeholder="lf">
             <div class="validacion"
                  *ngIf="head4Form.get('lf')?.hasError('required') && head4Form.get('lf')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="lg" class="form-control" placeholder="lg">
             <div class="validacion"
                  *ngIf="head4Form.get('lg')?.hasError('required') && head4Form.get('lg')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="lh" class="form-control" placeholder="lh">
             <div class="validacion"
                  *ngIf="head4Form.get('lh')?.hasError('required') && head4Form.get('lh')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="li" class="form-control" placeholder="li">
             <div class="validacion"
                  *ngIf="head4Form.get('li')?.hasError('required') && head4Form.get('li')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="lj" class="form-control" placeholder="lj">
             <div class="validacion"
                  *ngIf="head4Form.get('lj')?.hasError('required') && head4Form.get('lj')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="lk" class="form-control" placeholder="lk">
             <div class="validacion"
                  *ngIf="head4Form.get('lk')?.hasError('required') && head4Form.get('lk')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="ll" class="form-control" placeholder="ll">
             <div class="validacion"
                  *ngIf="head4Form.get('ll')?.hasError('required') && head4Form.get('ll')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="lm" class="form-control" placeholder="lm">
             <div class="validacion"
                  *ngIf="head4Form.get('lm')?.hasError('required') && head4Form.get('lm')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="ln" class="form-control" placeholder="ln">
             <div class="validacion"
                  *ngIf="head4Form.get('ln')?.hasError('required') && head4Form.get('ln')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="lnn" class="form-control" placeholder="lnn">
             <div class="validacion"
                  *ngIf="head4Form.get('lnn')?.hasError('required') && head4Form.get('lnn')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="lo" class="form-control" placeholder="lo">
             <div class="validacion"
                  *ngIf="head4Form.get('lo')?.hasError('required') && head4Form.get('lo')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="lp" class="form-control" placeholder="lp">
             <div class="validacion"
                  *ngIf="head4Form.get('lp')?.hasError('required') && head4Form.get('lp')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="lq" class="form-control" placeholder="lq">
             <div class="validacion"
                  *ngIf="head4Form.get('lq')?.hasError('required') && head4Form.get('lq')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="lr" class="form-control" placeholder="lr">
             <div class="validacion"
                  *ngIf="head4Form.get('lr')?.hasError('required') && head4Form.get('lr')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="ls" class="form-control" placeholder="ls">
             <div class="validacion"
                  *ngIf="head4Form.get('ls')?.hasError('required') && head4Form.get('ls')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="lt" class="form-control" placeholder="lt">
             <div class="validacion"
                  *ngIf="head4Form.get('lx')?.hasError('required') && head4Form.get('lt')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="lu" class="form-control" placeholder="lu">
             <div class="validacion"
                  *ngIf="head4Form.get('lu')?.hasError('required') && head4Form.get('lu')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="lv" class="form-control" placeholder="lv">
             <div class="validacion"
                  *ngIf="head4Form.get('lv')?.hasError('required') && head4Form.get('lv')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="lw" class="form-control" placeholder="lw">
             <div class="validacion"
                  *ngIf="head4Form.get('lw')?.hasError('required') && head4Form.get('lw')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="lx" class="form-control" placeholder="lx">
             <div class="validacion"
                  *ngIf="head4Form.get('lx')?.hasError('required') && head4Form.get('lx')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="ly" class="form-control" placeholder="ly">
             <div class="validacion"
                  *ngIf="head4Form.get('xl')?.hasError('required') && head4Form.get('ly')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>  
           <button routerLink="/" class="btn btn-danger">Volver</button>  &nbsp;
           <button type="submit" class="btn btn-success" [disabled]="head4Form.invalid">Aceptar</button>
       </div>
     </form>
 </div>
 
 