<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>app02 1</title>

</head>


<body>
    <h1 style="color: rgb(255, 255, 255);"> </h1>
    <table class="container" style="width: 85%;">
        <tr>
            <th style="width: 50%;" class="azultabla1"><a class="nav-link" routerLink="/pagina57">AP002</a>  Gestionar la Estrategia</th>
            <th style="width: 50%;" class="azultabla1">Area: Gestión <br>
                Dominio:Alinear,Planificar y Organizar</th>
        </tr>
        <tr>
            <td colspan="2"> <p>Descripción  del Proceso</p> 
                proporcionar una vision holistica del negocio actual
            y del entornode TI, la direccion futura , y las iniciativas necesarias para migrar al entorno
            deseado. <br> 
            Aprovechar los bloques y componentes de la estructura empresarial , incluye los servicios
            externalizados y las capacidades relacionadas que permitan una respuesta agil , confiabfa-pull-left
            y eficiente  alos objetivos estrategicos
        </td>
        </tr>
        <tr>
            <td colspan="2">Declaración del Propósito del Proceso <br>
                Proporcionar un enfoque de gestión consistente que permita cumplir los requisitos de gobierno corporativo e incluya procesos de gestión, estructuras, roles y responsabilidades organizativos, actividades fiables, reproducibles, habilidades y competencias.</td>
        </tr>
        <tr >
            <th colspan="2" >El proceso apoya la consecución de un conjunto de principales metas TI:</th>
        </tr>
        <tr>
            <th style="width: 50%;" class="celeste2tabla1">Meta TI</th>
            <th style="width: 50%;" class="celeste2tabla1">Métricas Relacionadas</th>
        </tr>
        <tr>
            <td colspan="1">01 Alineamiento de TI y la estrategia de negocios</td>
            <td colspan="1">•Porcentaje de las metas y requerimientos estratégicos de la empresa <br>
                soportados por las metas estrategicas para TI<br>
                •Nivel de satisfacción de las partes interesadas con el alcance del <br>
                portafolio de programas y servicios planeados<br>
                •Porcentaje de los facilitadores de valor TI mapeadoos con facilitadores<br>
                del negocio
            </td>
        </tr>
        <tr>
            <td colspan="1">02 Cumplimiento y soporte de TI al cumplimiento del negocio de las leyes y regulaciones externas</td>
            <td colspan="1">•Número de problemas de no conformidad relativos a TI de los que se ha informado al consejo de administración o que han causado comentarios o bochorno públicos.<br>
                •Número de problemas de no conformidad con respecto a acuerdos contractuales con proveedores de servicios de TI.<br>
                •Cobertura de las evaluaciones de conformidad.<br>
            </td>
        </tr>
        <tr>
            <td colspan="1">09 Agilidad de las TI<br>
            <td colspan="1">•Nivel de satisfacción de los ejecutivos de la empresa con la capacidad de respuesta de TI a nuevos requerimientos.<br>
                •Número de procesos de negocio críticos soportados por infraestructuras y aplicaciones actualizadas.<br>
                •Tiempo medio para convertir los objetivos estratégicos de TI en una iniciativa acordada y aprobada.<br>
            </td>
        </tr>
        <tr>
            <td colspan="1">11 Optimización de activos, recursos y capacidades de las TI<br>
            </td>
            <td colspan="1">•Frecuencia de evaluaciones de la madurez de la capacidad y de la optimización de costes.<br>
                •Tendencia de los resultados de las evaluaciones.<br>
                •Niveles de satisfacción de los ejecutivos de negocio y TI con los costes y capacidades TI.<br>
            </td>
        </tr>
        <tr>
            <td colspan="1">15 Cumplimiento de las políticas internas por parte de las TI<br>
            </td>
            <td colspan="1">•Número de incidentes relacionados con el incumplimiento de la política.<br>
                •Porcentaje de partes interesadas que comprenden las políticas.<br>
                •Porcentaje de políticas soportadas por estándares y prácticas de trabajo efectivas.<br>
                •Frecuencia de revisión y actualización de las políticas.<br>
            </td>
        </tr>
        <tr>
            <td colspan="1">16 Personal del negocio de las TI competente y motivado<br>
            </td>
            <td colspan="1">•Porcentaje del personal cuyas habilidades TI son suficientes para las competencias requeridas para su función.<br>
                •Porcentaje del personal satisfecho con su función TI.<br>
                •Número de horas de aprendizaje/practicas por trabajar.<br>
            </td>
        </tr>
        <tr>
            <td colspan="1">17 Conocimiento, experiencia e iniciativas para la innovación de negocio<br>
            </td>
            <td colspan="1">•Nivel de concienciación y comprensión de las posibilidades de innovación de TI del negocio ejecutivo.<br>
                •Nivel de satisfacción de las partes interesadas con los niveles de experiencia e ideas de la innovación TI.<br>
                •Número de iniciativas aprobadas resultantes de ideas innovadoras de TI.<br>
            </td>
        </tr>
        <tr>
            <th colspan="2">Objetivos y Métricas del Poceso</th>
        </tr>
        <tr>
            <th style="width: 50%;">Meta del Proceso</th>
            <th style="width: 50%;">Métricas Relacionadas</th>
        </tr>
        <tr>
            <td colspan="1">1.Se ha definido y se mantiene un conjunto eficaz de políticas.<br>
            </td>
            <td colspan="1">•Porcentaje de políticas, estándares y otros elementos catalizadores activos documentados y actualizados.<br>
                •Fecha de las ultimas actualizaciones del marco de trabajo y de los elementos catalizadores.<br>
                •Número de exposiciones a riesgos debidas a la inadecuación del diseño del entorno de control.<br>
            </td>
        </tr>
        <tr>
            <td colspan="1">2.Todos tienen conocimiento de las políticas y de cómo deberían implementarse. <br>
            </td>
            <td colspan="1">•Número de empleados que asistieron a sesiones de formación o de sensibilización.<br>
                •Porcentaje de proveedores indirectos con contratos en los que se definen requisitos de control. <br>
            </td>
        </tr>
        <tr>
    </table><br>
</body>

</html><br>


<nav aria-label="Page navigation  example" class="container" style="width: 87%;">
    <ul class="pagination container">
      <li class="page-item"><a class="page-link" >APOO2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina57">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/listar-productos">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina59">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina60">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina61">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina62">6</a></li>
     
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>
