<span class="titulo" class="d-grid gap-2 col-2  mx-auto ">{{ titulo | uppercase}}</span>
<form [formGroup]="cabecerab05Form" (ngSubmit)="agregarCabecerab05()" class="container bg-light bc row row-cols-4 row-cols-lg-4 g-1 g-lg-2"
style="height: 10px;" style="width: 60%;" style="margin: 35px   190px;margin:0 auto;" >
    
    <div class="form-group">
        <input type="text" formControlName="m1"
        class="form-control" placeholder="BAI">  
        <div class="validacion"
            *ngIf="cabecerab05Form.get('m1')?.hasError('required') && cabecerab05Form.get('m1')?.touched">
            <span>La categoria<b> es obligatoria</b></span>
        </div>  
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="m2"
        class="form-control" placeholder="BAI">  
        <div class="validacion"
            *ngIf="cabecerab05Form.get('m2')?.hasError('required') && cabecerab05Form.get('m2')?.touched">
            <span>La categoria<b> es obligatoria</b></span>
        </div>  
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="m3"
        class="form-control" placeholder="R-A-C-I"> 
        <div class="validacion"
            *ngIf="cabecerab05Form.get('m3')?.hasError('required') && cabecerab05Form.get('m3')?.touched">
            <span>La ubicación<b> es obligatoria</b></span>
        </div>   
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="m4"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab05Form.get('m4')?.hasError('required') && cabecerab05Form.get('m4')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="m5"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab05Form.get('m5')?.hasError('required') && cabecerab05Form.get('m5')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="m6"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab05Form.get('m6')?.hasError('required') && cabecerab05Form.get('m6')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="m7"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab05Form.get('m7')?.hasError('required') && cabecerab05Form.get('m7')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="m8"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab05Form.get('m8')?.hasError('required') && cabecerab05Form.get('m8')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="m9"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab05Form.get('m9')?.hasError('required') && cabecerab05Form.get('m9')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="m10"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab05Form.get('m10')?.hasError('required') && cabecerab05Form.get('m10')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="m11"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab05Form.get('m11')?.hasError('required') && cabecerab05Form.get('m11')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="m12"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab05Form.get('m12')?.hasError('required') && cabecerab05Form.get('m12')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="m13"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab05Form.get('m13')?.hasError('required') && cabecerab05Form.get('m13')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="m14"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab05Form.get('m14')?.hasError('required') && cabecerab05Form.get('m14')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="m15"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab05Form.get('m15')?.hasError('required') && cabecerab05Form.get('m15')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="m16"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab05Form.get('m16')?.hasError('required') && cabecerab05Form.get('m16')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="m17"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab05Form.get('m17')?.hasError('required') && cabecerab05Form.get('m17')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="m18"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab05Form.get('m18')?.hasError('required') && cabecerab05Form.get('m18')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="m19"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab05Form.get('m19')?.hasError('required') && cabecerab05Form.get('m19')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="m20"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab05Form.get('m20')?.hasError('required') && cabecerab05Form.get('m20')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="m21"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab05Form.get('m21')?.hasError('required') && cabecerab05Form.get('m21')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="m22"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab05Form.get('m22')?.hasError('required') && cabecerab05Form.get('m22')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="m23"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab05Form.get('m23')?.hasError('required') && cabecerab05Form.get('m23')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="m24"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab05Form.get('m24')?.hasError('required') && cabecerab05Form.get('m24')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="m25"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab05Form.get('m25')?.hasError('required') && cabecerab05Form.get('m25')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="m26"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab05Form.get('m26')?.hasError('required') && cabecerab05Form.get('m26')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <div><br><br>
        <button class="btn btn-secondary"  routerLink="/pagina146">Volver</button>
        <button class="btn btn-success" type="submit" [disabled]="cabecerab05Form.invalid" >Aceptar</button>
    </div>
</form>
