<div class="container">
    <table class="table">
        <thead class="theader">
        <tr>
            <td class="titulos" scope="col" colspan="5">DSS02 Prácticas, Entradas/Salidas y Actividades del Proceso (cont.)</td>
        </tr>
        </thead>
<thead class="fondo2">
    <tr>
        <td class="titulos" style="text-align: center;" scope="col">Prácticas de Gestión</td>
        <td class="titulos" style="text-align: center;" scope="col" colspan="2">Entradas</td>
        <td class="titulos" style="text-align: center;" scope="col" colspan="2">Salidas</td>
    </tr>
</thead>
    <tr>
        <th  scope="row" rowspan="3">DSS02.04 Investigar, diagnosticar y
            localizar incidentes.
            <p class="texto">Identificar y registrar síntomas de incidentes, determinar
                posibles causas y asignar recursos a su resolución.
            </p>
        </th>
        <td style="text-align: center;">De</td>
        <td style="text-align: center;">Descripción</td>
        <td style="text-align: center;">Descripción</td>
        <td style="text-align: center;">A</td>
    </tr>
    <tr>
        <td rowspan="2"><a href="pagina157">BAI07.07</a></td>
        <td rowspan="2">Plan de soporte adicional</td>
        <td>Síntomas de incidentes</td>
        <td>Interno</td>
    </tr>
    <tr>
        <td>Registro de problemas</td>
        <td> <a href="dsso3tabla2">DSS03.01</a> </td>
    </tr>
    <tr>
        <td colspan="5" class="fondo" style="text-align:center"><b>Actividades</b></td>
    </tr>
    <tr>
        <td colspan="5">1. Identificar y describir síntomas relevantes para
            establecer las causas más probables de los incidentes. Hacer referencia
            a los recursos de conocimiento disponibles (incluyendo errores y problemas
            conocidos) para identificar posibles resoluciones de incidentes (soluciones
            temporales y/o soluciones permanentes).
        </td>
    </tr>
    <tr>
        <td colspan="5">2. Registrar un nuevo problema si un problema relacionado o
            error conocido no existe aún y si el incidente satisface los criterios 
            acordados para registro de problemas.
        </td>
    </tr>
    <tr>
        <td colspan="5">3. Asignar incidentes a funciones especialistas si se 
            necesita de un conocimiento más profundo, e implicar al nivel de gestión
            apropiado, cuando sea necesario.</td>
    </tr>
</table>
</div>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">HOME</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso2tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/listraci02">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso2tabla2">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso2tabla3">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso2tabla4">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso2tabla5">6</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso2tabla6">7</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso2tabla7">8</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso2tabla8">9</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso2tabla9">10</a></li>
      <li class="page-item"><a class="page-link" href="/dsso2tabla6">Next</a></li>
      
    </ul>
  </nav><br>
