<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="container" style="width: 85%;  margin: 0 auto;">
        <thead>
            <tr>
                <th class="azultabla1" colspan="6">BAI07 Prácticas, Entradas/Salidas y Actividades del Proceso (cont.)</th>
            </tr>
        </thead>
        <tr>
            <td colspan="6">7. Asegurar que el plan de pruebas estable criterios claro mediante el exito en la realización de cada fase de prueba. Consultar a los propietarios 
                de proceso de negocio y grupos de interés de TI sobre la definición de estos criterios de éxito. Determinar si el plan establece procedimientos de remediación en caso de que estos criterios 
                de exito no se cumplan (ej. en caso de un fallo significativo en la fase de prueba, el plan provee una guìa sobre si proceder con la siguiente fase, para las pruebas o posponer la implantación). 
            </td>
        </tr>
        <tr>
            <td colspan="6">8. Confirmar que todos los planes de prueba son aprobadas por las partes interesadas, incluyendo los propietarios de procesos de negocio y TI, según sea adecuado. Algunos eje,plos de personas
                interesadas son los gestores de desarrollo de aplicaciones, jefe de proyecto y usuarios finales de los procesos de negocio. 
            </td>
        </tr>
        <tr>
        </tr>
        <tbody>
            <tr>
                <th class="celeste2tabla1" colspan="2">Prácticas de Gestión</th>
                <th class="celeste2tabla1" colspan="2">Entradas</th>
                <th class="celeste2tabla1" colspan="2">Salidas</th>
            </tr>
            <tr>
                <td rowspan="3" colspan="2"><b>BAI07.04 Establecer un entorno de pruebas.</b> <br>
                    Definir y establecer un entornoseguro de pruebas que sea <br>
                    representativo del proceso de negocio y entorno de operaciones <br>
                    de TI planeados, en cuanto a rendimeinto y capacidad, seguridad, <br>
                    controles internos, practicas de operación, calidad de los datos y <br>
                    requisitos de provacidad y carga de trabajo.
                <th colspan="1">De</th>
                <th colspan="1">Descripción</th>
                <th colspan="1" rowspan="1">Descripción</th>
                <th colspan="1" rowspan="1">A</th>
            </tr>
            <tr>
                <td rowspan="2"></td>
                <td rowspan="2"></td>
                <td colspan="1" class="texto">Datos de <br> prueba </td>
                <td colspan="1" class="texto">Interno<br></td>
            </tr>
            <tr>
            <tr>
                <td class="celeste2tabla1" colspan="6" align="center"><b>Actividades</b> 
                </td>
            </tr>
            <tr>
                <td colspan="6">1. Crear una base de datos de pruebas que sea representativa del entorno de producción. Sanear los datos reales usados en el entorno de pruebas de acuerdo a las necesidades de negocio
                    y estándares de la organización (ej. considere si los requisitos de cumplimiento normativo o legal obligan al uso de datos saneados).
                </td>
            </tr>
            <tr>
                <td colspan="6">2.Proteger los datos de prueba y resultados que sean sensibles frente al revelado de información, incluyendo al acceso, la conservación, el 
                    almacenamiento y la destrucción, Considere el efecto de la interacción de los sistemas de la organización con los sistemas de terceras partes.

                </td>
            </tr>
            <tr>
                <td colspan="6">3.Poner en marcha un proceso para posibilitar la adecuada conservación o eliminación de los resultados de las pruebas, medios de almacenamiento y otra documentación
                    asociada, de forma que sea posible realizar revisiones adecuadas y analisis posteriores según lo requiera el plan de pruebas. Considere las implicaciones derivadas de requisitos de cumplimiento normativo o legal 
                </td>
            </tr>
            <tr>
                <td colspan="6">4.Asegurar que el entorno de prueba es representativo del escenario futuro de operaciones y de negocio, incluyendo procedimientos y roles de los procesos de negocio, carga de trabajo problable, sistemas operativos,
                    aplicaciones software mecesarias, sistemas de gestión de base de datos, redes e infraestructura de comunicaciones utilizadas en el entorno de producción.
                </td>
            </tr>
            <tr>
                <td colspan="6">5. Asegurar que el entorno de pruebas es seguro e incapaz de interactuar con sistemas de producción.
                </td>
            </tr>
            <tr>
            </tr>
        <tbody>
            <tr>
                <th class="celeste2tabla1" colspan="2">Prácticas de Gestión</th>
                <th class="celeste2tabla1" colspan="2">Entradas</th>
                <th class="celeste2tabla1" colspan="2">Salidas</th>
            </tr>
            <tr>
                <td rowspan="5" colspan="2" class="texto"><b>BAI07.05 Ejecutar pruebas de aceptación</b><br>
                   Probar los cambios idependientemente, de acuerdo con el plan <br> de pruebas definido, antes de migrar al entorno de producción.
                <th colspan="1">De</th>
                <th colspan="1">Descripción</th>
                <th colspan="1">Descripción</th>
                <th colspan="1">A</th>
            </tr>
            <tr>
                <td rowspan="4"></td>
                <td rowspan="4"></td>
                <td rowspan="1">Registro de resultados <br>de las pruebas</td>
                <td rowspan="1">Interno</td>
            </tr>
            <tr>
                <td rowspan="1">Evaluación de los resultados de <br> las pruebas de aceptación </td>
                <td rowspan="1"><a href="/pagina123">BAI01.06</a></td>
            </tr>
            <tr>
    
                <td rowspan="1">Aceptación aprobada <br> y lanzamiento a <br> producción</td>
                <td rowspan="1"><a href="/pagina122">BAI01.04</a></td>
            </tr>
            <tr>
            <tr>
                <td class="celeste2tabla1" colspan="6" align="center"><b>Actividades</b> 
                </td>
            </tr>
            <tr>
                <td colspan="6">1.Revisar el registro categorizado de errores encontrados en el proceso de pruebas por el equipo de desarrollo, verificando que todos los errores han sido corregidos o aceptados formalmente 
                </td>
            </tr>
            <tr>
                <td colspan="6">2.Evaluar la aceptación final respecto a los criterios de exito e interpretar los resultados finales de las pruebas de aceptación. Presentarles en un formato comprensible para los propetarios del proceso de negocio
                    y TI de manera que pueda realizarse una revisión y Evaluación bien fundadas.
                </td>
            </tr>
            <tr>
                <td colspan="6">3.Aprobar la aceptación mediante una firma formal de los propietarios de los procesos de negocio, terceras partes (segun sea necesario) y grupos de interés de TI antes del paso a producciión.
                </td>
            </tr>
            <tr>
                <td colspan="6">4.Asegurar que las pruebas sobre cambios sean realizadas de acuerdo al plan de pruebas. Asegurar que las pruebas son diseñadas y ejecutadas por un grupo de pruebas independiente del grupo de desarrollo. Considerar hasta que punto deben estar implicados los propietarios de procesos de negocio y usuarios finales
                    en el grupo de pruebas. Asegurar que las pruebas son realizadas exclusivamente dentro del entorno de pruebas.
                </td>
            </tr>
            <tr>
                <td colspan="6">5.Asegurarse que las pruebas y los resultados preliminares están de acuerdo con los criterios de éxito definidos en el plan de pruebas.
                </td>
            </tr>
            <tr>
                <td colspan="6">6.Contemplar el uso de instrucciones (scripts) de prueba claramente definidos para implementar las pruebas. Asegurar que el grupo independiente de pruebas valora y aprueba cada script de prueba para confirmar que trata adecuadamente los criterios de exito definidos en el plan de pruebas
                    Considerar el uso de scripts para verificar la medida en que el sistema cumple con los requisitos de seguridad.
                </td>
            </tr>
            <tr>
                <td colspan="6">7.Considerar el equilibrio adecuado entre pruebas automatizadas mediante scripts y pruebas de usuario interactivas. 
                </td>
            </tr>
            <tr>
                <td colspan="6">8.Llevar acabo pruebas de seguridad de acuerdo con el plan de pruebas. Medir el alcance de las debilidades o agujeros de seguridad. Considerar el efecto de los incidentes de seguridad ya en la construccion del plan de pruebas. Considerar el efecto en los controles de acceso y de perimetro 
                </td>
            </tr>
            <tr>
                <td colspan="6">9.Llevar a cabo pruebas de rendimiento de aplicacion y sistemas de acuerdo con el plan de pruebas. Considerar un rango de metricas de rendimiento (ej. tiempos de respuesta al usuario final y rendimiento en la actualizacion del sistema de base de datos).
                </td>
            </tr>
    </table>
</body>
</html><br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">BAI07</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina153">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina154">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina155">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina156">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina157">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina158">6</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
      
    </ul>
  </nav><br>
