<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>localhost4200</title>

</head>
<body>
    <h1 style="color: rgb(255, 255, 255); font-size: 25px; text-align: center;">CONTENIDOS DE LA GUIA DE REFERENCIA DE PROCESOS DE COBIT 5 </h1>
    <table class="container" style="width: 87%; margin: 0 auto;">
        <tr>
            <th class="azultabla1" style="width: 50%;">BAI07 Gestionar la Aceptación del Cambio y la Transiciòn</th>
            <th class="azultabla1" style="width: 50%;">Area: Gestión<br>
                Dominio: Construir, Adquirir e Implementar</th>
        </tr>
        <tr>
            <td colspan="2"><b>Descripción del Proceso</b> <br>
                Aceptar formalmente y hacer operativas las njuevas soluciones, incluyendo la planificación de la implementación, la conversión de los datos y los sistemas, las pruebas de aceptación
                la comunicación, la preparación del lanzamiento, el paso a producción de procesos de negocio o servicios TI nuevos o modificados,el soporte temprano en producción y 
                una revisión post-implementación.</td>
        </tr>
        <tr>
            <td colspan="2"><b>Declaración del Proceso</b> <br>
                Implementar soluciones de forma segura y en lìnea con las expectativas y resultados acordados.</td>
        </tr>
        <tr>
            <th class="celeste2tabla1" colspan="2">El proceso apoya la consecución de un conjuno de principales metas TI:</th>
        </tr>
        <tr>
            <th class="celeste2tabla1" style="width: 50%;">Meta TI</th>
            <th class="celeste2tabla1" style="width: 50%;">Métricas Relacionadas</th>
        </tr>
        <tr>
            <td colspan="1" class="texto">08 Uso adecuado de aplicaciones, información y soluciones tecnológicas</td>
            <td colspan="1">•Porcentaje de propietarios de proceso de negocio satisfechos con los<br>
                productos y servicios TI que dan soporte a estos procesos<br>
                •Nivel de comprensión de los usuarios de negocio sobre cómo las<br>
                soluciones tecnológicas soportan sus procesos<br>
                •Nivel de satisfacción de los usuarios de negocio con la formación y <br>manuales de usuario <br>
                •Valor presente neto (NPV) mostrando el nivel de satisfacción del negocio <br> con la calidad y utilidad de las soluciones tecnológicas 
            </td>
        </tr>
        <tr>
            <td colspan="1" class="texto">12 Capacitaciones y soporte de procesos de negocio integrando aplicaciones <br>y tecnologìa en proceso de negocio</td>
            <td colspan="1">•Número de incidentes en los procesos de negocio debidos a errores de<br>
                integración tecnológica<br>
                •Número de cambios en los procesos de negocio que necesitan ser<br>
                retrasadas o modificados debido a problemas de integración tecnológica <br>
                •Número de procesos de negocio habilitados por TI que se retrasan o <br>
                incurren en un mayor coste debido a asuntos de integración tecnológica<br>
                •Número de aplicaciones o infraestructuras crìticas operando en silos sin integración
            </td>
        </tr>
        <tr>
            <th class="celeste2tabla1" colspan="2">Objetivos y Métricas del Proceso</th>
        </tr>
        <tr>
            <th class="celeste2tabla1" style="width: 50%;">Meta del proceso</th>
            <th class="celeste2tabla1" style="width: 50%;">Métricas Relacionadas</th>
        </tr>
        <tr>
            <tr>
                <td colspan="1">1. Las pruebas de aceptación consiguen la aprobación de las partes interesadas y tienen <br> en cuentatodos los aspectos de los planes de implementación y conversión.</td>
                <td colspan="1">•Porcentaje de partes interesadas satisfechas con la completitud del proceso de pruebas
                </td>
            </tr>
            <tr>
                <td colspan="1">2.Los lanzamientos estàn listos para su paso a producción contando con la buena disposición y el soporte de las partes interesadas.</td>
                <td colspan="1">•Número y porcentaje de lanzamientos que no estàn listos para lanzamiento en los plazos previstos.
                </td>
            </tr>
            <tr>
                <td colspan="1">3.Los lanzamientospasan pasan a  producción satisfactoriamente, son estables y cumplen con las expectativas.</td>
                <td colspan="1">Número o porcentaje de lanzamientos que no consiguen ser estables en un periodo de tiempo aceptable<br>
                    •Porcentaje de lanzamientos que causan perìodos de inactividad
                </td>
            </tr>
            <tr>
                <td colspan="1">04 Las lecciones aprendidas contribuyen a futuros lanzamientos.</td>
                <td colspan="1">•Número y porcentaje de anàlisis de causa raìz completados
                </td>
            </tr>
        <tr>
    </table>
</body>

</html>

<br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">BAI07</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina153">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina154">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina155">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina156">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina157">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina158">6</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
      
    </ul>
  </nav><br>