<table class="container" style="width: 85%;">
    <thead>
        <tr>
            <td class="azultabla1" colspan="6">BAI010 Practicas, Entradas/Salidas y Actividades del Proceso</td>
          </tr>
    <th class="celeste2tabla1">
        Práctica de Gestión
    </th>
    <th colspan="2" class="celeste2tabla1">
        Entradas
    </th>
    <th colspan="2" class="celeste2tabla1">
        Salidas
    </th>
    </thead>
    <tr>
        <td rowspan="7" class="texto"> <strong> BAI10.01 Establecer y mantener un modelo de 
             <br> configuración. 
            </strong>  <br>       
          Establecer y mantener un modelo lógico de la <br>
          infraestructura, activos y servicios y la forma de <br>
          registrar los elementos de configuración (CLs del <br>
          inglés, configuration items ) y las relaciones entre <br>
          ellos. Incluyendo los CLs considerados necesarios para <br>
          gestionar eficazmente los servicios y proporcionar una <br>
          sola descripción fiable de los activos en un servicio.
            </td>
        <td><b>De</b> </td>
        <td><b>Descripción</b></td>
        <td><b>Descripción</b></td>
        <td><b>A</b></td>
    </tr>
    <tr>
        <td rowspan="2" class="texto"><a routerLink="bai05.06">BAI07.06</a> </td>
        <td rowspan="2" class="texto">Plan de lanzamiento</td>
        <td class="texto">Ámbito de aplicación del modelo de gestión de la configuración</td>
        <td class="texto">Interno </td>
    </tr>
    <tr>
        <td class="texto">Modelo de configuración lógica</td>
        <td class="texto">Interno</td>
    </tr> 
</table>
<table class="container" style="width: 85%;">
    <thead >
    <tr>
        <td class="celeste2tabla1">Actividades </td>
    </tr>
    </thead>
    <tr>
        <td class="texto">1.Definir y acordar el alcance y nivel de detalle para la gestión de la configuración (p.ej. qué servicios, activos y elementos configurables de la <br>
            infraestructura se incluyen ). <br>
            </td>
    </tr>
    <tr>
        <td class="texto">2.Establecer y mantener un modelo lógico para la gestión de la configuración, incluyendo información sobre los tipos de elementos de configuración,  <br>
            atributos de los elementos de configuración, tipos de relaciones, atributos  de relación y códigos de estado.
            </td>
    </tr>
    
    
</table>
<table class="container" style="width: 85%;">
    <thead>
       
    <th class="celeste2tabla1">
        Práctica de Gestión
    </th>
    <th colspan="2" class="celeste2tabla1">
        Entradas
    </th>
    <th colspan="2" class="celeste2tabla1">
        Salidas
    </th>
    </thead>
    <tr>
        <td rowspan="7" class="texto"> <strong> BAI10.02 Establecer y mantener un repositorio de <br>
         configuración y una base de referencia. 
            </strong>  <br>       
          Establecer y mantener un repositorio de gestión de <br>
          la configuración y crear unas bases de referencia de <br>
          configuración controladas
            </td>
        <td><b>De</b></td>
        <td><b>Descripción</b></td>
        <td><b>Descripción</b></td>
        <td><b>A</b></td>
    </tr>
    <tr>
        <td rowspan="2" class="texto"><a routerLink="bai09.05">BAI09.05</a> </td>
        <td rowspan="2" class="texto">Registro de licencias de software</td>
        <td>Repositorio de configuración</td>
        <td class="texto"><a routerLink="/pagina163">BAI09.01</a><br><a routerLink="dsso2tabla1">DSS02.01</a> </td>
    </tr>
    <tr>
        <td class="texto">Basede referencia de configuración</td>
        <td class="texto"><a routerLink="/pagina139">BAI03.11</a></td>
    </tr> 
</table>
<table class="container" style="width: 85%;">
    <thead >
    <tr>
        <td class="celeste2tabla1">Actividades </td>
    </tr>
    </thead>
    <tr>
        <td class="texto">1.Identificar y clasificar los elementos de configuración y rellenar el repositorio. <br>
            </td>
    </tr>
    <tr>
        <td class="texto">2.Crear, revisar y formalizar un acuerdo sobre las bases de referencia de configuración de un servicio, aolicación o infraestructura.  
            </td>
    </tr>
    
    
</table>
<table class="container" style="width: 85%;">
    <thead>
       
    <th class="celeste2tabla1">
        Práctica de Gestión
    </th>
    <th colspan="2" class="celeste2tabla1">
        Entradas
    </th>
    <th colspan="2" class="celeste2tabla1">
        Salidas
    </th>
    </thead>
    <tr>
        <td rowspan="7"> <strong> BAI10.03 Mantener y controlar los elementos de <br>
         configuración. 
            </strong>  <br>       
         Mantener un repositorio actualizado de elementos de <br>
          configuración rellenando con los cambios.
            </td>
        <td><b>De</b></td>
        <td><b>Descripción</b></td>
        <td><b>Descripción</b></td>
        <td><b>A</b></td>
    </tr>
    <tr>
        <td rowspan="1" class="texto"><a routerLink="bai06.03">BAI06.03</a> </td>
        <td rowspan="1" class="texto">Informes de estado de solicitudes de cambio</td>
        <td class="texto">Repositorio actualizado con los elementos de configuración.</td>
        <td> class="texto"<a routerLink="dsso2tabla2">DSS02.01</a></td>
    </tr>
    <tr>
        <td rowspan="1" class="texto"><a routerLink="/pagina166">BAI09.01</a> </td>
        <td rowspan="1" class="texto">•Resultados de los controles fisicos de inventario. <br>• Registro de activos</td>
        <td rowspan="2" class="texto">Cambios aprobados a la base de referencia.</td>
        <td rowspan="2" class="texto"><a routerLink="/pagina139">BAI03.11</a></td>
    </tr>

    <tr>
        <td class="texto"><a routerLink="bai09.03">BAI09.03</a></td>
        <td class="texto">•Retirada autorizada de activos <br>•Registro de activos actualizado</td>
    </tr> 
</table>
<table class="container" style="width: 85%;">
    <thead >
    <tr>
        <td class="celeste2tabla1">Actividades </td>
    </tr>
    </thead>
    <tr>
        <td class="texto">1.Identificar regularmente todos los cambios en los elementos de configuración. 
            </td>
    </tr>
    <tr>
        <td class="texto">2.Revisar los cambios propuestos a los elementos de configuración respecto a la base de referencia para garantizar su integridad y presición.  
            </td>
    </tr>
    <tr>
        <td class="texto">3.Atualizar los detalles de configuración con los cambios aprobados a los elementos de configuración.  
            </td>
    </tr>
    <tr>
        <td class="texto">4.Crear,revisar y formalizar acuerdos sobre los cambios en las lineas de referencia de configuración cuando sea necesario.  
            </td>
    </tr>
    
    
</table>
<table class="container" style="width: 85%;">
    <thead>
       
    <th class="celeste2tabla1">
        Práctica de Gestión
    </th>
    <th colspan="2" class="celeste2tabla1">
        Entradas
    </th>
    <th colspan="2" class="celeste2tabla1">
        Salidas
    </th>
    </thead>
    <tr>
        <td rowspan="7" class="texto"> <strong> BAI10.04 Generar informes de estado y <br>
         configuración. 
            </strong>  <br>       
         Definir y elaborar informes de configuración sobre <br>
         cambios en el estado de los elementos de configuración.
            </td>
        <td><b>De</b></td>
        <td><b>Descripción</b></td>
        <td><b>Descripción</b></td>
        <td><b>A</b></td>
    </tr>
    <tr>
        <td rowspan="1" class="texto"><a routerLink="/pagina166">BAI09.01</a> </td>
        <td rowspan="1" class="texto">Resultados de los controles físicos de inventario </td>
        <td class="texto">Informes de estado de configuración</td>
        <td class="texto"><a routerLink="/pagina139">BAI03.11</a><br><a routerLink="/dsso2tabla1">DSS02.01</a></td>
    </tr>
</table>
<table class="container" style="width: 85%;">
    <thead >
    <tr>
        <td class="celeste2tabla1">Actividades </td>
    </tr>
    </thead>
    <tr>
        <td class="texto">1.Identificar cambios en el estado de los elementos de configuración y contrastarlo con la base de referencia. 
            </td>
    </tr>
    <tr>
        <td class="texto">2.Enlazar todos los cambios de configuración con las peticiones de cambio aprobadas para identificar cualquier cambio no autorizado. Informar de <br>
            cambios no autorizados a la gestión de cambios.  
            </td>
    </tr>
    <tr>
        <td class="texto">3.Identificar requisitos de información de todas las partes interesadas, incluyendo contenido, frecuandia y medios. GEnerar informes según las <br>
            necesidades identificadas.  
            </td>
    </tr>

</table>
<br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/pagina167">BAI10</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina168">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina169">2</a></li>
      
      
      <li class="page-item"><a class="page-link" routerLink="">Next</a></li>
      
    </ul>
  </nav><br>
