<div>
    <span class="d-grid gap-2 col-4  mx-auto ">{{title}}</span>
    <form [formGroup]="apo010tituloForm" class="container bg-light bc row row-cols-1 row-cols-lg-4 g-1 g-lg-2" style="height: 10px;" style="width: 60%;" style="margin: 30px   190px;" (ngSubmit)="agregarApo010titulo()">
        <div class="form-group">
            <input type="text" formControlName="apo010titulo1" class="form-control" placeholder="apo010titulo1">
            <div class="validacion"
               *ngIf="apo010tituloForm.get('apo010titulo1')?.hasError('required') && apo010tituloForm.get('apo010titulo1')?.touched">
               <span>Este campo<b> es obligatorio</b></span>
            </div>  
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo010titulo2" class="form-control" placeholder="apo010titulo2">
            <div class="validacion"
                *ngIf="apo010tituloForm.get('apo010titulo2')?.hasError('required') && apo010tituloForm.get('apo010titulo2')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>  
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo010titulo3" class="form-control" placeholder="apo010titulo3">
            <div class="validacion"
                *ngIf="apo010tituloForm.get('apo010titulo3')?.hasError('required') && apo010tituloForm.get('apo010titulo3')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>  
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo010titulo4" class="form-control" placeholder="apo010titulo4">
            <div class="validacion"
                 *ngIf="apo010tituloForm.get('apo010titulo4')?.hasError('required') && apo010tituloForm.get('apo010titulo4')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo010titulo5" class="form-control" placeholder="apo010titulo5">
            <div class="validacion"
                 *ngIf="apo010tituloForm.get('apo010titulo5')?.hasError('required') && apo010tituloForm.get('apo010titulo5')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo010titulo6" class="form-control" placeholder="apo010titulo6">
            <div class="validacion"
                 *ngIf="apo010tituloForm.get('apo010titulo6')?.hasError('required') && apo010tituloForm.get('apo010titulo6')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo010titulo7" class="form-control" placeholder="apo010titulo7">
            <div class="validacion"
                 *ngIf="apo010tituloForm.get('apo010titulo7')?.hasError('required') && apo010tituloForm.get('apo010titulo7')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo010titulo8" class="form-control" placeholder="apo010titulo8">
            <div class="validacion"
                 *ngIf="apo010tituloForm.get('apo010titulo8')?.hasError('required') && apo010tituloForm.get('apo010titulo8')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo010titulo9" class="form-control" placeholder="apo010titulo9">
            <div class="validacion"
                 *ngIf="apo010tituloForm.get('apo010titulo9')?.hasError('required') && apo010tituloForm.get('apo010titulo9')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo010titulo10" class="form-control" placeholder="apo010titulo10">
            <div class="validacion"
                 *ngIf="apo010tituloForm.get('apo010titulo10')?.hasError('required') && apo010tituloForm.get('apo010titulo10')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo010titulo11" class="form-control" placeholder="apo010titulo11">
            <div class="validacion"
                 *ngIf="apo010tituloForm.get('apo010titulo11')?.hasError('required') && apo010tituloForm.get('apo010titulo11')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo010titulo12" class="form-control" placeholder="apo010titulo12">
            <div class="validacion"
                 *ngIf="apo010tituloForm.get('apo010titulo12')?.hasError('required') && apo010tituloForm.get('apo010titulo12')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo010titulo13" class="form-control" placeholder="apo010titulo13">
            <div class="validacion"
                 *ngIf="apo010tituloForm.get('apo010titulo13')?.hasError('required') && apo010tituloForm.get('apo010titulo13')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo010titulo14" class="form-control" placeholder="apo010titulo14">
            <div class="validacion"
                 *ngIf="apo010tituloForm.get('apo010titulo14')?.hasError('required') && apo010tituloForm.get('apo010titulo14')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo010titulo15" class="form-control" placeholder="apo010titulo15">
            <div class="validacion"
                 *ngIf="apo010tituloForm.get('apo010titulo15')?.hasError('required') && apo010tituloForm.get('apo010titulo15')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo010titulo16" class="form-control" placeholder="apo010titulo16">
            <div class="validacion"
                 *ngIf="apo010tituloForm.get('apo010titulo16')?.hasError('required') && apo010tituloForm.get('apo010titulo16')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo010titulo17" class="form-control" placeholder="apo010titulo17">
            <div class="validacion"
                 *ngIf="apo010tituloForm.get('apo010titulo17')?.hasError('required') && apo010tituloForm.get('apo010titulo17')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo010titulo18" class="form-control" placeholder="apo010titulo18">
            <div class="validacion"
                 *ngIf="apo010tituloForm.get('apo010titulo18')?.hasError('required') && apo010tituloForm.get('apo010titulo18')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo010titulo19" class="form-control" placeholder="apo010titulo19">
            <div class="validacion"
                 *ngIf="apo010tituloForm.get('apo010titulo19')?.hasError('required') && apo010tituloForm.get('apo010titulo19')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo010titulo20" class="form-control" placeholder="apo010titulo20">
            <div class="validacion"
                 *ngIf="apo010tituloForm.get('apo010titulo20')?.hasError('required') && apo010tituloForm.get('apo010titulo20')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo010titulo21" class="form-control" placeholder="apo010titulo21">
            <div class="validacion"
                 *ngIf="apo010tituloForm.get('apo010titulo21')?.hasError('required') && apo010tituloForm.get('apo010titulo21')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo010titulo22" class="form-control" placeholder="apo010titulo22">
            <div class="validacion"
                 *ngIf="apo010tituloForm.get('apo010titulo22')?.hasError('required') && apo010tituloForm.get('apo010titulo22')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo010titulo23" class="form-control" placeholder="apo010titulo23">
            <div class="validacion"
                 *ngIf="apo010tituloForm.get('apo010titulo23')?.hasError('required') && apo010tituloForm.get('apo010titulo23')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo010titulo24" class="form-control" placeholder="apo010titulo24">
            <div class="validacion"
                 *ngIf="apo010tituloForm.get('apo010titulo24')?.hasError('required') && apo010tituloForm.get('apo010titulo24')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo010titulo25" class="form-control" placeholder="apo010titulo25">
            <div class="validacion"
                 *ngIf="apo010tituloForm.get('apo010titulo25')?.hasError('required') && apo010tituloForm.get('apo010titulo25')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo010titulo26" class="form-control" placeholder="apo010titulo26">
            <div class="validacion"
                 *ngIf="apo010tituloForm.get('apo010titulo210')?.hasError('required') && apo010tituloForm.get('apo010titulo26')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div><br>  
          <button routerLink="/Apo010raci" type="button" class="btn btn-secondary">Volver</button>  &nbsp;
          <button  type="button" class="btn btn-success" type="submit" [disabled]="apo010tituloForm.invalid">Aceptar</button><hr>
      </div><br>
    </form>
</div>




