<div class="container">
    <table class="table">
        <thead class="theader">
        <tr>
            <td class="titulos" scope="col" colspan="5">DSS01 Prácticas, Entradas/Salidas y Actividades del Proceso</td>
        </tr>
    </thead>
    <thead class="fondo2" style="text-align:center" >
    <tr>
        <td class="titulos" scope="col">Prácticas de Gestión</td>
        <td class="titulos" scope="col" colspan="2">Entradas</td>
        <td class="titulos" scope="col" colspan="2">Salidas</td>
    </tr>
</thead>
    <tr>
        <th scope="row" rowspan="3">DSS01.01 Ejecutar procedimientos
            operativos.
            <p class="texto">Mantener y ejecutar procedimientos y 
                tareas operativas de forma confiable y consistente</p>
        </th>
        <td style="text-align:center">De</td>
        <td style="text-align:center">Descripción</td>
        <td style="text-align:center">Descripción</td>
        <td style="text-align:center">A</td>
    </tr>
    <tr>
        <td rowspan="2"><a href="pagina145">BAI05.05</a></td>
        <td rowspan="2">Plan de operación y uso</td>
        <td>Programación operativa</td>
        <td>Interno</td>
    </tr>
    <tr>
        <td>Registro de copia de respaldo</td>
        <td>Interno</td>
    </tr>
    <tr>
        <td colspan="5" style="text-align:center" class="fondo">Actividades</td>
    </tr>
    <tr>
        <td colspan="5">1. Desarrollar y mantener procedimientos operativos
            y actividades relacionadas para dar apoyo a todos los servicios
            entregados.
        </td>
    </tr>
    <tr>
        <td colspan="5">2. Mantener una programación de actividades operativas y gestionar
            el desempeño y rendimiento (throughput) de las actividades programadas
        </td>
    </tr>
    <tr>
        <td colspan="5">3. Asegurar que se cumple con los estándares de seguridad
            aplicables para la recepción, procesamiento, almacenamiento y salida de 
            datos de forma tal que se satisfagan los objetivos empresariales, la
            política de seguridad de la empresa y los requerimientos regulatorios.
        </td>
    </tr>
    <tr>
        <td colspan="5">4. Verificar que todos los datos esperados para su procesamientos
            sean recibidos y procesados por completo y de una forma precisa
            y oportuna. Entregar los resultados de acuerdo con los requisitos de la
            empresa. Dar soporte a las necesidades de reinicio y 
            reprocesamiento. Asegurar que los usuarios reciben los resultados
            adecuados de una forma segura y oportuna.
        </td>
    </tr>
    <tr>
        <td colspan="5">5. Programar, realizar y registrar las copias de respaldo
            de acuerdo con las políticas y procedimientos establecidos.
        </td>
    </tr>
            </table>
    </div>

    
    <nav aria-label="Page navigation example " class="container" style="width: 87%;">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" routerLink="/home">HOME</a></li>
          <li class="page-item"><a class="page-link" routerLink="/dsso1tabla1">1</a></li>
          <li class="page-item"><a class="page-link" routerLink="/listraci01">2</a></li>
          <li class="page-item"><a class="page-link" routerLink="/dsso1tabla2">3</a></li>
          <li class="page-item"><a class="page-link" routerLink="/dsso1tabla3">4</a></li>
          <li class="page-item"><a class="page-link" routerLink="/dsso1tabla4">5</a></li>
          <li class="page-item"><a class="page-link" routerLink="/dsso1tabla5">6</a></li>
          <li class="page-item"><a class="page-link" routerLink="/dsso1tabla6">7</a></li>
          <li class="page-item"><a class="page-link" routerLink="/dsso1tabla7">8</a></li>
          <li class="page-item"><a class="page-link" href="/dsso1tabla3">Next</a></li>
          
        </ul>
      </nav><br>
    
