<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>

<body>
    <table class="container" style="width: 87%;">
        <tr>
            <td colspan="5" class="azultabla1"><a class="nav-link" routerLink="/apo12tabla1">AP0012</a>  Practica, Entradas/Salidas y Actividades del Proceso</td>
        </tr>
        <th class="celeste2tabla1">
            Práctica de Gestión
        </th>
        <th colspan="2" class="celeste2tabla1">
            Entradas
        </th>
        <th colspan="2" class="celeste2tabla1">
            Salidas
        </th>
        <tr>
            <td rowspan="3">
                AP0012.01 Gestionar las finanzas y la contabilidad.<br><br>

                Establecer y mantener un método de contabilización para todos los costes, inversiones y depreciaciones relacionadas con las TI, como parte integral de los sistemas financieros empresariales y el plan de cuentas para administrar las inversiones y los costes de TI. Capturar y asignar los costes reales, analizar las desviaciones entre las previsiones y los costes reales, e informar usando los sistemas empresariales de medición financiera.
            </td>
            <td>De</td>
            <td>Descripción</td>
            <td>Descripción</td>
            <td>A</td>
        </tr>
        <tr>
            <td><a class="nav-link" href="" >BAI09.01</a> <br>
                <td>Registro de activos<br>
            <td>Procesos de Contabilidad</td>
            <td>Interno<br>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Esquema de clasificación de costes de TI</td>
            <td>Interno</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Prácticas de planificación financiera </td>
            <td>Interno</td>
        </tr>
        <tr>
            <td colspan="5" class="celeste2tabla1">Actividades</td>
        </tr>
        <tr>
            <td colspan="5">1.Definir procesos, entradas y salidas y responsabilidades de manera alineada con las políticas y el enfoque empresariales de presupuesto y contabilización  de coste para manejar sistemáticamente el presupuesto y asignación de costes de TI; catalizar estimaciones de costes y beneficios de TI justos,transparentes,repetibles y comparables y usarlos como dato de entrada a la cartera de programas de  negoción habilitados por las TI; y asegurarse de que se mantienen los presupuestos y costes de las carteras de servicios y activos de TI.</td>
        </tr>
        <tr>
            <td colspan="5">2.Definir un esquema de clasificación para identificar todos los elementos de coste relacionados con las TI, la forma en que se distribuyen entre los presupuestos y servicios, y la forma en que son capturados.</td>
        </tr>
        <tr>
            <td colspan="5">3.Utilizar la información financiera y de cartera para proporcionar datos de entrada a casos de negocio para nuevas inversiones en activos y servicios de Ti.</td>
        </tr>
        <tr>
            <td colspan="5">4.Definir la forma de analizar, informar (a quien y como), y utilizar el control presupuestario y los procesos de gestión de beneficios.</td>
        </tr>
        <tr>
            <td colspan="5">5.Establecer y mantener prácticas para la planificación financiera, gestión de inversiones y toma de decisiones y la optimización de los gastos recurrentes de operaciones para entregar el máximo valor a la empresa con el menor gasto posible.</td>
        </tr>

        <th>
            Práctica de Gestión
        </th>
        <th colspan="2">
            Entradas
        </th>
        <th colspan="2">
            Salidas
        </th>
        <tr>
            <td rowspan="4">
                AP006.02 Priorizar la asignación de recursos.<br><br>
                Implementar un proceso de toma de decisiones para priorizar la asignación de recursos y definir las reglas para las inversiones discrecionales por parte de unidades de negocio individuales. Incluir el uso potencial de proveedores de servicio externos y considerar las opciones de compra, desarrollo y alquiler.
            </td>
            <td>De</td>
            <td>Descripción</td>
            <td>Descripción</td>
            <td>A</td>
        </tr>
        <tr>
            <td><a class="nav-link" routerLink="/edm02tabla1">EDM02.01</a> </td>
            <td>Evaluación de las carteras inversiones y servicios </td>
            <td rowspan="3">Priorización y clasificación de las iniciativas de TI</td>
            <td rowspan="3"><a class="nav-link" routerLink="/pagina73">AP005.01</a> </td>
        </tr>
        <tr>
            <td><a class="nav-link" routerLink="/edm02tabla1">EDM02.03</a> </td>
            <td>Acciones para mejorar la entrega de valor</td>
        </tr>
        <tr>
            <td><a class="nav-link" routerLink="/pagina69">AP004.04</a> </td>
            <td>Ámbito de la prueba de concepto y esquema del caso de negocio</td>
        </tr>
        <tr>
            <td></td>
            <td><a class="nav-link" routerLink="/pagina73">AP005.02</a> </td>
            <td>Expectativas de retorno de inversión</td>
            <td rowspan="3">Asignaciones presupuestarias</td>
            <td rowspan="3"><a class="nav-link" routerLink="/pagina57">AP002.05</a> <br><br>
             <a class="nav-link" routerLink="/pagina73">AP005.04</a>   <br><br>
              <a class="nav-link" routerLink="/apo7tabla1">AP007.05</a>  <br><br>
              <a class="nav-link" href="">BAI03.11</a>  </td>
            <td>
        </tr>
        <tr>
            <td></td>
            <td><a class="nav-link" routerLink="/pagina73">AP005.03</a> </td>
            <td>Evaluaciones del caso de negocio<br><br>
                Programa de caso de negocio
                </td>
        </tr>
        <tr>
            <td colspan="5" class="celeste2tabla1">Actividades</td>
        </tr>
        <tr>
            <td colspan="5">1.Establecer un órgano de toma de decisiones para priorizar recursos de TI y del negocio, incluyendo el uso de proveedores de servicio externos dentro de las asignaciones presupuestarias de alto nivel para programas habilitados por TI, servicios TI y activos de TI conforme a lo establecido por los planes estratégicos y tácticos. Considerar las opciones para la compra o desarrollo de activos y servicios capitalizados frente a la utilización de activos externos y de servicios sobre un base de pago por uso.</td>
        </tr>
        <tr>
            <td colspan="5">2.Posicionar todas las iniciativas de TI sobre la base de los casos de negocio y planes estratégicos y tácticos, y establecer procedimientos para determinar las asignaciones presupuestarias y cortes. Establecer un procedimiento para comunicar las decisiones presupuestarias y revisar con los responsables del presupuesto de las unidades de negocio.</td>
        </tr>
        <tr>
            <td colspan="5">3.Identificar, comunicar y resolver los impactos mas significativos de las decisiones presupuestarias en los casos de negocios, carteras y planes estratégicos (por ejemplo, cuando los presupuestos puedan requerir una revisión debido alas circunstancias cambiantes de la empresa, cuando no son suficientes para apoyar los objetivos estratégicos o los objetivos del caso de negocio)</td>
        </tr>
        <tr>
            <td colspan="5">4.Obtener la ratificación del Comité Ejecutivo para los cambios generales en el presupuesto de TI que afecten negativamente a los planes estratégicos y tácticos de la entidad y ofrecer acciones sugeridas para resolver estos impactos.</td>
        </tr>
    </table><br>
<nav aria-label="Page navigation example " class="container" style="width: 812%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">APOO12</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo12tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/Apo012raci">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo12tabla2">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo12tabla3">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo12tabla4">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo12tabla5">12</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
      
    </ul>
  </nav>
