<div class="container">
    <table class="table">
        <thead class="theader">
        <tr>
            <td class="titulos" scope="col" colspan="5">DSS03 Guías relacionadas</td>
        </tr>
    </thead>
    <thead class="theader">
    <tr>
        <td class="titulos" scope="col">Estándar Relacionado</td>
        <td class="titulos" scope="col">Referencia Detallada</td>
    </tr>
</thead>
<tr>
    <td>ISO/IEC 20000</td>
    <td>8.3 Gestión de problemas</td>
</tr>
<tr>
    <td>ITIL V3 2011</td>
    <td>22. Gestión de Problemas</td>
</tr>
</table>
</div>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">HOME</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso3tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/listraci03">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso3tabla2">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso3tabla3">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso3tabla4">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso3tabla5">6</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso3tabla6">7</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso3tabla7">8</a></li>
      <li class="page-item"><a class="page-link" href="/dsso4tabla1">DSS4</a></li>
      
    </ul>
  </nav><br>

