<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Procesos Catalizadores</title>
</head>


    <table class="table table-bordered" class="container" style="width: 80%;">
        <colgroup>
            <col span="1" id="col1">
            <col span="25" id="colall">

        </colgroup>
        <caption class="c">Matriz RACI AP007</caption>
        <thead >

            <tr >
                <td> Práctica Clave de Gobierno</td>
                <th>
                    <div contenteditable>Consejo de administración</div>
                </th>
                <th>
                    <div contenteditable>Director General Ejecutivo (CEO)</div>
                </th>
                <th>
                    <div contenteditable>Director General Financiero (CFO)</div>
                </th>
                <th>
                    <div contenteditable>Director de Operaciones (COO)</div>
                </th>
                <th>
                    <div contenteditable>Ejecutivos de Negocio</div>
                </th>
                <th>
                    <div contenteditable>Propietarios de los Procesos de Negocio</div>
                </th>
                <th>
                    <div contenteditable>Comité Ejecutivo Estratégico(Desarrollo de Proyectos)</div>
                </th>
                <th>
                    <div contenteditable>Oficina de Gestión de Proyectos</div>
                </th>
                <th>
                    <div contenteditable>Oficina de Gestión de Valor</div>
                </th>
                <th>
                    <div contenteditable>Director de Riesgos (CRO)</div>
                </th>
                <th>
                    <div contenteditable>Director de Seguridad de la Información (CISO)</div>
                </th>
                <th>
                    <div contenteditable>Consejo de Arquitectura de la Empresa</div>
                </th>
                <th>
                    <div contenteditable>Comité de Riesgos Corporativos</div>
                </th>
                <th>
                    <div contenteditable>Jefe de Recursos Humanos</div>
                </th>
                <th>
                    <div contenteditable>Cumplimiento Normativo (Compliance) </div>
                </th>
                <th>
                    <div contenteditable>Auditoria</div>
                </th>
                <th>
                    <div contenteditable>Informática/Sistemas CIO</div>
                </th>
                <th>
                    <div contenteditable>Jefe de Arquitectura del Negocio</div>
                </th>
                <th>
                    <div contenteditable>Jefe de  Desarrollo</div>
                </th>
                <th>
                    <div contenteditable>Jefe de Operaciones TI</div>
                </th>
                <th>
                    <div contenteditable>Jefe de Administración TI</div>
                </th>
                <th>
                    <div contenteditable>Gestiontor de Servicio (Service Manager)</div>
                </th>
                <th>
                    <div contenteditable>Gestor de Seguridad de la Información</div>
                </th>
                <th>
                    <div contenteditable>Gestor de Continuidad de Negocio</div>
                </th>
                <th>
                    <div contenteditable>Gestor de Privacidad de la Información</div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th><a href="#"><strong>APOO7.01</strong></a><br>Mantener la dotación de personal suficiente y adecuado.</th>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
            </tr>
            <tr>
                <th><a href="#"><strong>APO07.02</strong></a><br>Identificar personal clave de TI</th>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
            </tr>
            <tr>
                <th><a href="#"><strong>APO07.03</strong></a><br>Mantener las habilidades y competencias del personal.</th>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
            </tr>
            <tr>
                <th><a href="#"><strong>APO07.04</strong></a><br>Evaluar el desempeño laboral de los empleados.</th>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
            </tr>
            <tr>
                <th><a href="#"><strong>APO07.05</strong></a><br>Planificar y realizar un seguimiento del uso de recursos humanos de TI y del negocio</th>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
            </tr>
            <tr>
                <th><a href="#"><strong>APO07.06</strong></a><br>Gestionar el personal contratado</th>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
                <td>
                    <div contenteditable="True"></div>
                </td>
            </tr>
        </tbody><br>
    </table>
    
    <div class="d-grid gap-1 col-3 mx-auto  d-grid gap-1 d-md-block">
        <button class="btn btn-success" type="button">Guardar</button>
        <button class="btn btn-primary" type="button">Actualizar</button>
        <button class="btn btn-danger" type="button">Elimunar</button>
      </div>

<br>
<br>


    <table class="table table-bordered" class="container" style="width: 80%;">
        <thead>
          <tr>
            <td class="azultabla1" colspan="6">AP007 Practicas, Entradas/Salidas y Actividades del Proceso</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="celestetabla1" colspan="2">Prácticas de Gestión</th>
            <th class="celestetabla1" colspan="2">Entradas</th>
            <th class="celestetabla1" colspan="2">Salidas</th>
          </tr>
          <tr>
            <td rowspan="6" colspan="2">APO07.01 Mantener la dotación de personal suficiente y adecuada.<br>
                Evaluar las necesidades de personal en forma regular o en cambios importantes en la empresa, operativos o en los entornos para asegurar que la empresa tiene suficientes recursos humanos para apoyar las metas y objetivos empresariales. El personal incluye recursos tanto interno como externos.
                </td>
              <th colspan="1">De</th>
              <th colspan="1">Descripción</th>
              <th colspan="1">Descripción</th>
              <th colspan="1">A</th>
          </tr>
          <tr>
            <td colspan="1">EDM04.01</td>
            <td colspan="1">Plan de recursos aprobado<br>
                Principios rectores para la asignación de recursos y capacidades</td>
            <td colspan="1">Evaluaciones de requisitos de persona</td>
            <td colspan="1">Interno</td>
          </tr>
          <tr>
            <td colspan="1">EDM04.03</td>
            <td colspan="1">Acciones correctivas para hacer frente a las desviaciones de gestión de recursos</td>
            <td colspan="1">Planes de desarrollo de carrera y de competencias</td>
            <td colspan="1">Interno</td>
          </tr>
          <tr>
            <td colspan="1">APO01.03</td>
            <td colspan="1">Definición de las prácticas de supervisión</td>
            <td rowspan="3" colspan="1">Planes de aprovisionamiento de personal</td>
            <td rowspan="3" colspan="1">Interno</td>
          </tr>
          <tr>
            <td colspan="1">APO06.03</td>
            <td colspan="1">Comunicaciones del presupuesto<br>
                Plan y presupuesto de TI.</td>
          </tr>
          <tr>
            <td colspan="1">Fuera del Ámbito de COBIT</td>
            <td colspan="1">Metas y objetivos empresariales<br>
                Políticas empresariales y procedimientos de RRHH</td>
          </tr>
          <tr>
            <td colspan="6">Actividades</td>
          </tr>
          <tr>
            <td colspan="6">1.	Evaluar las necesidades de personal de forma regular o ante cambios importantes para asegurar que:
                •	La función de TI cuenta con recursos suficientes para apoyar de manera adecuada y apropiada las metas y objetivos empresariales. 
                •	La empresa cuenta con recursos suficientes para apoyar de manera adecuada y apropiada los procesos de negocio y los controles e iniciativas TI. 
                </td>
        </tr>
        <tr>
            <td colspan="6">2.	Mantener los procesos de contratación y de retención del personal de TI y del negocio en línea con las políticas y procedimientos de personal globales de la empresa.</td>
        </tr>
        <tr>
            <td colspan="6">3.	Incluir controles de antecedentes en el proceso de contratación de TI para empleados, contratistas y proveedores. El alcance y la frecuencia de estos controles depende de la sensibilidad y/o criticidad de la función.</td>
        </tr>
        <tr>
            <td colspan="6">4.	Establecer mecanismos flexibles de dotación de recursos para apoyar a las necesidades cambiantes del negocio, tales como el uso de transferencias, contratistas externos y acuerdos de servicio con terceras partes.</td>
        </tr>
        <tr>
            <td colspan="6">5.	Asegurarse de que el entrenamiento cruzado se lleva a cabo y que hay respaldo para el personal calve para reducir la dependencia de una sola persona.</td>
        </tr>
</table>

</html><br>

<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">APOO7</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo7tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/Apo07raci">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo7tabla3">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo7tabla4">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo7tabla5">5</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
      
    </ul>
  </nav>


