
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    .azultabla1{
    background: rgb(39, 70, 172);
    color: white;
    border: 1px solid black;
}
.celestetabla1{
    background: rgb(255, 255, 255);
    
}
.celeste2tabla1{
    background: rgb(163, 189, 219);
    
}
</style>

<body>
    <table class="container" style="width: 87%;">
        <tr>
            <td class="azultabla1"><a class="nav-link" routerLink="/pagina63" >APO03 </a> Gestionar la Arquitectura Empresarial</td>
        </tr>
        <tr>
            <td>Descripción del Proceso<br>
                Establecer una arquitectura común compuesta por los procesos de negocio, la información, los datos, las
                aplicaciones y las capas de la arquitectura tecnológica de manera eficaz y eficiente para la realización
                de las estrategias de la empresa y de TI mediante la creación de modelos clave y prácticas que describan
                las líneas de partida y las arquitecturas objetivo. Definir los requisitos para la taxonomía, las
                normas, las directrices, los procedimientos, las plantillas y las herramientas y proporcionar un vinculo
                para estos componentes. Mejorar la adecuación, aumentar la agilidad, mejorar la calidad de la
                información y generar ahorros de costes potenciales mediante iniciativas tales como la reutilización de
                bloques de componentes para los procesos de construcción.</td>
        </tr>
        <tr>
            <td>Declaración del Propósito del Proceso<br>
                Representar a los diferentes módulos que componen la empresa y sus interrelaciones, así como los
                principios rectores de su diseño y evolución en el tiempo, permitiendo una entrega estándar, sensible y
                eficiente de los objetivos operativos y estratégicos.</td>
        </tr>
        <tr>
            <td>El proceso apoya la consecución de un conjunto de principales metas TI:</td>
        </tr>
    </table>
    <table class="container" style="width: 87%;">
        <th class="celeste2tabla1">
            Meta TI
        </th>
        <th class="celeste2tabla1">
            Métricas Relacionadas
        </th>
        <tr>
            <td>01 Alineamiento de TI y estrategia de negocio</td>
            <td>• Porcentaje de las metas y requerimientos estratégicos de la empresa soportados por las metas
                estratégicas para TI<br>
                • Nivel de satisfacción de las partes interesadas con el alcance del portafolio de programas y servicios
                planeados<br>
                • Porcentaje de los facilitadores de valor de TI mapeados con facilitadores de valor del negocio</td>
        </tr>
        <tr>
            <td>09 Agilidad de las TI</td>
            <td>• Nivel de satisfacción de los ejecutivos de la empresa con la capacidad de respuesta de TI a nuevos
                requerimientos.<br>
                • Números de procesos de negocio críticos soportados por infraestructuras y aplicaciones
                actualizadas<br>
                • Tiempo medio para convertir los objetivos estratégicos de TI en una iniciativa acordada y aprobada
            </td>
        </tr>
        <tr>
            <td>11 Optimización de activos, recursos y capacidades de las TI</td>
            <td>• Frecuencia de evaluaciones de la madurez de la capacidad y de la optimización de costes<br>
                • Tendencia de los resultados de las evaluaciones<br>
                • Niveles de satisfacción de los ejecutivos de negocio y TI con los costes y capacidades TI
            </td>
        </tr>
        <th>
            Meta del Proceso
        </th>
        <th>
            Métricas Relacionadas
        </th>
        <tr>
            <td>1. La arquitectura y los estándares son eficaces apoyando a la empresa.</td>
            <td>• Número de excepciones solicitadas y concedidas en los estándares de la arquitectura básica<br>
                • Nivel de realimentación sobre la arquitectura por parte del cliente<br>
                • Beneficios aportados por el proyecto que pueden ser trazados a la implicación de la arquitectura (por
                ejemplo, reducción de costes debido a la reutilización)
            </td>
        </tr>
        <tr>
            <td>2. La cartera de servicios de l arquitectura de empresa soporte el cambio empresarial ágil.</td>
            <td>• Porcentaje pe proyectos que usan los servicios de la arquitectura de empresa.<br>
                • Nivel de realimentación sobre la arquitectura por parte del cliente
            </td>
        </tr>
        <tr>
            <td>3. Existen dominios apropiados y actualizados y/o arquitecturas federadas que proveen información fiable
                de la arquitectura.</td>
            <td>• Fecha de la última actualización en el dominio y/o arquitecturas federadas.<br>
                • Número de deficiencias detectadas en los modelos a lo largo de los dominios de empresa, información,
                datos, aplicaciones y arquitectura de tecnología.<br>
                • Nivel de realimentación del cliente de la arquitectura en relación a la calidad de la información
                proporcionada.
            </td>
        </tr>
        <tr>
            <td>4. Se utiliza un marco de arquitectura de empresa y una metodología común, así como un repositorio de
                arquitectura integrado, con el fin de permitir la reutilización de eficiencias dentro de la empresa.
            </td>
            <td>• Porcentaje de proyectos que utilizan el marco de trabajo y la metodología para reutilizar componentes
                ya definidos.<br>
                • Número de personas formadas en la metodología y en el manejo del conjunto de herramientas.<br>
                • Número de excepciones concedidas en los estándares de la arquitectura básica.
            </td>
        </tr>
    </table>
</body>

</html><br>
<nav aria-label="Page navigation  example" class="container" style="width: 87%;">
    <ul class="pagination container">
      <li class="page-item"><a class="page-link" routerLink="/home">APOO3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina63">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/Apo03raci">2 </a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina65">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina66">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina67">5</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>