<h1 style="color: rgb(255, 255, 255);">CONTENIDOS DE LA GUIA DE REFERENCIA DE PROCESOS DE COBIT 5 </h1>
<table class="container" style="width: 87%;">
    <tr>
        <th class="azultabla1" style="width: 50%;">BAI09 Gestionár los Activos</th>
        <th class="azultabla1" style="width: 50%;">Area: Administración<br>
            Dominio:Construir Adquirir e implementar</th>
    </tr>
    <tr>
        <td colspan="2" class="texto"><b> Descripción  del Proceso</b><br>
            Definir y mantener las definiciones y relaciones entre los principales recursos y capacidades necesarios para la prestación de los servicios <br>
            proporcionados por TI, incluyendo la recopilación de información de configuración, el establecimiento de líneas de referencia, la verificación y auditoría <br>
            de la información de configuración y la actualización del repositorio de configuración.
        </td>
    </tr>
    <tr>
        <td colspan="2" class="texto"><b>Declaración del propósito del proceso.</b> <br>
          Proporcionar suficiente información sobre los activos del servicio para que el servicio pueda gestionarse con eficacia, evaluar el impacto de los cambios <br>
        y hacer frente a los incidentes del servicio.</td>
    </tr>
    <tr>
        <th class="celeste2tabla1" colspan="2">El proceso apoya la consecución de un conjunto de principales metas TI:</th>
    </tr>
    <tr>
        <th class="celeste2tabla1" style="width: 50%;">Meta TI</th>
        <th class="celeste2tabla1" style="width: 50%;">Métricas Relacionadas</th>
    </tr>
    <tr>
        <td colspan="1" class="texto">02 Cumplimiento y soporte de TI al cumplimiento del negocio de las leyes y regulaciones externas</td>
        <td colspan="1" class="texto">•Coste de la no conformidad de TI, incluidos arreglos y multas, e impacto de la pérdida de <br>
            reputación<br>
            •Número de problemas de no conformidad relativos a TI de los que se ha informado al <br>
            consejo de administración o que han causado comentarios o bochorno público.<br>
            •Número de problemas de no conformidad con respecto a acuerdos contractuales con <br>
             proveedores de servicios de TI <br>
             •Cobertura de las evaluaciones de conformidad <br>
        </td>
    </tr>
    <tr>
        <td colspan="1" class="texto">11 Optimización de activos, recursos y capacidades de TI</td>
        <td colspan="1" class="texto">•Frecuencia de evaluaciones de la madurez de la capacidad y de la optimización de costes. <br>
            •Tendencia de los resultados de las evaluaciones.<br>
            
            •Niveles de satisfacción de los ejecutivosde negocio y TI con los costes y capacidades TI.

        </td>
    </tr>
    <tr>
        <td colspan="1" class="texto">14 Disponibilidad de información útil y relevante para la <br>
        toma de deciciones </td>
        <td colspan="1" class="texto">•Nivel de satisfacción de los usuarios del negocio y puntualidad (o disponibilidad) de la <br>
            información de gestión <br>
            •Número de incidentes en los procesos de negocio causados por la indisponibilidad de la <br>
            información <br>
            •Relación o cantidad de decisiones de negocio erróneas en las que la falta de información <br>
            o la información erronea ha sido la principal causa

        </td>
    </tr>
    
    <tr>
        <th class="celeste2tabla1" colspan="2">Objetivos y Métricas del Poceso</th>
    </tr>
    <tr>
        <th class="celeste2tabla1" style="width: 50%;">Meta del Proceso</th>
        <th class="celeste2tabla1" style="width: 50%;">Métricas Relacionadas</th>
    </tr>
    <tr>
        <td colspan="1" class="texto">1.El repositori de configuración es correcto, complejo y  <br>
         está actualizado   </td>
        <td colspan="1" class="texto">•Número de desviaciones entre el repositorio de configuración y la configuración real<br>
            •Número de discrepancias relativas a información de configuración incompleta o <br>
            inexistente
        </td>
    </tr>
    <tr>
        <td colspan="1" class="texto">2.Los activos se mantienen en condiciones óptimas. <br>
        </td>
        <td colspan="1" class="texto">•Número de activos no utilizados.<br>
            •Comparativa de costes.
            •Número de activos obsoletos.
        </td>
    </tr>
</table>
<br>
<app-listar-bai10></app-listar-bai10>
<br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/pagina167">BAI10</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina168">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina169">2</a></li>
      
      
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
      
    </ul>
  </nav><br>
