<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>localhost4200</title>

</head>


<body>
  <div class="tabla3">
    <table class="table table-bordered" class="container" style="width: 87%;">
     <thead>
       <tr>
         <th class="azultabla1" colspan="6">MEA02 Process Practices, Inputs/Outputs and Activities (cont.)</th>
       </tr>
     </thead>
     <tbody>
      <tr>
        <td colspan="6" >4. Asegurar que las actividades de control están operativas y que las excepciones son comunicadas puntualmente, seguidas y analizadas, y que se priorizan e implementan las acciones correctivas oportunas de acuerdo con el perfil de gestión del riesgo (p. ej. clasificar ciertas excepciones como riesgos clave y otras como riesgos no-clave).</td>
        </tr>
        <tr>
        <td colspan="6"> 5. Mantener el sistema de control interno de TI, considerando los cambios en curso en el negocio y el riesgo de TI, el entorno de control organizativo, los procesos de negocio y de TI relevantes y el riesgo de TI. Si existen algunas, evaluar y recomendar cambios. </td>
        </tr>
        <tr>
        <td colspan="6"> 6. Evaluar regularmente el rendimiento el marco de control de TI, realizando estudios comparativos con los estándares y buenas prácticas aceptadas por la industria. Considerar la adopción forma de un enfoque de mejora continua en la supervisión de control interno. </td>
        </tr>
        <tr>
        <td colspan="6"> 7. Evaluar el estado de los controles internos  de los proveedores externos de servicios y confirmar que dichos proveedores cumplen con los requisitos legales y regulatorios, así como las obligaciones contractuales. </td>
        </tr>
       <tr>
         <th class="celestetabla1" colspan="2">Prácticas de gobierno</th>
         <th class="celestetabla1" colspan="2">Entradas</th>
         <th class="celestetabla1" colspan="2">Salidas</th>
       </tr>
       <tr>
         <td rowspan="3" colspan="2"><b>MEA02.02 Revisar la efectividad de los controles sobre los procesos de negocio. </b>
            
          <br> Revisar la operación de controles, incluyendo la revisión de las evidencias de supervisión y pruebas, para asegurar que los controles incorporados en los procesos de negocio operan de manera efectiva. Incluir actividades de mantenimiento de evidencias de la operación afectiva de controles a través de mecanismos como la comprobación periódica de controles, supervisión continua de controles, evaluaciones independientes, centros de mandos y control y centros de operación de red. Esto proporciona al negocio de la seguridad de la efectividad del control para 
          satisfacer los requisitos relativos al negocio y a las responsabilidades sociales y regulatorias..</td>
           <th colspan="1">De</th>
           <th colspan="1">Descripción</th>
           <th colspan="1">Descripción</th>
           <th colspan="1">A</th>
       </tr>
       <tr>
         <td  colspan="1"><a href="edm05tabla3">BAI05.06</a></td>
         <td  colspan="1">Resultados de la auditoría de cumplimiento</td>
         <td rowspan="2" colspan="1" class="text-top">Evidencia de la efectividad del control </td>
         <td rowspan="2" colspan="1" class="text-top">Interno</td>
       </tr>
       <tr>
         <td rowspan="1" colspan="1"><a href="edm05tabla3">BAI05.07 </a></td>
         <td rowspan="1" colspan="1"> <p> Revisiónes del uso operativo</p>
       </tr>
       <tr>
         <th colspan="6" class="celestetabla1" >Actividades</th>
       </tr>
       <tr>
        <td colspan="6">1. Entender y priorizar el riesgo del acuerdo con los objetivos organizativos.
        </td>
    </tr>
    <tr>
        <td colspan="6">2. Identificar los controles clave y desarrollar una estrategia adecuada para la validación de controles.
        </td>
    </tr>
<tr>
<td colspan="6"> 3. Identificar la información que indica de forma convincente si el entorno de control interno está operando de forma efectiva.
</td>
</tr>
<tr>
<td colspan="6"> 4. Desarrollar e implementar procedimientos eficientes para determinar si la información conveniente está basada en los criterios de información.
</td>
</tr>
<tr>
<td colspan="6"> 5. Mantener evidencia de la efectividad del control.
</td>
</tr>
       <tr>
         <th class="celestetabla1" colspan="2">Práctica de Gestión</th>
         <th class="celestetabla1" colspan="2">Entradas</th>
         <th class="celestetabla1" colspan="2">Salidas</th>
       </tr>
       <tr>
        <td rowspan="4" colspan="2" class="text-top"><b>MEA02.03 Realizar autoevaluaciónes de control. </b>
            
          <br> Estimular a la Dirección y a los propietarios de los procesos a tomar posesión de manera firme del procedimiento de mejora del control, a través de programas continuos de autoevaluación que 
          valoren la completitud y efectividad del control de la Dirección sobre los procesos, políticas y contratos.</td>
          <th colspan="1">De</th>
          <th colspan="1">Descripción</th>
          <th colspan="1">Descripción</th>
          <th colspan="1">A</th>
      </tr>
      <tr>
        <td rowspan="3" colspan="1"></td>
        <td rowspan="3" colspan="1"></td>
        <td rowspan="1" colspan="1">Planes y criterios de autoevaluación </td>
        <td rowspan="1" colspan="1">
              <a href="pagina51">APO</a><br>
              <a href="pagina119">BAI</a><br>
              <a href="dsso1tabla1">DSS</a><br>
              <a href="mea01">MEA</a><br>
        </td>
      </tr>
      <tr>
        <td rowspan="1" colspan="1">Resultados de las autoevaluaciónes</td>
        <td rowspan="1" colspan="1"> <p>Interno</p>
      </tr>
      <tr>
        <td> Resultados de las revisiones de las autoevaluaciónes </td>
        <td> <a href="edm01tabla4">EDM01.03</a><br>
          <a href="pagina51">APO</a><br>
          <a href="pagina119">BAI</a><br>
          <a href="dsso1tabla1">DSS</a><br>
          <a href="mea01">MEA</a><br></td>
    </tr>
      <tr>
         <th class="celestetabla1" colspan="6">Actividades</th>
       </tr>
       <tr>
        <td colspan="6">1. Mantener planes y alcances e identificar los criterios de evaluación para la realización de las autoevaluaciónes. Planificar la comunicación de resultados del proceso de autoevaluación al negocio, TI y Dirección General y al Consejo. Considerar estándares de auditoría interna en el diseño de las autoevaluaciónes.
        </td>
    </tr>
    <tr>
        <td colspan="6">2. Determinar la frecuencia de las autoevaluaciónes periódicas, considerando la efectividad y eficiencia conjuntas de la supervisión continua.
        </td>
    </tr>
<tr>
<td colspan="6"> 3. Asignar la responsabilidad de la autoevaluación a las personas oportunas con el fin de asegurar la objetividad y la competencia.
</td>
</tr>
<tr>
<td colspan="6"> 4. Proporcionar revisiones independientes para asegurar la objetividad de la autoevaluación y hacer posible compartir las buenas prácticas de control interno con otras compañías.
</td>
</tr>
<tr>
<td colspan="6"> 5. Comparar los resultados de las autoevaluaciónes con estándares y buenas prácticas de la industria.
</td>
</tr>
<tr>
<td colspan="6"> 6. Resumir y comunicar los resultados de las autoevaluaciónes y los estudios comparativos para considerar acciones correctivas.
</td>
</tr>
<tr>
<td colspan="6"> 7. Definir un enfoque consistente y consensuado para la realización de autoevaluaciónes de control y para la coordinación con auditores internos y externos. 
</td>
</tr>
     </tbody>
   </table>
 </div>
</body>

</html>

<br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="mea02">1</a></li>
    <li class="page-item"><a class="page-link" href="listar-tablax">Tabla RACI</a></li>
    <li class="page-item"><a class="page-link" href="mea02a">2</a></li>
    <li class="page-item"><a class="page-link" href="mea02b">3</a></li>
    <li class="page-item"><a class="page-link" href="mea02c">4</a></li>
    <li class="page-item"><a class="page-link" href="mea02d">5</a></li>
    <li class="page-item"><a class="page-link" href="meao3tabla1">Continuar MEA03</a></li>
  </ul>
  </nav><br>



