<span class="titulo" class="d-grid gap-2 col-2  mx-auto " style="color: white; text-align: center;"  >{{ titulo | uppercase}}</span>
<form class="container bg-light bc row row-cols-4 row-cols-lg-4 g-1 g-lg-2"
style="height: 10px;" style="width: 60%;" style="margin: 35px   190px; border-radius: 10px;"
 [formGroup]="cabecera7Form" class="container bg-light bc row row-cols-1 row-cols-lg-4 g-1 g-lg-2"   style="margin: 0 auto; width: 78%;" (ngSubmit)="agregarCabecera7()">
    
    <div class="form-group">
        <input type="text" formControlName="dda" (ngSubmit)="agregarCabecera7()"
        class="form-control" placeholder="dda" style="width: 365px;" size="32">  
        <div class="validacion"
            *ngIf="cabecera7Form.get('dda')?.hasError('required') && cabecera7Form.get('dda')?.touched">
            <span>dda<b> es obligatoria</b></span>
        </div>  
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="ddb"
        class="form-control" placeholder="ddb" style="width: 365px;" size="32"> 
        <div class="validacion"
            *ngIf="cabecera7Form.get('ddb')?.hasError('required') && cabecera7Form.get('ddb')?.touched">
            <span>ddb<b> es obligatoria</b></span>
        </div>   
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="ddc"
        class="form-control" placeholder="ddc" style="width: 365px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera7Form.get('ddc')?.hasError('required') && cabecera7Form.get('ddc')?.touched">
            <span>ddc<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="ddd"
        class="form-control" placeholder="ddd" style="width: 365px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera7Form.get('ddd')?.hasError('required') && cabecera7Form.get('ddd')?.touched">
            <span>ddd<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="dde"
        class="form-control" placeholder="dde" style="width: 365px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera7Form.get('dde')?.hasError('required') && cabecera7Form.get('dde')?.touched">
            <span>dde<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="ddf"
        class="form-control" placeholder="ddf" style="width: 365px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera7Form.get('ddf')?.hasError('required') && cabecera7Form.get('ddf')?.touched">
            <span>ddf<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="ddg"
        class="form-control" placeholder="ddg" style="width: 365px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera7Form.get('ddg')?.hasError('required') && cabecera7Form.get('ddg')?.touched">
            <span>ddg<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="ddh"
        class="form-control" placeholder="ddh" style="width: 365px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera7Form.get('ddh')?.hasError('required') && cabecera7Form.get('ddh')?.touched">
            <span>ddh<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="ddi"
        class="form-control" placeholder="ddi" style="width: 365px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera7Form.get('ddi')?.hasError('required') && cabecera7Form.get('ddi')?.touched">
            <span>ddi<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="ddj"
        class="form-control" placeholder="ddj" style="width: 365px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera7Form.get('ddj')?.hasError('required') && cabecera7Form.get('ddj')?.touched">
            <span>ddj<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="ddk"
        class="form-control" placeholder="ddk" style="width: 365px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera7Form.get('ddk')?.hasError('required') && cabecera7Form.get('ddk')?.touched">
            <span>ddk<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="ddl"
        class="form-control" placeholder="ddl" style="width: 365px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera7Form.get('ddl')?.hasError('required') && cabecera7Form.get('ddl')?.touched">
            <span>ddl<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="ddm"
        class="form-control" placeholder="ddm" style="width: 365px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera7Form.get('ddm')?.hasError('required') && cabecera7Form.get('ddm')?.touched">
            <span>ddm<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="ddn"
        class="form-control" placeholder="ddn" style="width: 365px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera7Form.get('ddn')?.hasError('required') && cabecera7Form.get('ddn')?.touched">
            <span>ddn<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="ddo"
        class="form-control" placeholder="ddo" style="width: 365px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera7Form.get('ddo')?.hasError('required') && cabecera7Form.get('ddo')?.touched">
            <span>ddo<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="ddp"
        class="form-control" placeholder="ddp" style="width: 365px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera7Form.get('ddp')?.hasError('required') && cabecera7Form.get('ddp')?.touched">
            <span>ddp<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="ddq"
        class="form-control" placeholder="ddq" style="width: 365px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera7Form.get('ddq')?.hasError('required') && cabecera7Form.get('ddq')?.touched">
            <span>ddq<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="ddr"
        class="form-control" placeholder="ddr" style="width: 365px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera7Form.get('ddr')?.hasError('required') && cabecera7Form.get('ddr')?.touched">
            <span>ddr<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="dds"
        class="form-control" placeholder="dds" style="width: 365px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera7Form.get('dds')?.hasError('required') && cabecera7Form.get('dds')?.touched">
            <span>dds<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="ddt"
        class="form-control" placeholder="ddt" style="width: 365px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera7Form.get('ddt')?.hasError('required') && cabecera7Form.get('ddt')?.touched">
            <span>ddt<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="ddu"
        class="form-control" placeholder="ddu" style="width: 365px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera7Form.get('ddu')?.hasError('required') && cabecera7Form.get('ddu')?.touched">
            <span>ddu<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="ddv"
        class="form-control" placeholder="ddv" style="width: 365px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera7Form.get('ddv')?.hasError('required') && cabecera7Form.get('ddv')?.touched">
            <span>ddv<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="ddw"
        class="form-control" placeholder="ddw" style="width: 365px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera7Form.get('ddw')?.hasError('required') && cabecera7Form.get('ddw')?.touched">
            <span>ddw<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="ddx"
        class="form-control" placeholder="ddx" style="width: 365px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera7Form.get('ddx')?.hasError('required') && cabecera7Form.get('ddx')?.touched">
            <span>ddx<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="ddy"
        class="form-control" placeholder="ddy" style="width: 365px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera7Form.get('ddy')?.hasError('required') && cabecera7Form.get('ddy')?.touched">
            <span>ddy<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="ddz"
        class="form-control" placeholder="ddz" style="width: 365px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera7Form.get('ddz')?.hasError('required') && cabecera7Form.get('ddz')?.touched">
            <span>ddz<b> es obligatorio</b></span>
        </div> 
    </div>
    <div class="ji"><br><br><br>
        <button class="btn btn-secondary" routerLink="/pagina154">Volver</button>
        <button class="btn btn-success" type="submit" [disabled]="cabecera7Form.invalid" >Aceptar</button>
    </div>
</form>
