<table class="container" style="width: 85%;">
    <thead>
        
            
              <tr>
                <td class="azultabla1" colspan="6">BAI09 Practicas, Entradas/Salidas y Actividades del Proceso</td>
              </tr>
    <th class="celeste2tabla1">
        Práctica de Gestión
    </th>
    <th colspan="2" class="celeste2tabla1">
        Entradas
    </th>
    <th colspan="2" class="celeste2tabla1">
        Salidas
    </th>
    </thead>
    <tr>
        <td rowspan="7" class="texto"> <strong> BAI09.01 Identificar y registrar los activos actuales. <br>
            </strong>  <br>       
            Mantener un registro actualizado y exacto de todos <br>
            los activos de TI necesarios para la prestación de <br>
            servicios y garantizar su alineación con la gestión de la <br>
            configuración.
            </td>
        <td><b>De</b> </td>
        <td><b>Descripción</b></td>
        <td><b>Descripción</b></td>
        <td><b>A</b></td>
    </tr>
    <tr>
        <td class="texto"><a routerLink="/pagina134">BAI03.04</a></td>
        <td class="texto">Actualizaciones al inventario de activos</td>
        <td class="texto">Registro de activos</td>
        <td class="texto"><a routerLink="apo06.01">APO06.01</a> <br> <a routerLink="bai10.03">BAI10.03</a></td>
    </tr>
    <tr>
        <td rowspan="2" class="texto"><a routerLink="bai10.02">BAI10.02</a></td>
        <td rowspan="2" class="texto">Repositorio de configuración</td>
        <td   class="texto">Resultados de comprobaciones físicas de inventario</td>
        <td  class="texto"> <a routerLink="bai10.03"> BAI10.03</a><br><a routerLink="bai10.04"> BAI10.04</a>
            <br><a routerLink="dsso5tabla3"> DSSO05.03</a><br></td>
    </tr>
    <tr>
        <td   class="texto">Resultados de revisiones de adecuación de objetivo</td>
        <td  class="texto"> <a routerLink="/pagina59"> APO02.02</a></td>
    </tr>
    
</table>
<table class="container" style="width: 85%;">
    <thead >
    <tr>
        <td class="celeste2tabla1">Actividades </td>
    </tr>
    </thead>
    <tr>
        <td class="texto">1. Identificar todos los activos en propiedad en un registro que indique el estado actual. Mantener su alineación con los procesos de gestión de cambios <br>
            y de la configuración, el sistema de gestión de la configuración y los registros contables financieros.
            </td>
    </tr>
    <tr>
        <td class="texto">2.Identificar los requisitos legales, reglamentarios o contractuales que deben ser abordados en la gestión de los activos.
            </td>
    </tr>
    <tr>
        <td class="texto">3. Verificar la existencia de todos los activos en propiedad mediante la realización periódica de controles de inventario físicos y lógicos y su conciliación, <br>
            incluyendo la utilización de herramientas software de descubrimiento.
            .</td>
    </tr>
    <tr>
        <td class="texto">4. Comprobar que los activos se adecuan a sus objetivos (p.ej, están en condiciones útiles)</td>
    </tr>
    <tr>
        <td class="texto">5. Determinar de forma regular si cada activo continúa proporcionando valor y, si es así, estimar la vida útil prevista de dicha validez. 
            </td>
    </tr>
    <tr>
        <td class="texto">6.Asegurar la contabilización de todos los archivos.
            </td>
    </tr>
    
</table>
<table class="container" style="width: 85%;">
    <thead>
        
            
    <th class="celeste2tabla1">
        Práctica de Gestión
    </th>
    <th colspan="2" class="celeste2tabla1">
        Entradas
    </th>
    <th colspan="2" class="celeste2tabla1">
        Salidas
    </th>
    </thead>
    <tr>
        <td rowspan="7" class="texto"> <strong> BAI09.02 Gestionar Activos Críticos. <br>
            </strong>  <br>       
            Identificar los activos que son críticos en la provisión de <br>
             capacidad de servicio y dar los pasos para maximizar su <br>
            fiabilidad y disponibilidad para apoyar las nesecidades <br>
            del negocio
            </td>
        <td><b>De</b></td>
        <td><b>Descripción</b></td>
        <td><b>Descripción</b></td>
        <td><b>A</b></td>
    </tr>
    <tr>
        <td rowspan="2"></td>
        <td rowspan="2"></td>
        <td class="texto">Comunicación de tiempo de inactividad planificado para mantenimiento</td>
        <td class="texto"><a routerLink="apo08.04">APO08.04</a> </td>
    </tr>
    <tr>
        <td class="texto">Contratos de mantenimiento</td>
        <td class="texto">Interno</td>
    </tr>
    
    
</table>
<table class="container" style="width: 85%;">
    <thead >
    <tr>
        <td class="celeste2tabla1">Actividades </td>
    </tr>
    </thead>
    <tr>
        <td class="texto">1. Identificar los activos que son críticos en la provisión de la capacidad del servicio refiriendose a los requisitos en las definiciones de servicio, ANSs y el<br>
            sistema de gestión de la configuración.
            </td>
    </tr>
    <tr>
        <td class="texto">2.Supervisar el rendimiento de los activos críticos examinando las tendencias de incidentes y, en caso necesario, tomar medidas para reparar o <br>
            reemplazar.
            </td>
    </tr>
    <tr>
        <td class="texto">3. De forma regular, considerar el riesgo de fallo o necesidad del reemplazo de cada activo crítico. <br>
        </td>
    </tr>
    <tr>
        <td class="texto">4. Mantener la resilencia de los activos críticos mediante la aplicación de un mantenimiento preventivo regular, de supervisión del rendimiento y, si fuera 
        necesario, proporcionando alternativas y/o activos adicionales para reducir la probabilidad de fallo.</td>
    </tr>
    <tr>
        <td class="texto">5. Establecer un plan de mantenimiento preventivo que para todo el harware, considerando un análisis coste-beneficio, recomendaciones del proveedor, el <br>
            riesgo de interrupción del seervicio, personal cualificado y otros factores relevantes. 
            </td>
    </tr>
    <tr>
        <td class="texto">6.Establecer contratos de mantenimiento que impliquen el acceso de terceros a las instalaciones de TI de la organización para actividades en sitio y fuera <br>
            del sitio (p.ej. externalización). Establecer contratos formales de servicio que contengan o se refieran a todas las condiciones de seguridad necesarias, <br>
            incluidos por los procedimientos de autorización de acceso, para garantizar el cumplimiento de las políticas y estándares de seguridad de la organización.
            </td>
    </tr>
    <tr>
        <td class="texto">7.Comunicar a los clientes y los usuarios afectados el impacto esperado (p.ej. las restricciones de rendimiento) de las actividades de mantenimiento <br>
            </td>
    </tr>
    <tr>
        <td class="texto">8. Asegurar que los servicios de acceso remoto y perfiles de usuario ( u otros medios utilizados para el mantenimiento o diagnostico) están activos solo  <br>
            cuando sea necesario.
            </td>
    </tr>
    <tr>
        <td class="texto">9. Incorporar el tiempo de inactividad previsto en general en el calendario de producción, y programar las actividades de mantenimiento para minimizar <br>
            el impacto adverso en los procesos de negocio. 
            </td>
    </tr>
    
</table>
<br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/pagina163">BAI09</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina164">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina165">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina166">3</a></li>
      
      
      <li class="page-item"><a class="page-link" routerLink="">Next</a></li>
      
    </ul>
  </nav><br>
