<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>

<body>
    <table class="container" style="width: 87%;">
        <tr>
            <td colspan="5">APO12 Prácticas, Entradas/Salidas y Actividades del Proceso (cont.)</td>
        </tr>
        <th>
            Prácticas de Gestión
        </th>
        <th colspan="2">
            Entradas
        </th>
        <th colspan="2">
            Salidas
        </th>
        <tr>
            <td rowspan="4">
                APO12.03 Mantener un perfil de riesgo.<br>
                Mantener un inventario del riesgo conocido y atributos de riesgo (incluyendo frecuencia esperada,
                impacto potencial y respuestas) y de otros recursos, capacidades y actividades de control actuales
                relacionados.
            </td>
            <td>De</td>
            <td>Descripción</td>
            <td>Descripción</td>
            <td>A</td>
        </tr>
        <tr>
            <td>EDM03.01</td>
            <td>Niveles aprobados de tolerancia el riesgo<br>
                Guía de apetito al riesgo</td>
            <td>Escenarios de riesgo documentados por línea de negocio y función</td>
            <td>Interno</td>
        </tr>
        <tr>
            <td>APO10.04</td>
            <td>Riesgo de entrega de proveedores identificado</td>
            <td rowspan="2">Perfil de riesgo agregado, incluyendo el estado de las acciones de gestión del riesgo</td>
            <td rowspan="2">EDM03.02<br>
                APO02.02</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="5">Actividades</td>
        </tr>
        <tr>
            <td colspan="5">1. Inventariar los procesos de negocio, incluyendo el personal de soporte, aplicaciones,
                instalaciones, registros manuales críticos, vendedores, proveedores y externalizados y documentar la
                dependencia de los procesos de gestión de servicio TI y de los recursos de infraestructuras TI.</td>
        </tr>
        <tr>
            <td colspan="5">2. Desterminar y acordar qué servicio TI y recursos de infraestructuras de TI son esenciales
                para sostener la operación de procesos de negocio. Analizar dependencias e identificar estabones
                débiles.</td>
        </tr>
        <tr>
            <td colspan="5">3. Agregar escenarios de riesgo actuales, por categoría, línea de negocio y área funcional.
            </td>
        </tr>
        <tr>
            <td colspan="5">4. De forma regular, capturar toda la información sobre el perfil de riesgo y consolidaría
                dentro de un perfil de riesgo agregado.</td>
        </tr>
        <tr>
            <td colspan="5">5. Sobre la base de todos los datos del perfil de riesgo, definir un conjunto de indicadores
                de riesgo que permitan la identificación rápida y la supervisión del riesgo actual y las tendencias de
                riesgo.</td>
        </tr>
        <tr>
            <td colspan="5">6. Capturar información sobre eventos de riesgos de TI que se han materializado, para su
                inclusión en el perfil de riesgo de TI de la empresa.</td>
        </tr>
        <tr>
            <td colspan="5">7. Capturar información sobre el estado del plan de acción del riesgo, para la inclusión en
                el perfil de riesgo de TI de la empresa.</td>
        </tr>
        <th>
            Prácticas de Gestión
        </th>
        <th colspan="2">
            Entradas
        </th>
        <th colspan="2">
            Salidas
        </th>
        <tr>
            <td rowspan="4">
                APO12.04 Expresar el riesgo.<br>
                Proporcionar información sobre el estado actual de exposiciones y oportunidades relacionadas con TI de
                una forma oportuna a todas las partes interesadas necesarias para una respuesta apropiada.
            </td>
            <td>De</td>
            <td>Descripción</td>
            <td>Descripción</td>
            <td>A</td>
        </tr>
        <tr>
            <td rowspan="3"></td>
            <td rowspan="3"></td>
            <td>Análisis de riesgos e informes del perfil de riesgos para las partes interesadas</td>
            <td>EDM03.03<br>
                EDM05.02<br>
                APO10.04<br>
                MEA02.08</td>
        </tr>
        <tr>
            <td>Revisión de resultados de evaluaciones de riesgos de terceras partes</td>
            <td>EDM03.03<br>
                APO10.04<br>
                MEA02.01</td>
        </tr>
        <tr>
            <td>Oportunidades para la aceptación de un riesgo mayor</td>
            <td>EDM03.03</td>
        </tr>
        <tr>
            <td colspan="5">Actividades</td>
        </tr>
        <tr>
            <td colspan="5">1. Informar de los resultados del análisis de riesgos a todas las partes interesadas
                afectadas en términos y formatos útiles para soportar las decisiones de empresa. Cuanto sea posible,
                incluir probabilidades y rangos de pérdida o ganancia junto con niveles de confianza que permitan a la
                dirección equilibrar el retorno del riesgo.</td>
        </tr>
        <tr>
            <td colspan="5">2. Proporcionar a los responsables de toma de decisiones un entendimiento de los escenarios
                peor y más probable, exposiciones de dirigencia debida y consideraciones sobre la reputación, legales y
                regulatorias significativas.</td>
        </tr>
        <tr>
            <td colspan="5">3. Informar el perfil de riesgo actual a todas las partes interesadas, incluyendo la
                efectividad del proceso de gestión de riesgos, la efectividad de los controles, deferencias,
                inconsistencias, redundancias, estado de la remediación y sus impactos en el perfil de riesgo.</td>
        </tr>
        <tr>
            <td colspan="5">4. Revisar los resultados de evaluaciones objetivas de terceras partes, auditorías internas
                y revisiones del aseguramiento de la calidad y mapearlos con el perfil de riesgo. Revisar las
                diferencias y exposiciones identificadas para determinar la necesidad de análisis de riesgo adicionales.
            </td>
        </tr>
        <tr>
            <td colspan="5">5. De forma periódica, para áreas con un riesgo relativo y una paridad de capacidad del
                riesgo, identificar oportunidades relacionadas con TI que podrían permitir la aceptación de un mayor
                riesgo y un crecimiento y retorno mayores.</td>
        </tr>
        <th>
            Prácticas de Gestión
        </th>
        <th colspan="2">
            Entradas
        </th>
        <th colspan="2">
            Salidas
        </th>
        <tr>
            <td rowspan="2">
                APO12.05 Definir un portafolio de acciones para la gestión de riesgos.<br>
                Gestionar las oportunidades para reducir el riesgo a un nivel aceptable como un portafolio.
            </td>
            <td>De</td>
            <td>Descripción</td>
            <td>Descripción</td>
            <td>A</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Propuestas de proyecto para reducir el riesgo</td>
            <td>APO02.02<br>
                APO13.02</td>
        </tr>
        <tr>
            <td colspan="5">Actividades</td>
        </tr>
        <tr>
            <td colspan="5">1. Mantener un inventario de actividades de control que estén en marcha para gestionar al
                riesgo y que permitan que el riesgo que se tome esté alineado con el apetito y tolerancia al riesgo.
                Clasificar las actividades de control y mapearlas con las declaraciones de riesgo especificas de TI y
                agrupaciones de riesgo de TI.</td>
        </tr>
        <tr>
            <td colspan="5">2. Determinar si cada entidad organizativa supervisa el riesgo y acepta la responsabilidad
                para operar dentro de sus niveles de tolerancia individuales y de portafolio.</td>
        </tr>
        <tr>
            <td colspan="5">3. Definir un conjunto de propuestas de proyecto equilibradas diseñadas para reducir el
                riesgo y/o proyectos que permitan oportunidades estratégicas empresariales, considerando
                costes/beneficio, el efecto en el perfil de riesgo actual y las regulaciones.</td>
        </tr>
    </table>
</body>

</html><br>
<nav aria-label="Page navigation example " class="container" style="width: 812%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">APOO12</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo12tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/Apo012raci">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo12tabla2">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo12tabla3">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo12tabla4">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo12tabla5">12</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
      
    </ul>
  </nav>
