<div class="container">
    <table class="table">
        <thead class="theader">
        <tr>
            <td class="titulos" scope="col" colspan="5">DSS04 Prácticas, Entradas/Salidas y Actividades del Proceso (cont.)</td>
        </tr>
    </thead>
<tr>
    <td style="text-align:center" class="fondo2">Práctica de Gestión</td>
    <td  style="text-align:center" class="fondo2" colspan="2">Entradas</td>
    <td style="text-align:center" class="fondo2" colspan="3">Salidas</td>
</tr>
<th scope="row" rowspan="4">DSS04.05 Revisar, mantener y mejorar el plan de
    continuidad.
    <p class="texto">Realizar una revisión por la Dirección de la capacidad
        de continuidad a intervalos regulares para asegurar su continua a
        intervalos regulares para asegurar su continua idoneidad, adecuación
        y efectividad. Gestionar los cambios en el plan de acuerdo al proceso
        de control de cambios para asegurar que el plan de continuidad se
        mantiene actualizado y refleja continuamente los requerimientos
        actuales del negocio.
    </p>
</th>
<tr>
    <td style="text-align: center;">De</td>
        <td style="text-align: center;">Descripción</td>
        <td style="text-align: center;">Descripción</td>
        <td style="text-align: center;">A</td>
</tr>
<tr>
    <td rowspan="2"></td>
    <td rowspan="2"></td>
    <td>Resultados de las revisiones de los planes</td>
    <td>Interno</td>
</tr>
<tr>
    <td>Cambios recomendados a los planes</td>
    <td>Interno</td>
</tr>
<tr>
    <td colspan="5" style="text-align:center" class="fondo">Actividades</td>
</tr>
<tr>
    <td colspan="5">1. Revisar el plan y la capacidad de continuidad de 
        forma regular frente a las asunciones hechas y los objetivos de 
        negocio actuales, tanto estratégicos como operativos.</td>
</tr>
<tr>
    <td colspan="5">2. Considerar si es necesario una revisión del análisis 
        de impacto en el negocio, dependiendo en la naturaleza de los cambios.</td>
</tr>
<tr>
    <td colspan="5">3. Recomendar y comunicar los cambios en la política, planes, 
        procedimientos, infraestructura, roles y responsabilidades para la 
        aprobación de la dirección y su realización mediante el proceso de 
        gestión de cambios.</td>
</tr>
<tr>
    <td colspan="5">4. Revisar el plan de continuidad regularmente para considerar 
        el impacto de cambios nuevos o mayores en: organización de la empresa, 
        procesos de negocio, acuerdos de externalización, tecnologías, 
        infraestructura, sistemas operativos y sistemas de aplicaciones.</td>
</tr>
</table>
</div>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">HOME</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/listraci04">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla2">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla3">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla4">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla5">6</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla6">7</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla7">8</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla8">9</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla9">10</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla10">11</a></li>
      <li class="page-item"><a class="page-link" href="/dsso4tabla7">Next</a></li>
      
    </ul>
  </nav><br>
