
<table class="container" style="width: 85%;">
    <thead>
        
            
              <tr>
                <td class="azultabla1" colspan="6">BAI04 Practicas, Entradas/Salidas y Actividades del Proceso</td>
              </tr>
    <th class="celeste2tabla1">
        Práctica de Gestión
    </th>
    <th colspan="2" class="celeste2tabla1">
        Entradas
    </th>
    <th colspan="2" class="celeste2tabla1">
        Salidas
    </th>
    </thead>
    <tr>
        <td rowspan="7" class="texto"> <strong> BAI04.04 Supervisar y revisar la disponibilidad y la capacidad
            </strong>  <br>  
            Supervisar, medir, analizar, informar y revisar la 
            <br> disponibilidad, el rendimiento y la capacidad. Identificar
            <br> desviaciones respecto a las líneas de referencia
            <br> establecidas. Revisar informes de análisis de tendencias, 
            <br> identificando cualquier cuestión y variación significativa, 
            <br> iniciando acciones donde sea necesario y asegurando 
            <br> que se realiza el seguimiento de todas las cuestiones 
            <br> pendientes,
               
            </td>
        <td><b>De</b></td>
        <td><b>Descripción</b></td>
        <td><b>Descripción</b></td>
        <td><b>A</b></td>
    </tr>
    <tr>
        <td ></td>
        <td ></td>
        <td class="texto">Informes de disponibilidad y rendimiento</td>
        <td class="texto"><a routerLink="mea01b">MEA01.03</a></td>
    </tr>
    
</table>
<table class="container" style="width: 85%;">
    <thead>
    <tr>
        <td class="celeste2tabla1">Actividades</td>
    </tr>
    </thead>
    <tr>
        <td class="texto">1. Establecer un proceso de recolección de datos para proporcionar a la dirección de la información de seguimiento e informes de la carga de trabajo de 
            <br> disponibilidad, rendimiento y capacidad de todos los recursos relacionados con la información.
            </td>
    </tr>
    <tr>
        <td class="texto">2. Proporcionar información periódica de los resultados en una forma apropiada para su revisión por las TI y la gestión del negocio y comunicar a la <br>
            dirección empresarial.
           </td>
    </tr>
    <tr>
        <td class="texto">3. Integrar las actividades de supervisión e información en las actividades literativas de gestión de la capacidad (supervisión análisis, ajuste e implementaciones).<br>
        
        </td>
    </tr>
    <tr>
        <td class="texto">4. Proveer informes de capacidad para los procesos de presupuesto.<br>
        
        </td>
    </tr>
</table>
<table class="container" style="width: 85%;">
    <thead>
        
    <th class="celeste2tabla1">
        Práctica de Gestión
    </th>
    <th colspan="2" class="celeste2tabla1">
        Entradas
    </th>
    <th colspan="2" class="celeste2tabla1">
        Salidas
    </th>
    </thead>
    <tr>
        <td rowspan="7" class="texto"> <strong> BAI04.05 Investigar y abordar cuestiones de 
            <br> disponibilidad, rendimiento y capacidad.
            </strong>  <br> 
           Abordar las desviaciones investigando y resolviendo
            <br> las cuestiones identificadas relativas a disponibilidad, 
            <br> rendimiento y capacidad.      
            </td>
        <td><b>De</b></td>
        <td><b>Descripción</b></td>
        <td><b>Descripción</b></td>
        <td><b>A</b> </td>
    </tr>
    <tr>
        <td rowspan="3"></td>
        <td rowspan="3"></td>
        <td  class="texto">Brechas de rendimiento y capacidad </td>
        <td  class="texto">Interno</td>
    </tr>
    <tr>
        <td  class="texto" >Acciones correctivas</td>
        <td  class="texto"> <a routerLink="/pagina59"> APO02.02</a></td>
    </tr>
    <tr>
        <td  class="texto">Procedimiento de escalado ante emergencias</td>
        <td  class="texto"> <a routerLink="/dsso2tabla2"> DSS02.02</a></td>
    </tr>
    
   
    
   
</table>
<table class="container" style="width: 85%;">
    <thead>
    <tr>
        <td class="celeste2tabla1">Actividades</td>
    </tr>
    </thead>
    <tr>
        <td class="texto">1. Obtener la orientación de manuales de productos de proveedores para garantizar un nivel adecuado de rendimiento de disponibilidad para picos de<br>
        procesamiento de cargas de trabajo.    </td>
    </tr>
    <tr>
        <td class="texto">2. Identificar brechas de rendimiento y capacidad sobre la base de la monotorización del rendimiento actual y previsto. Utilicar las especificaciones de 
            <br> disponibilidad, continuidad y recuperación conocidas para clasificar los recursos y permitir la priorización. <br>
             
           </td>
    </tr>
    <tr>
        <td class="texto">3.Definir  acciones correctivas (ej. cambiando la carga de trabajo, dando prioridad a las tareas o la adición de recursos, cuando se identifican los problemas de rendimiento y capacidad).
        </td>
    </tr>
    <tr>
        <td class="texto">4. Integrar acciones correctivas requeridas dentro de los procesos apropiados de planificación y gestión de cambios. 
            
            </td>
    </tr>
    <tr>
        <td class="texto">5. Definir un procedimiento de escalado para la resolución rápida en emergencias en caso de problemas de capacidad y rendimiento. 
            
            </td>
    </tr>
</table>
<br>
<table class="container" style="width: 85%;">
<tr>
    <td class="azultabla1" colspan="2">BAi04 Guías relacionadas</td>
</tr>
<th class="celeste2tabla1">
    Estándar Relacionado
</th>
<th class="celeste2tabla1">
    Referencia detallada
</th>
<tr>
    <td class="texto">ISO/IEC 200000</td>
    <td>6.3 Gestión de la disponibilidad y continuidad del servicio</td>
</tr>
<tr>
    <td class="texto">ITIL V3 2011</td>
    <td class="texto">8. GEstión de la disponibilidad</td>

</tr>
</table>
<br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/pagina141">BAI04</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina142">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina143">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina144">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="">Next</a></li>
      
    </ul>
  </nav><br>

