<div id="DSS0301" class="container">
    <table class="table">
        <thead class="theader">
        <tr>
            <td class="titulos" scope="col" colspan="5">DSS03 Prácticas, Entradas/Salidas y Actividades del Proceso</td>
        </tr>
    </thead>
    <thead style="text-align:center" class="fondo2">
    <tr>
        <td class="titulos" scope="col">Prácticas de Gestión</td>
        <td class="titulos" scope="col" colspan="2">Entradas</td>
        <td class="titulos" scope="col" colspan="2">Salidas</td>
    </tr>
</thead>
    <tr>
        <th  scope="row" rowspan="4">DSS03.01 Identificar y clasificar
            problemas.
            <p class="texto">Definir e implementar criterios y procedimientos para
                informar de los problemas identificados, incluyendo clasificación,
                categorización y priorización de problemas.
            </p>
        </th>
        <td style="text-align: center;">De</td>
        <td style="text-align: center;">Descripción</td>
        <td style="text-align: center;">Descripción</td>
        <td style="text-align: center;">A</td>
    </tr>
    <tr>
        <td><a href="apo12tabla5">APO12.06</a></td>
        <td>Causas raíz relacionadas con riesgos</td>
        <td>Esquema de clasificación de problemas</td>
        <td><a href="dsso2tabla2">DSS02.01</a></td>
    </tr>
    <tr>
        <td><a href="dsso2tabla5">DSS02.04</a></td>
        <td>Registro de problemas</td>
        <td>Registro de problemas</td>
        <td><a href="dsso2tabla8">DSS02.07</a></td>
    </tr>
    <tr>
        <td><a href="dsso2tabla2">DSS02.01</a></td>
        <td>Criterios para el registro de problemas</td>
        <td>Informes de estado de problemas</td>
        <td>Interno</td>
    </tr>
    <tr>
        <td colspan="5"  style="text-align:center" class="fondo">Actividades</td>
    </tr>
    <tr>
        <td colspan="5">1. Identificar problemas a través de la correlación de 
            informes de incidentes, registros de error y otros recursos de 
            identificación de problemas. Determinar niveles de prioridad y 
            categorización para dedicarse a la resolución de problemas en tiempo 
            basándose en los riesgos de negocio y en la definición del servicio.
        </td>
    </tr>
    <tr>
        <td colspan="5">2. Manejar formalmente todos los problemas con acceso a 
            todos los datos relevantes, incluyendo información sobre el sistema de 
            gestión de cambios los detalles de incidentes sobre configuración/activos 
            TI.
        </td>
    </tr>
    <tr>
        <td colspan="5">3. Definir grupos de soporte adecuados para ayudar en la 
            identificación de problemas, en el análisis de la causa raiz, y en la 
            determinación de la solución, para respaldar la gestión de problemas. 
            Determinar grupos de soporte basados en categorías predefinidas, tales 
            como hardware, redes, software, aplicaciones y software de soporte. 
        </td>
    </tr>
    <tr>
        <td colspan="5">4. Definir niveles de prioridad mediante consultas con el 
            negocio para asegurar que la identificación de problemas y el análisis 
            de la causa raíz se llevan a cabo a tiempo de acuerdo con los ANSS 
            acordados. Basar los niveles de prioridad en el impacto en el negocio 
            y en la urgencia.
        </td>
    </tr>
    <tr>
        <td colspan="5">Informar del estado de problemas identificados al centro de 
            servicios de forma que los clientes y la gestión de TI pueden mantenerse 
            informados.
        </td>
    </tr>
    <tr>
        <td colspan="5">6. Mantener un catálogo de gestión de problemas único para 
            registrar e informar sobre problemas identificados y para establecer 
            pistas de auditoria sobre los procesos de gestión de problemas, 
            incluyendo el estado de cada problema (p. ej., abierto, reabierto, 
            en progreso o cerrado).</td>
    </tr>
</table>
</div>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">Home</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso3tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/listraci03">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso3tabla2">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso3tabla3">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso3tabla4">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso3tabla5">6</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso3tabla6">7</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso3tabla7">8</a></li>
      <li class="page-item"><a class="page-link" href="/dsso3tabla3">Next</a></li>
      
    </ul>
  </nav><br>

