<div>
    <span class="titulo" class="d-grid gap-2 col-4  mx-auto ">{{title}}</span>
    <form [formGroup]="apoForm" (ngSubmit)="agregarApo()" class="container bg-light bc row row-cols-1 row-cols-lg-4 g-1 g-lg-2" style="height: 10px;" style="width: 60%;" style="margin: 35px   190px;">
        <div class="form-group">
            <input type="text" formControlName="wa" class="form-control" placeholder="wa">
            <div class="validacion"
               *ngIf="apoForm.get('wa')?.hasError('required') && apoForm.get('wa')?.touched">
               <span>Este campo<b> es obligatorio</b></span>
            </div>  
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p><br>
        <div class="form-group">
            <input type="text" formControlName="wb" class="form-control" placeholder="wb">
            <div class="validacion"
                *ngIf="apoForm.get('wb')?.hasError('required') && apoForm.get('wb')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>  
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p><br>
        <div class="form-group">
            <input type="text" formControlName="wc" class="form-control" placeholder="wc">
            <div class="validacion"
                *ngIf="apoForm.get('wc')?.hasError('required') && apoForm.get('wc')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>  
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="wd" class="form-control" placeholder="wd">
            <div class="validacion"
                 *ngIf="apoForm.get('wd')?.hasError('required') && apoForm.get('wd')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="we" class="form-control" placeholder="we">
            <div class="validacion"
                 *ngIf="apoForm.get('we')?.hasError('required') && apoForm.get('we')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="wf" class="form-control" placeholder="wf">
            <div class="validacion"
                 *ngIf="apoForm.get('wf')?.hasError('required') && apoForm.get('wf')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="wg" class="form-control" placeholder="wg">
            <div class="validacion"
                 *ngIf="apoForm.get('wg')?.hasError('required') && apoForm.get('wg')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="wh" class="form-control" placeholder="wh">
            <div class="validacion"
                 *ngIf="apoForm.get('wh')?.hasError('required') && apoForm.get('wh')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="wi" class="form-control" placeholder="wi">
            <div class="validacion"
                 *ngIf="apoForm.get('wi')?.hasError('required') && apoForm.get('wi')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="wj" class="form-control" placeholder="wj">
            <div class="validacion"
                 *ngIf="apoForm.get('wj')?.hasError('required') && apoForm.get('wj')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="wk" class="form-control" placeholder="wk">
            <div class="validacion"
                 *ngIf="apoForm.get('wk')?.hasError('required') && apoForm.get('wk')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="wl" class="form-control" placeholder="wl">
            <div class="validacion"
                 *ngIf="apoForm.get('wl')?.hasError('required') && apoForm.get('wl')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="wm" class="form-control" placeholder="wm">
            <div class="validacion"
                 *ngIf="apoForm.get('wm')?.hasError('required') && apoForm.get('wm')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="wn" class="form-control" placeholder="wn">
            <div class="validacion"
                 *ngIf="apoForm.get('wn')?.hasError('required') && apoForm.get('wn')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="wnn" class="form-control" placeholder="wnn">
            <div class="validacion"
                 *ngIf="apoForm.get('wnn')?.hasError('required') && apoForm.get('wnn')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="wo" class="form-control" placeholder="wo">
            <div class="validacion"
                 *ngIf="apoForm.get('wo')?.hasError('required') && apoForm.get('wo')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="wp" class="form-control" placeholder="wp">
            <div class="validacion"
                 *ngIf="apoForm.get('wp')?.hasError('required') && apoForm.get('wp')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="wq" class="form-control" placeholder="wq">
            <div class="validacion"
                 *ngIf="apoForm.get('wq')?.hasError('required') && apoForm.get('wq')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="wr" class="form-control" placeholder="wr">
            <div class="validacion"
                 *ngIf="apoForm.get('wr')?.hasError('required') && apoForm.get('wr')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="ws" class="form-control" placeholder="ws">
            <div class="validacion"
                 *ngIf="apoForm.get('ws')?.hasError('required') && apoForm.get('ws')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="wt" class="form-control" placeholder="wt">
            <div class="validacion"
                 *ngIf="apoForm.get('wt')?.hasError('required') && apoForm.get('wt')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="wu" class="form-control" placeholder="wu">
            <div class="validacion"
                 *ngIf="apoForm.get('wu')?.hasError('required') && apoForm.get('wu')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="wv" class="form-control" placeholder="wv">
            <div class="validacion"
                 *ngIf="apoForm.get('wv')?.hasError('required') && apoForm.get('wv')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="ww" class="form-control" placeholder="ww">
            <div class="validacion"
                 *ngIf="apoForm.get('ww')?.hasError('required') && apoForm.get('ww')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="wx" class="form-control" placeholder="wx">
            <div class="validacion"
                 *ngIf="apoForm.get('wx')?.hasError('required') && apoForm.get('wx')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="wy" class="form-control" placeholder="wy">
            <div class="validacion"
                 *ngIf="apoForm.get('wy')?.hasError('required') && apoForm.get('wy')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>  
          </div> 
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>

        <div>
          <button routerLink="/listar-apo"  class="btn btn-secondary">Volver</button>  &nbsp;
          <button type="submit" class="btn btn-success"  [disabled]="apoForm.invalid">Aceptar</button><hr>
      </div><br>
    </form>
</div>


