<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>localhost4200</title>

</head>


<body>
  <div class="tabla3">
    <table class="table table-bordered">
     <thead>
       <tr>
         <th class="azultabla1" colspan="6"><a href="edm01tabla1">EDMO1</a> Prácticas, actividades y entradas/salidas del Proceso (cont.)</th>
       </tr>
     </thead>
     <tbody>
       <tr>
         <th class="celestetabla1" colspan="2">Práctica de gobierno</th>
         <th class="celestetabla1" colspan="2">Entradas</th>
         <th class="celestetabla1" colspan="2">Salidas</th>
       </tr>
       <tr>
         <td rowspan="4" colspan="2"><a href="edm01tabla1">EDM01.01</a> Evaluar el sistema de gobierno. Identificar y comprometerse continuamente con las 
           partes interesadas de la empresa, documentar la comprensión de los requerimientos y realizar una estimación del 
           actual y futuro diseño del gobierno de TI de la empresa.</td>
           <th colspan="1">De</th>
           <th colspan="1">Descripción</th>
           <th colspan="1">Descripción</th>
           <th colspan="1">A</th>
       </tr>
       <tr>
         <td colspan="1">MEA03.02</td>
         <td colspan="1">Comunicaciones de los requerimientos de cumplimiento modificados</td>
         <td colspan="1">Principios de directrices del gobierno de la empresa</td>
         <td colspan="1">
           Todo 
           <p><a href="edm01tabla1">EDM</a></p>
           <p><a href="pagina51">APO01.01</a></p>
           <p><a href="pagina51">APO01.03</a></p> </td>
       </tr>
       <tr>
         <td rowspan="2" colspan="1">Fuera del Ámbito de COBIT</td>
         <td rowspan="2" colspan="1"> <p>• Tendencias en el entorno del negocio</p>
           <p>• Regulaciones</p>   
           <p>• Gobierno/modelo de toma de decisiones</p> 
           <p>• Constitución/normas/estatutos de la organización</p> </td>
         <td colspan="1">Modelo de toma de decisiones</td>
         <td colspan="1">Todo 
          <p><a href="edm01tabla1">EDM</a></p>
          <p><a href="pagina51">APO01.01</a></p> </td>
       </tr>
       <tr>
         <td colspan="1">Niveles de Autoridad</td>
         <td colspan="1">Todo 
          <p><a href="edm01tabla1">EDM</a></p>
          <p><a href="pagina51">APO01.01</a></p></td>
       </tr>
       <tr>
         <th class="celestetabla1" colspan="6">Actividades</th>
       </tr>
       <tr>
         <td colspan="6">1. Analizar e identificar los factores del entorno interno y externo (obligaciones legales, 
           contractuales y regulatorias) y tendencias en el entorno del negocio que pueden influir en el diseño del gobierno.</td>
       </tr>
       <tr>
         <td colspan="6">2. Determinar la relevancia de TI y su papel con respecto al negocio.</td>
       </tr>
       <tr>
         <td colspan="6">3. Considerar las regulaciones externas, obligaciones legales y contractuales y determinar cómo deben 
           ser aplicadas en del gobierno de TI de la empresa.</td>
       </tr>
       <tr>
         <td colspan="6"> 4. Alinear el uso y el procesamiento ético de la información y su impacto en la sociedad, en el entorno 
           natural y en los intereses de las partes interesadas internas y externas con los objetivos, visión y dirección de la empresa. </td>
       </tr>
       <tr>
         <td colspan="6">5. Determinar las implicaciones del entorno de control conjunto de la empresa con respecto a TI. </td>
       </tr>
       <tr>
         <td colspan="6">6. Articular los principios que guiarán el diseño de la toma de decisiones sobre el gobierno de TI. </td>
       </tr>
       <tr>
         <td colspan="6">7. Comprender la cultura empresarial de la toma de decisiones y determinar un modelo óptimo en la toma de 
           decisiones para TI. </td>
       </tr>
       <tr>
         <td colspan="6">8. Determinar los niveles apropiados para la delegación de autoridad, incluyendo reglas de umbrales, 
           para las decisiones de TI.</td>
       </tr>
       <tr>
         <th class="celestetabla1" colspan="2">Práctica de Gobierno</th>
         <th class="celestetabla1" colspan="2">Entradas</th>
         <th class="celestetabla1" colspan="2">Salidas</th>
       </tr>
       <tr>
         <td rowspan="3" colspan="2"><a href="edm01tabla1">EDM01.02</a> Orientar el sistema de gobierno. Informar a los líderes y obtener su apoyo, 
           su aceptación y su compromiso. Guiar las estructuras, procesos y prácticas para el gobierno de Tl en linea con los principios, 
           modelos para la toma de decisiones y niveles de autoridad diseñados para el gobierno. Definir la información necesaria para una 
           toma de decisiones informadas.</td>
         <th colspan="1">De</th>
         <th colspan="1">Descripción</th>
         <th colspan="1">Descripción</th>
         <th colspan="1">A</th>
       </tr>
       <tr>
         <td rowspan="2" colspan="1"></td>
         <td rowspan="2" colspan="1"></td>
         <td colspan="1">Comunicaciones del Gobierno de la Empresa</td>
         <td colspan="1">Todo 
          <p><a href="edm01tabla1">EDM</a></p>
          <p><a href="pagina51">APO01.01</a></p></td>
       </tr>
       <tr>
         <td colspan="1">Enfoque de sistema de recompensa</td>
         <td colspan="1">Todo 
          <p><a href="edm01tabla1">EDM</a></p>
          <p><a href="apo7tabla1">APO07.03</a></p>
          <p><a href="apo7tabla1">APO07.04</a></p> </td>
       </tr>
       <tr>
         <th class="celestetabla1" colspan="6">Actividades</th>
       </tr>
       <tr>
         <td colspan="6">1. Comunicar los principios del gobierno de TI y acordar con el gestor ejecutivo la 
           manera de establecer un liderazgo informado y comprometido.</td>
       </tr>
       <tr>
         <td colspan="6">2. Establecer o delegar el establecimiento de las estructuras, procesos y prácticas del gobierno en línea 
           con los principios de diseño acordados.</td>
       </tr>
       <tr>
         <td colspan="6">3. Asignar responsabilidad, autoridad y la responsabilidad de que se apliquen los principios de diseños de gobierno, 
           los modelos de toma de decisión y de delegación acordados.</td>
       </tr>
       <tr>
         <td colspan="6">4. Garantizar que los mecanismos de notificación y de comunicación proporcionan información adecuada a aquellos con 
           la responsabilidad de la supervisión y toma de decisiones.</td>
       </tr>
       <tr>
         <td colspan="6">5. Orientar al personal para que siga las directrices relevantes para un comportamiento ético y profesional y 
           garantizar que las consecuencias del no cumplimiento se conocen y se respetan.</td>
       </tr>
       <tr>
         <td colspan="6">6. Orientar el establecimiento de un sistema de recompensa para promover el cambio cultural deseable.</td>
       </tr>
     </tbody>
   </table>
 </div>
</body>

</html>

<br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">EDM01</a></li>
      <li class="page-item"><a class="page-link" href="edm01tabla1">1</a></li>
      <li class="page-item"><a class="page-link" href="edm01tabla2">2</a></li>
      <li class="page-item"><a class="page-link" href="edm01tabla3">3</a></li>
      <li class="page-item"><a class="page-link" href="edm01tabla4">4</a></li>
      <li class="page-item"><a class="page-link" href="edm01tabla5">5</a></li>
      <li class="page-item"><a class="page-link" href="edm01tabla4">Next</a></li>
      
    </ul>
  </nav><br>

