<table class="container" style="width: 85%;">
    <thead>
        
            
              <tr>
                <td class="azultabla1" colspan="6">BAI04 Practicas, Entradas/Salidas y Actividades del Proceso</td>
              </tr>
    <th class="celeste2tabla1">
        Práctica de Gestión
    </th>
    <th colspan="2" class="celeste2tabla1">
        Entradas
    </th>
    <th colspan="2" class="celeste2tabla1">
        Salidas
    </th>
    </thead>
    <tr>
        <td rowspan="7" class="text"> <strong> BAI04.02 Evaluar el impacto en el negocio
            </strong>  <br>  
            Identificar los servicios importantes para la empresa
            <br> mapear los servicios y recuros con los procesos de negocio e identificar las dependencias del negocio.
            <br> Asegurar que el impacto de la indisponibilidad de recursos de 
            <br> recursos está acordado y aceptado por el cliente.
            <br> Asegurar que, para ñas funciones vitales del negocio, los 
            <br> requisitos de disponibilidad definidos en el ANS pueden ser satisfechos.      
            </td>
        <td><b>De</b></td>
        <td><b>Descripción</b></td>
        <td><b>Descripción</b></td>
        <td><b>A</b></td>
    </tr>
    <tr>
        <td rowspan="2" class="texto"><a routerLink="/pagina135">BAI03.02</a></td>
        <td rowspan="2" class="texto">ANSs internos y externos</td>
        <td class="texto">Escenarios de disponibilidad, rendimiento y capacidad</td>
        <td class="texto">Interno</td>
    </tr>
    <tr>
        
        <td class="texto">Evaluaciones de impacto en el negocio de disponibilidad, rendimiento y capacidad</td>
        <td class="texto">  Interno</td>
    </tr>
   
</table>
<table class="container" style="width: 85%;">
    <thead>
    <tr>
        <td class="celeste2tabla1">Actividades</td>
    </tr>
    </thead>
    <tr>
        <td class="texto">1. Identificar solamente aquellas soluciones o servicios que son críticas para los procesos de gestión de la disponibilidad y la capacidad.
            </td>
    </tr>
    <tr>
        <td class="texto">2. Realizar un mapa de las soluciones o servicios seleccionados con la(s) aplicación(es) e infraestructura (TI y de instalaciones) de los que dependen, <br>
             para permitir un enfoque en los recursos críticos para la planificación de la disponibilidad.
           </td>
    </tr>
    <tr>
        <td class="texto">3. Recolectar datos de patrones de disponibilidad de los registros de fallos pasados y de la monitorización del rendimiento. <br>
             Utilizar herramientas de modelado que ayuden a predecir fallos basados  en tendencias de utilización en el pasado y expectativas de la dirección sobre nuevos entornos o <br>
             condiciones de los usuarios.
        </td>
    </tr>
    <tr>
        <td class="texto">4. Crear escenarios basados en datos recolectados, describiendo situaciones de disponibilidad futura para ilustrar varios niveles de capacidad <br>
            potenciales necesarios para alcanzar objetivo de rendimiento de la disponibilidad.
            </td>
    </tr>
    <tr>
        <td class="texto">5. Determinar la probabilidad de que el objetivo de rendimiento  de la disponibilidad no serpa alcanzado basado en los escenarios.
        </td>
    </tr>
    <tr>
        <td class="texto">6. Determinar el impacto de los escenarios en las medidas de rendimiento del negocio (ej. ingresos, beneficios, servicios a clientes). Involucrar a la linea <br>
             de negocio, líderes funcionales (especialmente finanzas) y regionales para comprender su evaluación de impacto.
            </td>
    </tr>
    <tr>
        <td class="texto">7. Asegurar que los propietarios de procesos de negocio comprenden completamente y están de acuerdo con los resultados del análisis. Obtener una <br>
             lista de escenarios de riesgo inaceptables de los propietarios de negocio que requieran una respuesta para reducir el riesgo a niveles aceptables.
           </td>
    </tr>
    </table>

    <table class="container" style="width: 85%;">
        <thead>
            
        <th class="celeste2tabla1">
            Práctica de Gestión
        </th>
        <th colspan="2" class="celeste2tabla1">
            Entradas
        </th>
        <th colspan="2" class="celeste2tabla1">
            Salidas
        </th>
        </thead>
        <tr>
            <td rowspan="7" class="texto"> <strong> BAI04.03 Planificar requisitos de servicios nuevos o modificados.<br>
                </strong>  <br> 
                Planificar y priorizar las implicaciones en la 
                <br> disponibilidad, el rendimiento y la capacidad de cambios 
                <br> en las necesidades del negocio y en los requerimientos 
                <br> de servicio       
                </td>
            <td>De</td>
            <td>Descripción</td>
            <td>Descripción</td>
            <td>A</td>
        </tr>
        <tr>
            <td class="texto"><a routerLink="/pagina130">BAI02.01</a></td>
            <td class="texto">Criterios de aceptación confirmados de las partes</td>
            <td class="texto">Mejoras priorizadas </td>
            <td class="texto"><a routerLink="/pagina59"> APO02.02</a></td>
        </tr>
        <tr>
            <td class="texto"><a routerLink="/pagina133">BAI03.01</a></td>
            <td class="texto">Especificaciones de diseño de alto nivel aprobadas</td>
            <td rowspan="3"  class="texto">Planes de capacidad y rendimiento</td>
            <td rowspan="3" class="texto"> <a routerLink="/pagina59"> APO02.02</a></td>
        </tr>
        <tr>
            <td class="texto"><a routerLink="/pagina135">BAI03.02</a></td>
            <td class="texto">Especificaciones de diseño detallado aprobadas</td>
        </tr>
        <tr>
            <td class="texto"><a routerLink="/pagina136">BAI03.03</a></td>
            <td class="texto">Componentes de la solución aprobados</td>
        </tr>
       
        
       
    </table>
    <table class="container" style="width: 85%;">
        <thead>
        <tr>
            <td class="celeste2tabla1">Actividades</td>
        </tr>
        </thead>
        <tr>
            <td class="texto">1. Revisar las implicaciones en la disponibilidad y la capacidad del análisis de tendencias del servicio<br>
                </td>
        </tr>
        <tr>
            <td class="texto">2. Identificar las implicaciones en la disponibilidad y la caoacidad de cambios en las necesidades del negocio y oportunidades de mejora. Utilizar <br>
                 técnicas de modelado para validar los planes de disponibilidad, rendimiento y capacidad.
               </td>
        </tr>
        <tr>
            <td class="texto">3. Priorizar las necesidades de mejora y crear planes de disponibilidad y capacidad justificables en costes.
            </td>
        </tr>
        <tr>
            <td class="texto">4. Ajustar los planes de rendimiento y capacidad y kis ANSs sobre la base de los procesos de negocio y servicios que los soportan realistas, nuevos, <br>
                propuestos o proyectados, sobre cámbios a las aplicaciones y la infraestructura, así como revisiones del rendimiento y uso de la capacidad actual, <br>
                incluyendo niveles de carga de trabajo.
                </td>
        </tr>
        <tr>
            <td class="texto">5. Asegurar que la dirección lleva a cabo comparaciones de la demanda actual de recursos con la demanda y suministros previstos para evaluar las <br>
                técnicas de previsión actuales y realizar mejoras donde sea posible.
                </td>
        </tr>
        </table>
        <br>
        <nav aria-label="Page navigation example " class="container" style="width: 87%;">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" routerLink="/pagina141">BAI04</a></li>
              <li class="page-item"><a class="page-link" routerLink="/pagina142">1</a></li>
              <li class="page-item"><a class="page-link" routerLink="/pagina143">2</a></li>
              <li class="page-item"><a class="page-link" routerLink="/pagina144">3</a></li>
              <li class="page-item"><a class="page-link" routerLink="">Next</a></li>
              
            </ul>
          </nav><br>
        
