
    

<h1 style="font-size: 10px;" style="margin:5px;" ></h1>


 <!-- ------------------------------------------------------------------------------------------------------------------------------------------------ -->
  <table class="table table-bordered container">
    <thead>
        <tr>
            <td colspan="7" class="azultabla1"><a class="nav-link" routerLink="/pagina57">AP002.02</a>  Practicas, Entradas/Salidas y Actividades del Proceso(cont.)</td>
        </tr>
    </thead>
    <tbody>
        <tr class="container">
            <th colspan="2">Prácticas de Gestión</th>
            <th colspan="2">Entradas</th>
            <th colspan="2">Salidas</th>
        </tr>
        <tr>
            <td rowspan="7" colspan="2"  >AP002.03 Definir el objetivo de las capacidades de TI.<br>
                Definir el objetivo del negocio, las capacidades de TI y los servicios de TI necesarios. Esto debería estar basado en el entendimiento del entorno empresarial y sus necesidades; la evaluación de los actuales procesos de negocio, el entorno de TI y los problemas presentados; considerando los estándares de referencia, las mejores prácticas y las tecnologías emergentes o propuestas de innovación.<br>
            <th colspan="1">De</th>
            <th colspan="1">Descripción</th>
            <th colspan="1">Descripción</th>
            <th colspan="1">A</th>
        </tr>
        <tr>
            <td rowspan="7"><a class="nav-link" routerLink="/pagina69">AP004.05</a> </td>
            <td rowspan="7">•Análisis de las iniciativas rechazadas<br>
                •Resultados y recomendaciones de las iniciativas de pruebas de concepto.
                </td>
        </tr>
        <tr>
            <td colspan="1">Objetivos de TI a alto nivel /br></td>
            <td colspan="1">Interno<br></td>
        </tr>
        <tr>
            <td colspan="1">Requerimientos del negocio y capacidades de TI</td>
            <td colspan="1"> Interno</td>
        </tr>
        <tr>
            <td colspan="1">Propuesta de cambio en la arquitectura del negocio</td>
            <td colspan="1"><a class="nav-link" routerLink="/pagina63">AP003.03</a> </td>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr>
        <tr>
            <td colspan="7" align="center" class="celeste2tabla1">Actividades
            </td>
        </tr>
        <tr>
            <td colspan="7">1.Considerar la aprobación de tecnologías emergentes e ideas innovadoras.
            </td>
        </tr>
        <tr>
            <td colspan="7">2.Identificar las amenazas por el rechazo alas actuales y nuevas tecnologías adquiridas.
            </td>
        </tr>
        <tr>
            <td colspan="7">3.Definir los objetivos/metas de TI a alto nivel y como contribuirán a los objetivos de negocio empresariales.
            </td>
        </tr>
        <tr>
            <td colspan="7">4.Definir el proceso de negocio requerido y deseado, las capacidades y los servicios de TI; describir los cambios a alto nivel en a la arquitectura empresarial (negocio, información, datos, aplicaciones y dominios tecnológicos), el negocio, los procesos y procedimientos de TI, la estructura organizativa de TI, proveedores de servicios tecnológicos, gobierno de TI y las habilidades y competencias.
            </td>
        </tr>
        <tr>
            <td colspan="7">5.Alinear y acordar los cambios en la arquitectura de empresa con el arquitecto corporativo.
            </td>
        </tr>
        <tr>
            <td colspan="7">6.Demostrar trazabilidad de la estrategia del negocio y sus necesidades.
            </td>
        </tr>
        <tr>
        </tr>
        <tr>
    <tbody style="width: 100%;" >
        <tr >
            <th class="celestetabla1" colspan="2">Prácticas de Gestión</th>
            <th class="celestetabla1" colspan="2">Entradas</th>
            <th class="celestetabla1" colspan="2">Salidas</th>
        </tr>
        <tr>
            <td rowspan="9" colspan="2">AP002.04 Realizar un análisis de diferencias<br>
            Identificar las diferencias entre el entorno actual y el deseado y considerar la alineación de activos (las capacidades que soportan los servicios9 con los resultados de negocio para optimizar la inversión y la utilización de la base de activos internos y externos.<br>
            Considerar los factores críticos de éxito que apoyan la ejecución de la estrategia.
            <th colspan="1">De</th>
            <th colspan="1">Descripción</th>
            <th colspan="1">Descripción</th>
            <th colspan="1">A</th>
        </tr>
        <tr>
            <td colspan="1"><a class="nav-link" routerLInk="/edm03tabla1"></a> EDM02.01</td>
            <td colspan="1">Evaluación de alineación estratégica</td>
            <td rowspan="1">Diferencias y cambios requeridos para alcanzar la meta de capacidad </td>
            <td rowspan="1"><a class="nav-link" routerLInk="/edm04tabla1">EDM04.01</a> <br>
               <a class="nav-link" routerLInk="/apo13tabla1">APO13.02</a> 
               <a class="nav-link" href="">BAI03.11</a> 
                </td>
        </tr>
        <tr>
            <td colspan="1"><a class="nav-link" routerLink="/pagina69">APO004.06</a> </td>
            <td colspan="1">Evaluaciones sobre el uso de enfoques innovadores</td>
            <td rowspan="1">Declaración del valor beneficio para entorno deseado</td>
            <td rowspan="1"><a class="nav-link" href="">BAI03.11</a> </td>
        </tr>
        <tr>
            <td colspan="1"><a class="nav-link" routerLink="/pagina73">APOO05.02</a> </td>
            <td colspan="1">Expectativas sobre el retorno de inversión</td>
            <td rowspan="7">Declaración del valor beneficio para entorno deseado</td>
            <td rowspan="7"><a class="nav.link" href="">BAI03.11</a> </td>
        </tr>
        <tr>
            <td colspan="1"><a class="nav-link" href="">BAI01.05</a> </td>
            <td colspan="1">Resultados del programa de supervisión de consecución de objetivos</td>
        </tr>
        <tr>
            <td colspan="1"><a nav-link href=""> BAI01.06</a></td>
            <td colspan="1">Revisión de los resultados de cambios de fase(stage-gate)</td>
        </tr>
        <tr>
            <td colspan="1"><a class="nav-link" href=""> BAI01.13</a> </td>
            <td colspan="1">Resultados de la revisión post-implementacion </td>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr>
        <tr>
            <td colspan="10" align="center">Actividades
            </td>
        </tr>
        <tr>
            <td colspan="7">1.Identificar todas las diferencias y cambios necesarios para realizar el entorno deseado.
            </td>
        </tr>
        <tr>
            <td colspan="7">2.Considerar las implicaciones a alto nivel de todas las diferencias. Considerar el valor de los posibles cambios en el negocio y capacidades de TI, servicios de TI y arquitectura empresarial y las consecuencias de no realizarlos.
            </td>
        </tr>
        <tr>
            <td colspan="7">3.Evaluar el impacto de posibles cambios en el negocio y en los modelos operativos de TI, la capacidad de investigación y desarrollo de tecnología y los programas de inversión de TI.
            </td>
        </tr>
        <tr>
            <td colspan="7">4.Mejorar la definición del entorno deseado y preparar una declaración de valor con los beneficios a percibir de ese entorno.
            </td>
        </tr>
    </table>
<br>





<nav aria-label="Page navigation  example" class="container" style="width: 87%;">
    <ul class="pagination container">
      <li class="page-item"><a class="page-link" >APOO2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina57">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/listar-productos">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina59">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina60">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina61">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina62">6</a></li>
     
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>



