<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>localhost4200</title>

</head>


<body>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th class="azultabla1" colspan="2"><a href="edm03tabla1">EDM03</a> Asegurar la optimizacion del Riesgo</th>
            <th class="azultabla1" colspan="2" >
              <p>Área: Gobierno</p>
              <p> Dominio: Evaluar, Orientar y Supervisar</p></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="celestetabla1" colspan="4">Descripción del Proceso :Asegurar que el apetito y tolerancia al riesgo de la empresa son entendidos,
              articulados y comunicados y que el riesgo para el valor de la empresa relaciones con el uso de las TI es identificado y gestionado
            </td>
          </tr>
          <tr>
            <td class="celestetabla1" colspan="4">Declaración del Propósito del Proceso: Asegurar que los riegso relacionados con el TI de la empresa no 
              ecxeden ni el apetito ni la toleracion de riesgo, que el impacto de los riesgos de TI en el
              valor de la empresa se identifica y se gestiona y que el potencial fallo en el cumplimiento se reduce el minimo.
            </td>
          </tr>
          <tr>
            <th class="celeste2tabla1" colspan="4">El proceso apoya la consecución de un conjunto de principales metas TI:</th>
          </tr>
          <tr>
            <th class="celeste2tabla1" colspan="2">Meta TI</th>
            <th class="celeste2tabla1" colspan="2">Métricas relacionadas</th>
          </tr>
          <tr>
            <td class="celestetabla1" colspan="2">04 Riesgos de negocios relacionados con las TI gestionados</td>
            <td class="celestetabla1" colspan="2">
              <p>• Porcentaje de proceso de negocio criticos, servicios TI y programas de negocios habilitados 
                por las TI cubiertos por evaluaciones de riesgos
              </p> 
              <p>• Numero de incidentes significativos relacionados con las TI que no fueron identificados en la evaluacion 
                de Riesgos
              </p>
              <p>• Frecuencia de actualizacion del perfil de riesgo</p>  
             </td>
          </tr>
          <tr>
            <td class="celestetabla1" colspan="2">06 Transparencia de los costes, beneficios y riesgos de las TI</td>
            <td class="celestetabla1" colspan="2"><p>• Porcentaje de inversion en casos de negoci con costes y beneficios esperados Relativos a TI 
              claramente definidos y aprobados </p>
              <p>• Porcentajes de cervicios TI con costes operativos y beneficios esperados claramente deffinidos y aprobados. </p> 
              <p>• Encuestas de satisfacion a las partes interesadas clave relativa al nivel de trasparencia,
                compresion y presicion de la informacion financiera de TI</p> </td>
          </tr>
          <tr>
            <td class="celestetabla1" colspan="2">10 Seguridad de la informacion infrastructura de procesamiento y aplicaciones</td>
            <td class="celestetabla1" colspan="2"><p>• Número de incidencias de seguridad causantes de perdida financiera, interrupciones del negocio o perdida de imagen publica</p> 
              <p>• Numero de servicios de TI con los requisitos de seguridad pendientes </p>
              <p>• Tiempo para otorgar, modificar y eliminar los privilegios de acceso, comparado con los niveles de servicio acordados</p>
          <p>•Frecuencia de la evaluacion de seguridad frente a los ultimos estandares y guias.</p></td>
            </tr>
            <tr>
              <td class="celestetabla1" colspan="2">15 Cumplimiento de riesgos son definidos y comunicados y los riegos clave relacionados con la TI son conocidos</td>
              <td class="celestetabla1" colspan="2"><p>• Numero de incidencias relacionados con el incumplimiento de la politica</p> 
                <p>• Porcentaje de partes interesadas que comprendes las politicas </p>
                <p>• Porcentaje de politicas de politicas soportadas por estadares y practicas de trabajo efectivas</p>
            <p>•Frecuencia de revision ya ctualizacion de las politicas.</p></td>
              </tr>
          <tr>
            <th class="celeste2tabla1" colspan="4">Metas y Métricas del Proceso</th>
          </tr>
          <tr>
            <th class="celeste2tabla1" colspan="2">Meta del Proceso</th>
            <th class="celeste2tabla1" colspan="2">Métricas Relacionadas</th>
          </tr>
          <tr>
            <td class="celestetabla1" colspan="2">1. Los umbrales de riesgo son definidos y comunicados y los riesgos clave
              relacionados con la TI son conocidos
              .</td>
            <td class="celestetabla1" colspan="2"><p>• Nivel de alineamiento entre riego TI y riegso de negocio </p>
              <p>• Numero de potencias riesgos TI identificados y gestionados</p>
          <p>•Frecuencia de refresco de la evaluacion de los factores de riesgo</p></td>
            </tr>
          <tr>
            <td class="celestetabla1" colspan="2">2.La empresa gestiona el riegos critico empresarial
              relacionado con las TI eficaz y eficiente  
             .</td>
            <td class="celestetabla1" colspan="2"><p>• Porcentaje de proyectos de la empresa que consideran el riesgo TI.</p>
              <p>• Porcentajes de planes de accion de riesgos TI ejecutados en tiempo</p>  
                <p>• Número de casos de no-cumplimiento con las directrices de comportamiento ético y profesional</p> </td>
          </tr>
          <tr>
            <td class="celestetabla1" colspan="2">3. Los riegos empresariales relacionados con las TI no exceden el apetito 
              de riesgo y el impactp del riesgo TI en el valor de la empresa es identificado y gestionado.</td>
            <td class="celestetabla1" colspan="2"><p>•  Nivel de impacto empresarial inesperado </p>
              <p>•  Porcentaje de riegos TI que exceden el riesgo empresarial tolerado</p>  
            </td>
          </tr>
        </tbody>
      </table>
</body>

</html>

<br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">Menu</a></li>
      <li class="page-item"><a class="page-link" href="edm03tabla1">1</a></li>
      <li class="page-item"><a class="page-link" href="listar-three">2</a></li>
      <li class="page-item"><a class="page-link" href="edm03tabla3">3</a></li>
      <li class="page-item"><a class="page-link" href="edm03tabla4">4</a></li>
      <li class="page-item"><a class="page-link" href="edm03tabla5">5</a></li>
      <li class="page-item"><a class="page-link" href="listar-three">Next</a></li>
      
    </ul>
  </nav><br>
