

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>

<style>

    .azultabla1{
        background: rgb(39, 70, 172);
        color: white;
        border: 1px solid black;
    }
    .celestetabla1{
        background: rgb(255, 255, 255);
        
    }
    .celeste2tabla1{
        background: rgb(163, 189, 219);
        
    }
    </style>

<body>
    <table class="container" style="width: 87%;">
        <tr>
            <td colspan="5" class="azultabla1"><a class="nav-link" routerLink="/apo6tabla1">AP006</a>  Practicas, Entradas/Salidas y Actividades de Proceso(cont.)</td>
        </tr>
        <th class="celeste2tabla1">
            Práctica de Gestión
        </th >
        <th colspan="2" class="celeste2tabla1">
            Entradas
        </th>
        <th colspan="2" class="celeste2tabla1">
            Salidas
        </th>
        <tr>
            <td rowspan="10">
                AP006.05 Gestionar costes.<br><br>
                Implementar un proceso de gestión de costes comparando los costes reales con los presupuestos.
Los costes deben ser supervisados y comunicados y, en el caso de desviaciones, identificados oportunamente, así como evaluado su impacto de los procesos y servicios empresariales.

            </td>
            <td>De</td>
            <td>Descripción</td>
            <td>Descripción</td>
            <td>A</td>
        </tr>
        <tr>
            <td>EDM02.03</td>
            <td>Comentarios sobre el desempeño de cartera y programa.</td>
            <td>Método de recolección de datos de coste</td>
            <td>Interno<br><br>

</td>
        </tr>
        <tr>
            <td>BAI01.02</td>
            <td>Plan de realización de beneficios del programa.</td>
            <td rowspan="8">Método de consolidación de costes<br><br>
                <br><br>
                <br><br>
                Oportunidades de optimización de costes.<br><br>
            </td>
            <td rowspan="8">Intermno<br><br>
                <br><br>
                <br><br>
                <br><br>
                AP002.02<br><br>
        </tr>
        <tr>
            <td>BAI01.04</td>
            <td>Presupuesto del programa y registro de beneficios.<br>
               </td>
        </tr>
        <tr>
            <td>BAI01.05</td>
            <td>Resultados del seguimiento de la realización de beneficios.</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td><br>
                </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td><br>
                </td>
        </tr>
        <tr>
            <td colspan="5">Actividades</td>
        </tr>
        <tr>
            <td colspan="5">1.Asegurar la debida autorización y la independencia entre los responsables de los presupuestos de TI y los individuos que capturar, analizan y reportan información financiera.
            </td>
        </tr>
        <tr>
            <td colspan="5">2.Establecer escalas de tiempo para la operación del proceso de gestión de costes en línea con los requisitos presupuestarios y de contabilidad.
                </td>
        </tr>
        <tr>
            <td colspan="5">3.Definir un método para la recopilación de datos relevantes para identificar desviaciones en: <br><br>
                •	Control presupuestario entre presupuesto y real <br><br>
                •	Gestión del beneficio de:
                -Inversiones para soluciones actual vs objetivo; posiblemente, expresados en términos de ROI, NPV O IRR.
                -La tendencia actual del coste del servicio para la optimización del coste de los servicios(por ejemplo, definido como coste por usuario).
                -Real contra presupuesto de la capacidad de respuesta y la mejora de la previsibilidad de la entrega de soluciones. <br><br>
                •	Distribución de costes entre directos e indirectos (absorbidos y no adsorbidos)
                </td>
        </tr>
        <tr>
            <td colspan="5">4.Definir como se consolidan los costes para los niveles adecuados en al empresa y al forma en que se presentaran alas partes interesadas. Los informes proporcionan información que permite la identificación oportuna de las medidas correctivas necesarias.
            </td>
        </tr>
        <tr>
            <td colspan="5">5.Indicar a los responsables de gestión de costes que capturen,recojan y consoliden los datos, y presenten y comuniquen los datos a los permitentes propietarios del presupuesto.Los analistas presupuestarios y los propietarios analizan conjuntamente las desviaciones y comparan el desempeño con parámetros internos y d ela industria.El resultado del análisis proporciona una explicación de las desviaciones significativas y las acciones correctivas sugeridas.</td>
        </tr>
        <tr>
            <td colspan="5">6.Asegurarse de que los niveles adecuados de gestión revisan los resultados del análisis y aprueban las propuestas de acciones correctivas.
            </td>
        </tr>
        <tr>
            <td colspan="5">7.Alinear los presupuestos y servicios de TI a la infraestructura de TI, procesos empresariales, y a los propietarios que los utilizan.
            </td>
            <tr>
                <td colspan="5">8.Asegurarse de que los cambios en las estructuras de coste y necesidades de la empresa se identifican y los presupuestos y las previsiones se revisan según sea necesario.
                </td>
                <tr>
                    <td colspan="5">9.A intervalos regulares, y especialmente cuando se recortan los presupuestos debido a limitaciones financieras, identificar formas de optimizar los costes e introducir eficiencia sin poner en peligro los servicios.
                    </td>
        </tr>
    </table>
</body>

</html><br>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <table class="container" style="width: 87%;">
        <tr>
            <td colspan="2">AP006 Orientación relacionada</td>
        </tr>
        <th>
            Estándar Relacionado 
        </th>
        <th>
            Referencia Detallada
        </th>
        <tr>
            <td>ISO/IEC 20000</td>
            <td>1.4. Presupuestar y contabilizar los servicios de TI<br>
            </td>
        </tr>
        <tr>
            <td>ITIL V3 2011</td>
            <td>2. Gestión Financiera <br>
               </td>
        </tr>
    </table>
</body>
</html><br>


<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">APOO6</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo6tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo6tabla2">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo6tabla3">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo6tabla4">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo6tabla5">5</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
      
    </ul>
  </nav>
