<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>localhost4200</title>

</head>


<body>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th class="azultabla1" colspan="2"><a href="edm01tabla1">EDM01</a> Asegurar el establecimiento y mantenimiento del marco de referencia de gobierno</th>
            <th class="azultabla1" colspan="2" >
              <p>Área: Gobierno</p>
              <p> Dominio: Evaluar, Orientar y Supervisar</p></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="celestetabla1" colspan="4">Descripción del Proceso Analiza y articula los requerimientos para el gobierno de Tl de la empresa 
              y pone en marcha y mantiene efectivas las estructuras, procesos y prácticas facilitadores, con claridad de las 
              responsabilidades y la autoridad para alcanzar la misión, las metas y objetivos de la empresa.</td>
          </tr>
          <tr>
            <td class="celestetabla1" colspan="4">Declaración del Propósito del Proceso Proporcionar un enfoque consistente, integrado y alineado 
              con el alcance del gobierno de la empresa. Para garantizar que las decisiones relativas a Tl se han adoptado 
              en línea con las estrategias y objetivos de la empresa, garantizando la supervisión de los procesos de manera 
              efectiva y transparentemente, el cumplimiento con los requerimientos regulatorios y legales y que se han alcanzado 
              los requerimientos de gobierno de los miembros del Consejo de Administración.</td>
          </tr>
          <tr>
            <th class="celeste2tabla1" colspan="4">El proceso apoya la consecución de un conjunto de principales metas TI:</th>
          </tr>
          <tr>
            <th class="celeste2tabla1" colspan="2">Meta TI</th>
            <th class="celeste2tabla1" colspan="2">Métricas relacionadas</th>
          </tr>
          <tr>
            <td class="celestetabla1" colspan="2">01 Alineamiento de TI y estrategia de negocio</td>
            <td class="celestetabla1" colspan="2">
              <p>• Porcentaje de las metas y requerimientos estratégicos de la empresa soportados por las
              metas estratégicas para TI</p> 
              <p>• Nivel de satisfacción de las partes interesadas con el alcance del portafolio de programas y
                servicios planeados</p>
              <p>• Porcentaje de los facilitadores de valor de Tl mapeados con facilitadores de valor del negocio</p> </td>
          </tr>
          <tr>
            <td class="celestetabla1" colspan="2">03 Compromiso de la dirección ejecutiva para tomar decisiones relacionadas con TI</td>
            <td class="celestetabla1" colspan="2"><p>• Porcentaje de los roles de la gestión ejecutiva con responsabilidades claramente definidas
              para las decisiones de TI Número de ocasiones en que TI de forma proactiva está en la agenda del Consejo de Administración </p>
              <p>• Frecuencia de las reuniones del Comité (Ejecutivo) de TI. </p> 
              <p>• Ratio de ejecución de las decisiones ejecutivas relativas a TI</p> </td>
          </tr>
          <tr>
            <td class="celestetabla1" colspan="2">07 Entrega de servicios de TI de acuerdo a los requisitos del negocio</td>
            <td class="celestetabla1" colspan="2"><p>• Número de interrupciones del negocio debidas a incidentes en el servicio de TI</p> 
              <p>• Porcentaje de partes interesadas satisfechas con el cumplimiento del servicio de TI entregado respecto a los niveles de servicio acordados </p>
              <p>• Porcentaje de usuarios satisfechos con la calidad de los servicios de TI entregados</p></td>
          </tr>
          <tr>
            <th class="celeste2tabla1" colspan="4">Metas y Métricas del Proceso</th>
          </tr>
          <tr>
            <th class="celeste2tabla1" colspan="2">Meta del Proceso</th>
            <th class="celeste2tabla1" colspan="2">Métricas Relacionadas</th>
          </tr>
          <tr>
            <td class="celestetabla1" colspan="2">1. Modelo estratégico de toma de decisiones para que
              las TI sean efectivas y estén alineadas con el entorno externo e interno de la empresa y los requerimientos 
              de las partes interesadas.</td>
            <td class="celestetabla1" colspan="2"><p>• Tiempo de ciclo actual vs objetivo para las decisiones clave </p>
              <p>• Nivel de satisfacción mediante encuestas de las personas interesadas</p></td>
          </tr>
          <tr>
            <td class="celestetabla1" colspan="2">2. Garantizar que el sistema de gobierno para TI está
              incorporado al gobierno corporativo.</td>
            <td class="celestetabla1" colspan="2"><p>• Número de roles, responsabilidades y autoridades que están definidas, asignadas y aceptadas
              a gestores para una gestión del negocio y de las TI apropiados.</p>
              <p>• Grado en que los principios de gobierno acordados  para las TI están evidenciados en procesos y prácticas (porcentaje de procesos 
                y prácticas con clara trazabilidad a los principios)</p>  
                <p>• Número de casos de no-cumplimiento con las directrices de comportamiento ético y profesional</p> </td>
          </tr>
          <tr>
            <td class="celestetabla1" colspan="2">3. Obtener garantías de que el sistema de gobierno
              para TI está operando de manera efectiva.</td>
            <td class="celestetabla1" colspan="2"><p>• Frecuencia de revisiones independientes del gobierno de TI </p>
              <p>• Frecuencia del reporte del gobierno de TI al Comité Ejecutivo y a la dirección</p>  
              <p>• Número de aspectos de gobierno de Tl notificados</p> 
            </td>
          </tr>
        </tbody>
      </table>
</body>

</html>

<br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">Menu</a></li>
      <li class="page-item"><a class="page-link" href="edm01tabla1">1</a></li>
      <li class="page-item"><a class="page-link" href="edm01tabla2">2</a></li>
      <li class="page-item"><a class="page-link" href="edm01tabla3">3</a></li>
      <li class="page-item"><a class="page-link" href="edm01tabla4">4</a></li>
      <li class="page-item"><a class="page-link" href="edm01tabla5">5</a></li>
      <li class="page-item"><a class="page-link" href="edm01tabla2">Next</a></li>
      
    </ul>
  </nav><br>
