<!DOCTYPE html>
<html lang="en">
    
    
<app-listar-tablasiete></app-listar-tablasiete>

<br>
<table  class="containere" style="width: 83%; margin: 0 auto;">
    <thead>
        <tr>
            <td class="azultabla1" colspan="6"><b>BAI07 Prácticas, Entradas/Salidas y Actividades del Proceso</b> </td>
        </tr>
    </thead>
<tbody>
    <tr>
        <th class="celeste2tabla1" colspan="2">Prácticas de Gestión</th>
        <th class="celeste2tabla1" colspan="2">Entradas</th>
        <th class="celeste2tabla1" colspan="2">Salidas</th>
    </tr>
    <tr>
        <td rowspan="3" colspan="2"><b> BAI07.01 Establecer un plan de implementación.</b><br>
            Establecer un plan de implementación que cubra la conversión <br> de datos y sistemas, criterios de aceptación de las pruebas, <br>
            comunicación, formación, preparación del lanzamiento, paso a <br> producción, soporte inicial en producción, plan de marcha atràs <br> 
            o de contingencia y una revisión post-implementación. Obtener la <br> aprobación de las partes relevantes.</td> 
        <th colspan="1">De</th>
        <th colspan="1">Descripción</th>
        <th colspan="1">Descripción</th>
        <th colspan="1">A</th>
    </tr>
    <tr>
        <td colspan="1"><a href="/pagina125">BAI01.09</a></td>
        <td colspan="1">Plan de gestión de la calidad</td>
        <td rowspan="1">Plan de implementación <br> aprobado</td>
        <td rowspan="1">Interno</td>
    </tr>
    <tr>
        <td colspan="1"><a href="/pagina150">BAI06.01</a></td>
        <td colspan="1">•Plan y cronograma de cambio <br>•Peticiones de cambio aprobadas</td>
        <td rowspan="1">Proceso de marcha <br> atràs de la implementación <br> o de recuperación</td>
        <td rowspan="1">Interno</td>
    </tr>
    <tr>
    <tr>
        <td class="celeste2tabla1" colspan="6" align="center"><b>Actividades</b> 
        </td>
    </tr>
    <tr>
        <td colspan="6">1.Crear un plan de implementación que refleje la estrategia global de implementación, recursos necesarios,
            interdependencias, criterios para la aceptación por parte de la dirección de la implantación en producción, requisitos para verificar la instalación,
            estrategia de transición para el soporte en producción, y la actualización de los planes de continuidad de negocio (BCPs).
        </td>
    </tr>
    <tr>
        <td colspan="6">2.Confirmar que todos los planes de implantación son aprobados por las partes interesdas tanto de àmbito tècnico como de negocio, y revisados por 
            auditorìa interna, si es apropiado.
        </td>
    </tr>
    <tr>
        <td colspan="6">3.Obtener el compromiso de los proveedores externos de soluciones a participar en cadapaso de la implantación.
        </td>
    </tr>
    <tr>
        <td colspan="6">4.Identificar y documentar el proceso de marcha atràs y recuperación.
        </td>
    </tr>
    <tr>
        <td colspan="6">5.Revisar formalmente los riesgos tècnicos y de negocio asociados a la implantación y asegurar que el riesgo clave es considerado y tratado en el 
            proceso de planificación.
        </td>
    </tr>
</table>
</html><br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">BAI07</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina153">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina154">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina155">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina156">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina157">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina158">6</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
      
    </ul>
  </nav><br>



