<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="table-responsive">
    <table class="container" style="width: 85%; margin: 0 auto;">
        <thead>
            <tr>
                <th class="azultabla1" colspan="6">BAI08 Prácticas, Entradas/Salidas y Actividades del Proceso</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="celeste2tabla1"  colspan="2">Prácticas de Gestión</th>
                <th class="celeste2tabla1"  colspan="2">Entradas</th>
                <th class="celeste2tabla1"  colspan="2">Salidas</th>
            </tr>
            <tr>
                <td rowspan="3" colspan="2"><b>BAI08.01 Cultivar y facilitar una cultura de<br>
                    intercambio de conococimientos.</b><br>
                    Concebir e implantar un esquema para cultivar y facilitar <br>
                    una cultura de intercambio de conocimientos.
                    <br>
                <th colspan="1">De</th>
                <th colspan="1">Descripción</th>
                <th colspan="1">Descripción</th>
                <th colspan="1">A</th>
            </tr>
            <tr>
                <td rowspan="2"></td>
                <td rowspan="2"></td>
                <td colspan="1" rowspan="2">Comunicaciones sobre el <br>valor del conocimiento</td>
                <td colspan="1" rowspan="2"><a href="/pagina54">AP001.04</a></td>
            </tr>
            <tr>
            <tr>
                <td class="celeste2tabla1"  colspan="6" align="center"><b>Actividades</b> 
                </td>
            </tr>
            <tr>
                <td colspan="6">1. Comunicar proactivamente el valor del conocimiento para impulsar la creación, uso, reutilización y compartición de conocimiento.
                </td>
            </tr>
            <tr>
                <td colspan="6">2. Impulsar la compartición y transferencia de conocimiento mediante la identificación de factores que influyan en la motivación.
                </td>
            </tr>
            <tr>
                <td colspan="6">3. Crear un entorno, herramientas y elementos que den soporte a la compartición y transferencia de conocimientos.
                </td>
            </tr>
            <tr>
                <td colspan="6">4. Integrar prácticas de gestion del conocimiento en otros procesos de TI
                </td>
            </tr>
            <tr>
                <td colspan="6">5. Establecer expectativas de la dirección y demostrar la actitud adecuada acerca de la utilidad del conocimiento y la necesidad de compartit el conocimiento corporativo.
                </td>
            </tr>
            <tr>
            </tr>
        <tbody>
            <tr>
                <th class="celeste2tabla1"  colspan="2">Prácticas de Gestión</th>
                <th class="celeste2tabla1"  colspan="2">Entradas</th>
                <th class="celeste2tabla1"  colspan="2">Salidas</th>
            </tr>
            <tr>
                <td rowspan="3" colspan="2"><b>BAI08.02 Identificar y clasificar las fuentes de <br> información.</b> <br>
                    identificar, validar y clasificar las diversas fuentes de <br> información interna y externa necesarias para posibilitar <br>
                    el uso y al operación efectivas de los procesos de <br> negocio y los servicios de TI.
                <th colspan="1">De</th>
                <th colspan="1">Descripción</th>
                <th colspan="1">Descripción</th>
                <th colspan="1">A</th>
            </tr>
            <tr>
                <td colspan="1" rowspan="2">Fuera del <br>Ambito de <br> COBIT</td>
                <td colspan="1" rowspan="2">Requisitos y fuentes de <br>conocimiento</td>
                <td rowspan="2">Clasificación de fuentes de <br>información</td>
                <td rowspan="2">Interno</td>
            </tr>
            <tr>
            <tr>
                <td class="celeste2tabla1"  colspan="6" align="center"><b>Actividades</b> 
                </td>
            </tr>
            <tr>
                <td colspan="6">1. Identificar usuarios potenciales de conocimiento,  incluyendo propietarios de información que pueden necesitar contribuir y aprobar conocimiento. Obtener Requisitos
                    de conocimiento y fuentes de información de los usuarios identificados.
                </td>
            </tr>
            <tr>
                <td colspan="6">2. Considerar tipos de contenido (procedimientos, procesos, estructuras, conceptos, politicas, reglas, hechos, Clasificación), elementos (documentos,registros, video, voz) e información estructurada y no estructurada (expertos, medios de comunicación social, correo electronico, buzones de voz, fuentes RSS).
                </td>
            </tr>
            <tr>
                <td colspan="6">3. Clasificar las fuentes de información basandose en un esquema de clasificación de contenido (ej.modelo de la arquitectura de información). Trazar un mapa de fuentes de información con el esquema de clasificación.
                </td>
            </tr>
            <tr>
                <td colspan="6">4.Recoger, poner en orden y calidar las fuentes de información basandose en criterios de validacion de la información (ej. facilidad de comprensión, relevancia, importancia, integridad, precisión, consistencia, confidencialidad, actualidad y factibilidad).
                </td>
            </tr>
            <tr>
                <th class="celeste2tabla1"  colspan="2">Prácticas de Gestión</th>
                <th class="celeste2tabla1"  colspan="2">Entradas</th>
                <th class="celeste2tabla1"  colspan="2">Salidas</th>
            </tr>
            <tr>
                <td rowspan="3" colspan="2"><b> BAI08.03 Organizar y contextualizar la información transformandola en conocimiento. </b><br>
                    Organizar la información basandose en criterios de clasificacion, identificar y crear relaciones significativas <br>
                    entre elementos de informacion y facilitar el uso <br> de la informacion. Identificar propietarios y definir <br> e implementar niveles de acceso a los recursos de <br> informacion
                <th colspan="1">De</th>
                <th colspan="1">Descripción</th>
                <th colspan="1">Descripción</th>
                <th colspan="1">A</th>
            </tr>
            <tr>
                <td colspan="1" class="texto"><a href="/pagina136">BAI03.03</a></td>
                <td colspan="1" class="texto">Componentes documentados<br>de la solucion</td>
                <td rowspan="2" class="texto">Repositarios de <br>informacion publicada</td>
                <td rowspan="2" class="texto"><a href="/apo7tabla3">AP007.03</a></td>
            </tr>
            <tr>
                <td colspan="1"><a href="/pagina148">BAI05.07</a></td>
                <td colspan="1">Planes de transferencia de<br>conocimiento<br></td>
            </tr>
            <tr>
                <td class="celeste2tabla1"  colspan="6" align="center"><b>Actividades</b> 
                </td>
            </tr>
            <tr>
                <td colspan="6">1. Identificar atributos compartidos y casar fuentes de informacion, creando relaciones entre conjuntos de informacion (etiquetado de informacion).
                </td>
            </tr>
            <tr>
                <td colspan="6">2. Crear vistas para conjuntos de datos relacionados, considerado requisitos organizativos y de las partes interesadas.
                </td>
            </tr>
            <tr>
                <td colspan="6">3. Concebir e implantar un esquema para gestionar la informacion no estructurada que no este disponible a partir de las fuentes formales (ej.conocimiento experto).
                </td>
            </tr>
            <tr>
                <td colspan="6">4. Publicar y hacer accesible el conocimiento a las partes interesadas relevantes basandose en roles y mecanismos de acceso.
                </td>
            </tr>
            <tr>
            </tr>
            <tbody>
                <tr>
                    <th class="celeste2tabla1"  colspan="2">Prácticas de Gestión</th>
                    <th class="celeste2tabla1"  colspan="2">Entradas</th>
                    <th class="celeste2tabla1"  colspan="2">Salidas</th>
                </tr>
                <tr>
                    <td rowspan="5" colspan="2" class="texto"><b>BAI08.04 Utilizar y compartir el conocimiento.</b>  <br>
                        Difundir las fuentes de conocimiento disponibles <br> entre las partes interesadas relevantes y comunicar <br> cómo estos recursos pueden ser utilizados para tratar <br>
                        diferntes necesidades (ej. resolucion de problemas, <br> aprendizaje, planificación estrategica y toma de <br> decisiones) 
                    <th colspan="1">De</th>
                    <th colspan="1">Descripción</th>
                    <th colspan="1">Descripción</th>
                    <th colspan="1">A</th>
                </tr>
                <tr>
                    <td colspan="1"><a href="/pagina136">BAI03.03</a></td>
                    <td colspan="1">Compontes documentados<br>de la solución</td>
                    <td rowspan="1">Base de datos de usuarios<br>de conocimiento</td>
                    <td rowspan="1">Interno</td>
                </tr>
                <tr>
                    <td colspan="1"><a href="/pagina148">BAI05.05</a></td>
                    <td colspan="1">Plan de uso y operaciones</td>
                    <td rowspan="3">Esquemas de concienciación <br>y formación de conocimiento</td>
                    <td rowspan="3"><a href="/apo7tabla3">AP007.03</a></td>
                </tr>
                <tr>
                    <td colspan="1"><a href="/pagina148">BAI05.07</a></td>
                    <td colspan="1"> Planes de transferencia de <br>conocimiento</td>
                </tr>
                <tr>
                <tr>
                    <td class="celeste2tabla1"  colspan="6" align="center"><b>Actividades</b> 
                    </td>
                </tr>
                <tr>
                    <td colspan="6">1. Identificar usuarios potenciales de conocimiento mediante la clasificacion de la informacion.
                    </td>
                </tr>
                <tr>
                    <td colspan="6">2. Transferir el conocimiento a los usuarios de conocimientos basandose en un analisis de necesidades, tecnicas de aprendizaje efectivas y herramientas de acceso.
                    </td>
                </tr>
                <tr>
                    <td colspan="6">3. Educar y entrenar a los usuarios en el conocimiento disponible, en el acceso al conocimiento y en el uso de herramientas de acceso al conocimiento.
                    </td>
                </tr>
                <tr>
                </tr>
    </table></div>
</body>
</html><br>

<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">BAI08</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina159">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina160">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina161">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
      
    </ul>
  </nav><br>
