<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>

<style>

    .azultabla1{
        background: rgb(39, 70, 172);
        color: white;
        border: 1px solid black;
    }
    .celestetabla1{
        background: rgb(255, 255, 255);
        
    }
    .celeste2tabla1{
        background: rgb(163, 189, 219);
        
    }
    </style>

<body>
    <table class="container" style="width: 87%;">
        <tr>
            <td class="azultabla1"> <a class="nav-link" routerLink="/pagina73">APO07</a>   Prácticas, Entradas/Salidas y Actividades del Proceso (cont.)</td>
        </tr>
        <th class="celeste2tabla1">
            Práctica de Gestión
        </th >
        <th colspan="2" class="celeste2tabla1">
            Entradas
        </th>
        <th colspan="2" class="celeste2tabla1">
            Salidas
        </th>
        <tr>
            <td rowspan="3">
                APO05.02 Determinar la disponibilidad y las fuentes de fondos.<br>
                Determinar las fuentes potenciales de fondos, diferentes opciones de financiación y las implicaciones de
                las fuentes de financiación sobre las expectativas del retorno de inversión.
            </td>
            <td>De</td>
            <td>Descripción</td>
            <td>Descripción</td>
            <td>A</td>
        </tr>
        <tr>
            <td rowspan="2"></td>
            <td rowspan="2"></td>
            <td>Opciones de financiación</td>
            <td><a class="nav-link" routerLink="/pagina59">APO02.05</a></td>
        </tr>
        <tr>
            <td>Expectativas de retorno de inversión</td>
            <td> <a class="nav-link" routerLink="/edm02tabla1">EDM02.05</a><br>
                <a class="nav-link" routerLink="/pagina59">APO02.04</a> <br>
                <a class="nav-link" routerLink="/apo6tabla1"> APO06.02</a> <br>
                <a class="nav-link" href="">BAI01.06</a> </td>
        </tr>
        <tr>
            <td colspan="5" class="celeste2tabla1">Actividades</td>
        </tr>
        <tr>
            <td colspan="5">1. Entender la disponibilidad y el compromiso de los fondos actuales, el gasto actual
                aprobado y la cantidad real gastada hasta la fecha.</td>
        </tr>
        <tr>
            <td colspan="5">2. Identificar las opciones para obtener financiación adicional para las inversiones TI
                internamente o de fuentes externas.</td>
        </tr>
        <tr>
            <td colspan="5">3. Determinar las implicaciones de la fuente de financiación en las expectativas de retorno
                de la inversión.</td>
        </tr>
        <th class="celeste2tabla1">
            Práctica de Gestión
        </th>
        <th colspan="2" class="celeste2tabla1">
            Entradas
        </th>
        <th colspan="2" class="celeste2tabla1">
            Salidas
        </th>
        <tr>
            <td rowspan="10">
                <a class="nav-link" routerLink="/pagina73">APO05.03</a>    Evaluar y seleccionar los programas a financiar.<br>
                Basado en los requisitos de la mezcla general del portafolio de inversión, evaluar y priorizar casos de
                negocio de programas y decidir sobre las propuestas de inversión. Dedicar fondos e iniciar los
                programas.
            </td>
            <td>De</td>
            <td>Descripción</td>
            <td>Descripción</td>
            <td>A</td>
        </tr>
        <tr>
            <td><a class="nav-link" routerLink="/edm02tabla1">EDM02.01</a></td>
            <td>Evaluación de los portafolios de servicios e inversiones<br>
                Evaluación del alineamiento estratégico</td>
            <td>Casos de negocio de programa</td>
            <td><a class="nav-link" routerLink="/apo6tabla1">APO06.02</a><br>
              <a class="nav-link" href="">BAI01.02</a>  </td>
        </tr>
        <tr>
            <td><a class="nav-link" routerLink="/edm02tabla1">EDM02.02</a> </td>
            <td>Tipos y criterios de inversión</td>
            <td>Evaluaciones de los casos de negocio</td>
            <td><a class="nav-link" routerLink="/apo6tabla1">APO06.02</a><br>
             <a class="nav-link" href="">BAI01.06</a>   </td>
        </tr>
        <tr>
            <td><a class="nav-link" routerLink="/pagina63">APO03.01</a> </td>
            <td>Caso de negocio del concepto de arquitectura y proposición de valor</td>
            <td rowspan="7">Programas seleccionados con hitos del retorno de inversión (ROI)</td>
            <td rowspan="7"><a class="nav-link" routerLink="/edm02tabla1">EDM02.01</a> <br>
             <a class="nav-link" href="">BAI01.04</a>  </td>
        </tr>
        <tr>
            <td><a class="nav-link" routerLink="/pagina69">APO04.04</a> </td>
            <td>Alcance de la prueba de concepto y esbozo del caso de negocio</td>
        </tr>
        <tr>
            <td><a class="nav-link" routerLink="/apo6tabla1">APO06.02</a></td>
            <td>Asignaciones de presupuesto</td>
        </tr>
        <tr>
            <td><a class="nav-link" routerLink="/apo6tabla1">APO06.03</a> </td>
            <td>Comunicación de presupuesto<br>
                Presupuesto y plan de TI</td>
        </tr>
        <tr>
            <td><a class="nav-link" routerLink="/apo9tabla1">APO09.01</a> </td>
            <td>Diferencias identificadas en los servicios de TI al negocio</td>
        </tr>
        <tr>
            <td><a class="nav-link" routerLink="/apo9tabla1">APO09.03</a> </td>
            <td>Acuerdos de nivel de servicio (ANSs)</td>
        </tr>
        <tr>
            <td><a class="nav-link" href="">BAI01.02</a> </td>
            <td>Plan de obtención de beneficios del programa<br>
                Mandato e instrucciones del programa<br>
                Programa de casos de negocio conceptuales</td>
        </tr>
        <tr>
            <td colspan="5" class="celeste2tabla1">Actividades</td>
        </tr>
        <tr>
            <td colspan="5">1. Reconocer las oportunidades de inversión y clasificarlas en línea con las categorías del
                portafolio de inversiones. Especificar los resultados empresariales esperados, todas las iniciativas
                necesarias para alcanzar los resultados esperados, costes, dependencias y riesgos y como todo debe ser
                medido.</td>
        </tr>
        <tr>
            <td colspan="5">2. Realizar evaluaciones detalladas de todos los casos de negocio de los programas,
                evaluando el alineamiento estratégico, beneficios corporativos, riesgo y disponibilidad de recursos.
            </td>
        </tr>
        <tr>
            <td colspan="5">3. Evaluar el impacto en el portafolio general de inversiones por añadir los programas
                candidatos, incluyendo cualquier cambio que pueda ser requerido por otros programas.</td>
        </tr>
        <tr>
            <td colspan="5">4. Decidir qué programas candidatos deberían ser trasladados al portafolio de inversiones
                activas. Determinar si los programas rechazados deberían ser conservados para ser considerados en el
                futuro, o provistos con algún tipo de inversión para determinar si el caso de negocio puede ser mejorado
                o descartado.</td>
        </tr>
        <tr>
            <td colspan="5">5. Determinar los hitos necesarios para el ciclo de vida económica de cada programa
                seleccionado. Asignar y reservar totalmente los fondos para cada hito. Mover el programa al portafolio
                de inversiones activas.</td>
        </tr>
        <tr>
            <td colspan="5">6. Establecer procedimientos para comunicar el coste, beneficios y aspectos relativos al
                riesgo de esos portafolios a los procesos de priorización de presupuesto, gestión del coste y gestión
                del coste y gestión del beneficio.</td>
        </tr>
    </table>
</body><br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">APOO7</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo7tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/Apo07raci">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo7tabla3">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo7tabla4">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo7tabla5">5</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
      
    </ul>
  </nav>
