<div class="container">
    <table class="table">
        <thead class="theader">
        <tr>
            <td class="titulos" scope="col" colspan="5">DSS03 Prácticas, Entradas/Salidas y Actividades del Proceso (cont.)</td>
        </tr>
    </thead>
<tr>
    <td style="text-align:center" class="fondo2">Práctica de Gestión</td>
    <td  style="text-align:center" class="fondo2" colspan="2">Entradas</td>
    <td style="text-align:center" class="fondo2" colspan="3">Salidas</td>
</tr>
<tr>
    <th scope="row" rowspan="4">DSS03.05 Realizar una gestión de problemas proactiva.
        <p class="texto">Recoger y analizar datos operacionales (especialmente
            registros de incidentes y cambios) para identificar tendencias emergentes
            que puedan indicar problemas. Registrar problemas para permitir la
            valoración.
        </p>
    </th>
</tr>
<tr>
    <td style="text-align: center;">De</td>
        <td style="text-align: center;">Descripción</td>
        <td style="text-align: center;">Descripción</td>
        <td style="text-align: center;">A</td>
</tr>
<tr>
    <td rowspan="2"></td>
    <td rowspan="2"></td>
    <td>Registros de monitorización de resolución de problemas</td>
    <td><a href="/dsso2tabla8">DSS02.07</a></td>
</tr>
<tr>
    <td>Identificar soluciones sostenibles</td>
    <td><a href="pagina150">BAI06.01</a></td>
</tr>
<tr>
    <td colspan="5" style="text-align:center" class="fondo">Actividades</td>
</tr>
<tr>
    <td colspan="5">1. Capturar información de problemas relacionada con 
        cambios e incidentes TI y comunicarla a las partes interesadas clave. 
        Esta comunicación podria tomar la forma de informes y reuniones 
        periódicas entre los responsables de los procesos de gestión de 
        incidentes, problemas, cambios y configuración para considerar 
        problemas recientes y acciones correctivas potenciales.</td>
</tr>
<tr>
    <td colspan="5">2. Asegurar que los responsables de los procesos y los 
        responsables de gestión de incidentes, problemas, cambios y 
        configuración se reúnen regularmente para discutir problemas 
        conocidos y cambios futuros planificados.</td>
</tr>
<tr>
    <td colspan="5">3. Permitir a la empresa supervisar los costes totales de 
        problemas, capturar esfuerzos de cambio resultantes de las actividades 
        del proceso de gestión de problemas (p.ej., soluciones a problemas y 
        errores conocidos) e informar de ellos.</td>
</tr>
<tr>
    <td colspan="5">4. Producir informes para supervisar la resolución de 
        problemas respecto a los requisitos de negocio y ANSs. Asegurar el 
        adecuado escalado de problemas, p.ej., escalado a un nivel de 
        gestión superior de acuerdo con los criterios acordados, contactando 
        proveedores externos, o enviando al comité de gestión de cambios 
        para incrementar la prioridad de una petición de cambio urgente 
        para implementar una solución temporal. </td>
</tr>
<tr>
    <td colspan="5">5. Optimizar el uso de recursos y reducir las soluciones 
        temporales y hacer seguimiento de las tendencias de problemas.</td>
</tr>
<tr>
    <td colspan="5">6. Identificar e iniciar soluciones sostenibles 
        (soluciones permanentes) identificando la causa raiz, y levantar 
        peticiones de cambio a través de los procesos de gestión de cambios 
        establecidos.</td>
</tr>
</table>  
</div>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">HOME</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso3tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/listraci03">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso3tabla2">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso3tabla3">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso3tabla4">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso3tabla5">6</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso3tabla6">7</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso3tabla7">8</a></li>
      <li class="page-item"><a class="page-link" href="/dsso3tabla7">Next</a></li>
      
    </ul>
  </nav><br>
