<div class="container">
    <table class="table">
        <thead class="theader">
        <tr>
            <td class="titulos" scope="col" colspan="5">DSS04 Prácticas, Entradas/Salidas y Actividades del Proceso (cont.)</td>
        </tr>
    </thead>
    <thead style="text-align:center" class="fondo2">
    <tr>
        <td class="titulos" scope="col">Prácticas de Gestión</td>
        <td class="titulos" scope="col" colspan="2">Entradas</td>
        <td class="titulos" scope="col" colspan="2">Salidas</td>
    </tr>
</thead>

<tr>
<th scope="row" rowspan="4">DSS04.04 Ejercitar, probar y revisar el BCP.
    <p class="texto">Probar los acuerdos de continuidad regularmente para
        ejercitar los planes de recuperación respecto a unos resultados
        predeterminados, para peermitir el desarrollo de soluciones
        innovadoras y para ayudar a verificar que el plan funcionará, en
        el tiempo, como se espera.
    </p>
</th>
<td style="text-align: center;">De</td>
        <td style="text-align: center;">Descripción</td>
        <td style="text-align: center;">Descripción</td>
        <td style="text-align: center;">A</td>
</tr>
<tr>
   <td rowspan="3"></td>
   <td rowspan="3"></td>
   <td>Pruebas de objetivos</td>
   <td>Interno</td>
  
</tr>
<tr>
   <td>Pruebas de ejercicios</td>
   <td>Interno</td>
</tr>
<tr>
   <td>Pruebas de resultados y recomendaciones</td>
   <td>Interno</td>
</tr>
<tr>
   <td colspan="5" style="text-align:center" class="fondo">Actividades</td>
</tr>
<tr>
   <td colspan="5">1. Definir los objetivos para ejercitar y probar 
       los sistemas del plan (de negocio, técnicos, logísticos, 
       administrativos, procedimentales y operacionales para verificar 
       la completitud del plan de continuidad de negocio (BCP) para 
       enfrentarse a los riesgos de negocio.</td>
</tr>
<tr>
   <td colspan="5">2. Definir y acordar ejercicios que sean razonables 
       con las partes interesadas, validar los procedimientos de continuidad, 
       e incluir roles y responsabilidades y acuerdos de retención de datos 
       que ocasionen la mínima disrupción en los procesos de negocio.</td>
</tr>
<tr>
<td colspan="5">3. Asignar roles y responsabilidades para realizar ejercicios 
    y pruebas del plan de continuidad.</td>
</tr>
<tr>
    <td colspan="5">4. Planificar ejercicios actividades de prueba tal como 
        esté definido en el plan de continuidad.</td>
</tr>
<tr>
    <td colspan="5">5. Realizar un análisis y revisión post-ejercicio para 
        considerar el logro.</td>
</tr>
<tr>
    <td colspan="5">6. Desarrollar recomendaciones para mejorar el plan de 
        continuidad actual en base a los resultados de la revisión.</td>
</tr>
</table>
</div>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">HOME</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/listraci04">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla2">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla3">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla4">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla5">6</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla6">7</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla7">8</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla8">9</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla9">10</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla10">11</a></li>
      <li class="page-item"><a class="page-link" href="/dsso4tabla">Next</a></li>
      
    </ul>
  </nav><br>
