<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>localhost4200</title>

</head>
<body>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th colspan="3" class="azultabla1" colspan="6">EDM01 Guia relacionada</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="celestetabla1" colspan="1">Estándar Relacionado</th>
        <th class="celestetabla1" colspan="2">Referencia Detallada</th>
      </tr>
      <tr>
        <td  colspan="1">Commite of Sponsoring Organizations of the Treadway Commision(COSO)</td>
        <td  colspan="2"></td>
      </tr>
      <tr>
        <td  colspan="1">ISO/IEC|38500</td>
        <td  colspan="2"></td>
      </tr>
      <tr>
        <td  colspan="1">King III</td>
        <td  colspan="2"> <p>• 5.1 El Consejo debería ser responsable del gobierno de la tecnología de la información (TI). </p>
          <p>• 5.3. El Consejo debería delegar la responsabilidad de la gestión para la implementación de un marco de
            trabajo del gobierno de TI.</p>
          </td>
      </tr>
      <tr>
        <td  colspan="1">Organización para la Cooperación y el Desarrollo Económico(OCDE)</td>
        <td  colspan="2">Principios Corporativos de Gobierno</td>
      </tr>
    </tbody>
  </table>
</body>

</html>

<br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="/home">EDM01</a></li>
      <li class="page-item"><a class="page-link" href="edm01tabla1">1</a></li>
      <li class="page-item"><a class="page-link" href="edm01tabla2">2</a></li>
      <li class="page-item"><a class="page-link" href="edm01tabla3">3</a></li>
      <li class="page-item"><a class="page-link" href="edm01tabla4">4</a></li>
      <li class="page-item"><a class="page-link" href="edm01tabla5">5</a></li>
      
    </ul>
  </nav><br>

