<div class="container">
    <table class="table">
        <thead class="theader">
            <tr>
                <td class="titulos" scope="col" colspan="5">DSS05 Prácticas, Entradas/Salidas y Actividades del Proceso (cont.)</td>
            </tr>
        </thead>
<tr>
    <td style="text-align:center" class="fondo2">Práctica de Gestión</td>
    <td  style="text-align:center" class="fondo2" colspan="2">Entradas</td>
    <td style="text-align:center" class="fondo2" colspan="3">Salidas</td>
</tr>
            <th scope="row" rowspan="5">DSS05.07 Supervisar la infraestructura para detectar eventos
                relacionados con la seguridad. 
                <p class="texto">Usando herramientas de detección de intrusiones, supervisar la
                    infraestructura para detectar accesos no autorizados y asegurar que cualquier
                    evento esté integrado con la supervición general de eventos y la gestión
                    de incidentes. 
                </p>
            </th>
            <tr>
                <td style="text-align: center;">De</td>
        <td style="text-align: center;">Descripción</td>
        <td style="text-align: center;">Descripción</td>
        <td style="text-align: center;">A</td>
            </tr>
            <tr>
                <td rowspan="3"></td>
                <td rowspan="3"></td>
                <td>Registros de incidentes de seguridad</td>
                <td>Interno</td>
            </tr>
            <tr>
                <td>Características de incidentes de seguridad</td>
                <td>Interno</td>
            </tr>
            <tr>
                <td>Tiques de incidentes de seguridad</td>
                <td><a href="/dsso2tabla3">DSS02.02</a></td>
            </tr>
            <tr>
                <td colspan="5" style="text-align:center" class="fondo">Actividades</td>
            </tr>
<tr>
    <td colspan="5">1. Registrar los eventos relacionados con la 
        seguridad reportados por las herramientas de monitorización de la 
        seguridad de la infraestructura, identificando el nivel de información 
        que debe guardarse en base a la consideración de riesgo. Retenerla 
        por un periodo apropiado para asistir en futuras investigaciones.</td>
        
</tr>
<tr>
    <td colspan="5">2. Definir y comunicar la naturaleza y caracteristicas de los 
        incidentes potenciales relacionados con la seguridad de forma que sean 
        fácilmente reconocibles y sus impactos comprendidos para permitir una 
        respuesta conmensurada. </td>
</tr>
<tr>
    <td colspan="5">3. Revisar regularmente los registros de eventos para detectar 
        incidentes potenciales.</td>
</tr>
<tr>
    <td colspan="5">4. Mantener un procedimiento para la recopilación de 
        evidencias en línea con los procedimientos de evidencias forenses 
        locales y asegurar que todos los empleados están concienciados de 
        los requerimientos.</td>
</tr>
<tr>
    <td colspan="5">5. Asegurar que los tiques de incidentes de seguridad se 
        crean en el momento oportuno cuando la monitorización identifique 
        incidentes de seguridad potenciales.</td>
</tr>
        </table>
</div>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">HOME</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/listraci05">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla2">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla3">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla4">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla5">6</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla6">7</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla7">8</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla8">9</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla9">10</a></li>
      <li class="page-item"><a class="page-link" href="/dsso5tabla9">Next</a></li>
      
    </ul>
  </nav><br>