<div class="container">
    <table class="table">
        <thead class="theader">
        <tr>
            <td class="titulos" scope="col" colspan="5">DSS02 Prácticas, Entradas/Salidas y Actividades del Proceso (cont.)</td>
        </tr>
    </thead>
<thead class="fondo2" style="text-align: center;">
    <tr>
        <td class="titulos" scope="col">Prácticas de Gestión</td>
        <td class="titulos" scope="col" colspan="2">Entradas</td>
        <td class="titulos" scope="col" colspan="2">Salidas</td>
    </tr>
</thead>
    <tr>
        <th  scope="row" rowspan="4">DSS02.07 Seguir el estado y emitir de
            informes.
            <p class="texto">Hacer seguimiento, analizar e informar de incidentes y
                tendencias de cumplimiento de peticiones, regularmente, para proporcionar
                información para la mejora continua.
            </p>
        </th>
        <td style="text-align: center;">De</td>
        <td style="text-align: center;">Descripción</td>
        <td style="text-align: center;">Descripción</td>
        <td style="text-align: center;">A</td>
    </tr>
    <tr>
        <td><a href="">APO09.03</a></td>
        <td>OLAs</td>
        <td rowspan="2">Informe de estado y tendencias de incidentes</td>
        <td valign="middle" rowspan="2"><a href="">APO08.03</a><br>
            <a href="">APO09.04</a><br>
            <a href="apo11tabla4">APO11.04</a><br>
            <a href="apo12tabla2">APO12.01</a><br>
            <a href="mea01a">MEA01.03</a><br>
        </td>
    </tr>
    <tr>
        <td><a href="dsso3tabla3">DSS03.02</a></td>
        <td>Informes de resolución de problemas</td>
    </tr>
    <tr>
        <td><a href="dsso3tabla6">DSS03.05</a></td>
        <td>Informes de monitorización de resolución de problemas</td>
        <td>Informes de estado de cumplimiento de peticiones y tendencias</td>
        <td valign="middle"><a href="">APO08.03</a><br>
            <a href="">APO09.04</a><br>
            <a href="apo11tabla4">APO11.04</a><br>
            <a href="mea01a">MEA01.03</a>
        </td>
    </tr>
    <tr>
        <td colspan="5" class="fondo" style="text-align:center"><b>Actividades</b></td>
    </tr>
    <tr>
        <td colspan="5">1. Supervisar y hacer seguimiento del escalado de incidentes y 
            de resoluciones y de los procedimientos de gestión de resoluciones para 
            progresar hacia la resolución o cumplimentación.</td>
    </tr>
    <tr>
        <td colspan="5">Identificar la información para las partes interesadas y sus 
            necesidades de datos o informes. Identificar la frecuencia y el medio 
            para informarles.</td>
    </tr>
    <tr>
        <td colspan="5">3. Analizar incidentes y peticiones de servicio por categoría y 
            tipo para establecer tendencias e identificar patrones de asuntos 
            recurrentes, infracciones de ANSS o ineficiencias. Utilizar la información 
            como entrada a la planificación de la mejora continua.</td>
    </tr>
    <tr>
        <td colspan="5">4. Producir y distribuir informes en tiempo o proporcionar acceso 
            controlado a datos online.</td>
    </tr>
            </table>
            </div>
            <nav aria-label="Page navigation example " class="container" style="width: 87%;">
                <ul class="pagination">
                  <li class="page-item"><a class="page-link" routerLink="/home">HOME</a></li>
                  <li class="page-item"><a class="page-link" routerLink="/dsso2tabla1">1</a></li>
                  <li class="page-item"><a class="page-link" routerLink="//listraci02">2</a></li>
                  <li class="page-item"><a class="page-link" routerLink="/dsso2tabla2">3</a></li>
                  <li class="page-item"><a class="page-link" routerLink="/dsso2tabla3">4</a></li>
                  <li class="page-item"><a class="page-link" routerLink="/dsso2tabla4">5</a></li>
                  <li class="page-item"><a class="page-link" routerLink="/dsso2tabla5">6</a></li>
                  <li class="page-item"><a class="page-link" routerLink="/dsso2tabla6">7</a></li>
                  <li class="page-item"><a class="page-link" routerLink="/dsso2tabla7">8</a></li>
                  <li class="page-item"><a class="page-link" routerLink="/dsso2tabla8">9</a></li>
                  <li class="page-item"><a class="page-link" routerLink="/dsso2tabla9">10</a></li>
                  <li class="page-item"><a class="page-link" href="/dsso2tabla9">Next</a></li>
                  
                </ul>
              </nav><br>
