<div class="container">
    <table class="table">
        <thead class="theader">
        <tr>
            <td class="titulos" scope="col" colspan="5">DSS05 Prácticas, Entradas/Salidas y Actividades del Proceso (cont.)</td>
        </tr>
    </thead>
    <thead style="text-align:center" class="fondo2">
    <tr>
        <td class="titulos" scope="col">Prácticas de Gestión</td>
        <td class="titulos" scope="col" colspan="2">Entradas</td>
        <td class="titulos" scope="col" colspan="2">Salidas</td>
    </tr>
</thead>

<tr>
<th scope="row" rowspan="3">DSS05.04 Gestionar la identidad del usuario y el acceso
    lógico.
    <p class="texto">Asegurar que todos los usuarios tengan derechos de acceso a la
        información de acuerdo con los requerimientos de negocio y coordinar
        con las unidades de negocio que gestionan sus propios derechos de acceso
        con los procesos de negocio.
    </p>
</th>
<td style="text-align: center;">De</td>
        <td style="text-align: center;">Descripción</td>
        <td style="text-align: center;">Descripción</td>
        <td style="text-align: center;">A</td>
</tr>
<tr>
   <td><a href="pagina53">APO01.02</a></td>
   <td>Definición de roles y responsabilidades relacionadas con TI</td>
   <td>Derechos de acceso de los usuarios aprobados</td>
   <td>Interno</td>
  
</tr>
<tr>
   <td><a href="pagina65">APO03.02</a></td>
   <td>Modelo de arquitectura de la información</td>
   <td>Resultados de las revisiones de cuentas y privilegios de cuentas y
       privilegios de los usuarios
   </td>
   <td>Interno</td>
</tr>
<tr>
   <td colspan="5" style="text-align:center" class="fondo">Actividades</td>
</tr>
<tr>
   <td colspan="5">1. Mantener los derechos de acceso de los usuarios de 
       acuerdo con los requerimientos de las funciones y procesos de negocio. 
       Alinear la gestión de identidades y derechos de acceso a los roles 
       y responsabilidades definidos, basándose en los principios de menor 
       privilegio, necesidad de tener y necesidad de conocer.</td>
</tr>
<tr>
   <td colspan="5">2. Identificar unívocamente todas las actividades de proceso 
       de la información por roles funcionales, coordinando con las unidades 
       de negocio y asegurando que todos los roles están definidos 
       consistentemente, incluyendo roles definidos por el propio negocio 
       en las aplicaciones de procesos de negocio.</td>
</tr>
<tr>
<td colspan="5">3. Autenticar todo acceso a los activos de información 
    basándose en su clasificación de seguridad, coordinando con las unidades 
    de negocio que gestionan la autenticación con aplicaciones usadas en 
    procesos de negocio para asegurar que los controles de autenticación 
    han sido administrados adecuadamente.</td>
</tr>
<tr>
    <td colspan="5">4. Administrar todos los cambios de derechos de acceso 
        (creación, modificación y eliminación) para que tengan efecto 
        en el momento oportuno basándose sólo en transacciones aprobadas 
        y documentadas y autorizadas por los gestores individuales designados.</td>
</tr>
<tr>
    <td colspan="5">5. Segregar y gestionar cuentas de usuario privilegiadas.</td>
</tr>
<tr>
    <td colspan="5">6. Realizar regularmente revisiones gestión de todas las cuentas y 
        privilegios relacionados.</td>
</tr>
<tr>
    <td colspan="5">7. Asegurar que todos los usuarios (internos, externos y temporales) 
        y su actividad en sistemas de TI (aplicaciones de negocio, infraestructura 
        de TL operaciones de sistema, desarrollo y mantenimiento) son 
        identificables unívocamente. Identificar unívocamente todas las 
        actividades de proceso de información por usuario.</td>  
</tr>
<tr>
    <td colspan="5">8. Mantener una pista de auditoria de los accesos a la información 
        clasificada como altamente sensible.</td>
</tr>
</table>
</div>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">HOME</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/listraci05">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla2">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla3">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla4">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla5">6</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla6">7</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla7">8</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla8">9</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla9">10</a></li>
      <li class="page-item"><a class="page-link" href="/dsso5tabla6">Next</a></li>
      
    </ul>
  </nav><br>
