<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>

<body>
    <table class="container" style="width: 87%;">
        <tr>
            <td class="azultabla1">APO03 Prácticas, Entradas/Salidas y Actividades del Proceso (cont.)</td>
        </tr>
        <tr>
            <td><a class="nav-link" raouterLink="/pagina63" >APO03.01</a>  Actividades</td>
        </tr>
        <tr>
            <td>1. Identificar a las partes interesadas clave de la empresa y sus objetivos/preocupaciones y definir los
                requisitos clave de la empresa a ser considerados, así como la visión de la arquitectura a ser
                desarrollada para satisfacer los distintos requisitos de las partes interesadas.</td>
        </tr>
        <tr>
            <td>2. Identificar los objetivos y los impulsores estratégicos de la empresa y definir las limitaciones con
                las que habrá que tratar, incluyendo las limitaciones en toda la empresa y las especificas del proyecto
                (duración, planificación, recursos, etc.).</td>
        </tr>
        <tr>
            <td>3. Alinear los objetivos de la arquitectura con las prioridades estratégicas del plan empresarial.</td>
        </tr>
        <tr>
            <td>4. Entender los deseos y las capacidades del negocio y, a continuación, identificar las opciones para
                realizar dichas capacidades.</td>
        </tr>
        <tr>
            <td>5. Evaluar la disposición de la empresa para el cambio.</td>
        </tr>
        <tr>
            <td>6. Definir qué está dentro y qué está fuera del alcance de la arquitectura de partida y los esfuerzos de
                arquitectura objetivo, entendiendo que el punto de partida y el objetivo no necesitan ser descritos con
                el mismo nivel de detalle.</td>
        </tr>
        <tr>
            <td>7. Confirmar y elaborar los principios de la arquitectura, incluyéndose los principios de la empresa.
                Asegurarse de que todas las definiciones existentes están vigentes y aclarar cualquier área de
                ambigüedad.</td>
        </tr>
        <tr>
            <td>8. Entender los objetivos estratégicos actuales de la empresa y trabajar conjuntamente con el proceso de
                planificación estratégica para asegurarse que las oportunidades de arquitectura de TI empresarial se
                apoyan en el desarrollo del plan estratégico.</td>
        </tr>
        <tr>
            <td>9. Crear la visión de la arquitectura atendiendo a las preocupaciones de las partes interesadas, en los
                requisitos de capacidad del negocio, en el alcance, en las limitaciones y principios: visión de alto
                nivel de las arquitecturas de partida y objetivo.</td>
        </tr>
        <tr>
            <td>10. Definir las proposiciones de valor, los objetivos y métricas de la arquitectura objetivo.</td>
        </tr>
        <tr>
            <td>11. Identificar los riesgos empresariales asociados con el cambio de la nueva visión de la arquitectura,
                evaluar el nivel de riesgo inicial (por ejemplo, crítico, marginal o despreciable) y desarrollar una
                estrategia de mitigación para cada riesgo importante.</td>
        </tr>
        <tr>
            <td>12. Desarrollar el caso de negocio del concepto de arquitectura empresarial, bosquejar los planes y el
                trabajo de arquitectura y asegurar que están aprobados para iniciar el proyecto que esté alineado e
                integrado con la estrategia empresarial.</td>
        </tr>
    </table>
    <table class="container" style="width: 87%;">
        <th class="celeste2tabla1">
            Práctica de Gestión
        </th>
        <th colspan="2" class="celeste2tabla1">
            Entradas
        </th>
        <th colspan="2" class="celeste2tabla1">
            Salidas
        </th>
        <tr>
            <td rowspan="5">
                APO03.02 Definir la arquitectura de referencia.<br>
                La arquitectura de referencia describe la situación actual y el objetivo de la arquitectura para los
                dominios negocio, información, datos, aplicaciones y tecnología.</td>
            <td>De</td>
            <td>Descripción</td>
            <td>Descripción</td>
            <td>A</td>
        </tr>
        <tr>
            <td><a class="nav-link" raouterLink="/Pagina51">APO01.01</a> </td>
            <td>Directrices operativas corporativas<br>
                Definición de la estructura de la organización y funciones</td>
            <td>Descripciones de dominio de partida y definición de la arquitectura</td>
            <td><a class="nav-link" rauterLink="/apo13tabla1">APO13.02</a> <br>
                BAI02.01<br>
                BAI03.01<br>
                BAI03.02</td>
        </tr>
        <tr>
            <td><a class="nav-link" raouterLink="/pagina51">APO01.05</a> </td>
            <td>Emplazamiento operacional de la función TI<br>
                Evaluación de las diferentes opciones para la organización de TI</td>
            <td>Modelo de arquitectura de procesos</td>
            <td><a class="nav-link" routerLink="/pagina51">APO01.01</a> </td>
        </tr>
        <tr>
            <td><a class="nav-link" routerRouter="/pagina51">APO01.06</a> </td>
            <td>Guía para la clasificación de los datos</td>
            <td rowspan="2">Modelo de la arquitectura de la información</td>
            <td rowspan="2">APO02.05<br>
                BAI02.01<br>
                BAI03.02<br>
                DSS05.03<br>
                DSS05.04<br>
                DSS05.06</td>
        </tr>
        <tr>
            <td>Fuera del Ámbito de COBIT</td>
            <td>Estrategia empresarial</td>
        </tr>
    </table>
</body>

</html><br>

<nav aria-label="Page navigation  example" class="container" style="width: 87%;">
    <ul class="pagination container">
      <li class="page-item"><a class="page-link" routerLink="/home">APOO3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina63">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/Apo03raci">2 </a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina65">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina66">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina67">5</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>