<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="container" style="width: 87%;">
        <tr>
            <th class="azultabla1" style="width: 50%;">BAI05 Gestionar la Facilitación del Cambio Organizativo</th>
            <th class="azultabla1" style="width: 50%;">Area: Gestión<br>
                Dominio: Construir, Adquirir e Implementar</th>
        </tr>
        <tr>
            <td colspan="2" class="texto">Descripción del Proceso
                Maximizar la probabilidad de la implementación exitosa en toda la empresa del cambio Organizativo de forma rápida y con riesgo reducido, cubriendo el ciclo
                de vida completo del cambio y todos las partes interesadas del negocio y de TI.
        </tr>
        <tr>
            <td colspan="2" class="texto">Declaración del Propósito del Proceso<br>
                Preparar y comprometer a las partes interesadas para el cambio en el negocio y reducir el riego de fracaso.
        </tr>
        <tr>
            <th class="celeste2tabla1" colspan="2">El proceso apoya la consecución de un conjuno de principales metas TI:</th>
        </tr>
        <tr>
            <th class="celeste2tabla1" style="width: 50%;">Meta TI</th>
            <th class="celeste2tabla1" style="width: 50%;">Métricas Relacionadas</th>
        </tr>
        <tr>
            <td colspan="1" class="texto">08 Uso adecuado de aplicaciones, información y soluciones tecnologicas</td>
            <td colspan="1" class="texto">•Porcentaje de propietarios de proceso de negocio satisfecho con los <br>
                productos y servicios TI que dan soporte a estos procesos<br>
                •Nivel de comprensión de los usuarios de negocio sobre cómo las <br>soluciones tecnológicas soportan su procesos <br>
                •Nivel de satisfacción de los usuarios de negocio con las formación y <br>manuales de usuario <br>
                •Valor presente neto (NPV) mostrando el nivel de satisfacción del negocio <br>
                con la calidad y utilidad de las soluciones tecnológicas 
            </td>
        </tr>
        <tr>
            <td colspan="1" class="texto">13 Entrega de programass que proporcionen beneficios a tiempo, dentro del <br> presupuesto y satisfacción los requisitos y normas de calidad.</td>
            <td colspan="1" class="texto">•Número de programas/proyectos ejecutados en plazo y en presupuesto <br>
                •Porcentaje de partes interesadas satisfechas con la calidad del <br> programa/proyecto <br>
                •Número de programas que necesitan ser revisados significativamente  <br> debido a defectos de calidad <br>
                •Coste del mantenimiento de aplicaciones respecto al coste total de TI
            </td>
        </tr>
        <tr>
            <td colspan="1" class="texto">17 Conocimiento, experiencia e iniciativas para la innovación de negocio</td>
            <td colspan="1" class="texto">•Nivel de concienciación y comprensión de las posibilidades de <br>
                innovación de TI del negocio ejecutivo <br>
                •Nivel de satisfacción de las partes interesadas con los niveles de <br>
                 experiencia e ideas de la innovación TI <br>
                •Número de iniciativa aprobadas resultantes de ideas innovadoras de TI
            </td>
        </tr>
        <tr>
            <th class="celeste2tabla1" colspan="2">Objetivos y Métricas del Poceso</th>
        </tr>
        <tr>
            <th class="celeste2tabla1" style="width: 50%;">Meta del Proceso</th>
            <th class="celeste2tabla1" style="width: 50%;">Métricas Relacionadas</th>
        </tr>
        <tr>
            <td colspan="1" class="texto">1. El deseo de cambio de las partes interesadas ha sido entendido.
            </td>
            <td colspan="1" class="texto">•Nivel de deseo de cambio de las partes interesadas <br>
                •Nivel de involucración de la alta dirección
            </td>
        </tr>
        <tr>
            <td colspan="1" class="texto">2. El equipo de implementación es competente y está habilitado para <br>
                conducir el cambio.
            </td>
            <td colspan="1" class="texto">•Índices de satisfacción de las partes interesadas afectadas con el equipo <br>
                de implementación <br>
                •Número de habilidades identificadas o cuestiones de capacidad
            </td>
        </tr>
        <tr>
            <td colspan="1" class="texto">3. El cambio deseado es comprendido y aceptado por las partes <br>
                interesadas.
            </td>
            <td colspan="1" class="texto">•Comentarios de las partes interesadas sobre el nivel de comprensión <br>
                •Número de preguntas recibidas
            </td>
        </tr>
        <tr>
            <td colspan="1" class="texto">4. Los que juegan algún papel están facultados para entregar el cambio.
            </td>
            <td colspan="1" class="texto">•Porcentaje de los que juegan algún papel con una autoridad asignada <br> adecuada <br>
                •Comentarios de los que juegan algún papel acerca del nivel de <br> facultamiento
            </td>
        </tr>
        <tr>
            <td colspan="1" class="texto">5. Todos los que juegan algún papel están habilitados para operar, utilizar y <br>mantener el cambio.
            </td>
            <td colspan="1" class="texto">•Porcentaje de los que juegan algún papel debidamente formados <br>
                •Autoevaluación de capacidades relevantes po parte de los que juegan <br> algún papel <br>
                •Nivel de satisfacción de los que juegan algún papel operando, utilizando <br>
                y manteniendo el cambio
            </td>
        </tr>
        <tr>
            <td colspan="1" class="texto">6. El cambio está integrado y sostenido.
            </td>
            <td colspan="1" class="texto">•Porcentaje de usuarios adecuadamente formados en el cambio <br>
                •Nivel de satisfacción de los usuarios con la adopción del cambio
            </td>
        </tr>
    </table>
</body>
</html><br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/pagina145">BAI05</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina146">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina147">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina148">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
      
    </ul>
  </nav><br>