<body>
    <table class="table table-bordered" class="container" style="width: 87%;" >
        <thead>
          <tr>
            <th class="azultabla1" colspan="2">MEA01 Supervisar, Evaluar y Valorar el Rendimiento y la Conformidad.</th>
            <th class="azultabla1" colspan="2" >
              <p>Área: Gobierno</p>
              <p> Dominio: Supervisar, Evaluar y Valorar</p></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="celestetabla1" colspan="4"><b>Descripción del Proceso</b><br>
                Recolectar, validar y evaluar métricas y objeivos de negocio, de TI y de procesos. Supervisar que los procesos se están realizando acorde al rendimiento acordado y 
                conforme a los objetivos y métricas y se proporcionan informes de forma sistematica y planificada.</td>
          </tr>
          <tr>
            <td class="celestetabla1" colspan="4"><b>Declaración del Propósito del Proceso</b><br>
                Proporcionar transparencia de rendimiento y conformidad y conducción hacia la obtención de los objetos.</td>
          </tr>
          <tr>
            <th class="celeste2tabla1" colspan="4">El proceso apoya la consecución de un conjunto de principales metas TI:</th>
          </tr>
          <tr>
            <th class="celeste2tabla1" colspan="2">Meta TI</th>
            <th class="celeste2tabla1" colspan="2">Métricas relacionadas</th>
          </tr>
          <tr>
            <td class="celestetabla1" colspan="2" class="text-top">04 Riesgos de negocio relacionados con las TI gestionados</td>
            <td class="celestetabla1" colspan="2">
              <p>• Porcentaje de procesos de negocio críticos, servicios TI y programas de negocio hablitados por las TI cubiertos por evaluciones de riesgo.</p> 
              <p>• Número de incidentes significativos relacionados con las TI que no fueron identificados en la evalución de riesgos.</p>
              <p>• Porcentaje de evaluaciones de riesgo de la empresa que incluyen los riesgos relacionados con TI</p>
              <p>• Frecuencia de actualización del perfil de riesgo. </p>
            </td>
          </tr>
          <tr>
            <td class="celestetabla1" colspan="2" class="text-top">07 Entrega de servicios TI de acuerdo a los requisitos del negocio</td>
            <td class="celestetabla1" colspan="2"><p>• Número de interrupciones del negocio debidas a incidentes en el servicio de TI. </p>
              <p>• Porcentaje de partes interesadas satisfechas con el cumplimiento del servicio de TI entregado respecto a los niveles de servicio acordados.</p> 
              <p>• Porcentaje de usuarios satisfechos con la calidad de los servicios de TI entregados.</p>
            </td>
          </tr>
          <tr>
            <td class="celestetabla1" colspan="2" class="text-top">11 Optimización de activos, recursos y capacidades de TI</td>
            <td class="celestetabla1" colspan="2"><p>• Frecuencia de evaluciones de la madurez de la capacidad y de la optimización de costes.</p>
              <p>• Tendencia de los resultados de las evaluciones.</p> 
              <p>• Niveles de satisfación de los ejecutivos de negocio y TI con los costes y capacidades TI.</p>
            </td>
          </tr>
          <tr>
            <td class="celestetabla1" colspan="2" class="text-top">15 Cumplimiento de las políticas internas por parte de TI</td>
            <td class="celestetabla1" colspan="2"><p>• Número de incidentes relacionados con el incumplimiento de la política.</p>
              <p>• Porcentaje de partes interesadas que comprenden las políticas.</p> 
              <p>• Porcentaje de políticas soportadas por estándares y prácticas de trabajo efectivas.</p>
              <p>• Frecuencia de revisión y actualización de las políticas.</p>
            </td>
          </tr>
          
          <tr>
            <th class="celeste2tabla1" colspan="4">Objetivos y Métricas del Proceso</th>
          </tr>
          <tr>
            <th class="celeste2tabla1" colspan="2">Meta del Proceso</th>
            <th class="celeste2tabla1" colspan="2">Métricas Relacionadas</th>
          </tr>
          <tr>
            <td class="celestetabla1" colspan="2" class="text-top">1. Objetivos y métricas aprobadas por las partes interesadas.</td>
            <td class="celestetabla1" colspan="2"><p>• Porcentaje de informes de rendimiento entregados en plazo </p>
              <p>• Porcentaje de objetivos y métricas aprobadas por las partes interesadas</p></td>
          </tr>
          <tr>
            <td class="celestetabla1" colspan="2" class="text-top">2. Procesos medidos acorde a las métricas y objetivos acordados.</td>
            <td class="celestetabla1" colspan="2"><p>• Porcentaje de procesos con objetivos y métricas definidas</p>
            </td>
          </tr>
          <tr>
            <td class="celestetabla1" colspan="2" class="text-top">3. La monotización, evalución y generación de información es efectiva y operativa</td>
            <td class="celestetabla1" colspan="2"><p>• Porcentaje de procesos con efectividad de objetivos y métricas revisadas y mejoradas</p>
            <p>• Porcentaje de procesos críticos supervisados</p></td>
          </tr>
          <tr>
            <td class="celestetabla1" colspan="2" class="text-top">4. Objetivos y métricas integradas dentro de los sistemas de supervisión de la empresa.</td>
            <td class="celestetabla1" colspan="2"><p>• Porcentaje de objetivos y métricas alineadas al sistema de supervisión de la empresa</p></td>
          </tr>
          <tr>
            <td class="celestetabla1" colspan="2" class="text-top">5. Los informes acerca del rendimiento y conformidad de los procesos es útil y a tiempo.</td>
            <td class="celestetabla1" colspan="2"><p>• Porcentaje de informes de rendimiento entregados en plazo</p></td>
          </tr>
          
        </tbody>
      </table>
</body><br>

       

        <!-- --------------------------------------------------slect------------------------------------------- -->
        <nav aria-label="Page navigation example " class="container" style="width: 87%;">
          <ul class="pagination container">
            <li class="page-item"><a class="page-link" routerLink="/mea01">1</a></li>
            <li class="page-item"><a class="page-link" href="listar-tablaz">Tabla RACI</a></li>
            <li class="page-item"><a class="page-link" href="mea01a">2</a></li>
            <li class="page-item"><a class="page-link" href="mea01b">3</a></li>
            <li class="page-item"><a class="page-link" href="mea02">Coninuar MEA02</a></li>
            
          </ul>
          </nav><br>
        <!-- --------------------------------------------------slect------------------------------------------- -->
        
  

