<div class="table-responsive">
    <table *ngIf="apo07titulolistar.length > 0" >
        <thead   >
          <tr id="apo07">
            <th colspan="29" class="matriz">Matriz RACI APO07</th>
          </tr>
        </thead>
  
        <!-- -----------------------cabecera------------------------ -->
  
        <tbody >
         
          <tr *ngFor="let apo07titulovar of apo07titulolistar">
            <th ><p class="gob">Practicas de Gobierno</p></th>
            <td class="verticalText">{{ apo07titulovar.apo07titulo1}}</td>
            <td class="verticalText">{{ apo07titulovar.apo07titulo2}}</td>
            <td class="verticalText">{{ apo07titulovar.apo07titulo3}}</td>
            <td class="verticalText">{{ apo07titulovar.apo07titulo4}}</td>
            <td class="verticalText">{{ apo07titulovar.apo07titulo5}}</td>
            <td class="verticalText">{{ apo07titulovar.apo07titulo6}}</td>
            <td class="verticalText">{{ apo07titulovar.apo07titulo7}}</td>
            <td class="verticalText">{{ apo07titulovar.apo07titulo8}}</td>
            <td class="verticalText">{{ apo07titulovar.apo07titulo9}}</td>
            <td class="verticalText">{{ apo07titulovar.apo07titulo10}}</td>
            <td class="verticalText">{{ apo07titulovar.apo07titulo11}}</td>
            <td class="verticalText">{{ apo07titulovar.apo07titulo12}}</td>
            <td class="verticalText">{{ apo07titulovar.apo07titulo13}}</td>
            <td class="verticalText">{{ apo07titulovar.apo07titulo14}}</td>
            <td class="verticalText">{{ apo07titulovar.apo07titulo15}}</td>
            <td class="verticalText">{{ apo07titulovar.apo07titulo16}}</td>
            <td class="verticalText">{{ apo07titulovar.apo07titulo17}}</td>
            <td class="verticalText">{{ apo07titulovar.apo07titulo18}}</td>
            <td class="verticalText">{{ apo07titulovar.apo07titulo19}}</td>
            <td class="verticalText">{{ apo07titulovar.apo07titulo20}}</td>
            <td class="verticalText">{{ apo07titulovar.apo07titulo21}}</td>
            <td class="verticalText">{{ apo07titulovar.apo07titulo22}}</td>
            <td class="verticalText">{{ apo07titulovar.apo07titulo23}}</td>
            <td class="verticalText">{{ apo07titulovar.apo07titulo24}}</td>
            <td class="verticalText">{{ apo07titulovar.apo07titulo25}}</td>
            <td class="verticalText">{{ apo07titulovar.apo07titulo26}}</td>
          
            <td>
              <i [routerLink]="['/editar-apo07titulo', apo07titulovar._id]"  class="fa-solid fa-pen-to-square  ed"></i><br>
                <i (click)="eliminarApo07titulo(apo07titulovar._id)" class="fa-solid fa-trash  el"></i><br>
            </td>
          </tr>
        </tbody>
  
  
        <tbody>
          <tr *ngFor="let apo07casillasvar of apo07casillalistar">
           
          
            <td class="segundo">{{ apo07casillasvar.apo07casilla1}}</td>
              <td class="segundo">{{ apo07casillasvar.apo07casilla2}}</td>
              <td class="segundo">{{ apo07casillasvar.apo07casilla3}}</td>
              <td class="segundo">{{ apo07casillasvar.apo07casilla4}}</td>
              <td class="segundo">{{ apo07casillasvar.apo07casilla5}}</td>
              <td class="segundo">{{ apo07casillasvar.apo07casilla6}}</td>
              <td class="segundo">{{ apo07casillasvar.apo07casilla7}}</td>
              <td class="segundo">{{ apo07casillasvar.apo07casilla8}}</td>
              <td class="segundo">{{ apo07casillasvar.apo07casilla9}}</td>
              <td class="segundo">{{ apo07casillasvar.apo07casilla10}}</td>
              <td class="segundo">{{ apo07casillasvar.apo07casilla11}}</td>
              <td class="segundo">{{ apo07casillasvar.apo07casilla12}}</td>
              <td class="segundo">{{ apo07casillasvar.apo07casilla13}}</td>
              <td class="segundo">{{ apo07casillasvar.apo07casilla14}}</td>
              <td class="segundo">{{ apo07casillasvar.apo07casilla15}}</td>
              <td class="segundo">{{ apo07casillasvar.apo07casilla16}}</td>
              <td class="segundo">{{ apo07casillasvar.apo07casilla17}}</td>
              <td class="segundo">{{ apo07casillasvar.apo07casilla18}}</td>
              <td class="segundo">{{ apo07casillasvar.apo07casilla19}}</td>
              <td class="segundo">{{ apo07casillasvar.apo07casilla20}}</td>
              <td class="segundo">{{ apo07casillasvar.apo07casilla21}}</td>
              <td class="segundo">{{ apo07casillasvar.apo07casilla22}}</td>
              <td class="segundo">{{ apo07casillasvar.apo07casilla23}}</td>
              <td class="segundo">{{ apo07casillasvar.apo07casilla24}}</td>
              <td class="segundo">{{ apo07casillasvar.apo07casilla25}}</td>
              <td class="segundo">{{ apo07casillasvar.apo07casilla26}}</td>
              <td class="segundo">{{ apo07casillasvar.apo07casilla27}}</td>
              <td>
                <i [routerLink]="['/editar-apo07casilla',apo07casillasvar._id]"  class="fa-solid fa-pen-to-square  ed"></i><br>
                <i (click)="eliminarApo07casilla(apo07casillasvar._id)" class="fa-solid fa-trash  el"></i><br>
            </td>
          </tr>
        </tbody>
   
      </table>
      <h5 *ngIf="apo07casillalistar.length == 0" >No hay Matriz para mostrar</h5>
  </div>
  <br>
  <br>
  <div class="d-grid gap-2 col-3 mx-auto">
    <button routerLink="/crear-apo07titulo" class="btn btn-primary">Nueva cabecera</button>
    <button routerLink="/crear-apo07casilla"class="btn btn-primary" type="button">Nueva Raci</button>
    
  </div><br>
  
  <br>
  <br>
  <nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">APOO7</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo7tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/Apo07raci">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo7tabla2">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo7tabla3">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo7tabla4">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo7tabla5">7</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
      
    </ul>
  </nav>




