<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>localhost4200</title>

</head>
<body>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th colspan="3" class="azultabla1" colspan="6">EDMO3 Guias relacionada</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="celestetabla1" colspan="1">Estándar Relacionado</th>
        <th class="celestetabla1" colspan="2">Referencia Detallada</th>
      </tr>
      <tr>
        <td  colspan="1"> ISO/IEC 38500</td>
        <td  colspan="2"></td>
      </tr>
      <tr>
        <td  colspan="1">King III</td>
        <td  colspan="2">5.6 El consejo debe asegurar que los activos de informacion son gestionados eficazmente</td>
      </tr>
      <tr>
        <td  colspan="1">The Open Group Architecture Forum</td>
        <td  colspan="2"> <p>• Los componentes TOGAF de un consejo de arquitectura, Gobierno de la arquitectura y mapa de modelos de madurez 
            de la arquitectura para la optimizcion de recursos. </p>
          </td>
      </tr>
    </tbody>
  </table>
</body>

</html>

<br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" routerLink="edm03tabla1">Menu</a></li>
    <li class="page-item"><a class="page-link" href="edm0atabla1">1</a></li>
    <li class="page-item"><a class="page-link" href="listar-four">2</a></li>
    <li class="page-item"><a class="page-link" href="edm04tabla3">3</a></li>
    <li class="page-item"><a class="page-link" href="edm04tabla4">4</a></li>
    
  </ul>
  </nav><br>


