<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>localhost4200</title>

</head>


<body>
    <div class="tabla3">
        <table class="table table-bordered">
         <thead>
           <tr>
             <th class="azultabla1" colspan="6"><a href="edm01tabla1">EDMO1</a>Prácticas, actividades y entradas/salidas del Proceso</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <th class="celestetabla1" colspan="2">Práctica de gobierno</th>
             <th class="celestetabla1" colspan="2">Entradas</th>
             <th class="celestetabla1" colspan="2">Salidas</th>
           </tr>
           <tr>
             <td rowspan="6" colspan="2"><a href="edm04tabla1">EDMO4.01</a>Examinar y evaluar continuamente la necedidad actual y factura de los recursos
                 relacionados con TI, las opciones para la asignacion de recursos (incluyendo estrategias de aprovisionamiento) 
                 y los principios de asignacion y gestion para cumplir de manera optima con las necesidades de la empresa.</td>
               <th colspan="1">De</th>
               <th colspan="1">Descripción</th>
               <th colspan="1">Descripción</th>
               <th colspan="1">A</th>
           </tr>
           <tr>
             <td colspan="1"><a href="pagina57">APO02.04</a></td>
             <td colspan="1">Brechas y cambios necesarios para hacer realidad los objetivos de capacidad</td>
             <td colspan="1">Principios rectores para asignacion de recursos y capacidades </td>
             <td colspan="1">
               <p><a href="pagina57">APO02.01</a></p>
               <p><a href="apo7tabla1">APO07.01</a></p>
               <p><a href="pagina133">BAI03.11</a></p></td>
           </tr>
           <tr>
             <td rowspan=""><a href="apo7tabla1">APO07.03</a></td>
             <td rowspan="1"> <p>Planes de desarollode competencias</p>
             <td rowspan="1">Principios rectores de la arquitectura de la empresa </td>
             <td rowspan="1"><a href="pagina133">APO03.01</a> </td>
             
           </tr>
           <tr>
           </tr>
           <tr>
          </tr>
          <tr>
            <td colspan="1"><a href="apo10tabla1">APO10.02</a></td>
            <td colspan="1">Desiciones sobre los resultados de evaluacionde proveedores</td>
            <td colspan="1">Plan de recursos aprobados</td>
            <td colspan="1">
              <p><a href="pagina57">APO02.05</a></p>
              <p><a href="apo7tabla1">APO07.01</a></p>
              <p><a href="apo9tabla1">APO09.02</a></p></td>
        </tr>
           <tr>
             <th class="celestetabla1" colspan="6">Actividades</th>
           </tr>
           <tr>
             <td colspan="6">1.Examinar y ecaluar la estrategia actual y futura, las opciones de aprovisionamiento de recursos TI y desarollar capacidadespara cubrir las necesidades actuales y futuras
                 (incluyendo alternativas de aproviisionamiento) </td>
           </tr>
           <tr>
             <td colspan="6">2. Definir los principios para guiar la asignacion y gestion de recursos y capacidades de manera que las TIpuedan satisfacer las necesidades de la 
                 empresa con la habilidad y capacidad requerida de acuerdo a las prioridades acordadas y las limitaciones presupuestarias.</td>
           </tr>
           <tr>
             <td colspan="6">3. Revisar y aprobar los planes de recurso y las estrategias de arquitectura de la empresa para la entrega de valor y la mitigacion de riesgos con los 
                 recursos asignados. </td>
           </tr>
           <tr>
             <td colspan="6"> 4. Comprender los requisitos para alinear la asignacion de recursos con la planfiicacion de recursos empresiariales financieron y humanos.</td>
           </tr>
           <tr>
             <td colspan="6">5. DEfinir los principios para la gestion y el control de la empresa.</td>
           </tr>
           <tr>
            <th class="celestetabla1" colspan="2">Práctica de gobierno</th>
            <th class="celestetabla1" colspan="2">Entradas</th>
            <th class="celestetabla1" colspan="2">Salidas</th>
          </tr>
          <tr>
            <td rowspan="6" colspan="2"><a href="edm04tabla1">EDM04.02</a> Orientar la gestion de recuros. Asegurar la adopacion de principios de gestion de recursos para permitir un usi óptimo de los recuros de TI a lo largo 
                de su completo ciclo de vida economica
            </td>
              <th colspan="1">De</th>
              <th colspan="1">Descripción</th>
              <th colspan="1">Descripción</th>
              <th colspan="1">A</th>
          </tr>
          <tr>
            <td colspan="1" rowspan="5"></td>
            <td colspan="1" rowspan="5"></td>
            <td colspan="1">Comunicacion de las estrategias de reasignacion de recursos</td>
            <td colspan="1">
              <p><a href="pagina57">APO02.06</a></p>
              <p><a href="apo7tabla1">APO07.05</a></p>
              <p><a href="apo9tabla1">APO09.02</a></p> </td>
          </tr>
          <tr>
            
            <td rowspan="1">Responsabilidades asignadas para la gestion de los recursos </td>
            <td rowspan="1">
              <p><a href="pagina51">APO01.02</a></p>
              <p><a href="dsso6tabla1">DSS06.03</a></p> </td>
            
          </tr>
          <tr>
          </tr>
          <tr>
         </tr>
         <tr>
           
           <td colspan="1">Principios para la proteccion de recuros</td>
           <td colspan="1"><a href="pagina51">APO01.04</a></td>
       </tr>
       <tr>
        <th class="celestetabla1" colspan="6">Actividades</th>
      </tr>
      <tr>
        <td colspan="6">1. Comunicar e impulsar la adopcion de estrategias de gestion de recursos, principios y el plan de recurso y las estrategias de arquitectura de empresas
            acordados
        </td>
      </tr>
      <tr>
        <td colspan="6">2.Asignar responsabilidades para la ejecucion de la gestion de recursos.</td>
      </tr>
      <tr>
        <td colspan="6">3.Definir los objetivos, medidas y metricas clave para la gestion de los recursos. </td>
      </tr>
      <tr>
        <td colspan="6"> 4. Establecer los principios relacionados con la protecion de recursos.</td>
      </tr>
      <tr>
        <td colspan="6">5. Alinear la gestion de recursos con la planificacion de RRHH y financiera de la empresa.</td>
      </tr>
      <tr>
        <th class="celestetabla1" colspan="2">Práctica de gobierno</th>
        <th class="celestetabla1" colspan="2">Entradas</th>
        <th class="celestetabla1" colspan="2">Salidas</th>
      </tr>
      <tr>
        <td rowspan="6" colspan="2"><a href="edm02tabla1">EDMO2.01</a> Supervisar la asignacion de recuros Supervisar los objetivos y las metricas clave de los procesos de gestion de recursos y establecer como serán identificados 
        , seguidos e informados para su resolucion las desviaciones a los problemas.</td>
          <th colspan="1">De</th>
          <th colspan="1">Descripción</th>
          <th colspan="1">Descripción</th>
          <th colspan="1">A</th>
      </tr>
      <tr>
        <td colspan="1" rowspan="5"></td>
        <td colspan="1" rowspan="5"></td>
        <td colspan="1">Comentarios sobre la asignacion y la eficacia de los recursos y capacidades</td>
        <td colspan="1">
          <p><a href="edm05tabla1">EDMO5.01</a></p>
          <p><a href="pagina57">APO02.05</a> </p>
          <p><a href="apo7tabla1">APO07.05</a></p>
          <p><a href="apo9tabla1">APO09.05</a></p>   </td>
      </tr>
      <tr>
        
        <td rowspan="1">Asiganciones correctivas para hacer frente a las desviaciones de gestion de recursos </td>
        <td rowspan="1">
          <p><a href="pagina57">APO02.05</a></p>
          <p><a href="apo7tabla1">APO07.01</a></p> 
          <p><a href="apo7tabla1">APO07.03</a></p>
          <p><a href="apo9tabla1">APO09.04</a></p> </td>
        
      </tr>
      <tr>
      </tr>
      <tr>
     </tr>
     <tr>
   </tr>
   <tr>
    <th class="celestetabla1" colspan="6">Actividades</th>
  </tr>
  <tr>
    <td colspan="6">1. Supervisar la asignacion y optimizacion de los recursos de acuerdo con los objetivos y prioridades de la empresa mediante objetivos y métricas. </td>
  </tr>
  <tr>
    <td colspan="6">2.Supervisar las estrategias de aprovisonamiento TI y de arquitectura de la empresa y los recursos y capacidades TI para garantizar que las necesidades actuales
        y futuras de la empresa puedan ser satisfechas.</td>
  </tr>
  <tr>
    <td colspan="6">3. Supervisar el rendimiento de los recursos frente a los objetivos, analizar las causas de las desviaciones e iniciar acciones correctivas para solucionar
        las causas subyacentefa-stack-2x </td>
  </tr>
        
         </tbody>
       </table>
     </div>
</body>

</html>

<br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" routerLink="edm03tabla1">Menu</a></li>
    <li class="page-item"><a class="page-link" href="edm0atabla1">1</a></li>
    <li class="page-item"><a class="page-link" href="listar-four">2</a></li>
    <li class="page-item"><a class="page-link" href="edm04tabla3">3</a></li>
    <li class="page-item"><a class="page-link" href="edm04tabla4">4</a></li>
    <li class="page-item"><a class="page-link" href="edm04tabla4">Next</a></li>
    
  </ul>
  </nav><br>





