<div class="container">
    <table class="table">
        <thead class="theader">
        <tr>
            <td class="titulos" scope="col" colspan="5">DSS05 Related Guidance</td>
        </tr>
    </thead>
    <thead class="theader">
    <tr>
        <td class="titulos" scope="col">Estándar Relacionado</td>
        <td class="titulos" scope="col">Referencia Detallada</td>
    </tr>
</thead>
<tr>
    <td>ISO/IEC 27002:2011</td>
    <td>Código de prácticas para la gestión de la seguridad de la información</td>
</tr>
<tr>
    <td>NIST SP800-53 Rev 1</td>
    <td>Controles de Seguridad Recomendados para los Sistemas de información Federales
        en EE.UU
    </td>
</tr>
<tr>
    <td>ITIL V3 2011</td>
    <td>Operación de Servicio, 4.5. Gestión de Acceso</td>
</tr>
</table>
</div>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">HOME</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/listraci05">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla2">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla3">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla4">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla5">6</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla6">7</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla7">8</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla8">9</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla9">10</a></li>
      <li class="page-item"><a class="page-link" href="/dsso6tabla1">DSS06</a></li>
      
    </ul>
  </nav><br>