<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>

<body>
    <table class="container" style="width: 85%;">
        <tr>
            <td>APO02 Practica, Entrada/Salidas y Actividades del Proceso (cont.)</td>
        </tr>
        <th>
            Práctica de Gestión
        </th>
        <th colspan="2">
            Entradas
        </th>
        <th colspan="2">
            Salidas
        </th>
        <tr>
            <td rowspan="3">
                APO02.06 Comunicar la estrategia y la dirección de TI.<br>
Crear conciencia y comprensión del negocio y de los objetivos y dirección de TI, como se encuentra reflejada en la estrategia de TI, a través de comunicaciones a las partes interesadas adecuadas y a los usuarios de toda la empresa. 

            </td>
            <td>De</td>
            <td>Descripción</td>
            <td>Descripción</td>
            <td>A</td>
        </tr>
        <tr>
            <td rowspan="2">EDM04.02</td>
            <td rowspan="2">Comunicación de las estrategias de los recursos</td>
            <td>Plan de comunicación</td>
            <td>interno</td>
        </tr>
        <tr>
            <td>Paquete de comunicación</td>
            <td>Todo APO<br>
                Todo BAI<br>
                Todo DSS<br>
                Todo MEA</td>
        </tr>
    </table>
    <table class="container" style="width: 85%;">
        <tr>
            <td>Actividades</td>
        </tr>
        <tr>
            <td>1.	Desarrollar y mantener una red de aprobación, apoyo e impulso de la estrategia d TI.</td>
        </tr>
        <tr>
            <td>2.	Desarrollar un plan de comunicación que cubra los mensajes necesarios, audiencias objetivo, mecanismos/canales de comunicación y horarios.</td>
        </tr>
        <tr>
            <td>3.	Preparar un paquete de comunicaciones que entregue el plan de manera eficaz utilizando los medios de comunicación y tecnologías disponibles.</td>
        </tr>
        <tr>
            <td>4.	Obtener realimentación y actualizar el plan de comunicaciones y de entrega según sea necesario.</td>
        </tr>
    </table>
    <table class="container" style="width: 85%;">
        <tr>
            <td>APO01 Guía Relacionada</td>
        </tr>
        <th>
            Norma Vinculada
        </th>
        <th>
            Referencia Detallada
        </th>
        <tr>
            <td>ISO/IEC 20000</td>
            <td>4.0 Planificación e implementación de la gestión del servicio<br>
                5.0 Planificación e implementación de servicios nuevos o modificados</td>
        </tr>
        <tr>
            <td>ITIL V3 2011</td>
            <td>1 Creación de la Estrategia</td>
        </tr>
    </table><br>
</body>

</html><br>


<nav aria-label="Page navigation  example" class="container" style="width: 87%;">
    <ul class="pagination container">
      <li class="page-item"><a class="page-link" >APOO2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina57">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/listar-productos">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina59">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina60">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina61">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina62">6</a></li>
     
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>

