<div class="container">
    <table class="table">
<tr>
    <td class="fondo2" style="text-align:center">Práctica de Gestión</td>
    <td class="fondo2" style="text-align:center" colspan="2">Entradas</td>
    <td class="fondo2" style="text-align:center" colspan="3">Salidas</td>
</tr>
<th scope="row" rowspan="4">DSS01.04 Gestionar el entorno
    <p class="texto">Mantener las medidas para la protección
        contra factores ambientales. Instalar equipamento
        y dispositivos especializados para supervisar y
        controlar el entorno.
    </p>
</th>
<tr>
    <td style="text-align:center">De</td>
    <td style="text-align:center">Descripción</td>
    <td style="text-align:center">Descripción</td>
    <td style="text-align:center">A</td>
</tr>
<tr>
    <td rowspan="2"></td>
    <td rowspan="2"></td>
    <td>Políticas de entorno</td>
    <td><a href="pagina56">APO01.08</a></td>
</tr>
<tr>
    <td>Informes de pólizas de seguro</td>
    <td><a href="meao3tabla3">MEA03.03</a></td>
</tr>
    
            <thead class="theader">
                <tr>
                    <td class="titulos" scope="col" colspan="5">DSS01 Prácticas, Entradas/Salidas y Actividades del Proceso (cont.)</td>
                </tr>
            </thead>
            <tr>
                <td colspan="5" style="text-align:center" class="fondo">Actividades</td>
            </tr>
<tr>
    <td colspan="5">1. Identificar desastres naturales y causados por el 
        ser humano que puedan ocurrir en el área donde se encuentran las 
        instalaciones de TI. Evaluar el efecto potencial en las 
        instalaciones de TI. </td>
</tr>
<tr>
    <td colspan="5">2. Identificar de qué manera el equipamiento de TI, 
        incluyendo el equipamiento móvil y el ubicado fuera de las 
        instalaciones , está protegido contra las amenazas del entorno. 
        Asegurar que la política limite o impida comer, beber y fumar 
        en áreas sensibles y que se prohíba el almacenamiento de material 
        de oficina y otros suministros que puedan representar un riesgo de 
        incendio en los centros de procesamiento de datos.</td>
</tr>
<tr>
    <td colspan="5">3. Ubicar y construir las instalaciones de TI para 
        minimizar y mitigar la susceptibilidad ante las amenazas del entorno.</td>
</tr>
<tr>
    <td colspan="5">4. Supervisar y mantener de forma periódica a los 
        dispositivos que detectan proactivamente las amenazas del entorno 
        (p. ej. fuego, agua, humo, humedad).</td>
</tr>
<tr>
    <td colspan="5">5. Responder a las alarmas y otras notificaciones 
        del entorno. Documentar y probar los procedimientos, lo que debería 
        incluir la priorización de alarmas y el contacto con las autoridades 
        locales de respuesta ante emergencias y entrenar al personal en 
        estos procedimientos.</td>
</tr>
<tr>
    <td colspan="5">6. Comparar medidas y planes de contingencia respecto 
        a los requerimientos de las pólizas de seguros e informar de los 
        resultados. Atender a los puntos de no-conformidad de manera oportuna.</td>
</tr>
<tr>
    <td colspan="5">7. Asegurar que los sitios de TI están construidos y 
        diseñados para minimizar el impacto del riesgo del entorno 
        (p.ej. robo, aire, fuego, humo, agua, vibración, terrorismo, 
        vandalismo,productos químicos, explosivos ). Considerar zonas 
        específicas de seguridad o celdas a prueba de incendio 
        (p.ej. ubicando los entornos/servidores de producción y de 
        desarrollo alejados entre si).</td>
</tr>
<tr>
    <td colspan="5">8. Mantener en todo momento a los sitios de TI y 
        las salas de servidores limpias y en una condición segura 
        (es decir, sin desorden, sin papel ni cajas de cartón, 
        sin papeleras llenas , sin productos químicos o materiales 
        inflamables)</td>
</tr>
</table>
</div>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">HOME</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso1tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/listraci01">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso1tabla2">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso1tabla3">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso1tabla4">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso1tabla5">6</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso1tabla6">7</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso1tabla7">8</a></li>
      <li class="page-item"><a class="page-link" href="/dsso1tabla6">Next</a></li>
      
    </ul>
  </nav><br>



