
  
   
  
  <!DOCTYPE html>
  <html lang="en">
  
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>localhost4200</title>
  
  </head>
  
  
  <body>
    <div class="tabla3">
      <table class="table table-bordered" class="container" style="width: 87%;">
       <thead>
         <tr>
           <th class="azultabla1" colspan="6">MEA03 Practicas, Entradas/Salidas y Actividades del Proceso</th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <th class="celestetabla1" colspan="2">Práctica de Gestion</th>
           <th class="celestetabla1" colspan="2">Entradas</th>
           <th class="celestetabla1" colspan="2">Salidas</th>
         </tr>
         <tr>
           <td rowspan="3" colspan="2" class="text-top"><b>MEA03.01 Identificar requisitos externos de cumplimiento </b> <br> Identificar y supervisar, de manera continuada, cambios en 
            las legislaciones y regulaciones tanto locales como 
             internacionales, asi como otros requisitos externos de 
              obligado cumplimiento en el area de TI.</td>
             <th colspan="1">De</th>
             <th colspan="1">Descripción</th>
             <th colspan="1">Descripción</th>
             <th colspan="1">A</th>
         </tr>
         <tr>
           <td rowspan="2" class="text-top">Fuera del Ambito de COBIT</td>
           <td rowspan="2" class="text-top">Requisitos de cumplimiento legal y regulatorio</td>
           <td >Registro de requisitos de cumplimiento</td>
           <td >Interno</td>
         </tr>
         <tr>
           <td >Invertario de acciones de cumplimiento necesarias</td>
           <td > Interno</td>
             
         </tr>
         
         <tr>
           <th class="celestetabla1" colspan="6" > <h6 class="centro"> <b>Actividades</b></h6></th>
         </tr>
         <tr>
           <td colspan="6">1. Asignar la responsabilidad de identificar y supervisar los cambios legales y regulatorios y otros requisitos contractuales 
            externos aplicables a la utilizacion de recursos de TI y al procesamiento de la informacion dentro de las operaciones de negocio y de TI.</td>
         </tr>
         <tr>
           <td colspan="6">2. Identificar y valorar la totalidad de los posibles requisitos de cumplimiento y su impacto sobre las actividades de TI en 
            ambitos como los flujos de datos, la privacidad, los controles internos, los informes financieros, la regulacion sectorial, la propiedad 
            intelectual y la seguridad e higiene en el trabajo.</td>
         </tr>
         <tr>
           <td colspan="6">3. Valorar el impacto de los requisitos legales y regulatorios relaciondos con TI sobre los contractos con terceros que afecten a las operaciones de TI, los proveedores de servicio y los socios de negocio.</td>
         </tr>
         <tr>
           <td colspan="6"> 4. Obtener asesoramiento independiente, si procede, sobre las modificaciones en las legislaciones, regulaciones y estandares aplicables. </td>
         </tr>
         <tr>
           <td colspan="6">5. Mantener un inventario actualizado de los requisitos legales, regulatorios y contractuales aplicables, su impacto y las acciones necesarias. </td>
         </tr>
         <tr>
           <td colspan="6">6. Mantener un registro general consolidado de los requisitos externos de cumplimiento que afecten a la empresa. </td>
         </tr>
         
         <tr>
           <th class="celestetabla1" colspan="2">Práctica de Gestion</th>
           <th class="celestetabla1" colspan="2">Entradas</th>
           <th class="celestetabla1" colspan="2">Salidas</th>
         </tr>
         <tr>
           <td rowspan="3" colspan="2" class="text-top"><b>MEA03.02 Optimizar la respuesta a requisitos externos.</b> <br> Revisar y ajustar politicas, principios, estandares, procedimientos y metodologias para asegurar la adecuada gestion y comunicaciones de los requisitos legales, regulatorios y contractuales. Considerar que estandares sectoriales, codigos de buenas practicas y guias de mejores practicas pueden adoptarse y adaptarse.</td>
           <th colspan="1">De</th>
           <th colspan="1">Descripción</th>
           <th colspan="1">Descripción</th>
           <th colspan="1">A</th>
         </tr>
         <tr>
           <td rowspan="2" colspan="1"></td>
           <td rowspan="2" colspan="1"></td>
           <td colspan="1">Politicas, principios, procedimiento y estandares actualizados.</td>
           <td colspan="1"><a href="pagina56">APO01.07</a>
            <br><a href="pagina56">APO01.08</a></td>
         </tr>
         <tr>
           <td colspan="1" class="text-top">Comunicaciones de las modificaciones en los requisitos de cumplimiento</td>
           <td colspan="1"><a href="edm01tabla1">EDM01.01</a><br>
            <a href="pagina51">APO</a><br>
            <a href="pagina119">BAI</a><br>
            <a href="dsso1tabla1">DSS</a><br>
            <a href="mea01">MEA</a><br></td>
         </tr>
         <tr>
          <th class="celestetabla1" colspan="6" > <h6 class="centro"> <b>Actividades</b></h6></th>
         </tr>
         <tr>
           <td colspan="6">1. Revisar y ajustar con regularidad las politicas, los principios, los estandares, los procedimientos y las metodologias para que mantengan su eficacia en asegurar el cumplimiento requerido y la gestion del riesgo empresarial. Contar para ello con expertos internos y externos, segun proceda.</td>
         </tr>
         <tr>
           <td colspan="6">2. Comunicar los nuevos requisitos y las modificaciones de los existentes al personal que corresonda.</td>
         </tr>
         <!----------------------------------------------------------------->
         <tr>
          <td class="celestetabla1" colspan="2"><b>Practicas de Gestion</b></td>
          <td class="celestetabla1" colspan="2"><b>Entradas</b></td>
          <td class="celestetabla1" colspan="2"><b>Salidas</b></td>
      </tr>
      <tr>
          <td rowspan="5" colspan="2" class="text-top"><b>MEA03.03 Confirmar el cumplimiento de requisitos externos.</b>
              
              <br> Confirmar el cumplimiento de las politicas, los estandares, los procedimientos y las metodologias con los requisitos legales, regulatorios y contractuales.
          </td>
      
          <td><b>De</b></td>
          <td><b>Descripcion</b></td>
          <td><b>Descripcion</b></td>
          <td><b>A</b></td>
      </tr>
      <tr>
          <td> <a href="pagina148">BAI05.06</a></td>
          <td> Resultados auditorias de cumplimiento</td>
          <td>Deficiencias de cumplimiento identificadas</td>
          <td><a href="mea02d">MEA02.08</a></td>
      </tr>
      <tr>
          <td> <a href="pagina166">BAI09.05</a></td>
          <td>Resultados de auditorias de licencias instaladas</td>
          <td rowspan="3" class="text-top">Confirmaciones de cumplimiento</td>
          <td rowspan="3" class="text-top"><a href="edm01tabla4">EDM01.03</a>
      </tr>
      <tr>
      <td><a href="pagina169">BAI10.05</a></td>
      <td>Desviaciones de licencias</td>
      </tr>
      <tr>
      <td><a href="dsso1tabla4">DSS01.04</a></td>
      <td>Informes de polizas de seguros</td>
      </tr>
      <tr>
        <th class="celestetabla1" colspan="6" > <h6 class="centro"> <b>Actividades</b></h6></th>
      </tr>
      <tr>
        <td colspan="6">1. Evaluar regularmente las politicas, estandares, procedimiento y metodologias de la organizacion para todas las funciones corporativas con objeto de asegurar el cumplimiento de los requisitos legales y regulatorios aplicables al procesamiento de informacion.</td>
      </tr>
      <tr>
        <td colspan="6">2. Gestionar las deficiencias de cumplimiento en las politicas, estandares y procedimiento dentro de plazos razonables.</td>
      </tr>
      <tr>
        <td colspan="6">3. Evaluar periodicamento los procesos y actividades tanto de TI como de negocio para asegurar el cumplimiento de los requisitos legales, regulatorios y contractuales aplicables.</td>
      </tr>
      <tr>
        <td colspan="6">4. Revisar regularmente para detectar patrones reiterados de fallos de cumplimiento. Si procede, mejorar tanto las politicas, los estandares, los procedimientos y las metodologias como los procesos y actividades asociados. </td>
      </tr>
  
       </tbody>
     </table>
   </div>
  </body>
  
  </html>
  
  <br>
  <nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="meao3tabla1">1</a></li>
      <li class="page-item"><a class="page-link" href="listar-tablados">Tabla RACI</a></li>
      <li class="page-item"><a class="page-link" href="meao3tabla3">2</a></li>
      <li class="page-item"><a class="page-link" href="meao3tabla4">3</a></li>
      <li class="page-item"><a class="page-link" href="/">Regresar al MENU</a></li>
      
    </ul>
  </nav><br>
  
  