<div>
    <span class="d-grid gap-2 col-4  mx-auto ">{{title}}</span>
    <form [formGroup]="apo08tituloForm" class="container bg-light bc row row-cols-1 row-cols-lg-4 g-1 g-lg-2" style="height: 10px;" style="width: 60%;" style="margin: 38px   190px;" (ngSubmit)="agregarApo08titulo()">
        <div class="form-group">
            <input type="text" formControlName="apo08titulo1" class="form-control" placeholder="apo08titulo1">
            <div class="validacion"
               *ngIf="apo08tituloForm.get('apo08titulo1')?.hasError('required') && apo08tituloForm.get('apo08titulo1')?.touched">
               <span>Este campo<b> es obligatorio</b></span>
            </div>  
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo08titulo2" class="form-control" placeholder="apo08titulo2">
            <div class="validacion"
                *ngIf="apo08tituloForm.get('apo08titulo2')?.hasError('required') && apo08tituloForm.get('apo08titulo2')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>  
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo08titulo3" class="form-control" placeholder="apo08titulo3">
            <div class="validacion"
                *ngIf="apo08tituloForm.get('apo08titulo3')?.hasError('required') && apo08tituloForm.get('apo08titulo3')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>  
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo08titulo4" class="form-control" placeholder="apo08titulo4">
            <div class="validacion"
                 *ngIf="apo08tituloForm.get('apo08titulo4')?.hasError('required') && apo08tituloForm.get('apo08titulo4')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo08titulo5" class="form-control" placeholder="apo08titulo5">
            <div class="validacion"
                 *ngIf="apo08tituloForm.get('apo08titulo5')?.hasError('required') && apo08tituloForm.get('apo08titulo5')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo08titulo6" class="form-control" placeholder="apo08titulo6">
            <div class="validacion"
                 *ngIf="apo08tituloForm.get('apo08titulo6')?.hasError('required') && apo08tituloForm.get('apo08titulo6')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo08titulo7" class="form-control" placeholder="apo08titulo7">
            <div class="validacion"
                 *ngIf="apo08tituloForm.get('apo08titulo7')?.hasError('required') && apo08tituloForm.get('apo08titulo7')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo08titulo8" class="form-control" placeholder="apo08titulo8">
            <div class="validacion"
                 *ngIf="apo08tituloForm.get('apo08titulo8')?.hasError('required') && apo08tituloForm.get('apo08titulo8')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo08titulo9" class="form-control" placeholder="apo08titulo9">
            <div class="validacion"
                 *ngIf="apo08tituloForm.get('apo08titulo9')?.hasError('required') && apo08tituloForm.get('apo08titulo9')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo08titulo10" class="form-control" placeholder="apo08titulo10">
            <div class="validacion"
                 *ngIf="apo08tituloForm.get('apo08titulo10')?.hasError('required') && apo08tituloForm.get('apo08titulo10')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo08titulo11" class="form-control" placeholder="apo08titulo11">
            <div class="validacion"
                 *ngIf="apo08tituloForm.get('apo08titulo11')?.hasError('required') && apo08tituloForm.get('apo08titulo11')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo08titulo12" class="form-control" placeholder="apo08titulo12">
            <div class="validacion"
                 *ngIf="apo08tituloForm.get('apo08titulo12')?.hasError('required') && apo08tituloForm.get('apo08titulo12')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo08titulo13" class="form-control" placeholder="apo08titulo13">
            <div class="validacion"
                 *ngIf="apo08tituloForm.get('apo08titulo13')?.hasError('required') && apo08tituloForm.get('apo08titulo13')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo08titulo14" class="form-control" placeholder="apo08titulo14">
            <div class="validacion"
                 *ngIf="apo08tituloForm.get('apo08titulo14')?.hasError('required') && apo08tituloForm.get('apo08titulo14')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo08titulo15" class="form-control" placeholder="apo08titulo15">
            <div class="validacion"
                 *ngIf="apo08tituloForm.get('apo08titulo15')?.hasError('required') && apo08tituloForm.get('apo08titulo15')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo08titulo16" class="form-control" placeholder="apo08titulo16">
            <div class="validacion"
                 *ngIf="apo08tituloForm.get('apo08titulo16')?.hasError('required') && apo08tituloForm.get('apo08titulo16')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo08titulo17" class="form-control" placeholder="apo08titulo17">
            <div class="validacion"
                 *ngIf="apo08tituloForm.get('apo08titulo17')?.hasError('required') && apo08tituloForm.get('apo08titulo17')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo08titulo18" class="form-control" placeholder="apo08titulo18">
            <div class="validacion"
                 *ngIf="apo08tituloForm.get('apo08titulo18')?.hasError('required') && apo08tituloForm.get('apo08titulo18')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo08titulo19" class="form-control" placeholder="apo08titulo19">
            <div class="validacion"
                 *ngIf="apo08tituloForm.get('apo08titulo19')?.hasError('required') && apo08tituloForm.get('apo08titulo19')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo08titulo20" class="form-control" placeholder="apo08titulo20">
            <div class="validacion"
                 *ngIf="apo08tituloForm.get('apo08titulo20')?.hasError('required') && apo08tituloForm.get('apo08titulo20')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo08titulo21" class="form-control" placeholder="apo08titulo21">
            <div class="validacion"
                 *ngIf="apo08tituloForm.get('apo08titulo21')?.hasError('required') && apo08tituloForm.get('apo08titulo21')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo08titulo22" class="form-control" placeholder="apo08titulo22">
            <div class="validacion"
                 *ngIf="apo08tituloForm.get('apo08titulo22')?.hasError('required') && apo08tituloForm.get('apo08titulo22')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo08titulo23" class="form-control" placeholder="apo08titulo23">
            <div class="validacion"
                 *ngIf="apo08tituloForm.get('apo08titulo23')?.hasError('required') && apo08tituloForm.get('apo08titulo23')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo08titulo24" class="form-control" placeholder="apo08titulo24">
            <div class="validacion"
                 *ngIf="apo08tituloForm.get('apo08titulo24')?.hasError('required') && apo08tituloForm.get('apo08titulo24')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo08titulo25" class="form-control" placeholder="apo08titulo25">
            <div class="validacion"
                 *ngIf="apo08tituloForm.get('apo08titulo25')?.hasError('required') && apo08tituloForm.get('apo08titulo25')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo08titulo26" class="form-control" placeholder="apo08titulo26">
            <div class="validacion"
                 *ngIf="apo08tituloForm.get('apo08titulo28')?.hasError('required') && apo08tituloForm.get('apo08titulo26')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div><br>  
          <button routerLink="/Apo08raci" type="button" class="btn btn-secondary">Volver</button>  &nbsp;
          <button  type="button" class="btn btn-success" type="submit" [disabled]="apo08tituloForm.invalid">Aceptar</button><hr>
      </div><br>
    </form>
</div>




