<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>

<body>
    <table class="container" style="width: 87%;">
        <tr>
            <td colspan="2" class="azultabla1"><a class="nav-link" routerLink="/apo11tabla1" >APO11 </a> Gestionar la Calidad</td>
        </tr>
        <tr>
            <td colspan="2">Descripción del Proceso<br>
                Definir y comunicar los requisitos de calidad en todos los procesos, procedimientos y resultados
                relacionados de la organización, incluyendo controles, vigilancia constante y el uso de prácticas
                probadas y estándares de mejora continua y esfuerzos de eficiencia.
            </td>
        </tr>
        <tr>
            <td colspan="2">Declaración del Propósito del Proceso<br>
                Asegurar la entrega consistente de soluciones y servicios que cumplan con los requisitos de la
                organización y que satisfagan las necesidades de las partes interesadas.
            </td>
        </tr>
        <tr>
            <td colspan="2">El proceso apoya la consecución de un conjunto de principales metas TI:</td>
        </tr>
        <th class="celeste2tabla1">
            Meta TI
        </th>
        <th class="celeste2tabla1">
            Métricas Relacionadas
        </th>
        <tr>
            <td>05 Realización de beneficios del portafolio de investigación y servicios relacionados con las TI</td>
            <td>• Porcentaje de inversiones de TI en los que la realización del beneficio se monitoriza a través del
                ciclo de vida económico completo.<br>
                • Porcentaje de servicios TI en los que se realizan los beneficios esperados.<br>
                • Porcentaje de las inversiones en TI donde los beneficios demandados son alcanzados o excedidos.</td>
        </tr>
        <tr>
            <td>07 Entrega de servicios de TI de acuerdo a los requisitos del negocio</td>
            <td>• Número de interrupciones del negocio debidas a incidentes en el servicio de TI<br>
                • Porcentaje de partes interesadas satisfechas con el cumplimiento del servicio de TI entregado respecto
                a los niveles de servicio acordados<br>
                • Porcentaje de usuarios satisfechos con la calidad de los servicios de TI entregados</td>
        </tr>
        <tr>
            <td>13 Entrega de programas que proporcionen beneficios a tiempo, dentro del presupuesto y satisfaciendo los
                requisitos y normas de calidad</td>
            <td>• Número de programas/proyectos ejecutados en plazo y en presupuesto<br>
                • Porcentaje de partes interesadas satisfechas con la calidad del programa/proyecto<br>
                • Número de programas que necesitan ser revisados significativamente debido a defectos de calidad<br>
                • Coste del mantenimiento de aplicaciones respecto al coste total de TI</td>
        </tr>
        <tr>
            <td colspan="2">Objetivos y Métricas del Proceso</td>
        </tr>
        <th class="celeste2tabla1">
            Meta del Proceso
        </th>
        <th class="celeste2tabla1">
            Métricas Relacionadas
        </th>
        <tr>
            <td>1. Las partes interesadas están satisfechas con la calidad de los servicios y las soluciones.</td>
            <td>• Promedio de satisfacción de las partes interesadas con las soluciones y servicios<br>
                • Porcentaje de partes interesadas satisfechos con la calidad de TI<br>
                • Número de servicios con un plan de gestión de la calidad formal</td>
        </tr>
        <tr>
            <td>2. Los resultados de los proyectos y de los servicios entregados son predecibles.</td>
            <td>• Porcentaje de proyectos revisados que cumplen con las metas y objetivos de calidad<br>
                • Porcentaje de soluciones y servicios entregados con una certificación formal<br>
                • Número de defectos sin descubrir antes de la puesta de producción</td>
        </tr>
        <tr>
            <td>3. Los requisitos de calidad están implementados en todos los procesos.</td>
            <td>• Número de procesos con un requisito de calidad definido<br>
                • Número de procesos con un informe de evaluación formal de la calidad<br>
                • Número de ANSs que incluyen criterios de aceptación de calidad</td>
        </tr>
    </table>
</body>

</html><br>
<nav aria-label="Page navigation example " class="container" style="width: 811%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">APOO11</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo11tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/Apo011raci">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo11tabla2">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo11tabla3">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo11tabla4">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo11tabla5">6</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
      
    </ul>
  </nav>

