<div class="container">
    <table class="table">
        <thead class="theader">
        <tr>
            <td class="titulos" scope="col" colspan="5">DSS05 Prácticas, Entradas/Salidas y Actividades del Proceso</td>
        </tr>
    </thead>
    <thead style="text-align:center" class="fondo2">
    <tr>
        <td class="titulos" scope="col">Prácticas de Gestión</td>
        <td class="titulos" scope="col" colspan="2">Entradas</td>
        <td class="titulos" scope="col" colspan="2">Salidas</td>
    </tr>
</thead>
    <tr>
        <th  scope="row" rowspan="3">DSS05.01 Proteger contra software
            malicioso (malware).
            <p class="texto">Implementar y mantener efectivas medidas, preventivas,
                de detección y correctivas (especialmente parches de seguridad
                actualizados y control de virus) a lo largo de la empresa para proteger
                los sistemas de información y tecnología del software malicioso (por
                ejemplo, virus, gusanos, software espía -spyware- y correo basura.) 
            </p>
        </th>
        <td style="text-align: center;">De</td>
        <td style="text-align: center;">Descripción</td>
        <td style="text-align: center;">Descripción</td>
        <td style="text-align: center;">A</td>
    </tr>
    <tr>
        <td rowspan="2"></td>
        <td rowspan="2"></td>
        <td>Política de prevención de software malicioso</td>
        <td><a href="pagina54">APO01.04</a></td>
    </tr>
    <tr>
        <td>Evaluaciones de amenazas potenciales</td>
        <td valign="middle"><a href="apo12tabla2">APO12.02</a><br>
            <a href="">APO12.03</a>
        </td>
    </tr>
    <tr>
        <td colspan="5" style="text-align:center" class="fondo">Actividades</td>
    </tr>
    <tr>
        <td colspan="5">1. Divulgar concienciación sobre el software malicioso 
            y forzar procedimientos y responsabilidades de prevención.
        </td>
    </tr>
    <tr>
        <td colspan="5">2. Instalar y activar herramientas de protección frente a 
            software malicioso en todas las instalaciones de proceso, con 
            ficheros de definición de software malicioso que se actualicen 
            según se requiera (automática o semi-automáticamente). 
        </td>
    </tr>
    <tr>
        <td colspan="5">3. Distribuir todo el software de protección de forma 
            centralizada (versión y nivel de parcheado) usando una configuración 
            centralizada y la gestión de cambios.
        </td>
    </tr>
    <tr>
        <td colspan="5">4. Revisar y evaluar regularmente la información sobre 
            nuevas posibles amenazas (por ejemplo, revisando productos de 
            vendedores y servicios de alertas de seguridad). 
        </td>
    </tr>
    <tr>
        <td colspan="5">5. Filtrar el tráfico entrante, como correos electrónicos 
            y descargas, para protegerse frente a información no solicitada 
            (por ejemplo, software espía y correos de phishing).</td>
    </tr>
    <tr>
        <td colspan="5">6. Realizar formación periódica sobre software malicioso 
            en el uso del correo electrónico e Internet. Formar a los usuarios 
            para no instalarse software compartido o no autorizado.</td>
    </tr>
</table>
</div>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">HOME</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/listraci05">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla2">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla3">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla4">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla5">6</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla6">7</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla7">8</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla8">9</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla9">10</a></li>
      <li class="page-item"><a class="page-link" href="/dsso5tabla3">Next</a></li>
      
    </ul>
  </nav><br>
