<div class="container">
    <table class="table">
        <thead class="theader">
        <tr>
            <td class="titulos" scope="col" colspan="5">DSS06 Guías relacionadas</td>
        </tr>
    </thead>
    <thead class="theader">
    <tr>
        <td class="titulos" scope="col">Estándar Relacionado</td>
        <td class="titulos" scope="col">Referencia Detallada</td>
    </tr>
</thead>
<tr>
    <td>Ninguno</td>
    <td></td>
</tr>
</table>
</div>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">HOME</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso6tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/listraci06">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso6tabla2">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso6tabla3">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso6tabla4">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso6tabla5">6</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso6tabla6">7</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso6tabla7">8</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso6tabla8">9</a></li>
     
      
    </ul>
  </nav><br>
