<div class="container">
    <table class="table">
        <thead class="theader">
        <tr>
            <td class="titulos" scope="col" colspan="5">DSS02 Prácticas, Entradas/Salidas y Actividades del Proceso</td>
        </tr>
    </thead>
    <thead class="fondo2">
    <tr>
        <td class="fondo2" style="text-align: center;"scope="col">Prácticas de Gestión</td>
        <td class="fondo2" style="text-align: center;"scope="col" colspan="2">Entradas</td>
        <td class="fondo2" style="text-align: center;"scope="col" colspan="2">Salidas</td>
    </tr>
</thead>
    <tr>
        <th  scope="row" rowspan="7">DSS02.01 Definir esquemas de
            clasificación de incidentes y peticiones de servicio.
            <p class="texto">Definir esquemas y modelos de clasificación de
                incidentes y peticiones de servicio.
            </p>
        </th >
        <td style="text-align: center;">De</td>
        <td style="text-align: center;">Descripción</td>
        <td style="text-align: center;">Descripción</td>
        <td style="text-align: center;">A</td>
    </tr>
    <tr>
        <td><a href="apo9tabla2">APO09.03</a></td>
        <td>ANSs</td>
        <td>Esquemas y modelos de clasificación de incidentes y peticiones
            de servicio
        </td>
        <td>Interno</td>
    </tr>
    <tr>
        <td><a href="pagina168">BAI10.02</a></td>
        <td>Repositorio de configuración</td>
        <td>Reglas para escalado de incidentes</td>
        <td>Interno</td>
    </tr>
    <tr>
        <td><a href="pagina168"> BAI10.03</a></td>
        <td>Repositorio actualizado con elementos de configuración</td>
        <td rowspan="4">Criterios para registro de problemas</td>
        <td rowspan="4"><a href="dsso3tabla2">DSS03.01</a></td>
    </tr>
    <tr>
        <td><a href="pagina168">BAI10.04</a></td>
        <td>Informes de estado de configuración</td>
    </tr>
    <tr>
        <td><a href="dsso1tabla4">DSS01.03</a></td>
        <td>Reglas de monitorización de activos y condiciones de eventos</td>
    </tr>
    <tr>
        <td><a href="dsso4tabla4">DSS04.03</a></td>
        <td>Acciones y comunicaciones de respuesta a incidentes</td>
    </tr>
    <tr>
        <td colspan="5" class="fondo" style="text-align: center;">Actividades</td>
    </tr>
    <tr>
        <td colspan="5">1. Definir esquemas de clasificación y priorización de 
            incidentes y peticiones de servicio y criterios para el registro de 
            problemas, para asegurar enfoques consistentes en el tratamiento, 
            informando a los usuarios y realizando análisis de tendencias.</td>
    </tr>
    <tr>
        <td colspan="5">2. Definir modelos de incidentes para errores conocidos 
            con el fin de facilitar su resolución eficiente y efectiva. </td>
    </tr>
    <tr>
        <td colspan="5">3. Definir modelos de peticiones de servicio según el 
            tipo de petición de servicio correspondiente para facilitar la 
            auto-ayuda y el servicio eficiente para las peticiones estándar.</td>
    </tr>
    <tr>
        <td colspan="5">4. Definir reglas y procedimientos de escalaco de 
            incidentes, especialmente para incidentes importantes e incidentes 
            de seguridad. </td>
    </tr>
    <tr>
        <td colspan="5">5. Definir fuentes de conocimiento de incidentes y
            peticiones y su uso.
        </td>
    </tr>
            </table>
    </div>
    <nav aria-label="Page navigation example " class="container" style="width: 87%;">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" routerLink="/home">HOME</a></li>
          <li class="page-item"><a class="page-link" routerLink="/dsso2tabla1">1</a></li>
          <li class="page-item"><a class="page-link" routerLink="/listraci02">2</a></li>
          <li class="page-item"><a class="page-link" routerLink="/dsso2tabla2">3</a></li>
          <li class="page-item"><a class="page-link" routerLink="/dsso2tabla3">4</a></li>
          <li class="page-item"><a class="page-link" routerLink="/dsso2tabla4">5</a></li>
          <li class="page-item"><a class="page-link" routerLink="/dsso2tabla5">6</a></li>
          <li class="page-item"><a class="page-link" routerLink="/dsso2tabla6">7</a></li>
          <li class="page-item"><a class="page-link" routerLink="/dsso2tabla7">8</a></li>
          <li class="page-item"><a class="page-link" routerLink="/dsso2tabla8">9</a></li>
          <li class="page-item"><a class="page-link" routerLink="/dsso2tabla9">10</a></li>
          <li class="page-item"><a class="page-link" href="/dsso2tabla3">Next</a></li>
          
        </ul>
      </nav><br>

