<div>
    <span class="d-grid gap-2 col-4  mx-auto ">{{titulo}}</span><br><br>
    <form class="container bg-light bc row row-cols-1 row-cols-lg-5 g-1 g-lg-2"
    style="height: 10px;" style="width: 60%;" style="margin: 35px   190px;"
    [formGroup]="edm01casillaForm" (ngSubmit)="agregarEdm01casilla()" >
        <p class="li">Practica clave de gobierno</p>
        <div class="form-group" >
            <select type="text" formControlName="edm01casilla1" class="form-control" placeholder="edm01casilla1">
                <option>EDM01.01 <br>Evaluar el sistema de gobierno.</option>
               <option> EDM01.02<br>Orientar el sistema de gobierno.</option>
               <option>EDM01.03<br> Supervisar el sistema de gobierno.</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="edm01casillaForm.get('edm01casilla1')?.hasError('required') && edm01casillaForm.get('edm01casilla1')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div> 
        </div>
        <p class="li">Consejo de Administracion</p>
        <div class="form-group">
            <select type="text" formControlName="edm01casilla2" class="form-control" placeholder="edm01casilla2">
               <option>R</option>
               <option>A</option>
               <option>C</option>
               <option>I</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="edm01casillaForm.get('edm01casilla2')?.hasError('required') && edm01casillaForm.get('edm01casilla2')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div> 
        </div>
        <p class="li">Director General Ejecutivo (CEO)</p>
        <div class="form-group">
            <select type="text" formControlName="edm01casilla3" class="form-control" placeholder="edm01casilla3">
               <option>R</option>
               <option>A</option>
               <option>C</option>
               <option>I</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="edm01casillaForm.get('edm01casilla3')?.hasError('required') && edm01casillaForm.get('edm01casilla3')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div> 
        </div>
        <p class="li">Directo General Financiero (CFO)</p>
        <div class="form-group">
            <select type="text" formControlName="edm01casilla4" class="form-control" placeholder="edm01casilla4">
               <option >R</option>
               <option>A</option>
               <option>C</option>
               <option>I</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="edm01casillaForm.get('edm01casilla4')?.hasError('required') && edm01casillaForm.get('edm01casilla4')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div> 
        </div>
        <p class="li">Director Operacio (COO)nes</p>
        <div class="form-group">
            <select type="text" formControlName="edm01casilla5" class="form-control" placeholder="edm01casilla5">
               <option>R</option>
               <option>A</option>
               <option>C</option>
               <option>I</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="edm01casillaForm.get('edm01casilla5')?.hasError('required') && edm01casillaForm.get('edm01casilla5')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div> 
            </div>
            <p class="li">Ejecutivo de Negocios</p>
        <div class="form-group">
            <select type="text" formControlName="edm01casilla6" class="form-control" placeholder="edm01casilla6">
               <option>R</option>
               <option>A</option>
               <option>C</option>
               <option>I</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="edm01casillaForm.get('edm01casilla6')?.hasError('required') && edm01casillaForm.get('edm01casilla6')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div> 
        </div>
        <p class="li">Propietarios de los Procos de Negocio</p>
        <div class="form-group">
            <select type="text" formControlName="edm01casilla7" class="form-control" placeholder="edm01casilla7">
               <option >R</option>
               <option>A</option>
               <option>C</option>
               <option>I</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="edm01casillaForm.get('edm01casilla7')?.hasError('required') && edm01casillaForm.get('edm01casilla7')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div> 
        </div>
        <p class="li">comite Ejecutivo Estrategico</p>
        <div class="form-group">
            <select type="text" formControlName="edm01casilla8" class="form-control" placeholder="edm01casilla8">
               <option>R</option>
               <option>A</option>
               <option>C</option>
               <option>I</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="edm01casillaForm.get('edm01casilla8')?.hasError('required') && edm01casillaForm.get('edm01casilla8')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div>
        </div>
            <p class="li">Comite Estrategico(Desarollo Proyectos)</p>
        <div class="form-group">
            <select type="text" formControlName="edm01casilla9" class="form-control" placeholder="edm01casilla9">
               <option>R</option>
               <option>A</option>
               <option>C</option>
               <option>I</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="edm01casillaForm.get('edm01casilla9')?.hasError('required') && edm01casillaForm.get('edm01casilla9')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div> 
        </div>
        <p class="li">Oficina de Gestion de Proyectos</p>
        <div class="form-group">
            <select type="text" formControlName="edm01casilla10" class="form-control" placeholder="edm01casilla10">
               <option >R</option>
               <option>A</option>
               <option>C</option>
               <option>I</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="edm01casillaForm.get('edm01casilla10')?.hasError('required') && edm01casillaForm.get('edm01casilla10')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div> 
        </div>
        <p class="li">Oficina de Gestion del Valor</p>
        <div class="form-group">
            <select type="text" formControlName="edm01casilla11" class="form-control" placeholder="edm01casilla11">
               <option>R</option>
               <option>A</option>
               <option>C</option>
               <option>I</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="edm01casillaForm.get('edm01casilla11')?.hasError('required') && edm01casillaForm.get('edm01casilla11')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div>
        </div>
            <p class="li">Director de Riesgos (CRO)</p>
        <div class="form-group">
            <select type="text" formControlName="edm01casilla12" class="form-control" placeholder="edm01casilla12">
               <option>R</option>
               <option>A</option>
               <option>C</option>
               <option>I</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="edm01casillaForm.get('edm01casilla12')?.hasError('required') && edm01casillaForm.get('edm01casilla12')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div> 
        </div>
        <p class="li">Director de Seguridad de Informacion (CSO)</p>
        <div class="form-group">
            <select type="text" formControlName="edm01casilla13" class="form-control" placeholder="edm01casilla13">
               <option >R</option>
               <option>A</option>
               <option>C</option>
               <option>I</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="edm01casillaForm.get('edm01casilla13')?.hasError('required') && edm01casillaForm.get('edm01casilla13')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div> 
        </div>
        <p class="li">Consejo de Arquitectura de la Empresa</p>
        <div class="form-group">
            <select type="text" formControlName="edm01casilla14" class="form-control" placeholder="edm01casilla14">
               <option>R</option>
               <option>A</option>
               <option>C</option>
               <option>I</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="edm01casillaForm.get('edm01casilla14')?.hasError('required') && edm01casillaForm.get('edm01casilla14')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div>
        </div>
            <p class="li">Comite de Riesgos Corporativos</p>
        <div class="form-group">
            <select type="text" formControlName="edm01casilla15" class="form-control" placeholder="edm01casilla15">
               <option>R</option>
               <option>A</option>
               <option>C</option>
               <option>I</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="edm01casillaForm.get('edm01casilla15')?.hasError('required') && edm01casillaForm.get('edm01casilla15')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div> 
        </div>
        <p class="li">Jefe de Recursos Humanos</p>
        <div class="form-group">
            <select type="text" formControlName="edm01casilla16" class="form-control" placeholder="edm01casilla16">
               <option >R</option>
               <option>A</option>
               <option>C</option>
               <option>I</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="edm01casillaForm.get('edm01casilla16')?.hasError('required') && edm01casillaForm.get('edm01casilla16')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div> 
        </div>
        <p class="li">Cumplimiento Normativo(Complice)</p>
        <div class="form-group">
            <select type="text" formControlName="edm01casilla17" class="form-control" placeholder="edm01casilla17">
               <option>R</option>
               <option>A</option>
               <option>C</option>
               <option>I</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="edm01casillaForm.get('edm01casilla17')?.hasError('required') && edm01casillaForm.get('edm01casilla17')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div>
        </div>
            <p class="li">Auditoria</p>
        <div class="form-group">
            <select type="text" formControlName="edm01casilla18" class="form-control" placeholder="edm01casilla18">
               <option>R</option>
               <option>A</option>
               <option>C</option>
               <option>I</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="edm01casillaForm.get('edm01casilla18')?.hasError('required') && edm01casillaForm.get('edm01casilla18')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div> 
        </div>
        <p class="li">Director de Informatica Sistema (CIO)</p>
        <div class="form-group">
            <select type="text" formControlName="edm01casilla19" class="form-control" placeholder="edm01casilla19">
               <option >R</option>
               <option>A</option>
               <option>C</option>
               <option>I</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="edm01casillaForm.get('edm01casilla19')?.hasError('required') && edm01casillaForm.get('edm01casilla19')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div> 
        </div>
        <p class="li">Jefe de Arquitectura de Negocio</p>
        <div class="form-group">
            <select type="text" formControlName="edm01casilla20" class="form-control" placeholder="edm01casilla20">
               <option>R</option>
               <option>A</option>
               <option>C</option>
               <option>I</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="edm01casillaForm.get('edm01casilla20')?.hasError('required') && edm01casillaForm.get('edm01casilla20')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div>
        </div>
            <p class="li">Jefe de Desarollo</p>
        <div class="form-group">
            <select type="text" formControlName="edm01casilla21" class="form-control" placeholder="edm01casilla21">
               <option>R</option>
               <option>A</option>
               <option>C</option>
               <option>I</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="edm01casillaForm.get('edm01casilla21')?.hasError('required') && edm01casillaForm.get('edm01casilla21')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div> 
        </div>
        <p class="li">Jefe de Operaciones TI</p>
        <div class="form-group">
            <select type="text" formControlName="edm01casilla22" class="form-control" placeholder="edm01casilla22">
               <option >R</option>
               <option>A</option>
               <option>C</option>
               <option>I</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="edm01casillaForm.get('edm01casilla22')?.hasError('required') && edm01casillaForm.get('edm01casilla22')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div> 
        </div>
        <p class="li">Jefe de Administracion TI</p>
        <div class="form-group">
            <select type="text" formControlName="edm01casilla23" class="form-control" placeholder="edm01casilla23">
               <option>R</option>
               <option>A</option>
               <option>C</option>
               <option>I</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="edm01casillaForm.get('edm01casilla23')?.hasError('required') && edm01casillaForm.get('edm01casilla23')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div>
        </div>
            <p class="li">Gestor de Servicio</p>
        <div class="form-group">
            <select type="text" formControlName="edm01casilla24" class="form-control" placeholder="edm01casilla24">
               <option>R</option>
               <option>A</option>
               <option>C</option>
               <option>I</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="edm01casillaForm.get('edm01casilla24')?.hasError('required') && edm01casillaForm.get('edm01casilla24')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div> 
        </div>
        <p class="li">Gestor de Seguridad de la Informacion</p>
        <div class="form-group">
            <select type="text" formControlName="edm01casilla25" class="form-control" placeholder="edm01casilla25">
               <option >R</option>
               <option>A</option>
               <option>C</option>
               <option>I</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="edm01casillaForm.get('edm01casilla25')?.hasError('required') && edm01casillaForm.get('edm01casilla25')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div> 
        </div>
        <p class="li">Gestor de Continuidad de Negocio</p>
        <div class="form-group">
            <select type="text" formControlName="edm01casilla26" class="form-control" placeholder="edm01casilla26">
               <option>R</option>
               <option>A</option>
               <option>C</option>
               <option>I</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="edm01casillaForm.get('edm01casilla26')?.hasError('required') && edm01casillaForm.get('edm01casilla26')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div>
        </div>
        <p class="li">Gestor de Privacidad de la Informacion</p>
        <div class="form-group">
            <select type="text" formControlName="edm01casilla27" class="form-control" placeholder="edm01casilla27">
               <option>R</option>
               <option>A</option>
               <option>C</option>
               <option>I</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="edm01casillaForm.get('edm01casilla27')?.hasError('required') && edm01casillaForm.get('edm01casilla27')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div>
        </div><br>
        <div>
            <button routerLink="/edm01tabla2" class="btn btn-danger">Volver</button>  &nbsp;
            <button type="submit" class="btn btn-success" [disabled]="edm01casillaForm.invalid">Aceptar</button>
        </div>
    </form>
</div>

