<div class="container">
    <table class="table ">

        <thead class="theader">

            <tr>
                <th class="titulos" scope="col">DSS04 Gestionar la Continuidad</th>
                <th class="titulos2" scope="col">Área: Gestión <br>
                    Domínio: Entrega,Servicio y Soporte</th>
            </tr>

        </thead>

        <tbody>

            <tr>

                <th class="fondo" scope="row" colspan="2.5">Descripción del proceso
                    <p class="texto">Establece y mantener un plan para permitir al negocio y a
                        TI responder a incidentes e interrupciones de servicio para la operación
                        continua de los procesos críticos para el negocio y los servicios TI
                        requeridos y mantener la disponibilidad de la información a un nivel
                        aceptable para la empresa.</p>
                </th>

            </tr>

            <tr>

                <th scope="row" class="fondo" colspan="2.5">Declaración del propósito del proceso
                    <p class="texto">Continuar las operaciones críticas para el negocio y mantener la
                        disponibilidad de la información a un nivel aceptable para la empresa ante
                        el evento de una interrupción significativa.
                    </p>
                </th>

            </tr>

            <tr>

                <th scope="row" class="fondo2" colspan="2.5">El proceso apoya la consecución de un conjunto de
                    principales
                    metas TI:
                </th>

            </tr>


        </tbody>
    
    
            <th class="fondo2" style="width: 550px;">Meta TI</th>
            <th class="fondo2">Métricas Relacionadas</th>
       
        <tbody>
            <tr>
                <th class="texto">
                    04 Riesgos de negocio relacionados con las TI gestionados
                </th>
                <th class="texto">
                    <ul>
                        <li>Porcentaje de procesos de negocio críticos, servicios TI y programas de negocio
                            habilitados por las TI
                            cubiertos por evaluaciones de riesgos</li>
                        <li>Número de incidentes significativos relacionados con las Ti que no fueron identificados
                            en la
                            evaluación de riesgos</li>
                        <li>Porcentaje de evaluaciones de riesgo de la empresa que incluyen los riesgos relacionados
                            con TI</li>
                        <li>Frecuencia de actualización del perfil de riesgo</li>
                    </ul>

                </th>
            </tr>

            <tr>
                <th class="texto">
                    07 Entrga de servicios de TI de acuerdo a los requisitos del negocio
                </th>
                <th class="texto">
                    <ul>
                        <li>Número de interrupciones del negocio debidas a incidentes en el servicio</li>
                        <li>Porcentaje de partes interesadas satisfechas con el cumplimiento del servicio de TI
                            entregado respecto
                            a los niveles de servicio acordados</li>
                        <li>Porcentaje de usuarios satisfechos con la calidad de los servicios de TI entregados</li>
                    </ul>
                </th>
            </tr>
            <tr>
                <th class="texto">
                    14 Disponibilidad de información útil y relevante para la toma
                    de decisiones
                </th>
                <th class="texto">
                    <ul>
                        <li>Nivel de satisfacción de los usuarios del negocio y puntualidad
                            (o disponibilidad) de la información de gestión
                        </li>
                        <li>Número de incidentes en los procesos de negocio causadis por la
                            indisponibilidad de la información
                        </li>
                        <li>Relación o cantidad de decisiones de negocio erróneas en las
                            que la falta de información o la información errónea ha sido la
                            principal causa
                        </li>
                    </ul>
                </th>
            </tr>

            <tr class="fondo2">
                <th colspan="2">Objetivos y métricas del proceso</th>
            </tr>

            <tr class="fondo">
                <th>Meta del Proceso</th>
                <th>Métricas relacionales</th>
            </tr>

            <tr>
                <th class="texto">1. La información critica para el negocio está disponible 
                    para el negocio en lineal con los niveles de servicio mínimos requeridos.</th>
                <th class="texto">
                    <ul>
                        <li>Porcentaje de servicios TI que cumplen los requisitos de tiempos 
                            funcionamiento </li>
                        <li>Porcentaje de restauraciones satisfactorias y en tiempo de copias 
                            alternativas o de respaldo</li>
                        <li>Porcentaje de medios respaldo transferidos y almacenados de segura</li>
                    </ul>
                </th>
            </tr>

            <tr>
                <th class="texto">2. Los servicios críticos tienen suficiente resiliencia.</th>
                <th class="texto">
                    <ul>
                        <li>Número de sistemas críticos para el negocio no cubiertos por el plan</li>
                    </ul>
                </th>
            </tr>
            <tr>
                <th class="texto">3. Las pruebas de continuidad del servicio han verificado la 
                    efectividad del plan.</th>
                <th class="texto">
                    <ul>
                        <li>Número de ejercicios y pruebas que han conseguido los objetivos 
                            de recuperación</li>
                        <li>Frecuencia de las pruebas</li>
                    </ul>
                </th>
            </tr>
            <tr>
                <th class="texto">4. Un plan de continuidad actualizado refleja los requisitos 
                    de negocio actuales.</th>
                <th class="texto">
                    <ul>
                        <li>Porcentaje de mejoras acordadas que han sido reflejadas en el plan</li>
                        <li>Porcentaje de asuntos identificados que se han incluido satisfactoriamente en el plan</li>
                    </ul>
                </th>
            </tr>
            <tr>
                <th class="texto">5. Las partes interesadas internas y externas han sido formadas 
                    en el plan de continuidad</th>
                <th class="texto">
                    <ul>
                        <li>Porcentaje de interesados internos y externos que han recibido formación</li>
                        <li>Porcentaje de asuntos identificados que se han tratado subsecuentemente 
                            en los materiales de formación</li>
                    </ul>
                </th>
            </tr>

        </tbody>
    </table>
</div>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">HOME</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/listraci04">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla2">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla3">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla4">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla5">6</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla6">7</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla7">8</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla8">9</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla9">10</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla10">11</a></li>
      <li class="page-item"><a class="page-link" href="/listraci04">Next</a></li>
      
    </ul>
  </nav><br>
