<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>

<body>
    <table class="container" style="width: 87%;">
        <tr>
            <td colspan="2" class="azultabla1">APO12 Gestionar el Riesgo</td>
        </tr>
        <tr>
            <td colspan="2">Descripción del Proceso<br>
                Identificar, evaluar y reducir los riesgos relacionados con TI de forma continua, dentro de niveles de
                tolerancia establecidos por la dirección ejecutiva de la empresa.
            </td>
        </tr>
        <tr>
            <td colspan="2">Declaración del Propósito del Proceso<br>
                Integrar la gestión de riesgos empresariales relacionados con TI con la gestión de riesgos empresarial
                general (ERM) y equilibrar los costes y beneficios de gestionar riesgos empresariales relacionados con
                TI.
            </td>
        </tr>
        <tr>
            <td colspan="2">El proceso apoya la consecución de un conjunto de principales metas TI:</td>
        </tr>
        <th class="celeste2tabla1">
            Meta TI
        </th>
        <th class="celeste2tabla1">
            Métricas Relacionadas
        </th>
        <tr>
            <td>02 Cumplimiento y soporte de las TI al cumplimiento del negocio de las leyes y regulaciones externas
            </td>
            <td>• Coste del incumplimiento de TI, incluyendo acuerdos judiciales y multas, y el impacto de pérdida de
                reputación<br>
                • Número de asuntos de incumplimientos relacionados con TI reportados a la junta que llegan a ser de
                dominio publico o que provocan situaciones de escándalo<br>
                • Número de asuntos de incumplimientos relacionados con acuerdos contractuales son proveedores de
                servicio TI<br>
                • Cobertura de la evaluación del cumplimiento</td>
        </tr>
        <tr>
            <td>04 Riesgos de negocio relacionados con las TI gestionados</td>
            <td>• Porcentaje de procesos de negocio críticos, servicios TI y programas de negocio habilitados por las TI
                cubiertos por evaluaciones de riesgo<br>
                • Número de incidentes significativos relacionados con las TI que no fueron identificados en la
                evaluación de riesgos<br>
                • Porcentaje de evaluaciones de riesgo de la empresa que incluyen los riesgos relacionados con TI<br>
                • Frecuencia de actualización del perfil de riesgo</td>
        </tr>
        <tr>
            <td>06 Transparencia de los costes, beneficios y riesgo de las TI</td>
            <td>• Porcentaje de inversión en casos de negocio con costes y beneficios esperados relativos a ti
                claramente definidos y aprobados.<br>
                • Porcentaje de servicios TI con costes operativos y beneficios esperados claramente definidos y
                aprobados.<br>
                • Encuesta de satisfacción a las partes interesadas clave relativa al nivel de transparencia,
                comprensión y precisión de la información financiera de TI.</td>
        </tr>
        <tr>
            <td>10 Seguridad de la información, infraestructura de procesamiento y aplicaciones</td>
            <td>• Número de incidentes de seguridad causantes de pérdidas financieras, interrupciones del negocio o
                pérdida de imagen pública.<br>
                • Número de servicios de TI con los requisitos de seguridad pendientes<br>
                • Tiempo para otorgar, modificar y eliminar los privilegios de acceso, comparado con los niveles de
                servicio acordados<br>
                • Frecuencia de la evaluación de seguridad frente a los últimos estándares y guías</td>
        </tr>
        <tr>
            <td>13 Entrega de programas que proporcionen beneficios a tiempo, dentro del presupuesto y satisfaciendo los
                requisitos y normas de calidad</td>
            <td>• Número de programas/proyectos ejecutados en plazo y en presupuesto<br>
                • Porcentaje de partes interesadas satisfechas con la calidad del programa/proyecto.<br>
                • Número de programas que necesiten ser revisados significativamente debido a defectos de calidad<br>
                • Coste del mantenimiento de aplicaciones respecto al coste total de TI</td>
        </tr>
        <tr>
            <td colspan="2">Objetivos y Métricas del Proceso</td>
        </tr>
        <th class="celeste2tabla1">
            Meta del Proceso
        </th>
        <th class="celeste2tabla1">
            Métricas Relacionadas
        </th>
        <tr>
            <td>1. El riesgo relacionado con TI está identificado, analizado, gestionado y reportado.</td>
            <td>• Grado de visibilidad y reconocimiento en el entorno actual<br>
                • Número de eventos de pérdida con características calve, capturados en repositorios<br>
                • Porcentaje de auditorías, eventos y tendencias capturados en repositorios</td>
        </tr>
        <tr>
            <td>2. Existe un perfil de riesgo actual y completo.</td>
            <td>• Porcentaje de procesos de negocio claves incluidos en el perfil de riesgo<br>
                • Completitud de atributos y valores en el perfil de riesgo</td>
        </tr>
        <tr>
            <td>3. Todas las acciones de gestión para los riesgos significativos están gestionadas y bajo control.</td>
            <td>• Porcentaje de propuestas de gestión de riesgos rechazadas debido a una falta de consideración sobre
                algún riesgo relacionado<br>
                • Número de incidentes significativos no identificados e incluidos en el portafolio de gestión de
                riesgos</td>
        </tr>
        <tr>
            <td>4. Las acciones de gestión de riesgos están efectivamente implementadas.</td>
            <td>• Porcentaje de planes de acción para riesgos de TI ejecutados de la forma que fueron diseñados<br>
                • Número de medidas que no reducen el riesgo residual</td>
        </tr>
    </table>
</body>

</html><br>
<nav aria-label="Page navigation example " class="container" style="width: 812%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">APOO12</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo12tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/Apo012raci">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo12tabla2">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo12tabla3">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo12tabla4">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo12tabla5">12</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
      
    </ul>
  </nav>
