<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<style>

    .azultabla1{
        background: rgb(39, 70, 172);
        color: white;
        border: 1px solid black;
    }
    .celestetabla1{
        background: rgb(255, 255, 255);
        
    }
    .celeste2tabla1{
        background: rgb(163, 189, 219);
        
    }
    </style>

<body>
    <table class="container" style="width: 87%;">
        <tr>
            <td colspan="2" class="azultabla1">APO09 Gestionar los acuerdos de servicio</td>
        </tr>
        <tr>
            <td colspan="2">Descripción del Proceso<br>
                Alinear los servicios basados en TI y los niveles de servicios con las necesidades y expectativas de la
                empresa, incluyendo identificación, especificación, diseño, publicación, acuerdo y supervisión de los
                servicios TI, niveles de servicio e indicadores de rendimiento.
            </td>
        </tr>
        <tr>
            <td colspan="2">Declaración del Propósito del Proceso<br>
                Asegurar que los servicios TI y los niveles de servicio cubren las necesidades presentes y futuras de la
                empresa.
            </td>
        </tr>
        <tr>
            <td colspan="2">El proceso apoya la consecución de un conjunto de principales metas TI:</td>
        </tr>
        <th class="celeste2tabla1">
            Meta TI
        </th>
        <th class="celeste2tabla1">
            Métricas Relacionadas
        </th>
        <tr>
            <td>07 Entrega de servicios de TI de acuerdo a los requisitos del negocio</td>
            <td>• Número de interrupciones del negocio debidas a incidentes en el servicio de TI<br>
                • Porcentaje de partes interesadas satisfechas con el cumplimiento del servicio de TI entregado respecto
                a los niveles de servicio acordados<br>
                • Porcentaje de usuarios satisfechos con la calidad de los servicios de TI entregados</td>
        </tr>
        <tr>
            <td>14 Disponibilidad de información útil y relevante para la toma de decisiones</td>
            <td>• Nivel de satisfacción de los usuarios del negocio y puntualidad (o disponibilidad) de la información
                de gestión<br>
                • Número de incidentes en los procesos de negocio causados por la indisponibilidad de la información<br>
                • Relación o cantidad de decisiones de negocio erróneas en las que la falta de información o la
                información o la información errónea ha sido la principal causa</td>
        </tr>
        <tr>
            <td colspan="2">Objetivos y Métricas del Proceso</td>
        </tr>
        <th class="celeste2tabla1">
            Meta del Proceso
        </th>
        <th class="celeste2tabla1">
            Métricas Relacionadas
        </th>
        <tr>
            <td>1. La empresa puede usar de modo efectivo los servicios TI tal como se han definido en el catálogo.</td>
            <td>• Número de procesos de negocio con acuerdos de servicio sin definir</td>
        </tr>
        <tr>
            <td>2. Los acuerdos de servicio reflejan las capacidades y necesidades de la TI</td>
            <td>• Porcentaje de servicio TI activos cubiertos por acuerdos de servicio<br>
                • Porcentaje de clientes satisfechos porque el servicio cumple los niveles acordados</td>
        </tr>
        <tr>
            <td>3. Los servicios TI rinden como está estipulado en los acuerdos de servicio.</td>
            <td>• Número y severidad de incumplimientos del servicio<br>
                • Porcentaje de servicios monitorizados para cumplir los acuerdos<br>
                • Porcentaje de servicios que alcanza su objetivo</td>
        </tr>
    </table>
</body>

</html><br>
<nav aria-label="Page navigation example " class="container" style="width: 89%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">APOO9</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo9tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/Apo09raci">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo9tabla2">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo9tabla3">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo9tabla4">5</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
      
    </ul>
  </nav>