<div class="container">
    <table class="table">
        <thead class="theader">
        <tr>
            <td class="titulos" scope="col" colspan="5">DSS05 Prácticas, Entradas/Salidas y Actividades del Proceso (cont.)</td>
        </tr>
    </thead>
    <thead style="text-align:center" class="fondo2">
    <tr>
        <td class="titulos" scope="col">Prácticas de Gestión</td>
        <td class="titulos" scope="col" colspan="2">Entradas</td>
        <td class="titulos" scope="col" colspan="2">Salidas</td>
    </tr>
</thead>
    <tr>
        <th  scope="row" rowspan="4">DSS05.02 Gestionar la seguridad de la red
            y las conexiones. 
            <p class="texto">Utilizar medidas de seguridad y procedimientos de gestión
                relacionados para proteger la información en todos los modos de conexión.
            </p>
        </th>
        <td style="text-align: center;">De</td>
        <td style="text-align: center;">Descripción</td>
        <td style="text-align: center;">Descripción</td>
        <td style="text-align: center;">A</td>
    </tr>
    <tr>
    <tr>
        <td><a href="pagina55">APO01.06</a></td>
        <td>Guías de clasificación de la información</td>
        <td>Política de seguridad en la conectividad</td>
        <td><a href="pagina54">APO01.04</a></td>
    </tr>
    <tr>
        <td><a href="apo9tabla2">APO09.03</a></td>
        <td>ANSs</td>
        <td>Resultados de las pruebas de intrusión</td>
        <td><a href="mea02d">MEA02.08</a></td>
    </tr>
    <tr>
        <td colspan="5" style="text-align:center" class="fondo">Actividades</td>
    </tr>
    <tr>
        <td colspan="5">1. Basándose en el análisis de riesgos y en los requerimientos 
            del negocio, establecer y mantener una política de seguridad para las 
            conexiones.</td>
    </tr>
    <tr>
        <td colspan="5">2. Permitir sólo a los dispositivos autorizados tener acceso a 
            la información y a la red de la empresa. Configurar estos dispositivos 
            para forzar la solicitud de contraseña.</td>
    </tr>
    <tr>
        <td colspan="5">3. Implementar mecanismos de filtrado de red, como cortafuegos y 
            software de detección de intrusiones, con políticas apropiadas para controlar 
            el tráfico entrante y saliente.</td>
    </tr>
    <tr>
        <td colspan="5">4. Cifrar la información en tránsito de acuerdo con su clasificación.</td>
    </tr>
    <tr>
        <td colspan="5">5. Aplicar los protocolos de seguridad aprobados a las conexiones de red.</td>
    </tr>
    <tr>
        <td colspan="5">6. Configurar los equipamientos de red de forma segura.</td>
    </tr>
    <tr>
        <td colspan="5">7. Establecer mecanismos de confianza para dar soporte a la transmisión y 
            recepción segura de información.</td>
    </tr>
    <tr>
        <td colspan="5">8. Realizar pruebas de intrusión periódicas para determinar la 
            adecuación de la protección de la red.</td>
    </tr>
    <tr>
        <td colspan="5">9. Realizar pruebas periódicas de la seguridad del sistema para 
            determinar la adecuación de la protección del sistema.</td>
    </tr>
</table>
</div>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">HOME</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/listraci05">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla2">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla3">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla4">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla5">6</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla6">7</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla7">8</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla8">9</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla9">10</a></li>
      <li class="page-item"><a class="page-link" href="/dsso5tabla4">Next</a></li>
      
    </ul>
  </nav><br>
