<div>
     <span class="d-grid gap-2 col-4  mx-auto ">{{title}}</span>
     <form class="container bg-light bc row row-cols-1 row-cols-lg-4 g-1 g-lg-2 " style="height: 10px;" style="width: 60%;" style="margin: 35px   190px;" [formGroup]="edm05tituloForm" (ngSubmit)="agregarEdm05titulo()">
         <div class="form-group">
             <input type="text" formControlName="edm05titulo1" class="form-control" placeholder="edm05titulo1">
             <div class="validacion"
                *ngIf="edm05tituloForm.get('edm05titulo1')?.hasError('required') && edm05tituloForm.get('edm05titulo1')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>  
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="edm05titulo2" class="form-control" placeholder="edm05titulo2">
             <div class="validacion"
                 *ngIf="edm05tituloForm.get('edm05titulo2')?.hasError('required') && edm05tituloForm.get('edm05titulo2')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>  
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="edm05titulo3" class="form-control" placeholder="edm05titulo3">
             <div class="validacion"
                 *ngIf="edm05tituloForm.get('edm05titulo3')?.hasError('required') && edm05tituloForm.get('edm05titulo3')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>  
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="edm05titulo4" class="form-control" placeholder="edm05titulo4">
             <div class="validacion"
                  *ngIf="edm05tituloForm.get('edm05titulo4')?.hasError('required') && edm05tituloForm.get('edm05titulo4')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="edm05titulo5" class="form-control" placeholder="edm05titulo5">
             <div class="validacion"
                  *ngIf="edm05tituloForm.get('edm05titulo5')?.hasError('required') && edm05tituloForm.get('edm05titulo5')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="edm05titulo6" class="form-control" placeholder="edm05titulo6">
             <div class="validacion"
                  *ngIf="edm05tituloForm.get('edm05titulo6')?.hasError('required') && edm05tituloForm.get('edm05titulo6')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="edm05titulo7" class="form-control" placeholder="edm05titulo7">
             <div class="validacion"
                  *ngIf="edm05tituloForm.get('edm05titulo7')?.hasError('required') && edm05tituloForm.get('edm05titulo7')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="edm05titulo8" class="form-control" placeholder="edm05titulo8">
             <div class="validacion"
                  *ngIf="edm05tituloForm.get('edm05titulo8')?.hasError('required') && edm05tituloForm.get('edm05titulo8')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="edm05titulo9" class="form-control" placeholder="edm05titulo9">
             <div class="validacion"
                  *ngIf="edm05tituloForm.get('edm05titulo9')?.hasError('required') && edm05tituloForm.get('edm05titulo9')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="edm05titulo10" class="form-control" placeholder="edm05titulo10">
             <div class="validacion"
                  *ngIf="edm05tituloForm.get('edm05titulo10')?.hasError('required') && edm05tituloForm.get('edm05titulo10')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="edm05titulo11" class="form-control" placeholder="edm05titulo11">
             <div class="validacion"
                  *ngIf="edm05tituloForm.get('edm05titulo11')?.hasError('required') && edm05tituloForm.get('edm05titulo11')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="edm05titulo12" class="form-control" placeholder="edm05titulo12">
             <div class="validacion"
                  *ngIf="edm05tituloForm.get('edm05titulo12')?.hasError('required') && edm05tituloForm.get('edm05titulo12')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="edm05titulo13" class="form-control" placeholder="edm05titulo13">
             <div class="validacion"
                  *ngIf="edm05tituloForm.get('edm05titulo13')?.hasError('required') && edm05tituloForm.get('edm05titulo13')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="edm05titulo14" class="form-control" placeholder="edm05titulo14">
             <div class="validacion"
                  *ngIf="edm05tituloForm.get('edm05titulo14')?.hasError('required') && edm05tituloForm.get('edm05titulo14')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="edm05titulo15" class="form-control" placeholder="edm05titulo15">
             <div class="validacion"
                  *ngIf="edm05tituloForm.get('edm05titulo15')?.hasError('required') && edm05tituloForm.get('edm05titulo15')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="edm05titulo16" class="form-control" placeholder="edm05titulo16">
             <div class="validacion"
                  *ngIf="edm05tituloForm.get('edm05titulo16')?.hasError('required') && edm05tituloForm.get('edm05titulo16')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="edm05titulo17" class="form-control" placeholder="edm05titulo17">
             <div class="validacion"
                  *ngIf="edm05tituloForm.get('edm05titulo17')?.hasError('required') && edm05tituloForm.get('edm05titulo17')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="edm05titulo18" class="form-control" placeholder="edm05titulo18">
             <div class="validacion"
                  *ngIf="edm05tituloForm.get('edm05titulo18')?.hasError('required') && edm05tituloForm.get('edm05titulo18')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="edm05titulo19" class="form-control" placeholder="edm05titulo19">
             <div class="validacion"
                  *ngIf="edm05tituloForm.get('edm05titulo19')?.hasError('required') && edm05tituloForm.get('edm05titulo19')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="edm05titulo20" class="form-control" placeholder="edm05titulo20">
             <div class="validacion"
                  *ngIf="edm05tituloForm.get('edm05titulo20')?.hasError('required') && edm05tituloForm.get('edm05titulo20')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="edm05titulo21" class="form-control" placeholder="edm05titulo21">
             <div class="validacion"
                  *ngIf="edm05tituloForm.get('edm05titulo21')?.hasError('required') && edm05tituloForm.get('edm05titulo21')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="edm05titulo22" class="form-control" placeholder="edm05titulo22">
             <div class="validacion"
                  *ngIf="edm05tituloForm.get('edm05titulo22')?.hasError('required') && edm05tituloForm.get('edm05titulo22')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="edm05titulo23" class="form-control" placeholder="edm05titulo23">
             <div class="validacion"
                  *ngIf="edm05tituloForm.get('edm05titulo23')?.hasError('required') && edm05tituloForm.get('edm05titulo23')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="edm05titulo24" class="form-control" placeholder="edm05titulo24">
             <div class="validacion"
                  *ngIf="edm05tituloForm.get('edm05titulo24')?.hasError('required') && edm05tituloForm.get('edm05titulo24')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="edm05titulo25" class="form-control" placeholder="edm05titulo25">
             <div class="validacion"
                  *ngIf="edm05tituloForm.get('edm05titulo25')?.hasError('required') && edm05tituloForm.get('edm05titulo25')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="edm05titulo26" class="form-control" placeholder="edm05titulo26">
             <div class="validacion"
                  *ngIf="edm05tituloForm.get('edm05titulo26')?.hasError('required') && edm05tituloForm.get('edm05titulo26')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>  
           <button routerLink="/listar-three" class="btn btn-danger">Volver</button>  &nbsp;
           <button type="submit" class="btn btn-success" [disabled]="edm05tituloForm.invalid">Aceptar</button>
       </div>
     </form>
 </div>
 
 
