<table class="container" style="width: 85%;"> 
    
    <thead>
      <tr>
        <td class="azultabla1" colspan="6">BAI06 Practicas, Entradas/Salidas y Actividades del Proceso</td>
      </tr>
    <tr>
    <th class="celeste2tabla1" colspan="1" >Prácticas de gestión</th>
    <th class="celeste2tabla1" colspan="2">Entradas</th>
    <th class="celeste2tabla1" colspan="2">Salidas</th>
    </tr>
    </thead>
    <tr>
        <td rowspan="7" class="texto"><strong>BAI03.01 Diseñar soluciones de alto nivel </strong><br>
        Desarrollar y documentar diseños de alto nivel usando técnicas de desarrollo ágil o por fases apropiadas y acordadas. Asegurar el lineamiento con la estrategia TI y la arquitectura empresarial. Revalorar y actualizar los diseños cuando sucedan cuestiones significativas durante las fases de diseño detallado o de construcción o según la solución evolucione.Asegurar que las oartes interesadas participen activamente en el diseño y en la aprobación de cada versión
        </td>
        <td><strong>De</strong></td>
        <td><strong>Descripción</strong></td>
        <td><strong>Descripción</strong></td>
        <td><strong>Hacia</strong></td>
        </tr>
        <tr>
        
        <td class="texto"><a routerLink="/pagina64">APO03.01</a></td>
        <td class="texto">Principios de arquitectura</td>
        <td rowspan="6" class="texto">Aprobación de las especificaciones del diseño de alto nivel</td>
        <td rowspan="6" class="texto"><a routerLink="/pagina143">BAI04.03</a><br><a routerLink="/pagina147">BAI05.03</a></td>
        </tr>
        <tr>
        <td class="texto"><a routerLink="/pagina65">APO03.02</a></td>
        <td class="texto">Descripciones de los dominios de referencia y la definición de arquitectura</td>
        </tr>
        <tr>
        <td class="texto"><a routerLink="/pagina71">APO04.03</a></td>
        <td class="texto">Análisis de investigación de las posibilidades de innovación</td>
        </tr>
        <tr>
        <td class="texto"><a routerLink="/pagina71">APO04.04</a></td>
        <td class="texto">Evaluación de las ideas de innovación</td>
        </tr>
        <tr>
        <td class="texto"><a routerLink="/pagina58">APO02.01</a></td>
        <td class="texto">-Confirmar los criterios de aceptación por las partes interesadas <br> -Repositorio de la definición de requerimientos</td>
        </tr>
        <tr>
        <td class="texto"><a routerLink="/pagina59">APO02.02</a></td>
        <td class="texto">PLan de alto nivel de adquisiciones de desarrollo</td>
        </tr>
        <tr>
        <td colspan="5" class="Actividades" class="celeste2tabla1"><strong  >Actividades</strong></td>
        </tr>
        <tr><td colspan="5" class="texto" >1.Establecer especificaciones de diseño a alto nivel que traduzcan la solución propuesta en los procesos de negocio, servicios soportados, aplicaciones, infraestructura y repositorios de información capacidades de cumplir con los requerimientos de arquitectura de negocio y empresa</td></tr>
        <tr><td colspan="5" class="texto" >2.Involucrar a usuarios experimentados y apropiadamente cualificados así como especialistas TI en el proceso de diseño para asegurar que el diseño proporciona una solución que usa las capacidades TI de manera que optimize el proceso de negocio </td></tr>
        <tr><td colspan="5" class="texto">3.Crear un diseño acorde a los estandares de diseño de la organización a un nivel de detalle que sea apropiado para la solución y el método de desarrollo y en consonancia con el negocio, empresa, estrategias TI, la arquitectura empresarial, el plan de seguridad, leyes aplicables, regulaciones y contratos</td></tr>
        <tr><td colspan="5" class="texto" >4.Tras la aprobación de la garantía de calidad, remitir el diseño final a alto nivel del proyecto a las partes interesadas y al patrocinador/dueño del proceso de negocio para su aprobación basada en los criterios establecidos. Este diseño evolucionará durante todo el proyecto según mejore la comprensión</td></tr>
    
    
    <tr>
    <Th class="celeste2tabla1" colspan="1" >Prácticas de gestión</Th>
    <th class="celeste2tabla1" colspan="2">Entradas</th>
    <th class="celeste2tabla1" colspan="2">Salidas</th>
    </tr>
    
    <tr>
    <td rowspan="9" class="texto"><strong>BAI03.02 Diseñar los componentes detallados de la solución </strong><br>
    Desarrollar, documentar y elaborar diseños detallados progresivamente usando técnicas de desarrollo ágiles o por fases acortadas previamente considerando todos los componentes procesos de negocio y automatización relacionada y controles manuales,aplicaciones soporte de TI, servicios de infraestructura y productos ecnológicos y proveedores/fabricantes. Asegurar que el diseño detallado incluye ANSs y OLAs internos y externos
    </td>
    <td><strong>De</strong></td> 
    <td><strong>Descripción</strong></td>
    <td><strong>Descripción</strong></td>
    <td><strong>Hacia</strong></td>
    </tr>
    <tr>
    
    <td class="texto" ><a routerLink="/pagina64">APO03.01</a></td>
    <td class="texto">Principios de arquitectura</td>
    <td class="texto" >Especificaciones de diseño detalladas y aprobadas</td>
    <td class="texto"><a routerLink="/pagina143">BAI04.03</a><br><a routerLink="/pagina146">BAI05.01</a></td>
    </tr>
    <tr>
    <td class="texto"><a routerLink="/pagina65">APO03.02</a></td>
    <td class="texto">-Modelo de arquitectura de la información <br>-Descripciones de los dominios de referencia y definición de arquitectura</td>
    <td rowspan="7" class="texto">ANSs y OLAs</td>
    <td rowspan="7" class="texto"><a routerLink="/pagina143">BAI04.02</a></td>
    </tr>
    <tr>
    <td class="texto"><a routerLink="/pagina67">APO03.05</a></td>
    <td class="texto">Guía de desarrollo de la solución</td>
    </tr>
    <tr>
    <td class="texto"><a routerLink="/pagina72">APO04.06</a></td>
    <td class="texto">Evaluación de la utilización de aproximaciones innovadoras</td>
    </tr>
    <tr>
    <td class="texto"><a routerLink="/pagina58">APO02.01</a></td>
    <td class="texto">-Confirmar los criterios de aceptación por las partes interesadas <br> -Repositorio de la definición de requerimientos</td>
    </tr>
    <tr>
    <td class="texto"><a routerLink="/pagina59">APO02.02</a></td>
    <td class="texto">Informe de estudio de viabilidad</td>
    </tr>
    <tr>
    <td class="texto"><a routerLink="/pagina60">APO02.03</a></td>
    <td class="texto">-Acciones de mitigación de riesgos <br>-Registro de riesgos y requerimientos</td>
    </tr>
    <tr>
      <td class="texto"><a routerLink="/pagina60">APO02.04</a></td>
    <td class="texto">Aprovación del patrocinador de los requerimientos y soluciones propuestas</td>
    </tr>
    <tr>
    
     <td class="celeste2tabla1" colspan="5" ><strong  >BAI03.02 Actividades</strong></td>
    </tr>
    <tr><td colspan="5"  class="texto">1.Diseñar progresivamente las actividades del proceso de negocio y los flujos de trabajo necesarios para llevar a cabo conjuntamente con el nuevo sistema de aplicación para alcanzar los objetivos de la empresa,incluyendo el diseño de las actividades de control manuales.</td></tr>
    <tr><td colspan="5" class="texto" >2.Diseñar as etapas de procesamiento de la aplicación, incluyendo espacificaciones de tipos transiciones y reglas de negocio, controles automatizados, definiciones de datos/objetos de negocio, casos de uso, interfaces externos,limitaciones de diseño y otros requerimientos por ejemplo: licencias, legales, estándares e internacionalización/localización. </td>
    </tr>
</table>
    <br>
   

    <nav aria-label="Page navigation example " class="container" style="width: 87%;">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" routerLink="/pagina133">BAI01</a></li>
          <li class="page-item"><a class="page-link" routerLink="/pagina134">1</a></li>
          <li class="page-item"><a class="page-link" routerLink="/pagina135">2</a></li>
          <li class="page-item"><a class="page-link" routerLink="/pagina136">3</a></li>
          <li class="page-item"><a class="page-link" routerLink="/pagina137">4</a></li>
          <li class="page-item"><a class="page-link" routerLink="/pagina138">5</a></li>
          <li class="page-item"><a class="page-link" routerLink="/pagina139">6</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
          
        </ul>
      </nav><br>
