<div>
    <span class="d-grid gap-2 col-4  mx-auto ">{{title}}</span>
    <form [formGroup]="apo03tituloForm" class="container bg-light bc row row-cols-1 row-cols-lg-4 g-1 g-lg-2" style="height: 10px;" style="width: 30%;" style="margin: 35px   190px;" (ngSubmit)="agregarApo03titulo()">
        <div class="form-group">
            <input type="text" formControlName="apo03titulo1" class="form-control" placeholder="apo03titulo1">
            <div class="validacion"
               *ngIf="apo03tituloForm.get('apo03titulo1')?.hasError('required') && apo03tituloForm.get('apo03titulo1')?.touched">
               <span>Este campo<b> es obligatorio</b></span>
            </div>  
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo03titulo2" class="form-control" placeholder="apo03titulo2">
            <div class="validacion"
                *ngIf="apo03tituloForm.get('apo03titulo2')?.hasError('required') && apo03tituloForm.get('apo03titulo2')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>  
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo03titulo3" class="form-control" placeholder="apo03titulo3">
            <div class="validacion"
                *ngIf="apo03tituloForm.get('apo03titulo3')?.hasError('required') && apo03tituloForm.get('apo03titulo3')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>  
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo03titulo4" class="form-control" placeholder="apo03titulo4">
            <div class="validacion"
                 *ngIf="apo03tituloForm.get('apo03titulo4')?.hasError('required') && apo03tituloForm.get('apo03titulo4')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo03titulo5" class="form-control" placeholder="apo03titulo5">
            <div class="validacion"
                 *ngIf="apo03tituloForm.get('apo03titulo5')?.hasError('required') && apo03tituloForm.get('apo03titulo5')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo03titulo6" class="form-control" placeholder="apo03titulo6">
            <div class="validacion"
                 *ngIf="apo03tituloForm.get('apo03titulo6')?.hasError('required') && apo03tituloForm.get('apo03titulo6')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo03titulo7" class="form-control" placeholder="apo03titulo7">
            <div class="validacion"
                 *ngIf="apo03tituloForm.get('apo03titulo7')?.hasError('required') && apo03tituloForm.get('apo03titulo7')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo03titulo8" class="form-control" placeholder="apo03titulo8">
            <div class="validacion"
                 *ngIf="apo03tituloForm.get('apo03titulo8')?.hasError('required') && apo03tituloForm.get('apo03titulo8')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo03titulo9" class="form-control" placeholder="apo03titulo9">
            <div class="validacion"
                 *ngIf="apo03tituloForm.get('apo03titulo9')?.hasError('required') && apo03tituloForm.get('apo03titulo9')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo03titulo10" class="form-control" placeholder="apo03titulo10">
            <div class="validacion"
                 *ngIf="apo03tituloForm.get('apo03titulo10')?.hasError('required') && apo03tituloForm.get('apo03titulo10')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo03titulo11" class="form-control" placeholder="apo03titulo11">
            <div class="validacion"
                 *ngIf="apo03tituloForm.get('apo03titulo11')?.hasError('required') && apo03tituloForm.get('apo03titulo11')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo03titulo12" class="form-control" placeholder="apo03titulo12">
            <div class="validacion"
                 *ngIf="apo03tituloForm.get('apo03titulo12')?.hasError('required') && apo03tituloForm.get('apo03titulo12')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo03titulo13" class="form-control" placeholder="apo03titulo13">
            <div class="validacion"
                 *ngIf="apo03tituloForm.get('apo03titulo13')?.hasError('required') && apo03tituloForm.get('apo03titulo13')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo03titulo14" class="form-control" placeholder="apo03titulo14">
            <div class="validacion"
                 *ngIf="apo03tituloForm.get('apo03titulo14')?.hasError('required') && apo03tituloForm.get('apo03titulo14')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo03titulo15" class="form-control" placeholder="apo03titulo15">
            <div class="validacion"
                 *ngIf="apo03tituloForm.get('apo03titulo15')?.hasError('required') && apo03tituloForm.get('apo03titulo15')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo03titulo16" class="form-control" placeholder="apo03titulo16">
            <div class="validacion"
                 *ngIf="apo03tituloForm.get('apo03titulo16')?.hasError('required') && apo03tituloForm.get('apo03titulo16')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo03titulo17" class="form-control" placeholder="apo03titulo17">
            <div class="validacion"
                 *ngIf="apo03tituloForm.get('apo03titulo17')?.hasError('required') && apo03tituloForm.get('apo03titulo17')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo03titulo18" class="form-control" placeholder="apo03titulo18">
            <div class="validacion"
                 *ngIf="apo03tituloForm.get('apo03titulo18')?.hasError('required') && apo03tituloForm.get('apo03titulo18')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo03titulo19" class="form-control" placeholder="apo03titulo19">
            <div class="validacion"
                 *ngIf="apo03tituloForm.get('apo03titulo19')?.hasError('required') && apo03tituloForm.get('apo03titulo19')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo03titulo20" class="form-control" placeholder="apo03titulo20">
            <div class="validacion"
                 *ngIf="apo03tituloForm.get('apo03titulo20')?.hasError('required') && apo03tituloForm.get('apo03titulo20')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo03titulo21" class="form-control" placeholder="apo03titulo21">
            <div class="validacion"
                 *ngIf="apo03tituloForm.get('apo03titulo21')?.hasError('required') && apo03tituloForm.get('apo03titulo21')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo03titulo22" class="form-control" placeholder="apo03titulo22">
            <div class="validacion"
                 *ngIf="apo03tituloForm.get('apo03titulo22')?.hasError('required') && apo03tituloForm.get('apo03titulo22')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo03titulo23" class="form-control" placeholder="apo03titulo23">
            <div class="validacion"
                 *ngIf="apo03tituloForm.get('apo03titulo23')?.hasError('required') && apo03tituloForm.get('apo03titulo23')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo03titulo24" class="form-control" placeholder="apo03titulo24">
            <div class="validacion"
                 *ngIf="apo03tituloForm.get('apo03titulo24')?.hasError('required') && apo03tituloForm.get('apo03titulo24')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo03titulo25" class="form-control" placeholder="apo03titulo25">
            <div class="validacion"
                 *ngIf="apo03tituloForm.get('apo03titulo25')?.hasError('required') && apo03tituloForm.get('apo03titulo25')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo03titulo26" class="form-control" placeholder="apo03titulo26">
            <div class="validacion"
                 *ngIf="apo03tituloForm.get('apo03titulo26')?.hasError('required') && apo03tituloForm.get('apo03titulo26')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div><br>  
          <button routerLink="/Apo03raci" type="button" class="btn btn-secondary">Volver</button>  &nbsp;
          <button  type="button" class="btn btn-success" type="submit" [disabled]="apo03tituloForm.invalid">Aceptar</button><hr>
      </div><br>
    </form>
</div>



