
<!--CUERPO-->


<ul class="list-group container bg-light co bc">
  <div  class="container">
    

    <h1 style=" display:grid; place-items:center;" class="texto">Evaluar, Orientar y Supervisar</h1>

    <div style=" margin-left: auto; margin-right: auto;">
      <div class="col">
        <div style="width:100px; margin-left: 10px; margin-right: 10px; margin-top: 2px; height:100px; text-align:center; float: left;" class="p-1 border bg-light"><a class="nav-link" routerLink="/edm01tabla1">EDM01</a>  <p class="parafo">Asegurar el establecimiento y mantenimiento del marco de gobierno</p> </div>
      </div>
      <div class="col">
        <div style="width:100px;  margin-left: 10px; margin-right: 10px; margin-top: 2px; height:100px; text-align:center; float: left;" class="p-1 border bg-light"><a class="nav-link" routerLink="/edm02tabla1">EDM02</a>  <p class="parafo">Asegurar las entregas de beneficio  </p></div>
      </div>
      <div class="col">
        <div style="width:100px; margin-left: 10px; margin-right: 10px; margin-top: 2px; height:100px; text-align:center; float: left;" class="p-1 border bg-light"><a class="nav-link" routerLink="/edm03tabla1"> EDM03</a> <p class="parafo">Asegurar la optimización de riesgo</p></div>
      </div>
      <div class="col">
        <div style="width:100px; margin-left: 10px; margin-right: 10px; margin-top: 2px; height:100px; text-align:center; float: left;" class="p-1 border bg-light"><a class="nav-link" routerLink="/edm04tabla1">EDM04</a>  <p class="parafo">Asegurar la optimización de los recursos</p></div>
      </div>
      <div class="col">
        <div style="width:100px; margin-left: 10px; margin-right: 10px; margin-top: 2px; height:100px; text-align:center; float: left;" class="p-1 border bg-light"><a class="nav-link" routerLink="/edm05tabla1">EDM05</a>  <p class="parafo">Asegurar la transparencia hacia las partes interesadas</p></div>
      </div>
    </div>
  </div><br>
</ul><br>


<ul class="list-group container bg-light bc"  >
 
    <div class="container" >
    

      <ul class="list-group container bg-light tf" >
        
        <div class="" >
          

      
          <h1 class="texto" >Supervisar, Evaluar y Valorar</h1><br>
      
         
              <div class="p-2 border bg-light" class="table-responsive"><a class="nav-link" routerLink="/mea01">MEA01 </a> <p class="parafo">Supervisar, Evaluar y Valorar Rendimiento y Conformidad</p> </div>
            </div><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <div class="col">
              <div class="p-2 border bg-light" class="table-responsive"><a class="nav-link" routerLink="/mea02"> MEA02 </a><p class="parafo">Supervisar , Evaluar y Valorar el Sistema de Control Interno</p> </div>
            </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <div class="col">
              <div class="p-2 border bg-light" class="table-responsive"> <a class="nav-link" routerLink="/meao3tabla1">MEA03</a> <p class="parafo">Supervisar , Evaluar y Valorar la Conformidad con los Requerimientos Externos</p> </div>
            </div>

       <br>
      </ul><br>

  
  <ul class="list-group container bg-light bc">
    
    <div class="container">
      <h1 class="texto">Alinear, Planificar y Organizar</h1>
  
      <div class="row row-cols-2 row-cols-lg-4 g-1 g-lg-2">
        <div class="col">
          <div class="p-2 border bg-light le"><a class="nav-link" routerLink="/pagina51">APO01</a>  <p class="parafo">Gestionar el Marco de Gestion de TI</p>  </div>
        </div>
        <div class="col">
          <div class="p-2 border bg-light le"><a class="nav-link" routerLink="/pagina57">APO02</a> <p class="parafo">Gestionar la Estrategia</p> </div>
        </div>
        <div class="col">
          <div class="p-2 border bg-light le"><a class="nav-link" routerLink="/pagina63">APO03</a> <p class="parafo">Administrar la Adquitectura Empresarial</p> </div>
        </div>
        <div class="col">
          <div class="p-2 border bg-light le" ><a class="nav-link" routerLink="/pagina69">APO04</a> <p class="parafo">Gestionar la Innovacion</p> </div>
        </div>
        <div class="col">
          <div class="p-2 border bg-light le"><a class="nav-link" routerLink="/pagina73">APO05</a> <p class="parafo">Gestionar la Cartera</p> </div>
        </div>
        <div class="col">
          <div class="p-2 border bg-light le"><a class="nav-link" routerLink="/apo6tabla1">APO06</a><p class="parafo">Gestionar el Presupuesto y los Costes</p> </div>
        </div>
        <div class="col">
          <div class="p-2 border bg-light le"><a class="nav-link" routerLink="/apo7tabla1">APO07</a><p class="parafo">Gestionar los Recursos Humanos</p> </div>
        </div>
        <div class="col">
          <div class="p-2 border bg-light le"><a class="nav-link" routerLink="/apo8tabla1">APO08</a>  <p class="parafo">Gestionar la Realaciones</p>  </div>
        </div>
        <div class="col">
          <div class="p-2 border bg-light le"><a class="nav-link" routerLink="/apo9tabla1">APO09</a>  <p class="parafo">Gestionar los Acuerdos de Servicio</p> </div>
        </div>
        <div class="col">
          <div class="p-2 border bg-light le"><a class="nav-link" routerLink="/apo10tabla1">APO010 </a> <p class="parafo">Gestionar los Proveedores</p> </div>
        </div>
        <div class="col">
          <div class="p-2 border bg-light le"><a class="nav-link" routerLink="/apo11tabla1">APO011</a>  <p class="parafo">Gestionar la Calidad</p> </div>
        </div>
        <div class="col">
          <div class="p-2 border bg-light le"><a class="nav-link" routerLink="/apo12tabla1">APO012</a>  <p class="parafo">Gestionar el Riesgo</p> </div>
        </div>
        <div class="col">
          <div class="p-2 border bg-light le"><a class="nav-link" routerLink="/apo13tabla1">APO013</a>  <p class="parafo">Gestionar la Seguridad</p> </div>
        </div>
      </div>
    </div><br>
  </ul>

  <ul class="list-group container bg-light bc">
    <li class="list-group-item active" aria-current="true"></li>
    <div class="container">
      <h1 class="texto">Construir , Adquirir o Implementar</h1>
  
      <div class="row row-cols-2 row-cols-lg-4 g-1 g-lg-2">
        <div class="col">
          <div class="p-2 border bg-light"><a class="nav-link" href="pagina119">BAI01</a>  <p class="parafo">Gestionar los Programas y Proyectos</p>  </div>
        </div>
        <div class="col">
          <div class="p-2 border bg-light"><a class="nav-link" href="pagina129">BAI02</a>  <p class="parafo">Gestionar la Definicion de Requisitos </p></div>
        </div>
        <div class="col">
          <div class="p-2 border bg-light"><a class="nav-link"  href="pagina133">BAI03</a>  <p class="parafo">Gestionar la identificacion y la construccion de Soluciones </p></div>
        </div>
        <div class="col">
          <div class="p-2 border bg-light"><a class="nav-link" href="pagina141">BAI04</a>  <p class="parafo">Gestionar la disponibilidad y la Capacidad</p></div>
        </div>
        <div class="col">
          <div class="p-2 border bg-light"><a class="nav-link" href="pagina146">BAI05</a>  <p class="parafo">Gestionar la Habilidad del CAmbio Organizativo</p></div>
        </div>
        <div class="col">
          <div class="p-2 border bg-light"><a class="nav-link" href="pagina149">BAI06 </a> <p class="parafo">Gestionar ls Cambios</p></div>
        </div>
        <div class="col">
          <div class="p-2 border bg-light"><a class="nav-link"  href="pagina153">BAI07</a>  <p class="parafo">Gestionar la Aceptacion del cambio y de la Transicion</p></div>
        </div>
        <div class="col">
          <div class="p-2 border bg-light"><a class="nav-link" href="pagina159">BAI08</a>  <p class="parafo">Gestionar el Conocimiento</p></div>
        </div>
        <div class="col">
          <div class="p-2 border bg-light"><a class="nav-link" href="pagina163">BAI09</a>  <p class="parafo">Gestionar los Activos</p></div>
        </div>
        <div class="col">
          <div class="p-2 border bg-light"><a class="nav-link" href="pagina167">BAI010</a>  <p class="parafo">Gestionar  </p></div>
        </div>
      </div>
    </div><br>
  </ul>
  
  <ul class="list-group container bg-light co bc">
    <li class="list-group-item active" aria-current="true"></li>
    <div class="container">
  
      <h1 class="texto">Entregar, dar Servicio y soporte</h1>
  
      <div class="row row-cols-2 row-cols-lg-4 g-1 g-lg-2">
        <div class="col">
          <div class="p-2 border bg-light"><a class="nav-link" routerLink="/dsso1tabla1">DSS01</a>  <p class="parafo">Gestionar la Innovacion</p> </div>
        </div>
        <div class="col">
          <div class="p-2 border bg-light"><a class="nav-link" routerLink="/dsso2tabla1">DSS02</a>  <p class="parafo">Gestionar la Innovacion</p></div>
        </div>
        <div class="col">
          <div class="p-2 border bg-light"><a class="nav-link" routerLink="/dsso3tabla1"> DSS03</a> <p class="parafo">Gestionar la Innovacion</p></div>
        </div>
        <div class="col">
          <div class="p-2 border bg-light"><a class="nav-link" routerLink="/dsso4tabla1">DSS04</a>  <p class="parafo">Gestionar la Innovacion</p></div>
        </div>
        <div class="col">
          <div class="p-2 border bg-light"><a class="nav-link" routerLink="/dsso5tabla1">DSS05</a>  <p class="parafo">Gestionar la Innovacion</p></div>
        </div>
        <div class="col">
          <div class="p-2 border bg-light"><a class="nav-link" routerLink="/dsso6tabla1">DSS06</a>  <p class="parafo">Gestionar la Innovacion</p></div>
        </div>
      </div>
    </div><br>
  </ul><br>
  <ul class="list-group container cd bg-light">
    <li class="list-group-item  active " aria-current="true">Proceso para la Gestion de la TI Empresarial</li>
  </ul> <br>

  <router-outlet></router-outlet>
  
  


  
  
 