<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="table-responsive">
    <table class="container" style="width: 85%; margin: 0 auto;">
        <thead>
            <tr>
                <th class="azultabla1" colspan="6"><b> BAI07 Prácticas, Entradas/Salidas y Actividades del Proceso (cont.)</b></th>
            </tr>
        </thead>
        <tr>
            <td colspan="6">10. Al realizar las pruebas, asegurar que los elementos de marcha atrás y alternativos del plan de pruebas han sido considerados.
            </td>
        </tr>
        <tr>
            <td colspan="6">11. Identificar, registrar y clasificar (ej. menor, significtivo,critico) los errores durante las pruebas. Asegurar que está disponible de un registro de auditoria de los resultados de las pruebas. 
                Comunicar los resultados de las pruebas a las partes interesadas de acuerdo al plan de pruebaspara posibilitar la corrección de los errores y otras mejoras en la calidad. 
            </td>
        </tr>
        <tr>
        </tr>
        <tbody>
            <tr>
                <th class="celeste2tabla1" colspan="2">Prácticas de Gestión</th>
                <th class="celeste2tabla1" colspan="2">Entradas</th>
                <th class="celeste2tabla1" colspan="2">Salidas</th>
            </tr>
            <tr>
                <td rowspan="3" colspan="2"><b>BAI07.06 Pasar a producción y gestionar los lanzamientos.</b> <br>
                    Pasar la solución aceptada al negocio y las operaciones. Donde <br>
                    sea apropiado, ejecutar la solución como un proyecto piloto o en <br>
                    paralelo con la solucion antigua durante un periodo de tiempo <br>
                    definido y comparar su comportamiento y resultados. Si se dieran <br>
                    problemas significativos, reinstaurar el entorno original de acuerdo <br>
                    al plan de marcha atras o alternativo. Gestionar los lanzamientos <br>
                    de los componentes de la solución
                <th colspan="1">De</th>
                <th colspan="1">Descripción</th>
                <th colspan="1" rowspan="1">Descripción</th>
                <th colspan="1" rowspan="1">A</th>
            </tr>
            <tr>
                <td rowspan="2"></td>
                <td rowspan="2"></td>
                <td colspan="1" class="texto">Plan de <br>lanzamientos</td>
                <td colspan="1" class="texto"><a href="/pagina168">BAI10.01</a><br></td>
            </tr>
            <tr>
                <td colspan="1" class="texto">Registro de  <br>lanzamientos</td>
                <td colspan="1" class="texto">Interno<br></td>
            </tr>
            <tr>
            <tr>
                <td class="celeste2tabla1" colspan="6" align="center"><b>Actividades</b> 
                </td>
            </tr>
            <tr>
                <td colspan="6">1. Prepararse para el traspaso del entorno de pruebas al de producción de procedimiento de negocio y servicios que los soportan, aplicaciones e infraestructura, de acuerdo con los estándares de la organización sobre gestión del cambio.
                </td>
            </tr>
            <tr>
                <td colspan="6">2. Determinar el alcance de la realizacion de un piloto o de la ejecucion en paralelo del nuevo sistema y el antiguo, en el marco del plan de implantación. 

                </td>
            </tr>
            <tr>
                <td colspan="6">3. Actualizar inmediatamente la documentación sobre sistemas y procesos de negocio relevantes, información de configuración y documentación del plan de contingencia, segun sea apropiado.
                </td>
            </tr>
            <tr>
                <td colspan="6">4. Asegurar que todas las bibliotecas de medios son actualizadas mediantemente con la versión del componente de la solución que está siendo transferido al entorno de producción. Archivar la versión existente y su documentación 
                    de soporte. Asegurar que el paso a producción de los sistemas, software de aplicación e infraestructuras se realiza bajo el control de la gestion de la configuración.
                </td>
            </tr>
            <tr>
                <td colspan="6">5. Donde la distribución de los componentes de la solución de los componentes de la solución sea realizada de forma electrónica, controlar la distribución automatizada para asegurar que los usuarios son notificados y que la distribución se 
                    realiza unicamente a los destinarios correctamente identificados y autorizados. Incluir procedimientos de marcha atras en el proceso de lanzamiento para posibilitar la revisión de la distribución de cambios, en caso de error o mal funcionamiento.
                </td>
            </tr>
            <tr>
                <td colspan="6">6. Donde la distribución se realice de forma fisica, mantener un registro formal de los elementos que han sido distribuidos, a quien, donde han sido implantados y cuando ha tenido lugar cada actualización. 
                </td>
            </tr>
            <tr>
            </tr>
        <tbody>
            <tr>
                <th class="celeste2tabla1" colspan="2">Prácticas de Gestión</th>
                <th class="celeste2tabla1" colspan="2">Entradas</th>
                <th class="celeste2tabla1" colspan="2">Salidas</th>
            </tr>
            <tr>
                <td rowspan="6" colspan="2" class="texto"><b>BAI07.07 Proporcionar soporte en  producción desde el primer momento.</b> <br>
                   Proporcionar soporte desde el primer momento a los usuarios y a <br> las operaciones de TI durante un periodo de tiempo acordado para <br> tratar cualquier incidencia y ayudar a estabilizar la nueva solución.
                <th colspan="1">De</th>
                <th colspan="1">Descripción</th>
                <th colspan="1">Descripción</th>
                <th colspan="1">A</th>
            </tr>
            <tr>
                <td rowspan="1" class="texto"><a href="">AP011.03</a></td>
                <td rowspan="1">Resultados de la revisión de <br>calidad de servicio, incluyendo <br>observaciones del cliente</td>
                <td rowspan="5" class="texto">Plan de soporte <br> adicional </td>
                <td rowspan="5" class="texto"><a href="/apo8tabla4">AP008.04</a> <br><a href="/apo8tabla4">AP008.05</a> <br><a href="/dsso2tabla5">DSS0S2.04</a> </td>
            </tr>
            <tr>
                <td rowspan="4" class="texto"><a href="/pagina148">BAI05.05</a></td>
                <td rowspan="4">Metricas y resultados de exito</td>
            </tr>
            <tr><tr><tr>
            <tr>
                <td class="celeste2tabla1" colspan="6" align="center"><b>Actividades</b> 
                </td>
            </tr>
            <tr>
                <td colspan="6">1.Proporcionar recursos adicionales, segun sea necesario, a los usuarios dinales y al personal de soporte hasta que el lanzamiento sea estable.
                </td>
            </tr>
            <tr>
                <td colspan="6">2.Proporcionar recursos de sistemas TI adicionales, segun sea necesario, hasta que el lanzamiento esté en un entorno operativo estable.
                </td>
            </tr>
    </table></div>
</body>
</html><br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">BAI07</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina153">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina154">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina155">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina156">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina157">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina158">6</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
      
    </ul>
  </nav><br>
