<div class="container">
    <table class="table ">

        <thead class="theader">

            <tr>
                <th class="titulos" scope="col">DSS05 Gestionar Servicios de Seguridad</th>
                <th class="titulos2" scope="col">Área: Gestión <br>
                    Domínio: Entrega, Servicio y Soporte</th>
            </tr>

        </thead>

        <tbody>

            <tr>

                <th class="fondo" scope="row" colspan="2.5">Descripción del proceso
                    <p class="texto">Proteger la información de la empresa para mantener
                        aceptable el nivel de riesgo de seguridad de la información de
                        acuerdo con la política de seguridad. Establecer y mantener los roles
                        de seguridad y privilegios de acceso de la información y realizar
                        la supervición de la seguridad. 
                    </p>
                </th>

            </tr>

            <tr>

                <th scope="row" class="fondo" colspan="2.5">Declaración del propósito del proceso
                    <p class="texto">
                        Minimizar el impacto en el negocio de las vulnerabilidades e incidentes
                        operativos de seguridad en la información. 
                    </p>
                </th>

            </tr>

            <tr>

                <th scope="row" class="fondo2" colspan="2.5">El proceso apoya la consecución de un conjunto de
                    principales
                    metas TI:
                </th>

            </tr>


        </tbody>
    
    
            <th class="fondo2" style="width: 550px;">Meta TI</th>
            <th class="fondo2">Métricas Relacionadas</th>
       
            <tbody>
                <tr>
                    <th class="texto">
                        02 Cumplimiento y soporte de TI al cumplimiento del negocio de las
                        leyes y regulaciones externas 
                    </th>
                    <th class="texto">
                        <ul>
                            <li>Coste de la no conformidad de TI , incluidos arreglos y multas, 
                                impacto la pérdida de reputación</li>
                            <li>Número de problemas de no conformidad relativos a TI de los que se 
                                ha informado al consejo de administración o que han causado comentarios 
                                o bochomo públicos</li>
                            <li>Número de problemas de no conformidad con respecto a acuerdos 
                                contractuales con proveedores de servicios de TI</li>
                            <li>Cobertura de las evaluaciones de conformidad</li>
                        </ul>

                    </th>
                </tr>
        <tbody>
            <tr>
                <th class="texto">
                    04 Riesgos de negocio relacionados con las TI gestionados
                </th>
                <th class="texto">
                    <ul>
                        <li>Porcentaje de procesos de negocio críticos, servicios TI y programas de negocio
                            habilitados por las TI
                            cubiertos por evaluaciones de riesgos</li>
                        <li>Número de incidentes significativos relacionados con las Ti que no fueron identificados
                            en la
                            evaluación de riesgos</li>
                        <li>Porcentaje de evaluaciones de riesgo de la empresa que incluyen los riesgos relacionados
                            con TI</li>
                        <li>Frecuencia de actualización del perfil de riesgo</li>
                    </ul>

                </th>
            </tr>

            <tbody>
                <tr>
                    <th class="texto">
                        10 Seguridad de la información, infraestructura de procesamiento y aplicaciones
                    </th>
                    <th class="texto">
                        <ul>
                            <li>Número de incidentes de seguridad causantes de pérdidas financieras 
                                interrupciones del negocio o pérdida de imagen pública</li>
                            <li>Número de servicios de TI con los requisitos de seguridad pendientes</li>
                            <li>Tiempo para otorgar, modificar y eliminar los privilegios de acceso, 
                                comparado con los niveles de servicio acordados</li>
                            <li>Frecuencia de la evaluación de seguridad frente a los últimos estándares y guías</li>
                        </ul>

                    </th>
                </tr>

            
            <tr>
                <th colspan="5">Objetivos y Métricas del proceso</th>
            </tr>
            <tr class="fondo">
                <th>Meta del Proceso</th>
                <th>Métricas relacionales</th>
            </tr>

            <tr>
                <th class="texto">1. La seguridad de las redes y las comunicaciones cumple con 
                    las necesidades del negocio.
                </th>
                <th class="texto">
                    <ul>
                        <li>Número de vulnerabilidades descubiertas
                        </li>
                        <li>Número de rupturas (breaches) de cortafuegos</li>
                    </ul>
                </th>
            </tr>
            <tr>
                <th class="texto">2. La información procesada, almacenada y transmitida en los 
                    dispositivos de usuario final está protegida.
                </th>
                <th class="texto">
                    <ul>
                        <li>Porcentaje de individuos que reciben formación de concienciación 
                            relativa al uso de dispositivos de usuario final
                        </li>
                        <li>Número de incidentes que impliquen dispositivos de usuario final</li>
                        <li>Número de dispositivos de usuario final no autorizados detectados 
                            en red o en el entorno</li>
                    </ul>
                </th>
            </tr>
            <tr>
                <th class="texto">3. Todos los usuarios están identificados de manera única y tienen 
                    derechos de acceso de acuerdo con sus roles en el negocio.
                </th>
                <th class="texto">
                    <ul>
                        <li>Promedio de tiempo entre los cambios y actualizaciones de cuentas
                        </li>
                        <li>Número de cuentas (con respecto al número de usuarios/empleados autorizados)</li>
                    </ul>
                </th>
            </tr>
            <tr>
                <th class="texto">4. Se han implantado medidas fisicas para proteger la información 
                    de accesos no autorizados, daños e interferencias mientras es procesada, 
                    almacenada o transmitida.
                </th>
                <th class="texto">
                    <ul>
                        <li>Porcentaje de pruebas periódicas de los dispositivos de seguridad del entorno
                        </li>
                        <li>Clasificación media para las evaluaciones de seguridad física</li>
                        <li>Número de incidentes relacionados con seguridad física</li>
                    </ul>
                </th>
            </tr>
            <tr>
                <th class="texto">5. La información electrónica tiene las medidas de seguridad 
                    apropiadas mientras está almacenada, transmitida o destruida.
                </th>
                <th class="texto">
                    <ul>
                        <li>Número de incidentes relacionados con accesos no autorizados a la información</li>
                    </ul>
                </th>
            </tr>
        </tbody>
    </table>
</div>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">DSS05</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/listraci05">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla2">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla3">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla4">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla5">6</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla6">7</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla7">8</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla8">9</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla9">10</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
      
    </ul>
  </nav><br>
