<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>localhost4200</title>

</head>


<body>
  <div class="tabla3">
    <table class="table table-bordered">
     <thead>
       <tr>
         <th class="azultabla1" colspan="6"><a href="edm02tabla1">EDMO2</a> Prácticas, Entradas/Salidas y Actividades del Proceso (cont.)</th>
       </tr>
     </thead>
     <tbody>
       <tr>
         <th class="celestetabla1" colspan="2">Prácticas de gobierno</th>
         <th class="celestetabla1" colspan="2">Entradas</th>
         <th class="celestetabla1" colspan="2">Salidas</th>
       </tr>
       <tr>
         <td rowspan="3" colspan="2"><a href="edm02tabla1">EDMO2.02</a> Orientar la optimización del valor. Orientar los principios y las prácticas de gestión 
           de valor para posibilitar la realización del valor óptimo de las inversiones Tl a lo largo de todo su ciclo de vida 
           económico.</td>
           <th colspan="1">De</th>
           <th colspan="1">Descripción</th>
           <th colspan="1">Descripción</th>
           <th colspan="1">A</th>
       </tr>
       <tr>
         <td rowspan="2" colspan="1"></td>
         <td rowspan="2" colspan="1"></td>
         <td rowspan="1" colspan="1">Tipos de inversiones y criterios</td>
         <td rowspan="1" colspan="1"><a href="pagina73">APO05.01</a><a href="pagina73">APO05.03</a></td>
       </tr>
       <tr>
         <td rowspan="1" colspan="1">Requerimientos para las revisiones de cambio de fase (stage-gate)</td>
         <td rowspan="1" colspan="1"> <p><a href="pagina119">BAI01.01</a></p>
       </tr>
       <tr>
         <th colspan="6" class="celestetabla1" >Actividades</th>
       </tr>
       <tr>
         <td colspan="6">1. Definir y comunicar la cartera y los tipos de inversión, categorías, criterios y ponderaciones relativas 
          a los criterios que permitan puntuaciones de valores relativos.</td>
       </tr>
       <tr>
         <td colspan="6">2. Definir los requerimientos para los cambios de fase (stage-gate) y otras revisiones por la importancia de la
          inversión para la empresa y el riesgo asociado, cronograma del programa, planes de financiación y la entrega de capacidades 
          clave y beneficios y la contribución continuada al valor. </td>
       </tr>
       <tr>
         <td colspan="6">3. Orientar a la dirección para considerar usos potenciales de Tl innovadoras que posibiliten que la empresa 
          responda a nuevas oportunidades y desafíos, lleve a cabo nuevos negocios, incremente la competitividad o mejore sus procesos.</td>
       </tr>
       <tr>
         <td colspan="6"> 4. Orientar los cambios necesarios en la asignación de imputaciones y responsabilidades en la ejecución del 
          portafolio de inversiones y la entrega de valor a partir de los servicios y procesos de negocio.  </td>
       </tr>
       <tr>
         <td colspan="6">5. Definir y comunicar a nivel de empresa los objetivos de entrega de valor y las medidas de resultados para 
          permitir un control eficaz. </td>
       </tr>
       <tr>
         <td colspan="6"> 6. Orientar los cambios necesarios en la cartera de inversiones y servicios para realinearlos con los objetivos 
          de la empresa actuales y esperados y/o sus limitaciones. </td>
       </tr>
       <tr>
         <td colspan="6">7. Recomendar la consideración de innovaciones potenciales, cambios organizativos o mejoras operativas que desde
          las iniciativas TI pudieran impulsar un incremento de valor para la empresa.</td>
       </tr>
       <tr>
         <th class="celestetabla1" colspan="2">Práctica de Gobierno</th>
         <th class="celestetabla1" colspan="2">Entradas</th>
         <th class="celestetabla1" colspan="2">Salidas</th>
       </tr>
       <tr>
        <td rowspan="3" colspan="2"><a href="edm02tabla1">EDMO2.03</a> Supervisar la optimización de valor. Supervisar los indicadores clave y sus métricas para 
          determinar el grado en que el negocio está generando el valor y los beneficios previstos de los servicios e inversiones TI. 
          Identificar los problemas significativos y considerar las acciones correctivas.</td>
          <th colspan="1">De</th>
          <th colspan="1">Descripción</th>
          <th colspan="1">Descripción</th>
          <th colspan="1">A</th>
      </tr>
      <tr>
        <td rowspan="2" colspan="1"></td>
        <td rowspan="2" colspan="1"></td>
        <td rowspan="1" colspan="1">Tipos de inversiones y criterios</td>
        <td rowspan="1" colspan="1">
          <p><a href="pagina73">APO05.01</a><p>
          <p><a href="pagina73">APO05.03</a></p></td>
      </tr>
      <tr>
        <td rowspan="1" colspan="1">Requerimientos para las revisiones de cambio de fase (stage-gate)</td>
        <td rowspan="1" colspan="1"> <p><a href="pagina119">BAI01.01</a></p>
      </tr>
      <tr>
         <th class="celestetabla1" colspan="6">Actividades</th>
       </tr>
       <tr>
         <td colspan="6">1. Definir un conjunto equilibrado de objetivos de desempeño, métricas, metas y puntos de referencia. Las 
          métricas deberían cubrir la actividad y la medida de resultados, incluyendo los indicadores de retardo y de avance de los 
          resultados, así como un equilibrio adecuado de las medidas financieras y no financieras. Revisarlos y acordarlos con las 
          funciones de Tl y de negocio, y otras partes interesadas relevantes.</td>
       </tr>
       <tr>
         <td colspan="6"> 2. Recoger los datos pertinentes, oportunos, completos, fiables y precisos para informar sobre los avances en 
          la entrega de valor respecto a los objetivos. Obtener una sucinta, de alto nivel, completa vista de la cartera, programa y 
          desempeño TI (capacidades técnicas y operativas) que soporten la toma de decisiones y aseguren que los resultados esperados 
          se están logrando.</td>
       </tr>
       <tr>
         <td colspan="6">3. Conseguir informes habituales y relevantes de la cartera, programa y desempeño de TI (tecnológico y funcional). 
          Revisar el progreso de la empresa hacia los objetivos identificados y el grado en el que los objetivos previstos son alcanzados,
          los entregables obtenidos, los objetivos de rendimiento alcanzados y el riesgo mitigado. </td>
       </tr>
       <tr>
         <td colspan="6">4. Tras la revisión de los informes, tomar las medidas de gestión apropiadas según sea necesario para asegurar 
          que el valor sea optimizado. </td>
       </tr>
       <tr>
         <td colspan="6">5. Tras la revisión de los informes, asegúrese de que las medidas correctivas apropiadas son iniciadas y controladas.</td>
       </tr>
     </tbody>
   </table>
 </div>
</body>

</html>

<br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="home">EDM02</a></li>
      <li class="page-item"><a class="page-link" href="edm02tabla1">1</a></li>
      <li class="page-item"><a class="page-link" href="listar-second">2</a></li>
      <li class="page-item"><a class="page-link" href="edm02tabla3">3</a></li>
      <li class="page-item"><a class="page-link" href="edm02tabla4">4</a></li>
      <li class="page-item"><a class="page-link" href="edm02tabla5">5</a></li>
      <li class="page-item"><a class="page-link" href="edm02tabla5">Next</a></li>
      
    </ul>
  </nav><br>


