<table class="container" style="width: 85%; margin: 0 auto;">
    <thead>
              <tr>
                <td class="azultabla1" colspan="6"><b>BAI06 Practicas, Entradas/Salidas y Actividades del Proceso</b> </td>
              </tr>
    <th class="celeste2tabla1">
        Práctica de Gestión
    </th>
    <th colspan="2" class="celeste2tabla1">
        Entradas
    </th>
    <th colspan="2" class="celeste2tabla1">
        Salidas
    </th>
    </thead>
    <tr>
        <td rowspan="5"> <strong> BAI06.03 Hacer seguimiento e informar de cambios <br>
            de estado</strong>  <br>       
            Mantener un sistema de seguimiento e informe que <br>
            documente los cambios rechazados, comunique <br>
            el estado de cambios aprobados y en proceso y de <br>
            cambios completados. Asegurar que los cambios <br>
            aprobados son implementados como esté previsto.
            </td>
        <th>De</th>
        <th>Descripción</th>
        <th>Descripción</th>
        <th>A</th>
    </tr>
    <tr>
        <td><a routerLink="/pagina138">BAI03.09</a></td>
        <td>Registro de todas las peticiones <br> de cambio aprobadas, y aplicadas</td>
        <td>Reporte del estado de <br> cambio de una petición</td>
        <td><a routerLink="/pagina123">BAI01.06</a> <br><a routerLink="/pagina122">BAI01.03</a>  </td>
    </tr>
</table>
<table class="container" style="width: 85%; margin: 0 auto;">
    <thead >
    <tr>
        <td class="celeste2tabla1" align="center"><b>Actividades</b>  </td>
    </tr>
    </thead>
    <tr>
        <td>1. Categorizar las peticiones de cambio en el proceso de seguimiento (ej. rechazados, aprovados pero aún no iniciados, aprobados y en proceso y 
            cerrados ).
            </td>
    </tr>
    <tr>
        <td>2.Elaborar informes de cambios de estado que incluyan métricas de rendimiento para facilitar la revisión y el seguimiento de la Dirección del detalle del 
            estado de los cambios y del estado global (ej.análisis de antiguedad de las peticiones de cambio). Asegurar que los informes de estado sirven como 
            pista de auditoría, de forma que pueda seguirse el historial de un cambio desde su concepción hasta su cierre.
            </td>
    </tr>
    <tr>
        <td>3.Supervisar los cambios abiertos para asegurar que los cambios aprobados son cerrados en los plazos previstos, de acuerdo a su prioridad.
            </td>
    </tr>
    <tr>
        <td>4. Mantener un sistema de seguimiento e informe para todas las peticiones de cambio.</td>
    </tr>
</table>
<table class="container" style="width: 85%; margin: 0 auto;">
    <thead>
        
            
    <th class="celeste2tabla1">
        Práctica de Gestión
    </th>
    <th colspan="2" class="celeste2tabla1">
        Entradas
    </th>
    <th colspan="2" class="celeste2tabla1">
        Salidas
    </th>
    </thead>
    <tr>
        <td rowspan="7"> <strong> BAI06.04 Cerrar y documentar los cambios.
            </strong>  <br>       
            Siempre que el cambio haya sido implementado, <br>
            actualizar, de mantera consecuente la documentación de <br>
            la solución y del usuario, así como los procedimientos a <br>
            los que afecta el cambio. 
            </td>
        <th>De</th>
        <th>Descripción</th>
        <th>Descripción</th>
        <th>A</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>Documentación del cambio</td>
        <td>Interno</td>
    </tr>
</table>
<table class="container" style="width: 85%; margin: 0 auto;">
    <thead >
    <tr>
        <td class="celeste2tabla1" align="center" ><b>Actividades</b></td>
    </tr>
    </thead>
    <tr>
        <td>1. Incluir los cambios en la documentación (ej. procedimientos de negocio y operativos de TI, documentación de continuidad de negocio y de recuperación 
            frente a desastres, información de configuración, documentación de la aplicación, pantallas de ayuda y material de formación ) en el procedimiento de 
            gestión de cambio como parte integral del cambio.
            </td>
    </tr>
    <tr>
        <td>2.Definir un periódo apropiado de conservación de la documentación de cambio, la documentación del sistema antes y después del cambio y la 
            documentación del usuario.
            </td>
    </tr>
    <tr>
        <td>3.Someter a la documentación a la misma revisión que al cambio en sí mismo.
            </td>
    </tr>

</table>
<br>
<table class="table table-bordered" class="container" style="width: 87%; margin: 0 auto;">
    <thead>
        <tr>
            <th class="azultabla1" colspan="6">BAI06 Guias Relacionada</th>
        </tr>
    </thead>
    <tr>
        <th style="width: 20%;">Estándares Relacionados</th>
        <th style="width: 60%;">Referencias Detalladas</th>
    </tr>
    <tr>
        <td style="width: 20%;"> ISO/IEC 20000</td>
        <td style="width: 60%;">9.2 Gestión de cambios</td>
    </tr>
    <tr>
        <td style="width: 20%;"> ITIL V3 2011</td>
        <td style="width: 60%;">1.3 Gestión de cambios</td>
    </tr>
    </table>
<br>

<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/pagina149">BAI06</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina150">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina151">2</a></li>
      
      
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
      
    </ul>
  </nav><br>
