<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="container" style="width: 85%; margin: 0 auto;">
        <thead>
            <tr>
                <th class="azultabla1" colspan="6">BAI01 Prácticas, Entradas/Salidas y Actividades del Proceso (cont.)</th>
            </tr>
        </thead>
        <tr>
            <tr>
                <td class="celeste2tabla1" colspan="6" align="center"><b> BAI01.06 Actividades</b>
                </td>
            </tr>
        <tr>
            <td colspan="6">1. Supervisar y controlar el rendimiento del programa general y de los proyectos dentro del programa, incluyendo la contribución al negocio y a TI de los
                proyectos, e informar de una manera oportuna, complete y veraz. Los informes pueden incluir cronogramas, financiación, funcionalidad, satisfacción 
                del usuario, controles internos y aceptación de responsabilidades. 
            </td>
        </tr>
        <tr>
            <td colspan="6">2. Supervisar y controlar el desempeño versus las estrategias y metas de la organización y TI e informar a la dirección de la organización de los cambios 
                implementados, los beneficios logrados versus el plan y la idoneidad del proceso de obtención de beneficios. 
            </td>
        </tr>
        <tr>
            <td colspan="6">3. Supervisar y controlar los servicios, activos y recursos de TI creados o modificados como resultados del programa. Verificar las fechas de 
                implementación y puesta en servicios. Informar a la dirección de los niveles de rendimiento, entrega de servicios sostenido y contribución al valor.
            </td>
        </tr>
        <tr>
            <td colspan="6">4. Gestionar el desempeño del programa versus criterios claves (por ejemplo, alcance, planificación, calidad, obtención de beneficios, costes, riesgos, rapidez),
                identificar las desviaciones del plan y tomar oportunamente acciones correctivas cuando sean requeridas.
            </td>
        </tr>
        <tr>
            <td colspan="6">5. Supervisar el desempeño de proyectos individuales en relación a la entrega de unas esperadas capacidades, planificaciones, beneficios, costes, riesgos u 
                otras métricas para identificar impactos potenciales en el rendimiento del programa. Tomar acciones correctivas oportunas cuando sea requerido.  
            </td>
        </tr>
        <tr>
            <td colspan="6">6. Actualizar los portafolios operacionales de TI que reflejen los cambios que resultan de los programas en los portafolios relevantes de servicios, activos 
                y recursos de TI.
            </td>
        </tr>
        <tr>
            <td colspan="6">7. Realizar revisiones de acuerdo con los criterios de revisión de cambios de fase (stage-gate), de lanzamiento o de iteración para informar del progreso 
                para que la dirección puedan tomar decisiones de continuar/para o de ajuste y aprobar financiación adicional para el siguiente cambio
                de fase, lanzamiento iteración.  
            </td>
        </tr>
        <tr>
        </tr>
        <tbody>
            <tr>
                <th class="celeste2tabla1" colspan="2">Prácticas de Gestión</th>
                <th class="celeste2tabla1" colspan="2">Entradas</th>
                <th class="celeste2tabla1" colspan="2">Salidas</th>
            </tr>
            <tr>
                <td rowspan="4" colspan="2" class="texto"><b>BAI01.07 Lanzar e iniciar proyectos dentro de un programa.</b><br>
                    Definir y documentar la naturaleza y alcance del proyecto<br>
                    para confirmar y desarrollar entre las partes interesadas un<br>
                    entendimiento común o el alcance del proyecto y cómo se<br>
                    relaciona con otros proyectos dentro del programa general<br>
                    de inversiones de TI. La definición debería estar formalmente<br>
                    aprobada por el patrocinador del programa y del proyecto.
                <th colspan="1">De</th>
                <th colspan="1">Descripción</th>
                <th colspan="1" rowspan="2">Descripción</th>
                <th colspan="1" rowspan="2">A</th>
            </tr>
            <tr>
                <td rowspan="4"></td>
                <td rowspan="4"></td>
            </tr>
            <tr>
                <td colspan="1">Declaraciones de alcance de<br>proyecto </td>
                <td colspan="1">Interno<br></td>
            </tr>
            <tr>
                <td colspan="1">Definiciones del proyecto</td>
                <td colspan="1"> Interno</td>
            </tr>
            <tr>
            <tr>
                <td class="celeste2tabla1"  colspan="6" align="center"><b>Actividades</b>
                </td>
            </tr>
            <tr>
                <td colspan="6">1. Crear un entendimiento común del alcance del proyecto entre las partes interesadas, proveer a las partes interesadas de una declaración clara y por
                    escrito que defina la naturaleza, alcance y beneficio de cada proyecto. 
                </td>
            </tr>
            <tr>
                <td colspan="6">2.Asegurar que cada proyecto tenga uno o mas patrocinadores con suficiente autoridad para gestionar la ejecución del proyecto dentro los programas generales.
                </td>
            </tr>
            <tr>
                <td colspan="6">3.Asegurar que las partes interesadas y patrocinadores claves dentro de la organización y TI estén de acuerdo y acepten los requerimientos de los 
                    proyectos, incluyendo la definición del criterio de éxito del proyecto (aceptación) y los indicadores claves de desempeño (KPIs). 
                </td>
            </tr>
            <tr>
                <td colspan="6">4.Asegurar que la definición del proyecto describa los requerimientos para el plan de comunicación del proyecto que identifique las comunicaciones del 
                    proyecto, tanto internas como extrernas.
                </td>
            </tr>
            <tr>
                <td colspan="6">5. Con la aprobación de las partes interesadas, mantener una definición del proyecto durante de la vida del proyecto que refleje los cambios en los requerimientos.
                </td>
            </tr>
            <tr>
                <td colspan="6">6.Hacer un seguimiento de la ejecución del proyecto, poniendo mecanismos tales como informes regulares y revisiones de cambios de estado (stage-gate),
                    lanzamientos o fases de una manera oportuna y con una aprobación adecuada. 
                </td>
            </tr>
            <tr>
            </tr>
        <tbody>
            <tr>
                <th class="celeste2tabla1"  colspan="2">Prácticas de Gestión</th>
                <th class="celeste2tabla1"  colspan="2">Entradas</th>
                <th class="celeste2tabla1"  colspan="2">Salidas</th>
            </tr>
            <tr>
                <td rowspan="5" colspan="2" class="texto"><b>BAI01.08 Planificar proyectos.</b><br>
                    Establecer y mantener un plan del proyecto formal, aprobado<br>
                    e integrado (que cubra los recursos del negocio y de TI),<br>
                    para guiar la ejecución del proyecto y controlarlo durante toda su<br>
                    vida. El alcance de los proyectos debería estar claramente<br>
                    definido y vinculado claramente a la construcción o aumento de la capacidad de negocio. 
                <th colspan="1">De</th>
                <th colspan="1">Descripción</th>
                <th colspan="1">Descripción</th>
                <th colspan="1">A</th>
            </tr>
            <tr>
                <td rowspan="4" class="texto"><a href="/pagina155">BAI07-03</a></td>
                <td rowspan="4" class="texto">Plan aprobado de<br>aceptación de pruebas </td>
                <td rowspan="1">Planes del proyecto</td>
                <td rowspan="1">Interno</td>
            </tr>
            <tr>
                <td rowspan="1">Línea de referencia <br> del proyecto</td>
                <td rowspan="1">Interno</td>
            </tr>
            <tr>
    
                <td rowspan="1">Informes y comunicaciones del <br>proyecto</td>
                <td rowspan="1">Interno</td>
            </tr>
            <tr>
            <tr>
                <td class="celeste2tabla1" colspan="6" align="center"><b>Actividades</b> 
                </td>
            </tr>
            <tr>
                <td colspan="6">1.Desarrollar un plan de proyecto que provea información que permita a la dirección controlar el progreso del proyecto progresivamente. El plan debería
                    incluir detalles de los entregables del proyecto y criterios de aceptación, recursos y responsabilidades requeridas interna y externamente, estructuras
                    claras de división de trabajo y paquetes de tareas, estimaciones de recursos necesarios, hitos/planes de lanzamiento/fases, dependencias claves y la
                    identificación del camino crítico (critical path). 
                </td>
            </tr>
            <tr>
                <td colspan="6">2.Mantener el plan del proyecto y cualquier plan dependiente (por ejemplo plan de riesgo, plan de calidad, plan de obtención de beneficios)para asegurar 
                    que están actualizados y reflejan su progreso real y los cambios materiales aprobados.
                </td>
            </tr>
            <tr>
                <td colspan="6">3.Asegurar que existe una comunicación efectiva de los planes del proyecto y los informes del progreso dentro de todos los proyectos y dentro del
                    programa general. Asegurar que los cambios hechos a planes individuales son reflejados en otros planes.
                </td>
            </tr>
            <tr>
                <td colspan="6">4.Determinar las actividades, interpretaciones, colaboración necesaria y comunicación dentro los múltiples proyectos en el programa.
                </td>
            </tr>
            <tr>
                <td colspan="6">5.Asegurarse que cada hito es acompañado por un entregable significativo que requiere revisión y aprobación.
                </td>
            </tr>
            <tr>
                <td colspan="6">6.Establecer un marco base del proyecto (por ejemplo, coste, cronograma, alcance, calidad) que es debidamente revisado, aprobado e incorporado en el plan de proyectos integrado. 
                </td>
            </tr>
    </table>
</body>
</html><br>

<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="pagina119" >BAI01 </a></li>
      <li class="page-item"><a class="page-link" href="listar-tablauno" >1</a></li>
      <li class="page-item"><a class="page-link" href="pagina121" >2</a></li>
      <li class="page-item"><a class="page-link" href="pagina122" >3</a></li>
      <li class="page-item"><a class="page-link" href="pagina123" >4</a></li>
      <li class="page-item"><a class="page-link" href="pagina124" >5</a></li>
      <li class="page-item"><a class="page-link" href="pagina125" >6</a></li>
      <li class="page-item"><a class="page-link" href="pagina126" >7</a></li>
      <li class="page-item"><a class="page-link" href="pagina127" >8</a></li>
      <li class="page-item"><a class="page-link" href="pagina129">Continua BAIO2</a></li>
      
    </ul>
  </nav><br>