<div >
    <table *ngIf="listRacicabe05.length > 0" class="table  table-hover  " >
        <thead   >
          <tr id="head_10">
            <th colspan="29" class="matriz">Cuadro raci DSS05</th>
          </tr>
        </thead>
  
        <!-- -----------------------cabecera------------------------ -->
  
        <tbody >
         
          <tr *ngFor="let racicabe05 of listRacicabe05" class="segundoo">
            
            <td class="verticaHorizontalt">Práctica Clave de Gobierno</td>
        
            <td class="verticalText">{{ racicabe05.gestion1}}</td>
            <td class="verticalText">{{ racicabe05.gestion2}}</td>
            <td class="verticalText">{{ racicabe05.gestion3}}</td>
            <td class="verticalText">{{ racicabe05.gestion4}}</td>
            <td class="verticalText">{{ racicabe05.gestion5}}</td>
            <td class="verticalText">{{ racicabe05.gestion6}}</td>
            <td class="verticalText">{{ racicabe05.gestion7}}</td>
            <td class="verticalText">{{ racicabe05.gestion8}}</td>
            <td class="verticalText">{{ racicabe05.gestion9}}</td>
            <td class="verticalText">{{ racicabe05.gestion10}}</td>
            <td class="verticalText">{{ racicabe05.gestion11}}</td>
            <td class="verticalText">{{ racicabe05.gestion12}}</td>
            <td class="verticalText">{{ racicabe05.gestion13}}</td>
            <td class="verticalText">{{ racicabe05.gestion14}}</td>
            <td class="verticalText">{{ racicabe05.gestion15}}</td>
            <td class="verticalText">{{ racicabe05.gestion16}}</td>
            <td class="verticalText">{{ racicabe05.gestion17}}</td>
            <td class="verticalText">{{ racicabe05.gestion18}}</td>
            <td class="verticalText">{{ racicabe05.gestion19}}</td>
            <td class="verticalText">{{ racicabe05.gestion20}}</td>
            <td class="verticalText">{{ racicabe05.gestion21}}</td>
            <td class="verticalText">{{ racicabe05.gestion22}}</td>
            <td class="verticalText">{{ racicabe05.gestion23}}</td>
            <td class="verticalText">{{ racicabe05.gestion24}}</td>
            <td class="verticalText">{{ racicabe05.gestion25}}</td>
            <td class="verticalText">{{ racicabe05.gestion26}}</td>
        
            <td>
              <i [routerLink]="['/editar-racicabe05', racicabe05._id]"  class="fa-solid fa-pen-to-square  ed" ></i>
              <i (click)="eliminarRacicabe05(racicabe05._id)" class="fa-solid fa-trash  el"></i>
            </td>
          </tr>
        </tbody>
  
  
         <tbody>
          <tr *ngFor="let raci05 of listRaci05" class="segundoo">
           
            <td class="segundo">{{ raci05.dss}}</td>
            <td class="segundo">{{ raci05.dss1}}</td>
              <td class="segundo">{{ raci05.dss2}}</td>
              <td class="segundo">{{ raci05.dss3}}</td>
              <td class="segundo">{{ raci05.dss4}}</td>
              <td class="segundo">{{ raci05.dss5}}</td>
              <td class="segundo">{{ raci05.dss6}}</td>
              <td class="segundo">{{ raci05.dss7}}</td>
              <td class="segundo">{{ raci05.dss8}}</td>
              <td class="segundo">{{ raci05.dss9}}</td>
              <td class="segundo">{{ raci05.dss10}}</td>
              <td class="segundo">{{ raci05.dss11}}</td>
              <td class="segundo">{{ raci05.dss12}}</td>
              <td class="segundo">{{ raci05.dss13}}</td>
              <td class="segundo">{{ raci05.dss14}}</td>
              <td class="segundo">{{ raci05.dss15}}</td>
              <td class="segundo">{{ raci05.dss16}}</td>
              <td class="segundo">{{ raci05.dss17}}</td>
              <td class="segundo">{{ raci05.dss18}}</td>
              <td class="segundo">{{ raci05.dss19}}</td>
              <td class="segundo">{{ raci05.dss20}}</td>
              <td class="segundo">{{ raci05.dss21}}</td>
              <td class="segundo">{{ raci05.dss22}}</td>
              <td class="segundo">{{ raci05.dss23}}</td>
              <td class="segundo">{{ raci05.dss24}}</td>
              <td class="segundo">{{ raci05.dss25}}</td>
              <td class="segundo">{{ raci05.dss26}}</td>
             
              <td>
                <i [routerLink]="['/editar-raci05', raci05._id]"   class="fa-solid fa-pen-to-square  ed"></i>
                <i (click)="eliminarRaci05(raci05._id)" class="fa-solid fa-trash  el"></i>
            </td>
          </tr>
        </tbody>
  
      </table>
      <h5 *ngIf="listRacicabe05.length == 0" >No hay Matriz para mostrar</h5>
  </div> 
  <br>
  <br>
  

  <div class="d-grid gap-2 col-3 mx-auto">
    <button routerLink="/racicabe05" class="btn btn-primary">Nuevo cabecera raci</button> 
  <button routerLink="/raci05" class="btn btn-primary">Nuevo tabla raci</button>
    
  </div><br>
  
  <nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">DSS05</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/listraci05">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla2">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla3">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla4">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla5">6</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla6">7</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla7">8</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla8">9</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla9">10</a></li>
      <li class="page-item"><a class="page-link" href="/dsso5tabla2">Next</a></li>
      
    </ul>
  </nav><br>
