<!DOCTYPE html>
<html lang="en">
    

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>localhost4200</title>

</head>
<body>
    <h1  style="color: rgb(255, 255, 255); font-size: 25px; text-align: center;" >CONTENIDOS DE LA GUIA DE REFERENCIA DE PROCESOS DE COBIT 5 </h1>
    <table class="container" style="width: 87%; margin: 0 auto;">
        <tr>
            <th class="azultabla1" style="width: 50%;">BAI08 Gestionar el Conocimiento</th>
            <th class="azultabla1" style="width: 50%;">Area: Gestión<br>
                Dominio: Construir, Adquirir e Implementar</th>
        </tr>
        <tr>
            <td colspan="2"><b>Descripción del proceso</b> <br>
                Mantener la disponibilidad de conocimiento relevante, actual, validado y fiable para dar soporte a todas las actividades de los procesos y facilitar la toma de decisiones. Planificar la identificacion, recopilación, organización, mantenimiento, uso y retirada de conocimiento.</td>
        </tr>
        <tr>
            <td colspan="2"><b>Declaración de Proposito del Proceso</b> <br>
                Proporcionar el conocimiento necesario para dar soporte a todo el personal en sus actividades laborales, para la toma de decisiones bien fundadas y para aumentar la productividad.</td>
        </tr>
        <tr>
            <th class="celeste2tabla1"  colspan="2">El proceso apoya la consecución de un conjuno de principales metas TI:</th>
        </tr>
        <tr>
            <th class="celeste2tabla1"  style="width: 50%;">Meta TI</th>
            <th class="celeste2tabla1"  style="width: 50%;">Métricas Relacionadas</th>
        </tr>
        <tr>
            <td colspan="1" class="texto">09 Agilidad de las TI</td>
            <td colspan="1">•Nivel de satisfacción de los ejecutivos de la empresa con la capacidad de <br> respuesta de TI a nuevos requerimientos<br>
                •Numero de procesos de negocios criticos soportados por infraestructuras <br> y aplicaciones actualizadas <br>
                •Tiempo medio para convertir los objetivos estratègicos de TI en una <br> iniciativa acordada y aprobada.
            </td>
        </tr>
        <tr>
            <td colspan="1" class="texto">17 Conocimiento, experiencia e iniciativas para la innovación de negocio</td>
            <td colspan="1">•Nivel de concienciación y comprensión de las posibilidades de <br> innovación de TI del negocio ejecutivo <br>
                •Nivel de satisfaccion de las partes interesadas con los niveles de experiencia e ideas de la innovacion TI <br>
                •Numero de iniciativas aprobadas resultantes de ideas innovadoras de TI
            </td>
        </tr>
        <tr>
            <th class="celeste2tabla1"  colspan="2">Objetivos y Métricas del Poceso</th>
        </tr>
        <tr>
            <th class="celeste2tabla1"  style="width: 50%;">Meta del Proceso</th>
            <th class="celeste2tabla1"  style="width: 50%;">Métricas Relacionadas</th>
        </tr>
        <tr>
            <td colspan="1">1. Las Fuentes de información son identificadas y clasificadas<br>
            </td>
            <td colspan="1">•cubierto de categorias de información<br>
                •Volumen de informacion calisificado <br>
                •Porcentaje de informacion categorizada que ha sido validada<br>
            </td>
        </tr>
        <tr>
            <td colspan="1">2. El conocimiento es utilizado y compartido.<br>
            </td>
            <td colspan="1">•Porcentaje de conocimiento disponible utilizado realmente <br>
                •Numero de usuarios formados en el uso y compartición de conocimiento
            </td>
        <tr>
            <td colspan="1">3. La compartición de conocimiento està integrada en la cultura de la empresa.
            </td>
            <td colspan="1">•Nivel de satisfacción de los usuarios <br>
                •Porcentaje del repositorio de conocimiento utilizado
            </td>
        </tr>
        <tr>
            <td colspan="1">4. El conocimiento es actualizado y mejorado para dar soporte a los requisitos.
            </td>
            <td colspan="1">•Frecuencia de actualización
            </td>
        </tr>
        <tr>
    </table> <br> <br>

    <app-listar-tablaocho></app-listar-tablaocho>

<br>
</body>
</html>
<br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">BAI08</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina159">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina160">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina161">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>  
    </ul>
</nav><br>