<div>
    <span class="d-grid gap-2 col-4  mx-auto ">{{title}}</span>
    <form [formGroup]="apo013tituloForm" class="container bg-light bc row row-cols-1 row-cols-lg-4 g-1 g-lg-2" style="height: 10px;" style="width: 60%;" style="margin: 30px   190px;" (ngSubmit)="agregarApo013titulo()">
        <div class="form-group">
            <input type="text" formControlName="apo013titulo1" class="form-control" placeholder="apo013titulo1">
            <div class="validacion"
               *ngIf="apo013tituloForm.get('apo013titulo1')?.hasError('required') && apo013tituloForm.get('apo013titulo1')?.touched">
               <span>Este campo<b> es obligatorio</b></span>
            </div>  
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo013titulo2" class="form-control" placeholder="apo013titulo2">
            <div class="validacion"
                *ngIf="apo013tituloForm.get('apo013titulo2')?.hasError('required') && apo013tituloForm.get('apo013titulo2')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>  
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo013titulo3" class="form-control" placeholder="apo013titulo3">
            <div class="validacion"
                *ngIf="apo013tituloForm.get('apo013titulo3')?.hasError('required') && apo013tituloForm.get('apo013titulo3')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>  
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo013titulo4" class="form-control" placeholder="apo013titulo4">
            <div class="validacion"
                 *ngIf="apo013tituloForm.get('apo013titulo4')?.hasError('required') && apo013tituloForm.get('apo013titulo4')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo013titulo5" class="form-control" placeholder="apo013titulo5">
            <div class="validacion"
                 *ngIf="apo013tituloForm.get('apo013titulo5')?.hasError('required') && apo013tituloForm.get('apo013titulo5')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo013titulo6" class="form-control" placeholder="apo013titulo6">
            <div class="validacion"
                 *ngIf="apo013tituloForm.get('apo013titulo6')?.hasError('required') && apo013tituloForm.get('apo013titulo6')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo013titulo7" class="form-control" placeholder="apo013titulo7">
            <div class="validacion"
                 *ngIf="apo013tituloForm.get('apo013titulo13')?.hasError('required') && apo013tituloForm.get('apo013titulo7')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo013titulo8" class="form-control" placeholder="apo013titulo8">
            <div class="validacion"
                 *ngIf="apo013tituloForm.get('apo013titulo8')?.hasError('required') && apo013tituloForm.get('apo013titulo8')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo013titulo9" class="form-control" placeholder="apo013titulo9">
            <div class="validacion"
                 *ngIf="apo013tituloForm.get('apo013titulo9')?.hasError('required') && apo013tituloForm.get('apo013titulo9')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo013titulo10" class="form-control" placeholder="apo013titulo10">
            <div class="validacion"
                 *ngIf="apo013tituloForm.get('apo013titulo10')?.hasError('required') && apo013tituloForm.get('apo013titulo10')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo013titulo11" class="form-control" placeholder="apo013titulo11">
            <div class="validacion"
                 *ngIf="apo013tituloForm.get('apo013titulo11')?.hasError('required') && apo013tituloForm.get('apo013titulo11')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo013titulo12" class="form-control" placeholder="apo013titulo12">
            <div class="validacion"
                 *ngIf="apo013tituloForm.get('apo013titulo12')?.hasError('required') && apo013tituloForm.get('apo013titulo12')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo013titulo13" class="form-control" placeholder="apo013titulo13">
            <div class="validacion"
                 *ngIf="apo013tituloForm.get('apo013titulo13')?.hasError('required') && apo013tituloForm.get('apo013titulo13')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo013titulo14" class="form-control" placeholder="apo013titulo14">
            <div class="validacion"
                 *ngIf="apo013tituloForm.get('apo013titulo14')?.hasError('required') && apo013tituloForm.get('apo013titulo14')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo013titulo15" class="form-control" placeholder="apo013titulo15">
            <div class="validacion"
                 *ngIf="apo013tituloForm.get('apo013titulo15')?.hasError('required') && apo013tituloForm.get('apo013titulo15')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo013titulo16" class="form-control" placeholder="apo013titulo16">
            <div class="validacion"
                 *ngIf="apo013tituloForm.get('apo013titulo16')?.hasError('required') && apo013tituloForm.get('apo013titulo16')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo013titulo17" class="form-control" placeholder="apo013titulo17">
            <div class="validacion"
                 *ngIf="apo013tituloForm.get('apo013titulo17')?.hasError('required') && apo013tituloForm.get('apo013titulo117')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo013titulo18" class="form-control" placeholder="apo013titulo18">
            <div class="validacion"
                 *ngIf="apo013tituloForm.get('apo013titulo18')?.hasError('required') && apo013tituloForm.get('apo013titulo18')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo013titulo19" class="form-control" placeholder="apo013titulo19">
            <div class="validacion"
                 *ngIf="apo013tituloForm.get('apo013titulo19')?.hasError('required') && apo013tituloForm.get('apo013titulo19')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo013titulo20" class="form-control" placeholder="apo013titulo20">
            <div class="validacion"
                 *ngIf="apo013tituloForm.get('apo013titulo20')?.hasError('required') && apo013tituloForm.get('apo013titulo20')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo013titulo21" class="form-control" placeholder="apo013titulo21">
            <div class="validacion"
                 *ngIf="apo013tituloForm.get('apo013titulo21')?.hasError('required') && apo013tituloForm.get('apo013titulo21')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo013titulo22" class="form-control" placeholder="apo013titulo22">
            <div class="validacion"
                 *ngIf="apo013tituloForm.get('apo013titulo22')?.hasError('required') && apo013tituloForm.get('apo013titulo22')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo013titulo23" class="form-control" placeholder="apo013titulo23">
            <div class="validacion"
                 *ngIf="apo013tituloForm.get('apo013titulo23')?.hasError('required') && apo013tituloForm.get('apo013titulo23')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo013titulo24" class="form-control" placeholder="apo013titulo24">
            <div class="validacion"
                 *ngIf="apo013tituloForm.get('apo013titulo24')?.hasError('required') && apo013tituloForm.get('apo013titulo24')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo013titulo25" class="form-control" placeholder="apo013titulo25">
            <div class="validacion"
                 *ngIf="apo013tituloForm.get('apo013titulo25')?.hasError('required') && apo013tituloForm.get('apo013titulo25')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo013titulo26" class="form-control" placeholder="apo013titulo26">
            <div class="validacion"
                 *ngIf="apo013tituloForm.get('apo013titulo213')?.hasError('required') && apo013tituloForm.get('apo013titulo26')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div><br>  
          <button routerLink="/Apo013raci" type="button" class="btn btn-secondary">Volver</button>  &nbsp;
          <button  type="button" class="btn btn-success" type="submit" [disabled]="apo013tituloForm.invalid">Aceptar</button><hr>
      </div><br>
    </form>
</div>





