<h1 style="color: rgb(255, 255, 255);">CONTENIDOS DE LA GUIA DE REFERENCIA DE PROCESOS DE COBIT 5 </h1>
<table class="container" style="width: 87%;">
    <tr>
        <th class="azultabla1" style="width: 50%;">BAI09 Gestionár los Activos</th>
        <th class="azultabla1" style="width: 50%;">Area: Administración<br>
            Dominio:Construir Adquirir e implementar</th>
    </tr>
    <tr>
        <td colspan="2" class="texto">Descripción  del Proceso<br>
            Gestionar los activos de TI a través de su ciclo de vida para asegurar que su uso aporta valor a un coste óptimo, que se mantendrán en funcionamiento <br>
            (acorde a los objetivos), que están justificados y protejidos fisicamente, y que los activos que son fundamentales para apoyar la capacidad del servicio <br>
            son fiables y están disponibles. Administrar las licencias de software para asegurar que se adquiere el número óptimo, se mantienen y despliegan en <br>
            relación con el uso necesario para el negocio y que el software instalado cumple con los acuerdos de licencia.
        </td>
    </tr>
    <tr>
        <td colspan="2" class="texto">Contabilización de todos los activos de TI y optimización del valor proporcionado por estos activos.<br>
          Posibilitar una entrega de los cambios rápida y fiable para el negicio, a la vez que se mitiga cualquier riesgo que impacte negativamente en la estabilidad e integridad del entorno en que se aplica el cambio.</td>
    </tr>
    <tr>
        <th class="celeste2tabla1" colspan="2">El proceso apoya la consecución de un conjunto de principales metas TI:</th>
    </tr>
    <tr>
        <th class="celeste2tabla1" style="width: 50%;">Meta TI</th>
        <th class="celeste2tabla1" style="width: 50%;">Métricas Relacionadas</th>
    </tr>
    <tr>
        <td colspan="1" class="texto">06 Transparencia de los costes, beneficios y riesgo de las TI</td>
        <td colspan="1" class="texto">•Porcentaje de inversión en casos de negocio con costes y beneficios <br>
            esperados relativos a TI claramente definidos y aprobados. <br>
            •Porcentaje de servicios TI con costes operativos y beneficios esperados <br>
            claramente definidos y aprobados.<br>
            •Encuesta de satisfacción a las partes interesadas clave  relativa al nivel <br>
            de transparencia, comprensión y precisión de la información financiera <br>
            de TI.
        </td>
    </tr>
    <tr>
        <td colspan="1" class="texto">11 Optimización de activos, recursos y capacidades de TI</td>
        <td colspan="1" class="texto">•Frecuencia de evaluaciones de la madurez de la capacidad y de la  <br>
            optimización de costes. <br>
            •Tendencia de los resultados de las evaluaciones.<br>
            
            •Niveles de satisfacción de los ejecutivosde negocio y TI con los costes y<br>
            capacidades TI.

        </td>
    </tr>
    <tr>
    <tr>
        <th class="celeste2tabla1"  colspan="2">Objetivos y Métricas del Poceso</th>
    </tr>
    <tr>
        <th class="celeste2tabla1" style="width: 50%;">Meta del Proceso</th>
        <th class="celeste2tabla1" style="width: 50%;">Métricas Relacionadas</th>
    </tr>
    <tr>
        <td colspan="1" class="texto">1.Las licencias cumplen y están alineadas con las necesidades del negocio <br>
            </td>
        <td colspan="1" class="texto">•Porcentaje de licencias usadas respecto  a licencias pagadas.<br>
        </td>
    </tr>
    <tr>
        <td colspan="1" class="texto">2.Los activos se mantienen en condiciones óptimas. <br>
        </td>
        <td colspan="1" class="texto">•Número de activos no utilizados.<br>
            •Comparativa de costes.
            •Número de activos obsoletos.
        </td>
    </tr>
</table>

<br>
<app-listar-bai09></app-listar-bai09>
<br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/pagina163">BAI09</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina164">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina165">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina166">3</a></li>
      
      
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
      
    </ul>
  </nav><br>
