<div>
    <span></span><button routerLink="/crear-producto">Nueva Cabecera</button><button routerLink="/crear-cabecera">Nuevo raci</button>
    
    <table  class="table table-dark">
        <thead>
          <tr id="Cabecera_1">
            <th colspan="50" class="matriz">Matriz RACI MEA01</th>
          </tr>
          
          
          <tr>
            <th  contenteditable="true"></th>
            <th  contenteditable="true" >1</th>
            <th  contenteditable="true" >2</th>
            <th  contenteditable="true" >3</th>
            <th  contenteditable="true" >4</th>
      
            
            <th></th>
         
            <td>
              
          </td>
          </tr>
        </thead>
        <tbody>
          <tr  class="segundoo">
            <th>Practica Clave de Gobierno</th>
            <td class="segundo" class="verticalText"></td>
            <td class="segundo" class="verticalText"></td>
            <td class="segundo" class="verticalText"></td>
            <td class="segundo" class="verticalText"></td>
   
            <td></td>
            <td>
                <i [routerLink]="['/editar-cabecera', ]" class="fa-solid fa-pen-to-square"></i>
                <i  class="fa-solid fa-trash"></i>
            </td>
          </tr>
        </tbody>