<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>localhost4200</title>

</head>


<body>
    <div class="table-responsive">
        <table class="table table-bordered">
         <thead>
           <tr>
             <th class="azultabla1" colspan="6">EDMO5 Prácticas, actividades y entradas/salidas del Proceso</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <th class="celestetabla1" colspan="2">Práctica de gobierno</th>
             <th class="celestetabla1" colspan="2">Entradas</th>
             <th class="celestetabla1" colspan="2">Salidas</th>
           </tr>
           <tr>
             <td rowspan="5" colspan="2"><a style="font-size: 1,5vw;" href="edm05tabla1">EDM05.01</a> Evaluar los requisitos de elaboración de informes de las partes interesadas. 
              Examinar y juzgar continuamente los requisitos actuales y futuros de comunicación con las partes interesadas y de la 
              elaboración de informes, incluyendo tanto los requisitos obligatorios (p.ej. de regulación) de elaboración de informes 
              como la comunicación a otros interesados. Establecer los principios de la comunicación.</td>
               <th colspan="1">De</th>
               <th colspan="1">Descripción</th>
               <th colspan="1">Descripción</th>
               <th colspan="1">A</th>
           </tr>
           <tr>
             <td colspan="1"><a href="edm02tabla1">EDMO2.03</a></td>
             <td colspan="1">Acciones dirigidas a Evaluación de los mejorar la entrega de valor </td>
             <td colspan="1">Evaluación de los requisitos corporativos de elaboración de informes </td>
             <td colspan="1"><a style="font-size: 1,5vw;" href="mea01">MEA01.01</a></td>
           </tr>
           <tr>
             <td rowspan=""><a href="edm03tabla1">EDMO3.03</a></td>
             <td rowspan="1"> <p>Cuestiones de gestión del riesgo a tratar por el de informes y de Consejo de Administración </p>
             <td rowspan="3">Principios de elaboración de informes y de comunicación </td>
             <td rowspan="3"><a href="mea01">MEA01.01</a></td>
           </tr>
           <tr>
             <td colspan="1"><a href="edm04tabla1">EDMO4.03</a></td>
             <td colspan="1">Retroalimentación sobre la asignación y la eficacia de los recursos y las capacidades</td>
           </tr>
           <tr>
            <td colspan="1"><a href="mea02">MEA02.08</a></td>
            <td colspan="1"> Ámbito de aplicación refinado
            </td>
          </tr>
           <tr>
             <th class="celestetabla1" colspan="6">Actividades</th>
           </tr>
           <tr>
             <td colspan="6">1. Examinar y juzgar los requisitos actuales y futuros de elaboración de informes respecto al uso de TI 
              dentro de la empresa (regulación, legislación, leyes generales, requisitos contractuales), incluyendo alcance y 
              frecuencia. </td>
           </tr>
           <tr>
             <td colspan="6">2. Examinar y juzgar los requisitos actuales y futuros de elaboración de informes para otros interesados respecto al uso de TI dentro de la empresa,
              incluyendo alcance y condiciones.</td>
           </tr>
           <tr>
             <td colspan="6">3. Mantener los principios de comunicación con interesados externos e internos, incluyendo formatos y 
              canales de comunicación y los principios de aceptación y aprobación de los informes por parte de las partes interesadas. </td>
           </tr>
           <tr>
            <th class="celestetabla1" colspan="2">Práctica de gobierno</th>
            <th class="celestetabla1" colspan="2">Entradas</th>
            <th class="celestetabla1" colspan="2">Salidas</th>
          </tr>
          <tr>
            <td rowspan="2" colspan="2"><a href="edm05tabla1">EDM05.03</a> Supervisar la comunicación con las partes interesadas. Supervisar la eficacia de la 
            comunicación con las partes interesadas. Evaluar los mecanismos para asegurar la precisión, la fiabilidad y la eficacia y 
            determinar si se están cumpliendo los requisitos de los diferentes interesados.</td>
            <th colspan="1">De</th>
            <th colspan="1">Descripción</th>
            <th colspan="1">Descripción</th>
            <th colspan="1">A</th>
          </tr>
          <tr>
            <td><a href="mea02">MEA02.08</a></td>
            <td><p>• Informe de la revisión de aseguramiento</p>
            <p>• Resultados de la revisión de aseguramiento</p></td>
            <td>Evaluación de la eficacia de la elaboración de informes</td>
            <td>
              <p><a href="mea01">MEA01.01</a></p>
              <p><a href="meao3tabla1">MEA03.04</a></p>
            </td>
          </tr>
          <tr>
            <th class="celestetabla1" colspan="6">Actividades</th>
          </tr>
          <tr>
            <td colspan="6">1. Evaluar periódicamente la eficacia de los mecanismos para asegurar la precisión y la fiabilidad de 
              la elaboración obligatoria de informes. </td>
          </tr>
          <tr>
            <td colspan="6">2. Evaluar periódicamente la eficacia de los mecanismos y las salidas de la comunicación con interesados 
            externos e internos.</td>
          </tr>
          <tr>
            <td colspan="6">3. Determinar si se están cumpliendo los requisitos de los diferentes interesados. </td>
          </tr>
         </tbody>
       </table>
     </div>
</body>

</html>

<br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">EDM05</a></li>
      <li class="page-item"><a class="page-link" href="edm05tabla1">1</a></li>
      <li class="page-item"><a class="page-link" href="edm05tabla2">2</a></li>
      <li class="page-item"><a class="page-link" href="edm05tabla3">3</a></li>
      <li class="page-item"><a class="page-link" href="edm05tabla4">4</a></li>
      <li class="page-item"><a class="page-link" href="edm05tabla4">Next</a></li>
      
    </ul>
  </nav><br>





