<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>localhost4200</title>

</head>


<body>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="azultabla1" colspan="6"><a href="edm03tabla1">EDMO3.03</a> Prácticas, actividades y entradas/salidas del Proceso (cont)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="celestetabla1" colspan="2">Práctica de gobierno</th>
        <th class="celestetabla1" colspan="2">Entradas</th>
        <th class="celestetabla1" colspan="2">Salidas</th>
      </tr>
      <tr>
        <td rowspan="7" colspan="2"><a href="edm03tabla1">EDMO3.03</a> Supervisar la gestion de riesgos.Supervisar los objetivos y las metricas clave
            de los proceso de gestion de riesgos y establecer como las desviaciones o los problemas seran identificado,
            seguidos e informados para su resolucion
        </td>
          <th colspan="1">De</th>
          <th colspan="1">Descripción</th>
          <th colspan="1">Descripción</th>
          <th colspan="1">A</th>
      </tr>
      <tr>
        <td colspan="1">APO12.02</td>
        <td colspan="1">Resultado de los analisis de riesgos</td>
        <td rowspan="1" colspan="0.2">Acciones correctivas para tratar las desviaciones en la gestion de riesgos</td>
        <td rowspan="1" colspan="0.2">APO12.06</td>
       
        
      </tr>
      <tr>
        <td rowspan="2" colspan="1">APO12.04</td>
        <td rowspan="2" colspan="1">•Oportunidad para la aceptacion de un mayor riesgo
            •Resultados de las evaluaciones de riesgos de terceras partes
            •Analisis de riesgps e informes de perfil de riesgos para las partes interesadas
        </td>
        <td rowspan="2" colspan="1">Problemas de la gestion de riesgos para la Direccion</td>
        <td rowspan="2" colspan="1"><a href="edm05tabla1">EMD05.01</a></td>
      </tr> 
      <tr>
      </tr>
      <tr>
      </tr>
      <tr>
      </tr>      
      <tr>
      <tr>
        <th class="celestetabla1" colspan="6">Actividades</th>
      </tr>
      <tr>
        <td colspan="6">1. Supervisar hasta que punto se gestiona el perfil de riesgo dentro de los umbrales de apetito de riesgo..</td>
      </tr>
      <tr>
        <td colspan="6">2. Supervisar las metas y metricas clave de gestion de los proceso de gobierno y gestion del riesgo respecto a los objetivos, analizar las causas de las 
            seviaciones e iniciar medidas correctivas para abordar las causas subyacentes
        </td>
      </tr>
      <tr>
        <td colspan="6">3. Facilitar la revision por las principales partes interesadas del progreso de la empresa hacia los objetivos identificados.</td>
      </tr>
      <tr>
        <td colspan="6"> 4. Informar cualquier problema de gestion de riesgos al consejo o al Comite de Direccion. </td>
      </tr>

  </tbody>
</table>
</body>

</html>

<br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link"routerLink="/home">Menu</a></li>
      <li class="page-item"><a class="page-link" href="edm03tabla1">1</a></li>
      <li class="page-item"><a class="page-link" href="listar-three">2</a></li>
      <li class="page-item"><a class="page-link" href="edm03tabla3">3</a></li>
      <li class="page-item"><a class="page-link" href="edm03tabla4">4</a></li>
      <li class="page-item"><a class="page-link" href="edm03tabla5">5</a></li>
      <li class="page-item"><a class="page-link" href="edm03tabla5">Next</a></li>
      
    </ul>
  </nav><br>


