<div>
    <span class="d-grid gap-2 col-4  mx-auto ">{{title}}</span><br><br>
    <form class="container bg-light bc row row-cols-1 row-cols-lg-4 g-1 g-lg-2"
    style="height: 10px;" style="width: 60%;" style="margin: 35px   190px;"
    [formGroup]="apo011casillaForm" (ngSubmit)="agregarApo011casilla()" >
        <p class="li">Practica clave de gobierno</p>
        <div class="form-group" >
            <select type="text" formControlName="apo011casilla1" class="form-control" placeholder="apo011casilla1">
                <option>APO011.01.<br>Evaluar la optimizacion del valor</option>
               <option>APO011.02.<br> Orientar la optimizacion del valor</option>
               <option>APO011.03.<br> Supervisar la optimizacion del valor</option>
               <option>APO011.04.<br> Orientar la optimizacion del valor</option>
               <option>APO011.05.<br> Supervisar la optimizacion del valor</option>
            </select>
            <div class="validacion"
            *ngIf="apo011casillaForm.get('apo011casilla1')?.hasError('required') && apo011casillaForm.get('apo011casilla1')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div> 
        </div>
        <p class="li">Consejo de Administracion</p>
        <div class="form-group">
            <select type="text" formControlName="apo011casilla2" class="form-control" placeholder="apo011casilla2">
               <option>R</option>
               <option>A</option>
               <option>C</option>
               <option>I</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="apo011casillaForm.get('apo011casilla2')?.hasError('required') && apo011casillaForm.get('apo011casilla2')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div> 
        </div>
        <p class="li">Director General Ejecutivo (CEO)</p>
        <div class="form-group">
            <select type="text" formControlName="apo011casilla3" class="form-control" placeholder="apo011casilla3">
               <option>R</option>
               <option>A</option>
               <option>C</option>
               <option>I</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="apo011casillaForm.get('apo011casilla3')?.hasError('required') && apo011casillaForm.get('apo011casilla3')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div> 
        </div>
        <p class="li">Directo General Financiero (CFO)</p>
        <div class="form-group">
            <select type="text" formControlName="apo011casilla4" class="form-control" placeholder="apo011casilla4">
               <option >R</option>
               <option>A</option>
               <option>C</option>
               <option>I</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="apo011casillaForm.get('apo011casilla4')?.hasError('required') && apo011casillaForm.get('apo011casilla4')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div> 
        </div>
        <p class="li">Director Operacio (COO)nes</p>
        <div class="form-group">
            <select type="text" formControlName="apo011casilla5" class="form-control" placeholder="apo011casilla5">
               <option>R</option>
               <option>A</option>
               <option>C</option>
               <option>I</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="apo011casillaForm.get('apo011casilla5')?.hasError('required') && apo011casillaForm.get('apo011casilla5')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div> 
            </div>
            <p class="li">Ejecutivo de Negocios</p>
        <div class="form-group">
            <select type="text" formControlName="apo011casilla6" class="form-control" placeholder="apo011casilla6">
               <option>R</option>
               <option>A</option>
               <option>C</option>
               <option>I</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="apo011casillaForm.get('apo011casilla6')?.hasError('required') && apo011casillaForm.get('apo011casilla6')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div> 
        </div>
        <p class="li">Propietarios de los Procos de Negocio</p>
        <div class="form-group">
            <select type="text" formControlName="apo011casilla7" class="form-control" placeholder="apo011casilla7">
               <option >R</option>
               <option>A</option>
               <option>C</option>
               <option>I</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="apo011casillaForm.get('apo011casilla7')?.hasError('required') && apo011casillaForm.get('apo011casilla7')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div> 
        </div>
        <p class="li">comite Ejecutivo Estrategico</p>
        <div class="form-group">
            <select type="text" formControlName="apo011casilla8" class="form-control" placeholder="apo011casilla8">
               <option>R</option>
               <option>A</option>
               <option>C</option>
               <option>I</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="apo011casillaForm.get('apo011casilla8')?.hasError('required') && apo011casillaForm.get('apo011casilla8')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div>
        </div>
            <p class="li">Comite Estrategico(Desarollo Proyectos)</p>
        <div class="form-group">
            <select type="text" formControlName="apo011casilla9" class="form-control" placeholder="apo011casilla9">
               <option>R</option>
               <option>A</option>
               <option>C</option>
               <option>I</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="apo011casillaForm.get('apo011casilla9')?.hasError('required') && apo011casillaForm.get('apo011casilla9')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div> 
        </div>
        <p class="li">Oficina de Gestion de Proyectos</p>
        <div class="form-group">
            <select type="text" formControlName="apo011casilla10" class="form-control" placeholder="apo011casilla10">
               <option >R</option>
               <option>A</option>
               <option>C</option>
               <option>I</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="apo011casillaForm.get('apo011casilla10')?.hasError('required') && apo011casillaForm.get('apo011casilla10')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div> 
        </div>
        <p class="li">Oficina de Gestion del Valor</p>
        <div class="form-group">
            <select type="text" formControlName="apo011casilla11" class="form-control" placeholder="apo011casilla11">
               <option>R</option>
               <option>A</option>
               <option>C</option>
               <option>I</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="apo011casillaForm.get('apo011casilla11')?.hasError('required') && apo011casillaForm.get('apo011casilla11')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div>
        </div>
            <p class="li">Director de Riesgos (CRO)</p>
        <div class="form-group">
            <select type="text" formControlName="apo011casilla12" class="form-control" placeholder="apo011casilla12">
               <option>R</option>
               <option>A</option>
               <option>C</option>
               <option>I</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="apo011casillaForm.get('apo011casilla12')?.hasError('required') && apo011casillaForm.get('apo011casilla12')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div> 
        </div>
        <p class="li">Director de Seguridad de Informacion (CSO)</p>
        <div class="form-group">
            <select type="text" formControlName="apo011casilla13" class="form-control" placeholder="apo011casilla13">
               <option >R</option>
               <option>A</option>
               <option>C</option>
               <option>I</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="apo011casillaForm.get('apo011casilla13')?.hasError('required') && apo011casillaForm.get('apo011casilla13')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div> 
        </div>
        <p class="li">Consejo de Arquitectura de la Empresa</p>
        <div class="form-group">
            <select type="text" formControlName="apo011casilla14" class="form-control" placeholder="apo011casilla14">
               <option>R</option>
               <option>A</option>
               <option>C</option>
               <option>I</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="apo011casillaForm.get('apo011casilla14')?.hasError('required') && apo011casillaForm.get('apo011casilla14')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div>
        </div>
            <p class="li">Comite de Riesgos Corporativos</p>
        <div class="form-group">
            <select type="text" formControlName="apo011casilla15" class="form-control" placeholder="apo011casilla15">
               <option>R</option>
               <option>A</option>
               <option>C</option>
               <option>I</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="apo011casillaForm.get('apo011casilla15')?.hasError('required') && apo011casillaForm.get('apo011casilla15')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div> 
        </div>
        <p class="li">Jefe de Recursos Humanos</p>
        <div class="form-group">
            <select type="text" formControlName="apo011casilla16" class="form-control" placeholder="apo011casilla16">
               <option >R</option>
               <option>A</option>
               <option>C</option>
               <option>I</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="apo011casillaForm.get('apo011casilla16')?.hasError('required') && apo011casillaForm.get('apo011casilla16')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div> 
        </div>
        <p class="li">Cumplimiento Normativo(Complice)</p>
        <div class="form-group">
            <select type="text" formControlName="apo011casilla17" class="form-control" placeholder="apo011casilla17">
               <option>R</option>
               <option>A</option>
               <option>C</option>
               <option>I</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="apo011casillaForm.get('apo011casilla17')?.hasError('required') && apo011casillaForm.get('apo011casilla17')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div>
        </div>
            <p class="li">Auditoria</p>
        <div class="form-group">
            <select type="text" formControlName="apo011casilla18" class="form-control" placeholder="apo011casilla18">
               <option>R</option>
               <option>A</option>
               <option>C</option>
               <option>I</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="apo011casillaForm.get('apo011casilla18')?.hasError('required') && apo011casillaForm.get('apo011casilla18')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div> 
        </div>
        <p class="li">Director de Informatica Sistema (CIO)</p>
        <div class="form-group">
            <select type="text" formControlName="apo011casilla19" class="form-control" placeholder="apo011casilla19">
               <option >R</option>
               <option>A</option>
               <option>C</option>
               <option>I</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="apo011casillaForm.get('apo011casilla19')?.hasError('required') && apo011casillaForm.get('apo011casilla19')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div> 
        </div>
        <p class="li">Jefe de Arquitectura de Negocio</p>
        <div class="form-group">
            <select type="text" formControlName="apo011casilla20" class="form-control" placeholder="apo011casilla20">
               <option>R</option>
               <option>A</option>
               <option>C</option>
               <option>I</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="apo011casillaForm.get('apo011casilla20')?.hasError('required') && apo011casillaForm.get('apo011casilla20')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div>
        </div>
            <p class="li">Jefe de Desarollo</p>
        <div class="form-group">
            <select type="text" formControlName="apo011casilla21" class="form-control" placeholder="apo011casilla21">
               <option>R</option>
               <option>A</option>
               <option>C</option>
               <option>I</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="apo011casillaForm.get('apo011casilla21')?.hasError('required') && apo011casillaForm.get('apo011casilla21')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div> 
        </div>
        <p class="li">Jefe de Operaciones TI</p>
        <div class="form-group">
            <select type="text" formControlName="apo011casilla22" class="form-control" placeholder="apo011casilla22">
               <option >R</option>
               <option>A</option>
               <option>C</option>
               <option>I</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="apo011casillaForm.get('apo011casilla22')?.hasError('required') && apo011casillaForm.get('apo011casilla22')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div> 
        </div>
        <p class="li">Jefe de Administracion TI</p>
        <div class="form-group">
            <select type="text" formControlName="apo011casilla23" class="form-control" placeholder="apo011casilla23">
               <option>R</option>
               <option>A</option>
               <option>C</option>
               <option>I</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="apo011casillaForm.get('apo011casilla23')?.hasError('required') && apo011casillaForm.get('apo011casilla23')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div>
        </div>
            <p class="li">Gestor de Servicio</p>
        <div class="form-group">
            <select type="text" formControlName="apo011casilla24" class="form-control" placeholder="apo011casilla24">
               <option>R</option>
               <option>A</option>
               <option>C</option>
               <option>I</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="apo011casillaForm.get('apo011casilla24')?.hasError('required') && apo011casillaForm.get('apo011casilla24')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div> 
        </div>
        <p class="li">Gestor de Seguridad de la Informacion</p>
        <div class="form-group">
            <select type="text" formControlName="apo011casilla25" class="form-control" placeholder="apo011casilla25">
               <option >R</option>
               <option>A</option>
               <option>C</option>
               <option>I</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="apo011casillaForm.get('apo011casilla25')?.hasError('required') && apo011casillaForm.get('apo011casilla25')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div> 
        </div>
        <p class="li">Gestor de Continuidad de Negocio</p>
        <div class="form-group">
            <select type="text" formControlName="apo011casilla26" class="form-control" placeholder="apo011casilla26">
               <option>R</option>
               <option>A</option>
               <option>C</option>
               <option>I</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="apo011casillaForm.get('apo011casilla26')?.hasError('required') && apo011casillaForm.get('apo011casilla26')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div>
        </div>
        <p class="li">Gestor de Privacidad de la Informacion</p>
        <div class="form-group">
            <select type="text" formControlName="apo011casilla27" class="form-control" placeholder="apo011casilla27">
               <option>R</option>
               <option>A</option>
               <option>C</option>
               <option>I</option>
               <option>-</option>
            </select>
            <div class="validacion"
            *ngIf="apo011casillaForm.get('apo011casilla27')?.hasError('required') && apo011casillaForm.get('apo011casilla27')?.touched">
            <span>Este campo<b> es obligatorio</b></span>
            </div>
        </div><br>
        <div>
            <button routerLink="/Apo011raci" class="btn btn-secondary">Volver</button>  &nbsp;
            <button type="submit" class="btn btn-success" [disabled]="apo011casillaForm.invalid">Aceptar</button>
        </div>
    </form>
</div>




