<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Pg 59</title>
</head>

<body>
    
    
    <!-- ------------------------------------------------------------------------------------------------------------------------------------------------ -->
    <table class="table table-bordered container">
        <thead>
            <tr>
                <td colspan="14" class="azultabla1"><a class="nav-link" routerLink="/pagina57">AP002</a>  Prácticas, Entradas/Salidas y Actividades del Proceso(cont.)</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th colspan="2">Prácticas de Gestión</th>
                <th colspan="2">Entradas</th>
                <th colspan="2">Salidas</th>
            </tr>
            <tr>
                <td rowspan="14" colspan="2"><a class="nav-link" routerLink="/pagina57">AP002.02</a>  Evaluar el entorno, capacidades y rendimiento actuales.<br>
                    Evaluar el rendimiento del negocio interno actual y las capacidades de TI y los servicios externos de TI para desarrollar un entendimiento de la arquitectura empresarial en relación con TI.<br>
                    Identificar los problemas que se están experimentando y generar recomendaciones en las áreas que pueden beneficiarse de estas mejoras.<br>
                    Considerar los aspectos diferenciadores y las opciones de proveedores de servicios y el impacto financiero, los costes y los beneficios potenciales de utilizar servicios externos.<br>
                <br>
                <th colspan="1">De</th>
                <th colspan="1">Descripción</th>
                <th colspan="1">Descripción</th>
                <th colspan="1">A</th>
            </tr>
            <tr>
                <td colspan="1"><a class="nav-link" rauterLink="/apo6tabla1">AP006.05</a> </td>
                <td colspan="1">Oportunidades de optimización de costes <br></td>
                <td rowspan="5">Línea de referencia de capacidades actuales<br></td>
                <td rowspan="5">Interno</td>
            </tr>
            <tr>
                <td colspan="1"><a class="nav-link" rauterLink="/apo8tabla1">AP008.05</a> </td>
                <td colspan="1">Definición de proyectos de mejoras potenciales <br></td>
            </tr>
            <tr>
                <td colspan="1"><a class="nav-link" rauterLink="/apo9tabla1">AP009.01</a> </td>
                <td colspan="1"> Identificar diferencias en los servicios de TI para el negocio</td>
            </tr>
            <tr>
                <td colspan="1"> <a class="nav-link" rauterLink="/apo9tabla1">AP009.01</a></td>
                <td colspan="1">Planes de acciones de mejora y remediaciones</td>
            </tr>
            <tr>
                <td colspan="1"><a class="nav-link" rauterLink="/apo12tabla1">AP012.01</a> </td>
                <td colspan="1">Nuevos problemas y factores de riesgo</td>
            </tr>
            <tr>
                <td colspan="1"><a class="nav-link" rauterLink="/apo12tabla1">AP012.02</a> </td>
                <td colspan="1">Resultado del análisis de riesgo</td>
            </tr>
            <tr>
                <td colspan="1"><a class="nav-link" rauterLink="/apo12tabla1">AP012.03</a> </td>
                <td colspan="1">Perfil de riesgo agregado, incluyendo el estado de las acciones sobre la gestión de riesgos</td>
            </tr>
            <tr>
                <td colspan="1"><a class="nav-link" rauterLink="/apo12tabla1">AP012.05</a> </td>
                <td colspan="1">Propuestas de proyecto para la reducción de riesgos </td>
            </tr>
            <tr>
                <td colspan="1"><a class="nav-link" rauterLink="/baio6tabla1">BAI04.03</a> </td>
                <td colspan="1">Planes de rendimiento y capacidad<br>
                Mejoras priorizadas </td>
            </tr>
            <tr>
                <td colspan="1"><a class="nav-link" href=""> BAI.04.05</a></td>
                <td colspan="1">Acciones correctivas</td>
            </tr>
            <tr>
                <td colspan="1"><a class="nav-link" href="">BAI09.01</a> </td>
                <td colspan="1">Revisión de los resultados de ajuste a objetivos</td>
            </tr>
            <tr>
                <td colspan="1"><a class="nav-link" href="">BAI09.04</a> </td>
                <td colspan="1">Oportunidades para reducir los costes de los activos o incrementar su valor<br>
                    Revisión de los resultados de la optimización de coste
                    </td>
            </tr>
            <tr>
            <tr>
                <td colspan="14" align="center" class="celeste2tabla1">Actividades
                </td>
            </tr>
            <tr>
                <td colspan="15">1.Desarrollar un punto de referencia del negocio, entorno de TI, capacidades y servicios actuales respecto al que las necesidades futuras puedan ser comparadas. Incluir el correspondiente detalle, a alto nivel, de la arquitectura empresarial actual (negocios, información, datos, aplicaciones y dominios de tecnología), procesos de negocio, procesos de TI y sus procedimientos, estructura organizativa de TI, provisión de servicios externos, gobierno de TI, Habilidades y competencias de TI en toda la empresa.
                </td>
            </tr>
            <tr>
                <td colspan="6">2.Identificar los actuales y potenciales riesgos y tecnologías en declive.
                </td>
            </tr>
            <tr>
                <td colspan="6">3. Identificar diferencias entre el negocio actual y las capacidades de TI, entre servicios y estándares y mejoras practicas de referencia, entre empresas competidoras y sus capacidades de TI y entre un análisis comparativo de las mejoras practicas y la provisión de servicios emergentes de TI.
                </td>
            </tr>
            <tr>
                <td colspan="6">4. Identificar los problemas, fortalezas, oportunidades y amenazas en el entorno actual, las capacidades y servicios para entender el desempeño actual.
                    Identificar las áreas a mejorar en términos de la contribución de TI a los objetivos del negocio.
                </td>
            </tr>
    </table>
<br>



<nav aria-label="Page navigation  example" class="container" style="width: 87%;">
    <ul class="pagination container">
      <li class="page-item"><a class="page-link" >APOO2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina57">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/listar-productos">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina59">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina60">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina61">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina62">6</a></li>
     
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>


