<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>

<body>
    <table class="container" style="width: 87%;">
        <tr>
            <td colspan="2" class="azultabla1"><a class="nav-link" routerLink="/apo13tabla1">APO13</a>  Gestionar la Seguridad</td>
        </tr>
        <tr>
            <td colspan="2">Descripción del Proceso<br>
                Definir, operar y supervisar un sistema para la gestión de la seguridad de la información.
            </td>
        </tr>
        <tr>
            <td colspan="2">Propósito<br>
                Mantener el impacto y ocurrencia de los incidentes de la seguridad de la información dentro de los
                niveles de apetito de riesgo de la empresa.
            </td>
        </tr>
        <tr>
            <td colspan="2">El proceso contribuye al logro de un conjunto de objetivos principales relacionados con TI:
            </td>
        </tr>
        <th class="celeste2tabla1">
            Metas TI
        </th>
        <th class="celeste2tabla1">
            Métricas Relacionadas
        </th>
        <tr>
            <td>02. Cumplimiento y soporte de TI al cumplimiento del negocio de las leyes y regulaciones externas</td>
            <td>• Costes de la no conformidad de TI, incluidos arreglos y multas, e impacto de la pérdida de reputación<br>
                • Número de problemas de no conformidad relativos a TI de los que se ha informado al consejo de
                administración o que han causado comentarios o bochorno públicos<br>
                • Número de problemas de no conformidad con respecto a acuerdos contractuales con proveedores de
                servicio de TI<br>
                • Cobertura de las evaluaciones de conformidad</td>
        </tr>
        <tr>
            <td>04 Riesgos de negocio relacionados con las TI gestionados</td>
            <td>• Porcentaje de procesos de negocio críticos, servicios TI y programas de negocio habilitados por las TI
                cubiertos por evaluaciones de riesgos<br>
                • Número de incidentes significativos relacionados con las TI que no fueron identificados en la
                evaluación de riesgos<br>
                • Porcentaje de evaluaciones de riesgo de la empresa que incluyen los riesgos relacionados con TI<br>
                • Frecuencia de actualización del perfil de riesgo</td>
        </tr>
        <tr>
            <td>06 Transparencia de los costes, beneficios y riesgo de las TI</td>
            <td>• Porcentaje de casos de inversión de negocio, que tienen claramente definidos y aprobados los costes y
                beneficios esperados relacionados con TI<br>
                • Porcentaje de servicios de TI que tienen claramente definidos y aprobados los costes operacionales y
                los beneficios esperados<br>
                • Encuestas de satisfacción dirigidas a los principales accionistas en relación al nivel de
                transparencia, entendimiento y precisión de la información financiera de TI</td>
        </tr>
        <tr>
            <td>10 Seguridad de la información, infraestructura de procesamiento y aplicaciones</td>
            <td>• Número de incidentes de seguridad causantes de pérdidas financieras, interrupciones del negocio o
                pérdida de imagen pública<br>
                • Número de servicios de TI con los requisitos de seguridad pendientes<br>
                • Tiempos para otorgar, modificar y eliminar los privilegios de acceso, comparado con los niveles de
                servicio acordados<br>
                • Frecuencia de la evaluación de seguridad frente a los últimos estándares y guías</td>
        </tr>
        <tr>
            <td>14 Disponibilidad de información útil y relevantes para la toma de decisiones</td>
            <td>• Nivel de satisfacción de los usuarios del negocio y puntualidad (o disponibilidad) de la información
                de gestión<br>
                • Número de incidentes en los procesos de negocio causados por la indisponibilidad de la información<br>
                • Relación o cantidad de decisiones de negocio erróneas en las que la falta de información o la
                información errónea ha sido la principal causa</td>
        </tr>
        <tr>
            <td colspan="2">Objetivos y Métricas del Proceso</td>
        </tr>
        <th class="celeste2tabla1">
            Meta del Proceso
        </th>
        <th class="celeste2tabla1">
            Métricas Relacionadas
        </th>
        <tr>
            <td>1. Ésta en marcha un sistema que considera y trata efectivamente los requerimientos de seguridad de la
                información de la empresa.</td>
            <td>• Número de roles de seguridad claves claramente definidos<br>
                • Número de incidentes relacionados con la seguridad</td>
        </tr>
        <tr>
            <td>2. Se ha establecido, aceptado y comunicado por toda la empresa un plan de seguridad.</td>
            <td>• Nivel de satisfacción de las partes interesadas con el plan de seguridad de toda la empresa<br>
                • Número de soluciones de seguridad que se desvían del plan<br>
                • Número de soluciones de seguridad que se desvían de la arquitectura de la empresa</td>
        </tr>
        <tr>
            <td>3. Las soluciones de seguridad de la información están implementadas y operadas de forma consistente en
                toda la empresa.</td>
            <td>• Número de servicio con alineamiento confirmado al plan de seguridad<br>
                • Número de incidentes de seguridad causadas por la no observación del plan de seguridad<br>
                • Número de soluciones desarrolladas con alineamiento confirmado al plan de seguridad</td>
        </tr>
    </table>
</body>

</html><br>
<nav aria-label="Page navigation example " class="container" style="width: 813%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">APOO13</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo13tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/Apo013raci">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo13tabla2">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo13tabla3">4</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
      
    </ul>
  </nav>
