<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="container" style="width: 85%; margin: 0 auto;">
        <thead>
            <tr>
                <th class="azultabla1" colspan="6">BAI01 Prácticas, Entradas/Salidas y Actividades del Proceso (cont.)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="celeste2tabla1"  colspan="2">Prácticas de Gestión</th>
                <th class="celeste2tabla1"  colspan="2">Entradas</th>
                <th class="celeste2tabla1"  colspan="2">Salidas</th>
            </tr>
            <tr>
                <td rowspan="4" colspan="2" class="texto"><b>BAI001.03 Gestionar el compromiso de las partes interesadas.</b><br>
                    Gestionar el compromiso de las partes intresadas para asegurar un intercambio activo de información precisa, consistente y oportuna, que llegue a
                    todos las partes<br>
                    interesadas relevantes. Esto incluye la planificación,
                    identificación y el compromiso <br>de las partes interesadas y a la
                    gestión de sus expectativas.<br>
                <th colspan="1">De</th>
                <th colspan="1">Descripción</th>
                <th colspan="1" rowspan="2">Descripción</th>
                <th colspan="1" rowspan="2">A</th>
            </tr>
            <tr>
                <td rowspan="4"></td>
                <td rowspan="4"></td>
            </tr>
            <tr>
                <td colspan="1">Plan de involucración de <br> las partes interesadas </td>
                <td colspan="1">Interno<br></td>
            </tr>
            <tr>
                <td colspan="1">Resultados de la evaluación de <br> efectividad del compromiso de <br> las partes
                    interesadas</td>
                <td colspan="1"> Interno</td>
            </tr>
            <tr>
            <tr>
                <td class="celeste2tabla1"  colspan="6" align="center"><b>Actividades</b>
                </td>
            </tr>
            <tr>
                <td colspan="6">1. Planificar la forma en que las partes interesadas internas y externas de la empresa
                    serán identificadas, analizadas, comprometidas, y gestionadas a lo largo del ciclo de vida de los
                    proyectos. 
                </td>
            </tr>
            <tr>
                <td colspan="6">2.Identificar, comprometer y gestionar a las partes interesadas, estableciendo y
                    manteniendo niveles apropiados de coordinación, comunicación y vinculación para asegurar que estén
                    involucrados en los programas/proyectos.
                </td>
            </tr>
            <tr>
                <td colspan="6">3.Medir la efectividad del compromiso de las partes interesadas y tomar acciones de
                    remediación si es necesario.
                </td>
            </tr>
            <tr>
                <td colspan="6">4.Analizar los intereses y los requisitos de las partes interesadas.
                </td>
            </tr>
            <tr>
            </tr>
        <tbody>
            <tr>
                <th class="celeste2tabla1"  colspan="2">Prácticas de Gestión</th>
                <th class="celeste2tabla1"  colspan="2">Entradas</th>
                <th class="celeste2tabla1"  colspan="2">Salidas</th>
            </tr>
            <tr>
                <td rowspan="9" colspan="2" class="texto" ><b> BAI01.04 Desarrollar y mantener el plan de programa.</b><br>
                    Formular un programa para definir las bases iniciales
                    y posicionarlo para una <br> ejecución exitosa mediante la formalización del alcance del trabajo a
                    ser efectuado <br> e identificando los entregables que satisfarán sus objetivos y la entrega de valor.<br> Mantener y actualizar el
                    plan del programa y el caso de negocio a lo largo del ciclo<br> de vida económico completo del
                    programa, asegurando el alineamiento con los <br> objetivos estratégicos y reflejando el estado actual y
                    los conocimientos obtenidos <br>hasta el momento.
                <th colspan="1">De</th>
                <th colspan="1">Descripción</th>
                <th colspan="1">Descripción</th>
                <th colspan="1">A</th>
            </tr>
            <tr>
                <td colspan="1"><a href="/pagina75">AP005.03</a></td>
                <td colspan="1">Programas seleccionados<br>con hitos de ROI</td>
                <td rowspan="1">Plan de programa</td>
                <td rowspan="1">Interno</td>
            </tr>
            <tr>
                <td colspan="1"><a href="/apo7tabla3">AP007.03</a></td>
                <td colspan="1">Matriz de habilidades y<br>competencias</td>
                <td rowspan="1">Presupuesto del programa<br> y registro de beneficios</td>
                <td rowspan="1"><a href="/pagina77">AP005.06</a><br><a href="/apo6tabla4">AP006.05</a></td>
            </tr>
            <tr>
                <td colspan="1"><a href="/apo7tabla4">AP007.05</a></td>
                <td colspan="1">Inventario de recursos<br>humanos de TI y del <br>negocio</td>
                <td rowspan="7"  class="texto">Requerimientos de<br> recursos y roles registro de beneficios</td>
                <td rowspan="7"  class="texto"><a href="/apo7tabla4">AP007.05</a><br><a href="/apo7tabla5">AP007.06</a></td>
            </tr>
            <tr>
                <td colspan="1"><a href="/pagina147">BAI05.02</a></td>
                <td colspan="1">Equipo y roles para la,<br>implementación</td>
            </tr>
            <tr>
                <td colspan="1"><a href="/pagina147">BAI05.03</a></td>
                <td colspan="1">Plan de comunicación<br> de la visión</td>
            </tr>
            <tr>
                <td colspan="1"><a href="/pagina147">BAI05.04</a></td>
                <td colspan="1">Identificación de logros<br>rápidos(quick wins)</td>
            </tr>
            <tr>
                <td colspan="1"><a href="/pagina155">BAI07.03</a></td>
                <td colspan="1">Plan de pruebas de<br>aceptación aprobado</td>
            </tr>
            <tr>
                <td colspan="1"><a href="/pagina156">BAI07.05</a></td>
                <td colspan="1">Aceptación y pase a <br>producción aprobados</td>
            </tr>
            <tr>
            <tr>
                <td class="celeste2tabla1"  colspan="6" align="center"><b>Actividades</b></td>
            </tr>
            <tr>
                <td colspan="6">1. Definir y documentar el plan de programa cubriendo todos los proyectos, incluyendo lo
                    que sea necesario para lograr cambios en la empresa; su
                    imagen, productos y servicios, procesos de negocio, habilidades y cantidad de personal,
                    requerimientos tecnológicos, relaciones con las partes
                    interesadas, clientes, proveedores, entre otros, así como las restructuraciones organizacionales
                    necesarias para lograr los resultados que la empresa espera del programa.
                </td>
            </tr>
            <tr>
                <td colspan="6">2. Especificar las habilidades y los recursos necesarios para ejecutar el proyecto,
                    incluyendo los gerentes y los equipos del proyecto, así como los recursos del
                    negocio.Especificar
                    la financiación, coste, cronograma y las interdependencias de los múltiples proyectos. Especificar
                    las bases para la 
                    contratación y asignación de miembros del personal competentes y/o contratistas a los proyectos.
                    Definir los roles y las responsabilidades para todos  los miembros del equipo y
                    otras partes interesadas.
                </td>
            </tr>
            <tr>
                <td colspan="6">3. Asignar la responsabilidad ejecutiva para cada proyecto en forma clara y sin
                    ambiguedades, incluyendo el logro de los beneficios, el control de costes, la gestión de
                    riesgos y la coordinación de las actividades
                    de los proyectos.
                </td>
            </tr>
            <tr>
                <td colspan="6">4. Asegurar que existe una comunicación efectiva de los planes de programa e informes de
                    avance sobre todos los proyectos y con todo el programa.
                    Asegurar que cualquier cambio hecho en los planes individuales se refleje en el resto de planes de
                    programa de la empresa.
                </td>
            </tr>
            <tr>
                <td colspan="6">5. Mantener el plan de programa para asegurar que esté actualizado y refleje su
                    alineamiento con los objetivos estratégicos actuales, el nivel de avance 
                    y los cambios materiales en los resultados, beneficios, costes y riesgos. La empresa tiene que
                    difundir los objetivos y priorizar los trabajos para  asegurar que el programa diseñado
                    satisfará los requerimientos de la empresa. Revisar el avance de los proyectos individuales,
                    ajustándolos si fuera 
                    necesario para satisfacer las entregas planificadas.
                </td>
            </tr>
            <tr>
                <td colspan="6">6. Actualizar y mantener el caso de negocio y el riesgo de beneficios a lo largo de la
                    vida económica del programa para identificar y definir los  beneficios principales surgidos de
                    los programas ejecutados.
                </td>
            </tr>
            <tr>
                <td colspan="6">7. Preparar un presupuesto del programa que refleje los costes del ciclo de vida económico
                    completo, así como los beneficios financieros y no 
                    financieros asociados.
                </td>
            </tr>
    </table>
</body>
</html><br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/pagina119" >BAI01 </a></li>
      <li class="page-item"><a class="page-link" routerLink="/listar-tablauno" >1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina121" >2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina122" >3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina123" >4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina124" >5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina125" >6</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina126" >7</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina127" >8</a></li>
      <li class="page-item"><a class="page-link" href="pagina129">Continua BAI02</a></li>
      
    </ul>
  </nav><br>
