<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>

<body >
    <table class="container" style="width: 85%; margin: 0 auto;">
        <thead>
            <tr>
                <th class="azultabla1" colspan="6">BAI07 Prácticas, Entradas/Salidas y Actividades del Proceso (cont.)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="celeste2tabla1" colspan="2">Prácticas de Gestión</th>
                <th class="celeste2tabla1" colspan="2">Entradas</th>
                <th class="celeste2tabla1" colspan="2">Salidas</th>
            </tr>
            <tr>
                <td rowspan="5" colspan="2" class="texto"><b>BAI07.08 Ejecutar una revisión post-implantación.</b>  <br>
                    Llevar a cabo una revisión post-implantación para confirmar <br> salidas y resultados, identificar lecciones aprendidas y desarrollar <br>
                    un plan de acción. Evaluar y verificar el rendimiento actual y las <br>
                    salidas del sevicio nuevo o modificado respecto al redimiento y salidas <br> previstas  (es decir, el servicio esperado por el usuario o el cliente).<br>
                <th colspan="1">De</th>
                <th colspan="1">Descripción</th>
                <th colspan="1">Descripción</th>
                <th colspan="1">A</th>
            </tr>
            <tr>
                <td colspan="1" class="texto"><a href="">AP011.04</a></td>
                <td colspan="1">Resultados y auditorias de revisión<br>de la calidad</td>
                <td rowspan="1">Informe de la revisión<br>post-implantación</td>
                <td rowspan="1"><a href="/pagina127">BAI01.13</a> <br><a href="/pagina127"> BAI01.14</a></td>
            </tr>
            <tr>
                <td colspan="1" class="texto"><a href="">AP011.05</a></td>
                <td colspan="1">•Causas raíz de fallos en la<br>calidad del suministro<br>•Resultados de la solución y de la <br>supervisión de la calidad de <br> prestación del servicio</td>
                <td rowspan="3" class="texto">Plan de acciones<br>correctivas</td>
                <td rowspan="3" class="texto"><a href="/pagina127">BAI01.13</a> <br><a href="/pagina127">BAI01.14</a> </td>
            </tr>
            <tr>
                <td colspan="1" class="texto"><a href="/pagina148">BAI05.05</a></td>
                <td colspan="1"> Métricas de éxito y resultados</td>
            </tr>
            <tr>
            <tr>
                <td class="celeste2tabla1" colspan="6" align="center"><b>Actividades</b> 
                </td>
            </tr>
            <tr>
                <td colspan="6">1. Establecer procedimientos para asegurar que las revisiones post-implantación identifican, evalúan e informan hasta qué punto: <br>
                    •Los requisitos corporativos se han cumplido. <br>
                    •Los beneficios esperados se han obtenido. <br>
                    •El sistema se considera utilizable. <br>
                    •Las expectativas de las partes interesadas internas y externas se han cumplido. <br>
                    •Ha habido impactos inesperados en la organización. <br>
                    •Se ha mitigado los riesgos clave. <br>
                    •Los procesos de gestión del cambio, instalación y acreditación se han realizado de forma eficaz y eficiente.
                </td>
            </tr>
            <tr>
                <td colspan="6">2. Consultar a los propietarios de procesos de negocio y gestores técnicos de TI sobre las elecciones de métricas para medir el exito y la consecución de requisitos y beneficios.
                </td>
            </tr>
            <tr>
                <td colspan="6">3. Llevar a cabo una revisión post-implantación de acuerdo al proceso de gestión del cambio en la organización. Involucrar a los propietarios de procesos de negocio y terceras partes, según sea apropiado.
                </td>
            </tr>
            <tr>
                <td colspan="6">4. Considerar los requisitos para la revisión post-implantación que provenga de fuera del negocio y TI (ej. auditoría interna, ERM, cumplimiento)
                </td>
            </tr>
            <tr>
                <td colspan="6">5. Acordar e implantar un plan de acción para tratar cualquier cuestión identificada en la revisión post-implantación. Involucrar a los propietarios de procesos de negocio y gestores técnicos de TI en el desarrollo del plan de acción.
                </td>
            </tr>
            <tr>
            </tr>
    </table>
    <br><br>
    <table class="container" style="width: 87%; margin: 0 auto;">
        <thead>
            <tr>
                <th class="celeste2tabla1" colspan="5">BAI07 Guias Relacionada</th>
            </tr>
        </thead>
        <tr>
            <th class="celeste2tabla1" style="width: 20%;">Estándares Relacionados</th>
            <th class="celeste2tabla1" colspan="5">Referencias Detalladas</th>
        </tr>
        <tr>
            <td style="width: 20%;">ISO/IEC 20000</td>
            <td>0.1 Proceso de gestión de versiones<td>
        </tr>
        <tr>
            <td style="width: 20%;">ITIL V3 2011</td>
            <td>•12 Planificación y Soporte de la Transición <br>•15 Gestión y Despliegue de Versiones <br>•26 Validación y Pruebas del servicio <br>•17 Evaluación del Cambio</td>
        </tr>
        <tr>
            <td style="width: 20%;">PMBOK</td>
            <td>Evaluación de calidad y aceptación de todos los productos del PMB0K<td>
        </tr>
        <tr>
            <td style="width: 20%;">PRINCE2</td>
            <td>Planificación basada en el producto de PRINCE2</td>
        </tr>
        </table>
</body>
</html><br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">BAI07</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina153">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina154">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina155">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina156">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina157">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina158">6</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
      
    </ul>
  </nav><br>