<table class="container" style="width: 85%;">
    <thead>
        
            
              <tr>
                <td class="azultabla1"  colspan="6">BAI09 Practicas, Entradas/Salidas y Actividades del Proceso</td>
              </tr>
    <th  class="celeste2tabla1">
        Práctica de Gestión
    </th>
    <th colspan="2" class="celeste2tabla1">
        Entradas
    </th>
    <th colspan="2" class="celeste2tabla1">
        Salidas
    </th>
    </thead>
    <tr>
        <td rowspan="7" class="texto"> <strong> BAI09.03 Gestionar el ciclo de vida de los activos. <br>
            </strong>  <br>       
           Gestionar los activos desde su adquisisión hasta su <br>
           eliminación para asegurar que se utilizan tan eficaz y <br>
           eficientemente como sea posible y son contabilizados y <br>
           protegidos fisicamente.
            </td>
        <td><b>De</b> </td>
        <td><b>Descripción</b></td>
        <td><b>Descripción</b></td>
        <td><b>A</b></td>
    </tr>
    <tr>
        <td rowspan="3"></td>
        <td rowspan="3"></td>
        <td class="texto">Solicitudes de adquisición de activos aprobadas</td>
        <td class="texto">Interno</td>
    </tr>
    <tr>
        <td class="texto">Solicitudes de adquisición de activos aprobadasRegistro de activos actualizado</td>
        <td class="texto"> <a routerLink="/pagina168">BAI10.03</a> </td>
    </tr>
    <td class="texto">Retirada autorizada de activos</td>
        <td class="texto"> <a routerLink="/pagina168">BAI10.03</a> </td>
    
</table>
<table class="container" style="width: 85%;">
    <thead >
    <tr>
        <td class="celeste2tabla1">Actividades </td>
    </tr>
    </thead>
    <tr>
        <td class="texto">1. Adquirir todos los activos basándose en solicitudes aprobadas y de acuerdo con las políticas y las prácticas de adquisición de la empresa. <br>
            </td>
    </tr>
    <tr>
        <td class="texto">2.Identificar el orígen, recibir, verificar, probar y registrar todos los activos de una manera controlada, incluyendo el etiquetado físico, si fuera necesario.
            </td>
    </tr>
    <tr>
        <td class="texto">3. Aprobar los pagos y completar el proceso con proveedores según las condiciones acordadas por contrato. <br>    
        </td>
    </tr>
    <tr>
        <td class="texto">4. Desplegar los activos siguiendo el ciclo de vida de implementación estándar, incluyendo la gestión de cambios y pruebas de aceptación.</td>
    </tr>
    <tr>
        <td class="texto">5. Asignar activos a los usuarios, con aceptación y firma de responsabilidades, según corresponda<br>
            
            </td>
    </tr>
    <tr>
        <td class="texto">6.Reasignar los activos siempre que sea posible cuando ya no sean necesarios debido a un cambio de función de rol del usuario, redundancia dentro de <br>
            un servicio o finalización de un servicio.
            </td>
    </tr>
    <tr>
        <td class="texto">7. Eliminar los activos cuando no sirvan a ningún propósito útil debido a la finalización de todos los servicios relacionados, tecnología obsoleta o falta de <br>
            usuarios.
            </td>
    </tr>
    <tr>
        <td class="texto">8. Eliminar los activos de forma segura, teniendo en cuenta, por ejemplo, la eliminación permanente de los datos registrados en dispositivos y posibles<br>
            daños al ambiente.
            </td>
    </tr>
    <tr>
        <td class="texto">9. Planificar, autorizar y realizar las actividades relacionadas con la finalización de uso, manteniendo los registros apropiados para satisfacer las<br>
            necesidades regulatorias y cambiantes del negocio.
            </td>
    </tr>
    
</table>


<table class="container" style="width: 85%;">
    <thead>
        
    <th class="celeste2tabla1">
        Práctica de Gestión
    </th>
    <th colspan="2" class="celeste2tabla1">
        Entradas
    </th>
    <th colspan="2" class="celeste2tabla1">
        Salidas
    </th>
    </thead>
    <tr>
        <td rowspan="7" class="texto"> <strong> BAI09.04 Optimizar el coste de los activos. <br>
            </strong>  <br>       
          Revisar periódicamente  la base global de activos para <br>
          identificar maneras de optimizar los costes y mantener <br>
          el alineamiento con las necesidades del negocio.
            </td>
        <td><b>De</b></td>
        <td><b>Descripción</b></td>
        <td><b>Descripción</b></td>
        <td><b>A</b></td>
    </tr>
    <tr>
        <td rowspan="2"></td>
        <td rowspan="2"></td>
        <td class="texto">Resultados de las revisiones de optimización de costes</td>
        <td class="texto"> <a routerLink="/pagina59">APO02.02</a> </td>
    </tr>
    <tr>
        <td class="texto">Oportunidades para reducir el coste de activos o aumentar su valor</td>
        <td class="texto"><a routerLink="/pagina59">APO02.02</a></td>
    </tr>
    
</table>
<table class="container" style="width: 85%;">
    <thead >
    <tr>
        <td class="celeste2tabla1">Actividades </td>
    </tr>
    </thead>
    <tr>
        <td class="texto">1.Revisar la base general de activos de forma regular, teniendo en cuenta si está alineada con los requerimientos del negocio. <br>
            </td>
    </tr>
    <tr>
        <td class="texto">2.Evaluar los costes de mantenimiento, considerar si son razonables e identificar opciones de menor coste, incluyendo, cuando sea necesario, el <br>
            reemplazo con nuevas alternativas.
            </td>
    </tr>
    <tr>
        <td class="texto">3.Revisar las garantías y considerar la relación calidad-precio y estrategias de reemplazo para determinar opciones de menor coste. <br>    
        </td>
    </tr>
    <tr>
        <td class="texto">4.Revisar la base general para identificar oportunidades de normalización, abastecimiento único y otras estrategias que pueden disminuir los costes de 
        adquisición, soporte y mantenimiento.</td>
    </tr>
    <tr>
        <td class="texto">5.Usar estadísticas de capacidad y utilización para identificar activos infrautilizados o redundantes que pudieran ser considerados para su eliminación o <br>
            sustitución por otro con menores costes.
            </td>
    </tr>
    <tr>
        <td class="texto">6.Revisar el estado general para identificar las oportunidades para aprovechar tecnologías emergentes o estrategias de aprovisionamiento alternativas <br>
            para reducir los costes o incrementar el valor del dinero.
            </td>
    </tr> 
    
</table>

<br>

<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/pagina163">BAI09</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina164">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina165">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina166">3</a></li>
      
      
      <li class="page-item"><a class="page-link" routerLink="">Next</a></li>
      
    </ul>
  </nav><br>
