<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <table class="container" style="width: 87%;">
        <tr>
            <td colspan="2">APO09 Directrices relacionadas</td>
        </tr>
        <th>
            Estándar Relacionado
        </th>
        <th>
            Referencia Detallada
        </th>
        <tr>
            <td>ISO/IEC 20000</td>
            <td>5.0 Planificar e implantar servicios nuevos o modificados<br>
                6.0	Gestión del nivel del servicio</td>
        </tr>
        <tr>
            <td>ITIL V3 2011</td>
            <td>2. Gestión de la Demanda<br>
                3. Gestión de la Cartera de Servicios<br>
                5. Gestión del Catálogo de Servicios<br>
                6. Gestión del Nivel del Servicios<br>
                26. Informes del Servicios</td>
        </tr>
    </table>
</body>
</html><br>
<nav aria-label="Page navigation example " class="container" style="width: 89%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">APOO9</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo9tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/Apo09raci">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo9tabla2">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo9tabla3">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo9tabla4">5</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
      
    </ul>
  </nav>
