<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="container" style="width: 85%; margin: 0 auto;">
        <thead>
            <tr>
                <th class="azultabla1" colspan="6">BAI07 Prácticas, Entradas/Salidas y Actividades del Proceso (cont.)</th>
            </tr>
        </thead>
        <thead>    
        <th class="celeste2tabla1">
            Práctica de Gestión
        </th>
        <th colspan="2" class="celeste2tabla1">
            Entradas
        </th>
        <th colspan="2" class="celeste2tabla1">
            Salidas
        </th>
        </thead>
        <tr>
            <td rowspan="7"> <strong> BAI07.02 Planificar la conversación de procesos de negocio, <br>sistemas y datos.</strong> <br>       
               Preparar la migración de proceso de negocio, datos de los <br>
               servicios de TI e infraestructuras como parte de los mecanismos <br>
               de desarrollo de la emopresa, incluyendo registros de auditorìa y un <br>plan de recuperación para el caso de que la mmigración fallara.
                </td>
            <th>De</th>
            <th>Descripción</th>
            <th>Descripción</th>
            <th>A</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Plan de migración</td>
            <td><a href="/dsso6tabla3">DSS06.02</a></td>
        </tr>
    </table>
    <table class="container" style="width: 85%; margin: 0 auto;">
        <thead >
        <tr>
            <td colspan="7" align="center" class="celeste2tabla1"><b>Actividades</b>  </td>
        </tr>
        </thead>
        <tr>
            <td colspan="7">1. Definir un plan de migración de procesos de negocio, datos, servicios e infraestructura de TI. Considerar, por ejemplo, hardware, redes, sistemas
                operativos, software, datos transaccionales, ficheros maestros, copias de seguridad y archivadas, interfaces con otros sistemas (tanto internos como externos),
                posibles requisitos de cumplimiento y documentación del sistema en el desarrollo del plan .
                </td>
        </tr>
        <tr>
            <td colspan="7">2.Considerar todos los ajustes necesarios a los procedimientos, incluyendo roles y responsabilidades revisados y procedimientos de control en el plan 
                de conversación del proceso de negocio.
                </td>
        </tr>
        <tr>
            <td colspan="7">3.Incluir en el plan de conversación de datos, mètodos para recopilar, convertit y verificar los datos que han de ser convertidos e identificar y resolver
                cualquier error encontrado durante la conversación. Incluir la comparación entre el dato convertido y el original para asegurar completitud e integridad.
                </td>
        </tr>
        <tr>
            <td colspan="7">4.Confirmar que el plan de conversación de datos no requiere cambios en los valores de los datos a menos que sea absolutamente necesario por razones
                de negocio. Documentar los cambios hechos a balores de los datos y asegurar la aprobación del propietario de los datos del proceso de negocio.
                </td>
        </tr>
        <tr>
            <td colspan="7">5.Ensayar y probar la conversación antes de intentar hacer una conversación en vivo.
                </td>
        </tr>
        <tr>
            <td colspan="7">6.Considerar el riesgo de problemas en la conversación, planificación de continuidad de negocio y procedimientos de marcha atràs en los planes de migración del proceso de negocio
                datos e infraestructura, allà donde haya requisitos derivados de la gestión de riesgos, de necesidades de negocio o de cumplimiento normativo o legal.
                </td>
        </tr>
        <tr>
            <td colspan="7">7.Coordinar y verificar el timepo y completitud de los puntos de corte en la conversación, de forma que haya una transición continua y suave sin pèrdidas en los datos transaccionales, Donde sea necesario, en caso
                de que no hubiera alternativa, paralizar las operaciones en producción. 
                </td>
        </tr>
        <tr>
            <td colspan="7">8.Planificar el respaldo de todos los sistemas y datos tomados hasta el instante anterior a la conversión. Mantener de registros de auditorìa para posibilitar que pueda seguirse la traza de la conversación
                y asegurar que hay un plan de recuperación que cubra la marcha atràs de la migración y la vuelta al procesamiento anterior, en caso de que l amigración fallara. 
                </td>
        </tr>
        <tr>
            <td colspan="7" >9.Planificar la conservación de las copias de seguridad y datos archivados para cumplir con los requisitos derivados de necesidades de negocio, cumplimiento legal o normativo que exista.
                </td>
        </tr>
        <tbody>
            <tr>
                <th class="celeste2tabla1" colspan="2">Prácticas de Gestión</th>
                <th class="celeste2tabla1" colspan="2">Entradas</th>
                <th class="celeste2tabla1" colspan="2">Salidas</th>
            </tr>
            <tr>
                <td rowspan="4" colspan="2" class="texto"><b>BAI07.03 Planificar pruebas de aceptación.</b> <br>
                    Establecer un plan de pruebas basado en estándares corporativos <br> que definen roles, responsabilidades y criterios de entrada y salida. <br>
                    Asegurar que el plan es aprobado por las partes relevantes.
                <th colspan="1">De</th>
                <th colspan="1">Descripción</th>
                <th colspan="1">Descripción</th>
                <th colspan="1">A</th>
            </tr>
            <tr>
                <td colspan="1"><a href="/pagina125">BAI01.09</a></td>
                <td colspan="1">Requisitos para la verificaciòn<br>independiente de los entregables</td>
                <td rowspan="4" class="texto">Plan de pruebas de <br> aceptación aprogado</td>
                <td rowspan="4" class="texto"><a href="">BAI01.04 </a><br><a href="">BAI01.08</a> </td>
            </tr>
            <tr>
                <td colspan="1"><a href="/pagina137">BAI03.07</a></td>
                <td colspan="1"> •Procedimientos de prueba <br> •Planes de prueba</td>
            </tr>
            <tr>
                <td colspan="1"><a href="/pagina138">BAI03.08</a></td>
                <td colspan="1"> •Comunicaciones de los <br> resulttados de las pruebas <br>
                    •Registros y pistas de auditoría de <br>los resultados de las pruebas </td>
            </tr>
            <tr>
            <tr>
                <td colspan="6" align="center" class="celeste2tabla1"><b>Actividades</b> 
                </td>
            </tr>
            <tr>
                <td colspan="6">1. Desarrollar y documentar el plan de pruebas, de froma que estè alineado con el programa y plan de calidad del proyecto y estándares relevantes de la 
                    organizaciòn. Comunicar y consultar con los propietarios de procesos de negocio y grupos de interès de TI adecuados.
                </td>
            </tr>
            <tr>
                <td colspan="6">2. Asegurar que el plan de pruebas refleja una evaluaciòn de riesgo del proyecto y que todos los requisitos funcionales y tecnicos son probados. El plan deberìa 
                    incluir requisitos de rendimiento, carga de trabajo, usabilidad, pruebas piloto y pruebas de seguridad basàndose en la evaluaciòn del riesgo de fallo del sistema y errores en la implementación.
                </td>
            </tr>
            <tr>
                <td colspan="6">3. Asugurar que el plan de pruebas trata la necesidad potencial de acreditaciòn interna o externa de los resultados del proceso de pruebas (ej. requisitos de cumplimiento normativo financiero)
                </td>
            </tr>
            <tr>
                <td colspan="6">4. Asegurar que el plan de pruebas identifica los recursos necesarios para ejecutar las pruebas y evaluar los resultados. Ejemplos de recursos pueden ser la preparación
                    de entornos de pruebas y el tiempo dedicado por el personal al grupo de pruebas, incluyendo el posible reemplazo temporal del personal de los entornos de producción o desarrollo que se dedique a las pruebas,
                    incluyendo el posible reemplazo temporal del personal de los entornos de producciòn o desarrollo que se dedique a las pruebas. Asegurar que se consulta a las partes interesadas sobre la implicaciòn de estos recursos en el plan de pruebas.
                </td>
            </tr>
            <tr>
                <td colspan="6">5. Asegurar que el plan de pruebas identifica las fases de prueba adecuadas a los requisitos de operaciòn y de entorno. Algunos ejemplos de estas fases de prueba son pruebas unitarias, pruebas de sistemas, pruebas de integraciòn, pruebas de aceptación de usuario, pruebas de rendimiento, pruebas de carga
                    de trabbajo, pruebas de conversación de datos, pruebas de seguridad, pruebas de disponibilidad operativa y pruebas de copia de respaldo y recuperaciòn.
                </td>
            </tr>
            <tr>
                <td colspan="6">6. Confirmar que el plan de pruebas toma en consideraciòn la preparación de las pruebas (incluyendo la preparación del emplazamiento), requisitos de formación, instalación o actualización de un entorno de pruebas definifo, planificar/realizar/documentar/conservar los casos de prueba, la gestión, correciòn y escalado de errores y problemas y la aprobaciòn formal.
                </td>
            </tr>
            <tr>
            </tr>
        <tbody>
    </table>
</body>
</html><br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">BAI07</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina153">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina154">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina155">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina156">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina157">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina158">6</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
      
    </ul>
  </nav><br>
