<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>

<body>
    <table class="container" style="width: 87%;">
        <tr>
            <td colspan="5">APO08 Prácticas, Entradas/Salidas y Actividades del Proceso (cont.)</td>
        </tr>
        <th>
            Práctica de Gestión
        </th>
        <th colspan="2">
            Entradas
        </th>
        <th colspan="2">
            Salidas
        </th>
        <tr>
            <td rowspan="7">
                APO08.04 Coordinar y comunicar.<br>
                Trabajar con las partes interesadas y coordinar de extremo a extremo la entrega de los servicios TI y
                las soluciones proporcionadas al negocio.
            </td>
            <td>De</td>
            <td>Descripción</td>
            <td>Descripción</td>
            <td>A</td>
        </tr>
        <tr>
            <td>APO09.03</td>
            <td>ANSs-Acuerdos de Nivel de Servicio</td>
            <td>Plan de comunicación</td>
            <td>Interno</td>
        </tr>
        <tr>
            <td>APO12.06</td>
            <td>Comunicación del impacto del riesgo</td>
            <td>Paquetes de comunicación</td>
            <td>Interno</td>
        </tr>
        <tr>
            <td>BAI05.05</td>
            <td>Plan de uso y operación</td>
            <td rowspan="4">Respuestas de los clientes</td>
            <td rowspan="4">Interno</td>
        </tr>
        <tr>
            <td>BAI07.07</td>
            <td>Plan de soporte adicional</td>
        </tr>
        <tr>
            <td>BAI09.02</td>
            <td>Comunicaciones de los tiempos de mantenimiento</td>
        </tr>
        <tr>
            <td>DSS03.04</td>
            <td>Comunicación del conocimiento adquirido</td>
        </tr>
        <tr>
            <td colspan="5">Actividades</td>
        </tr>
        <tr>
            <td colspan="5">1. Coordinar y comunicar cambios y actividades de transición tales como proyectos, planes de
                cambio, planificaciones, políticas de lanzamiento, errores conocidos y concienciación sobre formación.
            </td>
        </tr>
        <tr>
            <td colspan="5">2. Coordinar y comunicar actividades operativas, roles y responsabilidades, incluyendo la
                definición de los tipos de petición, escalado jerárquico, periodos de interrupción significativos
                (planeados o no) y contenido y frecuencia de los informes del servicio.</td>
        </tr>
        <tr>
            <td colspan="5">3. Tomar consideración de la reacción del negocio ante eventos que puedan influenciar en la
                relación con el mismo. Proporcionar soporte directo si fuera necesario.</td>
        </tr>
        <tr>
            <td colspan="5">4. Mantener un plan de comunicación extremo a extremo que define el contenido, frecuencia y
                destinatarios de la información de la entrega del servicio, incluyendo el estado del valor entregado y
                los riesgos identificados.</td>
        </tr>
        <th>
            Práctica de Gestión
        </th>
        <th colspan="2">
            Entradas
        </th>
        <th colspan="2">
            Salidas
        </th>
        <tr>
            <td rowspan="8">
                APO08.05 Proveer datos de entrada para la mejora continua de los servicios.<br>
                Mejorar y evolucionar continuamente los servicios basados en TI y la entrega del servicio a la empresa
                para alinearlos con unos cambiantes requisitos de empresa y tecnológicos.
            </td>
            <td>De</td>
            <td>Descripción</td>
            <td>Descripción</td>
            <td>A</td>
        </tr>
        <tr>
            <td>APO09.02</td>
            <td>Catálogo de servicios</td>
            <td>Análisis de satisfacción</td>
            <td>APO09.04</td>
        </tr>
        <tr>
            <td>APO11.03</td>
            <td>Resultados de calidad del servicio, incluyendo la opinión del cliente.<br>
                Requisitos del cliente para la gestión de la calidad</td>
            <td rowspan="6">Definición de proyectos de mejora potencial</td>
            <td rowspan="6">APO02.02<br>
                BAI03.11</td>
        </tr>
        <tr>
            <td>APO11.04</td>
            <td>Resultados de revisiones y auditorias de calidad</td>
        </tr>
        <tr>
            <td>APO11.05</td>
            <td>Resultados de la monitorización de la calidad de entrega del servicio y soluciones</td>
        </tr>
        <tr>
            <td>BAI03.10</td>
            <td>Plan de Mantenimiento</td>
        </tr>
        <tr>
            <td>BAI05.05</td>
            <td>Mediciones de éxito y resultados</td>
        </tr>
        <tr>
            <td>BAI07.07</td>
            <td>Plan de soporte adicional</td>
        </tr>
        <tr>
            <td colspan="5">Actividades</td>
        </tr>
        <tr>
            <td colspan="5">1. Llevar a cabo análisis de satisfacción de cliente y proveedores. Asegurar que se actúa
                sobre las cuestiones detectadas y que se reportan los resultados y estados.</td>
        </tr>
        <tr>
            <td colspan="5">2. Trabajar conjuntamente para identificar, comunicar e implementar iniciativas de mejorar.
            </td>
        </tr>
        <tr>
            <td colspan="5">3. Trabajar con la gestión del servicio y los propietarios de los procesos para asegurar que
                los servicios basadas en TI y la gestión de los procesos del servicio son mejorados continuamente y las
                causas raíz de cualquier incidente son identificadas y resueltas.</td>
        </tr>
    </table>
    <table class="container" style="width: 87%;">
        <tr>
            <td colspan="2">APO08 Directrices relacionadas</td>
        </tr>
        <th>
            Estándar Relacionado
        </th>
        <th>
            Referencia Detallada
        </th>
        <tr>
            <td>ISO/IEC 20000</td>
            <td>7.2 Gestión de las relaciones con el negocio</td>
        </tr>
        <tr>
            <td>ITIL V3 2011</td>
            <td>2 Gestión de la Demanda</td>
        </tr>
    </table>
</body>

</html><br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">APOO8</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo8tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/Apo08raci">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo8tabla3">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo8tabla4">4</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
      
    </ul>
  </nav>
