<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>localhost4200</title>

</head>


<body>
    <div class="tabla3">
        <table class="table table-bordered">
         <thead>
           <tr>
             <th class="azultabla1" colspan="6">EDMO1 Prácticas, actividades y entradas/salidas del Proceso</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <th class="celeste2tabla1" colspan="2">Práctica de gobierno</th>
             <th class="celeste2tabla1" colspan="2">Entradas</th>
             <th class="celeste2tabla1" colspan="2">Salidas</th>
           </tr>
           <tr>
             <td rowspan="6" colspan="2"><a href="edm02tabla1">EDMO2.01</a> Evaluar la optimización de valor. Evaluar continuamente las inversiones, servicios y 
                 activos del portafolio de TI para determinar la probabilidad de alcanzar los objetivos de la empresa y aportar valor a 
                 un coste razonable. Identificar y juzgar cualquier cambio en la dirección que necesita ser dada a la gestión para 
                 optimizar la creación de valor.</td>
               <th class="celeste2tabla1" colspan="1">De</th>
               <th class="celeste2tabla1" colspan="1">Descripción</th>
               <th class="celeste2tabla1" colspan="1">Descripción</th>
               <th class="celeste2tabla1" colspan="1">A</th>
           </tr>
           <tr>
             <td colspan="1"><a href="pagina57">APO02.05</a></td>
             <td colspan="1">Hoja de ruta estratégica</td>
             <td colspan="1">Evaluación de la alineación estratégica</td>
             <td colspan="1">
               <p><a href="pagina57">APO02.04</a></p>
               <p><a href="pagina73">APO05.03</a></p></td>
           </tr>
           <tr>
             <td rowspan=""><a href="pagina73">APO05.02</a></td>
             <td rowspan="1"> <p>Expectativas del retorno de inversión</p>
             <td rowspan="4">Evaluación de inversiones y portafolio de servicios </td>
             <td rowspan="4">
              <p><a href="pagina73">APO05.03</a></p>
              <p><a href="pagina73">APO05.04</a></p>
              <p><a href="apo6tabla1">APO06.02</a></p> </td>
           </tr>
           <tr>
             <td colspan="1"><a href="pagina73">APO05.03</a></td>
             <td colspan="1">Programas seleccionados con hitos para el retorno de inversión (ROI)</td>
           </tr>
           <tr>
            <td colspan="1"><a href="pagina73">APO05.06</a></td>
            <td colspan="1">Resultados de beneficio y comunicación relacionada</td>
          </tr>
          <tr>
            <td colspan="1"><a href="pagina119">BAI01.06</a></td>
            <td colspan="1">Resultados de las revisiones en los cambios de fase (stage-gate)</td>
          </tr>
           <tr>
             <th class="celeste2tabla1" colspan="6">Actividades</th>
           </tr>
           <tr>
             <td colspan="6">1. Comprender los requerimientos de las partes interesadas; temas estratégicos de TI, tales como la 
                 dependencia de las Tl; y comprender la tecnología y sus capacidades considerando la importancia actual y potencial 
                 de TI para la estrategia de la empresa. </td>
           </tr>
           <tr>
             <td colspan="6">2. Comprender los elementos clave de gobierno necesarios para la entrega fiable, segura y coste efectiva 
                 de un valor óptimo por el uso de los servicios, activos y recursos de Tl existentes y potenciales.</td>
           </tr>
           <tr>
             <td colspan="6">3. Comprender y discutir regularmente las oportunidades que podrían surgir de los cambios habilitados en 
                la empresa por las tecnologías actuales, nuevas o emergentes y optimizar el valor creado por estas oportunidades. </td>
           </tr>
           <tr>
             <td colspan="6"> 4. Comprender lo que se entiende por valor en la empresa y considerar cómo de bien se ha comunicado, comprendido
                y aplicado a través de los procesos de la empresa.</td>
           </tr>
           <tr>
             <td colspan="6">5. Evaluar la efectividad de la integración y alineamiento de las estrategias de Tl en la empresa y con los objetivos 
                 de la empresa para aportar valor.</td>
           </tr>
           <tr>
             <td colspan="6">6. Comprender y considerar cómo de efectivos son los roles, responsabilidades, asignaciones y organismos de 
                toma de decisiones actuales asegurando la creación de valor de las inversiones, servicios y activos de TI. </td>
           </tr>
           <tr>
             <td colspan="6">7. Considerar cómo de bien alineada está la gestión de las inversiones, servicios y activos de TI con la 
                gestión de valor y las prácticas de gestión financiera. </td>
           </tr>
           <tr>
             <td colspan="6">8. Evaluar la alineación del portafolio de inversiones, servicios y activos con los objetivos estratégicos 
                de la empresa; con el valor de la empresa financiero y no financiero; con el riesgo, tanto de servicio como al del 
                beneficio; con los procesos de negocio; la efectividad en términos de usabilidad, disponibilidad y responsabilidad; 
                y eficiencia en términos de coste, redundancia y salud técnica.</td>
           </tr>
         </tbody>
       </table>
     </div>
</body>

</html>

<br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="home">EDM02</a></li>
      <li class="page-item"><a class="page-link" href="edm02tabla1">1</a></li>
      <li class="page-item"><a class="page-link" href="listar-second">2</a></li>
      <li class="page-item"><a class="page-link" href="edm02tabla3">3</a></li>
      <li class="page-item"><a class="page-link" href="edm02tabla4">4</a></li>
      <li class="page-item"><a class="page-link" href="edm02tabla5">5</a></li>
      <li class="page-item"><a class="page-link" href="edm02tabla4">Next</a></li>
      
    </ul>
  </nav><br>


