<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>

<body>
    <table class="container" style="width: 87%;">
        <tr>
            <td colspan="5">APO12 Prácticas, Entradas/Salidas y Actividades del Proceso (cont.)</td>
        </tr>
        <th>
            Prácticas de Gestión
        </th>
        <th colspan="2">
            Entradas
        </th>
        <th colspan="2">
            Salidas
        </th>
        <tr>
            <td rowspan="4">
                APO12.06 Responder al riesgo.<br>
                Responder de una forma oportuna con medidas afectivas que limiten la magnitud de pérdida por eventos
                relacionados con TI.
            </td>
            <td>De</td>
            <td>Descripción</td>
            <td>Descripción</td>
            <td>A</td>
        </tr>
        <tr>
            <td rowspan="3">EDM03.03</td>
            <td rowspan="3">Acciones correctoras para tratar las desviaciones de gestión de riesgos</td>
            <td>Planes de respuesta para incidentes relacionados con el riesgo</td>
            <td>DSS02.05</td>
        </tr>
        <tr>
            <td>Comunicaciones del impacto del riesgo</td>
            <td>APO01.04<br>
                APO08.04<br>
                DSS04.02</td>
        </tr>
        <tr>
            <td>Causas raíz relacionadas con el riesgo</td>
            <td>DSS02.03<br>
                DSS03.01<br>
                DSS03.02<br>
                DSS04.02<br>
                MEA02.04<br>
                MEA02.07<br>
                MEA02.08</td>
        </tr>
        <tr>
            <td colspan="5">Actividades</td>
        </tr>
        <tr>
            <td colspan="5">1. Preparar, mantener y probar planes que documenten los pasos específicos a tomar cuando un
                evento de riesgo pueda causar un incidente significativo operativo o evolucionar en un incidente con un
                impacto de negocio grave. Asegurar que los planes incluyan vías de escalado a través de la empresa.</td>
        </tr>
        <tr>
            <td colspan="5">2. Categorizar los incidentes y comparar las exposiciones reales con los umbrales de
                tolerancia al riesgo. Comunicar los impactos en el negocio a los responsables de toma de decisiones como
                parte de la notificación y actualizar el perfil de riesgo.</td>
        </tr>
        <tr>
            <td colspan="5">3. Aplicar el plan de respuesta apropiado para minimizar el impacto cuando ocurren
                incidentes de riesgo.</td>
        </tr>
        <tr>
            <td colspan="5">4. Examinar eventos adversos/pérdidas del pasado y oportunidades perdidas y determinar sus
                causas raíz. Comunicar la causa raíz, requerimientos de respuesta adicionales para el riesgo y mejoras
                de proceso a los responsables de toma de decisiones apropiados y asegurarse de que la causa, los
                requerimientos de respuesta y la mejora del proceso se incluyan en los procesos de gobierno del riesgo.
            </td>
        </tr>
    </table>
    <table class="container" style="width: 87%;">
        <tr>
            <td colspan="2">APO12 Guía Relacionada</td>
        </tr>
        <th>
            Estándar Relacionado
        </th>
        <th>
            Referencia Detallada
        </th>
        <tr>
            <td>ISO/IEC 27001:2005</td>
            <td>Sistemas de gestión de la seguridad de información - Requerimientos, Sección 4</td>
        </tr>
        <tr>
            <td>ISO/IEC 27002:2011</td>
            <td></td>
        </tr>
        <tr>
            <td>ISO/IEC 31000</td>
            <td>6. Procesos para la Gestión del Riesgo</td>
        </tr>
    </table>
</body>

</html><br>
<nav aria-label="Page navigation example " class="container" style="width: 812%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">APOO12</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo12tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/Apo012raci">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo12tabla2">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo12tabla3">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo12tabla4">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo12tabla5">12</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
      
    </ul>
  </nav>
