<table class="table table-bordered" class="container" style="width: 87%;">
    <thead>
        <tr>
            <th class="azultabla1" colspan="6">BAI05 Prácticas, Entradas/Salidas y Actividades del Proceso (cont.)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th class="celeste2tabla1" colspan="2">Prácticas de Gestión</th>
            <th class="celeste2tabla1" colspan="2">Entradas</th>
            <th class="celeste2tabla1" colspan="2">Salidas</th>
        </tr>
        <tr>
            <td rowspan="4" colspan="2" class="texto"><strong>BAI05.02 Formar un equipo de implementaciòn </strong><br>efectivo.<br>
                Establecer un equipo de implementaciòon efectivo, <br>
                con miembros adecuados, creando confianza y <br> estableciendo metas comunes y medidas efectivas.
                <br>
            <th colspan="1"><b>De</b> </th>
            <th colspan="1"><b>Descripción</b></th>
            <th colspan="1"><b>Descripción</b></th>
            <th colspan="1"><b>A</b></th>
        </tr>
        <tr>
            <td rowspan="3" class="texto"><a routerLink="/pagina130">BAI02.01</a> </td>
            <td rowspan="3" class="texto">Criterios de aceptaciòn <br>de las partes interesadas <br>confirmados</td>
            <td colspan="1" class="texto">Equipo de implementaciòn <br> y roles  </td>
            <td colspan="1" class="texto"><a routerLink="/pagina122">BAI01.04</a></td>
        </tr>
        <tr>
            <td colspan="1" class="texto">Visiòn y objetivos comunes </td>
            <td colspan="1" class="texto"><a routerLink="bai01.02">BAI01.02</a><br></td>
        </tr>
        <tr>
        <tr>
            <td class="celeste2tabla1" colspan="6" align="center"><strong>Actividades</strong>
            </td>
        </tr>
        <tr>
            <td colspan="6" class="texto">1. Identificar y montar un equipo de implementaciòn principal efectivo que inclutya miembros adecuados de TI y del negocio con la capacidad de invertir
                el tiempo necesario y contribuir con conocimiento, pericia, experiencia, credibilidad y autoridad. Considerar incluir a terceros externos, tales como 
                consultores, para proveer una visiòn independiente o para abordar las brechas en habilidades. Identificar agentes de cambio potenciales dentro de las 
                diferentes partes de la empresa con quienes el equipo principal pueda trabajar para  que den soporte a la visiòn y los cambios vayan en cascada hacia 
                abajo.
            </td>
        </tr>
        <tr>
            <td colspan="6" class="texto">2.Crear confianza dentro del equipo de implementaciòn principal mediante eventos planificados cuidadosamente con comunicación y actividades conjuntas efectivas
            </td>
        </tr>
        <tr>
            <td colspan="6" class="texto">3.Desarrollar una visiòn y metas comunes que soporten los objetivos empresariales.
            </td>
        </tr>
        <tr>
        </tr>
        <tr>
            <tr>
                <th class="celeste2tabla1" colspan="2">Prácticas de Gestión</th>
                <th class="celeste2tabla1" colspan="2">Entradas</th>
                <th class="celeste2tabla1" colspan="2">Salidas</th>
            </tr>
            <td rowspan="4" colspan="2" class="texto"><strong>BAI05.03 Comunicar la visiòn deseada.</strong><br>
                Comunicar la visiòn deseada para el cambio en el <br>lenguajes de aquellos que se veran afectados. La <br>
                comunicación deberia ser realizada por la alta direcciòn <br>
                e incluir la razon de ser y los beneficios del cambio, <br>
                 el impacto de no hacerlo y la vision, la hoja de ruta <br>
                 y la participaciòn requerida de las diversas partes interesadas 
            <th colspan="1"><b>De</b></th>
            <th colspan="1"><b></b>Descripción</th>
            <th colspan="1" rowspan="2"><b>Descripción</b></th>
            <th colspan="1" rowspan="2"><b>A</b></th>
        <tr>
            <td rowspan="4"></td>
            <td rowspan="4"></td>
        </tr>
        <tr>
            <td colspan="1" class="texto">Plan de comunicación<br>de la visiòn</td>
            <td colspan="1" class="texto"><a routerLink="/pagina122">BAI01.04</a><br></td>
        </tr>
        <tr>
            <td colspan="1" class="texto">comunicaciones de la <br> visiòn</td>
            <td colspan="1" class="texto"><a routerLink="bai01.05">BAI01.05</a></td>
        </tr>
        <tr>
        <tr>
            <td class="celeste2tabla1" colspan="6" align="center">Actividades
            </td>
        </tr>
        <tr>
            <td colspan="6" class="texto">1.Desarrollar un plan de comunicaciòn de la visiòn para abordar a los grupos de audiencia principales, sus perfiles de comportamiento y requisitos de informaciòn, canales de comunicación y principios</td>
        </tr>
        <tr>
            <td colspan="6" class="texto">2.Realizar la comunicaciòn a niveles adecuados de la empresa de acuerdo con el plan.
            </td>
        </tr>
        <tr>
            <td colspan="6" class="texto">3.Reforzar la comunicación mediante repeticiòn y multiples foros.
            </td>
        </tr>
        <tr>
            <td colspan="6" class="texto">4.Verificar la comprensiòn de la visiòn deseada y dar respuesta a cualquier cuestiòn destacada por el personal.
            </td>
        </tr>
        <tr>
            <td colspan="6" class="texto">5.Hacer responsables a todos los niveles de liderazgo para demostrar la visiòn.
            </td>
        </tr>
        <tr>
        </tr>
        <tbody>
        <tr>
            <th class="celeste2tabla1" colspan="2">Prácticas de Gestión</th>
            <th class="celeste2tabla1" colspan="2">Entradas</th>
            <th class="celeste2tabla1" colspan="2">Salidas</th>
        </tr>
        <tr>
            <td rowspan="4" colspan="2" class="texto"><strong>BAI05.04 Facultar a los que juegan algùn e <br>
                identificar ganancias en el corto plazo.</strong><br>
                Facultad a aquellos con los roles en la implementaciòn <br>
                asegurando que se han asignado responsabilidades <br>
                se ha dado formaciòn y se han alineado a las estructuras <br>
                orgnizativas y procesos de RRHH. Identificar y <br> comunicar ganancias en el corto plazo que pueda ser <br>
                realizadas y resulten importantes desde una perspectiva <br>
                de posibilitar el cambio.
            <th colspan="1"><b>De</b></th>
            <th colspan="1"><b>Descripción</b></th>
            <th colspan="1"><b>Descripción</b></th>
            <th colspan="1"><b>A</b></th>
        </tr>
        <tr>
            <td rowspan="4" class="texto">Fuera del ambito <br>del COBIT </td>
            <td rowspan="4" class="texto">Estructura de organizativa de  <br>la empresa</td>
            <td colspan="1" class="texto">Metas de desempeño de <br> RRHH alineadas </td>
            <td colspan="1" class="texto"><a routerLink="/pagina85">AP007.04</a></td>
        </tr>
        <tr>
            <td colspan="1" class="texto">Beneficios en el corto plazo <br>(quick-wins) identificados</td>
            <td colspan="1" class="texto"><a routerLink="/pagina122">BAI01.04</a><br></td>
        </tr>
        <tr>
            <td colspan="1" class="texto">Comunicaciòn de los<br> beneficios</td>
            <td colspan="1" class="texto"><a routerLink="/pagina123">BAI01.06</a></td>
        </tr>
        <tr>
        <tr>
        <tr>
        <tr>
            <td class="celeste2tabla1" colspan="6" align="center"><strong>Actividades</strong>
            </td>
        </tr>
        <tr>
            <td colspan="6" class="texto">1.Identificar estructuras organizativas compatibles con la visiòn; si fuera necesario, realizar cambios para asegurar al alineamiento.
            </td>
        </tr>
        <tr>
            <td colspan="6" class="texto">2.Planificar las necesidades de formaciòn del personal para desarrollar habilidades y actitudes adecuadas para que se sientan facultados.
            </td>
        </tr>
        <tr>
            <td colspan="6" class="texto">3.Alinear los procesos de RRHH y sistemas de mediciòn (p. ej., evaluaciòn del desempeño, decisiones de compensaciòn, decisiones de promociòn, reclutamiento y contrataciòn)
                para dar soporte a la visiòn.
            </td>
        </tr>
        <tr>
            <td colspan="6" class="texto">4.Identificar y gestionar lideres que continuen resistiendose a las necesidad de cambio.
            </td>
        </tr>
        <tr>
            <td colspan="6" class="texto">5.Identificar, priorizar y proveer oportunidades de victorias ràpidas (quick-wins). Dichas victorias podrian estar relacionadas con areas actuales de dificultad conocida o factores externos que necesitan ser abordados de forma urgente.
            </td>
        </tr>
        <tr>
            <td colspan="6" class="texto">6.Aprovechar las victorias rapidas conseguidas mediante la comunicaciòn de los beneficios a aquellos afectado para mostrar que la visiòn en el buen cambio. Afinar la visiòn, mantener a los lideres a bordo y contruir 'momentum'.
            </td>
        </tr>
</table><br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/pagina145">BAI05</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina146">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina147">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina148">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
      
    </ul>
  </nav><br>
