<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>

<style>

.azultabla1{
    background: rgb(39, 70, 172);
    color: white;
    border: 1px solid black;
}
.celestetabla1{
    background: rgb(255, 255, 255);
    
}
.celeste2tabla1{
    background: rgb(163, 189, 219);
    
}
</style>

<body>
    <table class="container" style="width: 87%;">
        <tr>
            <td class="azultabla1"><a class="nav-link" routerLInk="/pagina69">APO04</a>  Gestionar la Innovación</td>
        </tr>
        <tr>
            <td>Descripción del Proceso<br>
                Mantener un conocimiento de la tecnología de la información y las tendencias relacionadas con el
                servicio, identificar las oportunidades de innovación y planificar la manera de beneficiarse de la
                innovación en relación con las necesidades del negocio. Analizar cuáles son las oportunidades para la
                innovación empresarial o qué mejora puede crearse con las nuevas tecnologías, servicios o innovaciones
                empresariales facilitadas por TI, así como a través de las tecnologías ya existentes y por la innovación
                en procesos empresariales y de TI. Influir en la planificación estratégica y en las decisiones de la
                arquitectura de empresas.
            </td>
        </tr>
        <tr>
            <td>Objetivo del proceso<br>
                Lograr ventaja competitiva, innovación empresarial y eficacia y eficiencia operativa mejorada mediante
                la exportación de los desarrollos tecnológicos para la explotación de la información.
            </td>
        </tr>
        <tr>
            <td>El proceso contribuye al logro de un conjunto de principales objetivos relacionados con la TI.</td>
        </tr>
        <th class="celeste2tabla1">
            Meta relacionada con TI
        </th>
        <th class="celeste2tabla1">
            Métricas Relacionadas
        </th>
        <tr>
            <td>05 Realización de beneficios del portafolio de inversiones y servicios relacionados con TI</td>
            <td>• Porcentaje de inversiones de TI en los que la realización del beneficio se monitoriza a través del
                ciclo de vida económico completo.<br>
                • Porcentaje de servicios TI en los que se realizan los beneficios esperados.<br>
                • Porcentaje de las inversiones en TI donde los beneficios demandados son alcanzados o excedidos.
            </td>
        </tr>
        <tr>
            <td>08 Uso adecuado de aplicaciones, información y soluciones tecnológicas</td>
            <td>• Porcentaje de propietarios de procesos de negocio satisfechos con los productos y servicios TI que dan
                soporte a estos procesos<br>
                • Nivel de comprensión de los usuarios de negocio sobre cómo las soluciones tecnológicas soportan sus
                procesos<br>
                • Nivel de satisfacción de los usuarios de negocio con la formación y manuales de usuario<br>
                • Valor presente neto (NPV) mostrando el nivel de satisfacción del negocio con la calidad y utilidad de
                las soluciones tecnológicas
            </td>
        </tr>
        <tr>
            <td>09 Agilidad de las TI</td>
            <td>• Nivel de satisfacción de los ejecutivos de la empresa con la capacidad de respuesta de TI a nuevos
                requerimientos<br>
                • Número de procesos de negocio críticos soportados por infraestructuras y aplicaciones actualizadas<br>
                • Tiempo medio para convertir los objetivos estratégicos de TI en una iniciativa acordada y aprobada
            </td>
        </tr>
        <tr>
            <td>11 Optimización de activos, recursos y capacidades de las TI</td>
            <td>• Frecuencia de evaluaciones de la madurez de la capacidad y de la optimización de costes<br>
                • Tendencia de los resultados de las evaluaciones<br>
                • Niveles de satisfacción de los ejecutivos de negocio y TI con los costes y capacidades TI
            </td>
        </tr>
        <tr>
            <td>17 Conocimiento, experiencia e iniciativas para la innovación de negocio</td>
            <td>• Nivel de concienciación y comprensión de las posibilidades de innovación de TI del negocio
                ejecutivo<br>
                • Nivel de satisfacción de las partes interesadas con los niveles de experiencia e ideas de la
                innovación TI<br>
                • Número de iniciativas aprobadas resultantes de ideas innovadoras de TI
            </td>
        </tr>
        <tr class="celeste2tabla1">
            <td>Objetivos y Métricas de Procesos</td>
        </tr>
        <th class="celeste2tabla1">
            Meta del Proceso
        </th>
        <th class="celeste2tabla1">
            Métricas Relacionadas
        </th>
        <tr>
            <td>1. El valor de empresa es creado mediante la cualificación y puesta en escena de los avances e
                innovaciones tecnológicas más apropiadas, los métodos y las soluciones TI utilizadas.</td>
            <td>• Penetración en el mercado o competitividad debido a la innovación<br>
                • Percepciones de las partes interesadas y realimentación sobre la innovación en TI
            </td>
        </tr>
        <tr>
            <td>2. Los objetivos de la empresa se cumplen por la mejora de los beneficios de la calidad y/o la reducción
                de costes como resultado de la identificación e implementación de soluciones innovadoras.</td>
            <td>• Porcentaje de las iniciativas implementadas que dieron los beneficios previstos<br>
                • Porcentaje de las iniciativas implementadas con un vinculo claro a los objetivos de la empresa
            </td>
        </tr>
        <tr>
            <td>3. La innovación se permite y se promueve y forma parte de la cultura de empresa.</td>
            <td>• Introducción de objetivos de innovación o relacionados con tecnologías emergentes en las metas de
                rendimiento para personal relevantes<br>
                • Opinión y encuestas de partes interesadas
            </td>
        </tr>
    </table>
</body>

</html><br>
<nav aria-label="Page navigation  example" class="container" style="width: 87%;">
    <ul class="pagination container">
      <li class="page-item"><a class="page-link" >APOO4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina69">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/Apo04raci">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina71">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina72">4</a></li>
      
    
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>
