<div class="container">
    <table class="table">
        <thead class="theader">
        <tr>
            <td class="titulos" scope="col" colspan="5">DSS02 Guías relacionadas</td>
        </tr>
    </thead>
    <thead class="theader">
    <tr>
        <td class="titulos" scope="col">Estándar Relacionado</td>
        <td class="titulos" scope="col">Referencia Detallada</td>
    </tr>
</thead>
<tr>
    <td>ISO/IEC 20000</td>
    <li type="disc">6.1 Gestión de nivel de servicio</li>
    <li type="disc">8.2 Gestión de incidentes</li>
</tr>
<tr>
    <td>ISO 27002</td>
    <td>13. Gestión de Incidentes de Seguridad de la Información</td>
</tr>
<tr>
    <td>ITIL V3 2011</td>
    <li type="disc">20. Gestión de Incidentes</li>
    <li type="disc">21. Cumplimiento de Peticiones</li>
</tr>
</table>
</div>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">HOME</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso2tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/listraci02">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso2tabla2">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso2tabla3">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso2tabla4">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso2tabla5">6</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso2tabla6">7</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso2tabla7">8</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso2tabla8">9</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso2tabla9">10</a></li>
      <li class="page-item"><a class="page-link" href="/dsso3tabla1">DSS03</a></li>
      
    </ul>
  </nav><br>