<div>
    <span class="d-grid gap-2 col-4  mx-auto ">{{title}}</span>
    <form class="container bg-light bc row row-cols-1 row-cols-lg-4 g-1 g-lg-2 " style="height: 10px;" style="width: 60%;" style="margin: 35px   190px;" [formGroup]="head3Form" (ngSubmit)="agregarHead3()">
        <div class="form-group">
            <input type="text" formControlName="xa" class="form-control" placeholder="xa">
            <div class="validacion"
               *ngIf="head3Form.get('xa')?.hasError('required') && head3Form.get('xa')?.touched">
               <span>Este campo<b> es obligatorio</b></span>
            </div>  
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="xb" class="form-control" placeholder="xb">
            <div class="validacion"
                *ngIf="head3Form.get('xb')?.hasError('required') && head3Form.get('xb')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>  
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="xc" class="form-control" placeholder="xc">
            <div class="validacion"
                *ngIf="head3Form.get('xc')?.hasError('required') && head3Form.get('xc')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>  
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="xd" class="form-control" placeholder="xd">
            <div class="validacion"
                 *ngIf="head3Form.get('xd')?.hasError('required') && head3Form.get('xd')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="xe" class="form-control" placeholder="xe">
            <div class="validacion"
                 *ngIf="head3Form.get('xe')?.hasError('required') && head3Form.get('xe')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="xf" class="form-control" placeholder="xf">
            <div class="validacion"
                 *ngIf="head3Form.get('xf')?.hasError('required') && head3Form.get('xf')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="xg" class="form-control" placeholder="xg">
            <div class="validacion"
                 *ngIf="head3Form.get('xg')?.hasError('required') && head3Form.get('xg')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="xh" class="form-control" placeholder="xh">
            <div class="validacion"
                 *ngIf="head3Form.get('xh')?.hasError('required') && head3Form.get('xh')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="xi" class="form-control" placeholder="xi">
            <div class="validacion"
                 *ngIf="head3Form.get('xi')?.hasError('required') && head3Form.get('xi')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="xj" class="form-control" placeholder="xj">
            <div class="validacion"
                 *ngIf="head3Form.get('xj')?.hasError('required') && head3Form.get('xj')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="xk" class="form-control" placeholder="xk">
            <div class="validacion"
                 *ngIf="head3Form.get('xk')?.hasError('required') && head3Form.get('xk')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="xl" class="form-control" placeholder="xl">
            <div class="validacion"
                 *ngIf="head3Form.get('xl')?.hasError('required') && head3Form.get('xl')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="xm" class="form-control" placeholder="xm">
            <div class="validacion"
                 *ngIf="head3Form.get('xm')?.hasError('required') && head3Form.get('xm')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="xn" class="form-control" placeholder="xn">
            <div class="validacion"
                 *ngIf="head3Form.get('xn')?.hasError('required') && head3Form.get('xn')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="xnn" class="form-control" placeholder="xnn">
            <div class="validacion"
                 *ngIf="head3Form.get('xnn')?.hasError('required') && head3Form.get('xnn')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="xo" class="form-control" placeholder="xo">
            <div class="validacion"
                 *ngIf="head3Form.get('xo')?.hasError('required') && head3Form.get('xo')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="xp" class="form-control" placeholder="xp">
            <div class="validacion"
                 *ngIf="head3Form.get('xp')?.hasError('required') && head3Form.get('xp')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="xq" class="form-control" placeholder="xq">
            <div class="validacion"
                 *ngIf="head3Form.get('xq')?.hasError('required') && head3Form.get('xq')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="xr" class="form-control" placeholder="xr">
            <div class="validacion"
                 *ngIf="head3Form.get('xr')?.hasError('required') && head3Form.get('xr')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="xs" class="form-control" placeholder="xs">
            <div class="validacion"
                 *ngIf="head3Form.get('xs')?.hasError('required') && head3Form.get('xs')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="xt" class="form-control" placeholder="xt">
            <div class="validacion"
                 *ngIf="head3Form.get('xt')?.hasError('required') && head3Form.get('xt')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="xu" class="form-control" placeholder="xu">
            <div class="validacion"
                 *ngIf="head3Form.get('xu')?.hasError('required') && head3Form.get('xu')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="xv" class="form-control" placeholder="xv">
            <div class="validacion"
                 *ngIf="head3Form.get('xv')?.hasError('required') && head3Form.get('xv')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="xw" class="form-control" placeholder="xw">
            <div class="validacion"
                 *ngIf="head3Form.get('xw')?.hasError('required') && head3Form.get('xw')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="xx" class="form-control" placeholder="xx">
            <div class="validacion"
                 *ngIf="head3Form.get('xx')?.hasError('required') && head3Form.get('xx')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="xy" class="form-control" placeholder="xy">
            <div class="validacion"
                 *ngIf="head3Form.get('xy')?.hasError('required') && head3Form.get('xy')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>  
          <button routerLink="/listar-three" class="btn btn-danger">Volver</button>  &nbsp;
          <button type="submit" class="btn btn-success" [disabled]="head3Form.invalid">Aceptar</button>
      </div>
    </form>
</div>

