<div class="container">
    <table class="table">
        <thead class="theader">
        <tr>
            <td class="titulos" scope="col" colspan="5">DSS05 Prácticas, Entradas/Salidas y Actividades del Proceso (cont.)</td>
        </tr>
    </thead>
<tr>
    <td style="text-align:center" class="fondo2">Práctica de Gestión</td>
    <td  style="text-align:center" class="fondo2" colspan="2">Entradas</td>
    <td style="text-align:center" class="fondo2" colspan="3">Salidas</td>
</tr>
<th scope="row" rowspan="4">DSS05.05 Gestionar el acceso físico a los activos de TI.
    <p class="texto">Definir e implementar procedimientos para conceder limitar y 
        revocar acceso a locales, edificios y áreas de acuerdo con las 
        necesidades del negocio, incluyendo emergencias. El acceso a locales, 
        edificios y áreas debe estar justificado, autorizado, registrado y 
        supervisado. Esto aplicará a todas las personas que entren en los locales, 
        incluyendo empleados, empleados temporales, clientes, vendedores, 
        visitantes o cualquier otra tercera parte.
    </p>
</th>
<tr>
    <td style="text-align: center;">De</td>
        <td style="text-align: center;">Descripción</td>
        <td style="text-align: center;">Descripción</td>
        <td style="text-align: center;">A</td>
</tr>
<tr>
    <td rowspan="2"></td>
    <td rowspan="2"></td>
    <td>Peticiones de acceso aprobadas</td>
    <td>Interno</td>
</tr>
<tr>
    <td>Registro de acceso</td>
    <td> <a href="dsso6tabla4">DSS06.03</a></td>
</tr>
<tr>
    <td colspan="5" style="text-align:center" class="fondo">Actividades</td>
</tr>
<tr>
    <td colspan="5">1. Gestionar las peticiones y concesiones de acceso a las 
        instalaciones de procesamiento. Las peticiones formales de acceso 
        deben ser completadas autorizadas por la dirección de la ubicación 
        de Tl, y guardado el registro de petición. Los formularios 
        deberían identificar específicamente las áreas las que el individuo 
        tiene acceso concedido.</td>
</tr>
<tr>
    <td colspan="5">2. Asegurar que los perfiles de acceso están actualizados. 
        El acceso a las ubicaciones de TI (salas de servidores, edificios, 
        áreas o zonas) debe basarse en funciones de trabajo y responsabilidades.</td>
</tr>
<tr>
    <td colspan="5">3. Registrar y supervisar todos los puntos de entrada a las 
        ubicaciones de TI. Registrar todos los visitantes de la ubicación, 
        incluyendo contratistas y vendedores.</td>
</tr>
<tr>
    <td colspan="5">4. Instruir a todo el personal para mantener visible la 
        identificación en todo momento. Prevenir la expedición de tarjetas 
        o placas de identidad sin la autorización adecuada.</td>
</tr>
<tr>
    <td colspan="5">5. Escoltar a los visitantes en todo momento mientras estén 
        en la ubicación. Si se encuentra individuo que no va acompañado, que 
        resulta familiar y que no lleva visible la identificación de empleado, 
        se deberá alertar al personal de seguridad.</td>
</tr>
<tr>
    <td colspan="5">6. Restringir el acceso a ubicaciones de TI sensibles estableciendo 
        restricciones en el perímetro, tales como vallas, muros y dispositivos 
        de seguridad en puertas interiores y exteriores. Asegurar que los dispositivos 
        registren el acceso y disparen una alama en caso de acceso no autorizado. 
        Ejemplos de estos dispositivos incluyen placas o tarjetas llave, teclados 
        (keypads), circuitos cerrados de televisión y escáneres biométricos.</td>
</tr>
<tr>
    <td colspan="5">7. Realizar regularmente formación de concienciación de seguridad física.</td>
</tr>
</table>
</div>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">HOME</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/listraci05">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla2">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla3">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla4">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla5">6</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla6">7</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla7">8</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla8">9</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla9">10</a></li>
      <li class="page-item"><a class="page-link" href="/dsso5tabla7">Next</a></li>
      
    </ul>
  </nav><br>
