<div class="container">
    <table class="table">
        <thead class="theader">
            <tr>
                <td class="titulos" scope="col" colspan="5">DSS01 Prácticas, Entradas/Salidas y Actividades del Proceso</td>
            </tr>
            </thead>
<tr>
    <td class="fondo2" style="text-align:center" >Práctica de Gestión</td>
    <td class="fondo2" style="text-align:center" colspan="2">Entradas</td>
    <td class="fondo2" style="text-align:center" colspan="2">Salidas</td>
</tr>
<tr>
    <th scope="row" rowspan="4">DSS01.05 Gestionar las instalaciones
        <p class="texto">Gestionar las instalaciones, incluyendo equipos
            de electricidad y comunicaciones, en línea con las leyes y
            regulaciones, requerimientos ténicos y de negocio y
            directrices de salud y seguridad en el trabajo.
        </p>
    </th>
</tr>
<tr>
    <td style="text-align:center">De</td>
    <td style="text-align:center">Descripción</td>
    <td style="text-align:center">Descripción</td>
    <td style="text-align:center">A</td>
</tr>
<tr>
    <td rowspan="2"></td>
    <td rowspan="2"></td>
    <td>Informes de evaluación de instalaciones</td>
    <td><a href="mea01a">MEA01.03</a></td>
</tr>
<tr>
    <td>Concienciación en salud y seguridad en el trabajo</td>
    <td>Interno</td>
</tr>
<tr>
    <td colspan="5" style="text-align:center" class="fondo">Actividades</td>
</tr>
<tr>
    <td colspan="5">1. Examinar los requerimientos de las instalaciones de 
        TI respecto de la protección frente a la fluctuación y cortes de 
        la energía eléctrica , en relación con otros requerimientos de la 
        planificación de la continuidad del negocio. Disponer de 
        equipamiento adecuado de alimentación ininterrumpida (p.ej. baterías, 
        generadores) para dar soporte a la planificación de continuidad 
        del negocio.</td>
</tr>
<tr>
    <td colspan="5">2. Probar periódicamente los mecanismos del sistema 
        de alimentación ininterrumpida (SAI) y asegurar que la electricidad 
        puede ser conmutada al sistema sin efectos significativos en las 
        operaciones del negocio.</td>
</tr>
<tr>
    <td colspan="5">3. Asegurar que las instalaciones que alojan los 
        sistemas de TI tienen más de un proveedor para los servicios 
        públicos indispensables (p.ej. electricidad, telecomunicaciones, 
        agua, gas ). Separar la acometida de cada servicio.</td>
</tr>
<tr>
    <td colspan="5">4. Confirmar que el cableado externo al sitio TI 
        está bajo tierra o que tiene una protección alternativa adecuada. 
        Determinar que el cableado en el sitio TI está contenido en 
        conductos asegurados y que los armarios de cableado tienen su 
        acceso restringido al personal autorizado. Proteger adecuadamente 
        al cableado contra el daño causado por fuego, humo, agua, 
        interceptación e interferencia.</td>
</tr>
<tr>
    <td colspan="5">5. Asegurar que el cableado y el patching físico 
        (datos y telefonía) están estructurados y organizados. 
        Las estructuras de cableado y de conductos debieran estar 
        documentadas (p.ej. plano del edificio y diagramas de cableado).</td>
</tr>
<tr>
    <td colspan="5">6. Analizar las instalaciones que alojan los 
        sistemas de alta disponibilidad para verificar el cumplimiento 
        de los requerimientos de cableado (externo e interno) en 
        cuanto a redundancia y tolerancia a fallos.</td>
</tr>
<tr>
    <td colspan="5">7. Asegurar que los sitios e instalaciones de 
        TI cumplen de manera sistemática con la legislación, regulaciones, 
        directrices y especificaciones de salud y seguridad en el trabajo.</td>
</tr>
<tr>
    <td colspan="5">8. Proporcionar periódicamente formación al personal 
        en la legislación, regulaciones y directrices relevantes de salud 
        y seguridad en el trabajo. Capacitar al personal en simulacros de 
        incendio y rescate para asegurar el adecuado conocimiento y las 
        acciones apropiadas a tomar en caso de incendio o incidentes 
        similares.</td>
</tr>
<tr>
    <td colspan="5">9. Registrar, supervisar, gestionar y resolver 
        incidentes en las instalaciones siguiendo los procesos de gestión 
        de incidentes de TI. Poner a disposición informes sobre incidentes 
        en instalaciones donde la legislación y las regulaciones requieran 
        su divulgación.</td>
</tr>
<tr>
    <td colspan="5">10. Asegurar que los sitios y el equipamiento de TI 
        son mantenidos de acuerdo con los intervalos de servicio y las 
        especificaciones recomendados por el proveedor. El mantenimiento 
        debe ser realizado únicamente por personal autorizado. </td>
</tr>
<tr>
    <td colspan="5">11. Analizar las alteraciones físicas a los sitios 
        o localizaciones de TI para reevaluar el riesgo del entorno 
        (p.ej. daño por fuego o agua). Informar los resultados de este 
        análisis a los niveles directivos de continuidad de negocio y 
        de gestión de edificios.</td>
</tr>
        </table>
</div>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">HOME</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso1tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/listraci01">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso1tabla2">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso1tabla3">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso1tabla4">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso1tabla5">6</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso1tabla6">7</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso1tabla7">8</a></li>
      <li class="page-item"><a class="page-link" href="/dsso1tabla7">Next</a></li>
      
    </ul>
  </nav><br>
