<div>
     <span class="d-grid gap-2 col-4  mx-auto ">{{title}}</span>
     <form [formGroup]="apo07tituloForm" class="container bg-light bc row row-cols-1 row-cols-lg-4 g-1 g-lg-2" style="height: 10px;" style="width: 60%;" style="margin: 37px   190px;" (ngSubmit)="agregarApo07titulo()">
         <div class="form-group">
             <input type="text" formControlName="apo07titulo1" class="form-control" placeholder="apo07titulo1">
             <div class="validacion"
                *ngIf="apo07tituloForm.get('apo07titulo1')?.hasError('required') && apo07tituloForm.get('apo07titulo1')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>  
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="apo07titulo2" class="form-control" placeholder="apo07titulo2">
             <div class="validacion"
                 *ngIf="apo07tituloForm.get('apo07titulo2')?.hasError('required') && apo07tituloForm.get('apo07titulo2')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>  
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="apo07titulo3" class="form-control" placeholder="apo07titulo3">
             <div class="validacion"
                 *ngIf="apo07tituloForm.get('apo07titulo3')?.hasError('required') && apo07tituloForm.get('apo07titulo3')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>  
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="apo07titulo4" class="form-control" placeholder="apo07titulo4">
             <div class="validacion"
                  *ngIf="apo07tituloForm.get('apo07titulo4')?.hasError('required') && apo07tituloForm.get('apo07titulo4')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="apo07titulo5" class="form-control" placeholder="apo07titulo5">
             <div class="validacion"
                  *ngIf="apo07tituloForm.get('apo07titulo5')?.hasError('required') && apo07tituloForm.get('apo07titulo5')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="apo07titulo6" class="form-control" placeholder="apo07titulo6">
             <div class="validacion"
                  *ngIf="apo07tituloForm.get('apo07titulo6')?.hasError('required') && apo07tituloForm.get('apo07titulo6')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="apo07titulo7" class="form-control" placeholder="apo07titulo7">
             <div class="validacion"
                  *ngIf="apo07tituloForm.get('apo07titulo7')?.hasError('required') && apo07tituloForm.get('apo07titulo7')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="apo07titulo8" class="form-control" placeholder="apo07titulo8">
             <div class="validacion"
                  *ngIf="apo07tituloForm.get('apo07titulo8')?.hasError('required') && apo07tituloForm.get('apo07titulo8')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="apo07titulo9" class="form-control" placeholder="apo07titulo9">
             <div class="validacion"
                  *ngIf="apo07tituloForm.get('apo07titulo9')?.hasError('required') && apo07tituloForm.get('apo07titulo9')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="apo07titulo10" class="form-control" placeholder="apo07titulo10">
             <div class="validacion"
                  *ngIf="apo07tituloForm.get('apo07titulo10')?.hasError('required') && apo07tituloForm.get('apo07titulo10')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="apo07titulo11" class="form-control" placeholder="apo07titulo11">
             <div class="validacion"
                  *ngIf="apo07tituloForm.get('apo07titulo11')?.hasError('required') && apo07tituloForm.get('apo07titulo11')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="apo07titulo12" class="form-control" placeholder="apo07titulo12">
             <div class="validacion"
                  *ngIf="apo07tituloForm.get('apo07titulo12')?.hasError('required') && apo07tituloForm.get('apo07titulo12')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="apo07titulo13" class="form-control" placeholder="apo07titulo13">
             <div class="validacion"
                  *ngIf="apo07tituloForm.get('apo07titulo13')?.hasError('required') && apo07tituloForm.get('apo07titulo13')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="apo07titulo14" class="form-control" placeholder="apo07titulo14">
             <div class="validacion"
                  *ngIf="apo07tituloForm.get('apo07titulo14')?.hasError('required') && apo07tituloForm.get('apo07titulo14')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="apo07titulo15" class="form-control" placeholder="apo07titulo15">
             <div class="validacion"
                  *ngIf="apo07tituloForm.get('apo07titulo15')?.hasError('required') && apo07tituloForm.get('apo07titulo15')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="apo07titulo16" class="form-control" placeholder="apo07titulo16">
             <div class="validacion"
                  *ngIf="apo07tituloForm.get('apo07titulo16')?.hasError('required') && apo07tituloForm.get('apo07titulo16')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="apo07titulo17" class="form-control" placeholder="apo07titulo17">
             <div class="validacion"
                  *ngIf="apo07tituloForm.get('apo07titulo17')?.hasError('required') && apo07tituloForm.get('apo07titulo17')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="apo07titulo18" class="form-control" placeholder="apo07titulo18">
             <div class="validacion"
                  *ngIf="apo07tituloForm.get('apo07titulo18')?.hasError('required') && apo07tituloForm.get('apo07titulo18')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="apo07titulo19" class="form-control" placeholder="apo07titulo19">
             <div class="validacion"
                  *ngIf="apo07tituloForm.get('apo07titulo19')?.hasError('required') && apo07tituloForm.get('apo07titulo19')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="apo07titulo20" class="form-control" placeholder="apo07titulo20">
             <div class="validacion"
                  *ngIf="apo07tituloForm.get('apo07titulo20')?.hasError('required') && apo07tituloForm.get('apo07titulo20')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="apo07titulo21" class="form-control" placeholder="apo07titulo21">
             <div class="validacion"
                  *ngIf="apo07tituloForm.get('apo07titulo21')?.hasError('required') && apo07tituloForm.get('apo07titulo21')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="apo07titulo22" class="form-control" placeholder="apo07titulo22">
             <div class="validacion"
                  *ngIf="apo07tituloForm.get('apo07titulo22')?.hasError('required') && apo07tituloForm.get('apo07titulo22')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="apo07titulo23" class="form-control" placeholder="apo07titulo23">
             <div class="validacion"
                  *ngIf="apo07tituloForm.get('apo07titulo23')?.hasError('required') && apo07tituloForm.get('apo07titulo23')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="apo07titulo24" class="form-control" placeholder="apo07titulo24">
             <div class="validacion"
                  *ngIf="apo07tituloForm.get('apo07titulo24')?.hasError('required') && apo07tituloForm.get('apo07titulo24')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="apo07titulo25" class="form-control" placeholder="apo07titulo25">
             <div class="validacion"
                  *ngIf="apo07tituloForm.get('apo07titulo25')?.hasError('required') && apo07tituloForm.get('apo07titulo25')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="apo07titulo26" class="form-control" placeholder="apo07titulo26">
             <div class="validacion"
                  *ngIf="apo07tituloForm.get('apo07titulo27')?.hasError('required') && apo07tituloForm.get('apo07titulo26')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div><br>  
           <button routerLink="/Apo07raci" type="button" class="btn btn-secondary">Volver</button>  &nbsp;
           <button  type="button" class="btn btn-success" type="submit" [disabled]="apo07tituloForm.invalid">Aceptar</button><hr>
       </div><br>
     </form>
 </div>
 
 
 
 
 