<span class="titulo" class="d-grid gap-2 col-2  mx-auto "  >{{ titulo | uppercase}}</span>
<form class="container bg-light bc row row-cols-4 row-cols-lg-4 g-1 g-lg-2"
style="height: 10px;" style="width: 60%;" style="margin: 35px   190px; margin:0 auto;" 
[formGroup]="cabecerab03Form" (ngSubmit)="agregarCabecerab03()">
    
    <div class="form-group">
        <input type="text" formControlName="cab1"
        class="form-control" placeholder="BAI">  
        <div class="validacion"
            *ngIf="cabecerab03Form.get('cab1')?.hasError('required') && cabecerab03Form.get('cab1')?.touched">
            <span>La categoria<b> es obligatoria</b></span>
        </div>  
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="cab2"
        class="form-control" placeholder="BAI">  
        <div class="validacion"
            *ngIf="cabecerab03Form.get('cab2')?.hasError('required') && cabecerab03Form.get('cab2')?.touched">
            <span>La categoria<b> es obligatoria</b></span>
        </div>  
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="cab3"
        class="form-control" placeholder="R-A-C-I"> 
        <div class="validacion"
            *ngIf="cabecerab03Form.get('cab3')?.hasError('required') && cabecerab03Form.get('cab3')?.touched">
            <span>La ubicación<b> es obligatoria</b></span>
        </div>   
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="cab4"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab03Form.get('cab4')?.hasError('required') && cabecerab03Form.get('cab4')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="cab5"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab03Form.get('cab5')?.hasError('required') && cabecerab03Form.get('cab5')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="cab6"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab03Form.get('cab6')?.hasError('required') && cabecerab03Form.get('cab6')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="cab7"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab03Form.get('cab7')?.hasError('required') && cabecerab03Form.get('cab7')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="cab8"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab03Form.get('cab8')?.hasError('required') && cabecerab03Form.get('cab8')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="cab9"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab03Form.get('cab9')?.hasError('required') && cabecerab03Form.get('cab9')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="cab10"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab03Form.get('cab10')?.hasError('required') && cabecerab03Form.get('cab10')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="cab11"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab03Form.get('cab11')?.hasError('required') && cabecerab03Form.get('cab11')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="cab12"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab03Form.get('cab12')?.hasError('required') && cabecerab03Form.get('cab12')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="cab13"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab03Form.get('cab13')?.hasError('required') && cabecerab03Form.get('cab13')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="cab14"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab03Form.get('cab14')?.hasError('required') && cabecerab03Form.get('cab14')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="cab15"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab03Form.get('cab15')?.hasError('required') && cabecerab03Form.get('cab15')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="cab16"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab03Form.get('cab16')?.hasError('required') && cabecerab03Form.get('cab16')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="cab17"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab03Form.get('cab17')?.hasError('required') && cabecerab03Form.get('cab17')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="cab18"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab03Form.get('cab18')?.hasError('required') && cabecerab03Form.get('cab18')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="cab19"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab03Form.get('cab19')?.hasError('required') && cabecerab03Form.get('cab19')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="cab20"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab03Form.get('cab20')?.hasError('required') && cabecerab03Form.get('cab20')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="cab21"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab03Form.get('cab21')?.hasError('required') && cabecerab03Form.get('cab21')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="cab22"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab03Form.get('cab22')?.hasError('required') && cabecerab03Form.get('cab22')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="cab23"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab03Form.get('cab23')?.hasError('required') && cabecerab03Form.get('cab23')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="cab24"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab03Form.get('cab24')?.hasError('required') && cabecerab03Form.get('cab24')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="cab25"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab03Form.get('cab25')?.hasError('required') && cabecerab03Form.get('cab25')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="cab26"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab03Form.get('cab26')?.hasError('required') && cabecerab03Form.get('cab26')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <div class="ji"><br><br>
        <button class="btn btn-secondary" routerLink="/pagina134">Volver</button>
        <button class="btn btn-success" type="submit" [disabled]="cabecerab03Form.invalid" >Aceptar</button>
    </div>
</form>

