<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="container" style="width: 85%; margin: 0 auto;">
    <thead>
        <tr>
            <th class="azultabla1"  colspan="6">BAI01 Prácticas, Entradas/Salidas y Actividades del Proceso (cont.)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th class="celeste2tabla1" colspan="2">Prácticas de Gestión</th>
            <th class="celeste2tabla1" colspan="2">Entradas</th>
            <th class="celeste2tabla1" colspan="2">Salidas</th>
        </tr>
        <tr>
            <td rowspan="4" colspan="2"><b>BAI01.05 Lanza y ejecutar el programa.</b><br>
                Lanzar y ejecutar el programa para adquirir y dirigir los<br>
                recursos necesarios para lograr las metas y beneficios<br>definidos con el plan del programa. De
                acuerdo con los <br>
                criterios de revisión de lanzamiento o cambio de fase<br>
                (stage-gate), preparar los cambios de fase, las revisiones de<br>
                las iteraciones o versiones para informar del progreso del programa y ser capaz de establecer los
                fundamentos para la<br>
                financición de la siguiente etapa después de la versión del<br> lanzamiento o de cambio de
                fase(stage-gate). <br>
                <br>
            <th colspan="1">De</th>
            <th colspan="1">Descripción</th>
            <th colspan="1">Descripción</th>
            <th colspan="1">A</th>
        </tr>
        <tr>
            <td rowspan="4" class="texto"><a href="/pagina147">BAI05.03</a></td>
            <td rowspan="4" class="texto">Comunicaciones de la <br>visión</td>
            <td colspan="1">Resultados de la supervisión de la realización de beneficios </td>
            <td colspan="1"><a href="/pagina77">AP005.06</a><br><a href="/apo6tabla4">AP006.05</a></td>
        </tr>
        <tr>
            <td colspan="1">Resultados de la supevisión del<br>logro de metas del programa </td>
            <td colspan="1"><a href="/pagina60">AP002.04</a><br></td>
        </tr>
        <tr>
            <td colspan="1">Planes de auditoría del<br>programa</td>
            <td colspan="1"><a href="/mea02d">MEA02.06</a></td>
        </tr>
        <tr>
        <tr>
            <td class="celeste2tabla1" colspan="6" align="center"><b>Actividades</b></td>
        </tr>
        <tr>
            <td colspan="6">1. Planificar, dar recursos y asignar responsabilidades requeridas para los proyectos
                necesarios para lograr los resultados del programa, basados en las
                revisiones de financiación y las aprobaciones en cada revisión de cambio de fase(stage-gate).
            </td>
        </tr>
        <tr>
            <td colspan="6">2.Establecer etapas acordadas para el proceso de desarrollo (puntos de verificación del
                desarrollo). Al final de cada etapa, facilitar discusiones formales
                de los criterios aprobados con las partes interesadas. Después de la finalización exitosa de la
                revisión de funcionalidad, rendimiento y calidad, y antes
                de finalizar las actividades de la etapa, obtener la aprobación formal y la firma de todas las
                partes interesadas y del patrocinador/propietario del proceso de negocio.
            </td>
        </tr>
        <tr>
            <td colspan="6">3.Llevar a cabo un proceso de obtención de beneficios durante el programa para asegurar
                que los beneficios planeados siempre tienen propietarios y 
                que es probable que se consigan, mantengan y se optimicen. Supervisar la entrega de beneficios e
                informar con relación a las metas de rendimiento 
                en la revisión de los cambios de fase o de iteración o en las revisiones de lanzamiento. Realizar
                análisis de causa-raíz para las desviaciones del plan e 
                identificar y tomar las acciones correctivas necesarias.
            </td>
        </tr>
        <tr>
            <td colspan="6">4.Administrar cada programa o proyecto para asegurar que la toma de decisiones y las
                actividades de entrega están enfocadas en el valor mediante
                la consecución de los beneficios y las metas del negocio de una manera consistente, considerando el
                riesgo y alcanzando los requerimientos de las partes interesadas.
            </td>
        </tr>
        <tr>
            <td colspan="6">5.Establecer oficina(s) de gestión de programas/proyectos y planificar auditorías,
                revisiones de calidad, revisiones de cambio de fase(stage-gate)
                 y revisiones de los beneficios realizados.
            </td>
        </tr>
        <tr>
        </tr>
    <tbody>
        <tr>
            <th class="celeste2tabla1" colspan="2">Prácticas de Gestión</th>
            <th class="celeste2tabla1" colspan="2">Entradas</th>
            <th class="celeste2tabla1" colspan="2">Salidas</th>
        </tr>
        <tr>
            <td rowspan="10" colspan="2" class="texto"><b>BAI01.06 Supervisar, controlar e informar de los <br>resultados del
                programa.</b><br>
                Supervisar y controlar el rendimiento del programa(entrega<br>de soluciones) y de la organización
                (valor/resultado) versus<br>
                el plan durante el ciclo de vida económico completo de la inversión. Informar del rendimiento al
                comité estratégico del programa y  <br>a los patrocinadores.
            <th colspan="1">De</th>
            <th colspan="1">Descripción</th>
            <th colspan="1">Descripción</th>
            <th colspan="1">A</th>
        </tr>
        <tr>
            <td colspan="1"><a href="/edm02tabla4">EDM02.03</a></td>
            <td colspan="1">Realimentación sobre el <br> rendimiento del portafolio y del programa</td>
            <td rowspan="1">Resultado de la revisión del<br>rendimiento del programa </td>
            <td rowspan="1"><a href="/mea01a">MEA01.03</a></td>
        </tr>
        <tr>
            <td colspan="1"><a href="">AP005.02</a></td>
            <td colspan="1">Expectativas del retorno de<br> la inversión</td>
            <td rowspan="8" class="texto">Resultados de revisiones en los<br> cambios de fase (stage-gate)</td>
            <td rowspan="8" class="texto"><a href="/edm02tabla3">EDM02.01</a><br><a href="/pagina60">AP002.04</a><br><a href="">AP005.04</a></td>
        </tr>
        <tr>
            <td colspan="1"><a href="">AP005.03</a></td>
            <td colspan="1">Evaluación de los casos de <br> negocio</td>
        </tr>
        <tr>
            <td colspan="1"><a href="/pagina76">AP005.04</a></td>
            <td colspan="1">Informes de desempeño<br> del portafolio de <br> inversiones</td>
        </tr>
        <tr>
            <td colspan="1"><a href="/pagina77">AP005.06</a></td>
            <td colspan="1">•Acciones correctivas<br>para mejorar la <br> realización de beneficios. <br>
                •Resultados de beneficios y comunicaciones relacionadas</td>
        </tr>
        <tr>
            <td colspan="1"><a href="/apo7tabla4">AP007.05</a></td>
            <td colspan="1">•Registro de uso de <br> recursos.<br>•Análisis de escasez de <br> recursos</td>
        </tr>
        <tr>
            <td colspan="1"><a href="/pagina147">BAI05.04</a></td>
            <td colspan="1">Comunicación de <br>beneficios</td>
        </tr>
        <tr>
            <td colspan="1"><a href="/pagina151">BAI06.03</a></td>
            <td colspan="1">Informes de estado de <br>solicitudes de cambios</td>
        </tr>
        <tr>
            <td colspan="1"><a href="/pagina156">BAI07.05</a></td>
            <td colspan="1">Evaluación de los <br> resultados de aceptación </td>
        </tr>
        <tr>
        <tr>
    </table>
</body>
</html><br>

<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/pagina119" >BAI01 </a></li>
      <li class="page-item"><a class="page-link" routerLink="/listar-tablauno" >1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina121" >2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina122" >3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina123" >4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina124" >5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina125" >6</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina126" >7</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina127" >8</a></li>
      <li class="page-item"><a class="page-link" href="pagina129">Continua BAIO2</a></li>
      
    </ul>
  </nav><br>