<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table class="container" style="width: 87%;">
        <tr>
            <td class="azultabla1"><a class="nav-link" routerLink="/pagina63">APO03</a>  Prácticas, Entradas/Salidas y Actividades del Proceso (cont.)</td>
        </tr>
        <tr>
            <td><a class="nav-link" routerLink="/pagina63" >APO03.02</a>  Actividades</td>
        </tr>
        <tr>
            <td>1. Mantener un repositorio de la arquitectura que contenga los estándares, los componentes
                reutilizables, el modelado, las relaciones, las dependencias y las vistas para permitir una uniformidad
                en la organización y el mantenimiento.</td>
        </tr>
        <tr>
            <td>2. Seleccionar los puntos de vista de referencia del repositorio de arquitectura que permitirán al
                arquitecto demostrar cómo están siendo consideradas las preocupaciones de las partes interesadas en la
                arquitectura.</td>
        </tr>
        <tr>
            <td>3. Por cada punto de vista, seleccionar los modelos necesarios para soportar cada uno de ellos,
                utilizando las herramientas o métodos seleccionados y los niveles apropiados de descomposición.</td>
        </tr>
        <tr>
            <td>4. Desarrollar descripciones de dominio de arquitectura de partida, utilizando el alcance y nivel de
                detalle necesarios para apoyar la arquitectura objetivo y, hasta el punto que sea posible, identificando
                los bloques relevantes del repositorio de la arquitectura.</td>
        </tr>
        <tr>
            <td>5. Mantener un modelo de arquitectura de procesos como parte de las descripciones de dominio de
                referencia y objetivo. Estandarizar las descripciones y la documentación de los procesos. Definir las
                funciones y responsabilidades de los que deciden en proceso, el propietario del proceso, los usuarios
                del proceso, el equipo del proceso y cualquier otra parte interesada que debieran estar involucrados.
            </td>
        </tr>
        <tr>
            <td>6. Mantener un modelo de arquitectura de información como parte de las descripciones de dominio de
                referencia y objetivo, que sea consistente con la estrategia de la empresa y que permita un uso óptimo
                de la información para la toma de decisiones. Mantener un diccionario de datos de la empresa que
                promueva una interpretación común y un esquema de clasificación que incluya detalles sobre el
                propietario de los datos, definición de los niveles de seguridad apropiados y los requisitos de
                retención y destrucción de los datos.</td>
        </tr>
        <tr>
            <td>7. Verificar la consistencia interna y precisión de los modelos de la arquitectura y realizar un
                análisis de diferencias entre el punto de partida y el objetivo. Priorizar las desviaciones y definir
                los nuevos componentes o modificaciones que se deben desarrollar en la arquitectura objetivo. Resolver
                los impactos potenciales, tales como las incompatibilidades, inconsistencias o conflictos dentro de la
                arquitectura prevista.</td>
        </tr>
        <tr>
            <td>8. Realizar una revisión formal con las partes interesadas para comprobar que la arquitectura propuesta
                frente a la motivación original del proyecto de arquitectura y la declaración de arquitectura funcionan.
            </td>
        </tr>
        <tr>
            <td>9. Finalizar las arquitecturas de los dominios de negocio, información, datos, aplicaciones y tecnología
                y crear un documento de definición de la arquitectura.</td>
        </tr>
    </table>
    <table class="container" style="width: 87%;">
        <th class="celeste2tabla1">
            Práctica de Gestión
        </th>
        <th colspan="2" class="celeste2tabla1">
            Entradas
        </th>
        <th colspan="2" class="celeste2tabla1">
            Salidas
        </th>
        <tr>
            <td rowspan="3">
                APO03.03 Seleccionar las oportunidades y las soluciones.<br>
                Racionalizar las desviaciones entre las arquitecturas de referencia y objetivo, considerando tanto la
                perspectiva técnica como la del negocio y agrupándolos a ambos en paquetes de trabajo del proyecto.
                Integrar el proyecto con todos los programas de inversión relacionados con TI para asegurar que las
                iniciativas relacionadas con la arquitectura estén alineadas y que estas iniciativas sean parte del
                cambio general en la empresa. Hacer de ello un esfuerzo en colaboración con las partes interesadas clave
                de la empresa y en TI para evaluar el grado de preparación de la empresa para su transformación e
                identificar las oportunidades, soluciones y todas las restricciones de la implementación.
            </td>
            <td>De</td>
            <td>Descripción</td>
            <td>Descripción</td>
            <td>A</td>
        </tr>
        <tr>
            <td><a class="nav-link" raouterLink="/pagina57">APO02.03</a><a class="nav-link" raouterLink="/pagina57">APO02.03</a> </td>
            <td>Cambios propuestos en la arquitectura de empresa.</td>
            <td>Estrategia de Implementación a alto nivel y estrategia de migración</td>
            <td><a class="nav-link" routerLink="/pagina57" >APO02.05</a> </td>
        </tr>
        <tr>
            <td>Fuera del ámbito de COBIT</td>
            <td>Estrategias empresariales<br>
                Motivadores de la empresa.</td>
            <td>Arquitecturas de transición</td>
            <td><a class="nav-link" routerLink="/pagina57">APO02.05</a> </td>
        </tr>
    </table>
    <table class="container" style="width: 87%;">
        <th class="celeste2tabla1">
            Actividades
        </th>
        <tr>
            <td>1.	Determinar y confirmar los atributos clave del cambio, incluyendo la cultura empresarial y cómo ésta impactará en la implementación de la arquitectura de empresas, así como en las capacidades de transición empresarial.</td>
        </tr>
        <tr>
            <td>2.	Identificar los motivadores de la empresa que podrían limitar la secuencia de implementación, incluyendo una revisión de los planes estratégicos y de negocio de la empresa y de las líneas de negocio y considerando la madurez de la arquitectura de empresa actual.</td>
        </tr>
        <tr>
            <td>3.	Revisar y consolidar los resultados del análisis de diferencias entre las arquitecturas de partida y objetivo y evaluar sus implicaciones respecto a las potenciales oportunidades y soluciones, interdependencias y alineación con los vigentes programas habilitados para TI.</td>
        </tr>
        <tr>
            <td>4.	Evaluar las necesidades, las carencias, las soluciones y los factores para identificar un conjunto mínimo de requisitos funcionales cuya integración en el plan de trabajo daría lugar a una implementación más eficiente y eficaz de la arquitectura objetiva.</td>
        </tr>
        <tr>
            <td>5.	Conciliar los requisitos ya consolidados con las posibles soluciones.</td>
        </tr>
        <tr>
            <td>6.	Afinar las dependencias iniciales, asegurándose que todas las restricciones sobre los planes de implementación y migración están identificadas y se han consolidado en el informe de análisis de dependencias.</td>
        </tr>
        <tr>
            <td>7.	Confirmar el grado de preparación de la empresa y el riesgo asociado a la transformación empresarial.</td>
        </tr>
        <tr>
            <td>8.	Formular una implementación de alta nivel y una estrategia de migración que servirán de guía para la implementación de la arquitectura objetivo y para la estructura de la arquitectura de transición en línea con los objetivos estratégicos y los plazos de l empresa.</td>
        </tr>
        <tr>
            <td>9.	Identificar y agrupar los principales paquetes de trabajo en un conjunto de programas y proyectos coherentes, respetando el enfoque y la dirección de la estrategia empresarial en su implementación.</td>
        </tr>
        <tr>
            <td>10.	Desarrollar una serie de arquitectura de transición cuando sea necesario un enfoque incremental por el alcance del cambio necesario para alcanzar la arquitectura de información objetiva.</td>
        </tr>
    </table>
</body>

</html><br>
<nav aria-label="Page navigation  example" class="container" style="width: 87%;">
    <ul class="pagination container">
      <li class="page-item"><a class="page-link" routerLink="/home">APOO3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina63">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/Apo03raci">2 </a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina65">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina66">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina67">5</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>
