
<table class="container" style="width: 85%; margin: 0 auto;">
    <thead>            
              <tr>
                <td class="azultabla1" colspan="6"><b>BAI06 Practicas, Entradas/Salidas y Actividades del Proceso</b> </td>
              </tr>
    <th class="celeste2tabla1">
        Práctica de Gestión
    </th>
    <th colspan="2" class="celeste2tabla1">
        Entradas
    </th>
    <th colspan="2" class="celeste2tabla1">
        Salidas
    </th>
    </thead>
    <tr>
        <td rowspan="7" class="texto"> <strong> BAI06.01 Evaluar, priorizar y autorizar peticiones de <br>
            cambio.</strong>  <br>       
            Evaluar todas las peticiones de cambio para determinar 
            <br> su impacto en los procesos de negocio y los servicios <br>
            TI y analizar si el c ambio afectará negativamente al <br>
            entorno operativo e introducirá un riesgo inaceptable. <br>
            Asegurar que los cambios son registrados, priorizados, <br>
            categorizados,analizados,planificados y <br>
            programados. 
            </td>
        <th>De</th>
        <th>Descripción</th>
        <th>Descripción</th>
        <th>A</th>
    </tr>
    <tr>
        <td><a routerLink="/pagina137">BAI03.05</a></td>
        <td>Componentes de la solución integrados y configurados</td>
        <td>Evaluaciones de impacto</td>
        <td>Internal</td>
    </tr>
    <tr>
        <td><a href="/dsso2tabla4">DSS02.03</a></td>
        <td>Peticiones de servicio aprobadas</td>
        <td rowspan="2" >Peticiones de cambio aprobadas</td>
        <td rowspan="2"> <a href="/pagina154"> BAI07.01</a></td>
    </tr>
    <tr>
        <td><a href="/dsso3tabla4">DSS03.03</a></td>
        <td>Soluciones propuestas para errores conocidos</td>
    </tr>
    <tr>
        <td><a href="/dsso3tabla6">DSS03.05</a></td>
        <td>Soluciones sostenibles identificadas</td>
        <td rowspan="3" >Plan de cambio de cronograma</td>
        <td rowspan="3"> <a href="/pagina154"> BAI07.01</a></td>
    </tr>
    <tr>
        <td><a href="/dsso4tabla9">DSS04.08</a></td>
        <td>Cambios aprobados a los planes</td>
    </tr>
    <tr>
        <td><a href="/dsso6tabla2">DSS06.01</a></td>
        <td>Análisis de causas raíz y recomendaciones</td>
    </tr>
</table>
<table class="container" style="width: 85%; margin: 0 auto;">
    <thead >
    <tr>
        <td class="celeste2tabla1" align="center"><b>Actividades</b></td>
    </tr>
    </thead>
    <tr>
        <td>1. Utilizar peticiones de cambio formales para posibilitar que los propietarios de procesos de negocio y TI soliciten cambios en procesos de negocio <br>
            infraestructura, sistemas o aplicaciones. Asegurar que todos estos cambios surgen solo através del proceso de gestión de las peticiones de cambio.
            </td>
    </tr>
    <tr>
        <td>2.Categorizar todas las peticiones de cambio (ej. procesos de negocio, infraestructura, sistemas operativos, redes, sistemas de apicación, software <br>
            externo adquirido ) y relacionarlas con los elementos de configuración afectados.
            </td>
    </tr>
    <tr>
        <td>3. Priorizar todas las peticiones de cambio sobre la base de los requisitos técnicos y de negocio, recursos necesarios, así como las razones
            contractuales, legales o de regulación que motivan el cambio.</td>
    </tr>
    <tr>
        <td>4. Planificar y evaluar todas las peticiones de una manera estructurada. Incluir un análisis de impacto sobre los procesos de negocio, infraestructura, <br>
            sistemas y aplicaciones, planes de continuidad de negocio (BCPs) y proveedores de servicios para asegurar que todos los componentes afectados <br>
            han sido debidamente identificados. Evaluar la probabilidad de que afecten negativamente el entorno operativo y el riesgo de implementar el cambio <br>
            Considerar las implicaciones de seguridad, legales, contractuales, y de cumplimiento normativo del cambio solicitado. Conciderar además todas las <br>
            inter-dependencias entre los cambios. Involucrar a los propietarios de procesos de negocio en el proceso de evaluación, de forma apropiada.</td>
    </tr>
    <tr>
        <td>5. Aprobar formalmente cada cambio por parte de los propietarios de procesos de negocio, gestores de servicio, partes interesadas de los <br>
            departamentos TI, según sea apropiado. Los cambios relativamente frecuentes con niveles de riesgo bajos deberían ser pre-aprobados como <br>
            cambios estándar.
            </td>
    </tr>
    <tr>
        <td>6.Planificar y programar todos los cambios aprobados.
            </td>
    </tr>
    <tr>
        <td>7. Considerar el impacto en los proveedores de servicios contratados (ej. procesamiento de negocio externalizado, infraestructuras, desarrollo de <br>
            aplicaciones y servicios compartidos ) en el proceso de gestión del cambio, incluyendo la integración de la gestión de cambios organizativos con los <br>
            procesos de gestión de cambios de los proveedores de servicios y el impacto en términos contractuales y ANSs.</td>
</table>

<table class="container" style="width: 85%; margin: 0 auto;">
    <thead>
        
    <th class="celeste2tabla1">
        Práctica de Gestión
    </th>
    <th colspan="2" class="celeste2tabla1">
        Entradas
    </th>
    <th colspan="2" class="celeste2tabla1">
        Salidas
    </th>
    </thead>
    <tr>
        <td rowspan="7"> <strong> BAI06.02 Gestionar cambios de emergencia.
            </strong>  <br>       
            Gestionar cuidadosamente los cambios de emergencia <br>
            para minimizar futuras incidencias y asegurar que el <br>
            cambio está controlado y se realiza de forma segura. <br>
            Verificar que los cambios de emergencia son evaluados <br>
            debidamente y autorizados una vez hecho el cambio. 
            </td>
        <th>De</th>
        <th>Descripción</th>
        <th>Descripción</th>
        <th>A</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>Revisión de cambios de emergencia tras su implementación</td>
        <td>Interno</td>
    </tr>
</table>
<table class="container" style="width: 85%; margin: 0 auto;">
    <thead >
    <tr>
        <td class="celeste2tabla1" align="center" ><b>Actividades</b>  </td>
    </tr>
    </thead>
    <tr>
        <td>1. Asegurar que hay un procedimiento documentado para declarar, evaluar, aprobar de forma preliminar, autorizar una vez hecho el cambio y registrar el <br>
             cambio de emergencia.
            </td>
    </tr>
    <tr>
        <td>2.Verificar que los accesos de emergencia acordados para realizar los cambios están debidamente autorizados y documentados y si son revocados una vez <br>
            se ha aplicado el cambio.
            </td>
    </tr>
    <tr>
        <td>3.Supervisar todos los cambios de emergencia y realizar revisiones post-implantación involucrando a todas las partes interesadas. La revisión debería <br>
            considerar e iniciar acciones correctivas basadas en causas raíz tales como problemas en los procesos de negocio, desarrollo y mantenimiento de <br>
            sistemas de aplicación, internos de desarrollo y pruebas, documentación y manuales e integridad de datos.
            </td>
    </tr>
    <tr>
        <td>4. Definir qué constituye un cambio de emergencia. </td>
    </tr>
</table>
<br>

<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/pagina149">BAI06</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina150">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina151">2</a></li>
      
      
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
      
    </ul>
  </nav><br>