<div>
     <span class="d-grid gap-2 col-4  mx-auto ">{{title}}</span>
     <form class="container bg-light bc row row-cols-1 row-cols-lg-4 g-1 g-lg-2 " style="height: 10px;" style="width: 60%;" style="margin: 35px   190px;" [formGroup]="edm01tituloForm" (ngSubmit)="agregarEdm01titulo()">
         <div class="form-group">
             <input type="text" formControlName="edm01titulo1" class="form-control" placeholder="edm01titulo1">
             <div class="validacion"
                *ngIf="edm01tituloForm.get('edm01titulo1')?.hasError('required') && edm01tituloForm.get('edm01titulo1')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>  
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="edm01titulo2" class="form-control" placeholder="edm01titulo2">
             <div class="validacion"
                 *ngIf="edm01tituloForm.get('edm01titulo2')?.hasError('required') && edm01tituloForm.get('edm01titulo2')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>  
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="edm01titulo3" class="form-control" placeholder="edm01titulo3">
             <div class="validacion"
                 *ngIf="edm01tituloForm.get('edm01titulo3')?.hasError('required') && edm01tituloForm.get('edm01titulo3')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>  
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="edm01titulo4" class="form-control" placeholder="edm01titulo4">
             <div class="validacion"
                  *ngIf="edm01tituloForm.get('edm01titulo4')?.hasError('required') && edm01tituloForm.get('edm01titulo4')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="edm01titulo5" class="form-control" placeholder="edm01titulo5">
             <div class="validacion"
                  *ngIf="edm01tituloForm.get('edm01titulo5')?.hasError('required') && edm01tituloForm.get('edm01titulo5')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="edm01titulo6" class="form-control" placeholder="edm01titulo6">
             <div class="validacion"
                  *ngIf="edm01tituloForm.get('edm01titulo6')?.hasError('required') && edm01tituloForm.get('edm01titulo6')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="edm01titulo7" class="form-control" placeholder="edm01titulo7">
             <div class="validacion"
                  *ngIf="edm01tituloForm.get('edm01titulo7')?.hasError('required') && edm01tituloForm.get('edm01titulo7')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="edm01titulo8" class="form-control" placeholder="edm01titulo8">
             <div class="validacion"
                  *ngIf="edm01tituloForm.get('edm01titulo8')?.hasError('required') && edm01tituloForm.get('edm01titulo8')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="edm01titulo9" class="form-control" placeholder="edm01titulo9">
             <div class="validacion"
                  *ngIf="edm01tituloForm.get('edm01titulo9')?.hasError('required') && edm01tituloForm.get('edm01titulo9')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="edm01titulo10" class="form-control" placeholder="edm01titulo10">
             <div class="validacion"
                  *ngIf="edm01tituloForm.get('edm01titulo10')?.hasError('required') && edm01tituloForm.get('edm01titulo10')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="edm01titulo11" class="form-control" placeholder="edm01titulo11">
             <div class="validacion"
                  *ngIf="edm01tituloForm.get('edm01titulo11')?.hasError('required') && edm01tituloForm.get('edm01titulo11')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="edm01titulo12" class="form-control" placeholder="edm01titulo12">
             <div class="validacion"
                  *ngIf="edm01tituloForm.get('edm01titulo12')?.hasError('required') && edm01tituloForm.get('edm01titulo12')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="edm01titulo13" class="form-control" placeholder="edm01titulo13">
             <div class="validacion"
                  *ngIf="edm01tituloForm.get('edm01titulo13')?.hasError('required') && edm01tituloForm.get('edm01titulo13')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="edm01titulo14" class="form-control" placeholder="edm01titulo14">
             <div class="validacion"
                  *ngIf="edm01tituloForm.get('edm01titulo14')?.hasError('required') && edm01tituloForm.get('edm01titulo14')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="edm01titulo15" class="form-control" placeholder="edm01titulo15">
             <div class="validacion"
                  *ngIf="edm01tituloForm.get('edm01titulo15')?.hasError('required') && edm01tituloForm.get('edm01titulo15')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="edm01titulo16" class="form-control" placeholder="edm01titulo16">
             <div class="validacion"
                  *ngIf="edm01tituloForm.get('edm01titulo16')?.hasError('required') && edm01tituloForm.get('edm01titulo16')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="edm01titulo17" class="form-control" placeholder="edm01titulo17">
             <div class="validacion"
                  *ngIf="edm01tituloForm.get('edm01titulo17')?.hasError('required') && edm01tituloForm.get('edm01titulo17')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="edm01titulo18" class="form-control" placeholder="edm01titulo18">
             <div class="validacion"
                  *ngIf="edm01tituloForm.get('edm01titulo18')?.hasError('required') && edm01tituloForm.get('edm01titulo18')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="edm01titulo19" class="form-control" placeholder="edm01titulo19">
             <div class="validacion"
                  *ngIf="edm01tituloForm.get('edm01titulo19')?.hasError('required') && edm01tituloForm.get('edm01titulo19')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="edm01titulo20" class="form-control" placeholder="edm01titulo20">
             <div class="validacion"
                  *ngIf="edm01tituloForm.get('edm01titulo20')?.hasError('required') && edm01tituloForm.get('edm01titulo20')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="edm01titulo21" class="form-control" placeholder="edm01titulo21">
             <div class="validacion"
                  *ngIf="edm01tituloForm.get('edm01titulo21')?.hasError('required') && edm01tituloForm.get('edm01titulo21')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="edm01titulo22" class="form-control" placeholder="edm01titulo22">
             <div class="validacion"
                  *ngIf="edm01tituloForm.get('edm01titulo22')?.hasError('required') && edm01tituloForm.get('edm01titulo22')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="edm01titulo23" class="form-control" placeholder="edm01titulo23">
             <div class="validacion"
                  *ngIf="edm01tituloForm.get('edm01titulo23')?.hasError('required') && edm01tituloForm.get('edm01titulo23')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="edm01titulo24" class="form-control" placeholder="edm01titulo24">
             <div class="validacion"
                  *ngIf="edm01tituloForm.get('edm01titulo24')?.hasError('required') && edm01tituloForm.get('edm01titulo24')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="edm01titulo25" class="form-control" placeholder="edm01titulo25">
             <div class="validacion"
                  *ngIf="edm01tituloForm.get('edm01titulo25')?.hasError('required') && edm01tituloForm.get('edm01titulo25')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>   
         </div>
         <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
         <div class="form-group">
             <input type="text" formControlName="edm01titulo26" class="form-control" placeholder="edm01titulo26">
             <div class="validacion"
                  *ngIf="edm01tituloForm.get('edm01titulo26')?.hasError('required') && edm01tituloForm.get('edm01titulo26')?.touched">
                 <span>Este campo<b> es obligatorio</b></span>
              </div>  
           <button routerLink="/listar-three" class="btn btn-danger">Volver</button>  &nbsp;
           <button type="submit" class="btn btn-success" [disabled]="edm01tituloForm.invalid">Aceptar</button>
       </div>
     </form>
 </div>
 
 
