<div class="container">
    <table class="table">
        <thead class="theader">
            <tr>
                <td class="titulos" scope="col" colspan="5">DSS04 Prácticas, Entradas/Salidas y Actividades del Proceso (cont.)</td>
            </tr>
        </thead>
        <tr>
            <td style="text-align:center" class="fondo2">Práctica de Gestión</td>
    <td  style="text-align:center" class="fondo2" colspan="2">Entradas</td>
    <td style="text-align:center" class="fondo2" colspan="3">Salidas</td>
        </tr>
        <th scope="row" rowspan="3">DSS04.07 Gestionar acuerdos de respaldo. 
            <p class="texto">Mantener la disponibilidad de la información crítica del
                negocio.  
            </p>
        </th>
        <tr>
            <td style="text-align: center;">De</td>
        <td style="text-align: center;">Descripción</td>
        <td style="text-align: center;">Descripción</td>
        <td style="text-align: center;">A</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Probar los resultados de las copias de seguridad de los datos</td>
            <td>Interno</td>
        </tr>
        <tr>
            <td colspan="5" style="text-align:center" class="fondo">Actividades</td>
        </tr>
<tr>
<td colspan="5" valign="middle">1.Hacer copias de seguridad de sistemas, aplicaciones, 
    datos y documentación de acuerdo a una planificación definida, 
    considerando:
<li>Frecuencia (mensual, semanal, diaria, etc.)</li>
<li>Modo de copias de seguridad (por ejemplo, discos espejo para copias de 
    seguridad en tiempo real frente a DVD-ROM para retenciones de larga 
    duración)</li>
<li>Tipo de copias de seguridad (por ejemplo, completa frente a incremental)</li>
<li>Tipo de soporte</li>
<li>Copias de seguridad automatizadas en línea</li>
<li>Tipos de datos (por ejemplo, voz, óptica)</li>
<li>Creación de registros</li>
<li>Datos de cálculos críticos de usuario final (por ejemplo, hojas de cálculo)</li>
<li>Localización física y lógica de las fuentes de los datos</li>
<li>Seguridad y derechos de acceso</li>
<li>Cifrado</li>
</td>
    
</tr>
<tr>
<td colspan="5">2. Cifrado Asegurar que los sistemas, aplicaciones, 
    datos y documentación mantenidos o procesados por terceras partes 
    están adecuadamente respaldados asegurados de otra forma. 
    Considerar el hecho de requerir el retorno de las copias de 
    seguridad de terceras partes. Considerar acuerdos 
    de depósito (escrow).</td>
</tr>
<tr>
<td colspan="5">3. Ubicar y construir las instalaciones de TI para 
    minimizar y mitigar la susceptibilidad ante las amenazas del entorno.</td>
</tr>
<tr>
<td colspan="5">3. Definir los requerimientos del almacenamiento de las 
    copias de seguridad, dentro y fuera de la propia ubicación, 
    que satisfagan los requerimientos del negocio. Considerar 
    la accesibilidad requerida a las copias de seguridad.</td>
</tr>
<tr>
<td colspan="5">4. Extender la concienciación y la formación en 
    Planes de Continuidad de Negocio (BCP).</td>
</tr>
<tr>
<td colspan="5">5. Probar y mantener legibles las copias de seguridad y 
    las archivadas periódicamente Prácticas.</td>
</tr>
</table>
</div>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">HOME</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/listraci04">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla2">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla3">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla4">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla5">6</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla6">7</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla7">8</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla8">9</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla9">10</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla10">11</a></li>
      <li class="page-item"><a class="page-link" href="/dsso4tabla9">Next</a></li>
      
    </ul>
  </nav><br>
