<table class="container" style="width: 85%;">
    <thead >
        <tr >
            <td class="azultabla1"  colspan="5">BAI03 Practicas, Entrada/Salidas y Actividades del Proceso (cont.)</td>
        </tr>
        
        </thead>
    <tr>
        <Th class="celeste2tabla1"  colspan="1" >Prácticas de gestión</Th>
        <th class="celeste2tabla1"  colspan="2">Entradas</th>
        <th class="celeste2tabla1"  colspan="2">Salidas</th>
        </tr>
        
        <tr>
        <td rowspan="2" class="texto"><strong>BAI03.05 Construir soluciones. </strong><br>
        Instalar y configurar las soluciones e integrarlas con las actividades de los procesos de negocio. Implementar controles, medidas de seguridad y "auditabilidad" durante la configuración y durante la integración del harware e infraestructura del software para proteger los recursos y asegurar la disponibilidad e integridad de los datos. Actualizar el catálogo de servicios para reflejar la nueva situación.
        </td>
        <td><strong>De</strong></td> 
        <td><strong>Descripción</strong></td>
        <td><strong>Descripción</strong></td>
        <td><strong>Hacia</strong></td>
        </tr>
        <tr>
        
        <td ><a routerLink=""></a></td>
        <td ></td>
        <td  class="texto">Componentes de la solución integrados y configurados</td>
        <td class="texto" ><a routerLink="/pagina150">BAI06.01</a></td>
        </tr>
        
        
        <tr>
        <td class="celeste2tabla1"  colspan="5" class="Actividades"><strong  > Actividades</strong></td>
        </tr>
        <tr><td colspan="5"  class="texto">1. Integrar y configurar los componentes de la solución TI  y de negocio así como los repositorios de información en línea con las especificaciones detalladas y los requerimientos de calidad. Considerar el rol de los usuarios, interesados de negocio y el dueño del proceso en la configuración de los procesos de negocio.</td></tr>
        <tr><td colspan="5"  class="texto">2. Completar y actualizar cuando sea necesario el proceso de negocio y los manuales de operaciones para registrar cualquier personalización o condiciones especiales únicas en la implementación. </td></tr>
        <tr><td colspan="5" class="texto">3. Considerar toda la información relevante en los controles de los requerimientos en la integración y configuración de los componentes de la solución, incluyendo cuando sea necesario, controles en la implementación de negocio, controles automatizados en la aplicación para que el procesamiento sea fiable, completo, a tiempo, autorizado y auditable.</td></tr>
        <tr><td colspan="5"  class="texto">4. Implementar pistas de auditoría durante la configuración e integración del hardware e infraestructura del softawre para proteger los recursos y asegurar la disponibilidad e integridad.</td></tr>
        <tr><td colspan="5"  class="texto">5. Considerar cuando el efecto de las personalizaciones y las configuraciones acumuladas incluyebdo cambios menores que no estaban sujetos a unas especificaciones de diseño formal; requieran una revalidación a alto nivel de la solución y funcionalidad asociada.</td></tr>
        <tr><td colspan="5" class="texto">6. Asegurar la interoperabilidad de los componentes de la solución con las pruebas de soporte preferiblemente automatizadas. </td></tr>
        <tr><td colspan="5" class="texto">7. Configurar que el software de la aplicación adquirido cumple con los requerimientos de proceso de negocio. </td></tr>
        <tr><td colspan="5" class="texto">8. Definir el catálogo de servicios para los grupos de objetivos internos y externos basados en los requerimientos de negocio. </td></tr>
        
        
        
        
        <tr>
        <Th class="celeste2tabla1"  colspan="1" >Prácticas de gestión</Th>
        <th class="celeste2tabla1"  colspan="2">Entradas</th>
        <th class="celeste2tabla1"  colspan="2">Salidas</th>
        </tr>
        
        <tr>
        <td rowspan="3" class="texto"><strong>BAI03.06 Realizar controles de calidad. </strong><br>
        Desarrollar y ejecutar un plan de calidad QA alineado con el SGC para obtener la calidad especificada en la definición de los requerimientos  y de acuerdo a las politicas y procedimientos de calidad de la empresa.
        </td>
        <td><strong>De</strong></td> 
        <td><strong>Descripción</strong></td>
        <td><strong>Descripción</strong></td>
        <td><strong>Hacia</strong></td>
        </tr>
        <tr>
        
        <td  class="texto"><a routerLink="/pagina102">APO11.01</a></td>
        <td  class="texto">Resultados de las revisiones de efectividad del SGC</td>
        <td   class="texto">Plan de aseguramiento de la calidad QA</td>
        <td   class="texto"><a routerLink="/pagina104">APO11.04</a></td>
        </tr>
        <tr>
        <td  class="texto"><a routerLink="/pagina125">BAI01.09</a></td>
        <td   class="texto">Plan de gestión de calidad</td>
        <td   class="texto">Resultados de la revisión de calidad, excepciones y correcciones</td>
        <td   class="texto"><a routerLink="/pagina104">APO11.04</a></td>
        </tr>
        
        <tr>
        <td colspan="5" class="Actividades"><strong  > Actividades</strong></td>
        </tr>
        <tr><td colspan="5"  class="texto">1. Definir un plan de calidad QA y prácticas incluyendo, por ejemplo, especificación de criterios de calidad, procesos de validación y verificación, definición de cómo se revisará la calidad, calificaciones necesarias para la evaluaciones de calidad y roles y responsabilidades para la consecución de la calidad.</td></tr>
        <tr><td colspan="5"  class="texto">2. Supervisar frecuentemente la solución de calidad, basada en los requerimientos del proyecto, politicas de empresa, adhesión a metodologías de desarrollo, procedimientos de gestión de calidad y criterios de aceptación. </td></tr>
        <tr><td colspan="5" class="texto">3. Utilizar apropiadamente inspección de código, pruebas conducidas sobre el desarrollo, pruebas autmatizadas, integración continua, revisiones y pruebas sobre aplicaciones. Informar de los resultados del proceso de supervición y prueba al equipo de desarrollo de software de aplicación y la dirección TI. </td></tr>
        <tr><td colspan="5"  class="texto">4. Supervisar todas las excepciones de calidad y tratar todas las acciones correctivas. Manter un registro con todas las revisiones, resultados, excepciones y correcciones. Repetir las evaluaciones de calidad cuando sea necesario, basándose en la cantidad de reelaboración "rework" y acciones correctivas.</td></tr>
        
        
        
        
        <tr>
        <Th class="celeste2tabla1"  colspan="1" >Prácticas de gestión</Th>
        <th class="celeste2tabla1"  colspan="2">Entradas</th>
        <th class="celeste2tabla1"  colspan="2">Salidas</th>
        </tr>
        
        <tr>
        <td rowspan="3" class="texto"><strong>BAI03.07 Preparar pruebas de la solución. </strong><br>
        Establecer un plan de pruebas y entornos necesarios para probar los componentes individualmente y de la solución integrada incluyendo los procesos de negocio y servicios, aplicaciones e infraestructura que los soportan.
        </td>
        <td><strong>De</strong></td> 
        <td><strong>Descripción</strong></td>
        <td><strong>Descripción</strong></td>
        <td><strong>Hacia</strong></td>
        </tr>
        <tr>
        
        <td  rowspan="2"></td>
        <td rowspan="2" ></td>
        <td   class="texto">Plan de pruebas</td>
        <td   class="texto"><a routerLink="/pagina155">BAI07.03</a></td>
        </tr>
        <tr>
        
        <td   class="texto">Procedimientos de pruebas</td>
        <td   class="texto"><a routerLink="/pagina155">BAI07.03</a></td>
        </tr>
        
        <tr>
        <td colspan="5" class="Actividades" class="celeste2tabla1" ><strong  > Actividades</strong></td>
        </tr>
        <tr><td colspan="5"  class="texto">1. Crear un plan de pruebas integradas y prácticas acordes al entorno de la empresa y planes estratégicos de tecnología que catalizarán la realización de pruebas en entornos de simulación para ayudar a verificar que la solución estará operativa satisfactoriamente en el entorno real y entregar los resultados esperados y que los controles son adecuados.</td></tr>
        <tr><td colspan="5"  class="texto">2. Crear un entorno de pruebas que soporte el alcance completo de la solución y refleje, lo más fielmente posible, las condiciones del mundo real, incluyendo los procesos y procedimientos de negicio, rango de usuarios, tipos de transacciones y condiciones de deasarrollo. </td></tr>
        <tr><td colspan="5" class="texto">3. Crear procedimientos de prueba alineados con el plan y las prácticas y que permitan la evaluación de la operativa de la solución en condiciones reales. Asegurar que los procedimientos de prueba evalúan la adecuación de los controles, basado en estándares de toda empresa que definan roles, responsabilidades y criterios de prueba y sean aprobados por las partes interesadas del proyecto y por el patrocinador/dueño del proceso de negocio.</td></tr>


</table>
<br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" routerLink="/pagina133">BAI01</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina134">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina135">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina136">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina137">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina138">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina139">6</a></li>
      <li class="page-item"><a class="page-link" routerLink="">Next</a></li>
      
    </ul>
  </nav><br>
