<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    

</head>

<body>
    <table class="container" style="width: 87%;">
        <tr>
            <td>APO05 Prácticas, Entradas/Salidas y Actividades del Proceso (cont.)</td>
        </tr>
        <th>
            Práctica de Gestión
        </th>
        <th colspan="2">
            Entradas
        </th>
        <th colspan="2">
            Salidas
        </th>
        <tr>
            <td rowspan="5">
                APO05.04 Supervisar, optimizar e informar sobre el rendimiento del portafolio de inversiones.<br>
                Regularmente, supervisar y optimizar el rendimiento del portafolio de inversiones y de los programas
                individuales a lo largo de todo el ciclo de vida de inversión.
            </td>
            <td>De</td>
            <td>Descripción</td>
            <td>Descripción</td>
            <td>Hacia</td>
        </tr>
        <tr>
            <td>EDM02.01</td>
            <td>Evaluación de los portafolios de inversiones y servicios</td>
            <td rowspan="4">Informes de rendimiento del portafolio de inversiones</td>
            <td rowspan="4">EDM02.03<br>
                APO09.04<br>
                BAI01.06<br>
                MEA01.03</td>
        </tr>
        <tr>
            <td>EDM02.03</td>
            <td>Acciones para mejorar la entrega de valor<br>
                Comentarios sobre el rendimiento del portafolio y el programa</td>
        </tr>
        <tr>
            <td>APO04.06</td>
            <td>Evaluación de los beneficios de la innovación</td>
        </tr>
        <tr>
            <td>BAI01.06</td>
            <td>Resultado de la revisión del cambio de estado (stage-gate).</td>
        </tr>
        <tr>
            <td colspan="5">Actividades</td>
        </tr>
        <tr>
            <td colspan="5">1. Revisar regularmente el portafolio para identificar y exportar sinergias, eliminar
                programas duplicados e identificar y mitigar el riesgo.</td>
        </tr>
        <tr>
            <td colspan="5">2. Cuando sucedan cambios, volver a evaluar y a priorizar el portafolio para asegurar que
                está alineado con la estrategia del negocio y que la mezcla de inversión objetivo se mantiene, de modo
                que el portafolio esté optimizando el valor global. Esto puede requerir que los programas cambien, se
                aplacen, se retiren o bien que nuevos programas se inicien.</td>
        </tr>
        <tr>
            <td colspan="5">3. Ajustar los objetivos, previsiones, presupuestos y, si fuese necesario, el grado de
                monitorización empresariales para reflejar los gastos en que se incurriría y los beneficios de la
                empresa que se obtendrían gracias a los programas del portafolio de inversiones activas. Incorporar los
                gastos del programa en el mecanismo de prorrateo de costes.</td>
        </tr>
        <tr>
            <td colspan="5">4. Proporcionar una vista precisa a las partes interesadas sobre el rendimiento del
                portafolio de inversiones.</td>
        </tr>
        <tr>
            <td colspan="5">5. Aportar informes ejecutivos para la revisión por parte de la alta dirección de los
                progresos de la empresa hacia las metas identificadas, estableciendo qué debe seguir siendo gastado y
                conseguido sobre qué franjas temporales.</td>
        </tr>
        <tr>
            <td colspan="5">6. Incluir en la supervisión periódica del rendimiento información sobre en qué medida los
                objetivos plantificados han sido alcanzados, el riesgo mitigado, las capacidades creadas, los
                entregables obtenidos y las metas de rendimiento, conseguidas.</td>
        </tr>
        <tr>
            <td colspan="5">7. Identificar desviaciones para:<br>
                • Control presupuestario entre el real y el presupuesto<br>
                • Gestión del beneficio de:<br>
                - Real versus objetivos de inversión en soluciones, probablemente expresados en términos de ROI, NPV o
                tasa interna de retorno (IRR)<br>
                - Tendencia actual del coste del portafolio de servicios para la mejora de la productividad de la
                entrega del servicio</td>
        </tr>
        <tr>
            <td colspan="5">8. Desarrollar métricas para medir la contribución de TI a la empresa, y establecer
                objetivos de rendimiento adecuados que reflejen las metas de capacidad corporativas y de TI. Utilizar
                asistencia de expertos externos y de datos de análisis comparativos para desarrollar métricas.</td>
        </tr>
        <th>
            Práctica de Gestión
        </th>
        <th colspan="2">
            Entradas
        </th>
        <th colspan="2">
            Salidas
        </th>
        <tr>
            <td rowspan="3">
                APO05.05 Mantener los portafolios.<br>
                Mantener los portafolios de programas y proyectos de inversión, servicios de TI y activos de TI.
            </td>
            <td>De</td>
            <td>Descripción</td>
            <td>Descripción</td>
            <td>Hacia</td>
        </tr>
        <tr>
            <td>BAI01.14</td>
            <td>Comunicación de retiro del programa y responsabilidades en cursos</td>
            <td rowspan="2">Portafolios de programas, servicios y activos actualizados</td>
            <td rowspan="2">APO09.02<br>
                BAI01.01</td>
        </tr>
        <tr>
            <td>BAI03.11</td>
            <td>Portafolio de servicios actualizados</td>
        </tr>
        <tr>
            <td colspan="5">Actividades</td>
        </tr>
        <tr>
            <td colspan="5">1. Crear y mantener portafolios de programas de inversiones TI, servicios TI y activos TI,
                que constituyan la base del presupuesto actual de TI y soporte los planes estratégicos y tácticos de TI.
            </td>
        </tr>
        <tr>
            <td colspan="5">2. Trabajar con los responsables de entrega del servicio para mantener los portafolios de
                servicio y con los responsables de operaciones y arquitectos para mantener el portafolio de activos.
                Apoyar los planes tácticos y estratégicos de TI.</td>
        </tr>
        <tr>
            <td colspan="5">3. Eliminar los programas del portafolio de inversiones activas cuando los beneficios
                corporativos deseados han sido alcanzados o cuando está claro que los beneficios no serán alcanzados
                dentro del criterio de valor establecido para el programa.</td>
        </tr>
    </table>
</body>

</html><br>
<nav aria-label="Page navigation  example" class="container" style="width: 87%;">
    <ul class="pagination container">
      <li class="page-item"><a class="page-link" >APOO5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina73">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/Apo05raci">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina75">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina76">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina77">5</a></li>
    
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>

