<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>

<body >
    <table class="container" style="width: 85%; margin: 0 auto;">
        <thead>
            <tr>
                <th class="azultabla1" colspan="6">BAI01 Prácticas, Entradas/Salidas y Actividades del Proceso</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="celeste2tabla1"  colspan="2">Prácticas de Gestión</th>
                <th class="celeste2tabla1"  colspan="2">Entradas</th>
                <th class="celeste2tabla1"  colspan="2">Salidas</th>
            </tr>
            <tr>
                <td rowspan="6" colspan="2" class="texto"><b>BAI01.01 Mantener un enfoque estándar para la gestión
                    de programas y proyectos.</b><br>
                    Mantener un enfoque estándar para la gestión de programas y proyectos <br> que posibilite revisiones y tomas de decisión de gobierno y de gestión y <br>
                    actividades de gestión de la entrega, enfocadas en la consecución de valor  <br> y de objetivos (requisitos, riesgos, costes,
                    cronograma y calidad) para el <br>negocio de una forma consistente.
                <th colspan="1">De</th>
                <th colspan="1">Descripción</th>
                <th colspan="1">Descripción</th>
                <th colspan="1">A</th>
            </tr>
            <tr>
                <td colspan="1"><a href="/edm02tabla4">EDM02.02</a></td>
                <td colspan="1">Requisitos para revisiones <br>de cambio de estado <br>(stage-gate)</td>
                <td rowspan="5" class="texto">Enfoques actualizados de <br>gestión de programas y <br>proyectos</td>
                <td rowspan="5" class="texto">Interno</td>
            </tr>
            <tr>
                <td colspan="1"><a href="/edm02tabla4">EDM02.03</a></td>
                <td colspan="1">Acciones para mejorar la<br>entrega de valor<br></td>
            </tr>
            <tr>
                <td colspan="1"><a href="/pagina67">AP003.04</a></td>
                <td colspan="1"> •Requisitos de gobierno <br>de la arquitectura <br> •Descripciones en fase de
                    <br>implementación</td>
            </tr>
            <tr>
                <td colspan="1"><a href="/pagina76">AP005.05</a></td>
                <td colspan="1">Portafolios de programas,<br>servicios y activos<br>actualizados</td>
            </tr>
            <tr>
                <td colspan="1"><a href="/apo10tabla3">AP010.04</a></td>
                <td colspan="1">Riesgo de entrega del<br>proveedor idntificado</td>
            </tr>
            <tr>
            <tr>
                <td class="celeste2tabla1"  colspan="6" align="center"><b>Actividades</b>  
                </td>
            </tr>
            <tr>
                <td colspan="6">1. Mantener y reforzar un enfoque estándar de la gestión de programas y proyectos alineado al
                    entornno específico de la empresa y a las buenas prácticas basadas en procesos definidos y el uso de tecnología apropiada. Asegurar que el enfoque cubra todo
                    el ciclo de vida y las disciplinas a utilizar, incluyendo la gestión de alcance, recursos, riesgos, costes, calidad, tiempo,
                    comunicaciones, involucración de las partes interesadas, adquisiciones, control de cambios, integración y generación de beneficios.
                </td>
            </tr>
            <tr>
                <td colspan="6">2. Actualizar el enfoque de gestión de programas y proyectos sobre la base de las
                    lecciones aprendidas en su uso.
                </td>
            </tr>
            <tr>
            </tr>
        <tbody>
            <tr>
                <th  class="celeste2tabla1" colspan="2">Prácticas de Gestión</th>
                <th  class="celeste2tabla1" colspan="2">Entradas</th>
                <th class="celeste2tabla1" colspan="2">Salidas</th>
            </tr>
            <tr>
                <td rowspan="6" colspan="2" class="texto"><b>BAI01.02 Iniciar un programa.</b><br>
                    Iniciar un programa para confirmar los beneficios esperados
                    y para obtener <br> la autorización para proceder. Esto incluye los acuerdos sobre el patrocinio <br> del
                    programa, confirmar el mandato del programa a través de la aprobación <br> del caso de negocio conceptual, designar a los
                    consejeros o los miembros del comité del programa, generar el expediente
                    del programa, revisar y actualizar el <br>caso de negocio, desarrollar un plan de realización  de
                    beneficios y obtener la<br>aprobación de los patrocinadores para empezar.
                </td>
                <th colspan="1">De</th>
                <th colspan="1">Descripción</th>
                <th colspan="1">Descripción</th>
                <th colspan="1">A</th>
            </tr>
            <tr>
                <td colspan="1"><a href="/pagina67">AP003.04</a></td>
                <td colspan="1">•Descripciones en fase de <br> implementación<br>•Requisitos de recursos</td>
                <td colspan="1">Caso de negocio de concepto<br>del programa</td>
                <td colspan="1"><a href="/pagina75">AP005.03</a></td>
            </tr>
            <tr>
                <td colspan="1"><a href="/pagina75">AP005.03</a></td>
                <td colspan="1">Caso de negocio del<br>programa </td>
                <td colspan="1">Mandato y expediente del programa</td>
                <td colspan="1"><a href="/pagina75">AP005.03</a></td>
            </tr>
            <tr>
                <td colspan="1"><a href="/apo7tabla3">AP007.03</a></td>
                <td colspan="1">Matriz de habilidades y<br>competencias </td>
                <td rowspan="2" colspan="1" class="texto">Plan de realización de<br>beneficios del programa</td>
                <td rowspan="2" colspan="1" class="texto"><a href="/pagina75">AP005.03</a><br><a href="/apo6tabla4">AP006.05</a></td>
            </tr>
            <tr>
                <td colspan="1"><a href="/pagina147">BAI05.02</a></td>
                <td colspan="1">Visión y objetivos comunes</td>
            </tr>
            <tr>
            <tr>
                <td class="celeste2tabla1" colspan="6" align="center"><b> Actividades</b>
                </td>
            </tr>
            <tr>
                <td colspan="6">1. Acordar el patrocinio del programa y designar una Junta/Comité con miembros que tengan
                    intereses estratégicos en el programa y con responsabilidad en la toma de decisiones de
                    inversión, que serán afectados significativamente por el programa y que serán necesarios para facilitar el cambio.
                </td>
            </tr>
            <tr>
                <td colspan="6">2. Confirmar el mandato del programa con los patrocinadores y las partes interesadas.
                    Articular los objetivos estratégicos para el programa, la estrategias potenciales de entrega, las
                    mejoras y los beneficios que se esperan y cómo el programa
                    encaja con otras iniciativas.
                </td>
            </tr>
            <tr>
                <td colspan="6">3. Desarrollar un caso de negocio detallado para el programa, si se justifica. Involucrar
                    a todas las partes interesadas relevantes para desarrollar y
                    documentar un entendimiento completo de los resultados esperados por la empresa, cómo serán medidos
                    estos resultados, el alcance total de las
                    iniciativas requeridas, el riesgo involucrado y el impacto en todos los aspectos de la empresa.
                    Identificar y evaluar los cursos de acción alternativos
                    para lograr los resultados esperados por la empresa.
                </td>
            </tr>
            <tr>
                <td colspan="6">4. Desarrollar un plan de realización de beneficios que será gestionado durante todo el
                    programa para asegurar que los beneficios planificados siempre
                    tengan propietarios, se logren, sostengan y optimicen.
                </td>
            </tr>
            <tr>
                <td colspan="6">5. Preparar y someter a aprobación preliminar el caso de negocio inicial (conceptual) del
                    programa, proporcionando información esencial para la toma
                    de decisiones respecto del propósito, la contribución a los objetivos del negocio, la creación de
                    valor
                    esperado, los márgenes de tiempo, etc.
                </td>
            </tr>
            <tr>
                <td colspan="6">6. Designar un gerente dedicado para el programa, con las competencias y habilidades
                    adecuadas para gestionar el programa de forma eficiente y
                    efectiva.
                </td>
            </tr>
    </table><br>

</body>

</html><br>

<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/pagina119" >BAI01 </a></li>
      <li class="page-item"><a class="page-link" routerLink="/listar-tablauno" >1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina121" >2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina122" >3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina123" >4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina124" >5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina125" >6</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina126" >7</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina127" >8</a></li>
      <li class="page-item"><a class="page-link" href="pagina129">Continua BAIO2</a></li>
      
    </ul>
  </nav><br>