<div>
    <span>{{title}}</span>
    <form class="container bg-light bc row row-cols-1 row-cols-lg-4 g-1 g-lg-2 " style="height: 10px;" style="width: 60%;" style="margin: 35px   190px;" [formGroup]="headForm" (ngSubmit)="agregarHead()">
        <div class="form-group">
            <input type="text" formControlName="ha" class="form-control" placeholder="ha">
            <div class="validacion"
               *ngIf="headForm.get('ha')?.hasError('required') && headForm.get('ha')?.touched">
               <span>Este campo<b> es obligatorio</b></span>
            </div>  
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="hb" class="form-control" placeholder="hb">
            <div class="validacion"
                *ngIf="headForm.get('hb')?.hasError('required') && headForm.get('hb')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>  
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="hc" class="form-control" placeholder="hc">
            <div class="validacion"
                *ngIf="headForm.get('hc')?.hasError('required') && headForm.get('hc')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>  
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="hd" class="form-control" placeholder="hd">
            <div class="validacion"
                 *ngIf="headForm.get('hd')?.hasError('required') && headForm.get('hd')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="he" class="form-control" placeholder="he">
            <div class="validacion"
                 *ngIf="headForm.get('he')?.hasError('required') && headForm.get('he')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="hf" class="form-control" placeholder="hf">
            <div class="validacion"
                 *ngIf="headForm.get('hf')?.hasError('required') && headForm.get('hf')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="hg" class="form-control" placeholder="hg">
            <div class="validacion"
                 *ngIf="headForm.get('hg')?.hasError('required') && headForm.get('hg')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="hh" class="form-control" placeholder="hh">
            <div class="validacion"
                 *ngIf="headForm.get('hh')?.hasError('required') && headForm.get('hh')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="hi" class="form-control" placeholder="hi">
            <div class="validacion"
                 *ngIf="headForm.get('hi')?.hasError('required') && headForm.get('hi')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="hj" class="form-control" placeholder="hj">
            <div class="validacion"
                 *ngIf="headForm.get('hj')?.hasError('required') && headForm.get('hj')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="hk" class="form-control" placeholder="hk">
            <div class="validacion"
                 *ngIf="headForm.get('hk')?.hasError('required') && headForm.get('hk')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="hl" class="form-control" placeholder="hl">
            <div class="validacion"
                 *ngIf="headForm.get('hl')?.hasError('required') && headForm.get('hl')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="hm" class="form-control" placeholder="hm">
            <div class="validacion"
                 *ngIf="headForm.get('hm')?.hasError('required') && headForm.get('hm')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="hn" class="form-control" placeholder="hn">
            <div class="validacion"
                 *ngIf="headForm.get('hn')?.hasError('required') && headForm.get('hn')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="hnn" class="form-control" placeholder="hnn">
            <div class="validacion"
                 *ngIf="headForm.get('hnn')?.hasError('required') && headForm.get('hnn')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="ho" class="form-control" placeholder="ho">
            <div class="validacion"
                 *ngIf="headForm.get('ho')?.hasError('required') && headForm.get('ho')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="hp" class="form-control" placeholder="hp">
            <div class="validacion"
                 *ngIf="headForm.get('hp')?.hasError('required') && headForm.get('hp')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="hq" class="form-control" placeholder="hq">
            <div class="validacion"
                 *ngIf="headForm.get('hq')?.hasError('required') && headForm.get('hq')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="hr" class="form-control" placeholder="hr">
            <div class="validacion"
                 *ngIf="headForm.get('hr')?.hasError('required') && headForm.get('hr')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="hs" class="form-control" placeholder="hs">
            <div class="validacion"
                 *ngIf="headForm.get('hs')?.hasError('required') && headForm.get('hs')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="ht" class="form-control" placeholder="ht">
            <div class="validacion"
                 *ngIf="headForm.get('ht')?.hasError('required') && headForm.get('ht')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="hu" class="form-control" placeholder="hu">
            <div class="validacion"
                 *ngIf="headForm.get('hu')?.hasError('required') && headForm.get('hu')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="hv" class="form-control" placeholder="hv">
            <div class="validacion"
                 *ngIf="headForm.get('hv')?.hasError('required') && headForm.get('hv')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="hw" class="form-control" placeholder="hw">
            <div class="validacion"
                 *ngIf="headForm.get('hw')?.hasError('required') && headForm.get('hw')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="hx" class="form-control" placeholder="hx">
            <div class="validacion"
                 *ngIf="headForm.get('hx')?.hasError('required') && headForm.get('hx')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="hy" class="form-control" placeholder="hy">
            <div class="validacion"
                 *ngIf="headForm.get('hy')?.hasError('required') && headForm.get('hy')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>  
          </div> 
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>

        <div>
          <button routerLink="/listar-second" class="btn btn-danger">Volver</button>  &nbsp;
          <button type="submit" class="btn btn-success" [disabled]="headForm.invalid">Aceptar</button>
      </div>
    </form>
</div>
