<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table class="container" style="width: 87%;" class="azultabla1">
        <tr >
            <td class="azultabla1"><a class="nav-link text-white " router="/pagina51">APO01 </a> Practica, Entrada/Salidas y Actividades del Proceso (cont.)</td>
        </tr>
        <th class="celeste2tabla1 text-black"> 
            Práctica de Gestión
        </th>
        <th colspan="2" class="celeste2tabla1 text-black">
            Entradas
        </th>
        <th colspan="2" class="celeste2tabla1 text-black">
            Salidas
        </th>
        <tr>
            <td rowspan="5" class="text-black">
               <a class="nav-link" routerLink="/pagina51">APO01.03</a>  Mantener los elementos catalizadores del sistema de gestión.<br>
                Mantener los elementos catalizadores del sistema de gestión y del entorno de control de la TI de la
                empresa y garantizar que están integrados y alineados con la filosofía y el estilo operativo de gobierno
                y de gestión de la empresa. Estos elementos catalizadores incluyen una comunicación clara de
                expectativas/requisitos. El sistema de gestión debería fomentar la cooperación interdepartamental y el
                trabajo en equipo, promover el cumplimiento y la mejora continua y tratar las desviaciones en el proceso
                (incluidos los fallos).
            </td>
            <td class="text-black">De</td>
            <td class="text-black">Descripción</td>
            <td class="text-black">Descripción</td>
            <td class="text-black">A</td>
        </tr>
        <tr>
            <td><a class="nav-link" routerLink="/edm01tabla1">EDM01.01</a> </td>
            <td class="text-black">Principios rectores del gobierno corporativo</td>
            <td rowspan="4" class="text-black">Políticas relativas a TI</td>
            <td rowspan="4" class="text-black">Todo APO<br>
                Todo BAI<br>
                Todo DSS<br>
                Todo MEA
            </td>
        </tr>
        <tr>
            <td><a class="nav-link" routerLink="/pagina57">APO02.05</a> </td>
            <td class="text-black">Hoja de ruta estratégica</td>

        </tr>
        <tr>
            <td><a class="nav-link" routerLink="/apo12tabla1">APO12.01</a> </td>
            <td class="text-black">Problemas y factores de riesgo emergentes</td>
        </tr>
        <tr>
            <td><a class="nav-link" routerLink="/apo12tabla1">APO12.02</a> </td>
            <td class="text-black">Resultados del análisis de riesgos </td>
        </tr>
    </table>
    <table class="container" style="width: 87%;" class="celeste2tabla1">
        <tr>
            <td class="celeste2tabla1">Actividades</td>
        </tr>
        <tr>
            <td>1. Adquirir comprensión de la visión, la dirección y la estrategia corporativas. </td>
        </tr>
        <tr>
            <td>2. Tener en cuenta el entorno interno de la empresa, incluyendo la cultura y la filosofía de gestión, la
                tolerancia al riesgo, la seguridad, los valores éticos, el código de conducta, la rendición de cuentas y
                los requisitos de integridad en la gestión.</td>
        </tr>
        <tr>
            <td>3. Inferir e integrar los principios de TI con los principios de negocio.</td>
        </tr>
        <tr>
            <td>4. Alinear el entorno de control de TI con el entorno de políticas de TI, con los marcos de trabajo
                generales de gobierno de TI y procesos de TI y los marcos de trabajo existentes a nivel corporativo en
                cuanto a riesgo y control. Evaluar las buenas prácticas o los requisitos específicos del sector (p. ej.,
                normativa específica del sector) e integrarlos donde corresponda.</td>
        </tr>
        <tr>
            <td>5. Alinearse con todos los estándares y código de practica de gobierno y gestión aplicables a nivel
                nacional e internacional y evaluar buenas prácticas disponibles, como el Marco de Trabajo Integrado para
                Control Interno de COSO y el Marco de Trabajo Integrado para Gestión Empresarial del Riesgo de COSO.
            </td>
        </tr>
        <tr>
            <td>6. Crear un conjunto de políticas para conducir las expectativas de control de TI en temas clave
                relevantes, como calidad, seguridad, confidencialidad, controles internos, uso de activos de TI, ética y
                derechos de propiedad intelectual.</td>
        </tr>
        <tr>
            <td>7. Evaluar y actualizar las políticas, como mínimo una vez al año, para ajustarlas a los cambiantes
                entornos operativos o de negocio.</td>
        </tr>
        <tr>
            <td>8. Implantar y aplicar las políticas de TI a todo el personal relevante, de forma que estén incorporadas
                y sean parte integral de las operaciones empresariales.</td>
        </tr>
        <tr>
            <td>9. Asegurarse de que los procedimientos estén en funcionamiento para realizar un seguimiento del
                cumplimiento con las políticas y definir las consecuencias de la no conformidad.</td>
        </tr>
    </table>
    <table class="container" style="width: 87%;" class="celeste2tabla1">
        <th class="celeste2tabla1">
            Práctica de Gestión
        </th>
        <th colspan="2" class="celeste2tabla1">
            Entradas
        </th>
        <th colspan="2" class="celeste2tabla1">
            Salidas
        </th>
        <tr>
            <td rowspan="9">
                <a class="nav-link" routerLink="/pagina51">APO01.04</a>  Comunicar los objetivos y la dirección de gestión.<br>
                Comunicar la sensibilización y la comprensión de los objetivos y la dirección de TI a las partes
                interesadas y usuarios pertinentes a lo largo de toda la empresa.
            </td>
            <td>De</td>
            <td>Descripción</td>
            <td>Descripción</td>
            <td>A</td>
        </tr>
        <tr>
            <td><a class="nav-link" routerLink="/edm01tabla1">EDM01.02</a> </td>
            <td>Comunicación de gobierno corporativo </td>
            <td rowspan="8">Comunicación de objetivos de TI</td>
            <td rowspan="8">Todo APO<br>
                Todo BAI<br>
                Todo DSS<br>
                Todo MEA
            </td>
        </tr>
        <tr>
            <td><a class="nav-link" routerLink="/edm04tabla1">EDM04.02</a> </td>
            <td>Principios de protección de recursos</td>

        </tr>
        <tr>
            <td><a class="nav-link" routerLink="/apo12tabla1">APO12.06</a> </td>
            <td>Comunicación de impactos de riesgo</td>
        </tr>
        <tr>
            <td><a class="nav-link" href="">BAI08.01</a> </td>
            <td>Comunicación sobre valor del conocimiento</td>
        </tr>
        <tr>
            <td><a class="nav-link" routerLink="/dsso4tabla1">DSS04.01</a> </td>
            <td>Política y objetivos de continuidad empresarial</td>
        </tr>
        <tr>
            <td><a class="nav-link" routerLink="/dsso5tabla1">DSS05.01</a> </td>
            <td>Política de prevención de software malintencionado</td>
        </tr>
        <tr>
            <td><a class="nav-link" routerLink="/dsso5tabla1"> DSS05.02</a></td>
            <td>Política de seguridad de la conectividad</td>
        </tr>
        <tr>
            <td><a class="nav-link" routerLink="/dsso5tabla1">DSS05.03</a> </td>
            <td>Políticas de seguridad sobre terminales</td>
        </tr>
    </table>
    <table class="container" style="width: 87%;" class="celeste2tabla1">
        <tr>
            <td class="celeste2tabla1">Actividades</td>
        </tr>
        <tr>
            <td>1. Comunicar continuamente los objetivos y la dirección de TI. Asegurar que las comunicaciones reciban
                apoyo de la dirección ejecutiva, tanto de palabra como mediante acciones, empleando todos los canales
                disponibles.</td>
        </tr>
        <tr>
            <td>2. Garantizar que la información comunicada engloba una clara articulación de la misión, los objetivos
                de servicio, la seguridad, los controles internos, la calidad, el código ético/de conducta, las
                políticas y procedimientos, los roles y las responsabilidades, etc. Comunicar la información con el
                nivel de detalle adecuado para cada respectiva audiencia dentro de la empresa.</td>
        </tr>
        <tr>
            <td>3. Proporcionar recursos suficientes y cualificados para dar soporte al proceso comunicativo.</td>
        </tr>
    </table><br>
</body>

</html><br>

<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">APOO1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina51">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/listar-apo">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina53">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina54">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina55">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina56">6</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
      
    </ul>
  </nav><br>

