<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>

<body>
    <table class="container" style="width: 87%;">
        <tr>
            <td colspan="2" class="azultabla1"><a class="nav-link" routerLink="/apo6tabla1">AP006</a>  Gestionar el Presupuesto y Coste</td>
        </tr>
        <tr>
            <td colspan="2">Descripción del Proceso<br><br>
                Gestión las actividades financieras relacionadas con las TI tanto en el negocio como en las funciones de TI, abarcando presupuesto, coste y gestión del beneficio, y la priorización del gasto mediante el uso de practicas presupuestarias formales y un sistema justo y equitativo de reparto de costes a la empresa. Consultar alas partes interesadas para identificar y controlar los costes totales y los beneficios en el contexto de los planes estratégicos y tácticos de TI, e iniciar acciones correctivas cuando sea necesario.
            </td>
        </tr>
        <tr>
            <td colspan="2">Declaración del Propósito del Proceso<br>
            <br>
            Fomentar la colaboración entre TI y las partes interesadas de la empresa para catalizar en uso eficaz y eficiente de los recursos relacionados con las TI y brindar transparencia y responsabilidad sobre el coste el coste y valor de negocio de soluciones y servicios. Permitir a la empresa tomar decisiones informadas con respecto a la utilización de soluciones y servicios de TI.
            </td>
        </tr>
        <tr>
            <td colspan="2">El proceso apoya la consecución de un conjunto de principales metas TI:</td>
        </tr>
        <th class="celeste2tabla1">
            Meta TI
        </th>
        <th class="celeste2tabla1">
            Métricas Relacionadas
        </th>
        <tr>
            <td>05 Realización de beneficios del portafolio de inversiones y servicios relacionados con las TI</td>
            <td>• Porcentaje de inversiones de Ti en los que la realización del beneficio se monitoriza a través del ciclo de vida económico completo.<br>
                • Porcentaje de servicios TI en los que se realizan los beneficios esperados.<br>
                • Porcentaje de las inversiones en TI donde los beneficios demandados son alcanzados o excedidos.
                </td>
        </tr>
        <tr>
            <td>06 Transparencia de los costes, beneficios y riesgos de las TI</td>
            <td>• Porcentaje de inversión en casos de negocio con costes y beneficios esperados relativos a TI claramente definidos y aprobados.<br>
                • Porcentaje de servicios TI con costes operativos y beneficios esperados claramente definidos y aprobados.<br>
                • Encuesta de satisfacción a las partes interesadas clave relativa al nivel de transparencia, comprensión y precisión de la información financiera de TI.</td>
        </tr>
        <tr>
            <td colspan="2">Objetivos y Métricas del Proceso</td>
        </tr>
        <th class="celeste2tabla1">
            Meta del Proceso
        </th>
        <th class="celeste2tabla1">
            Métricas Relacionadas
        </th>
        <tr>
            <td>1.Un presupuesto de TI transparente y completo que refleja adecuadamente los gastos planificados.</td>
            <td>•	Numero de cambios en el presupuesto debido a omisiones y errores <br> 
                 •	Numero de desviaciones entre las categorías presupuestarias previstas y reales.</td>

        </tr>
        <tr>
            <td>2.La asignación de recursos de Ti para las iniciativas de TI se prioriza basándose en necesidades de la empresa.</td>
            <td>• Porcentaje de la alineación de los recursos de TI con iniciativas de alta prioridad<br>
                • Numero de problemas de asignación de recursos escalados </td>
        </tr>
        <tr>
            <td>3.Los costes de los servicios se asignan de manera equitativa.</td>
            <td>• Porcentaje de costes generales de TI que se han asignado de acuerdo con los modelos de costes acordados.</td>
        </tr>
        <tr>
            <td>4. Los presupuestos pueden ser comparados con precisión con los costes reales.</td>
            <td>• Porcentaje de variación entre los presupuestos, previsiones y los costes reales</td>
        </tr>
    </table>
</body>

</html><br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">APOO6</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo6tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/Apo06raci">2 </a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo6tabla2">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo6tabla3">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo6tabla4">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo6tabla5">6</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
      
    </ul>
  </nav>
