<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>localhost4200</title>

</head>


<body>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="azultabla1" colspan="6">EDMO1 Prácticas, actividades y entradas/salidas del Proceso (cont)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="celestetabla1" colspan="2">Práctica de gobierno</th>
        <th class="celestetabla1" colspan="2">Entradas</th>
        <th class="celestetabla1" colspan="2">Salidas</th>
      </tr>
      <tr>
        <td rowspan="15" colspan="2"><a href="edm01tabla1" >EDM01.03</a> Supervisar el sistena de gobierno de TI de la empresa. Analizar si el sistema de gobierno 
          y los mecanismos implementados(incluyendo estructuras, principios y proceso)esyan operando de forma efectiva y propocionas una 
          supervision apropiada de TI 
        </td>
          <th colspan="1">De</th>
          <th colspan="1">Descripción</th>
          <th colspan="1">Descripción</th>
          <th colspan="1">A</th>
      </tr>
      <tr>
        <td colspan="1"><a href="mea01">MEA01.04</a></td>
        <td colspan="1">Informes de rendimiento</td>
        <td rowspan="14" colspan="0.2">Retroalimentacion sobre el rendimiento y efectividad del gobierno</td>
        <td rowspan="14" colspan="0.2">Todo 
          <p><a href="edm01tabla1">EDM</a></p>
          <p><a href="pagina51">AP001.07</a></p> </td>
        
      </tr>
      <tr>
        <td rowspan="2" colspan="1"><a href="mea01">MEA01.05</a></td>
        <td rowspan="2" colspan="1">Estado y resultado de las acciones</td>
      </tr> 
      <tr>
      </tr>
      <tr>
        <td colspan="1"><a href="mea02">MEA02.01</a></td>
        <td colspan="1"><p>• Resultado de estudios comparativos</p>
          <p>• Resultado de las monitorizacion y revisiones de control interno</p> 
        </td>
      </tr>
      <tr>
        <td rowspan="2" colspan="1"><a href="mea02">MEA02.03</a></td>
        <td rowspan="2" colspan="1">Resultado de las revisiones de las autoevaluaciones</td>
      </tr>
      <tr>
      </tr>
      <tr>
      </tr>
      <tr>
      </tr>
      <tr>
        <td colspan="1"><a href="mea02">MEA02.06</a></td>
        <td colspan="1">Planes de aseguramiento</td>
      </tr>
      <tr>
        <td rowspan="2" colspan="1"><a href="meao3tabla1">MEA03.03</a></td>
        <td rowspan="2" colspan="1">Confirmaciones de cumplimiento</td>
      </tr> 
      <tr>
      </tr>
      <tr>
        <td colspan="1"><a href="meao3tabla1">MEA03.04</a></td>
        <td colspan="1"> <p>• Informes sobre aspectos de no cumplimiento y el origen de sus causas </p> 
         <p>•Informe de aseguramiento del cumplimiento</p> </td>
      </tr>
      <tr>
        <td rowspan="2" colspan="1">Fuera del Ambito COBIT</td>
        <td rowspan="2" colspan="1"> <p>• Obligaciones</p>
          <p>•Informes de auditoria</p> </td>
      </tr>
      <tr>
      </tr>         
      <tr>
      <tr>
        <th class="celestetabla1" colspan="6">Actividades</th>
      </tr>
      <tr>
        <td colspan="6">1. Evaluar la efectividad y el rendimiento de las partes interesadas en las que se ha delegado resposabilidad y 
          auditoria para el gobierno de TI de la empresa.</td>
      </tr>
      <tr>
        <td colspan="6">2. Evaluar periodicamente si los mecanismos para el gobierno de TI acordados (estructuras, principios, procesos, etc)
          estan establecidos y operando efectivamente.</td>
      </tr>
      <tr>
        <td colspan="6">3. Evaluar la efectividad del diseño de gobierno e identificar las acciones para rectificar cualquier desviacion.</td>
      </tr>
      <tr>
        <td colspan="6"> 4. Mantener la supervicion sobre el punto hasta el que TI satisface las obligaciones(regulatorias, legislacion,leyes,comunes,contractuales),
          politicas internas, estandares y directrices profesionales. </td>
      </tr>
      <tr>
        <td colspan="6">5.  Proporcionar supervision de la efectividad de , y el cumplimiento,con el sistema de control de la empresa. </td>
      </tr>
      <tr>
        <td colspan="6">6. Supervisar los mecanismos rutinarios y regulares para garantizar que el uso de TI cumplan con las obligaciones relevantes (regulares,legislacion 
          ,leyes comunes,contractuales), estandares y directrices. </td>
      </tr>
  </tbody>
</table>
</body>

</html>

<br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">EDM01</a></li>
      <li class="page-item"><a class="page-link" href="edm01tabla1">1</a></li>
      <li class="page-item"><a class="page-link" href="edm01tabla2">2</a></li>
      <li class="page-item"><a class="page-link" href="edm01tabla3">3</a></li>
      <li class="page-item"><a class="page-link" href="edm01tabla4">4</a></li>
      <li class="page-item"><a class="page-link" href="edm01tabla5">5</a></li>
      <li class="page-item"><a class="page-link" href="edm01tabla5">Next</a></li>
      
    </ul>
  </nav><br>

