<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>

<body>
    <table class="container" style="width: 87%;" class="azultabla1">
        <tr>
            <td class="azultabla1" ><a class="nav-link text-white" routerLink="/pagina51">APO01</a>  Practica, Entrada/Salidas y Actividades del Proceso (cont.)</td>
        </tr>
        <th class="celeste2tabla1 text-black" >
            Práctica de Gestión
        </th>
        <th colspan="2" class="celeste2tabla1 text-black">
            Entradas
        </th>
        <th colspan="2" class="celeste2tabla1 text-black">
            Salidas
        </th>
        <tr>
            <td rowspan="3" class="text-black">
                APO01.08 Mantener el cumplimiento con las políticas y procedimientos.<br>
                Poner en marcha procedimientos para mantener el cumplimientos y medición del funcionamiento de las
                políticas y otros catalizadores del marco de referencia; hacer cumplir las consecuencias del no
                cumplimiento o del desempeño inadecuado. Seguir las tendencias y el rendimiento y considerarlos en el
                diseño futuro y la mejora del marco de control.
            </td>
            <td class="text-black">De</td>
            <td class="text-black">Descripción</td>
            <td class="text-black">Descripción</td>
            <td class="text-black">A</td>
        </tr>
        <tr>
            <td><a class="nav-link" routerLink="/dsso1tabla1">DSS01.04</a> </td>
            <td class="text-black">Políticas del entorno</td>
            <td rowspan="2" class="text-black">Acciones de remediación por no cumplimiento</td>
            <td rowspan="2"><a class="nav-link" routerLink="/mea01">MEA01.05</a> </td>
        </tr>
        <tr>
            <td><a class="nav-link" routerLink="/dsso3tabla1">MEA03.02</a> </td>
            <td class="text-black">Actualización de políticas, principios, procedimientos y estándares</td>
        </tr>
    </table>
    <table class="container" style="width: 87%;" class="azultabla1">
        <tr>
            <td class="celeste2tabla1" class="text-black">Actividades</td>
        </tr>
        <tr>
            <td class="text-black">1. Hacer un seguimiento del cumplimiento con políticas y procedimientos.</td>
        </tr>
        <tr>
            <td class="text-black">2. Analizar los incumplimientos y adoptar las acciones apropiadas (puede incluir el cambio de
                requerimientos.)</td>
        </tr>
        <tr>
            <td class="text-black">3. Integrar rendimiento y cumplimiento dentro de los objetivos individuales del personal.</td>
        </tr>
        <tr>
            <td class="text-black">4. Evaluar periódicamente el desempeño de los catalizadores del marco de referencia y adoptar las
                acciones necesarias.</td>
        </tr>
        <tr>
            <td class="text-black">5. Analizar las tendencias en el funcionamiento y cumplimiento y adoptar las acciones apropiadas.</td>
        </tr>
    </table>
    <table class="container" style="width: 87%;" class="azultabla1">
        <tr>
            <td class="azultabla1"><a class="nav-link text-white" routerLink="/pagina51">APO01</a>  Guía Relacionada</td>
        </tr>
        <th class="celeste2tabla1 text-black">
            Norma Vinculada
        </th>
        <th class="celeste2tabla1 text-black" >
            Referencia Detallada
        </th>
        <tr>
            <td class="text-black">ISO/IEC 20000</td>
            <td class="text-black">3.1 Responsabilidad de la dirección<br>
                4.4 Mejora continua</td>
        </tr>
        <tr>
            <td class="text-black">ISO/IEC 27002</td>
            <td class="text-black">6. Organización de la Seguridad de la Información</td>
        </tr>
        <tr>
            <td class="text-black">ITIL V3 2011</td>
            <td class="text-black">25.7 Pasos para la Mejora de Procesos</td>
        </tr>
    </table><br>
</body>

</html><br>

<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">APOO1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina51">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/listar-apo">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina53">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina54">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina55">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina56">6</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
      
    </ul>
  </nav><br>

