<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>


<body>
    <table class="container" style="width: 85%;">
        <tr>
            <td>APO02 Practica, Entrada/Salidas y Actividades del Proceso (cont.)</td>
        </tr>
        <th>
            Práctica de Gestión
        </th>
        <th colspan="2">
            Entradas
        </th>
        <th colspan="2">
            Salidas
        </th>
        <tr>
            <td rowspan="13">
                APO02.05 Definir el plan estratégico y la hoja de ruta.<br>
                Crear un plan estratégico que defina, en cooperación con las partes interesadas más relevantes, cómo los
                objetivos de TI contribuirán a los objetivos estratégicos de la empresa. Incluyendo cómo TI apoyará el
                programa aprobado de inversiones, los procesos de negocio, servicios y activos de TI. Orientar las
                tecnologías para definir las iniciativas que se requieren para cerrar las diferencias, la estrategia de
                abastecimiento y las medidas que se utilizarán para supervisar el logro de los objetivos, para dar
                prioridad a las iniciativas y combinarlas en una hoja de ruta a alto nivel.
            </td>
            <td>De</td>
            <td>Descripción</td>
            <td>Descripción</td>
            <td>A</td>
        </tr>
        <tr>
            <td>EDM04.01</td>
            <td>Plan de recursos aprobado</td>
            <td>Definición de iniciativas estratégicas</td>
            <td>APO05.01</td>
        </tr>
        <tr>
            <td>EDM04.03</td>
            <td>Realimentación sobre la asignación y eficacia de los recursos y capacidades<br>
                Acciones correctivas para gestionar las desviaciones en la gestión de recursos</td>
            <td>Evaluación de riesgo</td>
            <td>APO05.01<br>
                APO12.01</td>
        </tr>
        <tr>
            <td>APO03.01</td>
            <td>Alcance definido de la arquitectura<br>
                Caso de negocio conceptual de la arquitectura y propuestas de valor</td>
            <td rowspan="10">Hoja de ruta estratégica</td>
            <td rowspan="10">EDM02.01<br>
                APO01.03<br>
                APO03.01<br>
                APO05.01<br>
                APO08.01</td>
        </tr>
        <tr>
            <td>APO03.02</td>
            <td>Modelo de arquitectura de la información</td>
        </tr>
        <tr>
            <td>APO03.03</td>
            <td>Arquitectura de transición<br>
                Implementación a alto nivel y estrategias de migración</td>
        </tr>
        <tr>
            <td>APO05.01</td>
            <td>Realimentación sobre las estrategias y objetivos</td>
        </tr>
        <tr>
            <td>APO05.02</td>
            <td>Opciones de financiación</td>
        </tr>
        <tr>
            <td>APO06.02</td>
            <td>Asignaciones presupuestarias</td>
        </tr>
        <tr>
            <td>APO06.03</td>
            <td>Plan y presupuesto de TI<br>
                Comunicación del presupuesto</td>
        </tr>
        <tr>
            <td>APO13.02</td>
            <td>Casos de negocio de la seguridad de la información</td>
        </tr>
        <tr>
            <td>BAI09.05</td>
            <td>Plan de acción para ajustar las cantidades y asignación de licencias</td>
        </tr>
        <tr>
            <td>DSS04.02</td>
            <td>Aprobación de las opciones estratégicas</td>
        </tr>
    </table>
    <table class="container" style="width: 85%;">
        <tr>
            <td>Actividades</td>
        </tr>
        <tr>
            <td>1. Definir las iniciativas necesarias para cerrar las diferencias y migrar del entorno actual al
                deseado, incluyendo el presupuesto de inversión/operativo, fuentes de financiación y estrategia d
                provisión.</td>
        </tr>
        <tr>
            <td>2. Identificar y abordar adecuadamente los riesgos, costes e implicaciones de los cambios organizativos,
                evolución tecnológica, requisitos normativos, reingeniería de los procesos de negocio, dotación de
                personal, oportunidades de internalización (insourcing) y externalización (outsourcing), etc., en el
                proceso de planificación.</td>
        </tr>
        <tr>
            <td>3. Determinar dependencias, solapamientos, sinergias e impactos entre las iniciativas y priorizar las
                iniciativas.</td>
        </tr>
        <tr>
            <td>4. Identificar los requerimientos de recursos, planificación y presupuestos de inversión/operacional de
                cada iniciativa.</td>
        </tr>
        <tr>
            <td>5. Crear una hoja d ruta indicando la planificación y las interdependencias de las iniciativas.</td>
        </tr>
        <tr>
            <td>6. Traducir los objetivos en medidas de resultado representadas por métricas (qué) y objetivo (cuánto)
                que puedan ser relacionados con los beneficios empresariales.</td>
        </tr>
        <tr>
            <td>7. Obtener formalmente soporte de las partes interesadas y obtener aprobación del plan.</td>
        </tr>
    </table><br>
</body>

</html><br>

<nav aria-label="Page navigation  example" class="container" style="width: 87%;">
    <ul class="pagination container">
      <li class="page-item"><a class="page-link" >APOO2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina57">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/listar-productos">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina59">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina60">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina61">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina62">6</a></li>
     
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>

