<table class="container" style="width: 85%;">
    <thead>
        <tr>
            <td class="azultabla1" colspan="6">BAI09 Practicas, Entradas/Salidas y Actividades del Proceso</td>
          </tr>
    <th class="celeste2tabla1">
        Práctica de Gestión
    </th>
    <th colspan="2" class="celeste2tabla1">
        Entradas
    </th>
    <th colspan="2" class="celeste2tabla1">
        Salidas
    </th>
    </thead>
    <tr>
        <td rowspan="7" class="texto"> <strong> BAI09.05 Administrar licencias. <br>
            </strong>  <br>       
          Administrar las licencias de software de forma que se <br>
          mantenga el número óptimo de licencias para soportar <br>
          los requerimientos de negocio y el número de licencias <br>
          en propiedad sea suficiente para cubrir el software <br>
          instalado y en uso.
            </td>
        <td><b>De</b> </td>
        <td><b>Descripción</b></td>
        <td><b>Descripción</b></td>
        <td><b>A</b></td>
    </tr>
    <tr>
        <td rowspan="3" class="texto"></td>
        <td rowspan="3" class="texto"></td>
        <td class="texto">Registro de licencias de software</td>
        <td class="texto"> <a routerLink="/pagina168">BAI10.02</a> </td>
    </tr>
    <tr>
        <td class="texto">Resultado de auditorías de licencias instaladas</td>
        <td class="texto"><a routerLink="/meao3tabla3">MEA03.03</a></td>
    </tr>
    <tr>
        <td class="texto">Plan de acción para ajustar el número de licencias y su asignación</td>
        <td class="texto"><a routerLink="/pagina61">APO02.05</a></td>
    </tr>
    
</table>
<table class="container" style="width: 85%;">
    <thead >
    <tr>
        <td class="celeste2tabla1">Actividades </td>
    </tr>
    </thead>
    <tr>
        <td class="texto">1.Mantener un registro de todas las licencias de software adquiridas y sus acuerdos de licencias asociados. <br>
            </td>
    </tr>
    <tr>
        <td class="texto">2.De forma regular, llevar a cabo una auditoría para identificar a todos las copias de software instalado con licencia. <br>
            </td>
    </tr>
    <tr>
        <td class="texto">3.Comparar el número de copias de software instalado con el número de licencias de propiedad <br>    
        </td>
    </tr>
    <tr>
        <td class="texto">4.Cuando las copias sean inferiores al número en propiedad, decidir si existe una necesidad de mantener o cancelar licencias,
        adquisición, soporte y mantenimiento innecesario, formación y otros gastos.</td>
    </tr>
    <tr>
        <td class="texto">5.Cuando las copias sean superiores al número de propiedad, considerar primero la posibilidad de desinstalar copias que no sean ya necesarias o no <br>
            estén justificadas, y después, si es necesario, formación y otros gastos.
            </td>
    </tr>
    <tr>
        <td class="texto">De forma regular, considerar si se puede obtenerse un mejor valor mediane la actualización de productos y licencias asociadas.
            </td>
    </tr> 
    
</table>
<br>
<table class="table table-bordered" class="container" style="width: 87%;">
    <thead>
        <tr>
            <th class="azultabla1" colspan="6">BAI09 Guias Relacionada</th>
        </tr>
    </thead>
    <tr>
        <th style="width: 20%;">Estándares Relacionados</th>
        <th style="width: 60%;">Referencias Detalladas</th>
    </tr>
    <tr>
        <td style="width: 20%;">Ninguno</td>
        <td style="width: 60%;"></td>
    </tr>
    </table>

<br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/pagina163">BAI09</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina164">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina165">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina166">3</a></li>
      
      
      <li class="page-item"><a class="page-link" routerLink="">Next</a></li>
      
    </ul>
  </nav><br>
