<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>

<body>
    <table class="container" style="width: 87%;">
        <tr>
            <td colspan="5">APO12 Prácticas, Entradas/Salidas y Actividades del Proceso (cont.)</td>
        </tr>
        <tr>
            <td colspan="5">APO12.01 Actividades</td>
        </tr>
        <tr>
            <td colspan="5">1. Establecer y mantener un método para la recogida, clasificación y análisis de datos
                relacionados con riesgo de TI, dando cabida a múltiples tipos de eventos, múltiples categorías de riesgo
                de TI y múltiples factores de riesgo.</td>
        </tr>
        <tr>
            <td colspan="5">2. Registrar datos relevantes sobre el entorno de operación interno y externo de la empresa
                que pudieran jugar un papel significativo en la gestión del riesgo de TI.</td>
        </tr>
        <tr>
            <td colspan="5">3. Medir y analizar los datos históricos de riesgo de TI y de pérdidas experimentadas
                tomados de datos y tendencias externas disponibles, empresas similares de la industria - basados en
                eventos registrados, bases de datos y acuerdos de la industria sobre divulgación de eventos comunes.
            </td>
        </tr>
        <tr>
            <td colspan="5">4. Registrar datos sobre eventos de riesgo que han causado o pueden causar impactos al
                beneficio/valor facilitado por TI, a la entrega de programas y proyectos de TI y/o a las operaciones y
                entrega de servicio de TI. Capturar datos relevantes sobre asuntos relacionados, incidentes, problemas e
                investigaciones.</td>
        </tr>
        <tr>
            <td colspan="5">5. Para clases o eventos similares, organizar los datos recogidos y destacar fatores
                contribuyentes. Determinar los factores contribuyentes comunes para eventos múltiples.</td>
        </tr>
        <tr>
            <td colspan="5">6. Determinar las condiciones específicas que existían o faltaban cuando ocurrieron los
                eventos de riesgo y la forma en la cual las condiciones afectaban la frecuencia del evento y la magnitud
                de la pérdida.</td>
        </tr>
        <tr>
            <td colspan="5">7. Ejecutar análisis periódicos de eventos y de factores de riesgo para identificar asuntos
                nuevos o emergentes relacionados con el riesgo y para obtener un entendimiento de los asociados factores
                de riesgo internos y externos.</td>
        </tr>
        <th>
            Prácticas de Gestión
        </th>
        <th colspan="2">
            Entradas
        </th>
        <th colspan="2">
            Salidas
        </th>
        <tr>
            <td rowspan="4">
                APO12.02 Analizar el riesgo.<br>
                Desarrollar información útil para soportar las decisiones relacionadas con el riesgo que tomen en cuenta
                la relevancia para el negocio de los factores de riesgo.
            </td>
            <td>De</td>
            <td>Descripción</td>
            <td>Descripción</td>
            <td>A</td>
        </tr>
        <tr>
            <td>DSS04.02</td>
            <td>Análisis de impacto en el negocio</td>
            <td>Alcance de los esfuerzos de análisis de riesgos</td>
            <td>Interno</td>
        </tr>
        <tr>
            <td>DSS05.01</td>
            <td>Evaluaciones de amenazas potenciales</td>
            <td>Escenarios de riesgo de TI</td>
            <td>Interno</td>
        </tr>
        <tr>
            <td>Fuera del Ámbito de COBIT</td>
            <td>Avisos de amenaza</td>
            <td>Resultados de análisis de riesgos</td>
            <td>EDM03.03<br>
                APO01.03<br>
                APO02.02<br>
                BAI01.10</td>
        </tr>
        <tr>
            <td colspan="5">Actividades</td>
        </tr>
        <tr>
            <td colspan="5">1. Definir la amplitud y profundidad apropiadas para los esfuerzos en análisis de riesgos,
                considerando todos los factores de riesgo y la criticidad en el negocio de los activos. Establecer el
                alcance del análisis de riesgos después de llevar a cabo un análisis coste-beneficio.</td>
        </tr>
        <tr>
            <td colspan="5">2. Construir y actualizar regularmente escenarios de riesgo de TI, que incluyan escenarios
                compuestos en cascada y/o tipos de amenaza coincidentes y desarrollar expectativas para actividades de
                control específicas, capacidades para detectar y otras medidas de respuesta.</td>
        </tr>
        <tr>
            <td colspan="5">3. Estimar la frecuencia y magnitud de pérdida o ganancia asociada con escenarios de riesgo
                de TI. Tener en cuenta todos los factores de riesgo que apliquen, avaluar controles operacionales
                conocidos y estimar niveles de riesgo residual.</td>
        </tr>
        <tr>
            <td colspan="5">4. Comparar el riesgo residual con la tolerancia al riesgo e identificar exposiciones que
                puedan requerir una respuesta al riesgo.</td>
        </tr>
        <tr>
            <td colspan="5">5. Analizar el coste-beneficios de las opciones de respuesta al riesgo potencial, tales como
                evitar, reducir/mitigar, transferir/compartir y aceptar y explotar/capturar. Proponer la respuesta al
                riesgo óptima.</td>
        </tr>
        <tr>
            <td colspan="5">6. Especificar requerimientos de alto nivel para los proyectos o programas que implementarán
                las respuestas de riesgo seleccionadas. Identificar requerimientos y expectativas para los controles
                clave que son apropiados para las respuestas de mitigación de riesgos.</td>
        </tr>
        <tr>
            <td colspan="5">7. Validar los resultados de análisis de riesgos antes de usarlos para la toma de
                decisiones, confirmando que los análisis se alinean con requerimientos de empresa y verificando que las
                estimaciones fueron apropiadamente calibradas y examinadas ante una posible parcialidad.</td>
        </tr>
    </table>
</body>

</html><br>
<nav aria-label="Page navigation example " class="container" style="width: 812%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">APOO12</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo12tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/Apo012raci">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo12tabla2">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo12tabla3">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo12tabla4">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo12tabla5">12</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
      
    </ul>
  </nav>
