<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="container" style="width: 87%; margin: 0 auto;">
        <thead>
            <tr>
                <th class="azultabla1" colspan="6">BAI02 Prácticas, Entradas/Salidas y Actividades del Proceso (cont.)</th>
            </tr>
        </thead>
    <tr>
        <tr>
            <td class="celeste2tabla1" colspan="6" align="center"><b>BAI02.01 Actividades</b> 
            </td>
        </tr>
        <tr>
            <td colspan="6">1.Definir e implementar la definición de requerimientos y el procedimiento de mantenimiento y un reposiorio de requisitos acorde al tamaño,
                complejidad, objetivos y riesgos de la iniciativa que la empresa está considerando acometer.
            </td>
        </tr>
        <tr>
            <td colspan="6">2.Expresar los requerimientos de la empresa en términos de cómo la diferenica entre las capacidades de negocio existentes y deseadas son tratadas y 
                como cada rol interactuará con la solución y la utilizará.
            </td>
        </tr>
        <tr>
            <td colspan="6">3.Durante todo el proyecto, obtener, analizar y confirmar que los requerimientos de todas las partes interesadas, incluyendo loos criterios  de aceptación
                relevantes, son considerados, obtenidos, priorizados y registrados de un modo comprensible para las partes interesadas, patrocinadores de negocio y 
                personal de la implementación técnica, reconociendo que los requerimientos pueden cambiar y llegar a ser más detallados según se implementen.
            </td>
        </tr>
        <tr>
            <td colspan="6">4.Especificar y priorizar la información, los requisitos técnicos y funcionales basados en los requerimientos de las partes interesadas. Incluir
                requerimientos de control de la información en los procesos de negocio, procesos automatizados y entornos de TI para hacer frente a los riesgos de la
                información y cumplimiento con regulaciones, leyes y contratos comerciales.
            </td>
        </tr>
        <tr>
            <td colspan="6">5.Validar todos los requerimientos mediante aproximaciones tales como revisión por iguales, validación del modelo o prototipo operativo.
            </td>
        </tr>
        <tr>
            <td colspan="6">6.Confirmar la aceptación de aspectos clave de los requerimientos, incluyendo reglas de negocio, controles de información,  continuidad de negocio,
                cumplimiento legal y regulatori, 'auditabilidad', ergonomia, operatividad y usabilidad y soporte documental.
            </td>
        </tr>
        <tr>
            <td colspan="6">7. Hacer seguimiento y controlar al alcance, los requerimienos y los cambios a lo largo del ciclo de vida de la solución durante el proyecto según evolucione la comprensión de la solución.
            </td>
        </tr>
        <tr>
            <td colspan="6">8.Considerar los requerimientos relativos a politicas y estándares empresarales, arquitectura empresarial, planes TI estrategicos y tácticos, procesos e TI internos y extermalizados, requerimientos de seguridad, requerimientos regulatorios, competencias del personal, estructura organizativa, caso de negocio y tcnologias catalizadoras.
            </td>
        </tr>
        <tbody>
            <tr>
                <th class="celeste2tabla1" colspan="2">Prácticas de Gestión</th>
                <th class="celeste2tabla1" colspan="2">Entradas</th>
                <th class="celeste2tabla1" colspan="2">Salidas</th>
            </tr>
            <tr>
                <td rowspan="8" colspan="2" class="texto"><b>BAI02.02 Realizar un estudio de viabilidad y <br> proponer soluciones alternativas.</b><br>
                    Realizar un estudio de viabilidad de las potenciales soluciones alternativas, evaluando su viabilidad y 
                    seleccionando la opción preferida. Si se considera, implementar la <br>opción seleccionada como un piloto para determinar posibles mejoras.
                <th colspan="1">De</th>
                <th colspan="1">Descripción</th>
                <th colspan="1">Descripción</th>
                <th colspan="1">A</th>
            </tr>
            <tr>
                <td colspan="1"><a href="/pagina67" >AP003.05</a></td>
                <td colspan="1">Guía de desarrollo<br>de la solución</td>
                <td rowspan="1">Informe de estudio <br>de viabilidad</td>
                <td rowspan="1"><a href="/pagina135" >BAI03.02</a><br><a href="/pagina136" >BAI03.03</a></td>
            </tr>
            <tr>
                <td colspan="1"><a href="/apo10tabla2" >AP010.01</a></td>
                <td colspan="1">Catalogo de pproveedores<br></td>
                <td rowspan="3" class="texto">Plan de alto nivel de adquisiciones/dsarrollo</td>
                <td rowspan="3" class="texto"><a href="/apo10tabla2" >AP010.02</a><br><a href="/pagina135" >BAI03.01</a></td>
            </tr>
            <tr>
                <td colspan="1" class="texto"><a href="/apo10tabla2" >AP010.02</a></td>
                <td colspan="1"> •Resultados de decisión<br> de las evaluaciones de<br>proveedores<br>
                    •Evaluaciones de RFI y RFP<br>
                    •RFIs y RFPs de <br>proveedores
                    </td>
            </tr>
            <tr>
                <td colspan="1"><a href="" >AP011.03</a></td>
                <td colspan="1">Criterios de aceptación</td>
            </tr>
        </tbody>
        <tr>
            <td class="celeste2tabla1" colspan="6" align="center"><b>Actividades</b> 
            </td>
        </tr>
        <tr>
            <td colspan="6">1.Definiry ejecutar un estudio de viabilidad, piloto o solución básica funcional que clara y concisamente describa las soluciones alternativas que satisfarán los requerimientos funcionales y de negocio.Incluir una evaluación de su viabilidad y económica.
            </td>
        </tr>
        <tr>
            <td colspan="6">2.Identificar las acciones requeridas para la adquisición o desarrollo de la solución, basada en la arquitectura de la empresa y tener en cuenta el alcance y/o tiempo y/o  limitaciones de presupuesto.
            </td>
        </tr>
        <tr>
            <td colspan="6">3.Revisar las soluciones altenaticas con todas las partes interesadas y seleccionar la más apropiada basada en criteios de  viabilidad, incluyendo costed y riesgos.
            </td>
        </tr>
        <tr>
            <td colspan="6">4.Traducir la linea de acción preferida a un plan de alto de nivel de adquisición/desarrollo identificando recursos a urilizar y fases que requieran decisiones de continuar/no continuar.
            </td>
        </tr>
    </table>
</body>
</html><br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/pagina129">BAI02</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina130">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina131">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina132">3</a></li>
      <li class="page-item"><a class="page-link" href="pagina133">Continua BAIO3</a></li>
      
    </ul>
  </nav><br>