<div class="container">
    <table class="table">
        <thead class="theader">
        <tr>
            <td class="titulos" scope="col" colspan="5">DSS01 Prácticas, Entradas/Salidas y Actividades del Proceso</td>
        </tr>
        </thead >
        <td class="fondo2" style="text-align:center">Práctica de Gestión</td>
        <td class="fondo2" style="text-align:center" colspan="2">Entradas</td>
        <td class="fondo2" style="text-align:center" colspan="3">Salidas</td>
    
    <tr>
        <th scope="row" rowspan="3">DSS01.02 Gestionar servicios externalizados de TI. .
            <p class="texto">Gestionar la operación de servicios externalizados
                de TI para mantener la protección de la información empresarial
                y la confiabilidad de la entrega del servicio.
            </p>
        </th>
    </tr>
    <tr>
        <td style="text-align:center">De</td>
        <td style="text-align:center">Descripción</td>
        <td style="text-align:center">Descripción</td>
        <td style="text-align:center">A</td>
    </tr>
    <tr>
        <td><a href="apo9tabla2">APO09.03</a></td>
        <td>
            <li type="disc">OLAs</li>
            <li type="disc">ANSs</li>
        </td>
        <td>Planes de aseguramiento independientes</td>
        <td><a href="mea02c">MEA02.06</a></td>
    </tr>
    <tr>
        <td colspan="5" style="text-align:center" class="fondo">Actividades</td>
    </tr>
    <tr>
        <td colspan="5">1. Asegurar que los procesos de información se 
            adhieren a los requerimientos de seguridad de la empresa y 
            conformes con los contratos y ANSs con terceros que alojan o 
            proveen servicios.</td>
    </tr>
    <tr>
        <td colspan="5">2. Asegurar que los requerimientos operativos del 
            negocio y de procesamiento de TI, así como a las prioridades 
            la entrega del servicio se adhieren y son conformes a los contratos
            y ANSs con terceros que alojan o proveen servicios.</td>
    </tr>
    <tr>
        <td colspan="5">3. Integrar los procesos críticos de gestión interna 
            de TI con los de los proveedores de servicios externalizados 
            cubriendo, por ejemplo, la planificación de la capacidad y el 
            rendimiento, la gestión del cambio, la gestión de la configuración 
            gestión de peticiones de servicio y de incidentes, la gestión de 
            problemas, la gestión de la seguridad, la continuidad del negocio y 
            la monitorización y notificación del desempeño de los procesos.</td>
    </tr>
    <tr>
        <td colspan="5" id="DSS01">4. Planificar la realización de auditorías y 
            aseguramientos independiente de los entonos operativos de los 
            proveedores de externalización (outsourcing) para confirmar 
            que los requerimientos acordados están recibiendo el tratamiento 
            adecuado.</td>
    </tr>
    </table>
    </div>

    <nav aria-label="Page navigation example " class="container" style="width: 87%;">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" routerLink="/home">HOME</a></li>
          <li class="page-item"><a class="page-link" routerLink="/dsso1tabla1">1</a></li>
          <li class="page-item"><a class="page-link" routerLink="/listraci01">2</a></li>
          <li class="page-item"><a class="page-link" routerLink="/dsso1tabla2">3</a></li>
          <li class="page-item"><a class="page-link" routerLink="/dsso1tabla3">4</a></li>
          <li class="page-item"><a class="page-link" routerLink="/dsso1tabla4">5</a></li>
          <li class="page-item"><a class="page-link" routerLink="/dsso1tabla5">6</a></li>
          <li class="page-item"><a class="page-link" routerLink="/dsso1tabla6">7</a></li>
          <li class="page-item"><a class="page-link" routerLink="/dsso1tabla7">8</a></li>
          <li class="page-item"><a class="page-link" href="/dsso1tabla4">Next</a></li>
          
        </ul>
      </nav><br>
    
