
.fa-solid{
    cursor: pointer;
    margin-left: 7px;  
  }
  .matriz{
    background-color: rgb(40, 84, 204);
    color: aliceblue;
    text-align: left;
    font-family: 'Hind', sans-serif;
  }
  .buton{
    font-family: 'Hind', sans-serif;
    background-color: aqua;
  
  }
  .verticalText {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    background-color: rgb(126, 172, 240);
    
    
    }
    
    
  .all{
      text-align: center;
      font-family: 'Hind', sans-serif;
    }
  
  .textcolor{
    background-color: rgba(72, 74, 175, 0.87);
    position: relative;
    width: -100px;
  }
  
  
  
  
  .sel{
  color: rgb(15, 100, 179);
  cursor: pointer;
  text-decoration: underline;
  }
  .align{
  vertical-align: bottom;
  }
  .btn{
  margin-top: 10px;
  margin-left: 1240px;
  }