<app-listar-racicuatro></app-listar-racicuatro>
<br>


<table class="container" style="width: 85%;">
    <thead>
        
            
              <tr>
                <td class="azultabla1" colspan="6">BAI04 Practicas, Entradas/Salidas y Actividades del Proceso</td>
              </tr>
    <th class="celeste2tabla1">
        Práctica de Gestión
    </th>
    <th colspan="2" class="celeste2tabla1">
        Entradas
    </th>
    <th colspan="2" class="celeste2tabla1">
        Salidas
    </th>
    </thead>
    <tr>
        <td rowspan="7" class="texto"> <strong> BAI04.01 Evaluar la disponibilidad, rendimiento y.<br>
            capacidad actual y crear una línea de referencia.</strong>  <br>        
            </td>
        <td><b>De</b></td>
        <td><b>Descripción</b></td>
        <td><b>Descripción</b></td>
        <td><b>A</b></td>
    </tr>
    <tr>
        <td class="texto"><a routerLink="/pagina130">BAI02.01</a></td>
        <td class="texto">Repositorios de definición de requisitos</td>
        <td class="texto">Líneas de referencia de disponibilidad, rendimiento y capacidad</td>
        <td class="texto">Interno</td>
    </tr>
    <tr>
        <td class="texto"><a routerLink="/pagina132">BAI02.03</a></td>
        <td class="texto">Registro de requisitos de riesgo</td>
        <td  class="texto">Evaluaciones respecto a ANSs</td>
        <td  class="texto"> <a routerLink="/pagina95"> APO09.05</a></td>
    </tr>
   
</table>
<table class="container" style="width: 85%;">
    <thead>
    <tr>
        <td class="celeste2tabla1">Actividades</td>
    </tr>
    </thead>
    <tr>
        <td class="texto">1. Considerar en la evaluación (actual o prevista) de disponibilidad, rendimiento y capacidad de sercicios y recursos lo siguiente: Requisitos del cliente,<br>
            prioridades de negocio, objetivos de negocio, impacto en el presupuesto, utilización de recursos, capacidades de TI y tendencias de la industria.</td>
    </tr>
    <tr>
        <td class="texto">2. Supervisar el rendimiento y la utilización de la capacidad real frente a los umbrales definidos, con el apoyo sea necesario de software <br>
             automatizado.
           </td>
    </tr>
    <tr>
        <td class="texto">3. Identificar y dar seguimiento a todos los incidentes causados por un rendimiento o una caoacidad inadecuados.
        </td>
    </tr>
    <tr>
        <td class="texto">4. Evaluar periódicamente los niveles reales de rendimiento a todos los niveles de procesamiento (de la demanda del negocio, capacidad de servicio y capacidad de los recursos) mediante la comparación con las tendencias y los ANSs, teniendo en cuenta los cambios en el entorno.
            procedimientos de gestión, al código ético y las prácticas profesionales.</td>
    </tr>
    </table>
    <br>
    <nav aria-label="Page navigation example " class="container" style="width: 87%;">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" routerLink="/pagina141">BAI04</a></li>
          <li class="page-item"><a class="page-link" routerLink="/pagina142">1</a></li>
          <li class="page-item"><a class="page-link" routerLink="/pagina143">2</a></li>
          <li class="page-item"><a class="page-link" routerLink="/pagina144">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
          
        </ul>
      </nav><br>
    
