<table class="container" style="width: 85%;">
    <thead >
        <tr >
            <td class="azultabla1" colspan="5">BAI03 Practicas, Entrada/Salidas y Actividades del Proceso (cont.)</td>
        </tr>
        
        </thead>
    <tr>
        <Th class="celeste2tabla1" colspan="1" >Prácticas de gestión</Th>
        <th class="celeste2tabla1" colspan="2">Entradas</th>
        <th class="celeste2tabla1" colspan="2">Salidas</th>
        </tr>
        
        <tr>
        <td  rowspan="3" class="texto"><strong>BAI03.08 Ejecutar pruebas de la solución. </strong><br>
        Ejecutar pruebas continuamente durante el desarrollo, incluyendo pruebas de control, en concordancia con el plan de pruebas y con las prácticas de desarrollo en el entorno apropiado. Hacer partícipes a los duelos de los procesos de negocio y usuarios finales en el equipo de pruebas. Identificar, registrar y priorizar los errores e incidentes identificados durante las pruebas.
        </td>
        <td><strong>De</strong></td> 
        <td><strong>Descripción</strong></td>
        <td><strong>Descripción</strong></td>
        <td><strong>Hacia</strong></td>
        </tr>
        <tr>
        <td rowspan="2"  class="texto"><a routerLink="/pagina72">APO04.05</a></td>
        <td  rowspan="2" class="texto">Análisis de iniciativas rechazadas</td>
        <td   class="texto">registros de resultados de pruebas y pistas de auditoria</td>
        <td   class="texto"><a routerLink="/pagina155">BAI07.03</a></td>
        </tr>
        <tr>
        
        <td   class="texto">Comunicaciones del resultado de las pruebas</td>
        <td   class="texto"><a routerLink="/pagina155">BAI07.03</a></td>
        </tr>
        
        <tr>
        <td colspan="5" class="Actividades" class="celeste2tabla1"><strong  > Actividades</strong></td>
        </tr>
        <tr><td colspan="5"  class="texto">1. Realizar las pruebas de las soluciones y sus componentes en concordancia con el plan de pruebas. Incluir probadores independientes del equipo de la solución, con representación de los dueños de los procesos y usuarios finales del negocio, Asegurar que las pruebas son realizadas solo en los entornos de desarrollo de pruebas.</td></tr>
        <tr><td colspan="5"  class="texto">2. Utilizar las instrucciones de pruebas claramente definidas, tal y como se indican en el plan de pruebas y considerar un equilibrio adecuado entre pruebas automatizadas y pruebas con interactividad del usuario </td></tr>
        <tr><td colspan="5" class="texto">3. Realizar todas las pruebas conforme el plan y prácticas de pruebs incluyendo la integración de los procesos de negocio y los componentes de la solución TI y los requerimientos no funcionales, por ejemplo: seguridadm inroperabilidad,usabilidad.</td></tr>
        <tr><td colspan="5" class="texto">4. Identificar, registrar y clasificar los errores, por ejemplo: fallos menores, significativos o críticos durante las pruebas. Repetir las pruebas hasta que todos los errores significativos hayan sido resueltos. Asegurarse que existen y se mantienen pistas de auditoria de los resultados de las pruebas.</td></tr>
        <tr><td colspan="5" class="texto">5. Registrar los resultados de las pruebas y comunicar los resultados a las partes interesadas conforme al plan de pruebas.</td></tr>
        
        
        
        
        <tr>
        <Th class="celeste2tabla1" colspan="1" >Prácticas de gestión</Th>
        <th class="celeste2tabla1" colspan="2">Entradas</th>
        <th class="celeste2tabla1" colspan="2">Salidas</th>
        </tr>
        
        <tr>
        <td rowspan="3" class="texto"><strong>BAI03.09 Gestionar cambios a los requerimientos. </strong><br>
        Hacer seguimiento del estado de los requerimientos individuales, incluyendo todos los requerimientos rechazados a través de todo el ciclo de vidad del proyecto y gestionar la aprobación de los cambios a los requerimientos.
        </td>
        <td><strong>De</strong></td> 
        <td><strong>Descripción</strong></td>
        <td><strong>Descripción</strong></td>
        <td><strong>Hacia</strong></td>
        </tr>
        <tr>
        <td   class="texto"><a routerLink="/pagina72">APO04.05</a></td>
        <td  rowspan="2" class="texto">Análisis de iniciativas rechazadas</td>
        <td  class="texto" >registros de resultados de pruebas y pistas de auditoria</td>
        <td   rowspan="2" class="texto"><a routerLink="/pagina155">BAI07.03</a></td>
        </tr>
        <tr>
        
        <td   class="texto">Comunicaciones del resultado de las pruebas</td>
        <td   class="texto"><a routerLink="/pagina155">BAI07.03</a></td>
        </tr>
        
        <tr>
        <td colspan="5" class="Actividades" class="celeste2tabla1"><strong  > Actividades</strong></td>
        </tr>
        <tr><td colspan="5"  class="texto">1. Evaluar el impacto de todas llas peticiones de cambio de la solución en el desarrollo de la solución, el caso de negocio original y en el presupuesto, y categorizar y preiorizar las peticiones convenientemente.</td></tr>
        <tr><td colspan="5"  class="texto">2. Hacer seguimiento de los requerimientos, facilitando a las partes interesadas la supervición, revisión y aprobación de los cambios. Asegurar que los resultados de los procesos de cambio están completamente entendidos y están de acuerdo todas las partes interesadas y el patrocinador/ propietario del proceso de negocio. </td></tr>
        <tr><td colspan="5" class="texto">3. Aplicar las peticiones de cambio, manteniendo la integridad de la integración y configuración de los componentes de la solución. Evaluar el impacto de cualquier actualización mayor de la solución  y clasificarla conforme a criterios objetivos acordados tales como los requerimientos de empresa basados en los resultados del análisis de riiesgos que lo acompaña, tales como el impacto en los sistemas existentes y procesos o seguridad, justificación de coste/beneficio y otros requerimientos.</td></tr>
        
        
        
        
        <tr>
        <Th class="celeste2tabla1" colspan="1" >Prácticas de gestión</Th>
        <th class="celeste2tabla1" colspan="2">Entradas</th>
        <th class="celeste2tabla1" colspan="2">Salidas</th>
        </tr>
        
        <tr>
        <td rowspan="3" class="texto"><strong>BAI03.10 Mantener soluciones. </strong><br>
        
        </td>
        <td><strong>De</strong></td> 
        <td><strong>Descripción</strong></td>
        <td><strong>Descripción</strong></td>
        <td><strong>Hacia</strong></td>
        </tr>
        <tr>
        <td rowspan="2"  ></td>
        <td  rowspan="2"></td>
        <td   class="texto">Plan de mantenimiento</td>
        <td  ><a routerLink="/pagina92">APO08.05</a></td>
        </tr>
        <tr>
        
        <td   class="texto">Componentes de la solución actualizados y documentación relacionada </td>
        <td   class="texto"><a routerLink="/pagina145">BAI05.05</a></td>
        </tr>
        
        <tr>
        <td colspan="5" class="Actividades" class="celeste2tabla1"><strong  > Actividades</strong></td>
        </tr>
        <tr><td colspan="5"  class="texto">1. Desarrollar y ejecutar un plan  para el mantenimiento de los componentes de la solución que incluya revisiones periódicas respecto a las necesidades de negocio y requerimientos operacionales tales como la gestión de parches, estrategias de actualización, riesgos, análisis de vulnerabilidades y requerimientos de seguridad. </td></tr>
        <tr><td colspan="5"  class="texto">2. Evaluar la significatividad de las actividades de mantenimiento propuestas  sobre el diseño de la solución, funcionalidad y/o procesos de negocio actuales. Considerar el riesgo, impacto en los usuarios y disponibilidad de recursos. Asegurar que los propietarios de  los procesos de negocio comprenden el efecto de los cambios designados como mantenimiento. </td></tr>
        <tr><td colspan="5" class="texto">3. En el caso de los cambios mayores a las soluciones existentes que resulten en un cambio significativo en el diseño actual y/o funcionalidad y/o procesos de negocio, seguir el proceso de desarrollo usado para nuevos  sistemas. PAra actualizaciones de mantenimiento usar los procesos de gestión de cambios. </td></tr>
        <tr><td colspan="5" class="texto">4. Asegurar que el patrón y volumen de las actividades son analizadas periódicamente para buscar tendencias anormales indicando una merma en la calidad o problemas en el rendimiento, coste/beneficio de las actualizaciones mayores o remplazo en lugar de mantenimiento. </td></tr>
        <tr><td colspan="5" class="texto">5. PAra actualizaciones de mantenimiento, utilizar el proceso de gestión de cambio para controlar todas las peticiones de mantenimiento. </td></tr>



</table>
<br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" routerLink="/pagina133">BAI01</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina134">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina135">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina136">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina137">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina138">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina139">6</a></li>
      <li class="page-item"><a class="page-link" routerLink="">Next</a></li>
      
    </ul>
  </nav><br>
