<div class="container">
    <table class="table">
        <thead class="theader">
        <tr>
            <th class="titulos" scope="col">DSS02 Gestionar Peticiones e Incidentes de Servicio</th>
            <th class="titulos2" scope="col">Área: Gestión <br>
                Domínio: Entrega, Servicio y Soporte</th>
        </tr>
    </thead>
    <tr>
        <th class="fondo" colspan="2">Descripción del proceso
            <p>Proveer una respuesta oportuna y efectiva a las peticiones
                de usuario y la resolución de todo tipo de incidentes. Recuperar
                el servicio normal; registar y completar las peticiones
                de usuario; y registrar, investigar, diagnosticar, escalar y
                resolver incidentes.
            </p>
        </th>
    </tr>
    <tr>
        <th class="fondo" colspan="2">Declaración del Propósito del Proceso
            <p>Lograr una mayor productividad y minimizar las interrupciones
                mediantes la rápida resolución de consultas de usuario e incidentes
            </p>
        </th>
    </tr>
    <tr>
        <td class="fondo2" colspan="2">El proceso apoya la consecución de un conjunto de principales metas TI:</td>
    </tr>
    <tr>
        <td class="fondo">Meta TI</td>
        <td class="fondo">Métricas Relacionadas</td>
    </tr>
    <tr>
        <td>04 Riesgo de negocio relacionados con las TI gestionados</td>
        <li type="disc">Porcentaje de procesos de negocio críticos, 
            servicios Tl y programas de negocio habilitados por las TI 
            cubiertos por evaluaciones de riesgos</li>
        <li type="disc">Número de incidentes significativos relacionados 
            con las TI que no fueron identificados en la evaluación de riesgos</li>
        <li type="disc">Porcentaje de evaluaciones de riesgo de la empresa 
            que incluyen los riesgos relacionados con TI</li>
        <li type="disc">Frecuencia de actualización del perfil de riesgo</li>
    </tr>
    <tr>
        <td>07 Entrega de servicios de TI de acuerdo a los requisitos del negocio</td>
        <li type="disc">Número de interrupciones del negocio debidas a 
            incidentes en el servicio de TI</li>
        <li type="disc">Porcentaje de partes interesadas satisfechas con 
            el cumplimiento del servicio de TI entregado respecto a los 
            niveles de servicio acordados</li>
        <li type="disc">Porcentaje de usuarios satisfechos con la calidad de 
            los servicios de TI entregados</li>
    </tr>
    <tr>
        <td class="fondo2" colspan="2">Objetivos y Métricas del Proceso</td>
    </tr>
    <tr>
        <td class="fondo">Objetivos del Proceso</td>
        <td class="fondo">Métricas Relacionadas</td>
    </tr>
    <tr>
        <td>1. Los servicios relacionados con TI están disponibles
            para ser utilizados.
        </td>
        <li type="disc">Número y porcentaje de incidentes que causan 
            interrupción en los procesos críticos de negocio</li>
        <li type="disc">Tiempo promedio entre incidentes de acuerdo con 
            el servicio facilitado por TI</li>
        
    </tr>
    <tr>
        <td>2. Los incidentes son resueltos según los niveles de servicio acortados</td>
        <li type="disc">Porcentaje de incidentes resueltos dentro de un periodo 
            acordado/aceptable</li>
    </tr>
    <tr>
        <td>3. Las peticiones de servicio son resueltas según los niveles
            de servicio acordadps y la satisfacción del usuario.
        </td>
        <li type="disc">Nivel de satisfacción del usuario con la resolución de las 
            peticiones de servicio</li>
        <li type="disc">Tiempo promedio transcurrido para el tratamiento de cada 
            tipo de petición de servicio</li>
    </tr>

    
            </table>
    </div>
    <nav aria-label="Page navigation example " class="container" style="width: 87%;">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" routerLink="/home">HOME</a></li>
          <li class="page-item"><a class="page-link" routerLink="/dsso2tabla1">1</a></li>
          <li class="page-item"><a class="page-link" routerLink="/listraci02">2</a></li>
          <li class="page-item"><a class="page-link" routerLink="/dsso2tabla2">3</a></li>
          <li class="page-item"><a class="page-link" routerLink="/dsso2tabla3">4</a></li>
          <li class="page-item"><a class="page-link" routerLink="/dsso2tabla4">5</a></li>
          <li class="page-item"><a class="page-link" routerLink="/dsso2tabla5">6</a></li>
          <li class="page-item"><a class="page-link" routerLink="/dsso2tabla6">7</a></li>
          <li class="page-item"><a class="page-link" routerLink="/dsso2tabla7">8</a></li>
          <li class="page-item"><a class="page-link" routerLink="/dsso2tabla8">9</a></li>
          <li class="page-item"><a class="page-link" routerLink="/dsso2tabla9">10</a></li>
          <li class="page-item"><a class="page-link" href="/listraci02">Next</a></li>
          
        </ul>
      </nav><br>

