<span  class="titulo" style=" font-size: 20px; color: white;">{{ titulo | uppercase}}</span>
<form [formGroup]="cabecerab10Form" (ngSubmit)="agregarCabecerab10()" class="container bg-light bc row row-cols-4 row-cols-lg-4 g-1 g-lg-2"
style="height: 10px;" style="width: 60%;" style="margin: 35px   190px;margin:0 auto;">
    
    <div class="form-group">
        <input type="text" formControlName="ll1"
        class="form-control" placeholder="BAI">  
        <div class="validacion"
            *ngIf="cabecerab10Form.get('ll1')?.hasError('required') && cabecerab10Form.get('ll1')?.touched">
            <span>La categoria<b> es obligatoria</b></span>
        </div>  
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="ll2"
        class="form-control" placeholder="BAI">  
        <div class="validacion"
            *ngIf="cabecerab10Form.get('ll2')?.hasError('required') && cabecerab10Form.get('ll2')?.touched">
            <span>La categoria<b> es obligatoria</b></span>
        </div>  
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="ll3"
        class="form-control" placeholder="R-A-C-I"> 
        <div class="validacion"
            *ngIf="cabecerab10Form.get('ll3')?.hasError('required') && cabecerab10Form.get('ll3')?.touched">
            <span>La ubicación<b> es obligatoria</b></span>
        </div>   
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="ll4"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab10Form.get('ll4')?.hasError('required') && cabecerab10Form.get('ll4')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="ll5"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab10Form.get('ll5')?.hasError('required') && cabecerab10Form.get('ll5')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="ll6"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab10Form.get('ll6')?.hasError('required') && cabecerab10Form.get('ll6')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="ll7"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab10Form.get('ll7')?.hasError('required') && cabecerab10Form.get('ll7')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="ll8"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab10Form.get('ll8')?.hasError('required') && cabecerab10Form.get('ll8')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="ll9"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab10Form.get('ll9')?.hasError('required') && cabecerab10Form.get('ll9')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="ll10"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab10Form.get('ll10')?.hasError('required') && cabecerab10Form.get('ll10')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="ll11"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab10Form.get('ll11')?.hasError('required') && cabecerab10Form.get('ll11')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="ll12"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab10Form.get('ll12')?.hasError('required') && cabecerab10Form.get('ll12')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="ll13"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab10Form.get('ll13')?.hasError('required') && cabecerab10Form.get('ll13')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="ll14"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab10Form.get('ll14')?.hasError('required') && cabecerab10Form.get('ll14')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="ll15"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab10Form.get('ll15')?.hasError('required') && cabecerab10Form.get('ll15')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="ll16"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab10Form.get('ll16')?.hasError('required') && cabecerab10Form.get('ll16')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="ll17"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab10Form.get('ll17')?.hasError('required') && cabecerab10Form.get('ll17')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="ll18"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab10Form.get('ll18')?.hasError('required') && cabecerab10Form.get('ñll8')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="ll19"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab10Form.get('ll19')?.hasError('required') && cabecerab10Form.get('ll19')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="ll20"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab10Form.get('ll20')?.hasError('required') && cabecerab10Form.get('ñll0')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="ll21"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab10Form.get('ll21')?.hasError('required') && cabecerab10Form.get('ll21')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="ll22"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab10Form.get('ll22')?.hasError('required') && cabecerab10Form.get('ll22')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="ll23"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab10Form.get('ll23')?.hasError('required') && cabecerab10Form.get('ll23')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="ll24"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab10Form.get('ll24')?.hasError('required') && cabecerab10Form.get('ll24')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="ll25"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab10Form.get('ll25')?.hasError('required') && cabecerab10Form.get('ll25')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="ll26"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab10Form.get('ll26')?.hasError('required') && cabecerab10Form.get('ll26')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <div class="ji"><br><br><br>
        <button class="btn btn-secondary" routerLink="/pagina167">Volver</button>
        <button class="btn btn-success" type="submit" [disabled]="cabecerab10Form.invalid" >Aceptar</button>
    </div>
</form>
