<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>localhost4200</title>

</head>


<body>
  <table class="container" style="width: 87%;" >
    <colgroup>
        <col span="1" id="col1">
        <col span="25" id="colall">

    </colgroup>
    <caption class="c"></caption>
    <thead>

        <tr>
            <td> Práctica Clave de Gobierno</td>
            <th>
                <div contenteditable>Consejo de administración</div>
            </th>
            <th>
                <div contenteditable>Director General Ejecutivo (CEO)</div>
            </th>
            <th>
                <div contenteditable>Director General Financiero (CFO)</div>
            </th>
            <th>
                <div contenteditable>Director de Operaciones (COO)</div>
            </th>
            <th>
                <div contenteditable>Ejecutivos de Negocio</div>
            </th>
            <th>
                <div contenteditable>Propietarios de los Procesos de Negocio</div>
            </th>
            <th>
                <div contenteditable>Comité Ejecutivo Estratégico(Desarrollo de Proyectos)</div>
            </th>
            <th>
                <div contenteditable>Oficina de Gestión de Proyectos</div>
            </th>
            <th>
                <div contenteditable>Oficina de Gestión de Valor</div>
            </th>
            <th>
                <div contenteditable>Director de Riesgos (CRO)</div>
            </th>
            <th>
                <div contenteditable>Director de Seguridad de la Información (CISO)</div>
            </th>
            <th>
                <div contenteditable>Consejo de Arquitectura de la Empresa</div>
            </th>
            <th>
                <div contenteditable>Comité de Riesgos Corporativos</div>
            </th>
            <th>
                <div contenteditable>Jefe de Recursos Humanos</div>
            </th>
            <th>
                <div contenteditable>Cumplimiento Normativo (Compliance) </div>
            </th>
            <th>
                <div contenteditable>Auditoria</div>
            </th>
            <th>
                <div contenteditable>Informática/Sistemas CIO</div>
            </th>
            <th>
                <div contenteditable>Jefe de Arquitectura del Negocio</div>
            </th>
            <th>
                <div contenteditable>Jefe de  Desarrollo</div>
            </th>
            <th>
                <div contenteditable>Jefe de Operaciones TI</div>
            </th>
            <th>
                <div contenteditable>Jefe de Administración TI</div>
            </th>
            <th>
                <div contenteditable>Gestiontor de Servicio (Service Manager)</div>
            </th>
            <th>
                <div contenteditable>Gestor de Seguridad de la Información</div>
            </th>
            <th>
                <div contenteditable>Gestor de Continuidad de Negocio</div>
            </th>
            <th>
                <div contenteditable>Gestor de Privacidad de la Información</div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th><a href="#"><strong>EDM01.01</strong></a><br>Evaluar el sistema de gobierno.</th>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
        </tr>
        <tr>
            <th><a href="#"><strong>EDM01.02</strong></a><br>Orientar el sistema de gobierno.</th>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
        </tr>
        <tr>
            <th><a href="#"><strong>EDM01.03</strong></a><br>Supervisar el sistema de gobierno.</th>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
            <td>
                <div contenteditable="True"></div>
            </td>
        </tr>
            
    </tbody><br>
</table>
<div class="d-grid gap-1 col-3 mx-auto  d-grid gap-1 d-md-block">
  <button class="btn btn-success" type="button">Guardar</button>
  <button class="btn btn-primary" type="button">Actualizar</button>
  <button class="btn btn-danger" type="button">Eliminar</button>
</div>
</body>

</html>

<br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
   
  </nav><br>



