<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<style>

    .azultabla1{
        background: rgb(39, 70, 172);
        color: white;
        border: 1px solid black;
    }
    .celestetabla1{
        background: rgb(255, 255, 255);
        
    }
    .celeste2tabla1{
        background: rgb(163, 189, 219);
        
    }
    </style>

<body>
    <table class="container" style="width: 87%;">
        <tr>
            <td class="azultabla1"><a class="nav-link" routerLink="/pagina73">APO05</a>  Gestionar el Portafolio</td>
        </tr>
        <tr>
            <td>Descripción del Proceso<br>
                Ejecutar el conjunto de direcciones estratégicas para la inversión alineada con la visión de la
                arquitectura empresarial, las características deseadas de inversión, los portafolios de servicios
                relacionados, considerar las diferentes categorías de inversión y recursos y las restricciones de
                financiación. Evaluar, priorizar y equilibrar programas y servicios, gestionar la demanda con los
                recursos y restricciones de fondos, basadas en su alineamiento con los objetivos estratégicos así como
                en su valor y riesgo corporativo. Mover los programas seleccionados al portafolio de servicios activos
                listos para ser ejecutados. Supervisar el rendimiento global del portafolio de servicios y programas,
                proponiendo ajustes si fuesen necesarios en respuesta al rendimiento de programas y servicios o al
                cambio en las prioridades corporativas.
            </td>
        </tr>
        <tr>
            <td>Declaración del Propósito del Proceso<br>
                Optimizar el rendimiento del portafolio global de programas en respuesta al rendimiento de programas y
                servicios y a las cambiantes prioridades y demandas corporativas.
            </td>
        </tr>
        <tr>
            <td>El proceso apoya la consecución de un conjunto de principales metas TI:</td>
        </tr>
        <th>
            Meta TI
        </th>
        <th>
            Métricas Relacionadas
        </th>
        <tr>
            <td>01 Alineamiento de TI y estrategia de negocio</td>
            <td>• Porcentaje de las metas y requerimientos estratégicos de la empresa soportados por las metas
                estratégicas para TI<br>
                • Nivel de satisfacción de las partes interesadas con el alcance del portafolio de programas y servicios
                planeados<br>
                • Porcentaje de los facilitadores de valor de TI mapeados con facilitadores de valor del negocio
            </td>
        </tr>
        <tr>
            <td>05 Realización de beneficios del portafolio de servicios y Servicios relacionados con TI</td>
            <td>• Porcentaje de inversiones de TI en los que la realización del beneficio se monitoriza a través del
                ciclo de vida económico completo.<br>
                • Porcentaje de servicios TI en los que se realizan los beneficios esperados.<br>
                • Porcentaje de las inversiones en TI donde los beneficios demandados son alcanzados o excedidos.
            </td>
        </tr>
        <tr>
            <td>13 Entrega de programas que proporcionen beneficios a tiempo, dentro del presupuesto y satisfaciendo los
                requisitos y normas de calidad</td>
            <td>• Número de programas/proyectos ejecutados en plazo y en presupuesto<br>
                • Porcentaje de partes interesadas satisfechas con la calidad del programa/proyecto<br>
                • Número de programas que necesitan ser revisados significativamente debido a defectos de calidad<br>
                • Coste del mantenimiento de aplicaciones respecto al coste total de TI
            </td>
        </tr>
        <tr>
            <td rowspan="2" class="celeste2tabla1">Objetivos y Métricas del Proceso</td>
        </tr>
        <th class="celeste2tabla1">
            Meta del Proceso
        </th>
        <th class="celeste2tabla1">
            Métricas relacionadas
        </th>
        <tr>
            <td>1. Se ha definido una mezcla apropiada de inversión alineada con la estrategia corporativa.</td>
            <td>• Porcentaje de inversiones TI que tienen trazabilidad con la estrategia de la compañía<br>
                • Grado hasta el que la dirección corporativa está satisfecha con la contribución de TI a la estrategia
                empresarial
            </td>
        </tr>
        <tr>
            <td>2. Fuentes de fondos de inversión identificados y están disponibles.</td>
            <td>• Relación entre fondos asignados y fondos asados<br>
                • Relación entre fondos disponibles y fondos asignados
            </td>
        </tr>
        <tr>
            <td>3. Casos de negocio de programa evaluados y priorizados antes de que se asignen los fondos.</td>
            <td>• Porcentaje de unidades de negocio involucradas en la evaluación y priorización de procesos</td>
        </tr>
        <tr>
            <td>4. Existe una vista precisa y comprensiva del rendimiento de las inversiones del portafolio.</td>
            <td>• Nivel de satisfacción con los informes de supervisión del portafolio</td>
        </tr>
        <tr>
            <td>5. Los cambios en el programa de inversiones se reflejan en los portafolios relevantes de servicios,
                activos y recursos de TI.</td>
            <td>• Porcentaje de cambios del programa de inversiones reflejados en los portafolios relevantes de TI</td>
        </tr>
        <tr>
            <td>6. Los beneficios han sido generados debido a los beneficios de la monitorización.</td>
            <td>• Porcentaje de inversiones en los que los beneficios producidos han sido medidos y comparados con el
                caso de negocio</td>
        </tr>
    </table>
</body>

</html><br>
<nav aria-label="Page navigation  example" class="container" style="width: 87%;">
    <ul class="pagination container">
      <li class="page-item"><a class="page-link" >APOO5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina73">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/Apo05raci">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina75">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina76">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina77">5</a></li>
    
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>
