<div class="container">
    <table class="table">
        <thead class="theader">
        <tr>
            <td class="titulos" scope="col" colspan="5">DSS02 Prácticas, Entradas/Salidas y Actividades del Proceso (cont.)</td>
        </tr>
    </thead>
    <thead class="fondo2" style="text-align: center;">
    <tr>
        <td class="titulos" scope="col">Prácticas de Gestión</td>
        <td class="titulos" scope="col" colspan="2">Entradas</td>
        <td class="titulos" scope="col" colspan="2">Salidas</td>
    </tr>
</thead>
    <tr>
        <th  scope="row" rowspan="3">DSS02.06 Cerrar peticiones de servicio e
            incidentes.
            <p class="texto">Verificar la satisfactoria resolución de incidentes y/o
                cumplimiento de peticiones, y cierre.
            </p>
        </th>
        <td style="text-align: center;">De</td>
        <td style="text-align: center;">Descripción</td>
        <td style="text-align: center;">Descripción</td>
        <td style="text-align: center;">A</td>
    </tr>
    <tr>
        <td rowspan="2"><a href="dsso3tabla5">DSS03.04</a></td>
        <td rowspan="2">Registro de problemas cerrados</td>
        <td>Peticiones de servicio e incidentes cerrados
        </td>
        <td valign="middle"><a href="apo8tabla3">APO08.03</a><br>
            <a href="apo9tabla2">APO09.04</a><br>
            <a href="dsso3tabla5">DSS03.04</a>
        </td>
    </tr>
    <tr>
        <td>Confirmación del usuario de resolución o cumplimiento
            satisfactorios
        </td>
        <td><a href="apo8tabla3">APO08.03</a></td>
    </tr>
    <tr>
        <td colspan="5" style="text-align: center;" class="fondo">Actividades</td>
    </tr>
    <tr>
        <td colspan="5">1. Verificar con los usuarios afectados (si lo han
            acordado) que la petición de servicio ha sido completada o
            el incidente ha sido resuelto de manera satisfactoria.</td>
    </tr>
    <tr>
        <td colspan="5">2. Cerrar peticiones de servicio e incidentes.</td>
    </tr>
    </table>
    </div>
    <nav aria-label="Page navigation example " class="container" style="width: 87%;">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" routerLink="/home">HOME</a></li>
          <li class="page-item"><a class="page-link" routerLink="/dsso2tabla1">1</a></li>
          <li class="page-item"><a class="page-link" routerLink="//listraci02">2</a></li>
          <li class="page-item"><a class="page-link" routerLink="/dsso2tabla2">3</a></li>
          <li class="page-item"><a class="page-link" routerLink="/dsso2tabla3">4</a></li>
          <li class="page-item"><a class="page-link" routerLink="/dsso2tabla4">5</a></li>
          <li class="page-item"><a class="page-link" routerLink="/dsso2tabla5">6</a></li>
          <li class="page-item"><a class="page-link" routerLink="/dsso2tabla6">7</a></li>
          <li class="page-item"><a class="page-link" routerLink="/dsso2tabla7">8</a></li>
          <li class="page-item"><a class="page-link" routerLink="/dsso2tabla8">9</a></li>
          <li class="page-item"><a class="page-link" routerLink="/dsso2tabla9">10</a></li>
          <li class="page-item"><a class="page-link" href="/dsso2tabla8">Next</a></li>
          
        </ul>
      </nav><br>
