<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>

<style>

    .azultabla1{
        background: rgb(39, 70, 172);
        color: white;
        border: 1px solid black;
    }
    .celestetabla1{
        background: rgb(255, 255, 255);
        
    }
    .celeste2tabla1{
        background: rgb(163, 189, 219);
        
    }
    </style>

<body>
    <table class="container" style="width: 87%;">
        <tr>
            <td class="azultabla1"><a class="nav-link" href="/pagina69">APO04</a>  Prácticas, Entradas/Salidas y Actividades del Proceso (cont.)</td>
        </tr>
        <th class="celeste2tabla1">
            Práctica de Gestión
        </th>
        <th colspan="2" class="celeste2tabla1">
            Entradas
        </th>
        <th colspan="2" class="celeste2tabla1">
            Salidas
        </th>
        <tr>
            <td rowspan="2">
                <a class="nav-link" routerLink="/pagimna69">APO04.02</a> Mantener un entendimiento del entorno de la empresa.<br>
                Trabajar junto a las partes interesadas para entender sus retos. Mantener un entendimiento adecuado de
                la estrategia corporativa y del entorno competitivo, así como de otras restricciones de modo que las
                oportunidades habilitadas por las nuevas tecnologías puedan ser identificadas.
            </td>
            <td>De</td>
            <td>Descripción</td>
            <td>Descripción</td>
            <td>A</td>
        </tr>
        <tr>
            <td>Fuera del Ámbito de COBIT</td>
            <td>Estrategia corporativa y análisis DAFO de la empresa</td>
            <td>Oportunidades de innovación vinculadas a los motivadores de negocio.</td>
            <td><a class="nav-link" routerLink="/pagina59">APO02.01</a> </td>
        </tr>
        <tr>
            <td colspan="5"class="celeste2tabla1" >Actividades</td>
        </tr>
        <tr>
            <td colspan="5">1. Mantener una comprensión de los motores del negocio y de la industria, de la estrategia
                corporativa, operaciones corporativas y otras incidencias de modo que los potenciales valores añadidos
                tecnológicos o innovaciones TI puedan ser identificadas.</td>
        </tr>
        <tr>
            <td colspan="5">2. Realizar reuniones periódicas con las unidades de negocio, divisiones y/o otras entidades
                interesadas para entender los problemas actuales del negocio, cuellos de botella de los procesos u otras
                limitaciones donde las tecnologías emergentes o la innovación TI puede crear oportunidades.</td>
        </tr>
        <tr>
            <td colspan="5">3. Entender los parámetros de inversiones corporativas para la innovación y las nuevas
                tecnologías, de modo que se desarrollen las estrategias adecuadas.</td>
        </tr>
        <th class="celeste2tabla1">
            Práctica de Gestión
        </th>
        <th colspan="2" class="celeste2tabla1">
            Entradas
        </th>
        <th colspan="2" class="celeste2tabla1">
            Salidas
        </th>
        <tr>
            <td rowspan="2">
              <a class="nav-link" routerLink="/pagimna69">APO04.03</a>   Supervisar y explorar el entorno tecnológico.<br>
                Realizar una supervisión sistemática y un escaneo del entorno externo a la empresa para identificar
                tecnologías emergentes que tengan el potencial de crear valor (por ejemplo, realizando la estrategia
                corporativa, optimizando costes, evitando la obsolescencia y catalizando de una mejor manera los
                procesos corporativos y de TI). Supervisar el mercado, la competencia, sectores industriales y
                tendencias legales y regulatorias que permitan analizar tecnologías emergentes o ideas innovadoras en el
                contexto empresarial.
            </td>
            <td>Desde</td>
            <td>Descripción</td>
            <td>Descripción</td>
            <td>Para</td>
        </tr>
        <tr>
            <td>Fuera del Ámbito de COBIT</td>
            <td>tecnologías emergentes</td>
            <td>Análisis de investigación de las posibilidades de innovación</td>
            <td>BAI03.01</td>
        </tr>
        <tr>
            <td colspan="5" class="celeste2tabla1">Actividades</td>
        </tr>
        <tr>
            <td colspan="5">1. Comprender el interés de la empresa y su potencial para adoptar nuevas innovaciones
                tecnológicas canalizando los esfuerzos de concienciación en las innovaciones tecnológicas más oportunas.
            </td>
        </tr>
        <tr>
            <td colspan="5">2. Realizar estudios y analizar el entorno exterior, incluyendo sitios web apropiados,
                diarios y conferencias para identificar tecnologías emergentes.</td>
        </tr>
        <tr>
            <td colspan="5">3. Consultar con terceras personas expertas cuando se necesita confirmar los resultados de
                la investigación o como fuente de información en tecnologías emergentes.</td>
        </tr>
        <tr>
            <td colspan="5">4. Recopilar las ideas innovadoras del personal de TI y analizarlas para su posible
                implementación.</td>
        </tr>
        <th class="celeste2tabla1">
            Práctica de Gestión
        </th>
        <th colspan="2" class="celeste2tabla1">
            Entradas
        </th>
        <th colspan="2" class="celeste2tabla1">
            Salidas
        </th>
        <tr>
            <td rowspan="4">
                <a class="nav-link" routerLink="/pagimna69">APO04.04</a>  Evaluar el potencial de las tecnologías emergentes y las ideas innovadoras.<br>
                Analizar las tecnologías emergentes identificadas y/u otras sugerencias de innovación TI. Trabajar con
                las partes interesadas para validar las suposiciones sobre el potencial de las nuevas tecnologías y la
                innovación.
            </td>
            <td>De</td>
            <td>Descripción</td>
            <td>Descripción</td>
            <td>A</td>
        </tr>
        <tr>
            <td rowspan="3"></td> 
            <td rowspan="3"></td>
            <td>Evaluación de las ideas de innovación</td>
            <td>BAI03.01</td>
        </tr>
        <tr>
            <td>Alcance de la prueba de concepto y descripción de los cosos de negocio</td>
            <td><a class="nav-link" routerLink="/apo5tabla1">APO05.03</a> <br>
               <a class="nav-link" href="/apo6tabla1">APO06.02</a> </td>
        </tr>
        <tr>
            <td>Comprobar los resultados de las iniciativas de prueba de concepto.</td>
            <td>Interno</td>
        </tr>
        <tr>
            <td colspan="5" class="celeste2tabla1">Actividades</td>
        </tr>
        <tr>
            <td colspan="5">1. Evaluar las tecnologías identificadas, considerando aspectos tales como tiempo para
                alcanzar la madurez, riesgo inherente de la nueva tecnología (incluyendo posibles implicaciones
                legales), ajuste con la arquitectura empresarial y potencial para proporcionar valor añadido</td>
        </tr>
        <tr>
            <td colspan="5">2. Identificar cualquier problema que pueda necesitar ser resuelto o probado a través de una
                iniciativa de prueba de concepto.</td>
        </tr>
        <tr>
            <td colspan="5">3. Alcance de la iniciativa de prueba de concepto, incluyendo resultados deseados,
                presupuesto necesario, plazos de tiempo y responsabilidades.</td>
        </tr>
        <tr>
            <td colspan="5">4. Obtener autorización para realizar la prueba de concepto.</td>
        </tr>
        <tr>
            <td colspan="5">5. Realizar pruebas de concepto para evaluar las tecnologías emergentes u otras ideas
                innovadoras, identificar cualquier problema y determinar si más implementaciones deberían ser tenidas en
                cuenta, basándose en la viabilidad y el potencial retorno de la inversión (ROI).</td>
        </tr>
    </table>

</body>

</html><br>
<nav aria-label="Page navigation  example" class="container" style="width: 87%;">
    <ul class="pagination container">
      <li class="page-item"><a class="page-link" >APOO4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina69">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/Apo04raci">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina71">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina72">4</a></li>
      
    
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>

