<table class="container" style="width: 85%;">
    <thead >
        <tr >
            <td class="azultabla1" colspan="5">BAI03 Practicas, Entrada/Salidas y Actividades del Proceso (cont.)</td>
        </tr>
        
        </thead>
    <tr>
        <Th class="celeste2tabla1" colspan="1" >Prácticas de gestión</Th>
        <th class="celeste2tabla1" colspan="2">Entradas</th>
        <th class="celeste2tabla1" colspan="2">Salidas</th>
        </tr>
        
        <tr>
        <td rowspan="9" class="texto"><strong>BAI03.11 Definir los servicios TI y mantener el catálogo de servicios. </strong><br>
        
        </td>
        <td><strong>De</strong></td> 
        <td><strong>Descripción</strong></td>
        <td><strong>Descripción</strong></td>
        <td><strong>Hacia</strong></td>
        </tr>
        <tr>
        <td   class="texto"><a routerLink="/edm04tabla1">EDM04.01</a></td>
        <td   class="texto">Directices para la asignación para el entorno objetivo</td>
        <td   class="texto">Definiciones de servicio</td>
        <td   class="texto"><a routerLink="/pagina74">APO05.01</a> <br> <a routerLink="/dsso1tabla3">DSS01.03</a></td>
        </tr>
        <tr>
        <td   class="texto"><a routerLink="/pagina60">APO02.04</a></td>
        <td   class="texto">-Valorar beneficios para el entorno objetivo <br>-Cambios requeridos para ajustar la capacidad objetivo </td>
        <td  rowspan="7"  class="texto">Catálogo de servicios actualizado</td>
        <td  rowspan="7" class="texto"><a routerLink="/pagina76">APO05.05</a></td>
        </tr>
        <tr>
        <td class="texto"><a routerLink="/pagina59">APO02.02</a></td>
        <td class="texto">Asignaciones de repuesto</td>
        </tr>
        <tr>
        <td class="texto"><a routerLink="/pagina81">APO06.03</a></td>
        <td class="texto">-Comunicación del presupuesto <br>-Plan y presupuesto TI</td>
        </tr>
        <tr>
        <td class="texto"><a routerLink="/pagina92">APO08.05</a></td>
        <td class="texto">Definición de mejoras potenciales de proyectos</td>
        </tr>
        <tr>
        <td class="texto"><a routerLink="/pagina168">BAI10.02</a></td>
        <td class="texto">Configuración de la linea de referencia</td>
        </tr>
        <tr>
        <td class="texto"><a routerLink="/pagina168">BAI10.03</a></td>
        <td class="texto">Aprobación de cambios a la línea de referencia</td>
        </tr>
        <tr>
        <td class="texto"><a routerLink="/pagina168">BAI10.04</a></td>
        <td class="texto">Informes del estado de la configuración</td>
        </tr>
        <tr>
        <td colspan="5" class="Actividades" class="celeste2tabla1"><strong  > Actividades</strong></td>
        </tr>
        <tr><td colspan="5"  class="texto">1. Proponer definiciones de los nuevos o modificados servicios TI que aseguren que los servicios cumplen con el propósito. Documentar las definiciones de servicio propuestas en la lista del catálogo de los servicios a desarrollar. </td></tr>
        <tr><td colspan="5" class="texto" >2. Proponer cambios o nuevas opciones de niveles de servicios acorde a: franjas horarias de servicio, satisfacción del usuario, disponibilidad, rendimiento, capacidad, seguridad, continuidad, cumplimiento regulatorio, usabilidad, etc. Para asegurar que los servicios TI son adecuados para su uoso. Documentar las opciones de niveles de servicio propuestas en el catálogo de servicios. </td></tr>
        <tr><td colspan="5" class="texto">3. Intermediar con el gestor de relaciones de negocio y el gestor del protafolio para acordar las definiciones y opciones de niveles de servicio. </td></tr>
        <tr><td colspan="5" class="texto">4. Si los cambios a los servicios provienen de una autoriad de aprobación adecuada, construir los cambios o los nuevos servicios TI o las opciones de los niveles de servicio. De otro modo, pasar los cambios de servicio a la gestión de la cartera de servicios para su oportuna revisión. </td></tr>

</table>
<br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/pagina133">BAI01</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina134">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina135">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina136">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina137">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina138">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina139">6</a></li>
      <li class="page-item"><a class="page-link" routerLink="">Next</a></li>
      
    </ul>
  </nav><br>
