<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="container" style="width: 85%; margin: 0 auto;">
        <thead>
            <tr>
                <th class="azultabla1" colspan="6">BAI08 Prácticas, Entradas/Salidas y Actividades del Proceso (cont.)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="celeste2tabla1" colspan="2">Prácticas de Gestión</th>
                <th class="celeste2tabla1" colspan="2">Entradas</th>
                <th class="celeste2tabla1" colspan="2">Salidas</th>
            </tr>
            <tr>
                <td rowspan="4" colspan="2" class="texto"><b>BAI08.05 Evaluar y retirar la informacion.</b> <br>
                    Medir el uso y evaluar la actualizacion y relevancia de <br> la informacion. Retirar la informacion obsoleta.
                <th colspan="1">De</th>
                <th colspan="1">Descripción</th>
                <th colspan="1" rowspan="2">Descripción</th>
                <th colspan="1" rowspan="2">A</th>
            </tr>
            <tr>
                <td rowspan="4"></td>
                <td rowspan="4"></td>
            </tr>
            <tr>
                <td colspan="1">Resultados de la <br> evaluacion de uso del <br> conocimiento </td>
                <td colspan="1">Interno<br></td>
            </tr>
            <tr>
                <td colspan="1">Reglas para la retirada de <br>conocimiento</td>
                <td colspan="1"> Interno</td>
            </tr>
            <tr>
            <tr>
                <td class="celeste2tabla1" colspan="6" align="center"><b>Actividades</b> 
                </td>
            </tr>
            <tr>
                <td colspan="6">1. Medir el uso y evaluar la utilidad, relevancia y valor de los elementos de conocimiento. Identificar informacion relacionada que ya no es relevante para cubir
                    las necesidades de conocimiento de la organizacion.
                </td>
            </tr>
            <tr>
                <td colspan="6">2. Definir las reglas para la retirada de conocimiento y retirar el mismo de forma acorde.
                </td>
            </tr>
    </table>
    <br>
<table class="container" style="width: 85%; margin: 0 auto;">
<tr>
    <td class="azultabla1" colspan="2">BAI08 Guías relacionadas</td>
</tr>
<th>
    Estándar Relacionado
</th>
<th>
    Referencia detallada
</th>
<tr>
    <td>ITIL V3 2011</td>
    <td>18 Gestión del Conocimiento</td>
</tr>
</table><br>
</body>
</html><br>

<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">BAI08</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina159">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina160">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina161">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
      
    </ul>
  </nav><br>
