<div class="container">
    <table class="table">
        <thead class="theader">
            <tr>
                <td class="titulos" scope="col" colspan="5">DSS04 Prácticas, Entradas/Salidas y Actividades del Proceso (cont.)</td>
            </tr>
        </thead>
<tr>
    <td style="text-align:center" class="fondo2">Práctica de Gestión</td>
    <td  style="text-align:center" class="fondo2" colspan="2">Entradas</td>
    <td style="text-align:center" class="fondo2" colspan="3">Salidas</td>
</tr>
<tr>
    <th scope="row" rowspan="4">DSS04.08 Ejecutar revisiones post-reanudación.
        <p class="texto">Evaluar la adecuación del Plan de Continuidad de Negocio
            (BCP) después de la reanudación exitosa de los procesos de negocio
            y servicios después de una disrupción. 
        </p>
    </th>
</tr>
<tr>
        <td style="text-align: center;">De</td>
        <td style="text-align: center;">Descripción</td>
        <td style="text-align: center;">Descripción</td>
        <td style="text-align: center;">A</td>
</tr>
<tr>
    <td rowspan="2"></td>
    <td rowspan="2"></td>
    <td>Informe de revisión post-reanudación</td>
    <td>Interno</td>
</tr>
<tr>
    <td>Cambios aprobados a los planes</td>
    <td><a href="/pagina150">BAI06.01</a></td>
</tr>
<tr>
    <td colspan="5" style="text-align:center" class="fondo">Actividades</td>
</tr>
<tr>
    <td colspan="5">1. Evaluar la observancia del Plan de Continuidad
        de Negocio (BCP) documentado.
    </td>
</tr>
<tr>
    <td colspan="5">2. Determinar la efectividad del plan, capacidades
        de continuidad, roles y responsabilidades, habilidades y competencias,
        resilencia a incidentes, infraestructura técnica y estructurales 
        organizativas y relaciones.
    </td>
</tr>
<tr>
    <td colspan="5">3. Identificar debilidades u omisiones en el plan
        y las capacidades y hacer recomendaciones para la mejora.
    </td>
</tr>
<tr>
    <td colspan="5">4. Obtener la aprobación de la dirección para
        los cambios en el plan y aplicarlos mediante el proceso de
        control de cambios de la empresa.</td>
</tr>
        </table>
</div>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">HOME</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/listraci04">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla2">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla3">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla4">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla5">6</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla6">7</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla7">8</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla8">9</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla9">10</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla10">11</a></li>
      <li class="page-item"><a class="page-link" href="/dsso4tabla10">Next</a></li>
      
    </ul>
  </nav><br>
