<div>
    <span class="d-grid gap-2 col-4  mx-auto ">{{title}}</span>
    <form [formGroup]="apo04tituloForm" class="container bg-light bc row row-cols-1 row-cols-lg-4 g-1 g-lg-2" style="height: 10px;" style="width: 40%;" style="margin: 35px   190px;" (ngSubmit)="agregarApo04titulo()">
        <div class="form-group">
            <input type="text" formControlName="apo04titulo1" class="form-control" placeholder="apo04titulo1">
            <div class="validacion"
               *ngIf="apo04tituloForm.get('apo04titulo1')?.hasError('required') && apo04tituloForm.get('apo04titulo1')?.touched">
               <span>Este campo<b> es obligatorio</b></span>
            </div>  
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo04titulo2" class="form-control" placeholder="apo04titulo2">
            <div class="validacion"
                *ngIf="apo04tituloForm.get('apo04titulo2')?.hasError('required') && apo04tituloForm.get('apo04titulo2')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>  
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo04titulo3" class="form-control" placeholder="apo04titulo3">
            <div class="validacion"
                *ngIf="apo04tituloForm.get('apo04titulo3')?.hasError('required') && apo04tituloForm.get('apo04titulo3')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>  
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo04titulo4" class="form-control" placeholder="apo04titulo4">
            <div class="validacion"
                 *ngIf="apo04tituloForm.get('apo04titulo4')?.hasError('required') && apo04tituloForm.get('apo04titulo4')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo04titulo5" class="form-control" placeholder="apo04titulo5">
            <div class="validacion"
                 *ngIf="apo04tituloForm.get('apo04titulo5')?.hasError('required') && apo04tituloForm.get('apo04titulo5')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo04titulo6" class="form-control" placeholder="apo04titulo6">
            <div class="validacion"
                 *ngIf="apo04tituloForm.get('apo04titulo6')?.hasError('required') && apo04tituloForm.get('apo04titulo6')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo04titulo7" class="form-control" placeholder="apo04titulo7">
            <div class="validacion"
                 *ngIf="apo04tituloForm.get('apo04titulo7')?.hasError('required') && apo04tituloForm.get('apo04titulo7')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo04titulo8" class="form-control" placeholder="apo04titulo8">
            <div class="validacion"
                 *ngIf="apo04tituloForm.get('apo04titulo8')?.hasError('required') && apo04tituloForm.get('apo04titulo8')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo04titulo9" class="form-control" placeholder="apo04titulo9">
            <div class="validacion"
                 *ngIf="apo04tituloForm.get('apo04titulo9')?.hasError('required') && apo04tituloForm.get('apo04titulo9')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo04titulo10" class="form-control" placeholder="apo04titulo10">
            <div class="validacion"
                 *ngIf="apo04tituloForm.get('apo04titulo10')?.hasError('required') && apo04tituloForm.get('apo04titulo10')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo04titulo11" class="form-control" placeholder="apo04titulo11">
            <div class="validacion"
                 *ngIf="apo04tituloForm.get('apo04titulo11')?.hasError('required') && apo04tituloForm.get('apo04titulo11')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo04titulo12" class="form-control" placeholder="apo04titulo12">
            <div class="validacion"
                 *ngIf="apo04tituloForm.get('apo04titulo12')?.hasError('required') && apo04tituloForm.get('apo04titulo12')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo04titulo13" class="form-control" placeholder="apo04titulo13">
            <div class="validacion"
                 *ngIf="apo04tituloForm.get('apo04titulo13')?.hasError('required') && apo04tituloForm.get('apo04titulo13')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo04titulo14" class="form-control" placeholder="apo04titulo14">
            <div class="validacion"
                 *ngIf="apo04tituloForm.get('apo04titulo14')?.hasError('required') && apo04tituloForm.get('apo04titulo14')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo04titulo15" class="form-control" placeholder="apo04titulo15">
            <div class="validacion"
                 *ngIf="apo04tituloForm.get('apo04titulo15')?.hasError('required') && apo04tituloForm.get('apo04titulo15')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo04titulo16" class="form-control" placeholder="apo04titulo16">
            <div class="validacion"
                 *ngIf="apo04tituloForm.get('apo04titulo16')?.hasError('required') && apo04tituloForm.get('apo04titulo16')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo04titulo17" class="form-control" placeholder="apo04titulo17">
            <div class="validacion"
                 *ngIf="apo04tituloForm.get('apo04titulo17')?.hasError('required') && apo04tituloForm.get('apo04titulo17')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo04titulo18" class="form-control" placeholder="apo04titulo18">
            <div class="validacion"
                 *ngIf="apo04tituloForm.get('apo04titulo18')?.hasError('required') && apo04tituloForm.get('apo04titulo18')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo04titulo19" class="form-control" placeholder="apo04titulo19">
            <div class="validacion"
                 *ngIf="apo04tituloForm.get('apo04titulo19')?.hasError('required') && apo04tituloForm.get('apo04titulo19')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo04titulo20" class="form-control" placeholder="apo04titulo20">
            <div class="validacion"
                 *ngIf="apo04tituloForm.get('apo04titulo20')?.hasError('required') && apo04tituloForm.get('apo04titulo20')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo04titulo21" class="form-control" placeholder="apo04titulo21">
            <div class="validacion"
                 *ngIf="apo04tituloForm.get('apo04titulo21')?.hasError('required') && apo04tituloForm.get('apo04titulo21')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo04titulo22" class="form-control" placeholder="apo04titulo22">
            <div class="validacion"
                 *ngIf="apo04tituloForm.get('apo04titulo22')?.hasError('required') && apo04tituloForm.get('apo04titulo22')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo04titulo23" class="form-control" placeholder="apo04titulo23">
            <div class="validacion"
                 *ngIf="apo04tituloForm.get('apo04titulo23')?.hasError('required') && apo04tituloForm.get('apo04titulo23')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo04titulo24" class="form-control" placeholder="apo04titulo24">
            <div class="validacion"
                 *ngIf="apo04tituloForm.get('apo04titulo24')?.hasError('required') && apo04tituloForm.get('apo04titulo24')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo04titulo25" class="form-control" placeholder="apo04titulo25">
            <div class="validacion"
                 *ngIf="apo04tituloForm.get('apo04titulo25')?.hasError('required') && apo04tituloForm.get('apo04titulo25')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo04titulo26" class="form-control" placeholder="apo04titulo26">
            <div class="validacion"
                 *ngIf="apo04tituloForm.get('apo04titulo26')?.hasError('required') && apo04tituloForm.get('apo04titulo26')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div><br>  
          <button routerLink="/Apo04raci" type="button" class="btn btn-secondary">Volver</button>  &nbsp;
          <button  type="button" class="btn btn-succes" type="submit" [disabled]="apo04tituloForm.invalid">Aceptar</button><hr>
      </div><br>
    </form>
</div>



