<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>localhost4200</title>

</head>


<body>
  <div class="tabla3">
    <table class="table table-bordered" class="container" style="width: 87%;">
     <thead>
       <tr>
         <th class="azultabla1" colspan="6">MEA01 Supervisar, Evaluar y Valorar el Rendimiento y la Conformidad</th>
       </tr>
     </thead>
     <tbody>
       <tr>
         <th class="celestetabla1" colspan="2">Práctica de Gestion</th>
         <th class="celestetabla1" colspan="2">Entradas</th>
         <th class="celestetabla1" colspan="2">Salidas</th>
       </tr>
       <tr>
         <td rowspan="4" colspan="2" class="text-top"><b>MEA01.01 Establecer un enfoque de la supervisión.</b> <br> Involucrar a las partes interesadas en el establecimiento y mantenimiento de un enfoque de supervisión que defina los objetivos, alcance y método de medición de las soluciones de negocio, la entrega del servicio y la contribución a los objetivos de negocio.
            Integrar este enfoque con el sistema de gestión del rendimiento de la compañia.</td>
           <th colspan="1">De</th>
           <th colspan="1">Descripción</th>
           <th colspan="1">Descripción</th>
           <th colspan="1">A</th>
       </tr>
       <tr class="text-top">
         <td rowspan="1.5"><a href="edm05tabla1">EDM05.01</a></td>
         <td rowspan="1.5"><p>• Principios de comunicación e informes</p><p>• Evaluación de los requisitos de información de la organización</p></td>
         <td >Registro de requisitos de cumplimiento</td>
         <td >Interno</td>
       </tr>
       <tr class="text-top">
        <td><a href="edm05tabla3">EDM05.02</a></td>
        <td>Reglas de validación y aprobación de los informes preceptivos</td>
        <td rowspan="2.5">Métricas y objetivos de supervisión aprobado.</td>
        <td rowspan="2.5">Interno</td>
      </tr>

       
       <tr>
         <td ><a href="edm05tabla3">EDM05.03</a></td>
         <td >Evaluación de la efectividad de los informes</td>
           
       </tr>
       
       <tr>
         <th class="celestetabla1" colspan="6" > <h6 class="centro"> <b>Actividades</b></h6></th>
       </tr>
       <tr>
         <td colspan="6">1. Identificar las partes interesadas (p. ej. direción, propietarios de procesos o usuarios).</td>
       </tr>
       <tr>
         <td colspan="6">2. Involucrar a las partes interesadas y comunicar los objetivos y requisitos empresariales para la supervisión, consolidación e información, utilizando definiciones comunes (p. ej. glosario, metadatas y taxonomías), líneas de referencia y estudios comparativos (benchmarking).</td>
       </tr>
       <tr>
         <td colspan="6">3. Mantener y alinear de forma continua el enfoque de supervisión y avaluación con el enfoque de la compañia asi como las herramientas utilizadas para la abtención de datas y presentación de informes corporativos (p. ej. aplicaciones de inteligencia de negocio).</td>
       </tr>
       <tr>
         <td colspan="6">4. Acordar los objetivos y métricas (p. ej. cumplimiento, rendimiento, valor, riesgo), taxonomía (clasifiación y relación entre objetivos y métricas) y la retención de datos (evidencias).

        </td>
       </tr>
       <tr>
         <td colspan="6">5.- Acordar un proceso de control de camios y de gestión del ciclo de vida de la supervisión y la presentación de informes, inclucir oportunidades de mejora para la presentación de la información, metricas, enfoque, líneas de referencia y estudios comparativos.</td>
       </tr>
       <tr>
         <td colspan="6">6. Solicitar, priorizar y reservar recursos para la supervisión (considerando oportunidad, eficiencia, efectividad y confidencia).</td>
       </tr>
       <tr>
        <td colspan="6">7. Validar periódicamente el enfoque utilizando e identificar los nuevos o cambiantes grupos de interés, requisitos y recursos.</td>
      </tr>
       
       <tr>
         <th class="celestetabla1" colspan="2">Práctica de Gestion</th>
         <th class="celestetabla1" colspan="2">Entradas</th>
         <th class="celestetabla1" colspan="2">Salidas</th>
       </tr>
       <tr>
         <td rowspan="2" colspan="2"><b>MEA01.02 Establecer los objetivos de cumplimiento y rendimiento.</b> <br>Colaborar con las partes interesadas en la definición, revisión peródica, actualización y aprobación de los objetivos de rendimiento y cumplimiento enmarcados dentro del sistema de medida del rendimiento.</td>
         <th colspan="1">De</th>
         <th colspan="1">Descripción</th>
         <th colspan="1">Descripción</th>
         <th colspan="1">A</th>
       </tr>
       <tr class="text-top">
         <td colspan="1"><a href="apo7tabla1">APO01.07</a></td>
         <td colspan="1">Métricas y objetivos de rendimiento y métricas para el seguimiento de la mejora de los procesos</td>
         <td colspan="1">Objetivos de supervisión</td>
         <td colspan="1"><a href="pagina51">APO</a>
          <br><a href="pagina119">BAI</a>
          <br><a href="dsso1tabla1">DSS</a>
          <br><a href="mea01">MEA</a></td>
       </tr>
       
       <tr>
        <th class="celestetabla1" colspan="6" > <h6 class="centro"> <b>Actividades</b></h6></th>
       </tr>
       <tr>
         <td colspan="6">1. Definir y revisar periódicamente los objetivos y métricas con las partes interesadas para identificar cualquier detalle significativo omitido y definir la razonabilidad de metas y tolerancias.
        </td>
       </tr>
       <tr>
         <td colspan="6">2. Comunicar los cambios propuestos en las metas y tolerancias de rendimiento y cumplimiento (referidos a las métricas) con las partes interesadas clave con la debida diligencia (p. ej., legal, auditoria, RRHH., ética, cumplimiento y financiero).</td>
       </tr>
       <tr>
        <td colspan="6">3. Hacer público a los usuarios de la información los cambios en metas y tolerancias.</td>
      </tr>
      <tr>
        <td colspan="6">4. Evaluar si los objetivos y métricas son adecuados, es decir, específicos, medibles, alcanzables, relevantes y limitados en el tiempo (SMART).
        </td>
      </tr>
       <!----------------------------------------------------------------->
       <tr>
        <td class="celestetabla1" colspan="2"><b>Practicas de Gestion</b></td>
        <td class="celestetabla1" colspan="2"><b>Entradas</b></td>
        <td class="celestetabla1" colspan="2"><b>Salidas</b></td>
    </tr>
    <tr class="text-top">
        <td rowspan="10" colspan="2"><b>MEA01.03 Recopilar y procesar los datos de cumplimiento y rendimiento.</b>
            
            <br> Recopilar y procesar datos oportunos y precisos de acuerdo con los enfoques del negocio.
        </td>
    
        <td><b>De</b></td>
        <td><b>Descripcion</b></td>
        <td><b>Descripcion</b></td>
        <td><b>A</b></td>
    </tr>
    <tr class="text-top">
        <td> <a href="apo7tabla1">APO01.07</a></td>
        <td> Evaluación de la capacidad de los procesos</td>
        <td rowspan="9"> Datos de supervisión</td>
        <td rowspan="9">Interno</td>
    </tr>
    <tr>
        <td><a href="pagina77">APO05.04</a></td>
        <td>Informes de rendimiento del portafolio de inversiones</td>
    </tr>
    <tr>
      <td><a href="apo9tabla3">APO09.04</a></td>
      <td>Informes del desempeño del nivel de servicio</td>
  </tr>
  <tr>
    <td><a href="apo10tabla3">APO010.05</a></td>
    <td>Resultados de las revisiones de supervisión del cumplimiento de los proveedores
    </td>
  </tr>
  <tr>
    <td><a href="pagina151">BAI01.06</a>
    </td>
    <td>Resultado de las revisiones de rendimiento de los programas
    </td>
  </tr>
  <tr>
    <td><a href="pagina144">BAI04.04</a>
    </td>
    <td>Informes de revisión de supervisión de la capacidad, rendimiento y disponibilidad
    </td>
  </tr>
  <tr>
    <td><a href="pagina148">BAI05.05</a></td>
    <td>Medidas y resultados exitosos
    </td>
  </tr>
  <tr>
    <td><a href="dsso5tabla1">DSS01.05</a></td>
    <td>Informe de evaluacion de instalación</td>
  </tr>
  <tr>
    <td><a href="dsso2tabla7">DSS02.07</a></td>
    <td>Informe de tendencia y estado de completitud de las peticiones<br>
      Informe de tendencia y estado de incidentes</td>
  </tr>
    <tr>
      <th class="celestetabla1" colspan="6" > <h6 class="centro"> <b>Actividades</b></h6></th>
    </tr>
    <tr>
      <td colspan="6">1. Recopilar atos de los procesos definidos, de forma automatizada, cuando sea posible.</td>
    </tr>
    <tr>
      <td colspan="6">2. Evaluar la eficiencia (esfuerzo en relación con la compresión proporcionada) y oportunidad (utilidad y significado) y validar la integridad (precisión y completitud) de los datos recopilados.</td>
    </tr>
    <tr>
      <td colspan="6">3. Consolidar los datos para soportar el cálculo de las métricas acordadas.</td>
    </tr>
    <tr>
      <td colspan="6">4. Alinear los datos consolidados a los enfoques y objetivos de presentación de información de la compañía.
      </td>
    </tr>
    <tr>
      <td colspan="6">5. Utilizar herramientas y sistemas apropiados para el procesamiento y formateo de datos para análisis.
      </td>
    </tr>

     </tbody>
   </table>
 </div>
</body>

</html><br>

 <!-- --------------------------------------------------slect------------------------------------------- -->
 <nav aria-label="Page navigation example " class="container" style="width: 87%;">
  <ul class="pagination container">
    <li class="page-item"><a class="page-link" routerLink="/mea01">1</a></li>
    <li class="page-item"><a class="page-link" href="listar-tablaz">Tabla RACI</a></li>
    <li class="page-item"><a class="page-link" href="mea01a">2</a></li>
    <li class="page-item"><a class="page-link" href="mea01b">3</a></li>
    <li class="page-item"><a class="page-link" href="mea02">Coninuar MEA02</a></li>
    
  </ul>
  </nav><br>
<!-- --------------------------------------------------slect------------------------------------------- -->


