<span class="titulo" class="d-grid gap-2 col-2  mx-auto " style="color: white; text-align: center;" ><b>{{ titulo | uppercase}}</b></span><br>
<form class="container bg-light bc row row-cols-4 row-cols-lg-4 g-1 g-lg-2"
style="height: 10px;" style="width: 60%;" style="margin: 35px   190px; border-radius: 10px;"
[formGroup]="cabecera3Form" class="container bg-light bc row row-cols-1 row-cols-lg-4 g-1 g-lg-2"   style="margin: 0 auto; width: 78%;" (ngSubmit)="agregarCabecera3()">
 
    <div class="form-group">
        <input type="text" formControlName="zza"  (ngSubmit)="agregarCabecera3()"
        class="form-control" placeholder="zza" style="width: 365px;" size="32">  
        <div class="validacion"
            *ngIf="cabecera3Form.get('zza')?.hasError('required') && cabecera3Form.get('zza')?.touched">
            <span>zza<b> es obligatoria</b></span>
        </div>  
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="zzb"
        class="form-control" placeholder="zzb" style="width: 365px;" size="32"> 
        <div class="validacion"
            *ngIf="cabecera3Form.get('zzb')?.hasError('required') && cabecera3Form.get('zzb')?.touched">
            <span>zzb<b> es obligatoria</b></span>
        </div>   
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="zzc"
        class="form-control" placeholder="zzc" style="width: 365px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera3Form.get('zzc')?.hasError('required') && cabecera3Form.get('zzc')?.touched">
            <span>zzc<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="zzd"
        class="form-control" placeholder="zzd" style="width: 365px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera3Form.get('zzd')?.hasError('required') && cabecera3Form.get('zzd')?.touched">
            <span>zzd<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="zze"
        class="form-control" placeholder="zze" style="width: 365px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera3Form.get('zze')?.hasError('required') && cabecera3Form.get('zze')?.touched">
            <span>zze<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="zzf"
        class="form-control" placeholder="zzf" style="width: 365px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera3Form.get('zzf')?.hasError('required') && cabecera3Form.get('zzf')?.touched">
            <span>zzf<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="zzg"
        class="form-control" placeholder="zzg" style="width: 365px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera3Form.get('zzg')?.hasError('required') && cabecera3Form.get('zzg')?.touched">
            <span>zzg<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="zzh"
        class="form-control" placeholder="zzh" style="width: 365px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera3Form.get('zzh')?.hasError('required') && cabecera3Form.get('zzh')?.touched">
            <span>zzh<b> es obligatorio</b></span>
        </div> 
    </div>
   <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="zzi"
        class="form-control" placeholder="zzi" style="width: 365px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera3Form.get('zzi')?.hasError('required') && cabecera3Form.get('zzi')?.touched">
            <span>zzi<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="zzj"
        class="form-control" placeholder="zzj" style="width: 365px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera3Form.get('zzj')?.hasError('required') && cabecera3Form.get('zzj')?.touched">
            <span>zzj<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="zzk"
        class="form-control" placeholder="zzk" style="width: 365px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera3Form.get('zzk')?.hasError('required') && cabecera3Form.get('zzk')?.touched">
            <span>zzk<b> es obligatorio</b></span>
        </div> 
    </div>
   <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="zzl"
        class="form-control" placeholder="zzl" style="width: 365px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera3Form.get('zzl')?.hasError('required') && cabecera3Form.get('zzl')?.touched">
            <span>zzl<b> es obligatorio</b></span>
        </div> 
    </div>
   <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="zzm"
        class="form-control" placeholder="zzm" style="width: 365px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera3Form.get('zzm')?.hasError('required') && cabecera3Form.get('zzm')?.touched">
            <span>zzm<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="zzn"
        class="form-control" placeholder="zzn" style="width: 365px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera3Form.get('zzn')?.hasError('required') && cabecera3Form.get('zzn')?.touched">
            <span>zzn<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="zzo"
        class="form-control" placeholder="zzo" style="width: 365px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera3Form.get('zzo')?.hasError('required') && cabecera3Form.get('zzo')?.touched">
            <span>zzo<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="zzp"
        class="form-control" placeholder="zzp" style="width: 365px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera3Form.get('zzp')?.hasError('required') && cabecera3Form.get('zzp')?.touched">
            <span>zzp<b> es obligatorio</b></span>
        </div> 
    </div>
   <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="zzq"
        class="form-control" placeholder="zzq" style="width: 365px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera3Form.get('zzq')?.hasError('required') && cabecera3Form.get('zzq')?.touched">
            <span>zzq<b> es obligatorio</b></span>
        </div> 
    </div>
 <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="zzr"
        class="form-control" placeholder="zzr" style="width: 365px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera3Form.get('zzr')?.hasError('required') && cabecera3Form.get('zzr')?.touched">
            <span>zzr<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="zzs"
        class="form-control" placeholder="zzs" style="width: 365px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera3Form.get('zzs')?.hasError('required') && cabecera3Form.get('zzs')?.touched">
            <span>zzs<b> es obligatorio</b></span>
        </div> 
    </div>
   <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="zzt"
        class="form-control" placeholder="zzt" style="width: 365px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera3Form.get('zzt')?.hasError('required') && cabecera3Form.get('zzt')?.touched">
            <span>zzt<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="zzu"
        class="form-control" placeholder="zzu" style="width: 365px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera3Form.get('zzu')?.hasError('required') && cabecera3Form.get('zzu')?.touched">
            <span>zzu<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="zzv"
        class="form-control" placeholder="zzv" style="width: 365px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera3Form.get('zzv')?.hasError('required') && cabecera3Form.get('zzv')?.touched">
            <span>zzv<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="zzw"
        class="form-control" placeholder="zzw" style="width: 365px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera3Form.get('zzw')?.hasError('required') && cabecera3Form.get('zzw')?.touched">
            <span>zzw<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="zzx"
        class="form-control" placeholder="zzx" style="width: 365px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera3Form.get('zzx')?.hasError('required') && cabecera3Form.get('zzx')?.touched">
            <span>zzx<b> es obligatorio</b></span>
        </div> 
    </div>
<p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="zzy"
        class="form-control" placeholder="zzy" style="width: 365px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera3Form.get('zzy')?.hasError('required') && cabecera3Form.get('zzy')?.touched">
            <span>zzy<b> es obligatorio</b></span>
        </div> 
    </div>
<p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="zzz"
        class="form-control" placeholder="zzz" style="width: 365px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera3Form.get('zzz')?.hasError('required') && cabecera3Form.get('zzz')?.touched">
            <span>zzz<b> es obligatorio</b></span>
        </div> 
    </div>
    <div class="ji"><br><br>
        <button class="btn btn-secondary" routerLink="/pagina130">Volver</button>
        <button class="btn btn-success" type="submit" [disabled]="cabecera3Form.invalid" >Aceptar</button>
    </div>
</form>
