<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="container" style="width: 87%; margin: 0 auto;">
        <thead>
            <tr>
                <th class="azultabla1" colspan="6">BAI02 Prácticas, Entradas/Salidas y Actividades del Proceso (cont.)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="celeste2tabla1" colspan="2">Prácticas de Gestión</th>
                <th class="celeste2tabla1" colspan="2">Entradas</th>
                <th class="celeste2tabla1" colspan="2">Salidas</th>
            </tr>
            <tr>
                <td rowspan="5" colspan="2" class="texto"><b>BAI02.03 Gestionar los riesgos de los<br>requerimientos.</b> <br>
                    Identificar, documentar, priorizar y mitigar los riesgos <br>funcionales y técnicos relativos a procedimiento de la<br>
                    información y asociados con los requerimientos de la<br>empresa y solución propusta.
                <th colspan="1">De</th>
                <th colspan="1">Descripción</th>
                <th colspan="1">Descripción</th>
                <th colspan="1">Para</th>
            </tr>
            <tr>
                <td rowspan="4"></td>
                <td rowspan="4"></td>
            </tr>
            <tr>
                <td colspan="1" class="texto">Registro de riesgos <br> de los requerimientos</td>
                <td colspan="1"><a href="/pagina125" >BAI01.10</a><br><a href="/pagina135" >BAI03.02</a><br><a href="/pagina142" >BAI04.01</a><br><a href="/pagina146" >BAI05.01</a></td>
            </tr>
            <tr>
                <td colspan="1" class="texto">Acciones de mitigación de<br>riesgos</td>
                <td colspan="1" class="texto"><a href="/pagina135" >BAI03.02</a><br><a href="/pagina146" >BAI05.01</a></td>
            </tr>
            <tr>
            <tr>
                <td class="celeste2tabla1" colspan="6" align="center"><b>Actividades</b> 
                </td>
            </tr>
            <tr>
                <td colspan="6">1. Involucrar a las partes interesadas para crear una lista potencial de requerimientos técnicos, funcionales, de calidad y riesgos relativos al procedimiento de la información
                    (debido por ejemplo a falta de involucración de los usuarios, expectativas irreales, desarrolladores añadiendo funcionalidad innecesaria).
                </td>
            </tr>
            <tr>
                <td colspan="6">2.Analizar y priorizar los riesgos de los requerimientos conforme probabilidad e impacto. Si aplica, determinar los impactos en coste y tiempo. 
                </td>
            </tr>
            <tr>
                <td colspan="6">3.Identificar modos de controlar, evitar o mitigar los riesgos de  los requerimientos en orden de prioridad.
                </td>
            </tr>
        <tbody>
            <tr>
                <th class="celeste2tabla1" colspan="2">Prácticas de Gestión</th>
                <th class="celeste2tabla1" colspan="2">Entradas</th>
                <th class="celeste2tabla1" colspan="2">Salidas</th>
            </tr>
            <tr>
                <td rowspan="7" colspan="2"><b>BAI02.04 Obtener la aprobación de los<br> requerimientos y soluciones.</b> <br>
                    Coordinar la realimentación de las partes interesadas <br>afectadas y, en las fases clave predeterminadas<br>
                    obtener la aprobación y la firma del patrocinador o<br>propietario del producto y cierre de los requerimientos<br>
                    técnicosy funcionales, de los estudios de viabilidad,<br>de los análisis de riesgo y de las soluciones<br>recomendadas.
                <th colspan="1">De</th>
                <th colspan="1">Descripción</th>
                <th colspan="1">Descripción</th>
                <th colspan="1">Hacia</th>
            </tr>
            <tr>
                <td rowspan="6" class="texto"><a href="/pagina125" >BAI01.09</a></td>
                <td rowspan="6" class="texto">Plan de gestión de calidad</td>
            </tr>
            <tr>
                <td colspan="1">Aprobaciones del<br>patrocinador de los <br>requerimientos y<br>soluciones propuestas</td>
                <td colspan="1" class="texto"><a href="/pagina135" >BAI03.02</a><br><a href="/pagina136" >BAI03.03</a><br><a href="/pagina136" >BAI03.04</a></td>
            </tr>
            <tr>
                <td colspan="1" >Aprobación de las<br>revisiones de calidad</td>
                <td colspan="1" class="texto"><a href="" >AP011.02</a></td>
            </tr>
            <tr>
            <tr>
            <tr>
            <tr>
                <td class="celeste2tabla1" colspan="6" align="center"><b>Actividades</b> 
                </td>
            </tr>
            <tr>
                <td colspan="6">1.Asegurar que el patrocinador de negocio o propietario del producto toman la decisión final con respecto a la elección de la colución, enfoque de adquisición y diseño de alto nivel acorde al caso de negocio
                    Coordinar la realimentación de las partes interesadas afectadas y obtener el cierre por parte de las autoridades apropiadas tanto técnicas como de negocio (por ejemplo, dueño del proceso, arquitecto de empresa, gestor de operaciones,seguridad)para el enfoque propuesto.
                </td>
            </tr>
            <tr>
                <td colspan="6">2.Obtener revisiones de calidad completas y de cada fase clave del proyecto, iteración o versión comparando los resultados obtenidos contra los
                    criterios originales de aceptación. Disponer de la firma del patrocinador y otros interesados en cada revisión de calidad.
                </td>
            </tr>
        </table><br><br><br>
        <table class="container" style="width: 87%; margin: 0 auto;">
            <thead>
                <tr>
                    <th class="azultabla1" colspan="6">BAI02 Guias Relacionadas</th>
                </tr>
            </thead>
            <tr>
                <th style="width: 20%;">Estándar Relacionado</th>
                <th style="width: 60%;">Referencia Detallada</th>
            </tr>
            <tr>
                <td style="width: 20%;">Ninguno</td>
                <th style="width: 60%;"></th>
        
            </tr>
        </table>
</body>
</html><br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/pagina129">BAI02</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina130">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina131">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina132">3</a></li>
      <li class="page-item"><a class="page-link" href="pagina133">Continua BAIO3</a></li>
      
    </ul>
  </nav><br>