<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>

<style>

    .azultabla1{
        background: rgb(39, 70, 172);
        color: white;
        border: 1px solid black;
    }
    .celestetabla1{
        background: rgb(255, 255, 255);
        
    }
    .celeste2tabla1{
        background: rgb(163, 189, 219);
        
    }
    </style>

<body>
    <table class="container" style="width: 87%;">
        <tr>
            <td class="azultabla1"><a class="nav-linl"routerLink="/pagina69" >APO04</a>  Prácticas, Entradas/Salidas y Actividades del Proceso (cont.)</td>
        </tr>
        <th>
            Práctica de Gestión
        </th>
        <th colspan="2">
            Entradas
        </th>
        <th colspan="2">
            Salidas
        </th>
        <tr>
            <td rowspan="3">
                APO04.05 Recomendar iniciativas apropiadas adicionales.<br>
                Evaluar y supervisar los resultados de las pruebas de concepto y, si son favorables, generar
                recomendaciones para más iniciativas y obtener el soporte de las partes interesadas.
            </td>
            <td>De</td>
            <td>Descripción</td>
            <td>Descripción</td>
            <td>A</td>
        </tr>
        <tr>
            <td rowspan="2"></td>
            <td rowspan="2"></td>
            <td>Resultados y recomendaciones de las pruebas de concepto</td>
            <td><a class="nav-link" routerLink="/pagina59">APO02.03</a> <br>
                BAI03.09</td>
        </tr>
        <tr>
            <td>Análisis de las iniciativas rechazadas</td>
            <td> <a class="nav-link" routerLink="/pagina59">APO02.03</a><br>
                BAI03.08</td>
        </tr>
        <tr>
            <td colspan="5" class="celeste2tabla1">Actividades</td>
        </tr>
        <tr>
            <td colspan="5">1. Documentar los resultados de las pruebas de concepto, incluyendo guía y recomendaciones
                para programas de innovación y tendencias.</td>
        </tr>
        <tr>
            <td colspan="5">2. Comunicar las oportunidades de innovación viables en la estrategia TI y en los procesos
                de arquitectura empresarial.</td>
        </tr>
        <tr>
            <td colspan="5">3. Realizar un seguimiento de las pruebas de concepto para medir el grado en que las mismas
                han influenciado en las inversiones reales.</td>
        </tr>
        <tr>
            <td colspan="5">4. Analizar y comunicar las razones por las que se ha rechazado una prueba de concepto.</td>
        </tr>
        <th class="celeste2tabla1">
            Práctica de Gestión
        </th>
        <th colspan="2" class="celeste2tabla1">
            Entradas
        </th>
        <th colspan="2" class="celeste2tabla1">
            Salidas
        </th>
        <tr>
            <td rowspan="4">
                APO04.06 Supervisar la implementación y el uso de la innovación.<br>
                Supervisar la implementación y el uso de las tecnologías emergentes durante la integración, adopción y
                durante todo el ciclo de vida económica para garantizar que se producen los beneficios prometidos y para
                identificar las lecciones aprendidas.
            </td>
            <td>De</td>
            <td>Descripción</td>
            <td>Descripción</td>
            <td>A</td>
        </tr>
        <tr>
            <td rowspan="3"></td>
            <td rowspan="3"></td>
            <td>Valoración del uso de enfoques innovadores</td>
            <td><a class="nav-link" routerLInk="/pagina59">APO02.04</a> <br>
                BAI03.02</td>
        </tr>
        <tr>
            <td>Evaluación de los beneficios de la innovación</td>
            <td><a class="nav-link" routerLink="/pagina73">APO05.04</a> </td>
        </tr>
        <tr>
            <td>Planes de innovación ajustados</td>
            <td>Interno </td>
        </tr>
        <tr>
            <td colspan="5" class="celeste2tabla1">Actividades</td>
        </tr>
        <tr>
            <td colspan="5">1. Valorar la implementación de nuevas tecnologías o innovaciones TI adoptadas como parte de
                la estrategia TI y desarrollos de la arquitectura empresarial y su realización durante programas de
                gestión de iniciativas.</td>
        </tr>
        <tr>
            <td colspan="5" >2. Capturar lecciones aprendidas y oportunidades de mejora.</td>
        </tr>
        <tr>
            <td colspan="5" >3. Ajustar el plan de innovación, si fuese necesario.</td>
        </tr>
        <tr>
            <td colspan="5"> 4. Identificar y avaluar el posible valor obtenido como fruto del uso de la innovación.</td>
        </tr>
    </table>
    <table class="container" style="width: 87%;">
        <tr>
            <td rowspan="2" class="celeste2tabla1">APO04 Guías Relacionadas</td>
        </tr>
        <th class="celeste2tabla1">
            Estándar Relacionado
        </th>
        <th class="celeste2tabla1">
            Referencia Detallada
        </th>
        <tr>
            <td>Ninguno</td>
            <td></td>
        </tr>
    </table>
</body>

</html><br>
<nav aria-label="Page navigation  example" class="container" style="width: 87%;">
    <ul class="pagination container">
      <li class="page-item"><a class="page-link" >APOO4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina69">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/Apo04raci">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina71">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina72">4</a></li>

      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>

