<body>
    <table class="table table-bordered" class="container" style="width: 87%;">
        <thead>
          <tr>
            <th class="azultabla1" colspan="2">MEA02 Supervisar, Evaluar y Valorar el sistema de Control Interno</th>
            <th class="azultabla1" colspan="2">Area: Direccion 
            <br>Dominio: Supervisar, Evaluar y Valorar</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td  class="celestetabla1" colspan="4"><b>Descripción del Proceso</b>
            <br>
            Supervisar y evaluar de forma continua el entorno de control, incluyendo tanto autoevaluaciónes como revisiones externas independientes. Facilitar a la Dirección la identificación de deficiencias e ineficiencias en el control y el inicio de acciones de mejora. Planificar, organizar y mantener normas para la evaluación del control interno y las actividades de aseguramiento. </td>
            </tr>
            <tr>
            <td  class="celestetabla1" colspan="4"><b>Declaración del propósito del proceso </b>
            <br>
            Ofrecer transparencia a las partes interesadas claves respecto de la adecuación del sistema de control interno para generar confianza en las operaciones, en el logro de los objetivos de la compañía y un entendimiento adecuado del riesgo residual. </td>
            </tr>
          <tr>
            <th class="celeste2tabla1" colspan="4">El proceso apoya la consecución de un conjunto de principales metas TI:</th>
          </tr>
          <tr>
            <th class="celeste2tabla1" colspan="2">Meta TI</th>
            <th class="celeste2tabla1" colspan="2">Métricas relacionadas</th>
          </tr>
          <tr>
            <td colspan="2" class="text-top">02 Cumplimiento y soporte de TI al cumplimiento del negocio de las leyes y regulaciones externas</td>
            <td  colspan="2">
              <p>• Coste de la no conformidad de TI, incluidos arreglos y multas, e impacto de la perdida de reputacion</p> 
              <p>• Número de problemas de no conformidad relativos a TI de los que se ha informado al consejo de administracion 
                o  que han causado comentarios o bochorno publicos</p>
              <p>• Número de problemas de no conformidad con respecto a acuerdos contractuales con proveedores de servicios de TI</p>
            <p>• Cobertura de las evaluaciones de conformidad</p> </td>
          </tr>
          <tr>
            <td  colspan="2" class="text-top">04 Riesgos del negocio relacionados con las TI gestionados</td>
            <td  colspan="2"><p>• Porcentaje de procesos de negocio criticos, servicios TI y programas de 
              negocio habilitados por las TI cubiertos por  evaluaciones de riesgo. </p> 
              <p>• Número de incidentes significativos relacionados con las TI que no 
                fueron identificados en la evaluacion de riesgos.</p> 
              <p>• Porcentaje de evaluaciones de riesgo de la empresa que incluyen los 
                riesgos relacionados con TI.</p> 
              <p>•Frecuencia de actualizacion del perfil de riesgo</p> </td>
          </tr>
          <tr>
            <td  colspan="2" class="text-top">15. Cumplimiento de las políticas internas por parte de TI </td>
            <td  colspan="2"><p>• Número de incidentes relacionados con el incumplimiento de la política . </p> 
              <p>•Porcentaje de partes interesadas que comprenden las políticas.</p> 
              <p>•Porcentaje de políticas soportadas por estándares y prácticas de trabajo efectivas </p>
            <p>•Frecuencia de revisión y actualización de las políticas</p>  </td>
          </tr>
              <tr>  
            <th class="celeste2tabla1" colspan="4">Objetivos y Métricas del Proceso</th>
          </tr>
          <tr>
            <th class="celeste2tabla1" colspan="2">Meta del Proceso</th>
            <th class="celeste2tabla1" colspan="2">Métricas Relacionadas</th>
          </tr>
          <tr>
            <td colspan="2">1.Los procesos, recursos e información cumplen con los requisitos del sistema de control interno de la empresa. .</td>
            <td colspan="2"><p>• Porcentaje de procesos con la seguridad de que las salidas cumplen el objetivo dentro de los márgenes de tolerancia </p>
              <p>• Porcentaje de procesos con la seguridad de que son conformes con las metas de control interno. </p>  
              </td>
          </tr>
          <tr>
            <td colspan="2"> 2. Todas las iniciativas de aseguramiento se planean y ejecutan de forma efectiva.</td>
            <td colspan="2"><p>•Porcentaje de iniciativas de aseguramiento que siguen a programas de aseguramiento aprobados y los estándares de planificación </p>
              <p>• Porcentaje de iniciativas TI en el portafolio general en las que el valor está siendo gestionado a través del 
                  ciclo de vida completo</p>  </td>
          </tr>
          <tr>
            <td colspan="2">3.Se proporciona aseguramiento independiente de que el sistema de contol interno es operativo y efectivo..</td>
            <td colspan="2"><p>• Porcentaje de procesos bajo revisión independiente </p>
              <p>• Porcentaje del valor esperado realizado</p>  </td>
          </tr>
          <tr>
              <td colspan="2"> 4. El control interno está establecido y las deficiencias son identificadas y comunicadas. </td>
              <td colspan="2"><p>• Número de debilidades identificadas en los informes externos de certificación y cualificacion</p>  
            <p>• Número de brechas mayores en el control interno </p>
              <p>•  Tiempo transcurrido entre la ocurrencia de la deficiencia del control </p>  </td>
          </tr>
        </tbody>
      </table>
</body>

<br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="mea02">1</a></li>
    <li class="page-item"><a class="page-link" href="listar-tablax">Tabla RACI</a></li>
    <li class="page-item"><a class="page-link" href="mea02a">2</a></li>
    <li class="page-item"><a class="page-link" href="mea02b">3</a></li>
    <li class="page-item"><a class="page-link" href="mea02c">4</a></li>
    <li class="page-item"><a class="page-link" href="mea02d">5</a></li>
    <li class="page-item"><a class="page-link" href="meao3tabla1">Continuar MEA03</a></li>
  </ul>
  </nav><br>



