<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="container" style="width: 85%; margin: 0 auto;">
        <thead>
            <tr>
                <th class="azultabla1"  colspan="6">BAI01 Prácticas, Entradas/Salidas y Actividades del Proceso (cont.)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="celeste2tabla1" colspan="2">Prácticas de Gestión</th>
                <th class="celeste2tabla1" colspan="2">Entradas</th>
                <th class="celeste2tabla1" colspan="2">Salidas</th>
            </tr>
            <tr>
                <td rowspan="5" colspan="2" class="texto"><b>BAI01.13 Cerrar un proyecto o iteración.</b><br>
                    Solicitar a las partes interesadas del proyecto, al final de 
                    cada proyecto,<br> versión o iteración, que evalúen si el proyecto,
                     la versión o iteración entregaron los resultados y valor
                     planeados. Identificar y comunicar cualquier atividad <br>
                     pendiente necesaria para lograr los resultados del proyecto<br>
                     y los beneficios del programa planeados, identificar y<br>
                     documentar las lecciones aprendidas para futuros proyectos, <br>
                     versiones, iteraciones y programas.
                <th colspan="1">De</th>
                <th colspan="1">Descripción</th>
                <th colspan="1">Descripción</th>
                <th colspan="1">A</th>
            </tr>
            <tr>
                <td rowspan="4" class="texto"><a href="">BAI07.08</a></td>
                <td rowspan="4" class="texto">•Plan de acciones <br>
                    de remediación<br>•Informe de revisión</td>
                <td colspan="1">Resultados de la revisión<br>post-implementación </td>
                <td colspan="1"><a href="/pagina60">AP002.04</a></td>
            </tr>
            <tr>
                <td colspan="1">Lecciones aprendidas del<br> proyecto</td>
                <td colspan="1">Interno<br></td>
            </tr>
            <tr>
                <td colspan="1">Confirmaciones de aceptación<br>de las partes interesadas del<br>proyecto</td>
                <td colspan="1">Interno</td>
            </tr>
            <tr>
            <tr>
                <td class="celeste2tabla1" colspan="6" align="center"><b>Actividades</b> 
                </td>
            </tr>
            <tr> 
                <td colspan="6">1.Definir y aplicar los pasos claves para el cierre del proyecto, incluyendo revisiones post-implementaciónque evalúensi el proyecto obtuvo losresultados y beneficios deseados.
    
                </td>
            </tr>
            <tr>
                <td colspan="6">2.Planificar y ejecutar revisiones post-implementación para determinar si los proyectos entregaron los beneficios esperados y para mejoar la
                    metodología de gestión de proyecto y el proceso de desarrollo de sistemas.
                </td>
            </tr>
            <tr>
                <td colspan="6">3.Identificar, asignar, comunicar y rastrear las actividades incompletas necesarias para lograr los resultados y beneficios planeados del programa del proyecto.
                </td>
            </tr>
            <tr>
                <td colspan="6">4.Recolectar las lecciones aprendidas de los participantes del proyceto regularmente y hasta la finalización dle proyecto. Revíselas e idntifique las actividades claves que llevaron a los beneficios y valor entregados. Analice los datos y haga recomendaciones para mejorar los proyectos actuales asi como el método de gestión para proyectos futuros.
                </td>
            </tr>
            <tr>
                <td colspan="6">5.Obtener la aceptación de los entregables y la transferencia de propiedad del proyecto de las partes interesadas.
                </td>
            </tr>
            <tr>
            </tr>
        <tbody>
            <tr>
                <th class="celeste2tabla1" colspan="2">Prácticas de Gestión</th>
                <th class="celeste2tabla1" colspan="2">Entradas</th>
                <th class="celeste2tabla1" colspan="2">Salidas</th>
            </tr>
            <tr>
                <td rowspan="3" colspan="2" class="texto"><b>BAI01.14 Cerrar un programa</b> <br>
                    Eliminar el programa del portafolio de inversiones activas<br>
                    cuando haya acuerdo de que el valor deseado ha sido<br>
                    logrado o cuando esté claro que no será logrado con los <br>
                    criteios de valor establecidos para el programa.
    
                <th colspan="1">De</th>
                <th colspan="1">Descripción</th>
                <th colspan="1">Descripción</th>
                <th colspan="1">A</th>
            </tr>
            <tr>
                <td colspan="1" class="texto"><a href="">BAI07.08</a></td>
                <td colspan="1" class="texto">Plan de acciones de remediación <br> Informe de revisión post-implementación </td>
                <td rowspan="1" class="texto">Comunicación del retiro del <br>programa y rendición de cuentas en curso </td>
                <td rowspan="1" class="texto"><a href="/pagina76">AP005.05</a><br><a href="/apo7tabla5">AP007.06</a></td>
            </tr>
            <tr>
                <tr>
                    <td class="celeste2tabla1" colspan="6" align="center"><b>Actividades</b> 
                    </td>
                </tr>
                <tr> 
                    <td colspan="6">1.Llevar el programa a un cierre ordenado, incluendo una aprobación formal, desmantelamiento de la organización del programa y la función de apoyo,
                        validación de los entregables y comunicación de la retirada.
        
                    </td>
                </tr>
                <tr>
                    <td colspan="6">2.Revisar y documentar las lecciones aprendidas. Una vez que el programa ha sido retirado, elimínelo del portafolio de inversiones activas.
                    </td>
                </tr>
                <tr>
                    <td colspan="6">3.Establecer las responsabilidades y los procesos para asegurar que la organización continue la optimización del valor de los servicios, activos o recursos.
                        Pueden ser necesarias inversiones adicionales en el futuro para asegurarse que esto ocurra.
                    </td>
                </tr>
    </table><br><br>
    <table class="container" style="width: 85%; margin: 0 auto;">
        <thead>
            <tr>
                <th class="azultabla1"  colspan="6">BAI01 Guias Relacionada</th>
            </tr>
        </thead>
        <tr>
            <th style="width: 20%;">Estándares Relacionados</th>
            <th style="width: 60%;">Referencias Detalladas</th>
        </tr>
        <tr>
            <td style="width: 20%;">PMBOK</td>
            <th style="width: 60%;"></th>
    
        </tr>
        <tr>
            <td style="width: 20%;">PRINCE2</td>
            <th style="width: 60%;"></th>
    
        </tr>
        </table>
</body>
</html><br>

<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="pagina119" >BAI01 </a></li>
      <li class="page-item"><a class="page-link" href="listar-tablauno" >1</a></li>
      <li class="page-item"><a class="page-link" href="pagina121" >2</a></li>
      <li class="page-item"><a class="page-link" href="pagina122" >3</a></li>
      <li class="page-item"><a class="page-link" href="pagina123" >4</a></li>
      <li class="page-item"><a class="page-link" href="pagina124" >5</a></li>
      <li class="page-item"><a class="page-link" href="pagina125" >6</a></li>
      <li class="page-item"><a class="page-link" href="pagina126" >7</a></li>
      <li class="page-item"><a class="page-link" href="pagina127" >8</a></li>
      <li class="page-item"><a class="page-link" href="pagina129">Continua BAIO2</a></li>
      
    </ul>
  </nav><br>