<div class="container">
    <table class="table">
        <thead class="theader">
        <tr>
            <td class="titulos" scope="col" colspan="5">DSS04 Prácticas, Entradas/Salidas y Actividades del Proceso (cont.)</td>
        </tr>
    </thead>
    <thead style="text-align:center" class="fondo2">
    <tr>
        <td class="titulos" scope="col">Prácticas de Gestión</td>
        <td class="titulos" scope="col" colspan="2">Entradas</td>
        <td class="titulos" scope="col" colspan="2">Salidas</td>
    </tr>
</thead>
    <tr>
        <th  scope="row" rowspan="5">DSS04.02 Mantener una estrategia de
            continuidad
            <p class="texto">Evaluar las opciones de gestión de la continuidad de 
                negocio y escoger una estrategia de continuidad viable y efectiva 
                en coste , que pueda asegurar la continuidad y recuperación de la 
                empresa frente a un desastre u otro incidente mayor o disrupción.
            </p>
        </th>
        <td style="text-align: center;">De</td>
        <td style="text-align: center;">Descripción</td>
        <td style="text-align: center;">Descripción</td>
        <td style="text-align: center;">A</td>
    </tr>
    <tr>
    <tr>
        <td rowspan="3"><a href="apo12tabla5">APO12.06</a></td>
        <td rowspan="3">
        <li>Causas raíz relacionadas con riesgos</li>
        <li>Comunicaciones del impacto de los riesgos</li>
        </td>
        <td>Análisis de impacto en el negocio</td>
        <td><a href="apo12tabla3">APO12.02</a></td>
    </tr>
    <tr>
        <td>Requerimientos de continuidad</td>
        <td>Interno</td>
    </tr>
    <tr>
        <td>Opciones estratégicas aprobadas</td>
    </tr>
    <tr>
        <td colspan="5" style="text-align:center" class="fondo">Actividades</td>
    </tr>
    <tr>
        <td colspan="5">1. Identificar escenarios potenciales probables 
            que puedan dar pie a eventos que puedan causar incidentes 
            disruptivos importantes.</td>
    </tr>
    <tr>
        <td colspan="5">2. Realizar un análisis de impacto en el negocio para 
            evaluar el impacto en tiempo de una disrupción en funciones criticas 
            del negocio y el efecto que tendría en ellas.</td>
    </tr>
    <tr>
        <td colspan="5">3. Establecer el tiempo mínimo necesario para recuperar un 
            proceso de negocio y su soporte de TI, basándose en una duración 
            aceptable de interrupción del negocio y la interrupción máxima 
            tolerable.</td>
    </tr>
    <tr>
        <td colspan="5">4. Analizar la probabilidad de amenazas que puedan causar 
            pérdidas de continuidad de negocio e identificar medidas que puedan 
            reducir la probabilidad y el impacto, mejorando la prevención e 
            incrementando la resiliencia. </td>
    </tr>
    <tr>
        <td colspan="5">5. Analizar los requerimientos de continuidad para 
            identificar las posibles estrategias de negocio y opciones técnicas.</td>
    </tr>
    <tr>
        <td colspan="5">6. Determinar las condiciones y los responsables de 
            decisiones clave que puedan causar la invocación de los planes de 
            continuidad.</td>
    </tr>
    <tr>
        <td colspan="5">7. Identificar los requerimientos de recursos y costes para 
            cada opción técnica estratégica y realizar recomendaciones estratégicas. </td>
    </tr>
    <tr>
        <td colspan="5" id="DSS0403">8. Obtener la aprobación de los ejecutivos de negocio para 
            las opciones estratégicas seleccionadas.</td>
    </tr>
</table>
</div>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">DSS02</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/listraci04">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla2">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla3">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla4">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla5">6</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla6">7</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla7">8</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla8">9</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla9">10</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso4tabla10">11</a></li>
      <li class="page-item"><a class="page-link" href="/dsso4tabla4">Next</a></li>
      
    </ul>
  </nav><br>