
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>localhost4200</title>

</head>
<body>
  <div class="tabla3">
    <table class="table table-bordered">
     <thead>
       <tr>
         <th class="azultabla1" colspan="5"><a href="edm03tabla1">EDMO3</a> Prácticas, entradas/salidas del Proceso</th>
       </tr>
    </thead>
     <tbody>
    <tr>
        <td class="celestetabla1" ><b>Practicas de Gestion</b></td>
        <td class="celestetabla1" colspan="2"><b>Entradas</b></td>
        <td class="celestetabla1" colspan="2"><b>Salidas</b></td>
    </tr>
    <tr>
        <td rowspan="4"><b><a href="meao3tabla1">MEA03.01</a> Evaluar la gestion de riesgos.</b>
            
            <br> Examinar y evaluar continuamente el efecto del riesgo sobre el uso actual y futuro de las TI en las 
            empresa.Considerar si el apetito de riesgo de la empresa relacionando con el uso de Ti es identidicado y gestionado
        </td>
    
        <td colspan="1"><b>De</b></td>
        <td colspan="1"><b>Descripcion</b></td>
        <td colspan="1"><b>Descripcion</b></td>
        <td colspan="1"><b>A</b></td>
    </tr>
    <tr>
    <td rowspan="2"><a href="meao3tabla1">APO12.01 no hay tabla o mal enrutado</a></td>
    <td rowspan="2">Factores y problemas de riesgos emergentes</td>
    <td> Guia de apetito de riesgo</td>
    <td>APO12.03</td>
    </tr>
    <tr>
    <td>Niveles de tolerancia de riegos aporbados</td>
    <td>APO12.03</td>
    </tr>
    <tr>
    <td>Fuera del Ambito de Cobit</td>
    <td>Principios de la gestion de riesgos de la empresa</td>
    <td>Evaluacion de las actividades de gestion de riesgo</td>
    <td>APO12.01</td>
    </tr>
       <tr>
         <th class="celestetabla1" colspan="5">Actividades</th>
       </tr>
       <tr>
         <td colspan="5">1. Determinar el nivel de riesgos relacionados con las TI quela empresa esta dispuesta a asumir para cumplir
             con sus objetos(apetito de riesgo).</td>
       </tr>
       <tr>
         <td colspan="5">2. Evaluar y aporbar propustas de umbrales de tolerancia ak riesgo Ti frente a los niveles de Riesgoy oportunidad acepables 
             por la empresa.</td>
       </tr>
       <tr>
         <td colspan="5">3. Determinar el grado de alienacion de la estrategia de riesgos de Ti con la estartegia de riesgos empresariales.</td>
       </tr>
       <tr>
         <td colspan="5"> 4.Evaluar proactivamente los factores de riesgos Ti con anterioridad a las desiciones estartegicas de la empresa pendientesy asegurar que las decisions de la empresa
             se toman consientemente de los riesgos </td>
       </tr>
       <tr>
         <td colspan="5">5. Determinar si el uso de Ti esta sujeto a una valoracion y evaluacion de riesgos adecuados,segun lo descrito en estanares nacionales 
             e internacionales relevantes. </td>
       </tr>
       <tr>
         <td colspan="5">6.Evaluar las actividades de gestion de riesgos para garantizar su alineamiento con las capacidades de la empresa para las perdidas relacionaes 
             con Ti y la tolerancia de los loderes a los mismos . </td>
       </tr>
       <tr>
        <td class="celestetabla1" ><b>Practicas de Gobierno</b></td>
        <td class="celestetabla1" colspan="2"><b>Entradas</b></td>
        <td class="celestetabla1" colspan="2"><b>Salidas</b></td>
    </tr>
    <tr>
        <td rowspan="4"><b><a href="meao3tabla1">MEA03.02</a>.Orientar la gestion de riesgos</b>
            
            <br> Orientar el establecimiento de practicas de gestion de riesgos para proporcionar una seguridad razonable 
        de que sn apropiadas para segurar que riesgo de TI actual no excede el apetito de riesgo del Consejo
        </td>
    
        <td colspan="1"><b>De</b></td>
        <td colspan="1"><b>Descripcion</b></td>
        <td colspan="1"><b>Descripcion</b></td>
        <td colspan="1"><b>A</b></td>
    </tr>
    <tr>
    <td rowspan="2">APO12.03</td>
    <td rowspan="2">Perfil de riesgo agredado inlcuyendo el estado de las acciones de gestion del riesgo</td>
    <td>Politicas de gestion de riesgos</td>
    <td>APO12.01</td>
    </tr>
    <tr>
    <td>Objetivos claves a ser monitorizados por la gestion de riesgos</td>
    <td>APO12.01</td>
    </tr>
    <tr>
    <td>Fuera del Ambito de Cobit</td>
    <td>Perfiles y planes de mitigacion de la gestion del Riesgo de la empresa (ERM)</td>
    <td>Proceso aprobado para la medicion de la gestion de riesgos</td>
    <td>APO12.01</td>
    </tr>
       <tr>
         <th class="celestetabla1" colspan="5">Actividades</th>
       </tr>
       <tr>
         <td colspan="5">1. Promover una cultura consiente de los riesgos TI e impulsar a la empresa a una identificacion proactiva de riegos TI, oportunidades e impactos
             potenciales en el negocio.</td>
       </tr>
       <tr>
         <td colspan="5">2. Orientar la integracion de las operaciones y las estrategia de riegos de Ti con las decisiones y operaciones empresriales estrategicas.</td>
       </tr>
       <tr>
         <td colspan="5">3. Orientar la elaboracion de planes de comunicacion de riesgos(cubriendo todos los niveles de la emprea)asi como los planes de accion de riesgo.</td>
       </tr>
       <tr>
         <td colspan="5">4. Orientar la implantacion de mecanismos aporpiados para responder rapidamente a los riegso cambiantes y notificadas imediatamente a los niveles 
             adecuados de gestion, soportado principios de escalado acordados ( que informar cuando,donde y como).</td>
       </tr>
       <tr>
         <td colspan="5">5. Orientar para que el riesgo m las oportunidades,los problemas y preocupaciones puedans er identificadas y notificadas por cualquier persona en cualquier momento
             El riesgo debe ser gestionado de acuerdo con las politicas y procedimientos publicados y escalados alos decisores relevantes.</td>
       </tr>
       <tr>
         <td colspan="5">6. IDentificar los objetivos e idicadores clave de los proceso de gobierno y gestion de riesgos a ser monitorizados y aprobar los enfoques,metodos
             tecnicas y proceso para aceptar y notificar la informacion de medicion.</td>
       </tr>
     </tbody>
   </table>
 </div>

</body>

</html>

<br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">Menu</a></li>
      <li class="page-item"><a class="page-link" href="edm03tabla1">1</a></li>
      <li class="page-item"><a class="page-link" href="listar-three">2</a></li>
      <li class="page-item"><a class="page-link" href="edm03tabla3">3</a></li>
      <li class="page-item"><a class="page-link" href="edm03tabla4">4</a></li>
      <li class="page-item"><a class="page-link" href="edm03tabla5">5</a></li>
      <li class="page-item"><a class="page-link" href="edm03tabla4">Next</a></li>
      
    </ul>
  </nav><br>

