<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="table table-bordered" class="container" style="width: 87%;">
        <thead>
            <tr>
                <th class="azultabla1" colspan="6">BAI05 Prácticas, Entradas/Salidas y Actividades del Proceso (cont.)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="celeste2tabla1" colspan="2">Prácticas de Gestión</th>
                <th class="celeste2tabla1" colspan="2">Entradas</th>
                <th class="celeste2tabla1" colspan="2">Salidas</th>
            </tr>
            <tr>
                <td rowspan="5" colspan="2" class="texto"><strong> BAI05.05 Facilitar la operacion y el uso.</strong><br>
                    Planificar eh implementar todos los aspectos técnicos, <br>operativos y de modo de uso de forma que todos <br>
                    aquellos involucrados en el entorno futuro puedan <br> ejercer sus responsabilidades.
                <th colspan="1"><b>De</b></th>
                <th colspan="1"><b>Descripción</b></th>
                <th colspan="1"><b>Descripción</b></th>
                <th colspan="1"><b>A</b></th>
            </tr>
            <tr>
                <tr>
                    <td rowspan="1" class="texto"><a routerLink="/pagina133"> BAI03.03</a></td>
                    <td rowspan="1" class="texto">Componentes de la solución <br>documentados </td>
                    <td rowspan="1" class="texto">Plan de operación y uso</td>
                    <td rowspan="1" class="texto"><a routerLink="/pagina92">AP008.04</a><br><a routerLink="/pagina160">
                        BAI08.04</a><br><a routerLink="/dsso1tabla1">DSS01.01 </a><br><a routerLink="/dsso1tabla2">DSS01.02</a> <br>
                        <a routerLink="/dsso6tabla2">DSS06.02</a></td>
                </tr>
             <tr>
                <td rowspan="1" class="texto"><a routerLink="/pagina136">BAI03.10</a></td>
                <td rowspan="1" class="texto">Componentes de la solución <br>y documentación relacionada actualizados </td>
                <td rowspan="1" class="texto">Reultados y metricas de éxito</td>
                <td rowspan="1" class="texto"><a routerLink="/pagina92">AP008.05</a> <br><a routerLink="/pagina157">
                    BAI07.07 </a><br><a routerLink="/pagina158">BAI07.08 </a><br><a routerLink="/pagina205">MEA01.03</a></td>
            </tr>
            <tr>
            <tr>
                <td class="celeste2tabla1"  colspan="6" align="center"><strong> Actividades</strong>
                </td>
            </tr>
            <tr>
                <td colspan="6" class="texto">1.Desarrollar un plan de operación y uso del cambio que comunique y se base en las ,ejoras inmediatas que se hayan pervibido, trate aspectos
                    culturales y de comportamiento propios de la transición general y aumente el apoyo personal y el compromiso de los implicados. Asegurar que el plan 
                    presenta una visión holística del cambio y proporciona documentación (p. ej.,procedimientos), tutoria, formación,entrenamiento, transferencia de conocimiento y soporte 
                    desde el primer momento de implementar el cambio y a posteriori. 
                </td>
            </tr>
            <tr>
                <td colspan="6" class="texto">2.Implementar el plan de operación y uso. Definir y registrar métricas de éxito, incluyendo medidas importantes para el negocio y étricas de percepción que indiquen
                    cómo la gente se siente ante el cambio, aplicando acciones de mejora según sea necesario .
                </td>
            </tr>
            <tbody>
                <tr>
                    <th class="celeste2tabla1" colspan="2">Prácticas de Gestión</th>
                    <th class="celeste2tabla1" colspan="2">Entradas</th>
                    <th class="celeste2tabla1" colspan="2">Salidas</th>
                </tr>
                <tr>
                    <td rowspan="5" colspan="2" class="texto"><strong> BAI05.06 Integrar nuevos enfoques.</strong><br>
                        Integrar nuevos enfoques mediante el seguimiento <br>
                        de los cambios implementados, asegurando la <br>
                        efectividad del plan de operación y uso y manteniendo <br>
                        un plan de concienciación mediante comunicaciones <br>
                        regulares. Aplicar las medidas correctoras que se <br>
                        estime apropiado y que podrian incluir forzar el <br>cumplimiento.
                    <th colspan="1"><b>De</b> </th>
                    <th colspan="1"><b>Descripción</b></th>
                    <th colspan="1" rowspan="2"><b>Descripción</b></th>
                    <th colspan="1" rowspan="2"><b>A</b></th>
                </tr>
                <tr>
                    <td rowspan="4"></td>
                    <td rowspan="4"></td>
                    
                </tr>
                <tr>
                    <td colspan="1"  class="texto">Resultados de auditorías <br>de cumplimiento </td>
                    <td colspan="1" class="texto"><a routerLink="/pagina206">MEA02.02</a><br><a routerLink="/pagina206">MEA03.03</a></td>
                </tr>
                <tr>
                    <td colspan="1" class="texto">Comunicaciones de<br>concienciación</td>
                    <td colspan="1" class="texto"> Interno</td>
                </tr>
                <tr>
                    <td colspan="1" class="texto">Resultados de la revisión <br>de rendimiento de RRHH</td>
                    <td colspan="1" class="texto"><a routerLink="/pagina86">APO07.04</a></td>
                </tr>
                <tr>
                <tr>
                    <td class="celeste2tabla1" colspan="6" align="center"><strong>Actividades</strong>
                    </td>
                </tr>
                <tr>
                    <td colspan="6" class="texto">1.Reconocer los exitos e implementar programas de recompensa y reconocimiento para reforzar el proceso de cambio.
                    </td>
                </tr>
                <tr>
                    <td colspan="6" class="texto">2.Usar sistemas de medida del desempeño para identificar las casusas raíz de una baja adopción de los cambios y aplicar medidas correctoras.
                    </td>
                </tr>
                <tr>
                    <td colspan="6" class="texto">3.Hacer responsables a los propietarios de proceso de que se hagan todas las operaciones propias del día a día. 
                    </td>
                </tr>
                <tr>
                    <td colspan="6" class="texto">4.Llevar acabo auditorias de cumplimiento para identificar las causas raíz de una baja adopción de los cambios y recomendar acciones correctivas.
                    </td>
                </tr>
                <tr>
                    <td colspan="6" class="texto">5.Proporcionar concienciación continua mediante comunicaciones regulares sobre los cambios y su adopción
                    </td>
                </tr>
                <tr>
                </tr>
                <tbody>
                    <tr>
                        <th class="celeste2tabla1" colspan="2">Prácticas de Gestión</th>
                        <th class="celeste2tabla1" colspan="2">Entradas</th>
                        <th class="celeste2tabla1" colspan="2">Salidas</th>
                    </tr>
                    <tr>
                        <td rowspan="5" colspan="2" class="texto">BAI05.07 Mantener los cambios.<br>
                            Mantener los cambios mediante la formación eficaz <br>
                            del personal nuevo, campañas de comunicación <br>
                            periódicas, compromiso de la alta dirección, supervisión <br>
                            de la adopción de los cambios y divulgación a toda la empresa de las lecciones aprendidas.
                        <th colspan="1"><b>De</b></th>
                        <th colspan="1"><b>Descripción</b></th>
                        <th colspan="1" rowspan="2"><b>Descripción</b></th>
                        <th colspan="1" rowspan="2"><b>A</b></th>
                    </tr>
                    <tr>
                        <td rowspan="4"></td>
                        <td rowspan="4"></td>
                        
                    </tr>
                    <tr>
                        <td colspan="1"  class="texto">Planes de transferencia del <br> conocimiento</td>
                        <td colspan="1" class="texto"><a routerLink="/pagina160">BAI08.03</a><br><a routerLink="/pagina160">BAI08.04</a></td>
                    </tr>
                    <tr>
                        <td colspan="1" class="texto">Comunicación del compromiso <br>de la dirección</td>
                        <td colspan="1" class="texto"> Interno</td>
                    </tr>
                    <tr>
                        <td colspan="1" class="texto">Revisión del uso operativo</td>
                        <td colspan="1" class="texto"><a routerLink="/pagina206"></a> MEA02.02</td>
                    </tr>
                    <tr>
                    <tr>
                        <td class="celeste2tabla1" colspan="6" align="center"><strong>Actividades</strong>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" class="texto">1.Proporcionar tutoria, formación, entrenamiento y transferencia de conocimiento al personal nuevo para mantener los cambios.
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" class="texto">2.Mantener y reforzar los cambios mediante comunicaciones regulares demostrando el compromiso de la alta dirección.
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" class="texto">3.Realizar revisiones periódicas de la operación y uso de los cambios e identificar mejoras. 
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" class="texto">4.Captar lecciones aprendidas sobre la implementación de los cambios y divulgar este conocimeinto en toda la empresa.
                        </td>
                    </tr>
                    <tr>
                    </tr>
    </table><br><br>
    <table class="table table-bordered" class="container" style="width: 87%;">
        <thead>
            <tr>
                <th class="azultabla1" colspan="6">BAI05 Guias Relacionada</th>
            </tr>
        </thead>
        <tr>
            <th class="celeste2tabla1" style="width: 20%;">Estándares Relacionados</th>
            <th class="celeste2tabla1" style="width: 60%;">Referencias Detalladas</th>
        </tr>
        <tr>
            <td style="width: 20%;"></td>
            <td style="width: 60%;">Kotter, John; Leading Change, Harvard Business School Press, EE.UU., 1996</td>
    
        </tr>
        </table>
</body>
</html><br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/pagina145">BAI05</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina146">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina147">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina148">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
      
    </ul>
  </nav><br>
