<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="container" style="width: 85%; margin: 0 auto;">
        <thead>
            <tr>
                <th class="azultabla1"  colspan="6">BAI01 Prácticas, Entradas/Salidas y Actividades del Proceso (cont.)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="celeste2tabla1" colspan="2">Prácticas de Gestión</th>
                <th class="celeste2tabla1" colspan="2">Entradas</th>
                <th class="celeste2tabla1" colspan="2">Salidas</th>
            </tr>
            <tr>
                <td rowspan="5" colspan="2" class="texto"><b>BAI01.11 Supervisar y controlar proyectos.</b><br>
                    Medir el desempeño del proyecto versus los criterios clave <br>de rendimiento del proyecto, tales como la planificación<br>de calidad, el coste y los riesgos. Evaluar el impacto de las <br>desviaciones en el proyecto y el programa general e informar<br>los resultados a las partes interesadas clave
                <th colspan="1">De</th>
                <th colspan="1">Descripción</th>
                <th colspan="1" rowspan="2">Descripción</th>
                <th colspan="1" rowspan="2">A</th>
            </tr>
            <tr>
                <td rowspan="4"></td>
                <td rowspan="4"></td>
                
            </tr>
            <tr>
                <td colspan="1" >Criterios de desempeño del<br>proyecto</td>
                <td colspan="1">Interno<br></td>
            </tr>
            <tr>
                <td colspan="1">Informes del avance del<br>proyecto</td>
                <td colspan="1"> Interno</td>
            </tr>
            <tr>
                <td colspan="1">Cambios acordados al proyecto</td>
                <td colspan="1"> Interno</td>
            </tr>
            <tr>
            <tr>
                <td class="celeste2tabla1" colspan="6" align="center"><b>Actividades</b> 
                </td>
            </tr>
            <tr>
                <td colspan="6">1. Establecer y usar un conjunto de criterios de proyecto que incluyan, pero no limitados a, alcance, planificación, calidad, coste y nivel de riesgo.
                </td>
            </tr>
            <tr>
                <td colspan="6">2.Medir el rendimiento del proyecto vesus criterios claves de rendimiento. Analizar las desviaciones de criterios claves de desempeño por su causa yevaluar los efectos positivos y negativos en el programa y los proyectos que lo componen.
                </td>
            </tr>
            <tr>
                <td colspan="6">3.Notificar el progreso del proyecto dentro del programa, las desviaciones de los criterios claves de desempeño establecidos y los efectos positivos y negativos
                    en los programas y en los proyectos que los componen a las partes interesadas identificadas como claves. 
                </td>
            </tr>
            <tr>
                <td colspan="6">4.Supervisar los cambios al programa y revisar los criterios claves de desempeño del proyecto para determinar si estos representan meidas válidasdel avance.
                </td>
            </tr>
            <tr>
                <td colspan="6">5.Documentar y enviar cuaquier cambio al programa a las partes interesadas claves antes de su adopción. Comunicar los criterios revisaddos a los jefes de proyecto para su uso en los informes futuros de desempeño
                </td>
            </tr>
            <tr>
                <td colspan="6">6.Recomendar y supervisar las acciones correctivas, cuando sean requeridas, en línea con el marco de gobierno de programas y proyectos.
                </td>
            </tr>
            <tr>
                <td colspan="6">7.Obtener la aprobación y firmar documentada de los entregables producidos en cada iteración, lanzamiento o fase del proyecto de los gestores y usuarios designados que afectan las funciones del negocio y a TI
                </td>
            </tr>
            <tr>
                <td colspan="6">8.Basar el proceso de aprobación en criterios de aceptación claramente definidos y acordados con las partes interesadas claves antes de quecomience el trabajo sobre el entregable de la fase o de la iteración.
                </td>
            </tr>
            <tr>
                <td colspan="6">9.Evaluar el proyecto en los cambios de fase (stage-gate), versiones o iteraciones más importantes acordados y tomar la desición de continuar/pararde acuerdocon criterios de éxito predeterminados.
                </td>
            </tr>
            <tr>
                <td colspan="6">10.Establecer y operar un sistema de control de cambios para el proyecto de forma que todos los cambios a la línea de referencia (baseline)del
                    proyecto (por ejemplo, coste, cronograma, alcance,calidad) sean adecuadamente revisados, aprobados e incorporados en el plan de proyecto
                    integrado en línea con el marco de gobierno del programa y poyectos.
                </td>
            </tr>
            <tr>
            </tr>
        <tbody>
            <tr>
                <th class="celeste2tabla1"  colspan="2">Prácticas de Gestión</th>
                <th class="celeste2tabla1"  colspan="2">Entradas</th>
                <th class="celeste2tabla1"  colspan="2">Salidas</th>
            </tr>
            <tr>
                <td rowspan="6" colspan="2" class="texto"><b>BAI01.12 Gestionar los recursos y los paquetes de trabajo del proyecto.</b><br>
                   Gestionar los paquetes de trabajo mediante requerimientos <br>
                   formales de autorización y aceptación de los paquetes de<br>
                    trabajo, y asignando y coordinado los recursos de negocio y de TI adecuados.
                <th colspan="1">De</th>
                <th colspan="1">Descripción</th>
                <th colspan="1">Descripción</th>
                <th colspan="1">A</th>
            </tr>
            <tr>
                <td rowspan="7"></td>
                <td rowspan="7"></td>
            </tr>
            <tr>
                <td colspan="1">Requerimientos de recursos<br>del proyecto</td>
                <td colspan="1"><a href="/apo7tabla4">AP007.05</a><br><a href="/apo7tabla5">AP007.06</a></td>
            </tr>
            <tr>
                <td colspan="1">Roles y responsabilidades <br> del proyecto</td>
                <td colspan="1"> Interno</td>
            </tr>
            <tr>
                <td rowspan="1">Diferencias en la planificación del proyecto</td>
                <td rowspan="1"> Interno</td>
            </tr>
            <tr>
            <tr>
            <tr>
            <tr>
                <td class="celeste2tabla1" colspan="6" align="center"><b>Actividades</b> 
                </td>
            </tr>
            <tr>
                <td colspan="6">1.Identificar las necesidades de recursos del negocio y TI para el proyecto y mapear claramente los perfiles y responsabilidades, con las responsabilidades para la escalado y la toma de decisiones que han sido acordadas y entendidas.
                </td>
            </tr>
            <tr>
                <td colspan="6">2.Identificar los requerimientos de habilidades y tiempo para todos los individuos involucrados en las fases del proyecto con relación a sus perfiles
                    definidos. Asignar personal a los roles basándose en la información sobre las habilidades disponibles(p.ej. matriz de habilidades de TI).
                </td>
            </tr>
            <tr>
                <td colspan="6">3.Utilizar un gestor de poyecto experimentado y un lider de equipo con habilidades apropiadas al tamaño, complejidad y riesgo del proyecto.
                </td>
            </tr>
            <tr>
                <td colspan="6">4.Considerar y definir claramente los roles y responsabilidades de otras partes involucradas, incluyendo financiero, legal compras, RRHH, auditoría interna y cumplimiento.
                </td>
            </tr>
            <tr>
                <td colspan="6">5.Definir y acordar claramente a responsabilidad sobre la compra y gestión de productos y servicios de terceras partes, asi como la gestión de las relaciones.
                </td>
            </tr>
            <tr>
                <td colspan="6">6.Identificar y autorizar la ejecución del trabajo de acuerdo al plan de proyecto.
                </td>
            </tr>
            <tr>
                <td colspan="6">7.Identificar las diferencias con el plan de proyecto y dar realimentación al jefe de proyecto para su remediación.
                </td>
            </tr>
        </table>
</body>
</html><br>

<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/pagina119" >BAI01 </a></li>
      <li class="page-item"><a class="page-link" routerLink="/listar-tablauno" >1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina121" >2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina122" >3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina123" >4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina124" >5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina125" >6</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina126" >7</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina127" >8</a></li>
      <li class="page-item"><a class="page-link" href="pagina129">Continua BAIO2</a></li>
      
    </ul>
  </nav><br>