<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>localhost4200</title>

</head>
<body>
    <h1 style="color: rgb(255, 255, 255); font-size: 25px; text-align: center;" >CONTENIDOS DE LA GUIA DE REFERENCIA DE PROCESOS DE COBIT 5 </h1>
    <table class="container" style="width: 87%; margin: 0 auto;">
        <tr >
            <th class="azultabla1" style="width: 50%;">BAI01 Gestión de Programas y Proyectos</th>
            <th class="azultabla1" style="width: 50%;">Area: Gestión<br>
                Dominio: Construir, Adquirir e Implementar</th>
        </tr>
        <tr>
            <td colspan="2"><b>Descripción del Proceso</b><br>
                Gestionar todos los programas y proyectos del portafolio de inversiones de forma coordinada y en línea
                con las estrategia corporativa. Iniciar, planificar, controlar y ejecutar
                programas y proyectos y cerrarlos con una revisión post-implementación.</td>
        </tr>
        <tr>
            <td colspan="2"><b>Declaración del Propósito del Proceso</b><br>
                Alcanzar los beneficios de negocio y reducir el riesgo de retrasos y costes inesperados y el deteriodo del
                valor, mediante la mejora de las comunicaciones
                y la involucración de usuarios finales y de negocio, asegurando el valor y la calidad de los entregables
                del proyecto y maximizando su contribución al 
                portafolio de servicios e inversiones.</td>
        </tr>
        <tr >
            <th class="celeste2tabla1" colspan="2">El proceso apoya la consecución de un conjuno de principales metas TI:</th>
        </tr>
        <tr>
            <th class="celeste2tabla1" style="width: 50%;">Meta TI</th>
            <th class="celeste2tabla1" style="width: 50%;">Métricas Relacionadas</th>
        </tr>
        <tr>
            <td colspan="1" class="texto">01 Alineamiento de TI y la estrategia de negocio</td>
            <td colspan="1">•Porcentaje de las metas y requerimientos estratégicos de la empresa<br>
                soportados por las metas estratégicas para TI<br>
                •Nivel de satisfacción de las partes interesadas con el alcance del<br>
                portafolio de programas y servicios planeados<br>
                •Porcentaje de los facilitadores de valor TI mapeados con facilitadores<br>
                de valor del negocio
            </td>
        </tr>
        <tr>
            <td colspan="1" class="texto">04 Riesgos de negocio relacionados con las TI gestionados</td>
            <td colspan="1">•Porcentaje de procesos de negocio críticos, servicios TI y programas de<br>
                negocio habilitados por las TI cubiertos por evaluaciones de ríesgos<br>
                •Número de incidentes significativos relacionados con las TI que no<br>
                fueron identificados en la evaluación de riesgos <br>
                •Porcentaje de evaluaciones de riesgo de la empresa que incluyen los<br>
                riesgos relacionados con TI<br>
                •Frecuencia de actualización del perfil de riesgo
            </td>
        </tr>
        <tr>
            <td colspan="1" class="texto">05 Realización de beneficios del portafolio de inversiones y servicios<br> relacionados con las TI<br>
            <td colspan="1">•Porcentaje de inversiones de TI en los que las realización del beneficio se<br>
                monitoriza a través del ciclo de vida económico completo.<br>
                •Porcentaje de servicios TI en los que se realizan los beneficios<br>
                esperados.<br>
                •Porcentaje de las inversiones en TI donde los beneficios demandados<br>
                son alcanzados o excedidos<br>
            </td>
        </tr>
        <tr>
            <td colspan="1" class="texto">13 Entrega de programas que proporcionen beneficios a tiempo, dentro del<br>
                presupuesto y satisfaciendo los requisitos y normas de calidad<br>
            </td>
            <td colspan="1">•Número de programas/proyectos ejecutados en plazo y en presupuesto<br>
               •Porcentaje de partes interesadas satisfechas con la calidad del<br>
                programa/proyecto <br>
               •Número de programas que necesitan ser revisados significativamente <br>
                debido a defectos de calidad<br>
               •Coste del mantenimiento de aplicaciones respecto al coste total de TI
            </td>
        </tr>
        <tr>
            <th class="celeste2tabla1" colspan="2">Objetivos y Métricas del Poceso</th>
        </tr>
        <tr>
            <th  class="celeste2tabla1" style="width: 50%;">Meta del Proceso</th>
            <th class="celeste2tabla1" style="width: 50%;">Métricas Relacionadas</th>
        </tr>
        <tr>
            <td colspan="1">1. Las partes interesadas relevantes están comprometidas con los<br>
                programas y los proyectos.<br>
            </td>
            <td colspan="1">•Porcentaje de partes interesadas efectivamente comprometidas<br>
                •Nivel de satisfacción con la involucración de las partes interesadas<br>
            </td>
        </tr>
        <tr>
            <td colspan="1">2. El alcance y los resultados de los programas y proyectos son viables y<br>
                están alineados con los objetivos.<br>
            </td>
            <td colspan="1">•Porcentaje de grupos de interés que aprueban las necesidades de la<br>
                empresa, el alcance, los resultados esperados y el nivel de riesgo del proyecto <br>
                •Porcentaje de proyectos emprendidos sin casos de negocio aprobados
            </td>
        <tr>
            <td colspan="1">3. Los planes de programas y proyectos tienen probabilidades de lograr los<br>
                resultados esperados.
            </td>
            <td colspan="1">•Porcentaje de actividades alineadas al alcance y a los resultados<br>
                esperados <br>
                •Porcentaje de programas activos emprendidos sin mapas de valor de<br>
                programa actualizados y válidos
            </td>
        </tr>
        <tr>
            <td colspan="1">4. Las actividades de los programas y proyectos se ejecutan de acuerdo a<br>
                los planes.
            </td>
            <td colspan="1">•Frecuencia de revisiones de estado<br>
                    •Porcentaje de desviaciones del plan de referencia <br>
                    •Porcentaje de partes interesadas que firman las revisiones de cambio de<br>
                    estado(stage-gate)de los programas activos
            </td>
        </tr>
        <tr>
            <td colspan="1">5. Existen suficientes recursos de los programas y proyectos para realizar<br>
                las actividades de acuerdo a los planes.
            </td>
            <td colspan="1">•Número de incidentes con recursos (por ejemplo, habilidades, capacidad)
            </td>
        </tr>
        <tr>
            <td colspan="1">6. Los beneficios esperados de los programas y proyectos son obtenidos y<br>
                aceptados.
        </td>
        <td colspan="1">•Porcentaje de beneficios esperados que se han alcanzado<br>
                •Porcentaje de resultados aceptados al primer intento <br>
                •Nivel de satisfacción expresada por las partes interesadas en las<br>
                revisiones de cierre de proyectos
            </td>
        </tr>
        <tr>
    </table>
</body>

</html>

<br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/pagina119" >BAI01 </a></li>
      <li class="page-item"><a class="page-link" routerLink="/listar-tablauno" >1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina121" >2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina122" >3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina123" >4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina124" >5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina125" >6</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina126" >7</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina127" >8</a></li>
      <li class="page-item"><a class="page-link" href="pagina129">Continua BAIO2</a></li>
      
    </ul>
  </nav><br>