<div class="container">
    <table class="table">
        <thead class="theader">
        <tr>
            <td class="titulos" scope="col" colspan="5">DSS03 Prácticas, Entradas/Salidas y Actividades del Proceso (cont.)</td>
        </tr>
    </thead>
<tr>
    <td style="text-align:center" class="fondo2">Práctica de Gestión</td>
    <td  style="text-align:center" class="fondo2" colspan="2">Entradas</td>
    <td style="text-align:center" class="fondo2" colspan="3">Salidas</td>
</tr>
<tr>
    <th scope="row" rowspan="4">DSS03.04 Resolver y cerrar problemas.
        <p class="texto">Identificar e iniciar soluciones sostenibles refiriéndose
            a la causa raíz, levantando peticiones a cambio a tráves del proceso
            de gestión de cambios establecido si se requiere para resolver
            errores. Aseurarse de que el personal afectado está al tanto de las
            acciones tomadas y de los planes desarrollados para prevenir que vuelvan a
            ocurrir futuros incidentes.
        </p>
    </th>
</tr>
<tr>
    <td style="text-align: center;">De</td>
        <td style="text-align: center;">Descripción</td>
        <td style="text-align: center;">Descripción</td>
        <td style="text-align: center;">A</td>
</tr>
<tr>
    <td><a href="/dsso2tabla6">DSS02.05</a></td>
    <td>Resoluciones de incidentes</td>
    <td>Registros de problemas cerrados</td>
    <td> <a href="/dsso2tabla7">DSS02.06</a></td>
</tr>
<tr>
    <td><a href="/dsso2tabla7">DSS02.06</a></td>
    <td>Incidentes y peticiones de servicio cerrados</td>
    <td>Comunicación del conocimiento aprendido</td>
    <td valign="middle"><a href="apo8tabla4">APO08.04</a><br>
        <a href="/dsso2tabla6">DSS02.05</a>
    </td>
</tr>
<tr>
    <td colspan="5" style="text-align:center" class="fondo">Actividades</td>
</tr>
<tr>
    <td colspan="5">1. Cerrar registros de problemas, bien después de la 
        confirmación de la eliminación satisfactoria del error conocido, 
        bien tras acordar con el negocio cómo gestionar el problema de una 
        manera alternativa.</td>
</tr>
<tr>
    <td colspan="5">2. Informar al centro de servicio del calendario de cierre 
        del problema, p. ej., del calendario para solucionar los errores 
        conocidos, la posible solución alternativa o el hecho de que el 
        problema permanecerá hasta que el cambio se haya implementado, 
        y las consecuencias de la solución escogida. Mantener adecuadamente 
        informados a los usuarios y a los clientes afectados.</td>
</tr>
<tr>
    <td colspan="5">3. A través del proceso de resolución, obtener informes 
        periódicos de gestión de cambios acerca del progreso en la resolución 
        de problemas y errores.</td>
</tr>
<tr>
    <td colspan="5">4. Supervisar el continuo impacto de los problemas y errores 
        conocidos en los servicios. </td>
</tr>
<tr>
    <td colspan="5">5. Revisar y confirmar la resolución satisfactoria de problemas 
        graves.</td>
</tr>
<tr>
    <td colspan="5">6. Asegurar que el conocimiento aprendido de esta revisión se 
        incorpora en una reunión de revisión del servicio con el cliente de 
        negocio.</td>
</tr>
</table>
</div>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">HOME</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso3tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/listraci03">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso3tabla2">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso3tabla3">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso3tabla4">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso3tabla5">6</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso3tabla6">7</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso3tabla7">8</a></li>
      <li class="page-item"><a class="page-link" href="/dsso3tabla6">Next</a></li>
      
    </ul>
  </nav><br>