<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table class="container" style="width: 85%;">
        <tr>
            <td colspan="5" class="azultabla1"><a class="nav-link" routerLink="/pagina63">APO03</a>  Practica, Entrada/Salidas y Actividades del Proceso (cont.)</td>
        </tr>
        <th>
            Práctica de Gestión
        </th>
        <th colspan="2">
            Entradas
        </th>
        <th colspan="2">
            Salidas
        </th>
        <tr>
            <td rowspan="4">
                APO03.04 Definir la implementación de la arquitectura.<br>
                Crear un plan de implementación y de migración viable acorde con la cartera de proyectos y programas.
                Asegurarse que el plan está coordinado de cerca para asegurar que se proporciona el valor y que se
                disponen de los recursos necesarios para finalizar los trabajos.
            </td>
            <td>De</td>
            <td>Descripción</td>
            <td>Descripción</td>
            <td>Hasta</td>
        </tr>
        <tr>
            <td rowspan="3"></td>
            <td rowspan="3"></td>
            <td>Necesidades de recursos</td>
            <td>BAI01.02</td>
        </tr>
        <tr>
            <td>Descripciones de las fases de implementación</td>
            <td>BAI01.01<br>
                BAI01.02</td>
        </tr>
        <tr>
            <td>Requisitos de gobierno de la arquitectura</td>
            <td>BAI01.01</td>
        </tr>
    </table>
    <table class="container" style="width: 85%;">
        <th class="celeste2tabla1">
            Actividades
        </th>
        <tr>
            <td>1. Establecer lo que el plan de implementación y migración deberían incluir como parte del programa y
                plan de proyectos para asegurarse que están alineados con los requisitos de los decisores aplicables.
            </td>
        </tr>
        <tr>
            <td>2. Confirmar las fases y los progresos de la arquitectura de transición y actualizarlos en el documente
                de definición de la arquitectura.</td>
        </tr>
        <tr>
            <td>3. Definir los requisitos de gobierno d implementación de la arquitectura.</td>
        </tr>
    </table>
    <table class="container" style="width: 85%;">
        <th>
            Práctica de Gestión
        </th>
        <th colspan="2">
            Entradas
        </th>
        <th colspan="2">
            Salidas
        </th>
        <tr>
            <td rowspan="4">
                APO03.05 Proveer los servicios de arquitectura empresarial.<br>
                La provisión de los servicios de arquitectura empresarial incluye las guías y supervisión de los
                proyectos a implementar, la formalización de las maneras de trabajar mediante los contratos de
                arquitectura, la medición y comunicación de los valores aportados por la arquitectura y la supervisión
                del cumplimiento.

            </td>
            <td>De</td>
            <td>Descripción</td>
            <td>Descripción</td>
            <td>A</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Orientación para el desarrollo de soluciones</td>
            <td>BAI02.01<br>
                BAI02.02<br>
                BAI03.02</td>
        </tr>
    </table>
    <table class="container" style="width: 85%;">
        <th>
            Actividades
        </th>
        <tr>
            <td>1. Confirmar el alcance y las prioridades y proporcionar orientación para el desarrollo y despliegue de
                soluciones.</td>
        </tr>
        <tr>
            <td>2. Gestionar la cartera de servicios de arquitectura de la empresa para asegurar el alineamiento con los
                objetivos estratégicos y el desarrollo de soluciones.</td>
        </tr>
        <tr>
            <td>3. Gestionar los requisitos de la arquitectura empresarial y dar soporte con los principios de dicha
                arquitectura, modelos y componentes básicos.</td>
        </tr>
        <tr>
            <td>4. Identificar y alinear las prioridades de la arquitectura empresarial a los motivadores del valor.
                Definir y recoger los valores de las medidas y las métricas utilizadas y comunicar el valor de la
                arquitectura empresarial.</td>
        </tr>
        <tr>
            <td>5. Establecer un foro tecnológico para facilitar guías de uso de la arquitectura, soporte en los
                proyectos y guía en la selección de la tecnología. Medir el cumplimiento con estos estándares y guías de
                referencia, incluyendo el cumplimiento con requisitos externos y su importancia para el negocio.</td>
        </tr>
        <tr>
            <td colspan="2"><a class="nav-link" routerLink="/pagina63">APO03</a>  Guías de referencias</td>
        </tr>
        <th class="celeste2tabla1">
            Estándar de referencia
        </th>
        <th class="celeste2tabla1">
            Detalle de la referencia
        </th>
        <tr>
            <td>TOGAF 9</td>
            <td>El núcleo de TOGAF es el Método de Desarrollo de la Arquitectura (ADM Architecture Development Method en
                inglés) que está relacionado con las practicas de desarrollo de una visión de la arquitectura (ADM Fase
                A), con la definición de arquitecturas de referencia (ADM Fases B, C, D), con la selección de
                oportunidades y soluciones (ADM Fase E) y con la definición de la implementación de la arquitectura (ADM
                Fases F, G). Varios de los componentes de TOGAF se corresponden con las prácticas de COBIT 5 de
                provisión de servicios de arquitectura empresarial. Entre ellas se incluyen la Gestión de Requerimientos
                ADM, Principios de la Arquitectura, Gestión de Partes Interesadas, Evaluación de la Preparación para la
                Transformación del Negocio, Gestión de Riesgos, Planificación Basadas en Capacidad, Cumplimiento de
                Arquitectura y Contratación en Arquitectura.</td>
        </tr>
    </table>
</body>

</html><br>
<nav aria-label="Page navigation  example" class="container" style="width: 87%;">
    <ul class="pagination container">
      <li class="page-item"><a class="page-link" routerLink="/home">APOO3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina63">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/Apo03raci">2 RACI </a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina64">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina65">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina66">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina67">6</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>

