<span class="d-grid gap-2 col-4  mx-auto " style="color: white; text-align: center;"  >{{ titulo | uppercase}}</span>
<form [formGroup]="cabecera8Form"  class="container bg-light bc row row-cols-1 row-cols-lg-4 g-1 g-lg-2"   style="margin: 0 auto; width: 77%;" (ngSubmit)="agregarCabecera8()">
    
    <div class="form-group">
        <input type="text" formControlName="maa"  (ngSubmit)="agregarCabecera8()"
        class="form-control" placeholder="maa" style="width: 362px;" size="32">  
        <div class="validacion"
            *ngIf="cabecera8Form.get('maa')?.hasError('required') && cabecera8Form.get('maa')?.touched">
            <span>maa<b> es obligatoria</b></span>
        </div>  
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="mab"
        class="form-control" placeholder="mab" style="width: 362px;" size="32"> 
        <div class="validacion"
            *ngIf="cabecera8Form.get('mab')?.hasError('required') && cabecera8Form.get('mab')?.touched">
            <span>mab<b> es obligatoria</b></span>
        </div>   
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="mac"
        class="form-control" placeholder="mac" style="width: 362px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera8Form.get('mac')?.hasError('required') && cabecera8Form.get('mac')?.touched">
            <span>mac<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="mad"
        class="form-control" placeholder="mad" style="width: 362px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera8Form.get('mad')?.hasError('required') && cabecera8Form.get('mad')?.touched">
            <span>mad<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="mae"
        class="form-control" placeholder="mae" style="width: 362px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera8Form.get('mae')?.hasError('required') && cabecera8Form.get('mae')?.touched">
            <span>mae<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="maf"
        class="form-control" placeholder="maf" style="width: 362px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera8Form.get('maf')?.hasError('required') && cabecera8Form.get('maf')?.touched">
            <span>maf<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="mag"
        class="form-control" placeholder="mag" style="width: 362px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera8Form.get('mag')?.hasError('required') && cabecera8Form.get('mag')?.touched">
            <span>mag<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="mah"
        class="form-control" placeholder="mah" style="width: 362px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera8Form.get('mah')?.hasError('required') && cabecera8Form.get('mah')?.touched">
            <span>mah<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="mai"
        class="form-control" placeholder="mai" style="width: 362px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera8Form.get('mai')?.hasError('required') && cabecera8Form.get('mai')?.touched">
            <span>mai<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="maj"
        class="form-control" placeholder="maj" style="width: 362px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera8Form.get('maj')?.hasError('required') && cabecera8Form.get('maj')?.touched">
            <span>maj<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="mak"
        class="form-control" placeholder="mak" style="width: 362px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera8Form.get('mak')?.hasError('required') && cabecera8Form.get('mak')?.touched">
            <span>mak<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="mal"
        class="form-control" placeholder="mal" style="width: 362px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera8Form.get('mal')?.hasError('required') && cabecera8Form.get('mal')?.touched">
            <span>mal<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="mam"
        class="form-control" placeholder="mam" style="width: 362px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera8Form.get('mam')?.hasError('required') && cabecera8Form.get('mam')?.touched">
            <span>mam<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="man"
        class="form-control" placeholder="man" style="width: 362px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera8Form.get('man')?.hasError('required') && cabecera8Form.get('man')?.touched">
            <span>man<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="mao"
        class="form-control" placeholder="mao" style="width: 362px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera8Form.get('mao')?.hasError('required') && cabecera8Form.get('mao')?.touched">
            <span>mao<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="map"
        class="form-control" placeholder="map" style="width: 362px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera8Form.get('map')?.hasError('required') && cabecera8Form.get('map')?.touched">
            <span>map<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="maq"
        class="form-control" placeholder="maq" style="width: 362px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera8Form.get('maq')?.hasError('required') && cabecera8Form.get('maq')?.touched">
            <span>maq<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="mar"
        class="form-control" placeholder="mar" style="width: 362px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera8Form.get('mar')?.hasError('required') && cabecera8Form.get('mar')?.touched">
            <span>mar<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="mas"
        class="form-control" placeholder="mas" style="width: 362px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera8Form.get('mas')?.hasError('required') && cabecera8Form.get('mas')?.touched">
            <span>mas<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="mat"
        class="form-control" placeholder="mat" style="width: 362px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera8Form.get('mat')?.hasError('required') && cabecera8Form.get('mat')?.touched">
            <span>mat<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="mau"
        class="form-control" placeholder="mau" style="width: 362px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera8Form.get('mau')?.hasError('required') && cabecera8Form.get('mau')?.touched">
            <span>mau<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="mav"
        class="form-control" placeholder="mav" style="width: 362px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera8Form.get('mav')?.hasError('required') && cabecera8Form.get('mav')?.touched">
            <span>mav<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="maw"
        class="form-control" placeholder="maw" style="width: 362px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera8Form.get('maw')?.hasError('required') && cabecera8Form.get('maw')?.touched">
            <span>maw<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="max"
        class="form-control" placeholder="max" style="width: 362px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera8Form.get('max')?.hasError('required') && cabecera8Form.get('max')?.touched">
            <span>max<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="may"
        class="form-control" placeholder="may" style="width: 362px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera8Form.get('may')?.hasError('required') && cabecera8Form.get('may')?.touched">
            <span>may<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="maz"
        class="form-control" placeholder="maz" style="width: 362px;" size="32">   
        <div class="validacion"
            *ngIf="cabecera8Form.get('maz')?.hasError('required') && cabecera8Form.get('maz')?.touched">
            <span>maz<b> es obligatorio</b></span>
        </div> 
    </div>
    <div><br><br><br>
        <button class="btn btn-secondary" routerLink="/pagina159">Volver</button>
        <button class="btn btn-success" type="submit" [disabled]="cabecera8Form.invalid" >Aceptar</button>
    </div>
</form>
