<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="container" style="width: 87%; margin: 0 auto;">
        <tr>
            <th class="azultabla1"  style="width: 50%; ">BAI02 Gestionar la Definición de Requisitos</th>
            <th class="azultabla1"  style="width: 50%;">Area: Gestión<br>
                Dominio: Construir, Adquirir e Implementar</th>
        </tr>
        <tr>
            <td colspan="2"><b>Descripción del proceso</b><br>
                Identificar soluciones y analizar requerimientos antes de la adquisición o creación para asegurar que estén en línea con los requermientos
            estratégicos de la organización y que cubren los procesos de negocios, aplicaciones, información/datos, infraestructura y servicios. Coordinar con las
        partes interesadas afectadas la revisiónde las opciones viables, incluyendo costes y beneficios relacionados, análisis de riesgo y aprobación de los requerimientos y soluciones propuestas.</td>
        </tr>
        <tr>
            <td colspan="2"><b>Declaración del Propósito del Proceso </b><br>
                Crear soluciones variables y óptimas que cumplan con las necesidades de la organización mientras minimizan el riesgo.</td>
        </tr>
        <tr>
            <th class="celeste2tabla1" colspan="2" >El proceso apoya la consecución de un conjuno de principales metas TI:</th>
        </tr>
        <tr>
            <th class="celeste2tabla1" style="width: 50%;">Meta TI</th>
            <th class="celeste2tabla1" style="width: 50%;">Métricas Relacionadas</th>
        </tr>
        <tr>
            <td colspan="1" class="texto">01 Alineamiento de TI y la estrategia de negocios</td>
            <td colspan="1">•Porcentaje de las metas y requerimientos estratégicos de la empresa<br>
                soportados por las metas estrategicas para TI<br>
                •Nivel de satisfacción de las partes interesadas con el alcance del<br>
                portafolio de programas y servicios planeados<br>
                •Porcentaje de los facilitadores de valor TI mapeadoos con facilitadores<br>
                del negocio
            </td>
        </tr>
        <tr>
            <td colspan="1" class="texto">07 Entrega de servicios de TI de acuerdo a los requisitos del negocio</td>
            <td colspan="1">•Número de interrupción del negocio debidas a incidentes en el servicio<br>de TI<br>
                •Porcentaje de partes interesantes satisfechas con el cumplimiento del<br>
                servicio de TI entregada respecto a los niveles de servicio acordados.  <br>
                •Porcentaje de usuarios satisfechos con la calidad de los servicios de los TI<br>entregados.
            </td>
        </tr>
        <tr>
            <td colspan="1" class="texto">12 Capacitación y soporte de procesos de negocio integrando aplicaciones<br>tecnología en procesos de negocio<br></td>
            <td colspan="1">•Número de incidentes en los procesos de negocio debidos a errores de <br>
            integración tecnológica.<br>
                •Número de cambios en los procesos de negocios que necesitan ser<br> retrasadaos o modificados debido a problemas de integración tecnológica.<br>
                •Número de procesos de negocios habilitados por TI que se retrasan o <br>incurren en un mayor coste debido a asuntos de integración tecnológica<br>
                •Número de aplicaciones o infraestructuras críticas operando en silos sin <br> integración
            </td>
        </tr>
        <tr>
            <th class="celeste2tabla1" colspan="2">Objetivos y Métricas del Poceso</th>
        </tr>
        <tr>
            <th class="celeste2tabla1" style="width: 50%;">Objetivos del Proceso</th>
            <th class="celeste2tabla1" style="width: 50%;">Métricas Relacionadas</th>
        </tr>
        <tr>
            <td colspan="1">1. Los requerimientos funcionales y técnologicos del negocio reflejan las<br>
                necesidades y expectativas de la organización.
            </td>
            <td colspan="1">•Porcentaje de requerimientos repetidos debido a la no alineación entre<br>
                las necesidades y expectativas de la organización.<br>
                •Nivel de satisfacción de las partes interesadas con los requerimientos<br>
            </td>
        </tr>
        <tr>
            <td colspan="1">2. La solución propuesta satisface los requerimientos funcionales, técnicos<br>
                y de cumplimiento del negocio.
            </td>
            <td colspan="1">•Porcentaje de requerimientos satisfechos por la solución propuesta<br>
            </td>
        </tr>
        <tr>
            <td colspan="1">3. El riesgo asociado con los requerimientos ha sido tomado en cuenta en<br>
                la solución propuesta.
            </td>
            <td colspan="1">•Número de incidentes no identificados como riesgo<br>
                •Porcentaje de riesgono mitigado exitosamente
            </td>
        </tr>
        <tr>
            <td colspan="1">4. Los requerimientos y soluciones propuestas cumplen con los objetivos<br>
                del caso de negocio (valor esperado y costes probables).
            </td>
            <td colspan="1">•Porcentaje de los objetivos del caso de negocio alcanzados por la<br>
                solución propuesta<br>
                •Porcentaje de partes interesadas que no aprueban la solución con<br>
                relación al caso de negocio
            </td>
        </tr>
    </table>
</body>
</html><br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/pagina129">BAI02</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina130">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina131">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina132">3</a></li>
      <li class="page-item"><a class="page-link" href="pagina133">Continua BAIO3</a></li>
      
    </ul>
  </nav><br>