.azultabla1{
    background: rgb(39, 70, 172);
    color: white;
    border: 1px solid black;
}
.celestetabla1{
    background: rgb(255, 255, 255);
    
}
.celeste2tabla1{
    background: rgb(163, 189, 219);
    
}