<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<style>

.azultabla1{
    background: rgb(39, 70, 172);
    color: white;
    border: 1px solid black;
}
.celestetabla1{
    background: rgb(255, 255, 255);
    
}
.celeste2tabla1{
    background: rgb(163, 189, 219);
    
}
</style>

<body class="container" style="width: 87%;">
    <table ></table>
        <tr>
            <td colspan="2" class="azultabla1">APO08 Gestionar las relaciones</td>
        </tr>
        <tr>
            <td colspan="2">Descripción del Proceso<br>
                Gestionar las relaciones entre el negocio y TI de modo formal y transparente, enfocándolas hacia el
                objetivo común de obtener resultados empresariales exitosos apoyando los objetivos estratégicos y dentro
                de las restricciones del presupuesto y los riesgos tolerables. Basar la relación en la confianza mutua,
                usando términos entendibles, lenguaje común y voluntad de asumir la propiedad y responsabilidad en las
                decisiones claves.
            </td>
        </tr>
        <tr>
            <td colspan="2">Declaración del Propósito del Proceso<br>
                Crear mejores resultados, mayor confianza en la tecnología y conseguir un uso efectivo de los recursos.
            </td>
        </tr>
        <tr>
            <td colspan="2">El proceso apoya la consecución de un conjunto de principales metas TI:</td>
        </tr>
        <th class="celeste2tabla1">
            Meta TI
        </th>
        <th class="celeste2tabla1">
            Métricas Relacionadas
        </th>
        <tr>
            <td>01 Alineamiento de TI y estrategia de negocio</td>
            <td>• Porcentaje de las metas y requerimientos estratégicos de la empresa soportados por las metas
                estratégicas para TI<br>
                • Nivel de satisfacción de las partes interesadas con el alcance del portafolio de programas y servicios
                planeados<br>
                • Porcentaje de los facilitadores de valor de TI mapeados con facilitadores de valor del negocio</td>
        </tr>
        <tr>
            <td>07 Entrega de servicios TI de acuerdo a los requisitos del negocio</td>
            <td>• Número de interrupciones del negocio debidas a incidentes en el servicio de TI<br>
                • Porcentaje de partes interesadas satisfechas con el cumplimiento del servicio de TI entregado respecto
                a los niveles de servicios acordados<br>
                • Porcentaje de usuarios satisfechos con la calidad de los servicios de TI entregados</td>
        </tr>
        <tr>
            <td>12 Capacitación y soporte de procesos de negocio integrado aplicaciones y tecnología en procesos de
                negocio</td>
            <td>• Número de incidentes en los procesos d negocio debidos a errores de integración tecnológica<br>
                • Número de cambios en los procesos de negocio que necesitan ser retrasados o modificados debido a
                problemas de integración tecnológica.<br>
                • Número de procesos de negocio habilitados por TI que se retrasan o incurren en un mayor coste debido a
                asuntos de integración tecnológica<br>
                • Número de aplicaciones o infraestructura criticas operando en silos sin integración</td>
        </tr>
        <tr>
            <td>17 Conocimiento, experiencia e iniciativas para la innovación de negocio</td>
            <td>• Nivel de concienciación y comprensión de las posibilidades de innovación de TI del negocio
                ejecutivo<br>
                • Nivel de satisfacción de las partes interesadas con los niveles de experiencia e ideas de la
                innovación TI<br>
                • Número de iniciativas aprobadas resultantes de ideas innovadoras de TI</td>
        </tr>
        <tr>
            <td colspan="2">Objetivos y Métricas del Proceso</td>
        </tr>
        <th class="celeste2tabla1"> 
            Meta del Proceso
        </th>
        <th class="celeste2tabla1">
            Métricas Relacionadas
        </th>
        <tr>
            <td>1. Las estrategia, planes y requisitos de negocio están bien entendidos, documentados y aprobados.</td>
            <td>• Porcentaje de servicios TI alineados con los requisitos del negocio.</td>
        </tr>
        <tr>
            <td>2. Existencia de buenas relaciones entre la empresa y las TI.</td>
            <td>• Resultados de las encuestas de satisfacción de los usuarios y del personal de TI.</td>
        </tr>
        <tr>
            <td>3. Las partes interesadas del negocio son conscientes de las oportunidades posibilitadas por la TI.</td>
            <td>• Encuesta del nivel de concienciación tecnológica de las partes interesadas de negocio.<br>
                • Ratio de oportunidades tecnológicas incluidas en las propuestas de inversión.</td>
        </tr>
   
</body>

</html><br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">APOO8</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo8tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/Apo08raci">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo8tabla3">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo8tabla4">4</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
      
    </ul>
  </nav>
