<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>

<style>

    .azultabla1{
        background: rgb(39, 70, 172);
        color: white;
        border: 1px solid black;
    }
    .celestetabla1{
        background: rgb(255, 255, 255);
        
    }
    .celeste2tabla1{
        background: rgb(163, 189, 219);
        
    }
    </style>

<body >
    <table class="container" style="width: 85%;">
        <thead >
        <tr >
            <td class="azultabla1" routerLink="/edm04tabla1"><a class="nav-link text-white" routerLink="/pagina51">APO01</a>  Practica, Entrada/Salidas y Actividades del Proceso (cont.)</td>
        </tr>
        <tr>
            <td class="azultabla1"><a class="nav-link  text-white" routerLink="/pagina51">APO01.01</a> Actividades </td>
        </tr>
        </thead>
        <tr>
            <td>1. Definir el alcance. Las funciones internas y externas, los roles internos y externos, y los derechos
                de decisión requeridos, incluidas actividades de TI realizadas por terceras partes.</td>
        </tr>
        <tr>
            <td>2. Identificar las decisiones necesarias para alcanzar los resultados corporativos y la estrategia de TI
                y para la gestión y ejecución de servicios d TI.</td>
        </tr>
        <tr>
            <td>3. Establecer la implicación de las partes interesadas criticas para la toma de decisiones (quienes
                rendirán cuentas, quienes son responsables, quienes deben ser consultados y quienes informados).</td>
        </tr>
        <tr>
            <td>4. Alinear la organización relativa a TI con los modelos organizativos de arquitectura corporativa.</td>
        </tr>
        <tr>
            <td>5. Definir el enfoque, los roles y las responsabilidades de cada función dentro de la estructura
                organizativa relativa a TI.</td>
        </tr>
        <tr>
            <td>6. Definir las estructuras y relaciones de gestión para contribuir a las funciones y roles de gestión y
                ejecución, en consonancia con la dirección de gobierno establecida.</td>
        </tr>
        <tr>
            <td>7. Establecer un Comité Estratégico de TI (o equivalente) a nivel del Consejo de Administración. Este
                comité debería asegurarse de que el gobierno de TI, como parte del gobierno corporativo, está
                contemplado de forma adecuada, debe aconsejar sobre la dirección estrategia y revisar las inversiones
                principales, en representación del consejo de administración al completo.</td>
        </tr>
        <tr>
            <td>8. Establecer un comité directivo de TI (o Equivalente) compuesto por la dirección ejecutiva, de
                negocios y de TI para determinar las prioridades de los programas de inversión de TI de acuerdo con la
                estrategia y prioridades de negocio d la empresa; realizar un seguimiento del estado de los proyectos y
                resolver los conflictos de recursos; y supervisar los niveles de servicio y las mejoras en el servicio.
            </td>
        </tr>
        <tr>
            <td>9. Proporcionar directrices para cada estructura de gestión (incluyendo ordenes, objetivos, asistentes a
                reuniones, marco temporal, seguimiento, supervisión y vigilancia), así como las entradas requeridas y
                las salidas esperadas en cuanto a las reuniones.</td>
        </tr>
        <tr>
            <td>10. Definir reglas básicas de comunicación mediante la identificación de las necesidades comunicativas y
                la implementación d planes basadas en dichas necesidades, teniendo en cuenta la comunicación de arriba
                hacia abajo, de abajo hacia arriba y horizontal.</td>
        </tr>
        <tr>
            <td>11. Establecer y mantener una estructura optima de enlace, comunicación y coordinación entre el negocio
                y las funciones de TI dentro d la empresa y con entidades no pertenecientes a la empresa.</td>
        </tr>
        <tr>
            <td>12. Verificar regularmente la adecuación y la eficacia de la estructura organizativa.</td>
        </tr>
    </table>

    <table class="container" style="width: 85%;">
        <thead >
        <th class="celeste2tabla1">
            Práctica de Gestión
        </th>
        <th colspan="2" class="celeste2tabla1">
            Entradas
        </th >
        <th colspan="2" class="celeste2tabla1">
            Salidas
        </th>
        </thead>
        <tr>
            <td rowspan="7"><a class="nav-link" routerLink="/pagina51">APO01.02</a>  Establecer roles y responsabilidades.<br>
                Establecer, acordar y comunicar roles y responsabilidades del personal d TI, así como de otras partes
                interesadas con responsabilidades en las TI corporativas, que reflejen claramente las necesidades
                generales del negocio y los objetivos d TI, así como la autoridad, las responsabilidades y la rendición
                de cuentas del personal relevante.</td>
            <td>De</td>
            <td>Descripción</td>
            <td>Descripción</td>
            <td>A</td>
        </tr>
        <tr>
            <td><a class="nav-link" routerLink="/edm01tabla1">EDM01.01</a> </td>
            <td>Niveles de autoridad</td>
            <td>Definición de roles y responsabilidades relativos a TI</td>
            <td><a class="nav-link" routerLink="/dsso5tabla1">DSS05.04</a> </td>
        </tr>
        <tr>
            <td><a class="nav-link" routerLink="/edm04tabla1">EDM04.02</a> </td>
            <td>Responsabilidades asignadas para la gestión de recursos</td>
            <td rowspan="5">Definición de prácticas de supervisión</td>
            <td rowspan="5"><a class="nav-link" routerLink="/apo7tabla1">APO07.01</a> </td>
        </tr>
        <tr>
            <td><a class="nav-link" routerLink="/apo7tabla1">APO07.03</a> </td>
            <td>Planes de desarrollo de habilidades <br>
                Matriz de habilidades y competencias</td>
        </tr>
        <tr>
            <td><a class="nav-link" routerLink="/apo11tabla1">APO11.01</a> </td>
            <td>Roles, responsabilidades y derechos de decisión dentro del sistema de gestión de la calidad (SGC)</td>
        </tr>
        <tr>
            <td><a class="nav-link" routerLink="/apo13tabla1">APO13.01</a> </td>
            <td>Declaración de alcance del sistema de gestión de seguridad de la información (SGSI)</td>
        </tr>
        <tr>
            <td><a class="nav-link" routerLink="/dsso6tabla1">DSS06.03</a> </td>
            <td>Niveles de autoridad asignados <br>
                Roles y responsabilidades asignados</td>
        </tr>
    </table>
    <table class="container" style="width: 85%;">
        <thead>
        <tr>
            <td class="celeste2tabla1">Actividades</td>
        </tr>
        </thead>
        <tr>
            <td>1. Establecer, acordar y comunicar roles y responsabilidades relativos a TI para todo el personal de la
                empresa, de acuerdo con las necesidades y los objetivos del negocio. Delimitar claramente las
                responsabilidades y la rendición de cuentas, especialmente para la aprobación y toma de decisiones.</td>
        </tr>
        <tr>
            <td>2. Tener en cuenta los requisitos desde la empresa y la continuidad del servicio de TI a la hora de
                definir los roles, incluyendo el respaldo por parte e la plantilla y los requisitos de formación
                interdisciplinar.</td>
        </tr>
        <tr>
            <td>3. Contribuir al proceso de continuidad del servicio de TI manteniendo actualizada la información de
                contacto y las descripciones de roles de la empresa.</td>
        </tr>
        <tr>
            <td>4. Incluir en las descripciones de roles y responsabilidades, la adhesión a las políticas y los
                procedimientos de gestión, al código ético y las prácticas profesionales.</td>
        </tr>
        <tr>
            <td>5. Implementar prácticas de supervisión adecuadas para garantizar que los roles y las responsabilidades
                se pongan en practica de forma correcta, para evaluar si todo el personal tiene suficiente autoridad y
                recursos para llevar a cabo sus roles y responsabilidades y para hacer una revisión general del
                rendimiento. El nivel de supervisión debería estar en consonancia con la sensibilidad del puesto y el
                nivel de responsabilidades asignadas.</td>
        </tr>
        <tr>
            <td>6. Asegurar que la rendición de cuentas queda definida a través de los roles y responsabilidades.</td>
        </tr>
        <tr>
            <td>7. Estructurar los roles y las responsabilidades para reducir las posibilidades de que un solo rol pueda
                comprometer un proceso crítico.</td>
        </tr>
    </table><br>

</body>

</html><br>

<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">APOO1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina51">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/listar-apo">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina53">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina54">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina55">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina56">6</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
      
    </ul>
  </nav><br>
