<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>

<body>
    <table class="container" style="width: 87%;">
        <tr>
            <td colspan="5" class="azultabla1"><a class="nav-link" routerLink="/apo6tabla1">AP006</a>  Practicas, Entradas/Salidas y actividades del Proceso.(cont.)</td>
        </tr>
        <th class="celeste2tabla1">
            Práctica de Gestión
        </th>
        <th colspan="2" class="celeste2tabla1">
            Entradas
        </th>
        <th colspan="2" class="celeste2tabla1">
            Salidas
        </th>
        <tr>
            <td rowspan="10">
                AP006.03 Crear y mantener presupuestos.<br><br>
                Preparar un presupuesto que refleje las prioridades de inversión que apoyen los objetivos estratégicos basado en la cartera de programas habilitados por TI y servicios de TI.
            </td>
            <td>De</td>
            <td>Descripción</td>
            <td>Descripción</td>
            <td>A</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Presupuesto y plan de TI</td>
            <td><a class="nav-link" routerLink="/apo8tabla1">APO08.02</a> <br><br>
           <a class="nav-link" routerLink="pagina57">AP002.05</a> <br><br>
           <a class="nav-link" routerLink="pagina73">AP005.03</a> <br><br>
           <a class="nav-link" routerLink="/apo7tabla1"> AP007.01</a><br><br>
           <a class="nav-link" routerLink="">BAI03.11</a> <br><br>
</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td rowspan="8">Comunicaciones presupuestarias</td>
            <td rowspan="8"><a class="nav-link" routerLink="pagina57">AP002.02</a><br><br>
                <a class="nav-link" routerLink="pagina57">AP002.05</a> <br><br>
                <a class="nav-link" routerLink="pagina73">AP005.03</a><br><br>
                <a class="nav-link" routerLink="/apo7tabla1"> AP007.01</a><br><br>
                <a class="nav-link" routerLink="">BAI03.11</a> <br><br>
</td>
        </tr>
        <tr>
            <td></td>
            <td><br>
               </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td><br>
                </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td><br>
                </td>
        </tr>
        <tr>
            <td colspan="5"  class="celeste2tabla1">Actividades</td>
        </tr>
        <tr>
            <td colspan="5">1.Implementar un presupuesto formal de TI, incluyendo todos los costes de TI esperados de los programas habilitados por las TI, servicios de TI y activos de TI según indicaciones de la estrategia, programas y carteras.
            </td>
        </tr>
        <tr>
            <td colspan="5">2.Al crear el presupuesto, considere los siguientes componentes:
                •	Alineamiento con el negocio<br><br>
                •	Alineamiento con la estrategia de aprovisionamiento<br><br>
                •	Fuentes de financiamiento autorizadas<br><br>
                •	Costes internos de recursos, incluyendo personal, activos de información y alojamiento.<br><br>
                •	Costes de terceras partes, incluyendo contratos de externalización, consultores y proveedores de servicio.<br><br>
                •	Gastos de capital y operativos.<br><br>
                •	Elemento de coste que dependen de la carga de trabajo.<br><br>
                </td>
        </tr>
        <tr>
            <td colspan="5">3.Documentar las razones para justificar las contingencias y revisarlas regularmente.</td>
        </tr>
        <tr>
            <td colspan="5">4.Indicar la necesidad de planificar presupuestos a los dueños de procesos, servicios o programas, así como a los jefes de proyecto y gerentes de activos.
            </td>
        </tr>
        <tr>
            <td colspan="5">5.Revisar los planes de presupuesto y tomar decisiones sobre las asignaciones presupuestarias. Compilar y ajustar el presupuesto en base a necesidades empresariales cambiantes y consideraciones financieras.</td>
        </tr>
        <tr>
            <td colspan="5">6.Registrar, mantener y comunicar el presupuesto actual de TI, incluidos los gastos comprometidos y los gastos corrientes, teniendo en cuenta los proyectos de TI registrados en las carteras de inversiones habilitadas por TI y la operación y el mantenimiento de las carteras de activos y servicios.
            </td>
        </tr>
        <tr>
            <td colspan="5">7.Seguimeinto de la eficacia de los diferentes aspectos de la elaboración de presupuestos y utilización de los resultados para implementar mejoras para garantizar que futuros presupuestos sean mas precisos, fiables y rentables.
            </td>
        </tr>
        <th>
            Práctica de Gestión
        </th>
        <th colspan="2">
            Entradas
        </th>
        <th colspan="2">
            Salidas
        </th>
        <tr>
            <td rowspan="5">
                AP006.04 Modelar y asignar costes.<br><br>
                Establecer y utilizar un modelo de costes de TI basado en la definición del servicio, asegurando que la asignación de costes de los servicios es identificable,
Medible y predecible, para fomentar el uso responsable de los recursos, incluyendo aquellos proporcionados por proveedores de servicio. Revisar regularmente y comparar la idoneidad del modelo de costes/prorrateo de costes para mantener su pertinencia y adecuación al negocio en evolución y las actividades de TI que le dan soporte.

            </td>
            <td>De</td>
            <td>Descripción</td>
            <td>Descripción</td>
            <td>A</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td rowspan="4">Costes de TI categorizados<br><br>
                Modelo de asignación de costes<br><br>
                Comunicaciones de asignación de costes.<br><br>
                Procedimientos operativos<br><br>

            </td>
        
            <td rowspan="4">Interno<br><br>
                <br><br>
                Interno<br><br>
                <br><br>
                Interno<br><br>
                <br><br>
                Interno<br><br>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="5"  class="celeste2tabla1">Actividades</td>
        </tr>
        <tr>
            <td colspan="5">1.Clasificar todos los costes de TI adecuadamente, incluidos los relativos a los proveedores de servicio, de acuerdo con el marco de contabilidad de la gestión de la empresa.</td>
        </tr>
        <tr>
            <td colspan="5">2.Revisar los catálogos de definición de servicios para identificar servicios sujetos a prorrateo de costes hacia el usuario y aquellos servicios que son compartidos.</td>
        </tr>
        <tr>
            <td colspan="5">3.Definir y acordar un modelo que:<br><br>
                •	Soporte el calculo de las tasas de prorrateo de costes por servicio<br><br>
                •	Defina como se calcularán y cargaran los costes de TI<br><br>
                •	Es diferenciado, donde y cuando sea apropiado<br><br>
                •	Esta alineado con el presupuesto de TI<br><br>
                </td>
        </tr>
        <tr>
            <td colspan="5">4.Diseñar el modelo de costes para ser lo suficientemente transparente como para permitir a los usuarios identificar su uso real y sus cargos, y para mejor catalizar la previsibilidad de los costes de TI y la utilización eficiente y eficaz de los recursos de TI.</td>
        </tr>
        <tr>
            <td colspan="5">5.Despues de la revisión con los departamentos usuarios, obtener la aprobación y comunicar los datos de entrada y salida del modelo de costes de TI a la gerencia de los departamentos usuarios.</td>
        </tr>
        <tr>
            <td colspan="5">6.Comunicar a los dueños de los procesos empresariales los cambios en el modelo de costes y prorrateo de costes.</td>
        </tr>
    </table>
</body>

</html><br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">APOO6</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo6tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/Apo06raci">2 </a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo6tabla2">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo6tabla3">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo6tabla4">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo6tabla5">6</a></li>
      <li class="page-item"><a class="page-link" routerLink="">Next</a></li>
      
    </ul>
  </nav>
