<div>
    <span class="d-grid gap-2 col-4  mx-auto ">{{title}}</span>
    <form [formGroup]="apo09tituloForm" class="container bg-light bc row row-cols-1 row-cols-lg-4 g-1 g-lg-2" style="height: 10px;" style="width: 60%;" style="margin: 39px   190px;" (ngSubmit)="agregarApo09titulo()">
        <div class="form-group">
            <input type="text" formControlName="apo09titulo1" class="form-control" placeholder="apo09titulo1">
            <div class="validacion"
               *ngIf="apo09tituloForm.get('apo09titulo1')?.hasError('required') && apo09tituloForm.get('apo09titulo1')?.touched">
               <span>Este campo<b> es obligatorio</b></span>
            </div>  
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo09titulo2" class="form-control" placeholder="apo09titulo2">
            <div class="validacion"
                *ngIf="apo09tituloForm.get('apo09titulo2')?.hasError('required') && apo09tituloForm.get('apo09titulo2')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>  
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo09titulo3" class="form-control" placeholder="apo09titulo3">
            <div class="validacion"
                *ngIf="apo09tituloForm.get('apo09titulo3')?.hasError('required') && apo09tituloForm.get('apo09titulo3')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>  
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo09titulo4" class="form-control" placeholder="apo09titulo4">
            <div class="validacion"
                 *ngIf="apo09tituloForm.get('apo09titulo4')?.hasError('required') && apo09tituloForm.get('apo09titulo4')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo09titulo5" class="form-control" placeholder="apo09titulo5">
            <div class="validacion"
                 *ngIf="apo09tituloForm.get('apo09titulo5')?.hasError('required') && apo09tituloForm.get('apo09titulo5')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo09titulo6" class="form-control" placeholder="apo09titulo6">
            <div class="validacion"
                 *ngIf="apo09tituloForm.get('apo09titulo6')?.hasError('required') && apo09tituloForm.get('apo09titulo6')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo09titulo7" class="form-control" placeholder="apo09titulo7">
            <div class="validacion"
                 *ngIf="apo09tituloForm.get('apo09titulo7')?.hasError('required') && apo09tituloForm.get('apo09titulo7')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo09titulo8" class="form-control" placeholder="apo09titulo8">
            <div class="validacion"
                 *ngIf="apo09tituloForm.get('apo09titulo8')?.hasError('required') && apo09tituloForm.get('apo09titulo8')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo09titulo9" class="form-control" placeholder="apo09titulo9">
            <div class="validacion"
                 *ngIf="apo09tituloForm.get('apo09titulo9')?.hasError('required') && apo09tituloForm.get('apo09titulo9')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo09titulo10" class="form-control" placeholder="apo09titulo10">
            <div class="validacion"
                 *ngIf="apo09tituloForm.get('apo09titulo10')?.hasError('required') && apo09tituloForm.get('apo09titulo10')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo09titulo11" class="form-control" placeholder="apo09titulo11">
            <div class="validacion"
                 *ngIf="apo09tituloForm.get('apo09titulo11')?.hasError('required') && apo09tituloForm.get('apo09titulo11')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo09titulo12" class="form-control" placeholder="apo09titulo12">
            <div class="validacion"
                 *ngIf="apo09tituloForm.get('apo09titulo12')?.hasError('required') && apo09tituloForm.get('apo09titulo12')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo09titulo13" class="form-control" placeholder="apo09titulo13">
            <div class="validacion"
                 *ngIf="apo09tituloForm.get('apo09titulo13')?.hasError('required') && apo09tituloForm.get('apo09titulo13')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo09titulo14" class="form-control" placeholder="apo09titulo14">
            <div class="validacion"
                 *ngIf="apo09tituloForm.get('apo09titulo14')?.hasError('required') && apo09tituloForm.get('apo09titulo14')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo09titulo15" class="form-control" placeholder="apo09titulo15">
            <div class="validacion"
                 *ngIf="apo09tituloForm.get('apo09titulo15')?.hasError('required') && apo09tituloForm.get('apo09titulo15')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo09titulo16" class="form-control" placeholder="apo09titulo16">
            <div class="validacion"
                 *ngIf="apo09tituloForm.get('apo09titulo16')?.hasError('required') && apo09tituloForm.get('apo09titulo16')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo09titulo17" class="form-control" placeholder="apo09titulo17">
            <div class="validacion"
                 *ngIf="apo09tituloForm.get('apo09titulo17')?.hasError('required') && apo09tituloForm.get('apo09titulo17')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo09titulo18" class="form-control" placeholder="apo09titulo18">
            <div class="validacion"
                 *ngIf="apo09tituloForm.get('apo09titulo18')?.hasError('required') && apo09tituloForm.get('apo09titulo18')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo09titulo19" class="form-control" placeholder="apo09titulo19">
            <div class="validacion"
                 *ngIf="apo09tituloForm.get('apo09titulo19')?.hasError('required') && apo09tituloForm.get('apo09titulo19')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo09titulo20" class="form-control" placeholder="apo09titulo20">
            <div class="validacion"
                 *ngIf="apo09tituloForm.get('apo09titulo20')?.hasError('required') && apo09tituloForm.get('apo09titulo20')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo09titulo21" class="form-control" placeholder="apo09titulo21">
            <div class="validacion"
                 *ngIf="apo09tituloForm.get('apo09titulo21')?.hasError('required') && apo09tituloForm.get('apo09titulo21')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo09titulo22" class="form-control" placeholder="apo09titulo22">
            <div class="validacion"
                 *ngIf="apo09tituloForm.get('apo09titulo22')?.hasError('required') && apo09tituloForm.get('apo09titulo22')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo09titulo23" class="form-control" placeholder="apo09titulo23">
            <div class="validacion"
                 *ngIf="apo09tituloForm.get('apo09titulo23')?.hasError('required') && apo09tituloForm.get('apo09titulo23')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo09titulo24" class="form-control" placeholder="apo09titulo24">
            <div class="validacion"
                 *ngIf="apo09tituloForm.get('apo09titulo24')?.hasError('required') && apo09tituloForm.get('apo09titulo24')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo09titulo25" class="form-control" placeholder="apo09titulo25">
            <div class="validacion"
                 *ngIf="apo09tituloForm.get('apo09titulo25')?.hasError('required') && apo09tituloForm.get('apo09titulo25')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo09titulo26" class="form-control" placeholder="apo09titulo26">
            <div class="validacion"
                 *ngIf="apo09tituloForm.get('apo09titulo29')?.hasError('required') && apo09tituloForm.get('apo09titulo26')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div><br>  
          <button routerLink="/Apo09raci" type="button" class="btn btn-secondary">Volver</button>  &nbsp;
          <button  type="button" class="btn btn-success" type="submit" [disabled]="apo09tituloForm.invalid">Aceptar</button><hr>
      </div><br>
    </form>
</div>




