<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>localhost4200</title>

</head>


<body>
    <div class="tabla3">
        <table class="table table-bordered" class="container" style="width: 87%;">
         <thead>
           <tr>
             <th class="azultabla1" colspan="6">MEA02 Practicas, Entradas/Salidas y Actividades del Proceso</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <th class="celestetabla1" colspan="2">Práctica de gobierno</th>
             <th class="celestetabla1" colspan="2">Entradas</th>
             <th class="celestetabla1" colspan="2">Salidas</th>
           </tr>
           <tr>
             <td rowspan="4" colspan="2" class="text-top"><b>MEA02.01 Supervisar el control interno. </b>
              <br> Realizar, de forma continua, la supervisión, los estudios comparativos y la mejora el entorno de control de TI y el marco de control para alcanzar los objetivos organizativos</td>
               <th colspan="1">De</th>
               <th colspan="1">Descripción</th>
               <th colspan="1">Descripción</th>
               <th colspan="1">A</th>
           </tr>
           <tr>
             <td colspan="1" class="text-top"><a href="apo10tabla1">APO12.04</a></td>
             <td colspan="1" class="text-top">Resultados de las evaluación de riegos realizadas por terceros</td>
             <td colspan="1" class="text-top">Resultados de las revisiones y supervisión del control interno </td>
             <td colspan="1"><a href="edm01tabla1">EDM01.03</a><br>
              <a href="pagina51">APO</a><br>
              <a href="pagina119">BAI</a><br>
              <a href="dsso1tabla1">DSS</a><br>
              <a href="mea01">MEA</a><br></td>
           </tr>
           <tr>
             <td rowspan="" class="text-top"><a href="apo10tabla1">APO13.03</a></td>
             <td rowspan="1" class="text-top"> <p>Informes de auditoría del SGSI</p>
             <td rowspan="2" class="text-top">Resultados de estudios comparativos y otras evaluaciones </td>
             <td rowspan="2"><a href="edm01tabla1">EDM01.03</a><br>
              <a href="pagina51">APO</a><br>
              <a href="pagina119">BAI</a><br>
              <a href="dsso1tabla1">DSS</a><br>
              <a href="mea01">MEA</a><br></td>
           </tr>
           <tr>
             <td colspan="1"> Fuera del ámbito de COBIT</td>
             <td colspan="1" class="text-top"> Estándares y buenas prácticas de la industria</td>
           </tr>
           <tr>
             <th class="celestetabla1" colspan="6">Actividades</th>
           </tr>
           <tr>
             <td colspan="6">1. Realizar actividades de evaluación y supervisión del control interno basadas en los estándares de gobierno organizativos y los marcos y prácticas aceptadas en la industria. Incluir el seguimiento y evaluación de la 
               eficiencia y efectividad de las revisiones de supervisión de la Dirección.. </td>
           </tr>
           <tr>
             <td colspan="6">2. Considerar las evaluaciones independientes del sistema de control interno
                (p. ej. por auditoría interna o iguales - peers)..</td>
           </tr>
           <tr>
             <td colspan="6">3. Identificar los límites del sistema de control interno de TI (p. ej. considerar como los controles internos organizativos de TI 
               toman en consideración las actividades de producción o desarrollo externalizadas y/o deslocalizadas).. </td>
           </tr>
         </tbody>
       </table>
     </div>
</body>

</html>

<br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="mea02">1</a></li>
    <li class="page-item"><a class="page-link" href="listar-tablax">Tabla RACI</a></li>
    <li class="page-item"><a class="page-link" href="mea02a">2</a></li>
    <li class="page-item"><a class="page-link" href="mea02b">3</a></li>
    <li class="page-item"><a class="page-link" href="mea02c">4</a></li>
    <li class="page-item"><a class="page-link" href="mea02d">5</a></li>
    <li class="page-item"><a class="page-link" href="meao3tabla1">Continuar MEA03</a></li>
  </ul>
  </nav><br>



