<div>
    <span class="d-grid gap-2 col-4  mx-auto ">{{title}}</span>
    <form [formGroup]="apo06tituloForm" class="container bg-light bc row row-cols-1 row-cols-lg-4 g-1 g-lg-2" style="height: 10px;" style="width: 60%;" style="margin: 35px   190px;" (ngSubmit)="agregarApo06titulo()">
        <div class="form-group">
            <input type="text" formControlName="apo06titulo1" class="form-control" placeholder="apo06titulo1">
            <div class="validacion"
               *ngIf="apo06tituloForm.get('apo06titulo1')?.hasError('required') && apo06tituloForm.get('apo06titulo1')?.touched">
               <span>Este campo<b> es obligatorio</b></span>
            </div>  
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo06titulo2" class="form-control" placeholder="apo06titulo2">
            <div class="validacion"
                *ngIf="apo06tituloForm.get('apo06titulo2')?.hasError('required') && apo06tituloForm.get('apo06titulo2')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>  
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo06titulo3" class="form-control" placeholder="apo06titulo3">
            <div class="validacion"
                *ngIf="apo06tituloForm.get('apo06titulo3')?.hasError('required') && apo06tituloForm.get('apo06titulo3')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>  
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo06titulo4" class="form-control" placeholder="apo06titulo4">
            <div class="validacion"
                 *ngIf="apo06tituloForm.get('apo06titulo4')?.hasError('required') && apo06tituloForm.get('apo06titulo4')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo06titulo5" class="form-control" placeholder="apo06titulo5">
            <div class="validacion"
                 *ngIf="apo06tituloForm.get('apo06titulo5')?.hasError('required') && apo06tituloForm.get('apo06titulo5')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo06titulo6" class="form-control" placeholder="apo06titulo6">
            <div class="validacion"
                 *ngIf="apo06tituloForm.get('apo06titulo6')?.hasError('required') && apo06tituloForm.get('apo06titulo6')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo06titulo7" class="form-control" placeholder="apo06titulo7">
            <div class="validacion"
                 *ngIf="apo06tituloForm.get('apo06titulo7')?.hasError('required') && apo06tituloForm.get('apo06titulo7')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo06titulo8" class="form-control" placeholder="apo06titulo8">
            <div class="validacion"
                 *ngIf="apo06tituloForm.get('apo06titulo8')?.hasError('required') && apo06tituloForm.get('apo06titulo8')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo06titulo9" class="form-control" placeholder="apo06titulo9">
            <div class="validacion"
                 *ngIf="apo06tituloForm.get('apo06titulo9')?.hasError('required') && apo06tituloForm.get('apo06titulo9')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo06titulo10" class="form-control" placeholder="apo06titulo10">
            <div class="validacion"
                 *ngIf="apo06tituloForm.get('apo06titulo10')?.hasError('required') && apo06tituloForm.get('apo06titulo10')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo06titulo11" class="form-control" placeholder="apo06titulo11">
            <div class="validacion"
                 *ngIf="apo06tituloForm.get('apo06titulo11')?.hasError('required') && apo06tituloForm.get('apo06titulo11')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo06titulo12" class="form-control" placeholder="apo06titulo12">
            <div class="validacion"
                 *ngIf="apo06tituloForm.get('apo06titulo12')?.hasError('required') && apo06tituloForm.get('apo06titulo12')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo06titulo13" class="form-control" placeholder="apo06titulo13">
            <div class="validacion"
                 *ngIf="apo06tituloForm.get('apo06titulo13')?.hasError('required') && apo06tituloForm.get('apo06titulo13')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo06titulo14" class="form-control" placeholder="apo06titulo14">
            <div class="validacion"
                 *ngIf="apo06tituloForm.get('apo06titulo14')?.hasError('required') && apo06tituloForm.get('apo06titulo14')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo06titulo15" class="form-control" placeholder="apo06titulo15">
            <div class="validacion"
                 *ngIf="apo06tituloForm.get('apo06titulo15')?.hasError('required') && apo06tituloForm.get('apo06titulo15')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo06titulo16" class="form-control" placeholder="apo06titulo16">
            <div class="validacion"
                 *ngIf="apo06tituloForm.get('apo06titulo16')?.hasError('required') && apo06tituloForm.get('apo06titulo16')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo06titulo17" class="form-control" placeholder="apo06titulo17">
            <div class="validacion"
                 *ngIf="apo06tituloForm.get('apo06titulo17')?.hasError('required') && apo06tituloForm.get('apo06titulo17')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo06titulo18" class="form-control" placeholder="apo06titulo18">
            <div class="validacion"
                 *ngIf="apo06tituloForm.get('apo06titulo18')?.hasError('required') && apo06tituloForm.get('apo06titulo18')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo06titulo19" class="form-control" placeholder="apo06titulo19">
            <div class="validacion"
                 *ngIf="apo06tituloForm.get('apo06titulo19')?.hasError('required') && apo06tituloForm.get('apo06titulo19')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo06titulo20" class="form-control" placeholder="apo06titulo20">
            <div class="validacion"
                 *ngIf="apo06tituloForm.get('apo06titulo20')?.hasError('required') && apo06tituloForm.get('apo06titulo20')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo06titulo21" class="form-control" placeholder="apo06titulo21">
            <div class="validacion"
                 *ngIf="apo06tituloForm.get('apo06titulo21')?.hasError('required') && apo06tituloForm.get('apo06titulo21')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo06titulo22" class="form-control" placeholder="apo06titulo22">
            <div class="validacion"
                 *ngIf="apo06tituloForm.get('apo06titulo22')?.hasError('required') && apo06tituloForm.get('apo06titulo22')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo06titulo23" class="form-control" placeholder="apo06titulo23">
            <div class="validacion"
                 *ngIf="apo06tituloForm.get('apo06titulo23')?.hasError('required') && apo06tituloForm.get('apo06titulo23')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo06titulo24" class="form-control" placeholder="apo06titulo24">
            <div class="validacion"
                 *ngIf="apo06tituloForm.get('apo06titulo24')?.hasError('required') && apo06tituloForm.get('apo06titulo24')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo06titulo25" class="form-control" placeholder="apo06titulo25">
            <div class="validacion"
                 *ngIf="apo06tituloForm.get('apo06titulo25')?.hasError('required') && apo06tituloForm.get('apo06titulo25')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo06titulo26" class="form-control" placeholder="apo06titulo26">
            <div class="validacion"
                 *ngIf="apo06tituloForm.get('apo06titulo26')?.hasError('required') && apo06tituloForm.get('apo06titulo26')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div><br>  
          <button routerLink="/Apo06raci" type="button" class="btn btn-secondary">Volver</button>  &nbsp;
          <button  type="button" class="btn btn-success" type="submit" [disabled]="apo06tituloForm.invalid">Aceptar</button><hr>
      </div><br>
    </form>
</div>


