<div>
    <span class="d-grid gap-2 col-4  mx-auto ">{{title}}</span>
    <form [formGroup]="apo012tituloForm" class="container bg-light bc row row-cols-1 row-cols-lg-4 g-1 g-lg-2" style="height: 10px;" style="width: 60%;" style="margin: 30px   190px;" (ngSubmit)="agregarApo012titulo()">
        <div class="form-group">
            <input type="text" formControlName="apo012titulo1" class="form-control" placeholder="apo012titulo1">
            <div class="validacion"
               *ngIf="apo012tituloForm.get('apo012titulo1')?.hasError('required') && apo012tituloForm.get('apo012titulo1')?.touched">
               <span>Este campo<b> es obligatorio</b></span>
            </div>  
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo012titulo2" class="form-control" placeholder="apo012titulo2">
            <div class="validacion"
                *ngIf="apo012tituloForm.get('apo012titulo2')?.hasError('required') && apo012tituloForm.get('apo012titulo2')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>  
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo012titulo3" class="form-control" placeholder="apo012titulo3">
            <div class="validacion"
                *ngIf="apo012tituloForm.get('apo012titulo3')?.hasError('required') && apo012tituloForm.get('apo012titulo3')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>  
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo012titulo4" class="form-control" placeholder="apo012titulo4">
            <div class="validacion"
                 *ngIf="apo012tituloForm.get('apo012titulo4')?.hasError('required') && apo012tituloForm.get('apo012titulo4')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo012titulo5" class="form-control" placeholder="apo012titulo5">
            <div class="validacion"
                 *ngIf="apo012tituloForm.get('apo012titulo5')?.hasError('required') && apo012tituloForm.get('apo012titulo5')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo012titulo6" class="form-control" placeholder="apo012titulo6">
            <div class="validacion"
                 *ngIf="apo012tituloForm.get('apo012titulo6')?.hasError('required') && apo012tituloForm.get('apo012titulo6')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo012titulo7" class="form-control" placeholder="apo012titulo7">
            <div class="validacion"
                 *ngIf="apo012tituloForm.get('apo012titulo7')?.hasError('required') && apo012tituloForm.get('apo012titulo7')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo012titulo8" class="form-control" placeholder="apo012titulo8">
            <div class="validacion"
                 *ngIf="apo012tituloForm.get('apo012titulo8')?.hasError('required') && apo012tituloForm.get('apo012titulo8')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo012titulo9" class="form-control" placeholder="apo012titulo9">
            <div class="validacion"
                 *ngIf="apo012tituloForm.get('apo012titulo9')?.hasError('required') && apo012tituloForm.get('apo012titulo9')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo012titulo10" class="form-control" placeholder="apo012titulo10">
            <div class="validacion"
                 *ngIf="apo012tituloForm.get('apo012titulo10')?.hasError('required') && apo012tituloForm.get('apo012titulo10')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo012titulo11" class="form-control" placeholder="apo012titulo11">
            <div class="validacion"
                 *ngIf="apo012tituloForm.get('apo012titulo11')?.hasError('required') && apo012tituloForm.get('apo012titulo11')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo012titulo12" class="form-control" placeholder="apo012titulo12">
            <div class="validacion"
                 *ngIf="apo012tituloForm.get('apo012titulo12')?.hasError('required') && apo012tituloForm.get('apo012titulo12')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo012titulo13" class="form-control" placeholder="apo012titulo13">
            <div class="validacion"
                 *ngIf="apo012tituloForm.get('apo012titulo13')?.hasError('required') && apo012tituloForm.get('apo012titulo13')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo012titulo14" class="form-control" placeholder="apo012titulo14">
            <div class="validacion"
                 *ngIf="apo012tituloForm.get('apo012titulo14')?.hasError('required') && apo012tituloForm.get('apo012titulo14')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo012titulo15" class="form-control" placeholder="apo012titulo15">
            <div class="validacion"
                 *ngIf="apo012tituloForm.get('apo012titulo15')?.hasError('required') && apo012tituloForm.get('apo012titulo15')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo012titulo16" class="form-control" placeholder="apo012titulo16">
            <div class="validacion"
                 *ngIf="apo012tituloForm.get('apo012titulo16')?.hasError('required') && apo012tituloForm.get('apo012titulo16')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo012titulo17" class="form-control" placeholder="apo012titulo17">
            <div class="validacion"
                 *ngIf="apo012tituloForm.get('apo012titulo17')?.hasError('required') && apo012tituloForm.get('apo012titulo17')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo012titulo18" class="form-control" placeholder="apo012titulo18">
            <div class="validacion"
                 *ngIf="apo012tituloForm.get('apo012titulo18')?.hasError('required') && apo012tituloForm.get('apo012titulo18')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo012titulo19" class="form-control" placeholder="apo012titulo19">
            <div class="validacion"
                 *ngIf="apo012tituloForm.get('apo012titulo19')?.hasError('required') && apo012tituloForm.get('apo012titulo19')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo012titulo20" class="form-control" placeholder="apo012titulo20">
            <div class="validacion"
                 *ngIf="apo012tituloForm.get('apo012titulo20')?.hasError('required') && apo012tituloForm.get('apo012titulo20')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo012titulo21" class="form-control" placeholder="apo012titulo21">
            <div class="validacion"
                 *ngIf="apo012tituloForm.get('apo012titulo21')?.hasError('required') && apo012tituloForm.get('apo012titulo21')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo012titulo22" class="form-control" placeholder="apo012titulo22">
            <div class="validacion"
                 *ngIf="apo012tituloForm.get('apo012titulo22')?.hasError('required') && apo012tituloForm.get('apo012titulo22')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo012titulo23" class="form-control" placeholder="apo012titulo23">
            <div class="validacion"
                 *ngIf="apo012tituloForm.get('apo012titulo23')?.hasError('required') && apo012tituloForm.get('apo012titulo23')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo012titulo24" class="form-control" placeholder="apo012titulo24">
            <div class="validacion"
                 *ngIf="apo012tituloForm.get('apo012titulo24')?.hasError('required') && apo012tituloForm.get('apo012titulo24')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo012titulo25" class="form-control" placeholder="apo012titulo25">
            <div class="validacion"
                 *ngIf="apo012tituloForm.get('apo012titulo25')?.hasError('required') && apo012tituloForm.get('apo012titulo25')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo012titulo26" class="form-control" placeholder="apo012titulo26">
            <div class="validacion"
                 *ngIf="apo012tituloForm.get('apo012titulo212')?.hasError('required') && apo012tituloForm.get('apo012titulo26')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div><br>  
          <button routerLink="/Apo012raci" type="button" class="btn btn-secondary">Volver</button>  &nbsp;
          <button  type="button" class="btn btn-success" type="submit" [disabled]="apo012tituloForm.invalid">Aceptar</button><hr>
      </div><br>
    </form>
</div>





