<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    

</head>

<style>

    .azultabla1{
        background: rgb(39, 70, 172);
        color: white;
        border: 1px solid black;
    }
    .celestetabla1{
        background: rgb(255, 255, 255);
        
    }
    .celeste2tabla1{
        background: rgb(163, 189, 219);
        
    }
    </style>
<body>
    <table class="container" style="width: 87%;">
        <tr>
            <td class="azultabla1"><a class="nav-link" routerLink="/pagina73">APO05</a>  Prácticas, Entradas/Salidas y Actividades del Proceso (cont.)</td>
        </tr>
        <th class="celeste2tabla1">
            Práctica de Gestión
        </th>
        <th colspan="2" class="celeste2tabla1">
            Entradas
        </th>
        <th colspan="2" class="celeste2tabla1">
            Salidas
        </th>
        <tr>
            <td rowspan="3">
                APO05.06 Gestionar la consecución de beneficios.<br>
                Supervisar los beneficios de proporcionar y mantener servicios y capacidades TI apropiadas, basadas en el caso de negocio acordado actual.
            </td>
            <td>De</td>
            <td>Descripción</td>
            <td>Descripción</td>
            <td>A</td>
        </tr>
        <tr>
            <td><a class="nav-link" href="">BAI01.04</a> </td>
            <td>Presupuesto del programa y registro de beneficios</td>
            <td>Resultados de beneficios y comunicaciones relacionadas</td>
            <td><a class="nav-link" routerLink="edm02tabla1">EDM02.01</a> <br>
              <a class="nav-link" routerLink="/apo9tabla1"> APO09.04</a> <br>
              <a class="nav-link" href="">BAI01.06</a> </td>
        </tr>
        <tr>
            <td><a class="nav-link" href="">BAI01.05</a> </td>
            <td>Resultados de la supervisión de la realización de beneficios</td>
            <td>Acciones correctivas para mejorar la producción de beneficio</td>
            <td><a class="nav-link" routerLink="/apo9tabla1">APO09.04</a> <br>
              <a class="nav-link" href="">BAI01.06</a>  </td>
        </tr>
        <tr>
            <td colspan="5" class="celeste2tabla1">Actividades</td>
        </tr>
        <tr>
            <td colspan="5">1.	Utilizar las métricas acordadas y realizar seguimiento sobre cómo los beneficios son obtenidos, cómo evolucionan a lo largo del ciclo de vida de programas y proyectos, cómo son entregados desde los servicios TI y cómo resultan al someterlos a un análisis comparativo inte3rno y de la industria. Comunicar los resultados a las partes interesadas.</td>
        </tr>
        <tr>
            <td colspan="5">2.	Implementar acciones correctivas cuando los beneficios alcanzados se desvían significativamente de los esperados. Actualizar los casos de negocio para las nuevas iniciativas e implementar procesos de negocio y mejoras del servicio según se requiera.</td>
        </tr>
        <tr>
            <td colspan="5">3.	Considerar obtener orientación de expertos externos, lideres de la industria y datos de análisis comparativos para probar y mejorar las métricas y los objetivos.</td>
        </tr>
    </table>
    <table class="container" style="width: 87%;">
        <tr>
            <td><a class="nav-link" routerLink="/pagina73">APO05</a>  Guías Relacionadas</td>
        </tr>
        <th>
            Estándar Relacionado
        </th>
        <th>
            Referencia Detallada
        </th>
        <tr>
            <td>ISO/IEC 20000</td>
            <td>3.1 Responsabilidad de la Dirección<br>
                4.0 Planificación e implementación de la gestión del servicio<br>
                5.0 Planificar e implementar servicios nuevos o modificados</td>
        </tr>
        <tr>
            <td>ITIL V3 2011</td>
            <td>3. Gestión del Portafolio de Servicios</td>
        </tr>
        <tr>
            <td>Marco de Habilidades para la Era de la Información (Skills Framework for the Information Age, SFIA)</td>
            <td></td>
        </tr>
    </table>
</body>
</html><br>
<nav aria-label="Page navigation  example" class="container" style="width: 87%;">
    <ul class="pagination container">
      <li class="page-item"><a class="page-link" >APOO5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina73">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/Apo05raci">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina75">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina76">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina77">5</a></li>
    
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>

