<table class="container" style="width: 85%;">
    <thead >
        <tr >
            <td class="azultabla1" colspan="5">BAI03 Practicas, Entrada/Salidas y Actividades del Proceso (cont.)</td>
        </tr>
        
        </thead>
    <tr><td colspan="5" class="texto">3.Clasificar las entradas y salidas de datos acorde a los estándares de arquitectura empresarial. Especificar el diseño de los datos de orígen, documentar las entradas de datos independientemente de la fuente; y las validaciones para las transacciones así como los métodos de validación. Diseñar las salidas identificadas, incluyendo el orígen de los datos.</td></tr>
<tr><td colspan="5"class="texto">4. Diseñar el interfaz del sistema/solución, incluyendo cualquier intercambio automatizado de datos.</td></tr>
<tr><td colspan="5" class="texto">5.Diseñar el almacenamiento de los datos,localizacion y capacidad de recuperación.</td></tr>
<tr><td colspan="5" class="texto">6. Diseñar la redundancia, recuperación y copia de seguridad apropiadas.</td></tr>
<tr><td colspan="5" class="texto">7. Diseñar el interfaz entre el usuario y la aplicación del sistema para que sea fácil de usar y sea auto explicativo.</td></tr>
<tr><td colspan="5" class="texto">8. COnsiderar el impacto de las necesidades de la solución en el rendimiento de la infraestructura, considerando el número de activos informáticos, intensidad de ancho de banda y tiempo en que la información se considera sensible.</td></tr>
<tr><td colspan="5" class="texto">9. Evaluar proactivamente las debilidades del diseño, por ejemplo: inconsistencias, falta de claridad, fallos potenciales, etc. A través de todo el ciclo de vidad, identificando mejoras cuando se requieran.</td></tr>
<tr><td colspan="5" class="texto">10. Proporcionar métodos para auditar las transacciones e identificar la causa raíz de los problemas en el procesamiento.</td></tr>



<tr>
<Th class="celeste2tabla1" colspan="1" >Prácticas de gestión</Th>
<th class="celeste2tabla1" colspan="2">Entradas</th>
<th class="celeste2tabla1" colspan="2">Salidas</th>
</tr>

<tr>
<td rowspan="3" class="texto"><strong>BAI03.03 Diseñar los componentes de la solución. </strong><br>
Desarrollar los componentes de la solución progresivamente conforme el diseño detallado siguiendo los métodos de desarrollo, estándares de documentación, requerimientos de calidad "QA" y estándares de aprobación. Asegurar que se consideran todos los requerimientos de control en los procesos de negocio, soportando las aplicaciones TI y servicios de infraestructura, productos tecnológicos y servicios y proveedores/suminstradores. 
</td>
<td><strong>De</strong></td> 
<td><strong>Descripción</strong></td>
<td><strong>Descripción</strong></td>
<td><strong>Hacia</strong></td>
</tr>
<tr>

<td class="texto"><a routerLink="/pagina131">BAI02.2</a></td>
<td class="texto">Informe de estudio de viabilidad</td>
<td rowspan="2" class="texto">Documentar los componentes de la solución</td>
<td rowspan="2" class="texto"><a routerLink="/pagina143">BAI04.03</a><br><a routerLink="/pagina148">BAI05.05 <br></a><a routerLink="/pagina160">BAI08.03</a><br><a routerLink="/pagina160">BAI08.04</a></td>
</tr>
<tr>
<td class="texto"><a routerLink="/pagina60">APO02.04</a></td>
<td class="texto">Aprobaciones de los patrocinadores de los requerimientos y soluciones propuestas</td>

</tr>

<tr>
<td colspan="5" class="Actividades" class="celeste2tabla1"><strong  > Actividades </strong></td>
</tr>
<tr><td colspan="5" class="texto">1.Desarrollar procesos de negocio, servicios de soporte, aplicaciones e infraestructura y repositorios de información basados en las especificaciones acordadas y requerimientos técnicos, funcionales y de negocio.</td></tr>
<tr><td colspan="5" class="texto">2. Cuando proveedores terceros estén involucrados en el desarrollo de la solución, asegurar que el mantenimiento, soporte, estándares y licenciamiento están contempladas en las obligaciones contractuales. </td></tr>
<tr><td colspan="5" class="texto">3. Registrar peticiones de cambio y revisar el diseño, rendimiento y calidad, asegurando una participación activa de las partes interesadas afectadas.</td></tr>
<tr><td colspan="5" class="texto">4. Documentar todos los componentes de la solución acorde a los estándares definidos y mantener el control de la versión sobre los mismos y la documentación asociada.</td></tr>
<tr><td colspan="5" class="texto">5. Evaluar el impacto de la personalización de la solución y la configuración en el renfimiento y eficiencia de las soluciones adquiridas y en su interporabilidad con las aplicaciones,sistemas operativos y otra infraestructura existentes. Adaptar los procesos de negocio como se requiera para aprovechar las capacidades de la aplicación.</td></tr>
<tr><td colspan="5" class="texto">6. Asegurar que las responsabilidades por usar una alta seguridad o acceso restringido a los componentes de la infraestructura están claramente definidas y son comprendidas por todos aquellos que desarrollan e integran los componentes de la estructura. Su uso debería ser supervisado y evaluado.</td></tr>




<tr>
<Th class="celeste2tabla1" colspan="1" >Prácticas de gestión</Th>
<th class="celeste2tabla1" colspan="2">Entradas</th>
<th class="celeste2tabla1" colspan="2">Salidas</th>
</tr>

<tr>
<td rowspan="3" class="texto"><strong>BAI03.04 Obtener los componentes de la solución. </strong><br>
Obtener los componentes de la solución sobre la base del plan de adquisiciones y conforme a los requerimientos y diseños detallados, principios de arquitectura y estándares y en los procedimientos generales contractuales y de adquisiciones de la empresa, requerimientos de calidad "QA" y aprobación de estándares. Asegurar que todos los requerimientos legales y contractuales son identificados y cumplidos por el proveedor.
</td>
<td><strong>De</strong></td> 
<td><strong>Descripción</strong></td>
<td><strong>Descripción</strong></td>
<td><strong>Hacia</strong></td>
</tr>
<tr>

<td rowspan="2" class="texto"><a routerLink="/pagina132">BAI02.04</a></td>
<td rowspan="2" class="texto">Aprobaciones de los patrocinadores de los requerimientos y soluciones propuestas</td>
<td  class="texto">Plan de adquisiciones aprobado</td>
<td  class="texto"><a routerLink="/pagina54">APO01.03</a></td>
</tr>
<tr>
<td  class="texto">Actualizaciones del inventario de archivos</td>
<td class="texto" ><a routerLink="/pagina164">BAI09.01</a></td>

</tr>

<tr>
<td colspan="5" class="Actividades" class="celeste2tabla1"><strong  > Actividades </strong></td>
</tr>
<tr><td colspan="5"  class="texto">1. Crear y mantener un plan de adquisiciones de los componentes de la solución, considerando una flexibilidad futura para añadir capacidad, costes de trancisión, riesgos y actualizaciones a lo largo de la vida del proyecto.</td></tr>
<tr><td colspan="5"  class="texto">2. Revisar y aprobar todos los planes de adquisiciones, considerando riesgos, costes, beneficios y conformidad técnica con los estándares de arquitectura empresarial. </td></tr>
<tr><td colspan="5" class="texto">3. Evaluar y documentar en qué grado las soluciones adquiridas requieren adaptación a los procesos de negocio para aprovechar los beneficios de la solución adquirida. </td></tr>
<tr><td colspan="5" class="texto">4. Realizar seguimiento de las aprobaciones requeridas en puntos de decisión clave durante los proceso de contratación.</td></tr>
<tr><td colspan="5" class="texto">5. Registrar los recibos de todas las adquisiciones realizadas de software e infraestructura en el inventario de activos.</td></tr>
</table>
<br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" routerLink="/pagina133">BAI01</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina134">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina135">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina136">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina137">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina138">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina139">6</a></li>
      <li class="page-item"><a class="page-link" routerLink="">Next</a></li>
      
    </ul>
  </nav><br>
