<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>

<body>
    <table class="container" style="width: 87%;">
        <tr>
            <td colspan="5" class="azultabla1"><a class="nav-link" routerLink="/apo13tabla1"> APO13 </a>Prácticas, Entradas/Salidas y Actividades del Proceso</td>
        </tr>
        <th class="celeste2tabla1">
            Prácticas de Gestión
        </th>
        <th colspan="2" class="celeste2tabla1">
            Entradas
        </th>
        <th colspan="2" class="celeste2tabla1">
            Salidas
        </th>
        <tr>
            <td rowspan="3">
                APO13.01 Establecer y mantener un SGSI.<br>
                Establecer y mantener un SGSI que proporcione un enfoque estándar, formal y continuo a la gestión de
                seguridad para la información, tecnología y procesos de negocio que esté alineados con los
                requerimientos de negocio y la gestión de seguridad en la empresa.
            </td>
            <td>De</td>
            <td>Descripción</td>
            <td>Descripción</td>
            <td>A</td>
        </tr>
        <tr>
            <td rowspan="2">Fuera del Ámbito de COBIT</td>
            <td rowspan="2">Enfoque de seguridad de la empresa</td>
            <td>Política de SCSI</td>
            <td>Interno</td>
        </tr>
        <tr>
            <td>Declaración de alcance del SGSI</td>
            <td><a class="nav-link" routerLink="/pagina51">APO01.12</a> <br>
               <a class="nav-link" routerLink="dss06tabla1"> DSS06.03</a></td>
        </tr>
        <tr>
            <td colspan="5" class="celeste2tabla1">Actividades</td>
        </tr>
        <tr>
            <td colspan="5">1. Definir el alcance y los límites del SGSI en términos de las características de la
                empresa, la organización, su localización, activos y tecnología. Incluir detalles de y justificación
                para, cualquier exclusión del alcance.</td>
        </tr>
        <tr>
            <td colspan="5">2. Definir un SGSI de acuerdo con la política de empresa y alineada con la empresa, la
                organización, su localización, activos y tecnología.</td>
        </tr>
        <tr>
            <td colspan="5">3. Alinear el SGSI con el enfoque global de la gestión de la seguridad de la empresa.</td>
        </tr>
        <tr>
            <td colspan="5">4. Obtener autorización de la dirección para implementar y operar o cambiar el SGSI.</td>
        </tr>
        <tr>
            <td colspan="5">5. Preparar y mantener una declaración de aplicabilidad que describa el alcance del SGSI.
            </td>
        </tr>
        <tr>
            <td colspan="5">6. Definir y comunicar los roles y las responsabilidades de la gestión de la seguridad de la
                información.</td>
        </tr>
        <tr>
            <td colspan="5">7. Comunicar el enfoque de SGSI.</td>
        </tr>
    </table>
</body>

</html><br>
<nav aria-label="Page navigation example " class="container" style="width: 813%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">APOO13</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo13tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/Apo013raci">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo13tabla2">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo13tabla3">4</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
      
    </ul>
  </nav>
