<table  class="container" style="width: 85%;">
    <tr>
        <th class="azultabla1" style="width: 50%; ">BAI03Gestionár la identificación y construcción de Soluciones</th>
        <th class="azultabla1" style="width: 50%; ">Area: Gestión<br>
            Dominio: Construir, Adquirir e Implementar</th>
    </tr>
    <tr>
        <td colspan="2" class="texto"> <b> Descripción del proceso</b><br>
            Establecer y mantener soluciones identificadas en línea con los requerimientos de la emresa que abarcan el diseño, desarrollo, compras/contratación <br>
            y asociación con proveedores/fabricantes. Gestionar la configuración, preparación de pruebas, realización de pruebas, gestión de requerimientos y 
            <br> mantenimientos de procesos de negocio, aplicaciones, datos/información, infraestructura y servicios.
    </tr>
    <tr>
        <td colspan="2" class="texto"> <strong> Declaración de proposito</strong><br>
        Establecer soluciones puntuales y rentables capaces de soportar la estrategia de negocio y objetivos operacionales.
    </tr>
    <tr>
        <th class="celeste2tabla1" colspan="2" >El proceso apoya la consecución de un conjuno de principales metas TI:</th>
    </tr>
    <tr>
        <th class="celeste2tabla1" style="width: 50%; ">Meta TI</th>
        <th class="celeste2tabla1" style="width: 50%; ">Métricas Relacionadas</th>
    </tr>
    <tr>
        <td colspan="1" class="texto">07 Entrega de servicios de TI de acuerdo a los requisitos del negocio</td>
        <td colspan="1" class="texto">-Número de interrupciones del negocio debidas a incidentes en el servicio de TI.<br>
            -Porcentaje de partes interesadas satisfechas con el cumplimiento de servicio de TI a los niveles acordados<br>
            -Porcentaje de usuarios satisfechos con la calidad de los servicios de TI entregados<br>
            
        </td>
    </tr>
   
    
    <tr>
        <th class="celeste2tabla1" colspan="2" >Objetivos y Métricas del Poceso</th>
    </tr>
    <tr>
        <th class="celeste2tabla1" style="width: 50%;  " >Meta del Proceso</th>
        <th class="celeste2tabla1" style="width: 50%;">Métricas Relacionadas</th>
    </tr>
    <tr>
        <td colspan="1" class="texto">1. El diseño de la solución, incluyendo los componentes relevantes, debe cumplir con las necesidades de la empresa, alineandose con estándares y tratando todos los riesgos identificados.
        </td>
        <td colspan="1" class="texto">-Número de rediseños realizados debido a discordancias con los requerimientos<br>
            -Tiempo para aprobar que el entregable de diseño ha cumplido los requerimientos<br>
        </td>
    </tr>
    <tr>
        <td colspan="1" class="texto">2. La solución conforme al diseño, es acorde a las normas organizativas y cuenta con controles, seguridad y "auditabilidad" apropiadas.
        </td>
        <td colspan="1" class="texto">-Número de excepciones al diseño observadas durante la fase de revisión
            
        </td>
    </tr>
    <tr>
        <td colspan="1 " class="texto">3. La solución es de una calidad aceptable y ha sido probada convenientemente.
        </td>
        <td colspan="1" class="texto">-Número de errores encontrados durante las pruebas
            <br>-Tiempo y esfuerzo para completar las pruebas
        </td>
    </tr>
    <tr>
        <td colspan="1" class="texto">4. Los cambios aprobados de los requerimientos están correctamente incorporadas a la solución.
        </td>
        <td colspan="1" class="texto">-Número de cambios aprobados y registrados que generan nuevos errores
            
        </td>
    </tr>
    <tr>
        <td colspan="1" class="texto">5. Las actividades de mantenimiento cumplen satisfactoriamente con las necesidades tecnológicas y de negocio.
        </td>
        <td colspan="1" class="texto">-Número de solicitudes de mantenimiento no atendidas
        </td>
    </tr>
</table>
<br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" routerLink="/pagina133">BAI01</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina134">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina135">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina136">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina137">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina138">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina139">6</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
      
    </ul>
  </nav><br>