<h1 style="color: rgb(255, 255, 255); font-size: 25px; text-align: center;">CONTENIDOS DE LA GUIA DE REFERENCIA DE PROCESOS DE COBIT 5 </h1>
<table class="container" style="width: 87%;  margin: 0 auto;">
    <tr>
        <th class="azultabla1" style="width: 50%;">BAI06 Gestionar la Disponibilidad y la capacidad</th>
        <th class="azultabla1" style="width: 50%;">Area: Gestión<br>
            Dominio:Construir Adquirir e implementar</th>
    </tr>
    <tr>
        <td colspan="2"><b>Descripción  del Proceso</b> <br>
            Gestione todos los cambios de una forma controlada, incluyendo cambios estándar y de mantenimiento de emergencia en relación con los procesos de negocio, aplicaciones e infraestructura. Esto incluye normas y procedimientos de cambio, análisis de impacto, priorización y atorización, cambios de emergencia, seguimiento, reporte, cierre y documentación.</td>
    </tr>
    <tr>
        <td colspan="2"><b>Declaración del Propósito del Proceso</b><br>
          Posibilitar una entrega de los cambios rápida y fiable para el negicio, a la vez que se mitiga cualquier riesgo que impacte negativamente en la estabilidad e integridad del entorno en que se aplica el cambio.</td>
    </tr>
    <tr>
        <th class="celeste2tabla1" colspan="2">El proceso apoya la consecución de un conjunto de principales metas TI:</th>
    </tr>
    <tr>
        <th class="celeste2tabla1" style="width: 50%;">Meta TI</th>
        <th class="celeste2tabla1" style="width: 50%;">Métricas Relacionadas</th>
    </tr>
    <tr>
        <td colspan="1" class="texto">04 Riesgos de negocio relacionados con las TI gestionados</td>
        <td colspan="1">•Porcentaje de procesos de negocio críticos, servicios TI y programas de negocio habilitados 
            <br> por las TI cubiertos por evaluaciones de riesgos <br>
            
            •Número de incidentes significativos relacionados con las TI que no fueron identificados en la  <br>
            evaluación de riesgos<br>
            •Porcentaje de evaluaciones de riesgo de la empresa quue incluyen los riesgos relacionados con TI<br>
            •Frecuencia de actualización del perfíl de riesgo
        </td>
    </tr>
    <tr>
        <td colspan="1" class="texto">07 Entrega de servicios de TI de acuerdo a los requisitos del negocio</td>
        <td colspan="1">•Número de interrupciones del negocio debidas a incidentes en el servicio de TI <br>
             <br>
            •Porcentaje de partes interesadas satisfechas con el cumplimiento de servicio de TI.<br>
            entregado respecto a los niveles de servicio acordados
            •Porcentaje de usuarios satisfechos con la calidad de los servicios de TI entregados.<br>
            

        </td>
    </tr>
    <tr>
        <td colspan="1" class="texto">10 Seguridad de la información, infraestructura de procesamiento y aplicaciones<br>
        <td colspan="1">•Número de incidentes de seguridad causantes de pérdidas financieras, interrupciones del <br>
            negocio o pérdidad de imagen pública. <br>
            •Número de servicios de TI con los requisitos de seguridad pendientes.<br>
            •Tiempo para otorgar, modificar y eliminar los privilegios de acceso, comparado con los niveles de servicio acordados.<br>
            •Frecuencia de la evaluación de seguridad frente a los últimos estándares y guías
        </td>
    </tr>
    <tr>
        <th class="celeste2tabla1" colspan="2">Objetivos y Métricas del Poceso</th>
    </tr>
    <tr>
        <th class="celeste2tabla1" style="width: 50%;">Meta del Proceso</th>
        <th class="celeste2tabla1" style="width: 50%;">Métricas Relacionadas</th>
    </tr>
    <tr>
        <td colspan="1">1.Los cambios autorizados son realizados de acuerdo  <br>
             a sus cronogramas respecticos y con errores<br>
            mínimos
            </td>
        <td colspan="1">•Cantidad de trabajo rehecho debido a cambios fallidos.<br>
            •Reducción en el tiempo y esfuerzo necesarios para aplicar los cambios.<br>
            •Número de antiguedad de peticiones de cambio de cartera.
        </td>
    </tr>
    <tr>
        <td colspan="1">2.Las evaluaciones de impacto revelan el efecto de los  <br>
            cambios sobre todos los componentes afectados.
        </td>
        <td colspan="1">•Porcentaje de cambios sin éxito debidos a evaluaciones de impacto inadecuadas.<br>

        </td>
    </tr>
    <tr>
        <td colspan="1">3.Todos los cambios de emergencia son revisados y  <br>
            autorizados una vez hecho el cambio.<br>
       </td>
       <td colspan="1">•Porcentaje sobre el total de cambios que corresponde a cambios de emergencia<br>
        •Número de cambios de emergéncia no autorizados una vez hecho el cambio 
       </td>
    
    </tr>
    <tr>
        <td colspan="1">4.Las principales partes interesadas están informadas   <br>
            sobre todos los aspectos del cambio.<br>
       </td>
       <td colspan="1">•Ratios de satisfacción de las partes interesadas con las comunicaciones de los cambios<br>
        •Número de cambios de emergéncia no autorizados una vez hecho el cambio 
       </td>
    
    </tr>
</table>
<br>
<app-listar-tablaseis></app-listar-tablaseis>
<br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/pagina149">BAI06</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina150">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina151">2</a></li>
      
      
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
      
    </ul>
  </nav><br>

