<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>localhost4200</title>

</head>


<body>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th class="azultabla1" colspan="2"><a href="edm04tabla1">EMD04</a>Asegurar la Optimizacion de Recurso </th>
            <th class="azultabla1" colspan="2" >
              <p>Área: Gobierno</p>
              <p> Dominio: Evaluar, Orientar y Supervisar</p></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="celestetabla1" colspan="4">Descripción del Proceso Asegurar que las adecuadas capacidades relacionadas con las TI(personas, procesos) 
                y tecnologias estan disponibles para soportar eficazmente los objetivos de la empresa a un coste optimo.</td>
          </tr>
          <tr>
            <td class="celestetabla1" colspan="4">Declaración del Propósito del Proceso Asegurar que las necesidades de recursos de la empresa son cubiertas de un modo optimo, que el  
                coste TI es copimizado y que con ellos se incrementa la probabilidad de la obtencion de beneficis y la preparacion para cambios futuros.</td>
          </tr>
          <tr>
            <th class="celeste2tabla1" colspan="4">El proceso apoya la consecución de un conjunto de principales metas TI:</th>
          </tr>
          <tr>
            <th class="celeste2tabla1" colspan="2">Meta TI</th>
            <th class="celeste2tabla1" colspan="2">Métricas relacionadas</th>
          </tr>
          <tr>
            <td class="celestetabla1" colspan="2">09 Agilidad de las TI</td>
            <td class="celestetabla1" colspan="2">
              <p>• Nivel de satisfaccion de los ejecutivos de la empresa con la capacidad de respuesta de TI a nuevos requerimientos</p> 
              <p>• numero de proceso de negocio criticos soportados por infraestructuras y aplicaciones actualizadas </p>
              <p>• Tiempo medio para convertir los objetivos estrategivos detI en una iniciativa acordada y aporbada</p> </td>
          </tr>
          <tr>
            <td class="celestetabla1" colspan="2">11 Optimixacion de los activos, recursos y capacidades de las TI</td>
            <td class="celestetabla1" colspan="2"><p>• Frecuencia de la envaluacion de la madurez de la capacidad y de la optimizacion de costes </p>
              <p>• Tendencia de los resultados de las envaluaciones. </p> 
              <p>• Niveles de satisfacion de los ejecutivos de megocio y TI con los costes y capacidades TI</p> </td>
          </tr>
          <tr>
            <td class="celestetabla1" colspan="2">16 Personal de negocio y de las TI competente y motivado</td>
            <td class="celestetabla1" colspan="2"><p>• Porcentaje de personas cuyas habilidades TI son suficientes para las competencias requeridas por su funcion</p> 
              <p>• Porsentaje del personal satisfecho con su funcion TI </p>
              <p>• Numero de horas aprendisa/practicas por trabajar</p></td>
          </tr>
          <tr>
            <th class="celeste2tabla1" colspan="4">Metas y Métricas del Proceso</th>
          </tr>
          <tr>
            <th class="celeste2tabla1" colspan="2">Meta del Proceso</th>
            <th class="celeste2tabla1" colspan="2">Métricas Relacionadas</th>
          </tr>
          <tr>
            <td class="celestetabla1" colspan="2">1. Las necesidades de recursos de la empresa son cubieros con capacidades óptimas
              .</td>
            <td class="celestetabla1" colspan="2"><p>•Nive de realimentacion de las partes interesadas sobre la optimizacion de los recursos </p>
              <p>•Serie de beneficios(p.ej.,ahorro de costes)que se logran atraves de la utilizacion optima de los recursos</p>
            <p>•Número de desviaciones de plan de recursos y estrategias de arquitectura empresarial </p></td>
          </tr>
          <tr>
            <td class="celestetabla1" colspan="2">2.Los recursos se asignan para satisfacer mejor las prioridades de las empresas
                dentro del presupuesto y restricciones .</td>
            <td class="celestetabla1" colspan="2"><p>• Número de desviaciones(y excepciones)de los principios de gestion de los recursos.</p>
              <p>•Porcentaje de proyectos con asignacion de recursos adecuados</p>  
                 </td>
          </tr>
          <tr>
            <td class="celestetabla1" colspan="2">3. El uso optimo de los recursos se logra a lo largo de su completo sivlo de vida economico.</td>
            <td class="celestetabla1" colspan="2"><p>• Porcentaje de reutilizacion de componentes del arquitectura</p>  
              <p>• Porcentaje de poryectos y programas con un estado de riesgo medio o alto debido a la problemas en la gestion de recursos</p> 
            <p>•Número de metas de rendimiento de la gestion de recursos alcanzadas</p></td>
          </tr>
        </tbody>
      </table>
</body>

</html>

<br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" routerLink="edm03tabla1">Menu</a></li>
    <li class="page-item"><a class="page-link" href="edm0atabla1">1</a></li>
    <li class="page-item"><a class="page-link" href="listar-four">2</a></li>
    <li class="page-item"><a class="page-link" href="edm04tabla3">3</a></li>
    <li class="page-item"><a class="page-link" href="edm04tabla4">4</a></li>
    <li class="page-item"><a class="page-link" href="listar-four">Next</a></li>
    
  </ul>
  </nav><br>

