<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="container" style="width: 85%; margin: 0 auto;">
        <thead>
            <tr>
                <th class="azultabla1"  colspan="6">BAI01 Prácticas, Entradas/Salidas y Actividades del Proceso (cont.)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="celeste2tabla1" colspan="2">Prácticas de Gestión</th>
                <th class="celeste2tabla1" colspan="2">Entradas</th>
                <th class="celeste2tabla1" colspan="2">Salidas</th>
            </tr>
            <tr>
                <td rowspan="5" colspan="2" class="texto"><b>BAI01.09 Gestionar la calidad de los programas y proyectos.</b><br>
                    Preparar y ejecutar un plan y procesos y prácticas de <br>
                    gestión de la calidad, alineadas al SGC que describe el <br>
                    enfoque de calidad del programa y el proyecto y cómo será<br>
                    implementando. El debería ser formalmente revisado <br>y acordado por todas las partes afectadas y, después,<br>
                    incorporado en los planes integrado del programa y los proyectos.
                <th colspan="1">De</th>
                <th colspan="1">Descripción</th>
                <th colspan="1">Descripción</th>
                <th colspan="1">A</th>
            </tr>
            <tr>
                <tr>
                    <td rowspan="1"><a href="">AP011.01</a></td>
                    <td rowspan="1">Plan de gestión de la <br>calidad </td>
                    <td rowspan="1">Plan de gestión de la calidad</td>
                    <td rowspan="1"><a href="">BAI02.04</a><br><a href="">BAI03.06</a><br><a href="">BAI07.01</a></td>
                </tr>
             <tr>
                <td rowspan="1"><a href="">AP011.03</a></td>
                <td rowspan="1">Requisitos de cliente para <br> la gestión de la calidad </td>
                <td rowspan="1">Requerimientos para la<br>verificación independiente de <br>los entregables</td>
                <td rowspan="1"><a href="">BAI07.03</a></td>
            </tr>
            <tr>
            <tr>
                <td class="celeste2tabla1" colspan="6" align="center"><b>Actividades</b> 
                </td>
            </tr>
            <tr>
                <td colspan="6">1.Identificar las actividades y prácticas de aseguramiento para apoyar la acreditación sistemas nuevos o modificados durante la planificación del programa
                    y del proyecto incluirlos dentro de los planes integrados. Asegurarse que las tareas provean garantias de que las soluciones de seguridad 
                    y los controles internos cumplen con los requerimientos definidos. 
                </td>
            </tr>
            <tr>
                <td colspan="6">2.Proporcionar garantias de calidad para los entregables del proyecto, identificar a propietarios y responsabilidades, revisar el proceso de calidad, criterios de éxito y las métricas de desempeño.
                </td>
            </tr>
            <tr>
                <td colspan="6">3.Definir cualquier requerimiento para la validación y la verificación independientes de la calidad de los entregables en el plan. 
                </td>
            </tr>
            <tr>
                <td colspan="6">4.Realizar aseguramiento de la calidad y actividades de control de acuerdo con el plan de gestión de la calidad y el SGC.
                </td>
            </tr>
        <tbody>
            <tr>
                <th class="celeste2tabla1" colspan="2">Prácticas de Gestión</th>
                <th class="celeste2tabla1" colspan="2">Entradas</th>
                <th class="celeste2tabla1" colspan="2">Salidas</th>
            </tr>
            <tr>
                <td rowspan="6" colspan="2" class="texto"><b>BAI01.10 Gestionar el riesgo de los programas y proyectos.</b><br>
                   Eliminar o minimizar los riesgos específicos asociados <br>
                   con los programas y proyectos mediante un proceso<br>
                   sistemático de planificación, identificación, análisis,<br>
                   repuesta, supervisión y control de las áreas o eventos que<br>
                   tienen el potencial de causar cambios no deseados. Los <br>
                   riesgos enfrentados por la administración del programa y<br>
                   los proyectos deberían ser establecidos y registrados en un<br> único punto. 
                <th colspan="1">De</th>
                <th colspan="1">Descripción</th>
                <th colspan="1">Descripción</th>
                <th colspan="1">A</th>
            </tr>
            <tr>
                <tr>
                    <td rowspan="1"><a href="">AP012.02</a></td>
                    <td rowspan="1">Resultados del análisis de<br> riesgo</td>
                    <td rowspan="1">Plan de gestión del <br>proyecto</td>
                    <td rowspan="1">Interno</td>
                </tr>
            <tr>
                <tr>
                    <td rowspan="1"><a href="/pagina132">BAI02.03</a></td>
                    <td rowspan="1">•Acciones de mitigación<br>de riesgos.<br>•Registro de requisitos de riesgos</td>
                    <td rowspan="1">Resultados de la evaluación de<br>riesgos del proyecto</td>
                    <td rowspan="1">Interno</td>
                </tr>
             <tr>
                <td rowspan="1">Fuera del<br>Ámbito de <br>COBIT</td>
                <td rowspan="1">Marco de referencia de<br>ERM</td>
                <td rowspan="1">Registro de riesgos del proyecto</td>
                <td rowspan="1">Interno</td>
            </tr>
            <tr>
            <tr>
                <td class="celeste2tabla1" colspan="6" align="center"><b>Actividades</b> 
                </td>
            </tr>
            <tr>
                <td colspan="6">1.Establecer un enfoque de gestión de riesgos de proyectos alineados con el marco de referencia de ERM. Asegurar que este enfoque incluya la identificación, análisis,respuestas, mitigación, supervisión y control del riesgo. 
                </td>
            </tr>
            <tr>
                <td colspan="6">2.Asignar la responsabilidad para ejecutar el proceso de gestión del riesgo de los proyectos de la entidad al personal con las capacidades adecuadas y asegurar que está incorporado a las prácticas de desarrollo de solución. Considerar asignar este perfil a un equipo independiente, especialmente si es necesario un punto de vista objetivo o el proyecto se considera critico
                </td>
            </tr>
            <tr>
                <td colspan="6">3.Realizar un análisis del riesgo del proyecto para identificar y cuantificar el riesgo de manera continua durante el proyecto. Gestionar y comunicar el riesgo adecuadamente dentro de la estructura del gobierno del proyecto
                </td>
            </tr>
            <tr>
                <td colspan="6">4.Reevaluar el riesgo del proyecto periódicamente, incluyendo al inicio de cada fase de un proyecto importante y como parte de las evaluaciones de solicitudes de cambios importantes.
                </td>
            </tr>
            <tr>
                <td colspan="6">5.Identificar los propietarios de las acciones para evitar, aceptar o mitigar el riesgo.
                </td>
            </tr>
            <tr>
                <td colspan="6">6.Mantener y revisar el registro de los riesgos potenciales del proyecto y el riesgo de la mitigación de riesgos de todos los aspectos del proyecto y su
                    resolución Analizar periodicamente el registro para ver tendencias y problemas recurrentes y aseguarse que se corrigen las causas raíz
                </td>
            </tr>
    </table>
</body>
</html><br>

<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="pagina119" >BAI01 </a></li>
      <li class="page-item"><a class="page-link" href="listar-tablauno" >1</a></li>
      <li class="page-item"><a class="page-link" href="pagina121" >2</a></li>
      <li class="page-item"><a class="page-link" href="pagina122" >3</a></li>
      <li class="page-item"><a class="page-link" href="pagina123" >4</a></li>
      <li class="page-item"><a class="page-link" href="pagina124" >5</a></li>
      <li class="page-item"><a class="page-link" href="pagina125" >6</a></li>
      <li class="page-item"><a class="page-link" href="pagina126" >7</a></li>
      <li class="page-item"><a class="page-link" href="pagina127" >8</a></li>
      <li class="page-item"><a class="page-link" href="pagina129">Continua BAIO2</a></li>
      
    </ul>
  </nav><br>