<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>localhost4200</title>

</head>


<body>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th class="azultabla1" colspan="2"><a href="edm05tabla1">EDM05</a> Asegurar la Transparencia hacia las Partes Insteresadas</th>
            <th class="azultabla1" colspan="2" >
              <p>Área: Gobierno</p>
              <p> Dominio: Evaluar, Orientar y Supervisar</p></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="celestetabla1" colspan="4">Descripción del Proceso Asegurar que la medición y la elaboración de informes en cuanto 
            a conformidad y desempeño de TI de la empresa son transparentes, con aprobación por parte de las partes interesadas de las 
            metas, las métricas y las acciones correctivas necesarias.</td>
          </tr>
          <tr>
            <td class="celestetabla1" colspan="4">Declaración del propósito del Proceso Asegurar que la comunicación con las partes 
            interesadas sea efectiva y oportuna y que se ha establecido una base para la elaboración de informes con el fin de aumentar el 
            desempeño, identificar áreas susceptibles de mejora y confirmar que las estrategias y los objetivos relacionados con Tl 
            concuerdan con la estrategia corporativa.</td>
          </tr>
          <tr>
            <th class="celeste2tabla1" colspan="4">El proceso apoya la consecución de un conjunto de principales metas TI:</th>
          </tr>
          <tr>
            <th class="celeste2tabla1" colspan="2">Meta TI</th>
            <th class="celeste2tabla1" colspan="2">Métricas relacionadas</th>
          </tr>
          <tr>
            <td class="celestetabla1" colspan="2">03 Compromiso de la dirección ejecutiva para tomar decisiones
              relacionadas con TI</td>
            <td class="celestetabla1" colspan="2">
              <p>• Porcentaje de roles de dirección ejecutiva con responsabilidades claramente
                definidas en cuanto a decisiones de TI </p> 
              <p>• Número de veces que TI está de forma proactiva como tema en la agenda del
                Consejo de Administración</p>
              <p>• Frecuencia de las reuniones del comité (ejecutivo) de estrategia de TI</p>
              <p>• Cuota de ejecución de decisiones ejecutivas relacionadas con TI</p> </td>
          </tr>
          <tr>
            <td class="celestetabla1" colspan="2">06 Transparencia de los costes, benficios y riesgos de la TI</td>
            <td class="celestetabla1" colspan="2"><p>• Porcentaje de inversión en casos de negocio con costes y beneficios esperados 
                relativos a Tl claramente definidos y aprobados. </p>
              <p>• Porcentaje de servicios TI con costes operativos y beneficios esperados claramente definidos y aprobados. </p> 
              <p>• Encuesta de satisfacción a las partes interesadas clave relativa al nivel de transparencia, compresión y precisión 
                de la información financiera de TI.</p> </td>
          </tr>
          <tr>
            <td class="celestetabla1" colspan="2">07 Entrega de servicios de TI de acuerdo a los requisitos del negocio</td>
            <td class="celestetabla1" colspan="2"><p>• Número de interrupciones del negocio debidas a incidentes en el servicio de TI</p> 
              <p>• Porcentaje de partes interesadas satisfechas con el cumplimiento del servicio de TI entregado respecto a los niveles de servicio acordados </p>
              <p>• Porcentaje de usuarios satisfechos con la calidad de los servicios de TI entregados</p></td>
          </tr>
          <tr>
            <th class="celeste2tabla1" colspan="4">Metas y Métricas del Proceso</th>
          </tr>
          <tr>
            <th class="celeste2tabla1" colspan="2">Meta del Proceso</th>
            <th class="celeste2tabla1" colspan="2">Métricas Relacionadas</th>
          </tr>
          <tr>
            <td class="celestetabla1" colspan="2">1. Los informes para las partes interesadas se ajustan a sus
              requisitos. </td>
            <td class="celestetabla1" colspan="2"><p>• Fecha de la última revisión de los requisitos de elaboración de informes  </p>
              <p>• Porcentaje de interesados incluidos en los requisitos de elaboración de informes</p></td>
          </tr>
          <tr>
            <td class="celestetabla1" colspan="2">2. La elaboración de informes es completa, oportuna y precisa.</td>
            <td class="celestetabla1" colspan="2"><p>• Porcentaje de informes no presentados a tiempo</p>
              <p>• Porcentaje de informes que contienen imprecisiones </p>  
                <p>• Número de casos de no-cumplimiento con las directrices de comportamiento ético y profesional</p> </td>
          </tr>
          <tr>
            <td class="celestetabla1" colspan="2">3. La comunicación es eficaz y las partes interesadas están
              satisfechas.</td>
            <td class="celestetabla1" colspan="2"><p>• Nivel de satisfacción de las partes interesadas con respecto a la elaboración de
              informes</p>
              <p>• Número de veces que no se han cumplido los requisitos obligatorios en cuanto a elaboración de informes</p> </td>
          </tr>
        </tbody>
      </table>
</body>

</html>

<br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">EDM05</a></li>
      <li class="page-item"><a class="page-link" href="edm05tabla1">1</a></li>
      <li class="page-item"><a class="page-link" href="edm05tabla2">2</a></li>
      <li class="page-item"><a class="page-link" href="edm05tabla3">3</a></li>
      <li class="page-item"><a class="page-link" href="edm05tabla4">4</a></li>
      <li class="page-item"><a class="page-link" href="edm05tabla2">Next</a></li>
      
    </ul>
  </nav><br>

