
<div class="container">
    <table class="table">
        <thead class="theader">
        <tr>
            <td class="titulos" scope="col" colspan="5">DSS01 Prácticas, Entradas/Salidas y Actividades del Proceso</td>
        </tr>
        </thead>
        <tr>
    <td class="fondo2" style="text-align:center">Práctica de Gestión</td>
    <td class="fondo2" style="text-align:center" colspan="2">Entradas</td>
    <td class="fondo2" style="text-align:center" colspan="3">Salidas</td>
</tr>
<tr>
<th scope="row" rowspan="4">DSS01.03 Supervisar la infraestructura de TI.
    <p class="texto">Supervisar las infraestructura Tl y los eventos 
        relacionados con ella. Almacenar la suficiente información 
        cronológica en los registros de operaciones para permitir la 
        reconstrucción , revisión y examen de las secuencias de tiempo 
        de las operaciones y las actividades relacionadas con el soporte 
        a esas operaciones.
    </p>
</th>
<td style="text-align:center">De</td>
<td style="text-align:center">Descripción</td>
<td style="text-align:center">Descripción</td>
<td style="text-align:center">A</td>
</tr>
<tr>
   <td rowspan="3"><a href="pagina139">BAI03.11</a></td>
   <td rowspan="3">Definiciones de servicio</td>
   <td>Reglas de monitorización de activos y condiciones
       de eventos
   </td>
   <td valign="middle"> <a href="dsso2tabla1">DSS02.01</a><br>
    <a href="dsso2tabla3">DSS02.02</a></td>
  
</tr>
<tr>
   <td>Registro de eventos</td>
   <td>Interno</td>
</tr>
<tr>
   <td>Tiques (tickets) de incidentes</td>
   <td><a href="dsso2tabla3">DSS02.02</a></td>
</tr>
<tr>
   <td colspan="5" style="text-align:center" class="fondo">Actividades</td>
</tr>
<tr>
   <td colspan="5">1. Registrar eventos, identificando el nivel de información 
       a ser grabada sobre la base de una consideración del riesgo 
       y el rendimiento. </td>
</tr>
<tr>
   <td colspan="5">2. Identificar y mantener una lista de activos 
    de infraestructura que necesiten ser monitorizados en base a 
    la criticidad del servicio y la relación entre los elementos 
    de configuración y los servicios que de ellos dependen.</td>
</tr>
<tr>
<td colspan="5">3. Definir e implantar reglas que identifiquen y 
    registren violaciones de umbral y condiciones de eventos. 
    Encontrar un equilibrio entre la generación de eventos falsos 
    menores y eventos significativos, de forma tal que los registros 
    de eventos no estén sobrecargados con información innecesaria.</td>
</tr>
<tr>
    <td colspan="5">4. Producir registros de eventos y retenerlos por 
        un periodo apropiado para asistir en investigaciones futuras.</td>
</tr>
<tr>
    <td colspan="5">5. Establecer procedimientos para supervisar los 
        registros de eventos y llevar a cabo revisiones periódicas.</td>
</tr>
<tr>
    <td colspan="5">6. Asegurar que se crean oportunamente los tiques 
        de incidente cuando la monitorización identifica desviaciones 
        de los umbrales definidos.</td>
</tr>
</table>
</div>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">HOME</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso1tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/listraci01">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso1tabla2">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso1tabla3">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso1tabla4">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso1tabla5">6</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso1tabla6">7</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso1tabla7">8</a></li>
      <li class="page-item"><a class="page-link" href="/dsso1tabla5">Next</a></li>
      
    </ul>
  </nav><br>
