<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>

<body>
    <table class="container" style="width: 87%;">
        <tr>
            <td colspan="5">APO11 Prácticas, Entradas/Salidas y Actividades del Proceso (cont.)</td>
        </tr>
        <th>
            Prácticas de Gestión
        </th>
        <th colspan="2">
            Entradas
        </th>
        <th colspan="2">
            Salidas
        </th>
        <tr>
            <td rowspan="3">
                APO11.04 Supervisar y hacer controles y revisiones de la calidad.<br>
                Supervisar la calidad de los procesos y servicios de forma permanente como se defina en el SGC.<br>
                Definir, planificar y aplicar medidas para supervisar la satisfacción del cliente con la calidad, así
                como el valor que proporciona el SGC.<br>
                La información recogida debería ser utilizada por los propietarios de los procesos para mejorar la
                calidad.
            </td>
            <td>De</td>
            <td>Descripción</td>
            <td>Descripción</td>
            <td>A</td>
        </tr>
        <tr>
            <td>BAI03.06</td>
            <td>Resultados de las revisiones de calidad, excepciones y correcciones<br>
                Plan de aseguramiento de la calidad</td>
            <td>Resultados de las revisiones y auditorias de calidad</td>
            <td>APO08.05<br>
                APO09.04<br>
                APO09.05<br>
                BAI07.08</td>
        </tr>
        <tr>
            <td>DSS02.07</td>
            <td>Estado de solicitudes de cambio e informes de tendencias<br>
                Situación de los incidentes e informes de tendencias</td>
            <td>Metas y métricas del proceso de calidad de los servicios</td>
            <td>Todo APO<br>
                Todo BAI<br>
                Todo DSS<br>
                Todo MEA</td>
        </tr>
        <tr>
            <td colspan="5">Actividades</td>
        </tr>
        <tr>
            <td colspan="5">1. Supervisar la calidad de los procesos y servicios de forma permanente y sistemática
                mediante la descripción, las métricas, los análisis, la mejora/ingeniería y controles de los procesos.
            </td>
        </tr>
        <tr>
            <td colspan="5">2. Preparar y llevar a cabo revisiones de calidad.</td>
        </tr>
        <tr>
            <td colspan="5">3. Informes de los resultados de las revisiones y poner en marcha las mejoras necesarias.
            </td>
        </tr>
        <tr>
            <td colspan="5">4. Supervisar la calidad de los procesos, así como el valor proporcionado por la calidad.
                Asegurar que la medición, supervisión y registro de la información es utilizada por los propietarios de
                los procesos para tomar las acciones correctivas y preventivas necesarias.</td>
        </tr>
        <tr>
            <td colspan="5">5. Supervisar las métricas de calidad basadas en objetivos alineadas con los objetivos
                generales de calidad y cubriendo la calidad de todos los servicios y los proyectos individuales.</td>
        </tr>
        <tr>
            <td colspan="5">6. Asegurar que la dirección y los propietarios de los procesos revisan periódicamente el
                rendimiento de la gestión respecto a las métricas de calidad definidas.</td>
        </tr>
        <tr>
            <td colspan="5">7. Analizar los resultados del rendimiento de la gestión de la calidad global.</td>
        </tr>
        <th>
            Prácticas de Gestión
        </th>
        <th colspan="2">
            Entradas
        </th>
        <th colspan="2">
            Salidas
        </th>
        <tr>
            <td rowspan="3">
                APO11.05 Integrar la gestión de la calidad en la implementación de soluciones y la entrega de
                servicios.<br>
                Incorporar las prácticas pertinentes de gestión de la calidad en la definición, supervisión,
                notificación y gestión continua de los desarrollo de soluciones y los servicios ofrecidos.
            </td>
            <td>De</td>
            <td>Descripción</td>
            <td>Descripción</td>
            <td>A</td>
        </tr>
        <tr>
            <td rowspan="2"></td>
            <td rowspan="2"></td>
            <td>Resultados de la supervisión de la calidad de los servicios y las soluciones entregados</td>
            <td>APO08.05<br>
                APO09.04<br>
                BAI07.08</td>
        </tr>
        <tr>
            <td>Causas raíz de los fallos en la calidad de la entrega</td>
            <td>APO08.02<br>
                APO09.04<br>
                BAI07.08<br>
                MEA02.04<br>
                MEA02.07<br>
                MEA02.08</td>
        </tr>
        <tr>
            <td colspan="5">Actividades</td>
        </tr>
        <tr>
            <td colspan="5">1. Integrar las prácticas de gestión de la calidad en los procesos y prácticas de desarrollo
                de soluciones.</td>
        </tr>
        <tr>
            <td colspan="5">2. Supervisar de manera continua los niveles de servicio e incorporar prácticas de gestión
                de la calidad en todos los procesos y prácticas de prestación de servicio.</td>
        </tr>
        <tr>
            <td colspan="5">3. Identificar y documentar las causas raíz de las no conformidades y comunicar los
                resultados a la dirección de TI y otras partes interesadas de manera oportuna para permitir que se
                adopten las medidas correctivas oportunas. Cuando sea necesario, realizar el seguimiento de las
                revisiones.</td>
        </tr>
    </table>
</body>

</html><br>
<nav aria-label="Page navigation example " class="container" style="width: 811%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">APOO11</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo11tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/Apo011raci">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo11tabla2">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo11tabla3">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo11tabla4">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo11tabla5">6</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
      
    </ul>
  </nav>
