<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>

<body>
    <table class="container" style="width: 85%;" class="azultabla1">
        <tr>
            <td class="azultabla1">APO01 Practica, Entrada/Salidas y Actividades del Proceso (cont.)</td>
        </tr>
        <th class="celeste2tabla1 text-black">
            Práctica de Gestión
        </th>
        <th colspan="2" class="celeste2tabla1 text-black">
            Entradas
        </th>
        <th colspan="2" class="celeste2tabla1 text-black">
            Salidas
        </th>
        <tr>
            <td rowspan="3" class="text-black">
                <a class="nav-link text-black" routerLink="/pagina51">APO01.05</a>  Optimizar la ubicación de la función de TI.<br>
                Posicionar la capacidad de TI en la estructura organizativa global para reflejar en el modelo de empresa
                la importancia de TI en la organización, especialmente su criticidad para la estrategia empresarial y el
                nivel de dependencia de TI. La línea de reporte del CIO debe ser proporcional a la importancia de las TI
                en la empresa.
            </td>
            <td class="text-black">De</td>
            <td class="text-black">Descripción</td>
            <td class="text-black">Descripción</td>
            <td class="text-black">A</td>
        </tr>
        <tr>
            <td rowspan="2">Fuera del Ámbito de COBIT</td>
            <td rowspan="2">Modelo operativo empresarial<br>
                Estrategia del negocio </td>
            <td>Evaluación de las opciones para la organización de TI</td>
            <td><a class="nav-link" routerLink="/pagina63">APO03.02</a> </td>
        </tr>
        <tr>
            <td>Definir la función operacional de las funciones de TI</td>
            <td><a class="nav-link" routerLink="/pagina63">APO03.02</a> </td>
        </tr>
    </table>
    <table class="container" style="width: 85%;"class="celeste2tabla1">
        <tr>
            <td >Actividades</td>
        </tr>
        <tr>
            <td>1. Entender el contexto de la función de TI, incluyendo una evaluación de la estrategia empresarial y el
                modelo operativo (centralizado, federado, descentralizado, hibrido), importancia de TI, la situación y
                opciones para la previsión.</td>
        </tr>
        <tr>
            <td>2. Identificar, evaluar y priorizar las opciones para la ubicación en la organización, los modelos
                operativos y de aprovisionamiento.</td>
        </tr>
        <tr>
            <td>3. Definir la ubicación de la función de TI y obtener aprobación.</td>
        </tr>
    </table>
    <table class="container" style="width: 85%;" class="celeste2tabla1">
        <th  class="celeste2tabla1">
            Práctica de Gestión
        </th>
        <th colspan="2" class="celeste2tabla1">
            Entradas
        </th>
        <th colspan="2" class="celeste2tabla1">
            Salidas
        </th>
        <tr>
            <td rowspan="4">
                APO01.06 Definir la propiedad de la información (datos) y del sistema.<br>
                Definir y mantener las responsabilidades de la propiedad de la información (datos) y los sistemas de
                información. Asegurar que los propietarios toman decisiones sobre la clasificación de la información y
                los sistemas y su protección de acuerdo con esta clasificación.
            </td>
            <td>De</td>
            <td>Descripción</td>
            <td>Descripción</td>
            <td>A</td>
        </tr>
        <tr>
            <td rowspan="3"></td>
            <td rowspan="3"></td>
            <td>Directrices para la clasificación de datos</td>
            <td><a class="nav-link" routerLink="/pagina63">APO03.02</a> <br>
               <a class="nav-link" routerLink="/">BAI02.01</a> <br>
               <a class="nav-link" routerLink="/dsso5tabla1">DSS05.02</a> <br>
               <a class="nav-link" routerLink="/dsso6tabla1">DSS06.01</a> </td>
        </tr>
        <tr>
            <td>Directrices para el control y seguridad de datos</td>
            <td><a class="nav-link" href="">BAI02.01</a> </td>
        </tr>
        <tr>
            <td>Procedimientos de integridad de datos</td>
            <td><a class="nav-link" href="">BAI02.01</a> <br>
               <a class="nav-link" routerLink="/dsso6tabla1">DSS06.01</a> </td>
        </tr>
    </table>
    <table class="container" style="width: 85%;" class="celeste2tabla1">
        <tr>
            <td class="celeste2tabla1">Actividades</td>
        </tr>
        <tr>
            <td>1. Proveer políticas y directrices para asegurar la adecuación y consistencia de la clasificación de la
                información (datos) en toda la empresa.</td>
        </tr>
        <tr>
            <td>2. Definir, mantener y proporcionar herramientas adecuadas, técnicas y directrices para garantizar la
                seguridad y control efectivo sobre la información y los sistemas en colaboración con el propietario.
            </td>
        </tr>
        <tr>
            <td>3. Crear y mantener un inventario de la información (sistemas y datos) que incluya un listado de los
                propietarios, custodios y clasificaciones. Incluir los sistemas subcontratados y aquellos cuya propiedad
                debe permanecer dentro de l empresa.</td>
        </tr>
        <tr>
            <td>4. Definir e implementar procedimientos para asegurar la integridad y consistencia de toda la
                información almacenada en formato electrónico, tales como bases de datos, almacenes de datos (data
                warehouses) y archivos de datos.</td>
        </tr>
    </table>
    <table class="container" style="width: 85%;" class="celeste2tabla1">
        <th class="celeste2tabla1">
            Práctica de Gestión
        </th>
        <th colspan="2" class="celeste2tabla1">
            Entradas
        </th>
        <th colspan="2" class="celeste2tabla1">
            Salidas
        </th>
        <tr>
            <td rowspan="4">
                APO01.07 Gestionar la mejora continua de los procesos.<br>
                Evaluar, planificar y ejecutar la mejora continua de procesos y su madurez para asegurar que son capaces
                de entregarse conforme a los objetivos de la empresa, de gobierno, de gestión y de control. Considerar
                las directrices de la implementación de procesos de COBIT, estándares emergentes, requerimientos de
                cumplimiento, oportunidades de automatización y la realimentación de los usuarios de los procesos, el
                equipo del proceso y considerar el impacto en los catalizadores del proceso.
            </td>
            <td>De</td>
            <td>Descripción</td>
            <td>Descripción</td>
            <td>A</td>
        </tr>
        <tr>
            <td><a class="nav-link" routerLink="/edm01tabla1">EDM01.03</a> </td>
            <td>Realimentación de la efectividad y funcionamiento del gobierno</td>
            <td>Evaluaciones de la capacidad de los procesos</td>
            <td>MEA01.03</td>
        </tr>
        <tr>
            <td rowspan="2"><a class="nav-link" routerLink="/meao3tabla1">MEA03.02</a> </td>
            <td rowspan="2">Actualización de políticas, principios, procedimientos y estándares</td>
            <td>Oportunidades de mejorar de proceso</td>
            <td>Todo APO<br>
                Todo BAI<br>
                Todo DSS<br>
                Todo MEA</td>
        </tr>
        <tr>
            <td>Objetivos y métricas de rendimiento para el seguimiento de la mejora de procesos</td>
            <td><a class="nav-link" routerLink="/mea01">MEA01.02</a> </td>
        </tr>
    </table>
    <table class="container" style="width: 85%;" class="celeste2tabla1">
        <tr>
            <td class="celeste2tabla1">Actividades</td>
        </tr>
        <tr>
            <td>1. Identificar los procesos críticos de negocio basándose en el rendimiento, cumplimiento y los riesgos
                relacionados. Evaluar la capacidad del proceso e identificar objetivos de mejora. Analizar las
                diferencias en la capacidad y control del proceso. Identificar las opciones de mejora y rediseño de
                procesos. Priorizar iniciativas para la mejora de procesos basadas en el potencial coste-beneficio.</td>
        </tr>
        <tr>
            <td>2. Implementar las mejoras acordadas, funcionando como una practica normal del negocio y establecer
                objetivos y métricas de rendimiento que permitan el seguimiento de las mejoras del proceso.</td>
        </tr>
        <tr>
            <td>3. Considerar las maneras de mejorar la eficiencia y eficacia (p. ej., mediante formación,
                documentación, estandarización y automatización de procesos).</td>
        </tr>
        <tr>
            <td>4. Aplicar prácticas de gestión de calidad para la actualización de procesos.</td>
        </tr>
        <tr>
            <td>5. Retirar procesos, componentes o catalizadores desactualizados.</td>
        </tr>
    </table><br>
</body>

</html><br>

<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">APOO1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina51">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/listar-apo">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina53">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina54">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina55">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina56">6</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
      
    </ul>
  </nav><br>

