<nav aria-label="Page navigation  example" class="container" style="width: 87%;">
  <ul class="pagination container">
    <li class="page-item"><a class="page-link" >APOO4</a></li>
    <li class="page-item"><a class="page-link" routerLink="/pagina69">1</a></li>
    <li class="page-item"><a class="page-link" routerLink="/Apo04raci">2</a></li>
    <li class="page-item"><a class="page-link" routerLink="/pagina71">3</a></li>
    <li class="page-item"><a class="page-link" routerLink="/pagina72">4</a></li>
    
  
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>
