<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>localhost4200</title>

</head>


<body>
  <table class="table table-bordered" class="container" style="width: 87%;">
    <thead>
      <tr>
        <th colspan="3" class="azultabla1" colspan="6">MEA02 Practicas, Entradas/Salidas y Actividades del Proceso (Cont).</th>
      </tr>
    </thead>
    <tbody>
        <tr>
        <td  class="celestetabla1"><b>Practicas de Gestion</b></td>
        <td  class="celestetabla1" colspan="2"><b>Entradas</b></td>
        <td  class="celestetabla1" colspan="2"><b>Salidas</b></td>
    </tr>
    <tr>
        <td rowspan="5" class="text-top"><b>MEA02.04 Identificar y comunicar las deficiencias de control.</b>
            
            <br> Identificar deficiencias de control y analizar e identificar las causas raíz subyacentes. Escalar las deficiencias de control y comunicarlas a las partes interesadas.
        </td>
    
        <td><b>De</b></td>
        <td><b>Descripcion</b></td>
        <td><b>Descripcion</b></td>
        <td><b>A</b></td>
    </tr>
    <tr>
    <td><a href="apo10tabla1">APO11.05</a></td>
    <td> Causas raíz de los fallos en la calidad de la entrega </td>
    <td rowspan="2" class="text-top"> Deficiencias de control </td>
    <td rowspan="2">
        <a href="pagina51">APO</a><br>
        <a href="pagina119">BAI</a><br>
        <a href="dsso1tabla1">DSS</a><br>
        <a href="mea01">MEA</a><br>
    </td>
</tr>
<tr>
<td> <a href="apo10tabla1">APO12.06</a> </td>
<td> Causas raíz relacionadas con el riego </td>
</tr>
<tr>
<td><a href="dsso6tabla1">DSS06.01 </a></td>
<td> • Análisis de las causas raíz y recomendaciones
• Resultados de las revisiones de efectividad del procesamiento </td> 
<td rowspan="2" class="text-top"> Acciones correctivas </td>
<td rowspan="2">
    <a href="pagina51">APO</a><br>
    <a href="pagina119">BAI</a><br>
    <a href="dsso1tabla1">DSS</a><br>
    <a href="mea01">MEA</a><br>
</td>
</tr>
<tr>
<td><a href="dsso6tabla4">DSS06.04</a> </td>
<td> Evidencia de la corrección y remediación de errores </td>
</tr>
 
             <tr>
        <td  class="celestetabla1" colspan="5"><b>Actividades</b>
    </td>
    <tr>
        <td colspan="5">1. Identificar, comunicar y registrar las excepciones de los controles y asignar responsabilidad de su resolución y comunicación de los resultados.    
        </td>
    </tr>
    <tr>
        <td colspan="5">2. Considerar el riesgo para la empresa al establecer umbrales para el escalado de las exenciones y desajustes de los controles.
        </td>
    </tr>
    <tr>
    <td colspan="5">3. Comunicar los procedimientos de escalado de las excepciones de control, análisis de causa raíz e información a los propietarios del proceso y grupos de interés de TI. </td>
    </tr>
    <tr>
    <td colspan="5">4. Decidir qué excepciones de control deberían ser comunicadas a la persona responsable de la función y que excepciones deberían ser escaladas. Informar a las partes interesadas y propietarios de los procesos afectados. </td>
    </tr>
    <tr>
        <td colspan="5">5. Hacer seguimiento de todas las excepciones para asegurar que se han contemplado las acciones acordadas. </td>
        </tr>
        <tr>
            <td colspan="5">6. Identificar, iniciar, rastrear e implementar acciones correctivas que surjan de la evaluación de control e informes. </td>
            </tr>
            
    <tr>
        <td  class="celestetabla1" ><b>Practicas de Gestion</b></td>
        <td  class="celestetabla1"  colspan="2"><b>Entradas</b></td>
        <td  class="celestetabla1" colspan="2"><b>Salidas</b></td>
    </tr>
    <tr>
        <td rowspan="2"><b>MEA02.05 Garantizar que los proveedores de aseguramiento son independientes y están cualificados.</b>
            
            <br> Asegurar que las entidades que realizan el aseguramiento son independientes de la función, grupo u organización en el alcance. Las entidades que realizan el aseguramiento deberían demostrar una actitud y apariencia apropiadas y adecuada competencia en las habilidades y conocimientos que son necesarios para realizar el aseguramiento y la adherencia a los códigos de ética y los estándares profesionales.
        </td>
    
        <td><b>De</b></td>
        <td><b>Descripcion</b></td>
        <td><b>Descripcion</b></td>
        <td><b>A</b></td>
    </tr>
    <tr>
    <td> </td>
    <td> </td>
    <td> Resultados de evaluaciones del proveedor de aseguramiento </td>
    <td> Interno </td>
    </tr>
                <tr>
        <td  class="celestetabla1" colspan="5"><b>Actividades</b>
    </td>
    <tr>
        <td colspan="5">1. Establecer la adhesión a los códigos de ética y estándares aplicables (p. ej., el código de Ética Profesional de ISACA) y estándares de aseguramiento relativos a la industria o ámbito geográfico), p. ej. Estándares de aseguramiento y auditoría de TI de ISACA y Marcó Internacional para el Aseguramiento del Comité Internacional para los Estándares de Auditoría y Aseguramiento (IAASB).
        </td>
    </tr>
    <tr>
        <td colspan="5">2. Establecer la independencia de los proveedores de aseguramiento.
        </td>
    </tr>
    <tr>
    <td colspan="5">3. Establecer la competencia y cualificación de los proveedores de aseguramiento. </td>
    </tr>
        <tr>
        <td  class="celestetabla1"><b>Practicas de Gestion</b></td>
        <td class="celestetabla1"  colspan="2"><b>Entradas</b></td>
        <td  class="celestetabla1" colspan="2"><b>Salidas</b></td>
    </tr>
    <tr>
        <td rowspan="4" class="text-top"><b>MEA02.06 Planificar iniciativas de aseguramiento.</b>
            
            <br> Planificar las iniciativas de aseguramiento basándose en los objetivos empresariales y las prioridades estratégicas, riesgo inherente, restricciones de recursos y suficiente conocimiento de la compañía.
        </td>
    
        <td><b>De</b></td>
        <td><b>Descripcion</b></td>
        <td><b>Descripcion</b></td>
        <td><b>A</b></td>
    </tr>
    <tr>
    <td><a href="pagina125">BAI01.05 </a></td>
    <td> Planes de auditoría de programas </td>
    <td> Evaluaciones de alto nivel </td>
    <td> Interno </td>
    </tr>
    <tr>
    <td rowspan="2"><a href="dsso1tabla2">DSS01.02 </a></td>
    <td rowspan="2"> Planes de aseguramiento independiente </td>
    <td> Planes de aseguramiento </td>
    <td> <a href="edm01tabla4">EDM01.03</a><br>
        <a href="pagina51">APO</a><br>
        <a href="pagina119">BAI</a><br>
        <a href="dsso1tabla1">DSS</a><br>
        <a href="mea01">MEA</a><br>
</td>
</tr>
<tr>
<td> Criterios de evaluación </td>
<td> Interno </td>
</tr>
             <tr>
        <td  class="celestetabla1"colspan="5"><b>Actividades</b>
    </td>
    <tr>
        <td colspan="5">1. Determinar los destinatarios de las salidas de la iniciativa de aseguramiento y el objeto de la revisión.
        </td>
    </tr>
    <tr>
        <td colspan="5">2. Realizar una evaluación de riego a alto nivel y/o evaluar la capacidad del proceso para diagnosticar el riesgo e identificar los procesos criterios de TI.
        </td>
    </tr>
    <tr>
    <td colspan="5">3. Seleccionar, adaptar y llegar a un acuerdo sobre los objetivos de control para los procesos críticos que serán la base para la evaluación de control. </td>
     
  
    </tbody>
  </table>
</body>

</html>

<br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="mea02">1</a></li>
      <li class="page-item"><a class="page-link" href="listar-tablax">Tabla RACI</a></li>
      <li class="page-item"><a class="page-link" href="mea02a">2</a></li>
      <li class="page-item"><a class="page-link" href="mea02b">3</a></li>
      <li class="page-item"><a class="page-link" href="mea02c">4</a></li>
      <li class="page-item"><a class="page-link" href="mea02d">5</a></li>
      <li class="page-item"><a class="page-link" href="meao3tabla1">Continuar MEA03</a></li>
    </ul>
    </nav><br>



