<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>

<body>
    <table class="container" style="width: 87%;">
        <tr>
            <td colspan="5" class="azultabla1">AP013 Practicas, Entradas/Salidas y Actividades del Proceso(cont.)</td>
        </tr>
        <th class="celeste2tabla1">
            Práctica de Gestión
        </th>
        <th colspan="2" class="celeste2tabla1">
            Entradas
        </th>
        <th colspan="2" class="celeste2tabla1">
            Salidas
        </th>
        <tr>
            <td rowspan="10">
                AP0013.03 Crear y mantener presupuestos.<br><br>
                Formalizar y gestionar las relaciones con cada proveedor.Gestionar,mantener y supervisar los contratos y al entrega de servicios.
Asegurarar que los nuevos contratos o los cambios son conformes a las normas de la empresa, las leyes y las regulaciones.Gestionar los conflictos contractuales.

            </td>
            <td>De</td>
            <td>Descripción</td>
            <td>Descripción</td>
            <td>A</td>
        </tr>
        <tr>
            <td><a class="nav-link" routerLink="/">BAI03.04</a> </td>
            <td>Planes de adquisiciones aprobados</td>
            <td>Roles y responsabilidades de los proveedores.<br><br>
            Procesos de revisión y comunicación.<br><br>
            Resultados y sugerencias de mejora.<br><br>


            </td>
            <td>Interno<br><br>
                <br><br>
                Interno<br><br>
                <br><br>
                Interno<br><br>
</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td rowspan="8"></td>
            <td rowspan="8"><br><br>
</td>
        </tr>
        <tr>
            <td></td>
            <td><br>
               </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td><br>
                </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td><br>
                </td>
        </tr>
        <tr>
            <td colspan="5" class="celeste2tabla1">Actividades</td>
        </tr>
        <tr>
            <td colspan="5">1.Asiganar propietarios de las relaciones para cada proveedor y hacerles responsables de la calidad del servicio proporcionado.
            </td>
        </tr>
        <tr>
            <td colspan="5">2.Especificar un proceso de comunicación formal y de revisión, que incluyan las interacciones con el proveedor y la planificación.
                </td>
        </tr>
        <tr>
            <td colspan="5">3.Acordar, gestionar,mantener y renovar los contratos con los proveedores.Asegurar que los contratos son conformes con las normas y corporativas y con los requisitos legales y regulatorios.</td>
        </tr>
        <tr>
            <td colspan="5">4.Incluir en los contratos con los proveedores de servicios clave disposiciones para revisar los lugares de trabajo y las practicas y controles de la dirección o de terceras partes.
            </td>
        </tr>
        <tr>
            <td colspan="5">5.Evaluar la eficiencia de la relación con los proveedores e identificar las mejoras necesarias. Compilar y ajustar el presupuesto en base a necesidades empresariales cambiantes y consideraciones financieras.</td>
        </tr>
        <tr>
            <td colspan="5">6.Definir, comunicar y acordar las maneras de implementar las mejoras requeridas en las relaciones.
            </td>
        </tr>
        <tr>
            <td colspan="5">7.Hacer uso de los procedimientos establecidos para tratar los conflictos contractuales haciendo uso primero,siempre que sea posible, de relaciones y mecanismos de comunicación eficaces que permitan superar los problemas de servicio.
            </td>
        </tr>
        <tr>
            <td colspan="5">8.Definir y formalizar los roles y responsabilidades de cada proveedor.Cuando varios proveedores se combinan para proporcionar un servicio,considerar asignar un rol de proveedor líder a uno de los proveedores para que asuma la responsabilidad global del contrato.


            </td>
        </tr>
        <th class="celeste2tabla1">
            Práctica de Gestión
        </th>
        <th colspan="2" class="celeste2tabla1">
            Entradas
        </th>
        <th colspan="2" class="celeste2tabla1">
            Salidas
        </th>
        <tr>
            <td rowspan="5">
                AP013.04 Gestionar el riesgo en el suministro<br><br>
                Identificar y gestionar los riegos relacionados con la capacidad de los proveedores de proporcionar de manera continua una entrega del servicio segura, eficaz y eficiente.

            </td>
            <td>De</td>
            <td>Descripción</td>
            <td>Descripción</td>
            <td>A</td>
        </tr>
        <tr>
            <td><a class="nav-link" routerLink="/apo12tabla1">AP012.04</a> </td>
            <td>•	Resultados de la evaluación de riegos de terceros.<br><br>
                •	Análisis de Riesgos e informes de perfil de riegos para las partes interesadas.
                </td>
            <td rowspan="4">Identificar el riesgo de entrega del proveedor<br><br>
                <br><br>
                <br><br>
                Identificar requisitos contraactuales para minimizar riesgo<br><br>
            </td>

            <td rowspan="4"> <a class="nav-link" routerLink="/apo12tabla1">AP012.01</a> 
                <a class="nav-link" routerLink="/apo12tabla1">AP012.03</a> 
                <a class="nav-link" routerLink="/">BAI01.01</a> 
                <br><br>
                <br><br>
                <br><br>
                <br><br>
                Interno<br><br>
                <br><br>
                <br><br>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="5" class="celeste2tabla1">Actividades</td>
        </tr>
        <tr>
            <td colspan="5">1.Identificar, supervisar y, cuando sea apropiado, gestionar los riegos relacionados con la capacidad del proveedor de entregar el servicio de forma eficiente, eficaz, segura, fiable y continua.</td>
        </tr>
        <tr>
            <td colspan="5">2.A la hora de definir el contrato, para los riesgos potenciales, incluir una descripción clara de todos los requisitos de servicio, incluyendo depósitos de garantía, proveedores alternativos o acuerdos en suspenso para mitigar el riesgo de un posible fallo del proveedor; los aspectos de seguridad, la propiedad intelectual y los requisitos legales y regulatorios.</td>
        </tr>
    <tr>
    <th class="celeste2tabla1">
        Práctica de Gestión
    </th>
    <th colspan="2" class="celeste2tabla1">
        Entradas
    </th>
    <th colspan="2" class="celeste2tabla1">
        Salidas
    </th>
    <tr>
        <td rowspan="5">
            AP13.05 Supervisar el cumplimiento y el rendimiento del proveedor.<br><br>
            Revisar periódicamente el rendimiento general de los proveedores,el cumplimiento con los requisitos contractuales y el valor de lo pagado y tratar las incidencias identificadas.

        </td>
        <td>De</td>
        <td>Descripción</td>
        <td>Descripción</td>
        <td>A</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td rowspan="4">Criterios de supervisión del cumplimiento de los proveedores<br><br>
            <br><br>
            <br><br>
            Resultados de las revisiones de la supervisión del cumplimiento de los proveedores<br><br>
        </td>

        <td rowspan="4"> Interno
            <br><br>
            <br><br>
            <br><br>
            <br><br>
           <a class="nav-link" routerLink="/mea01tabla1">MEA01.03</a> <br><br>
            <br><br>
            <br><br>
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="5" class="celeste2tabla1">Actividades</td>
    </tr>
    <tr>
        <td colspan="5">1.Definir y documentar los criterios para supervisar el rendimiento de los proveedores alineado con los acuerdos de nivel de servicio y asegurando que el proveedor infroma según estos criterios de forma regular y transaparente.</td>
    </tr>
    <tr>
        <td colspan="5">2.Supervisar y revisar la entrega de servicios para asegurar que el proveedor esta proporcionando una calidad del servicio adecuada, cumpliendo los requisitos y las condiciones de los contratos.</td>
    </tr>
    <tr>
        <td colspan="5">3.Revisar el rendimiento y el coste de los proveedores para asegurar que son competitivos y fiables, en comparación con proveedores alternativos y condiciones de mercado.</td>
    </tr>
    <tr>
        <td colspan="5">4.Solicitar revisiones independientes de las practicas internas y los controles,si se considera necesario.</td>
    </tr>
    <tr>
        <td colspan="5">5.Registrar y evaluar los resultados de la revisión periódica y discutirlos con el proveedor para identificar las necesidades y oportunidades de mejora.</td>
    </tr>
    <tr>
        <td colspan="5">6.Supervisar y evaluar la información externa disponible sobre el proveedor.</td>
    </tr>

    </table>
</body>

</html><br>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <table class="container" style="width: 87%;">
        <tr>
            <td colspan="2" class="azultabla1"><a class="nav-link" routerLink="/apo13tabla1">AP013 </a> Guías Relacionadas</td>
        </tr>
        <th>
            Estándar 
        </th>
        <th>
            Referencia Detallada
        </th>
        <tr>
            <td>ISO/IEC 20000</td>
            <td>7.3 Gestión de proveedores<br>
            </td>
        </tr>
        <tr>
            <td>ITIL V3 2011</td>
            <td>11. Gestión de proveedores<br>
               </td>
        </tr>
        <tr>
            <td>Cuerpo de Conocimiento de Gestión de Proyectos (Project Management Body of Knowledge-PMBOK)</td>
            <td>Procesos de adquisiciones del PMBOK<br>
               </td>
        </tr>
    </table>
</body>
</html><br>

<nav aria-label="Page navigation example " class="container" style="width: 813%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">APOO13</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo13tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/Apo013raci">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo13tabla2">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo13tabla3">4</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
      
    </ul>
  </nav>
