<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>localhost4200</title>

</head>
<body>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th colspan="3" class="azultabla1" colspan="6">EDMO3 Guias relacionadas</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="celestetabla1" colspan="1">Estándar Relacionado</th>
        <th class="celestetabla1" colspan="2">Referencia Detallada</th>
      </tr>
      <tr>
        <td  colspan="1">COSO/ERM</td>
        <td  colspan="2"></td>
      </tr>
      <tr>
        <td  colspan="1">ISO/IEC 3100</td>
        <td  colspan="2">Marco de Referenica para le Gestion de Riesgos</td>
      </tr>
      <tr>
        <td  colspan="1">ISO/IEC 38500</td>
        <td  colspan="2"> <p></p>
          </td>
      </tr>
      <tr>
        <td  colspan="1">King III</td>
        <td  colspan="2">•5.5 TI deberia formar una aprte integral de la gestion de riegos de la empresa 
            •5.7 El comite de riesgos y el comite de auditoria deberian ayudar a Consejo en el cumplimiento de sus 
            responsabilidades en TI.
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>

<br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">Menu</a></li>
      <li class="page-item"><a class="page-link" href="edm03tabla1">1</a></li>
      <li class="page-item"><a class="page-link" href="listar-three">2</a></li>
      <li class="page-item"><a class="page-link" href="edm03tabla3">3</a></li>
      <li class="page-item"><a class="page-link" href="edm03tabla4">4</a></li>
      <li class="page-item"><a class="page-link" href="edm03tabla5">5</a></li>
      <li class="page-item"><a class="page-link" href="edm04tabla1">Next</a></li>
      
    </ul>
  </nav><br>


