<table class="container" style="width: 85%;">
    <thead>
        <tr>
            <td class="azultabla1" colspan="6">BAI010 Practicas, Entradas/Salidas y Actividades del Proceso</td>
          </tr>
    <th class="celeste2tabla1">
        Práctica de Gestión
    </th>
    <th colspan="2" class="celeste2tabla1">
        Entradas
    </th>
    <th colspan="2" class="celeste2tabla1">
        Salidas
    </th>
    </thead>
    <tr>
        <td rowspan="7" class="texto"> <strong> BAI10.05Verificar y revisar la integridad del  <br>
         configuración. repositorio de configuración.
            </strong>  <br>       
         Revisar periódicamente el repositorio de configuración <br>
          y verificar la integridad y exactitud con respecto al
          <br>  objeto desado.
            </td>
        <td><b>De</b></td>
        <td><b>Descripción</b></td>
        <td><b>Descripción</b></td>
        <td><b>A</b> </td>
    </tr>
    <tr>
        <td rowspan="3"> </td>
        <td rowspan="3"> </td>
        <td class="texto">Resultados de la verificación física de elementos de configuración</td>
        <td class="texto">Interno</td>
    </tr>
    <tr>
        <td class="texto">Desviaciones de licencias</td>
        <td class="texto"><a routerLink="/meao3tabla3">MEA03.03</a></td>
    </tr>
    <tr>
        <td class="texto">Resultados de exámenes de completitud del repositorio</td>
        <td class="texto">Interno</td>

    </tr>
</table>
<table class="container" style="width: 85%;">
    <thead >
    <tr>
        <td class="celeste2tabla1">Actividades </td>
    </tr>
    </thead>
    <tr>
        <td class="texto">1.Verificar periódicamente los elementos de configuración en activo contra el repositorio de configuración comparando configuraciones físicas y lógicas, <br>
            usando las herramientas apropieadas de descubrimiento, según sea necesario . 
            </td>
    </tr>
    <tr>
        <td class="texto">2.Informar y revisar todas las desviaciones de las correcciones o acciones aprobadas para eliminar los activos no autorizados.<br> 
            </td>
    </tr>
    <tr>
        <td class="texto">3.Verificar periódicamente que todos los elementos físicos de configuración, tal como se definen en el repositorio, existen fisicamente. Informar de <br>
            cualquier desviación de la Dirección.  
            </td>
    </tr>
    <tr>
        <td class="texto">4.Establecer periódicamente el objetivo de la completitud del repositorio de configuración basado en las necesidades de negocio. <br>
            </td>
    </tr>
    <tr>
        <td class="texto">5.Periodicamente comprar el grado de completitud y precisión respecto a los objetivos y tomar medidas correctivas, según sea necesario, para mejorar <br>
            la calidad de los datos del repositorio. 
            </td>
    </tr>

</table>
<br>
<table class="table table-bordered" class="container" style="width: 87%;">
    <thead>
        <tr>
            <th class="azultabla1" colspan="6">BAI010 Guias Relacionada</th>
        </tr>
    </thead>
    <tr>
        <th class="celeste2tabla1" style="width: 20%;">Estándares Relacionados</th>
        <th class="celeste2tabla1" style="width: 60%;">Referencias Detalladas</th>
    </tr>
    <tr>
        <td style="width: 20%;">ISO/IEC 20000</td>
        <td style="width: 60%;">9.1 Gestión de la configuración</td>
    </tr>
    <tr>
        <td style="width: 20%;">ITILV3 2011</td>
        <td style="width: 60%;">14 Gestión de la configuración y activos del servicio</td>
    </tr>
    </table>
<br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/pagina167">BAI10</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina168">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina169">2</a></li>
      
      
      <li class="page-item"><a class="page-link" routerLink="">Next</a></li>
      
    </ul>
  </nav><br>
