<body>
    <h1 style="color: rgb(255, 255, 255); font-size: x-large; text-align: center;">CONTENIDOS DE LA GUIA DE REFERENCIA DE PROCESOS DE COBIT 5 </h1>
    <table class="container" style="width: 87%;">
        <tr>
            <th class="azultabla1" style="width: 50%;">BAI04 Gestionar la Disponibilidad y la capacidad</th>
            <th class="azultabla1" style="width: 50%;">Area: Gestión<br>
                Dominio:Construir Adquirir e implementar</th>
        </tr>
        <tr>
            <td colspan="2" class="texto">Descripción  del Proceso<br>
                Equilibrar las necesidades actuales y futuras de disponibilidad, rendimiento y capacidad con una provisión de servicio efectiva en costes. Incluye la evaluación de las necesidades actuales, la previsión de necesidades futuras basadas en los requerimientos de negocio, el análisis el impacto en el negocio y la evaluación del riesgo para planificar e implementar acciones para alcanzar los requerimientos idientificados.</td>
        </tr>
        <tr>
            <td colspan="2" class="texto">Declaración del Propósito del Proceso<br>
               Mantener la disponibilidad del servicio, la gestión eficiente de recursos y la optimización del rendimiento de los sistemas mediante la predicción del rendimiento futuro de los requerimientos de la capacidad.</td>
        </tr>
        <tr>
            <th class="celeste2tabla1" colspan="2">El proceso apoya la consecución de un conjunto de principales metas TI:</th>
        </tr>
        <tr>
            <th class="celeste2tabla1" style="width: 50%;">Meta TI</th>
            <th class="celeste2tabla1" style="width: 50%;">Métricas Relacionadas</th>
        </tr>
        <tr>
            <td colspan="1" class="texto">07 Entrega de servicios de TI de acuerdo a los requisitos del negocio</td>
            <td colspan="1" class="texto">•Número de interrupciones del negocio del negocio debidas a incidentes en el servicio de TI<br>
                
                •Porcentaje de partes interesadas satisfechas con el cumplimiento del <br>
                servicio de TI entregado respecto a los niveles de servicio acordados<br>
                •Porcentaje de usuarios satisfechos con la canlidad de servicios de TI entregados<br>
                
            </td>
        </tr>
        <tr>
            <td colspan="1" class="texto">11 Optimización de activos,recursos y capacidades de TI</td>
            <td colspan="1" class="texto">•Frecuencia de evaluaciones de la madurez de la capacidad y de la <br>
                optimización de costes <br>
                •Tendencia de los resultados de las evaluaciones.<br>
                •Niveles de satisfacción de los ejecutivos de negocio y TI con los costes y<br>
                capacidades TI.

            </td>
        </tr>
        <tr>
            <td colspan="1" class="texto">14 Disponibilidad de información relevante para la toma de decisiones<br>
            <td colspan="1" class="texto">•Nivel de satisfacción de los usuarios de negocio y puntualidad o disponibilidad de la información de gestión.<br>
                •Número de incidentes en los procesos de negocio causados por la indisponibilidad de la información.<br>
                •Relación o cantidad de decisiones de negocio erróneas en las que la falta de información o la ingormación erronea ha sido la principal causa.<br>
            </td>
        </tr>
        <tr>
            <th class="celeste2tabla1" colspan="2">Objetivos y Métricas del Poceso</th>
        </tr>
        <tr>
            <th class="celeste2tabla1" style="width: 50%;">Meta del Proceso</th>
            <th class="celeste2tabla1" style="width: 50%;">Métricas Relacionadas</th>
        </tr>
        <tr>
            <td colspan="1" class="texto">1.El plán de disponibilidad anticipa la expectativa del negocio en cuanto a <br>
                 requerimientos críticos de capacidad.<br>
            </td>
            <td colspan="1" class="texto">•Número de actualizaciones de capacidad, rendimiento o disponibilidad no planificada.<br>
            </td>
        </tr>
        <tr>
            <td colspan="1" class="texto">2.Cumplimiento de requerimientos de capacidad, rendimiento y disponibilidad. <br>
            </td>
            <td colspan="1" class="texto">•Número de picos de transacciones donde se excede la meta de rendimiento.<br>
                •Número de incidentes de disponibilidad. <br>
                •¨Número de eventos donde la capacidad ha excedido los límites planificados
            </td>
        </tr>
        <tr>
            <td colspan="1" class="texto">3.Cuestiones de disponibilidad, rendimiento y capacidad identificados y  <br>
                resueltos de manera rutinaria.<br>
           </td>
           <td colspan="1" class="texto">•Número y porcentaje de cuestiones de disponibilidad, rendimiento y <br>
             capacidad no resueltos
           </td>
        
        </tr>
    </table>
</body>



<br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/pagina141">BAI04</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina142">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina143">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/pagina144">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
      
    </ul>
  </nav><br>
