
    <app-listar-bai05></app-listar-bai05><br>
    
    <table class="table table-bordered" class="container" style="width: 87%;">
      <thead>
          <tr>
            <td class="azultabla1" colspan="5">BAI05 Prácticas del Procesos, Entradas/Salidas y Actividades</td>
          </tr>
        </thead>
      <tbody>
          <tr>
              <th class="celeste2tabla1" colspan="1">Prácticas de Gestión</th>
              <th class="celeste2tabla1" colspan="2">Entradas</th>
              <th class="celeste2tabla1" colspan="2">Salidas</th>
          </tr>
          <tr>
              <td rowspan="6"  class="texto"><strong> BAI05.01 Establecer el deseo de cambiar.</strong><br>
                  Comprender el alcance e impacto del cambio divisado<br>
                  y la disposiciòn/voluntad de cambiar de las partes  <br>
                  interesadas. Identificar las acciones para motivar a las <br>
                  partes interesadas para aceptar y querer que el cambio <br>sea exitoso.
              <th ><b>De</b> </th>
              <th ><b>Descripción</b></th>
              <th ><b>Descripción</b></th>
              <th ><b>A</b></th>
          </tr>
          <tr>
              <td  class="texto"><a routerLink="/pagina103">AP011.03</a> </td>
              <td  class="texto">Resultados de la cantidad <br>del servicio, incluyendo los comentarios<br>del cliente</td>
              <td  class="texto">Comunicaciones de los <br>motivadores del cambio</td>
              <td  class="texto">Interno</td>
          </tr>
          <tr>
              <td  class="texto"><a routerLink="/pagina130">BAI02.01</a></td>
              <td  class="texto">• Criterios de aceptaciòn<br>confirmados por las<br>partes interesadas <br>
                  •Repositorio de definicion de requerimientos</td>
              <td rowspan="4" class="texto">Comunicaciones de <br>la direcciòn ejecutiva <br>comprometiendo se con el cambio</td>
              <td rowspan="4" class="texto">Interno</td>
          </tr>
          <tr>
              <td class="texto"><a routerLink="/pagina132" >BAI02.03</a></td>
              <td  class="texto"> •Acciones de mitigaciòn <br> de riesgos <br> •Requerimientos del registro <br>del riesgo</td>
          </tr>
          <tr>
              <td  class="texto"><a routerLink="bai03.01">BAI03.01</a></td>
              <td  class="texto">Especificaciones del diseño <br>de alto nivel aprobadas</td>
          </tr>
          <tr>
              <td  class="texto"><a routerLink="/pagina135">BAI03.02</a></td>
              <td  class="texto">Especificaciones de diseño <br>detallado aprobadas</td>
          </tr>
          
          <tr>
              <td class="celeste2tabla1" colspan="5" align="center"><strong> Actividades</strong>
              </td >
          </tr>
          <tr>
              <td colspan="5" class="texto">1. Evaluar el alcance y el impacto de cambio diivisado, las diferentes partes interesadas que se veràn afectadas, la naturaleza del impacto y la
                  involucraciòn necesaria por cada grupo de partes interesadas y la disposiciòn y habilidad actual para adoptar el cambio.
              </td>
          </tr>
          <tr>
              <td colspan="5" class="texto">2.Identificar, impulsar y comunicar puntos de conflicto, eventos negativos, riesgos, insatisfacciòn de clientes y problemas del negocio, asi como 
                  beneficios iniciales, oportunidades y recompensas futuras y ventajas competitivas, como fundamento para el establecimiento del deseo de cambiar. 
              </td>
          </tr>
          <tr>
              <td colspan="5" class="texto">3. Emitir las comunicaciones clave del comitè Ejecutivo o el Director General Ejecutivo para demostrar el compromiso con el cambio.
              </td>
          </tr>
          <tr>
              <td colspan="5" class="texto">4.Proveer un liderazgo visible por parte de la alta direcciòn para establecer  la direcciòn y alinear, motivar e onpirar a las partes interesadas en desear el cambio

              </td>
          </tr>
         
  </table>
<br>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" routerLink="/pagina145">BAI05</a></li>
    <li class="page-item"><a class="page-link" routerLink="/pagina146">1</a></li>
    <li class="page-item"><a class="page-link" routerLink="/pagina147">2</a></li>
    <li class="page-item"><a class="page-link" routerLink="/pagina148">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
    
  </ul>
</nav><br>
