<div class="container">
    <table class="table">
        <thead class="theader">
        <tr>
            <td class="titulos" scope="col" colspan="5">DSS06 Prácticas, Entradas/Salidas y Actividades del Proceso</td>
        </tr>
    </thead>
    <thead style="text-align:center" class="fondo2">
    <tr>
        <td style="text-align:center" class="fondo2">Práctica de Gestión</td>
    <td  style="text-align:center" class="fondo2" colspan="2">Entradas</td>
    <td style="text-align:center" class="fondo2" colspan="3">Salidas</td>
    </tr>
</thead>
    <tr>
        <th  scope="row" rowspan="3">DSS06.01 Alinear actividades de control
            embebidas en los procesos de negocio con los objetivos corporativos. 
            <p class="texto">Evaluar y supervisar continuamente la ejecución de las
                actividades de los procesos de negocio y controles relacionados, basados
                en el riesgo corporativo, para asegurar que el procesamiento de controles
                está alineado con las necesidades del negocio.   
            </p>
        </th>
        <td style="text-align: center;">De</td>
        <td style="text-align: center;">Descripción</td>
        <td style="text-align: center;">Descripción</td>
        <td style="text-align: center;">A</td>
    </tr>
    <tr>
        <td rowspan="2"><a href="pagina53">APO01.01</a></td>
        <td rowspan="2">
            <li>Procedimientos de integridad de datos</li>
            <li>Directrices de clasificación de datos</li>
        </td>
        <td>Resultados de las revisiones de efectividad de procesamiento</td>
        <td><a href="mea02c">MEA02.04</a></td>
    </tr>
    <tr>
        <td>Recomendaciones y análisis de las causas raíces</td>
        <td valign="middle"><a href="/pagina150">BAI06.01</a><br>
            <a href="mea02c">MEA02.04</a><br>
            <a href="mea02d">MEA02.07</a><br>
            <a href="mea02d">MEA02.08</a>
        </td>
    </tr>
    <tr>
        <td colspan="5" style="text-align:center" class="fondo">Actividades</td>
    </tr>
    <tr>
        <td colspan="5">1. Identificar y documentar las actividades de control de 
            los procesos de negocio claves para satisfacer los requerimientos 
            de control para los objetivos estratégicos, operacionales, de 
            informes y cumplimiento.
        </td>
    </tr>
    <tr>
        <td colspan="5">2. Priorizar las actividades de control basadas en el riesgo 
            inherente del negocio e identificar controles clave.
        </td>
    </tr>
    <tr>
        <td colspan="5">3. Asegurar la propiedad de las actividades de control claves.
        </td>
    </tr>
    <tr>
        <td colspan="5">4. Supervisar continuamente las actividades de control de 
            extremo a extremo para identificar oportunidades de mejora.
        </td>
    </tr>
    <tr>
        <td colspan="5">5. Mejorar continuamente el diseño y operación de los 
            controles de procesos de negocio.</td>
    </tr>
</table>
</div>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">HOME</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso6tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/listraci06">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso6tabla2">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso6tabla3">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso6tabla4">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso6tabla5">6</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso6tabla6">7</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso6tabla7">8</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso6tabla8">9</a></li>
      <li class="page-item"><a class="page-link" href="/dsso6tabla3">Next</a></li>
      
    </ul>
  </nav><br>
