<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>localhost4200</title>

</head>


<body>
  <table class="table table-bordered" class="container" style="width: 87%;">
    <thead>
      <tr>
        <th class="azultabla1" colspan="6">MEA01 Practicas, Entradas/Salidas y Actividades del Proceso (cont)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="celestetabla1" colspan="2">Práctica de gobierno</th>
        <th class="celestetabla1" colspan="2">Entradas</th>
        <th class="celestetabla1" colspan="2">Salidas</th>
      </tr>
      <tr class="text-top">
        <td rowspan="2" colspan="2"><b>MEA03.04 Obtener la garantia del cumplimiento de requisitos externos.</b> 
          <br> Obtener y notificar garantias de cumplimiento y adherencia a politicas, principios, estandares, procedimientos y metodologias. Confirmar que las acciones correctivas para tratar las diferencias en el cumplimiento son cerradas a tiempo. 
        </td>
          <th colspan="1">De</th>
          <th colspan="1">Descripción</th>
          <th colspan="1">Descripción</th>
          <th colspan="1">A</th>
      </tr>
      <tr class="text-top">
        <td colspan="1"></td>
        <td colspan="1"></td>
        <td class="text-top" >Informes de desempeño</td>
        <td ><a href="edm01tabla4">EDM01.03</a><br>
          <a href="pagina51">APO</a><br>
          <a href="pagina119">BAI</a><br>
          <a href="dsso1tabla1">DSS</a><br>
          <a href="mea01">MEA</a><br></td>
        

        
      </tr>
      
            
      
      <tr>
        <th class="celestetabla1" colspan="6" > <h6 class="centro"> <b>Actividades</b></h6></th>
      </tr>
      <tr>
        <td colspan="6">1. Diseñar informes de rendimiento de procesos que sean concisos, fáciles de entender y ajustados a las diferentes necesidades de gestión y audiencias.<br>
          Facilitar la toma efectiva y oportuna de decisiones (p. ej., cuadros de mando, informes con semáforos) y asegurar que la causa y el efecto entre objetivos y métricas se comunican de una forma comprensible.</td>
      </tr>
      <tr>
        <td colspan="6">2. Comparar los valores de rendimiento con metas y estudios comparativos internos (benchmarks) y, cuando sea posible, con estudios comparativos externos (anto del sector, como respecto a competidores clave).
        </td>
      </tr>
      <tr>
        <td colspan="6">3. Recomendar cambios a los objetivos y métricas, cuando sea procedente.
        </td>
      </tr>
      <tr>
        <td colspan="6">4. Distribuir los informes a las partes interesadas relevantes.
        </td>
      </tr>
      <tr>
        <td colspan="6">5. Analizar la causa de las desviaciones respecto a las metas, iniciar acciones correctivas, asignar responsabilidades para la remediación y realizar su seguimiento. En el momento oportuno, revisar todas las desviaciones y buscar causas raíz cuando sea necesario. Documentar las incidencias para contar con guía adicional si el problema vuelve a aparecer. Documentar los resultados.</td>
      </tr>
      <tr>
        <td colspan="6">6. Cuando sea factible, enlazar el cumplimiento de objetivos de desempeño con el sistema de comprensación y gratificación de la organización.

        </td>
      </tr>

      <tr>
        <th class="azultabla1" colspan="6">MEA03 Practicas, Entradas/Salidas y Actividades del Proceso (cont)</th>
      </tr>
    
    <tbody>
      <tr>
        <th class="celestetabla1" colspan="2">Práctica de gobierno</th>
        <th class="celestetabla1" colspan="2">Entradas</th>
        <th class="celestetabla1" colspan="2">Salidas</th>
      </tr>
      <tr class="text-top">
        <td rowspan="3" colspan="2"><b>MEA01.05 Asegurar la implantación de medidas correctivas</b> 
          <br> Apoyar a las partes interesadas en la identificación incio y seguimiento de las acciones correctivas para solventar anomalias. 
        </td>
          <th colspan="1">De</th>
          <th colspan="1">Descripción</th>
          <th colspan="1">Descripción</th>
          <th colspan="1">A</th>
      </tr>
      <tr class="text-top">
        <td colspan="1"><a href="edm05tabla3">EDM05.02</a></td>
        <td colspan="1">Disectrices de escalado</td>
        <td >Acciones y asignaciones correctivas</td>
        <td ><a href="edm01tabla4">EDM01.03</a><br>
          <a href="pagina51">APO</a>
          <br><a href="pagina119">BAI</a>
          <br><a href="dsso1tabla1">DSS</a>
          <br><a href="mea01">MEA</a></td>
        
      </tr>
      <tr>
        <td><a href="edm05tabla3">EDM05.03</a></td>
        <td>Acciones correctivas de incumplimientos</td>
        <td>Estado y resultado de las acciones</td>
        <td><a href="edm01tabla4">EDM01 .03</a>
        </td>
        </tr>
        <tr>
            <th class="celestetabla1" colspan="6" > <h6 class="centro"> <b>Actividades</b></h6></th>
          </tr>
          <tr>
            <td colspan="6">1. Revisar las respuestas, alternativas y recomendaciones de la dirección con el fin de tratar los problemas y desviaciones mayores.
            </td>
          </tr>
          <tr>
            <td colspan="6">2. Asegurar que se mantiene la asignación de responsabilidades en las acciones correctivas.
            </td>
          </tr>
          <tr>
            <td colspan="6">3. Hacer seguimiento de los resultados de las acciones comprometidas.
            </td>
          </tr>
          <tr>
            <td colspan="6"> 4. Informar de los resultados a las partes interesadas.
            </td>
          </tr>
          



  </tbody>
</table>
</body>

<br>
<br>

<!-------------------------------------------------------------------------------------->
<body>
  <table class="table table-bordered" class="container" style="width: 87%;">
    <thead>
      <tr>
        <th class="azultabla1" colspan="6">MEA03 Directrices relacionadas</th>
      </tr>
    </thead>

    <tr>
    <td class="celestetabla1">Estándar Relacionado</td>
    <td class="celestetabla1">Referencia Detallada</td>
    </tr>
    <tr>
    <td>ISO/IEC 20000</td>
    <td>6.2 Informes del servicio</td>
                </tr>
                <tr>
                  <td class="celestetabla1">ITIL V3 2011</td>
                  <td class="celestetabla1">26. Informes del Servicio<br>27. Medida del Servicio</td>
                  </tr>
                  <tr>
                  
                              </tr>
    </table>
</body>

</html><br>

<br>
 <!-- --------------------------------------------------slect------------------------------------------- -->
 <nav aria-label="Page navigation example " class="container" style="width: 87%;">
  <ul class="pagination container">
    <li class="page-item"><a class="page-link" routerLink="/mea01">1</a></li>
    <li class="page-item"><a class="page-link" href="listar-tablaz">Tabla RACI</a></li>
    <li class="page-item"><a class="page-link" href="mea01a">2</a></li>
    <li class="page-item"><a class="page-link" href="mea01b">3</a></li>
    <li class="page-item"><a class="page-link" href="mea02">Coninuar MEA02</a></li>
    
  </ul>
  </nav><br>
        <!-- --------------------------------------------------slect------------------------------------------- -->



