<span class="titulo" >{{ titulo | uppercase}}</span>
<form [formGroup]="cabecerab04Form" (ngSubmit)="agregarCabecerab04()" class="container bg-light bc row row-cols-4 row-cols-lg-4 g-1 g-lg-2"
style="height: 10px;" style="width: 60%;" style="margin: 35px   190px;margin:0 auto;" >
   
    <div class="form-group">
        <input type="text" formControlName="n1"
        class="form-control" placeholder="BAI">  
        <div class="validacion"
            *ngIf="cabecerab04Form.get('n1')?.hasError('required') && cabecerab04Form.get('n1')?.touched">
            <span>La categoria<b> es obligatoria</b></span>
        </div>  
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="n2"
        class="form-control" placeholder="BAI">  
        <div class="validacion"
            *ngIf="cabecerab04Form.get('n2')?.hasError('required') && cabecerab04Form.get('n2')?.touched">
            <span>La categoria<b> es obligatoria</b></span>
        </div>  
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="n3"
        class="form-control" placeholder="R-A-C-I"> 
        <div class="validacion"
            *ngIf="cabecerab04Form.get('n3')?.hasError('required') && cabecerab04Form.get('n3')?.touched">
            <span>La ubicación<b> es obligatoria</b></span>
        </div>   
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="n4"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab04Form.get('n4')?.hasError('required') && cabecerab04Form.get('n4')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="n5"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab04Form.get('n5')?.hasError('required') && cabecerab04Form.get('n5')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="n6"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab04Form.get('n6')?.hasError('required') && cabecerab04Form.get('n6')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="n7"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab04Form.get('n7')?.hasError('required') && cabecerab04Form.get('n7')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="n8"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab04Form.get('n8')?.hasError('required') && cabecerab04Form.get('n8')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="n9"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab04Form.get('n9')?.hasError('required') && cabecerab04Form.get('n9')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="n10"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab04Form.get('n10')?.hasError('required') && cabecerab04Form.get('n10')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="n11"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab04Form.get('n11')?.hasError('required') && cabecerab04Form.get('n11')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="n12"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab04Form.get('n12')?.hasError('required') && cabecerab04Form.get('n12')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="n13"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab04Form.get('n13')?.hasError('required') && cabecerab04Form.get('n13')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="n14"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab04Form.get('n14')?.hasError('required') && cabecerab04Form.get('n14')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="n15"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab04Form.get('n15')?.hasError('required') && cabecerab04Form.get('n15')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="n16"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab04Form.get('n16')?.hasError('required') && cabecerab04Form.get('n16')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="n17"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab04Form.get('n17')?.hasError('required') && cabecerab04Form.get('n17')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="n18"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab04Form.get('n18')?.hasError('required') && cabecerab04Form.get('n18')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="n19"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab04Form.get('n19')?.hasError('required') && cabecerab04Form.get('n19')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="n20"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab04Form.get('n20')?.hasError('required') && cabecerab04Form.get('n20')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="n21"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab04Form.get('n21')?.hasError('required') && cabecerab04Form.get('n21')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="n22"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab04Form.get('n22')?.hasError('required') && cabecerab04Form.get('n22')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="n23"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab04Form.get('n23')?.hasError('required') && cabecerab04Form.get('n23')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="n24"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab04Form.get('n24')?.hasError('required') && cabecerab04Form.get('n24')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="n25"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab04Form.get('n25')?.hasError('required') && cabecerab04Form.get('n25')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <p id="formulario"></p>
    <div class="form-group">
        <input type="text" formControlName="n26"
        class="form-control" placeholder="R-A-C-I">   
        <div class="validacion"
            *ngIf="cabecerab04Form.get('n26')?.hasError('required') && cabecerab04Form.get('n26')?.touched">
            <span>El precio<b> es obligatorio</b></span>
        </div> 
    </div>
    <div><br><br>
        <button routerLink="/pagina142" class="btn btn-secondary">Volver</button>
        <button class="btn btn-success" type="submit" [disabled]="cabecerab04Form.invalid" >Aceptar</button>
    </div>
</form>

