<div class="container">
    <table class="table">
        <thead class="theader">
        <tr>
            <td class="titulos" scope="col" colspan="5">DSS05 Prácticas, Entradas/Salidas y Actividades del Proceso (cont.)</td>
        </tr>
    </thead>
<tr>
    <td style="text-align:center" class="fondo2">Práctica de Gestión</td>
    <td style="text-align:center" class="fondo2" colspan="2">Entradas</td>
    <td style="text-align:center" class="fondo2" colspan="3">Salidas</td>
</tr>
<th scope="row" rowspan="4">DSS06.05 Asegurar la trazabilidad de los eventos y responsabilidades y de información.
    <p class="texto">Asegurar que la información de negocio puede ser rastreada 
        hasta los responsables y eventos de negocio que la originan. Esto 
        permite trazabilidad de la información a lo largo de su ciclo de vida y 
        procesos relacionados. Proporciona garantías de que la información que 
        conduce el negocio es de confianza y ha sido procesada acorde a los 
        objetivos definidos.
    </p>
</th>
<tr>
    <td style="text-align: center;">De</td>
        <td style="text-align: center;">Descripción</td>
        <td style="text-align: center;">Descripción</td>
        <td style="text-align: center;">A</td>
</tr>
<tr>
    <td rowspan="2"></td>
    <td rowspan="2"></td>
    <td>Requerimientos de retención</td>
    <td>Interno</td>
</tr>
<tr>
    <td>Registro de transacciones</td>
    <td>Interno</td>
</tr>
<tr>
    <td colspan="5" style="text-align:center" class="fondo">Actividades</td>
</tr>
<tr>
    <td colspan="5">1. Definir requerimientos de retención, basados en los
        requerimientos de negocio, para conocer las necesidades operativas, de
        reporte financiero y cumplimiento.</td>
</tr>
<tr>
    <td colspan="5">2. Capturar la fuente de información evidencia que la
        soporta y el registro de las transacciones.</td>
</tr>
<tr>
    <td colspan="5">3. Eliminar la fuente de información, la evidencia que la
        soporta y el registro de transacciones de acuerdo con la política de
        retención.</td>
</tr>
</table>
</div>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">HOME</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso6tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/listraci06">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso6tabla2">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso6tabla3">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso6tabla4">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso6tabla5">6</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso6tabla6">7</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso6tabla7">8</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso6tabla8">9</a></li>
      <li class="page-item"><a class="page-link" href="/dsso6tabla7">Next</a></li>
      
    </ul>
  </nav><br>
