
   <app-listar-tablatres></app-listar-tablatres>

   <br>
       <div class="table-responsive"> 
       <table class="table table-bordered" class="containere" style="width: 87%; margin: 0 auto;">
           <thead>
             <tr>
               <th class="azultabla1" colspan="6">BAI02 Prácticas, Entradas/Salidas y Actividades del Proceso</th>
             </tr>
           </thead>
       <tbody>
           <tr>
               <th class="celeste2tabla1" colspan="2">Prácticas de Gestión</th>
               <th class="celeste2tabla1" colspan="2">Entradas</th>
               <th class="celeste2tabla1" colspan="2">Salidas</th>
           </tr>
           <tr>
               <td rowspan="8" colspan="2" class="texto"><b>BAI02.01 Definir y mantener los requerimientos <br> técnicos y funcionales del negocio.</b><br>
                   Basándose en el caso de negocio, identificar, priorizar<br>espcificar y acordar los requerimientos de información <br>
                   de negocio, funcionales técnicosy de control que<br>cubra el alcance/entendiminto de todas las iniciativas<br>necesarias para alcanzar los resultados esperados de la<br>solución de negocio de TI propuesta.
               <th colspan="1">De</th>
               <th colspan="1">Descripción</th>
               <th colspan="1">Descripción</th>
               <th colspan="1">Hacia</th>
           </tr>
           <tr>
               <td colspan="1" class="texto"><a href="/pagina55" >AP001.06</a></td>
               <td colspan="1">•Procedimientos de<br>integridad de datos<br>•Guias de control y <br>seguridad de los atos<br>•Guías de clasificación<br>de datos</td>
               <td rowspan="1" class="texto">Repositorio de definición<br>de requerimientos</td>
               <td rowspan="1" class="texto"><a href="/pagina135" >BAI03.01</a><br><a href="/pagina135" >BAI03.02</a><br><a href="/pagina142" >BAI04.01</a><br><a href="/pagina146" >BAI05.01</a></td>
           </tr>
           <tr>
               <td colspan="1" class="texto"><a href="/pagina64">AP003.01</a></td>
               <td colspan="1" class="texto">Principios de arquitectura<br></td>
               <td rowspan="1" class="texto">Confirmación de los <br>criterios de aceptación<br>de las partes interesadas</td>
               <td rowspan="1" class="texto"><a href="/pagina135" >BAI03.01</a><br><a href="/pagina135" >BAI03.02</a><br><a href="/pagina143" >BAI04.03</a><br><a href="/pagina146" >BAI05.01</a><br><a href="/pagina147" >BAI05.02</a></td>
           </tr>
           <tr>
               <td colspan="1" class="texto"><a href="/pagina65">AP003.02</a></td>
               <td colspan="1"> •Modelo de arquitectura<br>de la información<br> •Descripciones de los <br>dominios de referencia <br> y definición de arquitectura
                   </td>
                   <td rowspan="4" class="texto">Registro de las peticiones<br>de los cambios de los <br>requerimientos</td>
                   <td rowspan="4" class="texto"><a href="/pagina138" >BAI03.09</a></td>
           </tr>
           <tr>
               <td colspan="1"><a href="/pagina67" >AP003.05</a></td>
               <td colspan="1">Guía de desarrollo de la<br>solución</td>
           </tr>
           <tr>
               <td colspan="1"><a href="/apo10tabla2" >AP010.02</a></td>
               <td colspan="1">RFIs y RFPs de<br>proveedores</td>
           </tr>
           <tr>
               <td colspan="1"><a href="/apo10tabla3" >AP010.03</a></td>
               <td colspan="1">Criterios de adaptación</td>
           </tr>
       </tbody>
   </table></div> <br><br>
   
   
   <br>
   <nav aria-label="Page navigation example " class="container" style="width: 87%;">
       <ul class="pagination">
         <li class="page-item"><a class="page-link" routerLink="/pagina129">BAI02</a></li>
         <li class="page-item"><a class="page-link" routerLink="/pagina130">1</a></li>
         <li class="page-item"><a class="page-link" routerLink="/pagina131">2</a></li>
         <li class="page-item"><a class="page-link" routerLink="/pagina132">3</a></li>
         <li class="page-item"><a class="page-link" href="pagina133">Continua BAIO3</a></li>
         
       </ul>
     </nav><br>
   
   
   