<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>

<body>
    <table class="container" style="width: 87%;">
        <tr>
            <td colspan="5">APO11 Prácticas, Entradas/Salidas y Actividades del Proceso (cont.)</td>
        </tr>
        <th>
            Prácticas de Gestión
        </th>
        <th colspan="2">
            Entradas
        </th>
        <th colspan="2">
            Salidas
        </th>
        <tr>
            <td rowspan="4">
                APO11.06 Mantener una mejora continua.<br>
                Mantener y comunicar regularmente un plan de la calidad global que promueva la mejora continua. Esto
                debería incluir la necesidad y los beneficios de una mejora continua. Recoger y analizar datos sobre el
                SGC y mejorar su eficacia. Corregir las no conformidades para prevenir la recurrencia. Promover una
                cultura de mejora continua de la calidad.
            </td>
            <td>De</td>
            <td>Descripción</td>
            <td>Descripción</td>
            <td>A</td>
        </tr>
        <tr>
            <td rowspan="3"></td>
            <td rowspan="3"></td>
            <td>Comunicación sobre las mejores prácticas y la mejora continua</td>
            <td>todo APO<br>
                todo BAI<br>
                todo DSS<br>
                todo MEA</td>
        </tr>
        <tr>
            <td>Ejemplos de las mejores prácticas para ser compartidos.</td>
            <td>todo APO<br>
                todo BAI<br>
                todo DSS<br>
                todo MEA</td>
        </tr>
        <tr>
            <td>resultados de revisiones de análisis comparativos de la calidad</td>
            <td>todo APO<br>
                todo BAI<br>
                todo DSS<br>
                todo MEA</td>
        </tr>
        <tr>
            <td colspan="5">Actividades</td>
        </tr>
        <tr>
            <td colspan="5">1. Mantener y comunicar regularmente la necesidad y los beneficios de la mejora continua.
            </td>
        </tr>
        <tr>
            <td colspan="5">2. Establecer una plataforma para compartir las mejores prácticas y para capturar la
                información sobre los defectos y errores que permita aprender de ellos.</td>
        </tr>
        <tr>
            <td colspan="5">3. Identificar ejemplos recurrentes de los defectos de calidad, determinar su causa raíz,
                evaluar su impacto y resultado y acordar acciones de mejorar con todos los miembros de los proyectos y
                los servicios.</td>
        </tr>
        <tr>
            <td colspan="5">4. Promover una cultura de calidad y mejora continua.</td>
        </tr>
        <tr>
            <td colspan="5">5. Establecer un circuito de retroalimentación entre la gestión de la calidad y la gestión
                de problemas.</td>
        </tr>
        <tr>
            <td colspan="5">6. Proporcionar a los empleados la formación necesaria en los métodos y herramientas de
                mejora continua.</td>
        </tr>
        <tr>
            <td colspan="5">7. Realizar un análisis comparativo con los resultados de las revisiones de calidad internas
                frente a datos históricos, las directrices de la industria, las normas y datos de tipo similar en otras
                empresas.</td>
        </tr>
    </table>
    <table class="container" style="width: 87%;">
        <tr>
            <td colspan="2">APO11 Guías Relacionadas</td>
        </tr>
        <th>
            Estándar
        </th>
        <th>
            Referencia Detallada
        </th>
        <tr>
            <td>ISO/IEC 9001:2008</td>
            <td></td>
        </tr>
    </table>
</body>

</html><br>
<nav aria-label="Page navigation example " class="container" style="width: 811%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">APOO11</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo11tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/Apo011raci">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo11tabla2">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo11tabla3">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo11tabla4">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/apo11tabla5">6</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
      
    </ul>
  </nav>
