<div>
    <span class="d-grid gap-2 col-4  mx-auto ">{{title}}</span>
    <form [formGroup]="apo05tituloForm" class="container bg-light bc row row-cols-1 row-cols-lg-4 g-1 g-lg-2" style="height: 10px;" style="width: 60%;" style="margin: 35px   190px;" (ngSubmit)="agregarApo05titulo()">
        <div class="form-group">
            <input type="text" formControlName="apo05titulo1" class="form-control" placeholder="apo05titulo1">
            <div class="validacion"
               *ngIf="apo05tituloForm.get('apo05titulo1')?.hasError('required') && apo05tituloForm.get('apo05titulo1')?.touched">
               <span>Este campo<b> es obligatorio</b></span>
            </div>  
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo05titulo2" class="form-control" placeholder="apo05titulo2">
            <div class="validacion"
                *ngIf="apo05tituloForm.get('apo05titulo2')?.hasError('required') && apo05tituloForm.get('apo05titulo2')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>  
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo05titulo3" class="form-control" placeholder="apo05titulo3">
            <div class="validacion"
                *ngIf="apo05tituloForm.get('apo05titulo3')?.hasError('required') && apo05tituloForm.get('apo05titulo3')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>  
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo05titulo4" class="form-control" placeholder="apo05titulo4">
            <div class="validacion"
                 *ngIf="apo05tituloForm.get('apo05titulo4')?.hasError('required') && apo05tituloForm.get('apo05titulo4')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo05titulo5" class="form-control" placeholder="apo05titulo5">
            <div class="validacion"
                 *ngIf="apo05tituloForm.get('apo05titulo5')?.hasError('required') && apo05tituloForm.get('apo05titulo5')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo05titulo6" class="form-control" placeholder="apo05titulo6">
            <div class="validacion"
                 *ngIf="apo05tituloForm.get('apo05titulo6')?.hasError('required') && apo05tituloForm.get('apo05titulo6')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo05titulo7" class="form-control" placeholder="apo05titulo7">
            <div class="validacion"
                 *ngIf="apo05tituloForm.get('apo05titulo7')?.hasError('required') && apo05tituloForm.get('apo05titulo7')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo05titulo8" class="form-control" placeholder="apo05titulo8">
            <div class="validacion"
                 *ngIf="apo05tituloForm.get('apo05titulo8')?.hasError('required') && apo05tituloForm.get('apo05titulo8')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo05titulo9" class="form-control" placeholder="apo05titulo9">
            <div class="validacion"
                 *ngIf="apo05tituloForm.get('apo05titulo9')?.hasError('required') && apo05tituloForm.get('apo05titulo9')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo05titulo10" class="form-control" placeholder="apo05titulo10">
            <div class="validacion"
                 *ngIf="apo05tituloForm.get('apo05titulo10')?.hasError('required') && apo05tituloForm.get('apo05titulo10')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo05titulo11" class="form-control" placeholder="apo05titulo11">
            <div class="validacion"
                 *ngIf="apo05tituloForm.get('apo05titulo11')?.hasError('required') && apo05tituloForm.get('apo05titulo11')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo05titulo12" class="form-control" placeholder="apo05titulo12">
            <div class="validacion"
                 *ngIf="apo05tituloForm.get('apo05titulo12')?.hasError('required') && apo05tituloForm.get('apo05titulo12')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo05titulo13" class="form-control" placeholder="apo05titulo13">
            <div class="validacion"
                 *ngIf="apo05tituloForm.get('apo05titulo13')?.hasError('required') && apo05tituloForm.get('apo05titulo13')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo05titulo14" class="form-control" placeholder="apo05titulo14">
            <div class="validacion"
                 *ngIf="apo05tituloForm.get('apo05titulo14')?.hasError('required') && apo05tituloForm.get('apo05titulo14')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo05titulo15" class="form-control" placeholder="apo05titulo15">
            <div class="validacion"
                 *ngIf="apo05tituloForm.get('apo05titulo15')?.hasError('required') && apo05tituloForm.get('apo05titulo15')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo05titulo16" class="form-control" placeholder="apo05titulo16">
            <div class="validacion"
                 *ngIf="apo05tituloForm.get('apo05titulo16')?.hasError('required') && apo05tituloForm.get('apo05titulo16')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo05titulo17" class="form-control" placeholder="apo05titulo17">
            <div class="validacion"
                 *ngIf="apo05tituloForm.get('apo05titulo17')?.hasError('required') && apo05tituloForm.get('apo05titulo17')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo05titulo18" class="form-control" placeholder="apo05titulo18">
            <div class="validacion"
                 *ngIf="apo05tituloForm.get('apo05titulo18')?.hasError('required') && apo05tituloForm.get('apo05titulo18')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo05titulo19" class="form-control" placeholder="apo05titulo19">
            <div class="validacion"
                 *ngIf="apo05tituloForm.get('apo05titulo19')?.hasError('required') && apo05tituloForm.get('apo05titulo19')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo05titulo20" class="form-control" placeholder="apo05titulo20">
            <div class="validacion"
                 *ngIf="apo05tituloForm.get('apo05titulo20')?.hasError('required') && apo05tituloForm.get('apo05titulo20')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo05titulo21" class="form-control" placeholder="apo05titulo21">
            <div class="validacion"
                 *ngIf="apo05tituloForm.get('apo05titulo21')?.hasError('required') && apo05tituloForm.get('apo05titulo21')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo05titulo22" class="form-control" placeholder="apo05titulo22">
            <div class="validacion"
                 *ngIf="apo05tituloForm.get('apo05titulo22')?.hasError('required') && apo05tituloForm.get('apo05titulo22')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo05titulo23" class="form-control" placeholder="apo05titulo23">
            <div class="validacion"
                 *ngIf="apo05tituloForm.get('apo05titulo23')?.hasError('required') && apo05tituloForm.get('apo05titulo23')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo05titulo24" class="form-control" placeholder="apo05titulo24">
            <div class="validacion"
                 *ngIf="apo05tituloForm.get('apo05titulo24')?.hasError('required') && apo05tituloForm.get('apo05titulo24')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo05titulo25" class="form-control" placeholder="apo05titulo25">
            <div class="validacion"
                 *ngIf="apo05tituloForm.get('apo05titulo25')?.hasError('required') && apo05tituloForm.get('apo05titulo25')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo05titulo26" class="form-control" placeholder="apo05titulo26">
            <div class="validacion"
                 *ngIf="apo05tituloForm.get('apo05titulo25')?.hasError('required') && apo05tituloForm.get('apo05titulo26')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div><br>  
          <button routerLink="/Apo05raci" type="button" class="btn btn-secondary">Volver</button>  &nbsp;
          <button  type="button" class="btn btn-success" type="submit" [disabled]="apo05tituloForm.invalid">Aceptar</button><hr>
      </div><br>
    </form>
</div>



