<div>
    <span class="titulo" class="d-grid gap-2 col-4  mx-auto ">{{titulo}}</span>
    <form [formGroup]="racicabe06Form" (ngSubmit)="agregarRacicabe06()" class="container bg-light bc row row-cols-1 row-cols-lg-4 g-1 g-lg-2" style="height: 10px;" style="width: 60%;" style="margin: 35px   190px;">
        <div class="form-group">
            <input type="text" formControlName="gestion1" class="form-control" placeholder="gestion1">
            <div class="validacion"
               *ngIf="racicabe06Form.get('gestion1')?.hasError('required') && racicabe06Form.get('gestion1')?.touched">
               <span>Este campo<b> es obligatorio</b></span>
            </div>  
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p><br>
        <div class="form-group">
            <input type="text" formControlName="gestion2" class="form-control" placeholder="gestion2">
            <div class="validacion"
                *ngIf="racicabe06Form.get('gestion2')?.hasError('required') && racicabe06Form.get('gestion2')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>  
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p><br>
        <div class="form-group">
            <input type="text" formControlName="gestion3" class="form-control" placeholder="gestion3">
            <div class="validacion"
                *ngIf="racicabe06Form.get('gestion3')?.hasError('required') && racicabe06Form.get('gestion3')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>  
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="gestion4" class="form-control" placeholder="gestion4">
            <div class="validacion"
                 *ngIf="racicabe06Form.get('gestion4')?.hasError('required') && racicabe06Form.get('gestion4')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="gestion5" class="form-control" placeholder="gestion5">
            <div class="validacion"
                 *ngIf="racicabe06Form.get('gestion5')?.hasError('required') && racicabe06Form.get('gestion5')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="gestion6" class="form-control" placeholder="gestion6">
            <div class="validacion"
                 *ngIf="racicabe06Form.get('gestion6')?.hasError('required') && racicabe06Form.get('gestion6')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="gestion7" class="form-control" placeholder="gestion7">
            <div class="validacion"
                 *ngIf="racicabe06Form.get('gestion7')?.hasError('required') && racicabe06Form.get('gestion7')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="gestion8" class="form-control" placeholder="gestion8">
            <div class="validacion"
                 *ngIf="racicabe06Form.get('gestion8')?.hasError('required') && racicabe06Form.get('gestion8')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="gestion9" class="form-control" placeholder="gestion9">
            <div class="validacion"
                 *ngIf="racicabe06Form.get('gestion9')?.hasError('required') && racicabe06Form.get('gestion9')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="gestion10" class="form-control" placeholder="gestion10">
            <div class="validacion"
                 *ngIf="racicabe06Form.get('gestion10')?.hasError('required') && racicabe06Form.get('gestion10')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="gestion11" class="form-control" placeholder="gestion11">
            <div class="validacion"
                 *ngIf="racicabe06Form.get('gestion11')?.hasError('required') && racicabe06Form.get('gestion11')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="gestion12" class="form-control" placeholder="gestion12">
            <div class="validacion"
                 *ngIf="racicabe06Form.get('gestion12')?.hasError('required') && racicabe06Form.get('gestion12')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="gestion13" class="form-control" placeholder="gestion13">
            <div class="validacion"
                 *ngIf="racicabe06Form.get('gestion13')?.hasError('required') && racicabe06Form.get('gestion13')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="gestion14" class="form-control" placeholder="gestion14">
            <div class="validacion"
                 *ngIf="racicabe06Form.get('gestion14')?.hasError('required') && racicabe06Form.get('gestion14')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="gestion15" class="form-control" placeholder="gestion15">
            <div class="validacion"
                 *ngIf="racicabe06Form.get('gestion15')?.hasError('required') && racicabe06Form.get('gestion15')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="gestion16" class="form-control" placeholder="gestion16">
            <div class="validacion"
                 *ngIf="racicabe06Form.get('gestion16')?.hasError('required') && racicabe06Form.get('gestion16')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="gestion17" class="form-control" placeholder="gestion17">
            <div class="validacion"
                 *ngIf="racicabe06Form.get('gestion17')?.hasError('required') && racicabe06Form.get('gestion17')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="gestion18" class="form-control" placeholder="gestion18">
            <div class="validacion"
                 *ngIf="racicabe06Form.get('gestion18')?.hasError('required') && racicabe06Form.get('gestion18')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="gestion19" class="form-control" placeholder="gestion19">
            <div class="validacion"
                 *ngIf="racicabe06Form.get('gestion19')?.hasError('required') && racicabe06Form.get('gestion19')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="gestion20" class="form-control" placeholder="gestion20">
            <div class="validacion"
                 *ngIf="racicabe06Form.get('gestion20')?.hasError('required') && racicabe06Form.get('gestion20')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="gestion21" class="form-control" placeholder="gestion21">
            <div class="validacion"
                 *ngIf="racicabe06Form.get('gestion21')?.hasError('required') && racicabe06Form.get('gestion21')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="gestion22" class="form-control" placeholder="gestion22">
            <div class="validacion"
                 *ngIf="racicabe06Form.get('gestion22')?.hasError('required') && racicabe06Form.get('gestion22')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="gestion23" class="form-control" placeholder="gestion23">
            <div class="validacion"
                 *ngIf="racicabe06Form.get('gestion23')?.hasError('required') && racicabe06Form.get('gestion23')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="gestion24" class="form-control" placeholder="gestion24">
            <div class="validacion"
                 *ngIf="racicabe06Form.get('gestion24')?.hasError('required') && racicabe06Form.get('gestion24')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="gestion25" class="form-control" placeholder="gestion25">
            <div class="validacion"
                 *ngIf="racicabe06Form.get('gestion25')?.hasError('required') && racicabe06Form.get('gestion25')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="gestion26" class="form-control" placeholder="gestion26">
            <div class="validacion"
                 *ngIf="racicabe06Form.get('gestion26')?.hasError('required') && racicabe06Form.get('gestion26')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>  
          </div> 
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>

        <div>
          <button routerLink="/listraci06"  class="btn btn-secondary">Volver</button>  &nbsp;
          <button type="submit" class="btn btn-warning"  [disabled]="racicabe06Form.invalid">Aceptar</button><hr>
      </div><br>
    </form>
</div>


