<div>
    <span class="d-grid gap-2 col-4  mx-auto ">{{title}}</span>
    <form [formGroup]="apo011tituloForm" class="container bg-light bc row row-cols-1 row-cols-lg-4 g-1 g-lg-2" style="height: 10px;" style="width: 60%;" style="margin: 30px   190px;" (ngSubmit)="agregarApo011titulo()">
        <div class="form-group">
            <input type="text" formControlName="apo011titulo1" class="form-control" placeholder="apo011titulo1">
            <div class="validacion"
               *ngIf="apo011tituloForm.get('apo011titulo1')?.hasError('required') && apo011tituloForm.get('apo011titulo1')?.touched">
               <span>Este campo<b> es obligatorio</b></span>
            </div>  
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo011titulo2" class="form-control" placeholder="apo011titulo2">
            <div class="validacion"
                *ngIf="apo011tituloForm.get('apo011titulo2')?.hasError('required') && apo011tituloForm.get('apo011titulo2')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>  
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo011titulo3" class="form-control" placeholder="apo011titulo3">
            <div class="validacion"
                *ngIf="apo011tituloForm.get('apo011titulo3')?.hasError('required') && apo011tituloForm.get('apo011titulo3')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>  
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo011titulo4" class="form-control" placeholder="apo011titulo4">
            <div class="validacion"
                 *ngIf="apo011tituloForm.get('apo011titulo4')?.hasError('required') && apo011tituloForm.get('apo011titulo4')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo011titulo5" class="form-control" placeholder="apo011titulo5">
            <div class="validacion"
                 *ngIf="apo011tituloForm.get('apo011titulo5')?.hasError('required') && apo011tituloForm.get('apo011titulo5')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo011titulo6" class="form-control" placeholder="apo011titulo6">
            <div class="validacion"
                 *ngIf="apo011tituloForm.get('apo011titulo6')?.hasError('required') && apo011tituloForm.get('apo011titulo6')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo011titulo7" class="form-control" placeholder="apo011titulo7">
            <div class="validacion"
                 *ngIf="apo011tituloForm.get('apo011titulo7')?.hasError('required') && apo011tituloForm.get('apo011titulo7')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo011titulo8" class="form-control" placeholder="apo011titulo8">
            <div class="validacion"
                 *ngIf="apo011tituloForm.get('apo011titulo8')?.hasError('required') && apo011tituloForm.get('apo011titulo8')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo011titulo9" class="form-control" placeholder="apo011titulo9">
            <div class="validacion"
                 *ngIf="apo011tituloForm.get('apo011titulo9')?.hasError('required') && apo011tituloForm.get('apo011titulo9')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo011titulo10" class="form-control" placeholder="apo011titulo10">
            <div class="validacion"
                 *ngIf="apo011tituloForm.get('apo011titulo10')?.hasError('required') && apo011tituloForm.get('apo011titulo10')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo011titulo11" class="form-control" placeholder="apo011titulo11">
            <div class="validacion"
                 *ngIf="apo011tituloForm.get('apo011titulo11')?.hasError('required') && apo011tituloForm.get('apo011titulo11')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo011titulo12" class="form-control" placeholder="apo011titulo12">
            <div class="validacion"
                 *ngIf="apo011tituloForm.get('apo011titulo12')?.hasError('required') && apo011tituloForm.get('apo011titulo12')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo011titulo13" class="form-control" placeholder="apo011titulo13">
            <div class="validacion"
                 *ngIf="apo011tituloForm.get('apo011titulo13')?.hasError('required') && apo011tituloForm.get('apo011titulo13')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo011titulo14" class="form-control" placeholder="apo011titulo14">
            <div class="validacion"
                 *ngIf="apo011tituloForm.get('apo011titulo14')?.hasError('required') && apo011tituloForm.get('apo011titulo14')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo011titulo15" class="form-control" placeholder="apo011titulo15">
            <div class="validacion"
                 *ngIf="apo011tituloForm.get('apo011titulo15')?.hasError('required') && apo011tituloForm.get('apo011titulo15')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo011titulo16" class="form-control" placeholder="apo011titulo16">
            <div class="validacion"
                 *ngIf="apo011tituloForm.get('apo011titulo16')?.hasError('required') && apo011tituloForm.get('apo011titulo16')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo011titulo17" class="form-control" placeholder="apo011titulo17">
            <div class="validacion"
                 *ngIf="apo011tituloForm.get('apo011titulo17')?.hasError('required') && apo011tituloForm.get('apo011titulo17')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo011titulo18" class="form-control" placeholder="apo011titulo18">
            <div class="validacion"
                 *ngIf="apo011tituloForm.get('apo011titulo18')?.hasError('required') && apo011tituloForm.get('apo011titulo18')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo011titulo19" class="form-control" placeholder="apo011titulo19">
            <div class="validacion"
                 *ngIf="apo011tituloForm.get('apo011titulo19')?.hasError('required') && apo011tituloForm.get('apo011titulo19')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo011titulo20" class="form-control" placeholder="apo011titulo20">
            <div class="validacion"
                 *ngIf="apo011tituloForm.get('apo011titulo20')?.hasError('required') && apo011tituloForm.get('apo011titulo20')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo011titulo21" class="form-control" placeholder="apo011titulo21">
            <div class="validacion"
                 *ngIf="apo011tituloForm.get('apo011titulo21')?.hasError('required') && apo011tituloForm.get('apo011titulo21')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo011titulo22" class="form-control" placeholder="apo011titulo22">
            <div class="validacion"
                 *ngIf="apo011tituloForm.get('apo011titulo22')?.hasError('required') && apo011tituloForm.get('apo011titulo22')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo011titulo23" class="form-control" placeholder="apo011titulo23">
            <div class="validacion"
                 *ngIf="apo011tituloForm.get('apo011titulo23')?.hasError('required') && apo011tituloForm.get('apo011titulo23')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo011titulo24" class="form-control" placeholder="apo011titulo24">
            <div class="validacion"
                 *ngIf="apo011tituloForm.get('apo011titulo24')?.hasError('required') && apo011tituloForm.get('apo011titulo24')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo011titulo25" class="form-control" placeholder="apo011titulo25">
            <div class="validacion"
                 *ngIf="apo011tituloForm.get('apo011titulo25')?.hasError('required') && apo011tituloForm.get('apo011titulo25')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div>   
        </div>
        <p id="formulario">Comite Estrategico (Desarrollo/Proyecto)</p>
        <div class="form-group">
            <input type="text" formControlName="apo011titulo26" class="form-control" placeholder="apo011titulo26">
            <div class="validacion"
                 *ngIf="apo011tituloForm.get('apo011titulo211')?.hasError('required') && apo011tituloForm.get('apo011titulo26')?.touched">
                <span>Este campo<b> es obligatorio</b></span>
             </div><br>  
          <button routerLink="/Apo011raci" type="button" class="btn btn-secondary">Volver</button>  &nbsp;
          <button  type="button" class="btn btn-success" type="submit" [disabled]="apo011tituloForm.invalid">Aceptar</button><hr>
      </div><br>
    </form>
</div>




