<div class="container">
    <table class="table ">

        <thead class="theader">

            <tr>
                <th class="titulos" scope="col">DSS03 Gestionar Problemas</th>
                <th class="titulos2" scope="col">Área: Gestión <br>
                    Domínio: Entrega, Servicio y Soporte</th>
            </tr>

        </thead>

        <tbody>

            <tr>

                <th class="fondo" scope="row" colspan="2.5">Descripción del proceso
                    <p class="texto">Identificar y clasificar problemas y sus causas raíz
                        y proporcionar resolución en tiempo para prevenir incidentes
                        recurrentes. Proporcionar recomendaciones de mejora.</p>
                </th>

            </tr>

            <tr>

                <th scope="row" class="fondo" colspan="2.5">Declaración del propósito del proceso
                    <p class="texto">
                        Incrementar la disponibilidad, mejorar los niveles de servicio, reducir
                        costes, y mejorar la comodidad y satisfacción del cliente reduciendo
                        el número de problemas operativos.
                    </p>
                </th>

            </tr>

            <tr>

                <th scope="row" class="fondo2" colspan="2.5">El proceso apoya la consecución de un conjunto de
                    principales
                    metas TI:
                </th>

            </tr>


        </tbody>
    
    
            <th class="fondo2" style="width: 550px;">Meta TI</th>
            <th class="fondo2">Métricas Relacionadas</th>
       
        <tbody>
            <tr>
                <th class="texto">
                    04 Riesgos de negocio relacionados con las TI gestionados
                </th>
                <th class="texto">
                    <ul>
                        <li>Porcentaje de procesos de negocio críticos, servicios TI y programas de negocio
                            habilitados por las TI
                            cubiertos por evaluaciones de riesgos</li>
                        <li>Número de incidentes significativos relacionados con las Ti que no fueron identificados
                            en la
                            evaluación de riesgos</li>
                        <li>Porcentaje de evaluaciones de riesgo de la empresa que incluyen los riesgos relacionados
                            con TI</li>
                        <li>Frecuencia de actualización del perfil de riesgo</li>
                    </ul>

                </th>
            </tr>

            <tr>
                <th class="texto">
                    07 Entrega de servicios de TI de acuerdo a los requisitos del negocio
                </th>
                <th class="texto">
                    <ul>
                        <li>Número de interrupciones del negocio debidas a incidentes en el servicio</li>
                        <li>Porcentaje de partes interesadas satisfechas con el cumplimiento del servicio de TI
                            entregado respecto
                            a los niveles de servicio acordados</li>
                        <li>Porcentaje de usuarios satisfechos con la calidad de los servicios de TI entregados</li>
                    </ul>
                </th>
            </tr>
            <tr>
                <th class="texto">
                    11 Optimización de activos recursos y capacidades de TI
                </th>
                <th class="texto">
                    <ul>
                        <li>Frecuencia de evaluaciones de la madurez de la capacidad y de la optimización de costes
                        </li>
                        <li>Tendencia de los resultados de las evaluaciones</li>
                        <li>Niveles de satisfacción de los ejecutivos de negocio y TI con los coste y capacitaciones
                            TI </li>
                    </ul>
                </th>
            </tr>

            <tr>
                <th class="texto">
                    14 Disponobilidad de información útil y relevante para la toma de
                    decisiones
                </th>
                <th class="texto">
                    <ul>
                        <li>Nivel de satisfacción de los usuarios del negocio y puntualidad
                            (o disponibilidad) de la información de gestión
                        </li>
                        <li>Número de incidentes en los procesos de negocio causados
                            por la indisponibilidad de la información
                        </li>
                        <li>Relación o cantidad de decisiones de negocio erróneas en las
                            que la falta de información o la información errónea ha sido
                            la principal causa
                        </li>
                    </ul>
                </th>
            </tr>
            <tr class="fondo2">
                <th colspan="2">Objetivos y métricas del proceso</th>
            </tr>

            <tr class="fondo">
                <th>Meta del Proceso</th>
                <th>Métricas relacionales</th>
            </tr>

            <tr>
                <th class="texto">1. Garantizar que los problemas relativos a TI son
                    resueltos de forma que no vuelven a suceder.
                </th>
                <th class="texto">
                    <ul>
                        <li>Descenso del número de incidentes recurrentes causados por
                            problemas no resueltos
                        </li>
                        <li>Porcentaje de incidentes graves para los que se han registrado</li>
                        <li>Porcentaje de soluciones temporales definidos para problemas abiertos</li>
                        <li>Porcentaje de problemas registrados como parte de una gestión
                            de problemas proactiva
                        </li>
                        <li>Número de problemas para los que se ha encontrado una solución
                            satisfactoria que apunta a causas raíz
                        </li>
                    </ul>
                </th>
            </tr>
        </tbody>
    </table>
</div>

<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">HOME</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso3tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/listraci03">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso3tabla2">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso3tabla3">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso3tabla4">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso3tabla5">6</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso3tabla6">7</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso3tabla7">8</a></li>
      <li class="page-item"><a class="page-link" href="/listraci03">Next</a></li>
      
    </ul>
  </nav><br>

