<div class="container">
    <table class="table">
        <thead class="theader">
            <tr>
                <td class="titulos" scope="col" colspan="5">DSS05 Prácticas, Entradas/Salidas y Actividades del Proceso (cont.)</td>
            </tr>
        </thead>
<tr>
    <td style="text-align:center" class="fondo2">Práctica de Gestión</td>
    <td  style="text-align:center" class="fondo2" colspan="2">Entradas</td>
    <td style="text-align:center" class="fondo2" colspan="3">Salidas</td>
</tr>
<th scope="row" rowspan="4">DSS05.06 Gestionar documentos sensibles y dispositivos
    de salida.
    <p class="texto">Establecer salvaguardas físicas apropiadas, prácticas de
        contabilidad y gestión del inventario para activos de TI sensibles, tales como
        formularios especiales, títulos negociables, impresoras de propósito especial o
        credenciales (token) de seguridad. 
    </p>
</th>
<tr>
    <td style="text-align: center;">De</td>
    <td style="text-align: center;">Descripción</td>
    <td style="text-align: center;">Descripción</td>
    <td style="text-align: center;">A</td>
</tr>
<tr>
    <td rowspan="2"><a href="pagina65">APO03.02</a></td>
    <td rowspan="2">Modelo de arquitectura de la información</td>
    <td>Inventario de documentos y dispositivos sensibles</td>
    <td>Interno</td>
</tr>
<tr>
    <td>Privilegios de acceso</td>
    <td>Interno</td>
</tr>
<tr>
    <td colspan="5" style="text-align:center" class="fondo">Actividades</td>
</tr>
<tr>
    <td colspan="5">1. Establecer procedimientos para gobernar la recepción, uso, 
        eliminación y destrucción de formularios especiales y dispositivos de 
        salida, dentro, en y fuera de la empresa.</td>
</tr>
<tr>
    <td colspan="5">2. Asignar privilegios de acceso a documentos sensibles y 
        dispositivos de salida basados en el principio del menor privilegio, 
        equilibrando riesgo y requerimientos de negocio.</td>
</tr>
<tr>
    <td colspan="5">3. Establecer un inventario de documentos sensibles y 
        dispositivos de salida, y realizar regularmente conciliaciones.</td>
</tr> 
<tr>
    <td colspan="5">4. Establecer salvaguardas físicas apropiadas sobre 
        formularios especiales y dispositivos sensibles.</td>
</tr>
<tr>
    <td colspan="5">5. Destruir la información sensible y proteger dispositivos 
        de salida (por ejemplo, desmagnetizando soportes magnéticos, destruir 
        fisicamente dispositivos de memoria, poniendo trituradoras o papeleras 
        cerradas disponibles para destruir formularios especiales y otros 
        documentos confidenciales).</td>
</tr>
</table>
</div>
<nav aria-label="Page navigation example " class="container" style="width: 87%;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/home">HOME</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla1">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/listraci05">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla2">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla3">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla4">5</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla5">6</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla6">7</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla7">8</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla8">9</a></li>
      <li class="page-item"><a class="page-link" routerLink="/dsso5tabla9">10</a></li>
      <li class="page-item"><a class="page-link" href="/dsso5tabla8">Next</a></li>
      
    </ul>
  </nav><br>
